.kt-tracking-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1px;
    position: relative;
    //   align-items: stretch;
    height: 100%;
    .kt-left {
      position: absolute;
      display: flex;
      flex-direction: row;
      background: #fff;
      box-shadow: 0px 2px 5px 0px #cad4d9;
      border-top: 1px solid #cad4d9;
      flex: 1;
      margin-bottom: 10px;
      top: 2px;
      z-index: 90;
      left: 2px;
      width: 300px;
      max-width: 80%;
      max-height: 90%;
      // min-height: 200px;
      opacity: 0.8;
      .mp-action{
          top: 1px;
          right: 0px;
          background: #fff;
      }
      .unit-tooltip-text{
        display: flex;
        align-items: center;
        min-height: 24px;

      }
      
    }
    .btn-close{
      position: absolute;
      top: 3px;
      right: 3px;
      z-index: 10;
    }
    .collapse {
      width: 40px;
      overflow: hidden;
      .mp-inline-block:nth-child(2) {
        display: none !important;
      }
      .mp-inline-block {
        &.mp-inline-block-icon{
          min-width: 0px;
        }
      }
    }
    .kt-map {
      display: flex;
      flex-grow: 1;
      border-top: 2px solid #5575e9;
      border-left: 2px solid #5575e9;
      position: relative;
      flex-direction: column;
      box-shadow: 0px 0px 5px 0px #5575e9;
      width: 100%;
      height: 100%;
    }
  }
  .map {
    height: 100%;
    padding: 0;
    width: 100%;
  }
  .leaflet-pane {
    z-index: 10 !important;
  }
  .map-control {
    position: absolute;
    top: 200px;
    z-index: 90;
    right: 10px;
    .control-item {
      cursor: pointer;
      padding: 8px;
      background: #fff;
      border: 2px solid rgba(0, 0, 0, 0.2);
      color: #000;
      border-radius: 3px;
      background-clip: padding-box;
    }
  }
  .list-device {
    position: absolute;
    z-index: 90;
    top: 0px;
    width: calc(100% - 78px);
    margin: 11px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  .alert-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    .name {
      color: gray;
      min-width: 40px;
    }
    .value {
      color: #000;
    }
  }
  .form-group {
    display: none;
  }
  // kt-map-control .map-control{
  //   right: 20px;
  // }
  .kt-map-control {
    position: absolute;
    top: 3px;
    right: 7px;
  }
  .kt-portlet__body {
    padding: 5px 10px;
  }
  .marker-tooltip {
    width: 100% !important;
    height: 100% !important;
  }
  