.map {
	height: 100%;
	padding: 0;
	width: 100%;
}
.leaflet-pane {
	z-index: 10 !important;
}
.kt-map {
	display: flex;
	flex-grow: 1;
	border-top: 1px solid #dcdee0;
	border-left: 1px solid #dcdee0;
	background-color: white;
	position: relative;
	.list-geofence {
		position: absolute;
		top: 0px;
		z-index: 400;
		width: calc(100% - 70px);
		border: 2px solid rgba(138, 138, 138, 0.2);
		margin: 10px;
	}
	.kt-charts {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: auto;
		z-index: 1000;
		background: #fff;
		// padding:10px;
	}
	.kt-device-info {
		display: flex;
		background: #fff;
		position: absolute;
		z-index: 1000;
		bottom: 0px;
		right: 0px;
	}
}
@media (max-width: 1024px) {
	.kt-main {
		.kt-left {
			z-index: 98 !important;
		}
	}
}
.no-data {
	margin: auto;
}

.geofences::-webkit-scrollbar {
	width: 4px;
	opacity: 0.1;
}

.geofences::-webkit-scrollbar-track {
	opacity: 0;
}

.geofences::-webkit-scrollbar-track-piece {
	opacity: 0;
}

/* Handle */
.geofences::-webkit-scrollbar-thumb {
	background: rgba(77, 76, 76, 0.445);
	border-radius: 10px;
}

.geofences:hover {
	overflow-y: overlay;
}
.geofences {
	width: 400px;
	max-height: calc(100vh - 66px);
	background: #fff;
	box-shadow: 0px 0px 0px 2px rgba(82, 63, 105, 0.1);
		overflow: hidden;

	h4 {
		margin: 15px;
		font-weight: bold;
		position: relative;
		span{
			position: absolute;
			right: 5px;
			transition: all 0.5s
		}
	}

	ul {
		list-style: none;
		padding:0;
		margin: 10px;
		li {
			padding: 5px 15px;
			font-size: 12.5px;
			cursor: pointer;
			transition: all 0.2s;
			span {
				font-weight: bold;
			}
			.car-list {
				padding-left: 15px;
			}
		}

		li.tracking-item {
			animation: showFromRight 0.5s;
			border-radius: 10px;
			box-shadow: 0 5px 12px rgba(154, 160, 185, 0.05),
				0 6px 27px rgba(166, 173, 201, 0.2);
			margin-bottom: 5px;
			overflow: hidden;
			transition: all 0.8s;

			span {
				transition: all 0.8s;
			}
		}
		li.tracking-item:hover {
			span {
				transform: translateX(20px);
			}
		}
	}
}

@keyframes showFromRight {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

.icon-container {
	padding: 10px;
	margin-right: 5px;
	text-align: center;
	font-size: 20px;
	border-radius: 7px;
	box-shadow: 0 5px 12px rgba(154, 160, 185, 0.05),
		0 6px 27px rgba(166, 173, 201, 0.2);
}

.list-item {
	position: relative;
	padding-right: 22px;
	.tracking-status {
		position: absolute;
		right: 5px;
		color: #5d78ff;
	}
}

.tracking-item {
	position: relative;
	.btn-close {
		position: absolute;
		right: 5px;
		top: 18px;
	}
}

.create-tool {
	text-align: center;
	margin-top: 50px;
	.img {
		font-size: 100px;
	}
	.create-btn {
		cursor: pointer;
	}
}

.mat-expansion-panel-body {
    padding: 0 10px 16px !important;
}
