<div class="kt-main" style="display: flex; flex-direction: row; align-items: stretch;height: 100%;">
	<div class="kt-left" style="display: flex;
    /* max-width: 800px; */
    flex-direction: row;   
    z-index:2">
		<div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile" style="max-width: 300px;height: 100%;">
			<kt-user-tree-new [userTreeName]="'userTreeForMap'" [eventUpdate]="parrentEmiter" [cacheSearch]="true" [storeLocal]="true" [btnClose]="true" [showCountDevice]="false" [allowCollapse]="true" (changeUser)="changeUser($event)">
			</kt-user-tree-new>
		</div>

		<kt-list-device-base [ngClass]="{'kt-hide':isTracking}" [eventEmiter]="listDeviceEventEmiter" [mapService]="getMapService()" (dataChange)="ktListDeviceEventChange($event)"></kt-list-device-base>

		<div class="geofences">
			<ng-container *ngIf="type=='geofence'?geofences?.length !== 0:landmarks?.length !== 0 else create">
				<mat-expansion-panel class="mb-3 mt-2" [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<h4>{{'MAP.TRACKING.GENERAL.TRACKING'| translate}}</h4>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div class="list-tracking">
						<ul class="tracking-container">
							<li *ngFor="let item of viewMapItems" class="tracking-item">
								<span *ngIf="item.type=='landmark'" class=" d-flex align-items-center" style="margin: 6px 0">
									<div class="icon-container"><i class="text-center" [class]="landmarkIconClass[item.data.poiTypeName]" [style.color]="item.data.fillColor"></i></div>
									<span class="custom-css-text" style="margin-left: 5px" [ngbTooltip]="item.data.name">{{item.data.name}}</span>
								</span>
								<span *ngIf="item.type=='geofence'">
									<span class="d-flex align-items-center" style="margin: 6px 0">
										<div class="icon-container"><svg *ngIf="item.data.type=='polygon'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24" />
													<path d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z" [attr.fill]="item.data?.fillColor" />
												</g>
											</svg>
											<svg *ngIf="item.data.type=='circle'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24" />
													<circle [attr.fill]="item.data.fillColor" cx="12" cy="12" r="8" />
												</g>
											</svg></div>
										<span>{{item.data.name}}</span>
									</span>
								</span>
								<div class="btn-close">
									<button class="btn btn-icon btn-sm kt-font-color btn-circle" (click)="close(item.data.id)" ngbTooltip="{{'COMMON.GENERAL.CLOSE' | translate}}" container="body" placement="left"><i class="icon-times"></i></button>
								</div>
							</li>
						</ul>
					</div>
				</mat-expansion-panel>

				<div class="all-items">
					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<h4>{{'MAP.TRACKING.GENERAL.LIST_TRACKING'| translate}}</h4>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="kt-input-icon kt-input-icon-ct kt-input-icon--left">
							<input [(ngModel)]="searchText" type="text" class="form-control" autocomplete="off" placeholder="{{'MAP.FEATURES.SEARCH' | translate}}" />
							<span class="kt-input-icon__icon kt-input-icon__icon--left">
									<span><i class="icon-search"></i></span>
								</span>
						</div>
						<ul class="all-items-list">
							<li *ngFor="let geofence of geofences| filter: (searchText | ascii) : 'textSearch' " (click)="chooseGeofence(geofence,'geofence')" class="item">
								<span class="d-flex align-items-center list-item"><svg *ngIf="geofence.type=='polygon'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<path d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z" [attr.fill]="geofence.fillColor" />
										</g>
									</svg>
									<svg *ngIf="geofence.type=='circle'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<circle [attr.fill]="geofence.fillColor" cx="12" cy="12" r="8" />
										</g>
									</svg>
									<span>{{geofence.name}}</span><span class="tracking-status"><i [class]="geofence.isTracking?'icon-star1':'icon-star'"></i></span></span>
								<hr>
							</li>
							<li *ngFor="let landmark of landmarks" (click)="chooseGeofence(landmark,'landmark')" class="item">
								<span class="d-flex align-items-center list-item" style="padding-left: 6px;">
									<i [class]="landmarkIconClass[landmark.poiTypeName]" [style.color]="landmark.fillColor" style="margin-right: 3px;"></i>
									<span style="padding-left: 2px;" class="custom-css-text" [ngbTooltip]="landmark.name">{{landmark.name}}<span class="tracking-status"><i [class]="landmark.isTracking?'icon-star1':'icon-star'"></i></span></span>
								</span>
								<hr>
							</li>
						</ul>
					</mat-expansion-panel>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="kt-map" [ngClass]="{'kt-map-fit':ktMapFit}" style="display: flex;flex-grow: 1;border-top: 1px solid #dcdee0;border-left: 1px solid #dcdee0;
        flex-direction: column;" resizeObserver (resize)="onResize()">
		<div class="map kt-hide" id="map" #map leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options">
		</div>
		<div class="map map-multiple" id="mapTrackingMulti" resizeObserver (resize)="onResizeMapMulti($event['contentRect'])" style="display: flex; flex-direction: row; flex-wrap: wrap;">
			<ng-template #mapItemsRef>

			</ng-template>
			<div class="no-data" *ngIf="viewMapItems.length  === 0 ">
				<kt-not-found [size]="'md'" class="kt-mt-40" [icon]="'flaticon2-map'" [message]="'COMMON.MESSAGE.SELECT_FENCE_TO_DISPLAY' | translate"></kt-not-found>
			</div>

			<!-- <kt-tracking-item *ngIf="listDevice.length>0" [item]="listDevice[0]" ></kt-tracking-item> -->
			<!-- <ng-container *ngFor="let item of listDevice">
                <div class="map-item" style="flex: 1 1" [ngStyle]="{'flex-basis':withMapItem + 'px'}">
                    <kt-tracking-item [item]="item" ></kt-tracking-item>
                </div>
            </ng-container> -->

		</div>
		<div class="list-geofence" [ngClass]="{'kt-hide':!mapConfig.features.geofence.value}">
			<kt-widget-check-list [dataChangeEmiter]="geofenceDataChangeEmiter" [options]="optionWideCheckList" [data]="listGeofence" [filter]="'name'" [currentUser]="currentUserSelect" placeholder="{{'MANAGE.GEOFENCE.GENERAL.SEARCH_GEOFENCE' | translate}} ..." [isSwitch]="false" [size]="'col-lg-4'" (checkedChange)="onWidgetCheckChange($event)">
			</kt-widget-check-list>
		</div>

	</div>
	<kt-map-control [mapService]="getMapService()" [fixed]='true'></kt-map-control>

</div>
<!-- Modal -->
<ng-template #contentTrackingItem let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{'MAP.GENERAL.FOLLOW' | translate}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container [ngTemplateOutlet]="trackingItem">
		</ng-container>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<!-- edit form -->
<ng-template #trackingItem>
	<kt-tracking-item-popup [imei]="dataTrackingItem.imei" [userId]="currentUserSelect.id"></kt-tracking-item-popup>
</ng-template>
<ng-template #create>
	<div class="create-tool">
		<p class="img"><i class="icon-atom"></i></p>
		<p>{{'MAP.TRACKING.GENERAL.NO_ITEM'| translate}}</p>
		<h3 class="create-btn d-flex justify-content-center" (click)="createNew(content)"><span class="d-flex align-items-center" style="margin-right: 3px;color: #50b0ff;"><i class="icon-plus"></i></span>{{'MAP.TRACKING.GENERAL.CREATE_ITEM'| translate}}</h3>
	</div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 *ngIf="type=='geofence'" class="modal-title">{{'COMMON.ACTIONS.ADD'|translate}} {{'MANAGE.GEOFENCE.GENERAL.GEOFENCE' | translate  }}</h4>
		<h4 *ngIf="type=='landmark'" class="modal-title">{{'COMMON.ACTIONS.ADD'|translate}} {{'MANAGE.POI.GENERAL.NAME' | translate  }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container *ngIf="type=='geofence'" [ngTemplateOutlet]="tmpGeoFormAdd"></ng-container>
		<ng-container *ngIf="type=='landmark'" [ngTemplateOutlet]="tmpFormAdd"></ng-container>
	</div>
	<div class="modal-footer">

		<button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<ng-template #tmpGeoFormAdd>
	<kt-geofence-creator [currentUser]="currentUserSelect" (geofenceResult)="geofenceResult()" [listGeofenceGroup]="listGeofenceGroup" [listDevices]="currentListDevices">
	</kt-geofence-creator>
</ng-template>
<ng-template #tmpFormAdd>
	<kt-create-tool [centerMap]="centerMap" [currentUser]="currentUserSelect" [listTypePoi]="listTypePoi" [listDevices]="currentListDevices" (poiResult)="poiResult($event)"></kt-create-tool>
</ng-template>
