.map {
    height: 100%;
    padding: 0;
    width: 100%;
  }
  .leaflet-pane {
    z-index: 10 !important;
  }
  .kt-map{
    display: flex;
    flex-grow: 1;
    border-top: 1px solid #dcdee0;
    border-left: 1px solid #dcdee0;
    background-color: white;
    position: relative;
    .list-geofence{
      position: absolute;
      top: 0px;
      z-index: 400;
      width: calc(100% - 70px);
      border: 2px solid rgba(138, 138, 138, 0.2);
      margin: 10px;
    }
    .kt-charts{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: auto;
      z-index: 1000;
      background: #fff;
      // padding:10px;
    }
    .kt-device-info{
      display: flex;
      background: #fff;
      position: absolute;
      z-index: 1000;
      bottom: 0px;
      right: 0px;
    }
  }
  @media (max-width:1024px){
    .kt-main{
      .kt-left{
        z-index: 98!important;
      }
    }
  }
  .no-data{
    margin: auto;
  }
  