<div class="kt-main" style="display: flex; flex-direction: row; align-items: stretch;height: 100%;">
    <div class="kt-left" style="display: flex;
    /* max-width: 800px; */
    flex-direction: row;   
    z-index:2">
        <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
            style="max-width: 300px;height: 100%;">
            <kt-user-tree-new [ngClass]="{'kt-hide':isTracking}" [userTreeName]="'userTreeForMap'"
                [eventUpdate]="parrentEmiter" [cacheSearch]="true" [storeLocal]="true" [btnClose]="true"
                [showCountDevice]="false" [allowCollapse]="true" (changeUser)="changeUser($event)">
            </kt-user-tree-new>
        </div>

        <kt-list-device-base [ngClass]="{'kt-hide':isTracking}" [eventEmiter]="listDeviceEventEmiter"
            [mapService]="getMapService()" (dataChange)="ktListDeviceEventChange($event)"></kt-list-device-base>
        <!-- <kt-tracking *ngIf="isTracking" [itemTracking]="deivceSelectedTracking" [listDevices]="currentListDevices"
            [mapService]="getMapService()" [isUserLogin]="isUserLogin" [tabAction]="trackingActionDefault"
            (eventChange)="eventTracking($event)"></kt-tracking> -->
    </div>
    <div class="kt-map" [ngClass]="{'kt-map-fit':ktMapFit}" style="display: flex;flex-grow: 1;border-top: 1px solid #dcdee0;border-left: 1px solid #dcdee0;
        flex-direction: column;" resizeObserver (resize)="onResize()">
        <div class="map kt-hide" id="map" #map leaflet (leafletMapReady)="onMapReady($event)"
            [leafletOptions]="options">
        </div>
        <div class="map map-multiple" id="mapTrackingMulti" resizeObserver (resize)="onResizeMapMulti($event.contentRect)" style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <ng-template #mapItemsRef >

            </ng-template>
            <div class="no-data" *ngIf="viewMapItems.length  === 0 ">
                <kt-not-found [size]="'md'" class="kt-mt-40" [icon]="'flaticon2-map'" [message]="'COMMON.MESSAGE.SELECT_DEVICE_TO_DISPLAY' | translate"></kt-not-found>
            </div>
            
            <!-- <kt-tracking-item *ngIf="listDevice.length>0" [item]="listDevice[0]" ></kt-tracking-item> -->
            <!-- <ng-container *ngFor="let item of listDevice">
                <div class="map-item" style="flex: 1 1" [ngStyle]="{'flex-basis':withMapItem + 'px'}">
                    <kt-tracking-item [item]="item" ></kt-tracking-item>
                </div>
            </ng-container> -->

        </div>
        <div class="list-geofence" [ngClass]="{'kt-hide':!mapConfig.features.geofence.value}">
            <kt-widget-check-list [dataChangeEmiter]="geofenceDataChangeEmiter" [options]="optionWideCheckList"
                [data]="listGeofence" [filter]="'name'" [currentUser]="currentUserSelect"
                placeholder="{{'MANAGE.GEOFENCE.GENERAL.SEARCH_GEOFENCE' | translate}} ..." [isSwitch]="false"
                [size]="'col-lg-4'" (checkedChange)="onWidgetCheckChange($event)">
            </kt-widget-check-list>
        </div>
        <!-- <div class="kt-device-info" *ngIf="!isTracking">
            <kt-device-info-box [mapService]="getMapService()"></kt-device-info-box>
        </div> -->
        <!-- <div class="kt-charts" *ngIf="chartShow" [ngClass]="{'kt-hide':chartHide}">
            <kt-chart [mapService]="getMapService()"></kt-chart>
        </div> -->
    </div>
    <kt-map-control [mapService]="getMapService()" [fixed]='true'></kt-map-control>

</div>
<!-- <button (click)="open(contentTrackingItem)" style="position:absolute;z-index:99999;top:10px;right:10px;">test </button> -->
<!-- Modal -->
<ng-template #contentTrackingItem let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'MAP.GENERAL.FOLLOW' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="trackingItem">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- edit form -->
<ng-template #trackingItem>
    <kt-tracking-item-popup [imei]="dataTrackingItem.imei" [userId]="currentUserSelect.id"></kt-tracking-item-popup>
</ng-template>