.mp-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 15px;
  cursor: pointer;
  &:hover {
    color: #5578eb;
  }
}
.flex {
  display: flex !important;
  flex-direction: row;
  // justify-content: space-between;
  .value {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }
}
.map-popup-tooltip{
    width: 295px!important;
}
.kt-popup {
  display: flex;
  flex-direction: column;
  .unit-tooltip-text {
    display: flex;
    flex-direction: row;
    .value {
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
    }
  }
  .mp-point{
    position: absolute;
    left: calc(50% - 8px)!important;
    bottom: -13px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.playback-stop {
  .index {
    padding: 0px 5px;
    background: #e74c3c;
    min-width: 25px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
  }
}
