<div *ngIf="isShow" class="custom-tile" style="width: 100%; height: 100%; position: relative;">
    <div style="position: relative; z-index: 2;">
        <div [class]="class" style="bottom: 0px;">
            <div *ngIf="!type" class="kt-popup">
                <div class="unit-tooltip-text">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-flag1"></i>
                    </div>
                    <div class="mp-inline-block value">
                        <span>{{data.name}}</span>
                    </div>
                    <div class="mp-close" (click)="closePopup(data);">
                        <i class="icon-times"></i>
                    </div>
                </div>
                <div class="unit-tooltip-text" *ngIf="data.description && data.description.length>0">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-sticky-note1"></i>
                    </div>
                    <div class="mp-inline-block value">
                        <span>{{data.description}}</span>
                    </div>
                </div>
                <div class="unit-tooltip-text">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-tag"></i>
                    </div>
                    <div class="mp-inline-block value">
                        <span>{{data.type}}</span>
                    </div>
                </div>
                <div class="mp-point">
                    <i class="icon-play"></i>
                </div>
            </div>
            <div *ngIf="type=='PLAYBACK_STOP'" class="kt-popup playback-stop">
                <div class="unit-tooltip-text">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-calendar-alt"></i>
                    </div>
                    <div class="mp-inline-block value" style="justify-content:flex-start">
                        <span class="index" style="margin-right: 5px;">{{data.index}}</span> {{data.date}}
                    </div>
                    <div class="mp-close" (click)="closePopup(data);">
                        <i class="icon-times"></i>
                    </div>
                </div>
                <div class="unit-tooltip-text flex">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-clock"></i>
                    </div>
                    <div class="mp-inline-block value">
                        <span>{{data.duration.trim()}}</span>
                        <span>{{data.startTime}} - {{data.endTime}}</span>
                    </div>
                </div>
                <div class="unit-tooltip-text">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-map-marker-alt"></i>
                    </div>
                    <div class="mp-inline-block value">
                        <span>{{data.address}}</span>
                    </div>
                </div>
                <!-- <div class="mp-point">
                    <i class="icon-play"></i>
                </div> -->
            </div>
        </div>
    </div>
</div>