<!-- <kt-select-picker-no-group *ngIf="!showGroup" [eventUpdateData]="paramsEmiter"  [filter]='keySearchFilter' [resetData]="resetData"
placeholder="{{'MANAGE.DRIVER.GENERAL.NAME' | translate}}..." 
[isSwitch]="false"
(checkedChange)="getListItem($event)">
</kt-select-picker-no-group> -->

<kt-select-picker-group  [eventUpdateData]="paramsEmiter"  [filter]='filter'
[dataLength] = "dataLength"
[resetData]="resetData"
placeholder="{{'MANAGE.DRIVER.GENERAL.NAME' | translate}}..." [isSwitch]="false"
(checkedChange)="getListItem($event)">
</kt-select-picker-group>