.box-check-list .kt-checkbox
{
    margin-bottom: 14px;
}
.box-check-list .kt-portlet__head-title_check{
    padding: 10px 26px 5px !important;
}
.box-check-list .kt-checkbox > span{
    border: 1px solid #d1d7e2 !important;
}
.kt-portlet__head-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 .form-group-device .col-form-label{
     vertical-align: middle;
  }

.show-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    padding: 10px 11px;
    color: #74788d;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.body-select-box{
    height: 400px;
    overflow: auto;
    padding-top: 0px;
}  
.item-box-list label.col-form-label{
    // padding: 0px;
}
.title-right{
    width: 100%;
}
h5.group-checkbox label.col-form-label{
    
    font-size: 18px !important;
    font-weight: bold;
}
.item-checkbox{
    padding-left: 29px;
}
.title-left label.col-form-label{
    font-size: 16px;
    font-weight: bold;
}