.select-default-language{
    img{
        width: 20px;
        margin-right: 6px;
    }
    float:right;
    span{
        font-size: 1rem;
    }
    .kt-header__topbar-icon{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;   
    }
}
.kt-header__topbar-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    // position: absolute;
    // right: 0;
}

.kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container .kt-login__logo {
    text-align: center;
    margin: 1rem auto 4rem auto;
    img{
        max-height: 100px;
    }
}

.kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container .kt-login__form .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
}

.kt-login.kt-login--v6 .kt-login__aside .kt-login__wrapper .kt-login__container .kt-login__actions {
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.kt-login__link-forgot{
    color: #74788d;
}
.kt-login__content{
    background-position: center;
}

@media(max-width:1024px){
    .kt-login__content{
        display: none!important;
    }
}