<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'COMMON.ACTIONS.ADD' | translate}}
            {{'MANAGE.DRIVER.GENERAL.DRIVER' | translate | lowercase}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateConent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
        [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
        (click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateConent>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-form kt-padding-10">
                <form class="kt-form is-invalid" [formGroup]="form" id="form">
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.NAME' | translate}}
                            <span class="kt-font-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="name">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'name'">
                        </kt-message-error>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.PHONE' | translate}}
                            <span class="kt-font-danger">*</span>
                        </label>
                        <input type="text" class="form-control" formControlName="phone">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'phone'">
                        </kt-message-error>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.LICENSE_NUMBER' | translate}}</label>
                        <input type="text" class="form-control" formControlName="licenseNumber">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'licenseNumber'">
                        </kt-message-error>
                    </div>

                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.BEGIN_DATE' | translate}}</label>
                        <input type="text" class="form-control datetimepicker-driver" id="dBeginDate" 
                        readonly="true" formControlName="beginDate">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'beginDate'">
                        </kt-message-error>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.EXPRIE_DATE' | translate}}</label>
                        <input type="text" class="form-control datetimepicker-driver" id="dExpireDate" 
                        readonly="true" formControlName="expireDate">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'expireDate'">
                        </kt-message-error>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.DRIVER_CODE' | translate}}</label>
                        <input type="text" class="form-control" formControlName="driverCode">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'driverCode'">
                        </kt-message-error>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.EMAIL' | translate}}</label>
                        <input type="text" class="form-control" formControlName="email">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'email'">
                        </kt-message-error>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.ADDRESS' | translate}}</label>
                        <textarea type="text" class="form-control" formControlName="address" rows="2"></textarea>
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'address'">
                        </kt-message-error>
                    </div>
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DRIVER.GENERAL.DESCRIPTION' | translate}}</label>
                        <textarea rows="2" type="text" class="form-control" formControlName="description"></textarea>
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'description'">
                        </kt-message-error>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>