<ng-template #deleteTmp let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{title?title:('COMMON.MESSAGE.DELETE' | translate)}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="onCancel('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="tmpConfirmDelete">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="onCancel('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- comfirm delete -->
<ng-template #tmpConfirmDelete>
    <div class="alert alert-bold" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{message?message:('COMMON.MESSAGE.COMFIRM_DELETE' | translate)}}</div>
    </div>
</ng-template>