<div class="show-chart" *ngIf="!isShow" (click)="toggleChart()">
	<i class="icon-chart-line ic-lg"></i>
	{{'MAP.TRACKING.CHART.SHOW_CHART' | translate}}

</div>
<div class="charts-tracking" [class]="isShow?'':'kt-hide'" style="width: 100%;" (mouseup)="progressOnMouseup($event)">
	<div class="chart-setting">
		<div class="header-left">
			<ul class="nav nav-tabs nav-tabs-bold nav-tabs-primary nav-tabs-line-2x kt-mb-0" role="tablist">
				<li class="nav-item" (click)="onChangeTabs({type:'speed'})">
					<a class="nav-link " [ngClass]="{'active':sensorActive.type=='speed'}" data-toggle="tab" role="tab" aria-selected="true"><i class="icon-tachometer-alt"></i>
						{{'MAP.TRACKING.CHART.SPEED' | translate}}</a>
				</li>
				<ng-container *ngFor="let sensor of deviceTemplate?.sensorTemplate ">
					<li class="nav-item" (click)="onChangeTabs(sensor)">
						<a class="nav-link" [ngClass]="{'active':sensorActive.id == sensor.id}" data-toggle="tab" role="tab" aria-selected="false"><i class="{{sensor.parameters.icon || 'icon-tag'}}"></i>{{sensor.name}}</a>
					</li>
				</ng-container>

				<li class="nav-item" (click)="onChangeTabs({type:'dataLog'})">
					<a class="nav-link " [ngClass]="{'active':sensorActive.type=='dataLog'}" data-toggle="tab" role="tab" aria-selected="false">
						<i class="icon-database"></i>
						{{'MAP.TRACKING.CHART.DATA_LOG' | translate}}
					</a>
				</li>

			</ul>
		</div>

		<div class="header-right">

			<!-- Playback bar -->	
			<div [class]="isShowPlayback && dataTable.data.length>0?'show playback-container':'hide playback-container'">
				<div class="playback mr-3 d-flex flex-row">
					<div class="btn-container  d-flex align-items-center">
						<button type="button" class="btn btn-icon btn-sm btn-outline-primary mr-2" (click)="controlPlayback()" [ngbTooltip]="isPlay?('MAP.FEATURES.PAUSE'|translate):('MAP.FEATURES.PLAY'|translate)">
							<span><i [class]="isPlay?'icon-pause':'icon-play'"></i></span></button>
						
					</div>
					<div class="progress-bar d-flex align-content-center">
						<div class="all-progress" (click)="progressOnClick($event)" (mousedown)="progressOnMousedown($event)">
							<div class="progress" #progress></div>
							<div class="checkpoint" #checkpoint></div>
							<div class="helper" (mousemove)="progressOnHover($event)"></div>
						</div>
					</div>
					<div class="d-flex align-items-center ml-2">
					<button type="button" class="btn btn-icon btn-sm btn-primary mr-1 sub-btn" (click)="changeSpeed()" ngbTooltip="{{'MAP.FEATURES.SPEED'|translate}}"><span>{{speed+'x'}}</span></button>
					<!-- <button type="button" class="btn btn-icon btn-sm btn-primary mr-1 sub-btn colorful" (click)="setSpeedColor()" ngbTooltip="{{'MAP.FEATURES.COLOR'|translate}}"><span></span></button> -->
				</div>
				</div>
			</div>
			<div class="setting d-flex align-items-center">

				<!-- <ng-template #popContent>
                    <div class="chart-config">
                        <div class="config-body">
                          
                        </div>
                        <div class="config-bottom">
                            <button class="btn btn-primary btn-sm">  {{'COMMON.GENERAL.OK' | translate}} </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #popTitle>{{'MAP.TRACKING.CHART.SHOW_CONFIG' | translate}}</ng-template>
                <button type="button" class="btn btn-icon btn-sm btn-primary" [ngbPopover]="popContent" placement="left"
                    [popoverTitle]="popTitle" [autoClose]="'outside'">
                    <i class="flaticon2-settings"></i>
                </button> -->
				<button type="button" class="btn btn-icon btn-sm btn-primary" (click)="toggleChart()">
					<i class="icon-times"></i>
				</button>
			</div>
		</div>
	</div>
	<div id="chartdiv" [ngClass]="{'kt-hide':sensorActive.type == 'dataLog','kt-spinner kt-spinner--lg kt-spinner--center kt-spinner--brand':isLoading == true}" style="width: 100%;" [ngStyle]="{'height':(chartNumber * 200 + 45)+'px'}"></div>
	<div *ngIf="sensorActive.type=='dataLog'" class="data-log" [ngClass]="{'kt-hide':sensorActive.type!='dataLog'}" (keydown)="onKeypress($event.target)">
		<!-- table data-log -->
		<!-- begin: Feature -->
		<!-- <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
            <div class="form-group row" style="margin: 0px !important;">
                <div class="col-md-12" style="padding:5px 10px">
                    <button _ngcontent-los-c42="" aria-expanded="false"
                        class="btn btn-circle btn-icon btn-sm button-excel" container="body" type="button"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':downloading}"
                        (click)="exportFile({type:'xlsx'})">
                        <i class="icon-file-excel1 ic-lg"></i>
                    </button>
                </div>
            </div>
        </div> -->
		<!-- end: Feature -->

		<!--begin: Datatable -->
		<div resizeObserver class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" [ngClass]="{'kt-datatable--error':dataTable.isNotFound,'kt-spinner kt-spinner--lg kt-spinner--center kt-spinner--brand':isLoading}" id="api_methods" style="position: static; zoom: 1;">

			<table class="kt-datatable__table hidden-overflow" style="display: block;" id="dataTableDataLogFixed">
				<!-- Header -->
				<thead class="kt-datatable__head">
					<tr class="kt-datatable__row" style="left: 0px;">
						<!-- subRow -->
						<th *ngIf="dataTable.isShowSubRow" class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
							<span></span>
						</th>
						<!-- end subRow -->
						<ng-container *ngFor="let column of dataTable.getColumns()">
							<th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}" [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field" class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}" (click)="dataTable.sort(column.field)">
								<span [ngStyle]="column.style" ngbTooltip="{{column.translate | translate}}{{column.field == 'speed'?'(km/h)':''}}" container="body">
									{{column.translate | translate}}{{column.field == 'speed'?"(km/h)":""}}
									<i *ngIf="column.isSort" [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
								</span>
							</th>
						</ng-container>
						<!-- render title base  -->
						<ng-container *ngFor="let basic of deviceTemplate?.basicTemplate ">
							<th class="kt-datatable__cell kt-datatable__cell--sort">
								<span style="width: 100px;" ngbTooltip="{{basic.name}}" container="body">
									{{basic.name}}
								</span>
							</th>
						</ng-container>
						<!-- render title sensor -->
						<ng-container *ngFor="let sensor of deviceTemplate?.sensorTemplate ">
							<th class="kt-datatable__cell kt-datatable__cell--sort">
								<span style="width: 100px;" ngbTooltip="{{sensor.name}}({{sensor.unit}})" container="body">
									{{sensor.name}}({{sensor.unit}})
								</span>
							</th>
						</ng-container>
					</tr>
				</thead>
			</table>
			<table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'auto')}" style="display: block;" id="dataTableDataLog">
				<!-- Header -->

				<!-- table body -->
				<tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'unset!important')}" id="chartDataLog">
					<ng-container *ngFor="let day of dataTable.data">
						<tr class="kt-datatable__row " style="left: 0px;">
							<td style="background: #edebf0;" class="kt-datatable__cell">
								<span [ngStyle]="styleDay">
									{{day.timeFrom | userDateAdv:'YYYY/MM/DD'}}
								</span>
							</td>
						</tr>
						<ng-container *ngFor="let item of day.points;let i=index">
							<tr [ngClass]="{'kt-datatable__row--active':(item.id == itemActive.id)}" class="kt-datatable__row cs-pt " style="left: 0px;" (click)="addPoint(item,true)" id="{{'chartDataLog_'+i}}">

								<td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}" class="kt-datatable__cell kt-datatable__cell" data-field="id">
									<span [ngStyle]="dataTable.getColumn('id').style">{{dataTable.getPaginations().form + i}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('timeDevice').isShow?'none':'')}" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('timeDevice').style" ngbTooltip="{{item.time | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}" container="body">{{item.time | userDateAdv:'HH:mm:ss'}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('updateTime').isShow?'none':'')}" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('updateTime').style" ngbTooltip="{{item.updatetimeUTC | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}" container="body">{{item.updatetimeUTC | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('latLng').isShow?'none':'')}" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('latLng').style" ngbTooltip="{{item.lat | number:'1.0-6'}}, {{item.lng | number:'1.0-6'}}" container="body">{{item.lat | number:'1.0-6'}},
										{{item.lng | number:'1.0-6'}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('gsm').isShow?'none':'')}" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('gsm').style" ngbTooltip="{{item.gsm | number}}" container="body">{{item.gsm | number}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('gps').isShow?'none':'')}" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('gps').style" ngbTooltip="{{item.gps | number}}" container="body">{{item.gps | number}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('powerVoltage').isShow?'none':'')}" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('powerVoltage').style" ngbTooltip="{{item.powerVoltage | number:'1.0-2'}}V" container="body">{{item.powerVoltage | number:'1.0-2'}}V</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('battery').isShow?'none':'')}" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('battery').style" ngbTooltip="{{item.batteryStr}}" container="body">{{item.batteryStr}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumn('speed').isShow?'none':'')}" data-field="speed" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumn('speed').style">{{ item.speed || 0 | number:'1.0-0' }}</span>
								</td>
								<!-- base value -->
								<ng-container *ngFor="let base of item.base ">
									<td class="kt-datatable__cell">
										<span style="width: 100px;">{{base.value}}</span>
									</td>
								</ng-container>
								<!-- sensors value -->
								<ng-container *ngFor="let sensor of item.sensors ">
									<td class="kt-datatable__cell">
										<span style="width: 100px;">{{sensor.value}}</span>
									</td>
								</ng-container>
							</tr>
						</ng-container>
					</ng-container>
					<!-- No records found -->
					<div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
						<kt-not-found></kt-not-found>
					</div>
				</tbody>
			</table>
			<!-- pagination  -->
			<!-- begin pagination -->
			<div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}" class="kt-datatable__pager kt-datatable--paging-loaded">
				<!-- pagination -->
				<button _ngcontent-los-c42="" aria-expanded="false" class="btn btn-circle btn-icon btn-sm button-excel" container="body" type="button" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':downloading}" (click)="exportFile({type:'xlsx'})">
					<i class="icon-file-excel1 ic-lg"></i>
				</button>
				<ul class="kt-datatable__pager-nav">
					<li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}" class="kt-datatable__pager-link kt-datatable__pager-link--first" [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}" (click)="dataTable.gotoPage(dataTable.getFirstPage())">
							<i class="flaticon2-fast-back"></i></a></li>
					<li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}" class="kt-datatable__pager-link kt-datatable__pager-link--prev" [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}" (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
							<i class="flaticon2-back"></i></a></li>
					<li></li>
					<li style="display: none;"><input type="text" class="kt-pager-input form-control" title="Page number"></li>
					<li *ngFor="let page of dataTable.getPageDisplay()">
						<a (click)="changePage(page)" class="kt-datatable__pager-link kt-datatable__pager-link-number " [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}" data-page="1">{{page}}</a>
					</li>
					<li></li>
					<li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}" class="kt-datatable__pager-link kt-datatable__pager-link--next " [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}" (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1);hidePolyline()"><i class=" flaticon2-next"></i></a></li>
					<li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}" [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}" class="kt-datatable__pager-link kt-datatable__pager-link--last" (click)="dataTable.gotoPage(dataTable.getLastPage());hidePolyline()">
							<i class="flaticon2-fast-next"></i></a></li>
				</ul>
				<!-- page size -->
				<div class="kt-datatable__pager-info">
					<div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect" style="width: 60px !important;">
						<select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" (change)="dataTable.setPageSize($event.target.value)" class="selectpicker kt-datatable__pager-size" title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px" data-selected="10" data-size="5">
							<option *ngFor="let item of dataTable.getPaginationSelect()" [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}" title="{{item}}" data-toggle="tooltip">{{item}}</option>
						</select>
					</div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
						{{dataTable.getPaginations().form}} -
						{{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
						{{dataTable.getPaginations().total}}</span>
				</div>
			</div>
			<!-- end: Pagination -->
		</div>

		<!--end: Datatable -->
		<div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement" style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
			<div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
					<div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
				</span>
			</div>
		</div>
		<!-- end table data-log -->
	</div>
</div>
