$progressColor: rgb(6, 94, 177);
$allProgressColor: rgb(194, 196, 196);
.charts-tracking {
	width: 100%;
	max-height: 300px;
	overflow: hidden;
}
.chart-setting {
	font-size: 1.5rem;
	border-top: 1px solid #c9c9c9;
	text-align: right;
	background: #edebf0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;

	.header-left {
		.nav {
			padding-top: 5px;
		}

		.nav-link {
			padding: 0.5rem 1.25rem;
			color: inherit;
			cursor: pointer;
			max-width: 160px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			i {
				color: #000000;
			}
		}
	}

	.header-right {
		display: flex;
		flex-direction: row;
	}

	.playback-container {
		position: absolute;
		top: -43px;
		left: 3px;
	}
	.playback {
		padding: 3px 10px;
		background-color: rgb(255, 251, 251);
		transition: all 0.5s;
		animation: smoothShow 0.5s;
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   	 	border-radius: 5px;
		.btn-container {
			span {
				font-size: 12px;
				display: flex;
				align-items: center;
				-webkit-user-select: none; /* Webkit */
				-moz-user-select: none; /* Firefox */
			}
		}
		.colorful{
			background: #e36912;
			transition: all 0.5s;
		}
		
		.btn {
			border-radius: 50%;
		}
		.sub-btn {
			width: 25px;
			height: 25px;
		}
		.progress-bar {
			background-color: inherit;
			width: 100px;
			
			.all-progress {
				height: 5px;
				background-color: $allProgressColor;
				cursor: pointer;
				position: relative;
				.progress {
					width: 0px;
					height: 5px;
					background-color: $progressColor;
				}
				.checkpoint {
					height: 10px;
					border-radius: 50%;
					background: $progressColor;
					position: absolute;
					left: -3.5px;
					top: -2.6px;
					width: 10px;
					transform: scale(0);
					transition: transform 0.1s;
				}
				.helper {
					width: 100px;
					height: 35.06px;
					position: absolute;
					top: -17.5px;
					z-index: 0;
				}
			}
		}
		.progress-bar:hover {
			.all-progress {
				.checkpoint {
					transform: scale(1.1);
				}
			}
		}
	}
	
	.setting {
		// margin-right: 10px;
		cursor: pointer;
	}

	.toggle-chart {
		margin-left: 10px;
		cursor: pointer;
	}
}

.show-chart {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px 15px 10px 15px;
	background: #1f292f80;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
	margin: 0px 0px 10px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;

	i {
		margin-right: 10px;
	}
}

.chart-config {
	.config-body {
		display: flex;
		flex-direction: column;

		.item {
			.kt-switch {
				label {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}
	}

	.config-bottom {
		text-align: right;
	}
}

.chartdiv {
	width: 100%;
	height: 100%;
}

.data-log {
	// min-height: 245px;
	// max-height: 240px;
	// height: 240px;
	width: 100%;
	overflow: hidden;
	// margin-bottom: 5px;
	height: 245px;
	.kt-datatable {
		margin-bottom: 5px !important;
		margin-right: 5px;
		margin-left: 5px;
		.kt-datatable__pager {
			padding: 2px 5px !important;
			background: #f5f4f7;
			.button-excel {
				height: 2.25rem !important;
				width: 2.25rem !important;
			}
		}
	}

	.kt-datatable__table {
		padding: 0px 10px 10px 10px;
		max-height: 195px;
		.kt-datatable__cell {
			padding: 5px 5px 5px 10px !important;
			min-width: 50px !important;
			span {
				display: inline-block;
				white-space: nowrap;
			}
		}

		.kt-datatable__body {
			.kt-datatable__cell {
				padding: 5px 5px 5px 10px !important;
			}
		}
	}
	#dataTableDataLog {
		// height: 164px;
		height: 165px;
		padding: 0px 0px 10px 0px !important;
		overflow: auto;
		.kt-datatable__row {
			line-height: 15px;
		}
	}
	#dataTableDataLogFixed {
		display: block;
		padding: 0px 0px !important;
		overflow: hidden;
		height: 30px;
		margin-top: 10px;
	}
	.kt-datatable__head {
		tr {
			background: #edebf094;
		}
	}
}
.hide{
	display: none;
}

@media only screen and (max-width: 750px) {
	.playback-container {
		position: absolute;
		top: -39px;
		left: 1px;
	}
}

@keyframes smoothShow {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

