<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.SEND_COMMAND' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateSendCommand" [ngTemplateOutletContext]="{data:devices}">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmit()"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            [disabled]="devices.length == 0 || commandStr.length == 0">{{'COMMON.ACTIONS.SEND' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateSendCommand let-data="data">
    <div class="row">
        <div class="col-md-12">
            <div class="kt-form kt-padding-10" id="frmSendCommand">
                <div class="form-group row">
                    <label
                        class="form-control-label">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.DEVICE_TYPE' | translate}}</label>
                    <select class="form-control kt-selectpicker-send-command selectpicker-type"
                        title="Chọn loại thiết bị" (change)="selecteDeviceType($event.target.value)" data-size="5">
                        <option value="">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.CHOOSE_DEVICE_TYPE' | translate}}
                        </option>
                        <ng-container *ngFor="let item of deviceTypes">
                            <option
                                attr.data-content='<img style="height:20px" src="{{item.image}}"/> {{item.name}}'
                                value="{{item.id}}">
                            </option>
                        </ng-container>               
                    </select>
                </div>
                <div class="form-group row">
                    <label
                        class="form-control-label">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.COMMAND_TYPE' | translate}}</label>
                    <select class="kt-selectpicker-send-command form-control selectpicker-command"
                        title="{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.CHOOSE_COMMAND_TYPE' | translate}}"
                        (change)="selectCommandType($event)" data-size="5">
                        <option value="">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.CHOOSE_COMMAND_TYPE' | translate}}
                        </option>
                        <option *ngFor="let item of commands" value="{{item.commandStr}}">{{'COMMON.COMMAND.'+item.name | translate}}</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label
                        class="form-control-label">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.COMMAND_NAME' | translate}}</label>
                    <input type="text" class="form-control" [value]="commandName"
                        (keyup)="commandNameChange($event.target.value)">
                </div>
                <div class="form-group row">
                    <label
                        class="form-control-label">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.COMMAND_SEND' | translate}}<span
                            class="kt-font-danger">*</span></label>
                    <input type="text" class="form-control" [value]="commandStr"
                        (keyup)="commandChange($event.target.value)">
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-afy-c15="" class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                <div class="kt-portlet__head kt-portlet__head--sm">
                    <div class="kt-portlet__head-label">
                        <span>{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.TOTAL_DEVICE' | translate}}:</span>&nbsp;
                        <span style="font-weight: bold" class="kt-font-danger"> {{data.length}}</span>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--overflow-y">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="kt-font-600">
                                <tr>
                                    <th style="width: 50px">#</th>
                                    <th width="250">{{'COMMON.COLUMN.IMEI' | translate}}</th>
                                    <th width="150">{{'COMMON.COLUMN.DELETE' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let device of data;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{device.imei}}</td>
                                    <td><span> <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                (click)="removeDevice(device.id)">
                                                <i class="icon-trash"></i>
                                            </a></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>