<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="max-width: 100%;overflow: auto;">

        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MENU.DEVICE_LOGIN' | translate | uppercase }}
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormRawLog" (ngSubmit)='searchRawLog(searchFormRawLog)'>

                    <div class="row align-items-center">
                        <div style="padding:0px 10px;" class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <kt-date-range-picker #datePicker [options]="datePickerOptions"
                                    (dateChange)="dateSelectChange($event)">
                                </kt-date-range-picker>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12 ">
                            <div class="kt-form__control form-group">
                                <input type="text" class="form-control"
                                    placeholder="{{ 'TECHNICAL_SUPPORT.IMEI' | translate }}" formControlName="imei"
                                    (change)="changeImei($event)">
                            </div>
                        </div>

                        <div style="padding-left:10px" class="col-xl-3 col-lg-6  col-md-6  col-sm-12">
                            <div class="form-group">
                                &nbsp;
                                <button type="submit" class="btn btn-outline-brand btn-pill">
                                    <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn-outline-brand btn-pill"
                                    (click)="resetFormSearch()">
                                    <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                </button>&nbsp;
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!--end: Search Form -->
            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">

                    <div class="col-md-12 export-file">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                        <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_EXCEL' | translate}}"
                            (click)="exportFile({type:'xlsx'})" type="button" container="body"
                            class="btn btn-circle btn-icon btn-sm button-excel"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':isdownLoad}"
                            id="dropdownMenuButton" placement="top" aria-expanded="false">
                            <i class="icon-file-excel1"></i>
                        </button>
                        <span>&nbsp;&nbsp;</span>
                        <!-- <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" (click)="exportPDF()"
                            type="button" container="body"
                            [ngClass]="isdownLoadPDF?'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':''"
                            class="btn btn-circle btn-icon btn-sm button-pdf" id="dropdownMenuButton" placement="top"
                            aria-expanded="false">
                            <i class="icon-file-pdf1"></i>
                        </button> -->

                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">

                        </div>
                        <!-- <div class="kt-separator"></div> -->
                    </div>
                </div>
            </div>
            <!-- end: Feature -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'auto')}"
                    style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style"
                                        ngbTooltip="{{column.translate | translate}}{{column.field == 'speed'?'(km/h)':''}}"
                                        container="body">
                                        {{column.translate | translate}}{{column.field == 'speed'?"(km/h)":""}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle"
                        [ngStyle]="{'overflow':(dataTable.isResponsive?'':'unset!important')}" id="chartDataLog"
                        style="">

                        <ng-container *ngFor="let group of dataTable.data">

                            <tr class="kt-datatable__row kt-datatable_group" style="left: 0px;">
                                <td class="kt-datatable__cell kt-datatable__cell" data-field="RecordID">
                                    <a style="height: 40px;">
                                        <span>{{group.timeFrom | userDate}}</span>
                                    </a>
                                </td>
                            </tr>

                            <ng-container *ngFor="let item of group.points;let i=index">

                                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                    class="kt-datatable__row " style="left: 0px;">
                                    <!-- checkbox -->
                                    <td *ngIf="dataTable.selecter"
                                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                        data-field="RecordID"><span style="width: 20px;">
                                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                    (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <!-- end checkbox -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                        <span
                                            [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('imei').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('imei').style"
                                            ngbTooltip="{{ item.imei }}" container="body">{{ item.imei }}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('timeDevice').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('timeDevice').style"
                                            ngbTooltip="{{item.time | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}"
                                            container="body">{{item.time | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('timeUpdate').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('timeUpdate').style"
                                            ngbTooltip="{{item.timeUpdate | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}"
                                            container="body">{{item.timeUpdate |userDateAdv:'YYYY/MM/DD HH:mm:ss'}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('port').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('port').style" ngbTooltip="{{item.port}}"
                                            container="body">{{item.port}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('socketIp').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('socketIp').style"
                                            ngbTooltip="{{item.socketIp}}" container="body">{{item.socketIp}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('socketVerson').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('socketVerson').style"
                                            ngbTooltip="{{item.socketVerson}}"
                                            container="body">{{item.socketVerson}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('action').isShow?'none':'')}"
                                        data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                            style="overflow: visible; position: relative; width: 80px;"
                                            (click)="showDetailLog(content,item)"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                            <i style="font-size: 14px;" class="icon-info-circle"></i>
                                        </a>
                                    </td>

                                </tr>

                            </ng-container>

                        </ng-container>

                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>
                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>
            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->


<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title">
            {{'COMMON.ACTIONS.DETAIL'| translate}}
        </h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body div-scrollbar modal-body-Command">
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label>
                        {{'TECHNICAL_SUPPORT.IMEI' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.imei}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'COMMON.COLUMN.TIME_DEVICE' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control"
                        value="{{dataDefault.time | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}" disabled>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'COMMON.COLUMN.UPDATE_TIME' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control"
                        value="{{dataDefault.timeUpdate | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'TECHNICAL_SUPPORT.DEVICE_LOGIN.PORT' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.port}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'TECHNICAL_SUPPORT.DEVICE_LOGIN.SOCKET_IP' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.socketIp}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'TECHNICAL_SUPPORT.DEVICE_LOGIN.SOCKET_VERSION' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.socketVerson}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'TECHNICAL_SUPPORT.DEVICE_LOGIN.FIRMWARE_VERSION' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.fwVersion}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'TECHNICAL_SUPPORT.DEVICE_LOGIN.LOGIN_DATA' | translate}}
                    </label>

                </div>
                <div ngxClipboard [cbContent]="dataDefault.raw" (cbOnSuccess)="copied($event)"
                    class="input-group kt-datatable__cell clipboard">
                    <a *ngIf="dataDefault.raw" class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                        <i class="icon-copy"></i>
                    </a>
                    <input type="text" class="form-control" value="{{dataDefault.raw}}" disabled>
                </div>
            </div>
        </div>
    </div>

    <!--end body modal-->
    <div class="modal-footer">

        <button type="button" class="btn btn-secondary"
            (click)="modal.close()">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
        <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
    </div>

</ng-template>
<!-- end modal popup -->