<div class="box-group-device">
        <div class="form-group row ">
                <div class="col-lg-12">
                    <div class="show-error">
                        <label class="">{{'MENU.GROUP_DEVICE' | translate}} ({{countCheckedGroup}})</label>
                    </div>
                    <div class="lists-group-permission lists-devices">
                
                        <kt-box-check-list
                            [name]="'box-group-device'"
                            [dataChangeEmiter] = "dataEmiter"
                            [maxHeight] = "'220px'"  
                            [filter]='keySearchFilter'      
                            placeholder="{{'MANAGE.DRIVER.GENERAL.NAME' | translate}}..." [isSwitch]="false"
                            (checkedChange)="changeCheckedGroup($event)">
                        </kt-box-check-list>
                     </div>
                </div>
        </div>
        <div class="form-group row">
                <div class="col-lg-12">
                <div class="form-group">
                        <label >{{'COMMON.COLUMN.ONLY_DEVICE' | translate}}</label>
                        <br>
                        <span class="kt-switch kt-switch--sm kt-switch--icon float-left"><label>
                            <input name="permissions" type="checkbox" [(ngModel)]="isshowListDevice" (click)="showListDevice(isshowListDevice)" class="ng-untouched ng-pristine ng-valid">
                            <span ></span></label>
                        </span>
                      
                       
                    </div>
                </div>
        </div>
        <div *ngIf="isshowListDevice" class="form-group row ">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">  {{'ADMIN.TRANSPORT_TYPE.COLUMN.DEVICE' | translate }} ({{countCheckedDevices}})</label>
                </div>
                <div class="lists-group-permission lists-devices">
            
                    <kt-box-check-list
                        [name]="'box-device'"
                        [filter]='keySearchFilter'    
                        [maxHeight] = "'300px'"  
                        [dataChangeEmiter] = "dataEmiterDevice"
                        placeholder="{{'MANAGE.DRIVER.GENERAL.NAME' | translate}}..." [isSwitch]="false"
                        (checkedChange)="changeCheckedDevices($event)">
                    </kt-box-check-list>
                 </div>
            </div>
        </div>
</div>
