.table-sensor-config{
    td{
    vertical-align: middle;
    
    span{
        vertical-align: middle;
        label{
            margin-bottom: 0px;
            display: flex;
        }
    }
    }
}