<!-- begin:: Content -->
<!-- <div class="alert alert-light alert-elevate" role="alert">
	<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
	<div class="alert-text">
		The Keen Datatable component supports local or remote data source. For the local data you can pass
		javascript array as data source. In this example the grid fetches its data from a javascript array data
		source. It also defines
		the schema model of the data source. In addition to the visualization, the Datatable provides built-in
		support for operations over data such as sorting, filtering and paging performed in user browser(frontend).
	</div>
</div> -->
<div class="kt-main">
	<div class="kt-portlet kt-portlet--mobile kt-portlet--main kt-padding">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">

				<h3 class="kt-portlet__head-title">
					{{'ADMIN.GENERAL.DEVICE_TYPE' | translate | uppercase }}
				</h3>
			</div>
			<div class="kt-portlet__head-toolbar">
				<div class="kt-portlet__head-wrapper">
					<button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="open(content,'add')"
						aria-expanded="false">
						<i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
						{{'ADMIN.GENERAL.DEVICE_TYPE' | translate }}
					</button>
				</div>
			</div>
		</div>
		<!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10">
	
	
		</div> -->
		<div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y  kt-portlet__body__reports">
			<!--begin: Search Form -->
			<div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20 " id="formSearch"
				(keyup.enter)="dataTable.search()">
				<div class="row">
					<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
						<div class="form-group">
							<div class="kt-form__control">
								<input type="text" class="form-control" data-key="name"
									placeholder="{{'COMMON.COLUMN.NAME'|translate}}">
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
						<div class="form-group">
							<button type="button" class="btn btn-outline-brand btn-pill" (click)="dataTable.search()">
								<i class="icon-search"></i>{{'COMMON.SEARCH' | translate}}</button>
						</div>
					</div>
				</div>

			</div>
			<!--end: Search Form -->

			<!--begin: Datatable -->
			<div resizeObserver (resize)="onResize($event.contentRect)"
				class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
				[ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
				style="position: static; zoom: 1;">
				<table class="kt-datatable__table" style="display: block;">
					<!-- Header -->
					<thead class="kt-datatable__head">
						<tr class="kt-datatable__row" style="left: 0px;">
							<!-- subRow -->
							<th *ngIf="dataTable.isShowSubRow"
								class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
								<span></span>
							</th>
							<!-- end subRow -->

							<!-- checkbox -->
							<th *ngIf="dataTable.selecter"
								class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
								<span style="width: 20px;">
									<label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
										<input (click)="dataTable.setCheckBoxAll()" type="checkbox"
											[(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
									</label>
								</span>
							</th>
							<!-- end checkbox -->

							<ng-container *ngFor="let column of dataTable.getColumns()">
								<th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
									[ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
									class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
									(click)="dataTable.sort(column.field)">
									<span [ngStyle]="column.style">{{column.translate | translate}}
										<i *ngIf="column.isSort"
											[ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
									</span>
								</th>
							</ng-container>
						</tr>
					</thead>
					<!-- table body -->
					<tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
						<ng-container *ngFor="let item of dataTable.data;let i=index">
							<tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
								style="left: 0px;">
								<!-- subRow -->
								<td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
									class="kt-datatable__cell kt-datatable__toggle-detail">
									<a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
										<i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
								  'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
									</a>
								</td>
								<!-- end subRow -->

								<!-- checkbox -->
								<td *ngIf="dataTable.selecter"
									class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
									data-field="RecordID"><span style="width: 20px;">
										<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
											<input type="checkbox" [(ngModel)]="item.dt_selecter"
												(click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
										</label>
									</span>
								</td>
								<!-- end checkbox -->
								<td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
									class="kt-datatable__cell kt-datatable__cell" data-field="id">
									<span
										[ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
									data-field="key_name" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
								</td>

								<td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
									data-field="name" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[2].style">{{item.protocol}}</span>
								</td>

								<td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
									data-field="hire_date" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[3].style">{{item.manufacturer}}</span>
								</td>

								<td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
									data-field="name" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[4].style">{{item.description}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
									data-field="hire_date" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[5].style">
										<img *ngIf="item.image" style="height:40px" src="{{item.image}}">
									</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
									data-field="hire_date" class="kt-datatable__cell">
									<span
										[ngStyle]="dataTable.getColumns()[6].style">{{item.updatedDate | userDate}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
									data-field="status" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[7].style">
										{{item.sortOrder?item.sortOrder:"-"}}
									</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[8].isShow?'none':'')}"
									data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span
										[ngStyle]="dataTable.getColumns()[8].style"
										style="overflow: visible; position: relative;">
										<a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
											class="btn btn-sm btn-clean btn-icon btn-icon-md"
											(click)="open(content,'edit',item)">
											<i class="icon-edit"></i>
										</a>
										<a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
											class="btn btn-sm btn-clean btn-icon btn-icon-md"
											(click)="open(content,'delete',item)">
											<i class="icon-trash"></i>
										</a>
									</span>
								</td>
							</tr>
							<!-- Sub row -->
							<tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
								class="kt-datatable__row-detail">
								<td class="kt-datatable__detail" colspan="9">
									<table>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[0].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span
													[ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[1].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[2].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span
													[ngStyle]="dataTable.getColumns()[2].style">{{item.protocol}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[3].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span
													[ngStyle]="dataTable.getColumns()[3].style">{{item.manufacturer}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[4].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span
													[ngStyle]="dataTable.getColumns()[4].style">{{item.description}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[5].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[5].style">
													<img *ngIf="item.image" src="{{item.image}}" alt="">
												</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[6].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[6].style">
													{{item.updatedDate | userDate}}
												</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[7].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[7].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[7].style">
													{{item.sortOrder?item.sortOrder:"-"}}
												</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[8].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[8].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[8].style"
													style="overflow: visible; position: relative;">
													<a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
														class="btn btn-sm btn-clean btn-icon btn-icon-md"
														(click)="open(content,'edit',item)">
														<i class="icon-edit"></i>
													</a>
													<a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
														(click)="open(content,'delete',item)"
														class="btn btn-sm btn-clean btn-icon btn-icon-md">
														<i class="icon-trash"></i>
													</a>
												</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</ng-container>
						<!-- No records found -->
						<div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
							<kt-not-found></kt-not-found>
						</div>
					</tbody>

				</table>
				<!-- begin pagination -->
				<div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
					class="kt-datatable__pager kt-datatable--paging-loaded">
					<!-- pagination -->
					<ul class="kt-datatable__pager-nav">
						<li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
								class="kt-datatable__pager-link kt-datatable__pager-link--first"
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
								(click)="dataTable.gotoPage(dataTable.getFirstPage())">
								<i class="flaticon2-fast-back"></i></a></li>
						<li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
								class="kt-datatable__pager-link kt-datatable__pager-link--prev"
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
								(click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
								<i class="flaticon2-back"></i></a></li>
						<li></li>
						<li style="display: none;"><input type="text" class="kt-pager-input form-control"
								title="Page number"></li>
						<li *ngFor="let page of dataTable.getPageDisplay()">
							<a (click)="dataTable.gotoPage(page)"
								class="kt-datatable__pager-link kt-datatable__pager-link-number "
								[ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
								data-page="1">{{page}}</a>
						</li>
						<li style=""></li>
						<li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
								class="kt-datatable__pager-link kt-datatable__pager-link--next "
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
								(click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
									class=" flaticon2-next"></i></a></li>
						<li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
								class="kt-datatable__pager-link kt-datatable__pager-link--last"
								(click)="dataTable.gotoPage(dataTable.getLastPage())">
								<i class="flaticon2-fast-next"></i></a></li>
					</ul>
					<!-- page size -->
					<div class="kt-datatable__pager-info">
						<div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
							style="width: 60px;">
							<select (change)="dataTable.setPageSize($event.target.value)"
								class="selectpicker kt-datatable__pager-size" title="Select page size"
								data-selected="30" data-width="60px">
								<option *ngFor="let item of dataTable.getPaginationSelect()"
									[selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
									title="{{item}}" data-toggle="tooltip">{{item}}</option>
							</select>
						</div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
							{{dataTable.getPaginations().form}} -
							{{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
							{{dataTable.getPaginations().total}}</span>
					</div>
				</div>
				<!-- end: Pagination -->
			</div>

			<!--end: Datatable -->
			<div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
				style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
				<div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
						<div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{titlePopup | translate}} {{'ADMIN.GENERAL.DEVICE_TYPE' | translate  }}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container [ngSwitch]="action">
			<ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="tmpConfirmDelete">
			</ng-container>
			<ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormEdit">
			</ng-container>
			<ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="tmpFormAdd">
			</ng-container>
			<!-- <ng-container *ngSwitchDefault [ngTemplateOutlet]="tmpFormAdd">
			</ng-container> -->
		</ng-container>
	</div>
	<div class="modal-footer">
		<ng-container [ngSwitch]="action">
			<button *ngSwitchCase="'edit'" [disabled]="formEdit.invalid" type="button" class="btn btn-primary"
				(click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
			<button *ngSwitchCase="'add'" [disabled]="formAdd.invalid" type="button" class="btn btn-primary"
				(click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
			<button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
				(click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
		</ng-container>
		<button type="button" class="btn btn-secondary"
			(click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<!-- edit form -->
<ng-template #tmpFormEdit>
	<div class="kt-portlet__body">
		<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-info" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#kt_tab_base" role="tab"
					aria-selected="false">{{ 'COMMON.GENERAL.BASE' | translate }}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#kt_tab_command" role="tab"
					aria-selected="true">{{ 'COMMON.GENERAL.COMMAND' | translate }}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#kt_tab_sensor" role="tab"
					aria-selected="true">{{'ADMIN.DEVICETYPE.COLUMN.PARAMETER_SENSOR' | translate}}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#kt_extension" role="tab"
					aria-selected="true">{{'ADMIN.DEVICETYPE.COLUMN.EXTENSION' | translate}}</a>
			</li>
		</ul>
		<form class="kt-form" [formGroup]="formEdit" (ngSubmit)="onSubmit()" novalidate="novalidate">

			<div class="tab-content ">

				<div class="tab-pane active" id="kt_tab_base" role="tabpanel">
					<div class="kt-portlet__body validate is-invalid">

						<div class="row">
							<div class="form-group col-md-6 validate is-invalid">
								<div class="show-error">
									<label>{{ 'ADMIN.DEVICETYPE.COLUMN.MODEL_NAME' | translate }}</label>

								</div>
								<input type="text" class="form-control" autocomplete="false" name="name"
									formControlName="name">

							</div>
							<div class="form-group col-md-6 validate is-invalid">
								<div class="show-error">
									<label>{{ 'ADMIN.DEVICETYPE.COLUMN.PROTOCOL' | translate }}</label>

								</div>
								<input type="text" class="form-control" autocomplete="false" name="name"
									formControlName="protocol">
							</div>

						</div>

						<div class="row">
							<div class="form-group col-md-6 validate is-invalid">
								<div class="show-error">
									<label>{{ 'ADMIN.DEVICETYPE.COLUMN.MODEL' | translate }}</label>

								</div>
								<input type="text" class="form-control" autocomplete="false" name="name"
									formControlName="modelName">
							</div>
							<div class="form-group col-md-6 validate is-invalid">
								<label>{{ 'ADMIN.DEVICETYPE.COLUMN.LINK' | translate }}</label>
								<input type="text" class="form-control" autocomplete="false" formControlName="link">
							</div>

						</div>

						<div class="row">

							<div class="form-group col-md-6 validate is-invalid">
								<label>{{ 'ADMIN.DEVICETYPE.COLUMN.MANUFACTURER' | translate }}</label>
								<input type="text" class="form-control" autocomplete="false"
									formControlName="manufacturer">
							</div>

						</div>

						<div class="row">
							<div class="col-lg-6">
								<label class="">{{'ADMIN.DEVICETYPE.COLUMN.IMAGE' | translate}}</label>
								<div class="show-img kt-mb-10">
									<img *ngIf="listIcon[0]['icon'] == null" style="height: 70px" name="img-icon"
										id="img_icon" src="" alt="Icon">
									<img *ngIf="listIcon[0]['icon'] != null" style="height: 70px" name="img-icon"
										id="img_icon" [src]="sanitize(listIcon[0]['icon'])" alt="Icon">

								</div>
								<div class="input-group">
									<div class="kt-uppy" id="kt_uppy_5">
										<div class="kt-uppy__wrapper">
											<div class="uppy-Root uppy-FileInput-container">
												<input class="uppy-FileInput-input kt-uppy__input-control" type="file"
													(change)="fileChangeEvent($event,cropImg)" id="kt_icon">
												<label class="btn btn-brand btn-icon-sm" for="kt_icon">
													<i class="fa fa-cloud-upload-alt"></i>
													<span>{{'COMMON.UPLOAD' | translate}}</span>
												</label>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="form-group col-md-6 validate is-invalid">
								<label>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</label>
								<textarea style="height: 120px;" class="form-control" autocomplete="false" rows="3"
									formControlName="description"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label>{{ 'COMMON.COLUMN.UPDATED_BY' | translate }}</label>
								<input type="text" class="form-control" autocomplete="false"
									formControlName="updatedBy">
							</div>
							<div class="form-group col-md-6">
								<label>{{ 'COMMON.COLUMN.SORT_ORDER' | translate }}</label>
								<input type="number" class="form-control" autocomplete="false"
									formControlName="sortOrder">
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label>{{ 'COMMON.COLUMN.CREATED_BY' | translate }}</label>
								<input type="text" class="form-control" autocomplete="false"
									formControlName="createdBy">
							</div>
							<div class="form-group col-md-6">
								<label>{{ 'COMMON.COLUMN.CREATED_DATE' | translate }}</label>
								<input type="text" class="form-control" autocomplete="false"
									formControlName="createdDate">
							</div>
						</div>

					</div>

				</div>

				<div class="tab-pane" id="kt_tab_command" role="tabpanel">
					<ng-container [ngTemplateOutlet]="commandForm"></ng-container>
				</div>

				<div class="tab-pane" id="kt_tab_sensor" role="tabpanel">
					<form [formGroup]="ioSetting">
						<table class="table table-sensor-config" formArrayName="itemRows">
							<thead>
								<td class="kt-font-600">#</td>
								<th class="kt-font-600">{{'COMMON.COLUMN.NAME_KEY' | translate}}</th>
								<th class="kt-font-600">{{'COMMON.COLUMN.VALUE' | translate}}</th>
								<th class="kt-font-600">{{'COMMON.COLUMN.ACTIVE' | translate}}</th>
								<th class="kt-font-600">{{'COMMON.COLUMN.BASIC' | translate}}</th>
							</thead>
							<tbody>
								<tr *ngFor="let item of ConfigSensor;let i=index" [formGroupName]="i">
									<td>{{i+1}}</td>
									<td>{{item.key}}</td>
									<td>
										<input class="form-control" type="text" formControlName="value">
									</td>
									<td>
										<span class="kt-switch kt-switch--icon">
											<label>
												<input type="checkbox" name="" formControlName="active">
												<span></span>
											</label>
										</span>
									</td>
									<td>
										<span class="kt-switch kt-switch--icon">
											<label>
												<input type="checkbox" name="" formControlName="basic">
												<span></span>
											</label>
										</span>
									</td>
								</tr>
							</tbody>
						</table>

					</form>
				</div>

				<div class="tab-pane" id="kt_extension" role="tabpanel">
					<form [formGroup]="extension">
						<table class="table table-sensor-config">
							<thead>
								<td class="kt-font-600">#</td>
								<th class="kt-font-600">{{'COMMON.COLUMN.NAME' | translate}}</th>
								<th class="kt-font-600" style="width:100px">{{'COMMON.COLUMN.ACTIVE' | translate}}</th>
							</thead>
							<tbody>
								<tr *ngFor="let item of ConfigExtension;let i=index">
									<td>{{i+1}}</td>
									<td>{{item.name}}</td>

									<td>
										<span class="kt-switch kt-switch--icon">
											<label>
												<input type="checkbox" name="" formControlName="{{item.id}}">
												<span></span>
											</label>
										</span>
									</td>

								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</form>
	</div>
</ng-template>
<!-- add form  -->
<ng-template #tmpFormAdd>
	<div class="kt-portlet__body">
		<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-info" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#kt_tab_base" role="tab"
					aria-selected="false">{{ 'COMMON.GENERAL.BASE' | translate }}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#kt_tab_command" role="tab"
					aria-selected="true">{{ 'COMMON.GENERAL.COMMAND' | translate }}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#kt_tab_sensor" role="tab"
					aria-selected="true">{{'ADMIN.DEVICETYPE.COLUMN.PARAMETER_SENSOR' | translate}}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#kt_extension" role="tab"
					aria-selected="true">{{'ADMIN.DEVICETYPE.COLUMN.EXTENSION' | translate}}</a>
			</li>
		</ul>
		<div class="tab-content ">

			<div class="tab-pane active" id="kt_tab_base" role="tabpanel">
				<form class="kt-form" [formGroup]="formAdd" (ngSubmit)="onSubmit()" novalidate="novalidate">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-md-6 validate is-invalid">
								<div class="show-error">
									<label>{{ 'ADMIN.DEVICETYPE.COLUMN.MODEL_NAME' | translate }}</label>
									<app-control-messages [control]="f['name']"></app-control-messages>
									<span class="text-danger"> *</span>
								</div>
								<input type="text" class="form-control" autocomplete="false" name="name"
									formControlName="name">
							</div>
							<div class="col-md-6 validate is-invalid">
								<div class="show-error">
									<label>{{ 'ADMIN.DEVICETYPE.COLUMN.PROTOCOL' | translate }}</label>

									<app-control-messages [control]="f['protocol']"></app-control-messages>
									<span class="text-danger"> *</span>
								</div>
								<input type="text" class="form-control" autocomplete="false" name="name"
									formControlName="protocol">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 validate is-invalid">
								<div class="show-error">
									<label>{{ 'ADMIN.DEVICETYPE.COLUMN.MODEL' | translate }}</label>

									<app-control-messages [control]="f['modelName']"></app-control-messages>
									<span class="text-danger"> *</span>
								</div>
								<input type="text" class="form-control" autocomplete="false" name="name"
									formControlName="modelName">
							</div>
							<div class="col-md-6 validate is-invalid">
								<label>{{ 'ADMIN.DEVICETYPE.COLUMN.LINK' | translate }}</label>
								<input type="text" class="form-control" autocomplete="false" formControlName="link">
							</div>

						</div>

						<div class="form-group row">
							<div class="col-lg-6">
								<div class="show-error">
									<label class="">{{'ADMIN.DEVICETYPE.COLUMN.IMAGE' | translate}}</label>
								</div>
								<div class="show-img kt-mb-10">
									<img *ngIf="listIcon[0]['icon'] == null" style="height: 70px" name="img-icon"
										id="img_icon" src="" alt="Icon">
									<img *ngIf="listIcon[0]['icon'] != null" style="height: 70px" name="img-icon"
										id="img_icon" [src]="sanitize(listIcon[0]['icon'])" alt="Icon">

								</div>
								<div class="input-group">
									<div class="kt-uppy" id="kt_uppy_5">
										<div class="kt-uppy__wrapper">
											<div class="uppy-Root uppy-FileInput-container">
												<input class="uppy-FileInput-input kt-uppy__input-control" type="file"
													(change)="fileChangeEvent($event,cropImg)" id="kt_icon">
												<label class="btn btn-brand btn-icon-sm" for="kt_icon">
													<i class="fa fa-cloud-upload-alt"></i>
													<span>{{'COMMON.UPLOAD' | translate}}</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 validate is-invalid">
								<label>{{ 'ADMIN.DEVICETYPE.COLUMN.MANUFACTURER' | translate }}</label>
								<input type="text" class="form-control" autocomplete="false"
									formControlName="manufacturer">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-6 validate is-invalid">
								<label>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</label>
								<textarea style="height: 120px;" class="form-control" autocomplete="false" rows="3"
									formControlName="description"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="tab-pane" id="kt_tab_command" role="tabpanel">
				<ng-container [ngTemplateOutlet]="commandForm"></ng-container>
			</div>

			<div class="tab-pane" id="kt_tab_sensor" role="tabpanel">
				<form [formGroup]="ioSetting">
					<table class="table table-sensor-config" formArrayName="itemRows">
						<thead>
							<td class="kt-font-600">#</td>
							<th class="kt-font-600">{{'COMMON.COLUMN.NAME_KEY' | translate}}</th>
							<th class="kt-font-600">{{'COMMON.COLUMN.VALUE' | translate}}</th>
							<th class="kt-font-600">{{'COMMON.COLUMN.ACTIVE' | translate}}</th>
							<th class="kt-font-600">{{'COMMON.COLUMN.BASIC' | translate}}</th>
						</thead>
						<tbody>
							<tr *ngFor="let item of ConfigSensor;let i=index" [formGroupName]="i">
								<td>{{i+1}}</td>
								<td>{{item.key}}</td>
								<td>
									<input class="form-control" type="text" formControlName="value">
								</td>
								<td>
									<span class="kt-switch kt-switch--icon">
										<label>
											<input type="checkbox" name="" formControlName="active">
											<span></span>
										</label>
									</span>
								</td>
								<td>
									<span class="kt-switch kt-switch--icon">
										<label>
											<input type="checkbox" name="" formControlName="basic">
											<span></span>
										</label>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>

			<div class="tab-pane" id="kt_extension" role="tabpanel">
				<form [formGroup]="extension">
					<table class="table table-sensor-config">
						<thead>
							<td class="kt-font-600">#</td>
							<th class="kt-font-600">{{'COMMON.COLUMN.NAME' | translate}}</th>
							<th class="kt-font-600" style="width:100px">{{'COMMON.COLUMN.ACTIVE' | translate}}</th>
						</thead>
						<tbody>
							<tr *ngFor="let item of ConfigExtension;let i=index">
								<td>{{i+1}}</td>
								<td>{{item.name}}</td>

								<td>
									<span class="kt-switch kt-switch--icon">
										<label>
											<input type="checkbox" name="" formControlName="{{item.id}}">
											<span></span>
										</label>
									</span>
								</td>

							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>

</ng-template>
<!-- comfirm delete -->
<ng-template #tmpConfirmDelete>

	<i class="fa fa-question-circle"></i>
	{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}
</ng-template>

<!-- end:: Content -->

<ng-template #commandForm>
	<div class="kt-section">
		<form class="kt-form kt-padding-l-5" autocomplete="off" [formGroup]="formAddCommand" novalidate="novalidate">
			<div class="kt-portlet__body">
				<div class=" row">
					<div class="col-md-4 form-group validate is-invalid ">
						<div class="show-error">
							<label>{{ 'COMMON.COLUMN.KEY' | translate }}</label>
							<span class="text-danger"> *</span>
						</div>
						<div class="typeahead-ct">
							<input type="text" class="form-control" formControlName="key" [ngbTypeahead]="search"
								[resultTemplate]="rt" (focus)="focus$.next($event.target.value)"
								(click)="click$.next($event.target.value)" [container]="body" [autocomplete]="true"
								#instance="ngbTypeahead" autocomplete="off">
							<!-- <span class="kt-input-icon__icon kt-input-icon__icon--left">
								<span><i class="icon-key"></i></span>
							</span> -->
						</div>

						<ng-template #rt let-r="result" let-t="term">
							<!-- <i class="icon-user1"></i>     -->
							<ngb-highlight [result]="r" [term]="t"></ngb-highlight>
						</ng-template>
						<kt-message-error [errorFormGroup]="fAddCommand" [errorFormControlName]="'key'">
						</kt-message-error>
					</div>
					<div class="col-md-4 validate is-invalid form-group">
						<label>{{ 'COMMON.COLUMN.CONTENT' | translate }}</label>
						<input type="text" class="form-control" formControlName="command" autocomplete="off"
							(keydown.enter)="addCommand()">
						<!-- <kt-message-error [errorFormGroup]="fAddCommand" [errorFormControlName]="'command'"></kt-message-error> -->
					</div>
					<div class="col-md-3 form-group">
						<label> &nbsp; &nbsp;</label>
						<button type="button" class="btn btn-brand btn-icon-sm btn-pill form-control" [disabled]="formAddCommand.invalid"
							(click)="addCommand()" aria-expanded="false">
							<i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
							<!-- {{'ADMIN.DEVICETYPE.GENERAL.COMMAND' | translate | lowercase }} -->
						</button>
					</div>
				</div>

			</div>
		</form>
		<!-- <div class="kt-section__info">
			
		</div> -->
		<div class="kt-section__content">
			<form class="kt-form"  [formGroup]="commandsForm" novalidate="novalidate">
				<div class="kt-portlet__body" formArrayName="itemRows">
					<table class="table table-sensor-config">
						<colgroup>
							<col style="width: 50px">
							<col data-width="2">
							<col data-width="2">
							<col data-width="2">
							<col style="width: 100px">
							<col style="width: 100px">
						</colgroup>
						<thead>
							<tr>
								<th>#</th>
								<th>{{'COMMON.COLUMN.KEY' | translate}}</th>
								<th>{{'COMMON.COLUMN.KEY_TRANSLATED' | translate}}</th>
								<th>{{'COMMON.GENERAL.COMMAND' | translate}}</th>
								<th>{{'COMMON.GENERAL.PASSWORD' | translate}}</th>
								<th>{{'COMMON.ACTIONS.ACTIONS' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of  formArr.controls;let i=index" [formGroupName]="i">
								<td>{{i+1}}</td>
								<td>
									<input type="text" class="form-control" autocomplete="false" name="name" [attr.disabled]="true"
										formControlName="name">
								</td>
								<td><input type="text" class="form-control" readonly="true"  [attr.disabled]="true" value="{{ 'COMMON.COMMAND.'+ row.controls['name'].value | translate}}"></td>
								<td>
									<input type="text" class="form-control" autocomplete="false" name="commandStr"
										formControlName="commandStr">
								</td>
								<td>
									<span class="kt-switch kt-switch--icon">
										<label>
											<input type="checkbox" name="password" formControlName="password">
											<span></span>
										</label>
									</span>
								</td>
								<td><a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
										class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="removeCommand(i)">
										<i class="icon-trash"></i></a>
								</td>
							</tr>
							<tr>
								<td colspan="6" style="padding: 20px;text-align: center;">
									<span *ngIf="formArr.controls.length==0" class="kt-datatable--error"
										[innerHTML]="'COMMON.MESSAGE.NO_RECORDS_FOUND' | translate">No records
										found</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</ng-template>

<ng-template #cropImg let-modal>
	<div class="modal-header">
		<h5 class="modal-title">
			{{'ADMIN.DEVICETYPE.GENERAL.TITLE_CROP_PICTURE' | translate}}
		</h5>
		<button type="button" class="close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<div class="modal-body">
		<image-cropper [imageChangedEvent]="imageChangedEvent" outputType="both" [maintainAspectRatio]="true"
			[resizeToWidth]="100" [resizeToHeight]="50" format="png" (imageCropped)="imageCropped($event)"
			(imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
		</image-cropper>

		<img [src]="croppedImage.base64" />
	</div>
	<div class="modal-footer">

		<button type="button" class="btn btn-primary"
			(click)="modal.close('Save click')">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
		<button type="button" class="btn btn-secondary"
			(click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
	</div>
</ng-template>
<!--end modal delete user-->