.kt-datatable__body_overlow_y{
    overflow: auto;
    max-height: calc(100vh - 460px);
  }
  @media (max-width: 1400px) {

    .kt-main_report .kt_datatable {
      min-height: calc(100vh - 290px) !important;
    }
  }
.kt-datatable_group{
  td{
    position: relative;
    span.show-chart{
      position: absolute;
      right: 119px;
      top: 10px;
      color: #5867dd !important;
      cursor: pointer;
    }
  }
}
.show-chart i{
  color: #5d78ff;
    cursor: pointer;
}
.kt-datatable__head{
  .kt-datatable__row{
    display: table-row !important;
    th{
      border: 1px solid #f0f3ff;
      padding-left: 10px!important;
      padding-right: 10px!important;
      text-align: center;
    }
  }
}
.box-export-file{
  padding: 10px 0px 20px;
}
.kt-datatable__table_report, .kt-datatable__pager{
  // min-width: 1400px   !important;
}
.kt-datatable__table_report_fuel 
{
  .kt-datatable__table_report,.kt-datatable__pager
  {
    // min-width: 1400px   !important;
  }
}
.td-list-fuel tr:last-child{
border:none;
}
.kt-datatable__row__report{
  display: block !important;
}
