@media (max-width:1024px){
    .mp-map-sidebar{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 99999;
        &.mobile{
            display: block;
        }
    }
}
.kt-aside-overlay{
    display: none!important;
}
.kt-aside-overlay.show{
    display: block!important;
}
.sort-check {
    position: absolute;
    right: 45px;
}
.car-list-item-wrap{
    border-bottom: 1px solid #c1c1c1!important;
    .car-list-item{
        &.active{
            background: #5576e917;
        }
        &:hover{
            background: #5576e917;
        }
    }
}

