.kt-datatable__body_overlow_y{
    overflow: auto;
    max-height: calc(100vh - 460px);
  }
  @media (max-width: 1400px) {
  
    .kt-main_report .kt_datatable {
      min-height: calc(100vh - 290px) !important;
    }
  }
  .kt-datatable__table_report, .kt-datatable__pager{
    min-width: 1643px   !important;
  }
  .kt-datatable__table_report_fuel 
  {
    .kt-datatable__table_report,.kt-datatable__pager
    {
      min-width: 1643px   !important;
    }
  }
  .kt-main_report > div.kt-portlet--main .kt_datatable table, .kt-main_report > div.kt-portlet--main .kt_datatable .kt-datatable__pager
  {
    min-width: 1643px   !important;

  }