<div  class="open-quick-layout" *ngIf="collapsed && mouseEnter"></div>
<div  *ngIf="btnClose" class="user-tree-close-2" style="height: 25px;">
    <a class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="close()"
        style="background: #f0f3ff;position: absolute; top:2px;right: 2px;border-radius: 5px;">
        <i class="icon-times"></i>
    </a>
</div>
<div *ngxPermissionsOnly="['ROLE_user.tree']" class="user-tree"  [ngClass]="{'collapsed':collapsed, 'open-quick':collapsed && mouseEnter}" 
    [ngStyle]="style"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()">
    <div *ngIf="btnClose" class="user-tree-close " style="height: 25px;">
        <!-- <a class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="close()"
            style="background: #f0f3ff;position: absolute; top:2px;right: 2px;border-radius: 5px;">
            <i class="icon-times"></i>
        </a> -->
    </div>
    <div *ngIf="allowCollapse" class="user-tree-collapse">
        <a class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="collapse()">
            <i [ngClass]="{'icon-angle-left':collapsed==false,'icon-angle-right':collapsed==true}"></i>
        </a>
    </div>

    <div class="ng-autocomplete">
        <div class="kt-input-icon kt-input-icon--left">
            <ng-autocomplete #autoComplete [data]="dataSearch" class="autocomplete-custom"
                [ngClass]="{'is-search':showResultSearch,'search-not-found':searchNotFound}"
                placeHolder="{{'COMMON.USER_TREE.USER_NAME__ACCOUNT' | translate}}" [searchKeyword]="keyword"
                (selected)='selecteSearchUser($event)' [ngTemplateOutlet]="template" (inputChanged)='searchUser($event)'
                (inputFocused)='onSearchFocused($event)' [itemTemplate]="itemTemplate" [debounceTime]=400
                [notFoundTemplate]="notFoundTemplate" [isLoading]="isLoading" (closed)="closedSearch($event)"
                (opened)="openSearch($event)" (inputCleared)="clearInputSearch($event)">
            </ng-autocomplete>
            <span class="kt-input-icon__icon kt-input-icon__icon--left" style="z-index:1"
                [ngStyle]="{'z-index':collapsed?'0':'1'}">
                <span><i class="icon-search"></i></span>
            </span>
        </div>

        <ng-template #template>
            <div class="kt-spinner kt-spinner--md kt-font--danger"></div>
        </ng-template>
        <ng-template #itemTemplate let-item>
            <li data-id="#item_{{item.id}}">
                <span [innerHTML]="item.keyDisplay"></span>
            </li>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div>
                <kt-not-found [size]="'xs'"></kt-not-found>
            </div>
        </ng-template>
    </div>
    <!-- end search-->
    <!-- tree root -->
    <div class="tree-view" style="flex: 2 0px;
    overflow: hidden;
    display: flex;
    /* max-width: 100%; */
    width: 100%;" 
       >
        <tree-root #nametree [nodes]="nodes" [focused]="true" [options]="options" [(state)]="state">
            <ng-template #treeNodeTemplate let-node let-index="index">
                    <!-- <input (click)="go(tree, node, $event)" type="checkbox" #Nodecheck> -->

                <div *ngIf="checkBox" class="checkbox-user-tree">
                        <input
                        (change)="check(node, !node.data.checked)"
                        type="checkbox"
                        [indeterminate]="node.data.indeterminate"
                        [checked]="node.data.checked"
                        [attr.disabled] = "node.data.id == idRoot && checkBox && disableRoot == true || listCheckbox.length > 0?'':null"
                        >
                </div>
                <div class="node" [ngClass]="{'right-content-checkbox':checkBox}" ngbTooltip="{{node.data.name}}" container="body" (click)="selecteNode(node)">
                    <span>
                        <i
                            class="fa fa-user {{node.data.type<2 || node.data.type == 0?'icon-user-tree-parent':'icon-user-tree-child'}}">
                        </i>
                    </span>
                    <span #itemTree_{{node.data.id}} class="user-tree-name" id="{{userTreeName}}_{{node.data.id}}">
                        {{node.data.username}}
                    </span>
                    <span *ngIf="showCountDevice">&nbsp;(<span
                            *ngIf="node.data.root">{{'COMMON.USER_TREE.STOCK'| translate | lowercase}}&nbsp;{{node.data.stockDevice | number}}/{{'COMMON.USER_TREE.TOTAL'| translate | lowercase}}&nbsp;{{node.data.totalDevice | number}}</span><span
                            *ngIf="!node.data.root">{{node.data.stockDevice | number}}/{{node.data.totalDevice | number}}</span>)
                    </span>
                    <span *ngIf="showPoint && node.data.currentPoint>0"> &nbsp;({{ node.data.currentPoint | number}}<span
                            *ngIf="node.data.root">&nbsp;{{'COMMON.USER_TREE.POINT'| translate | lowercase}}</span>)
                    </span>
                </div>
            </ng-template>

        </tree-root>
    </div>
  
</div>
<div *ngxPermissionsOnly="['ROLE_user.tree']"  class="kt-aside-overlay" (click)="close()"></div>
