.angular-tree-component {
  // max-height: unset!important;
  display: flex !important;
}

.ng-autocomplete {
  position: relative;
  // overflow: hidden;
}

.open-quick-layout {
  height: 100%;
  background: #fff;
  width: 20px;
  float: left;
}

.user-tree {
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  padding: 10px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  width: 300px;
  min-height: 250px;
  transition: width 0.3s;

  &.collapsed {
    transition: width 0.3s;
    width: 10px;

    .user-tree-collapse {
      display: block;
    }

    .ng-autocomplete {
      display: none;
    }
  }

  &.open-quick {
    width: 300px;
    min-height: 250px;
    transition: width 0.3s;
    position: absolute;
    z-index: 1000;
    border-right: 1px solid #c1c1c1;

    .ng-autocomplete {
      display: block !important;
    }
  }

  .user-tree-collapse {
    display: none;
  }

  &:hover {
    .user-tree-collapse {
      display: block;
    }
  }
}

.user-tree-name {
  display: inline-block;
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #384045;
}

.node {
  display: flex;
  white-space: normal;
}

tree-viewport>div {
  padding-bottom: 0px;
  height: 500px;
}

.user-tree-close-2,
.user-tree-close {
  display: none;
}

.user-tree-collapse {
  position: relative;

  a {
    background: #5578eb;
    position: absolute;
    top: -10px;
    right: -20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    cursor: pointer;

    i {
      color: #fff !important;
    }
  }
}

.kt-aside-overlay {
  display: none;
}

@media (max-width: 1024px) {
  .user-tree-close-2 {
    height: 25px;
    position: fixed;
    width: 300px;
    top: 0px;
    left: 0px;
    z-index: 999999;
    display: block;
  }

  .user-tree-close {
    display: block;
  }

  .user-tree-collapse {
    display: none !important;
  }

  .user-tree {
    &.collapsed {
      // transition: width 0.3s;
      width: 300px;
      min-height: 250px;
      transition: width 0.3s;

      .user-tree-collapse {
        display: block;
      }

      .ng-autocomplete {
        display: block;
      }
    }
  }


  // .user-tree{
  //   position: fixed;
  //   z-index: 99999;
  //   top: 0px;
  //   left: 0px;
  // }
}

.checkbox-user-tree {
  // float: left;
  // display: flex;
  position: absolute;
  padding-top: 3px;
  padding-right: 8px;
}

.right-content-checkbox {
  padding-left: 20px;
}