.kt-nav__link-icon {
  flex: 0 0 20px !important;
  font-size: 1.25rem;
  line-height: 0;
  padding: 8px;
  border: 2px solid;
  border-radius: 5px;
  margin-right: 10px;
}
.kt-header__topbar-icon {
  .kt-nav__link-icon {
    margin: auto;
    flex: 0 0 20px !important;
    font-size: 1.25rem;
    line-height: 0;
    padding: 0px;
    border: 0px solid;
    border-radius: 0px;
    margin-right: 10px;
    i{
        color:#5d78fe!important;
    }
    
  }
}
.kt-nav__item--active {
  .kt-nav__link-icon {
    flex: 0 0 20px !important;
    font-size: 1rem;
    line-height: 0;
    padding: 2px !important;
    border: 2px solid;
    // border-radius: 20px;
    margin-right: 10px;
  }
}
@media(max-width:425px){
  .dropdown-menu{
      transform:translate(calc(-50% + 20px), 49px) !important;
  }
}