<div ngbDropdown [placement]="'bottom-right'" class="kt-header__topbar-item kt-header__topbar-item--langs">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">      
		<span class="kt-header__topbar-icon"
            [ngClass]="{ 'kt-header__topbar-icon--brand' : iconType === 'brand' }">
            <span class="kt-nav__link-icon kt-color-brand">                            
                <i class="icon-clone ic-sm" ></i>
            </span>
            <!-- <i class="icon-circle1 ic-lg" [ngStyle]="{'color':theme.color}"></i> -->
			<!-- <img class="" src="{{language?.flag}}" alt=""/> -->
		</span>
	</div>
	<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
		<ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
			<ng-container *ngFor="let theme of themes">
				<li class="kt-nav__item" [ngClass]="{'kt-nav__item--active': theme.active}">
					<a  ngbDropdownToggle href="javascript:;" (click)="setTheme(theme)" [ngClass]="{'kt-nav__link--active': theme.active}" class="kt-nav__link">
						<span class="kt-nav__link-icon" [ngStyle]="{'background':theme.color}">                            
                            <i *ngIf="theme.active" class="icon-check ic-sm" ></i>
						</span>
						<span class="kt-nav__link-text">{{theme.translate | translate}}</span>
					</a>
				</li>
			</ng-container>
		</ul>
	</div>
</div>
