// load base demo styles. for demo purpose, the style will be loaded here
// for production, include the demo base style in /src/index.html file to load the css earlier
@import "../../../../../assets/css/default/style.bundle.css";

// static skins css
// @import "../../../../../assets/css/default/skins/header/base/light.css";
// @import "../../../../../assets/css/default/skins/header/menu/light.css";
// @import "../../../../../assets/css/default/skins/brand/light.css";
// @import "../../../../../assets/css/default/skins/aside/light.css";

kt-base {
	opacity: 0;
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}

.kt-page--loaded {
	kt-base {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
}
.kt-content{
	padding: 0px!important;
}