<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">

    <div class="user-tree kt-body--left tree-mobile" [ngClass]="{'kt-hide':!showUserTree}"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" (changeUser)="changeUserTree($event)" [allowCollapse]="true" [btnClose]="true">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MANAGE.GENERAL.USER_ALIAS' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm btn-pill"
                            (click)="buttonAddNew(content)">
                            <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                            {{'MANAGE.GENERAL.USER_ALIAS' | translate  }}
                        </button>

                        <button style="margin-left:10px;" type="button" class="btn btn-brand btn-icon-sm btn-pill"
                            routerLink="/manage/role-alias" *ngxPermissionsOnly="['ROLE_manage.role_alias']">
                            {{'MENU.ROLE_ALIAS' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
          
            </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormUserAlias" (ngSubmit)='searchUserAlias(searchFormUserAlias)'>

                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                        placeholder="{{'MANAGE.USER.GENERAL.USERNAME_OR_NAME' | translate}}"
                                        formControlName="username">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-6 col-sm-12">
                                    <div class="form-group form-group--mobile">
                                        <label class="kt-checkbox">
                                            <input type="checkbox" formControlName="subAccount">
                                            {{'MANAGE.DEVICE.GENERAL.SUB_ACCOUNT' | translate}}
                                            <span></span>
                                        </label>
                                        &nbsp;
                                        <button type="submit" class="btn btn-outline-brand btn-pill">
                                            <i class="icon-search"></i>{{'COMMON.SEARCH' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" style="display: block;">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;">
                                <!-- subRow -->
                                <td *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                            'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="Username" class="kt-datatable__cell" ngbTooltip="{{item.username}}">
                                    <span [ngStyle]="dataTable.getColumns()[1].style">{{item.username}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                    class="kt-datatable__cell" ngbTooltip="{{item.roleName}}">
                                    <span [ngStyle]="dataTable.getColumns()[2].style">{{item.roleName}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    class="kt-datatable__cell" ngbTooltip="{{item.name}}">
                                    <span [ngStyle]="dataTable.getColumns()[3].style">{{item.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    class="kt-datatable__cell" ngbTooltip="{{item.phone}}">
                                    <span [ngStyle]="dataTable.getColumns()[4].style">{{item.phone}}</span>
                                </td>
                                <td ngxClipboard [cbContent]="item.email" (cbOnSuccess)="copied($event)"
                                    [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    class="kt-datatable__cell clipboard" ngbTooltip="{{item.email}}">
                                    <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                        <i class="icon-copy"></i>
                                    </a>
                                    <span [ngStyle]="dataTable.getColumns()[5].style">{{item.email}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    class="kt-datatable__cell">

                                    <span [ngStyle]="dataTable.getColumns()[6].style">
                                        <i *ngIf="item.status == 1" class="fa fa-check-circle kt-font-success"></i>
                                        <i *ngIf="item.status == 0" class="fa fa-check-circle kt-font-danger"></i>
                                    </span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[7].style">{{item.createdAt | userDate}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[8].isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[8].style">

                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                            (click)="editUserAlias(item,content)"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                            <i class="icon-edit
                                          "></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.GENERAL.RESET' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            data-original-title="Reset password User"
                                            (click)="getIdAction(item.id,reset)">
                                            <i class="icon-sync"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            data-original-title="Delete User" (click)="getIdAction(item.id,delete)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>

                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[1].style">{{item.userName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[2].style">{{item.roleName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[3].style"
                                                    translate="{{item.nameKey}}">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[4].style"
                                                    translate="{{item.nameKey}}">{{item.phone}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td ngxClipboard [cbContent]="item.email" (cbOnSuccess)="copied($event)"
                                                class="kt-datatable__cell clipboard">
                                                <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                                    <i class="icon-copy"></i>
                                                </a>
                                                <span [ngStyle]="dataTable.getColumns()[5].style"
                                                    translate="{{item.nameKey}}">{{item.email}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell clipboard">
                                                <span [ngStyle]="dataTable.getColumns()[6].style">
                                                    <i *ngIf="item.status == 1"
                                                        class="fa fa-check-circle kt-font-success"></i>
                                                    <i *ngIf="item.status == 0"
                                                        class="fa fa-check-circle kt-font-danger"></i>
                                                </span>
                                            </td>
                                        </tr>


                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[7].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[7].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell clipboard">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[7].style">{{item.createdAt | userDate}}</span>

                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[8].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[8].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span style="overflow: visible; position: relative; width: 110px;">

                                                    <a title="Edit details"
                                                        (click)="editUserAlias(item.id,'#modal-users')"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                        <i class="icon icon-edit
                                                          "></i>
                                                    </a>
                                                    <a title="refresh" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        data-original-title="Reset password User"
                                                        (click)="getIdAction(item.id,content)">
                                                        <i class="icon icon-sync"></i>
                                                    </a>
                                                    <a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        data-original-title="Delete User"
                                                        (click)="getIdAction(item.id,'#modal-delete-user')">
                                                        <i class="icon icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>


                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>

                </table>

                <!--*paging nav*-->
                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>
            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 69px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="isEdit">
            {{'MANAGE.USER_ALIAS.TITLE_FORM_EDIT' | translate}}
        </h5>
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'MANAGE.USER_ALIAS.TITLE_FORM_ADD' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="kt-portlet__body">
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand kt-pd-10" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kt_tab_base" role="tab"
                        aria-selected="false">{{ 'MANAGE.USER_ALIAS.GENERAL.BASE' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_advanced" role="tab" (click)="openTabAdvanced()"
                        aria-selected="true">{{ 'MANAGE.USER_ALIAS.GENERAL.DEVICES' | translate }}</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div class="tab-pane active" id="kt_tab_base" role="tabpanel">
                    <form [formGroup]="formUserAlias" (ngSubmit)='onSubmit(formUserAlias)' class="form-global">
                        <div class="" *ngFor="let data of dataDefault">
                            <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">{{'COMMON.COLUMN.USERNAME_MAIN'| translate}}</label>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" disabled="disabled" placeholder=""
                                            value="{{userSelected.username}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">{{'COMMON.COLUMN.USERNAME'| translate}}</label>
                                        <app-control-messages [control]="f['username']"></app-control-messages>
                                        <span class="text-danger"> *</span>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="username"
                                            [attr.disabled]="isEdit ? '' : null" placeholder="">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">
                                            {{'MANAGE.USER.GENERAL.ROLE_NAME' | translate}}
                                        </label>
                                        <app-control-messages [control]="f['role']"></app-control-messages>
                                        <span class="text-danger"> *</span>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control kt_selectpicker padding-7" formControlName='role'
                                            title="{{'COMMON.MESSAGE.NOTHING_SELECTED' | translate}}" id="roleAlias">
                                            <option *ngFor='let role of listRoles' value="{{role.id}}">
                                                {{role.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">{{'MANAGE.USER.GENERAL.FULL_NAME'| translate}}</label>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="name" placeholder="">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">{{'MANAGE.USER.GENERAL.EMAIL'| translate}}</label>
                                        <app-control-messages [control]="f['email']"></app-control-messages>
                                        <span class="text-danger"> *</span>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="email" placeholder="">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">{{'MANAGE.USER.GENERAL.PHONE'| translate}}</label>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="phone" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">{{'MANAGE.USER.GENERAL.START_TIME'| translate}}</label>
                                    </div>
                                    <div class="input-group">
                                        <kt-date-range-picker container="body" #startTimeCpn class="col-md-12 px-0"
                                            [options]="datetimeOptionsStartTime"
                                            (dateChange)="onChangeStartTime($event)">
                                        </kt-date-range-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">{{'MANAGE.USER.GENERAL.END_TIME'| translate}}</label>
                                    </div>
                                    <div class="input-group">
                                        <kt-date-range-picker container="body" #endTimeCpn class="col-md-12 px-0"
                                            [options]="datetimeOptionsEndTime" (dateChange)="onChangeEndTime($event)">
                                        </kt-date-range-picker>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--end body modal-->

                    </form>
                </div>
                <div class="tab-pane" id="kt_tab_advanced" role="tabpanel">
                    <!-- <div class="row form-group">
                                <div class="col-lg-12">
                                    <div class="show-error">
                                        <label class="">Nhóm thiết bị</label>
                                    </div>
                                    <div class="input-group">
                                            <select       
                            
                                                multiple
                                                
                                                id="select-device-group"
                                                class="form-control kt_selectpicker"
                                                data-size = "5"
                                                data-live-search="true"
                                                title="Chọn nhóm"
                                                >
                                                <ng-container  *ngFor='let deviceGroup of listDeviceGroup'>
                                                        
                                                        <option value="{{deviceGroup.id}}">
                                                            {{deviceGroup.name}}
                                                        </option>
                                                </ng-container>
                                           </select>
                                    </div>
                                </div>
                     </div> -->
                     <!-- <div class="row form-group">
                            <div class="col-lg-12">
                                    <div class="show-error">
                                            <label class="">Thiết bị ({{countChecked}})</label>
                                     </div>
                                     <div class="lists-group-permission lists-devices">
                                            <kt-box-check-list #boxListDevices [data]="listDevices" [filter]='keySearchFilter'
                                                        placeholder="{{'MANAGE.DRIVER.GENERAL.NAME' | translate}}..." [isSwitch]="false"
                                                        (checkedChange)="changeChecked($event)">
                                            </kt-box-check-list>
                                     </div>
                            </div>
                     </div>     -->
                   <list-group-device 
                    [userIdChange]="userIdChangeEmiter"
                    (checkedChange) = "changeListDeviceGroup($event)"
                    >

                   </list-group-device>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" (click)="onSubmit()" *ngIf="!isEdit" [disabled]="formUserAlias.invalid"
            class="btn btn-primary">
            {{'COMMON.ACTIONS.ADD' | translate }}
        </button>
        <button *ngIf="isEdit" (click)="onSubmit()" type="submit" [disabled]="formUserAlias.invalid"
            class="btn btn-primary ">
            {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
        </button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
        <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
    </div>

</ng-template>
<!-- end modal popup -->
<!-- end:: Content -->
<!--modal reset pass-->

<ng-template #reset let-modal>

    <div class="modal-header">
        <h5 class="modal-title">{{'COMMON.MESSAGE.COMFIRM_RESET' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <i class="fa fa-question-circle"></i> {{'COMMON.MESSAGE.PASSWORD_DEFAULT' | translate }}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="resetPassword()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close()"
            data-dismiss="modal">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>
</ng-template>
<!--end modal reset pass-->
<!-- modal delete user -->
<ng-template #delete let-modal>

    <div class="modal-header">
        <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }} {{'MANAGE.GENERAL.USER' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <i class="fa fa-question-circle"></i> {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="deleteUser()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close()"
            data-dismiss="modal">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>
</ng-template>
<!--end modal delete user-->