.modal-body-Command .kt-portlet__body_command {
    max-height: 300px !important;
    padding-bottom: 10px !important;
    min-height: 150px !important;
}

.modal-body-Command .kt-portlet .kt-portlet__head {
    height: 50px;
}