
 <div style="overflow: auto;">
    <div style="max-height:calc(100vh - 70px)">
 
   <div class="setting-dashboard">
         <div class="accordion" id="accordionExample1">
 
             <div id="collapseOne4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                 <div class="card-body">
                         
                         <fieldset class="metabox-prefs" *ngFor="let item of settingDashBoard">
                                 <legend>{{item.name | translate}}</legend>
                             
                                 <label *ngFor="let itemCheck of item.lists"  class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                     <input type="checkbox" (click)="changeCheckbox(itemCheck.id)" [checked]="itemCheck.checked"> {{itemCheck.name | translate}}
                                     <span >
                                     
                                     </span>
                                 </label>
                     </fieldset>     
                             
                 </div>
             </div>
             <button
             #messageEl
             type="button" class="button-expanded-setting" 
              data-toggle="collapse" data-target="#collapseOne4"
               aria-expanded="false" aria-controls="collapseOne4" 
             (click) = "checkStatusClose(messageEl)">{{'DASHBOARD.OPTION' | translate}}
             <i *ngIf="!statusClose" class="icon-angle-down"></i>
             <i *ngIf="statusClose" class="icon-angle-up"></i>
            </button>
     </div>
     </div>
     <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor dashboard" id="kt_content" >
     <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" >
 
     <div class="row">
         <div class="col-xl-6 col-lg-6"
          *ngIf="checkDisplay('chart_online') || checkDisplay('active')"
          [ngClass]="{'col-xl-12 col-lg-12' : !checkDisplay('idlings') && !checkDisplay('stop') && !checkDisplay('distances')}">
             <div class="">
                 <div class="kt-portlet__body kt-portlet__body-devices " *ngIf = "totalDevices > 0">
                     <div class="row">
                         <div *ngIf="checkDisplay('chart_online')" class="col-xl-6 box-device" [ngClass] = "{'col-xl-12 col-lg-12' : checkCount('status') == 1}">
                                <div class="close-widget" (click)="changeCheckbox('chart_online')">
                                    <i class="flaticon2-delete"></i>
                                </div>
                                 <div class="kt-portlet kt-portlet--mobile">
                                         <div class="card-title" >
                                             {{'DASHBOARD.PARAMS.CHART_STATUS' | translate}}
                                         </div>
                                     <div class="kt-portlet__body" style="padding-top: 0px;padding-bottom: 100px;" *ngIf = "totalDevices > 0">
                                         <div class="row">
                                             
                                                     <div class="kt-portlet kt-portlet--height-fluid chart-doughnut-total" style="    box-shadow: none;">
                                                             <div class="kt-widget14">
                                                                 
                                                                 <div class="kt-widget14__content">	
                                                                     <div class="kt-widget14__chart">
                                                                         <div class="chartjs-size-monitor">
                                                                             <div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                                                         <div class="kt-widget14__stat">{{deviceActive}}</div>
                                                                                                                     
                                                                             <kt-chart-status
                                                                             [listLable] = 'listLable'
                                                                             [data] = 'data'
                                                                             ></kt-chart-status>
                                                                         </div> 
                                                                 
                                                                 </div> 
                                                             </div>
                                                     </div>
                                                     
                                         </div>
                                     
                                     </div>
                                     <div class="kt-portlet__body kt-align-center" *ngIf = "totalDevices == 0">
                                             <span  style= "font-size: 15px;font-weight: bold;"><i  class="icon-search" style="margin-right: 4px;"></i>
                                                 {{'DASHBOARD.NO_DEVICE' |  translate}} 
                                             </span>
                                                     
                                     </div>
                                     
                                 </div>
                         </div>
                         <div class="col-xl-6 box-user" *ngIf="checkDisplay('active')" [ngClass] = "{'col-xl-12 col-lg-12' : checkCount('status') == 1}">
                            <div class="close-widget" (click)="changeCheckbox('active')">
                                <i class="flaticon2-delete"></i>
                            </div>
                             <div class="kt-portlet kt-portlet--mobile">
                                 <div class="card-title" >
                                         {{'DASHBOARD.PARAMS.ACTIVE' | translate}}
 
                                 </div>
                                 <div class="kt-portlet__body kt-portlet__body_chart">
                             
                                             <div  class="row box-chart-onoff">
                                                     <div class="progress progress-lg progress-active" style="width: 100%;">
                                                         <div class="float-left kt-align-center" *ngFor = 'let item of listOnOff' [ngStyle] = "item.style">
                                                             <span>
                                                                     {{item.title}}
                                                             </span>
                                                         </div>
                                                         
                                                     </div>
                                                     <div class="total">
                                                         <div class="kt-widget14">
                                                             <div class="kt-widget14__legends" style="padding-left:0px;">
                                                                     <div class="kt-widget14__legend" *ngFor = 'let item of listLabelOnoff'>
                                                                         <span class="kt-widget14__bullet" [ngStyle] = "item.style"></span>
                                                                         <span class="kt-widget14__stats">{{item.title | translate}} ({{item.value}})</span>
                                                                     </div>
                                                             </div>
                                                         </div>   	
                                                     </div>
                                             </div>
                                             <!-- <div  *ngIf="checkDisplay('sell')" class="row box-chart-onoff box-chart-sell">
                                                     <div class="progress progress-lg progress-active" style="width: 100%;">
                                                         <div class="float-left kt-align-center" *ngFor = 'let item of listSell' [ngStyle] = "item.style" >
                                                             <span>
                                                                     {{item.title}}
                                                             </span>
                                                         </div>
                                                         
                                                     </div>
                                                     <div class="total">
                                                         <div class="kt-widget14">
                                                                 <div class="kt-widget14__legends" style="padding-left:0px;">
                                                                         <div class="kt-widget14__legend" *ngFor = 'let item of listSellLabel'>
                                                                         <span class="kt-widget14__bullet" [ngStyle] = "item.style"></span>
                                                                         <span class="kt-widget14__stats">{{item.title | translate}} ({{item.value}})</span>
                                                                     </div>
                                                             </div>
                                                         </div>   	
                                                     </div>
                                             </div> -->
                                 
                                 </div>
                             </div>
                         </div>
                         
                     </div>    
                 </div>
         
             </div>
         </div>
         <div class="col-xl-6 col-lg-6"  [ngClass]="{'col-xl-12 col-lg-12' : !checkDisplay('chart_online') && !checkDisplay('active')}">
             <div class="">
                 <div class="kt-portlet__body kt-portlet__body_chart">
                         <div class="row" *ngIf = "totalDevices > 0" id="Chart-statics">
                             
                         
                             <div *ngIf="checkDisplay('distances')" class="col-xl-6 box-user" [ngClass] = "{'col-xl-12 col-lg-12' : checkCount('staticic') == 1}">
                                    <div class="close-widget" (click)="changeCheckbox('distances')">
                                        <i class="flaticon2-delete"></i>
                                    </div>
                                    <div class="kt-portlet kt-portlet--mobile">
                                        <div class="card-title" >
                                                {{'DASHBOARD.STATIC.TOP_10_DISTANCE'|translate}}
                                        </div>
                                        <div class="kt-portlet__body kt-portlet__body_chart">
                                    
                                            <div class="row box-chart-dashboard">
                    
                                                <kt-charts-db
                                                style="width:100%"      
                                                [ConfigChart] = "ConfigChartDistance"
                                            ></kt-charts-db>

                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                            </div>

 
                             <div *ngIf="checkDisplay('idlings')" class="col-xl-6 box-user" [ngClass] = "{'col-xl-12 col-lg-12' : checkCount('staticic') == 1}">
                                        <div class="close-widget" (click)="changeCheckbox('idlings')">
                                            <i class="flaticon2-delete"></i>
                                        </div>
                                         <div class="kt-portlet kt-portlet--mobile">
                                             <div class="card-title" >
                                                     {{'DASHBOARD.STATIC.TOP_10_IDLING'|translate}}
                                             </div>
                                             <div class="kt-portlet__body kt-portlet__body_chart">
                                         
                                                 <div class="row box-chart-dashboard">
                         
                                                     <kt-charts-db
                                                         style="width:100%"      
                                                         [ConfigChart] = "ConfigChartIdling"
                                                     ></kt-charts-db>
 
                                                 </div>
                                             
                                             </div>
                                         </div>
                            </div>
 
                          
                                 <div *ngIf="checkDisplay('stop')" class="col-xl-6 box-user" [ngClass] = "{'col-xl-12 col-lg-12' : checkCount('staticic') == 1}">
                                    <div class="close-widget" (click)="changeCheckbox('stop')">
                                        <i class="flaticon2-delete"></i>
                                    </div>
                                     <div class="kt-portlet kt-portlet--mobile">
                                         <div class="card-title" >
                                             {{'DASHBOARD.STATIC.TOP_10_STOP'|translate}}
                                         </div>
                                         <div class="kt-portlet__body kt-portlet__body_chart">
                                     
                                             <div class="row box-chart-dashboard">
                     
                                                 <kt-charts-db
                                                     style="width:100%"      
                                                     [ConfigChart] = "ConfigChart"
                                                 ></kt-charts-db>                                               
                                             </div>
                                         
                                         </div>
                                     </div>
                         </div>
         
 
                     </div>
                 </div>
             </div>
         </div>
 
     </div>
 
     </div>
     </div>
 </div>
 </div> 