:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}
// .dashboard .kt-portlet{
// 	background-color: #7F3979;
// }
.dashboard .kt-portlet .kt-widget14.kt-box-dashboard{
	text-align: center;
	vertical-align: middle;
	height: 150px;
	transition: transform .3s;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	background-color: #5578eb;
	position: relative;
	border-radius: 5px;

}
.dashboard b{
    font-weight: normal;
}
.dashboard .kt-portlet .kt-dashboard-user
{
    background-color:#fff !important;
    border: 1px solid #5578eb;
   
}
.dashboard .kt-portlet .kt-dashboard-user p,.dashboard .kt-portlet .kt-dashboard-user i,.dashboard .kt-portlet .kt-dashboard-user span{
    color: #5578eb !important;
}
.dashboard .kt-portlet .kt-widget14.kt-box-dashboard:hover{
	transform: scale(1.03,1.06);
    z-index: 1;
}
.dashboard .kt-portlet .kt-widget14 a{
	text-align: center;
    vertical-align: middle;
    color: #fff;
}
.dashboard .kt-portlet .kt-widget14 a i{
	margin: 0 auto;
    vertical-align: middle;
    font-size: 48px;
    display: block;
    margin-top: 17px;
}
.dashboard .kt-portlet .kt-widget14 a span b{
    position: absolute;
    left: 10px;
    bottom: 8px;
    padding: 5px 10px;
    text-align: left;
    color: #FFF;
    font-size: 14px;
}
.dashboard {
	padding: 20px !important;
}
.dashboard .info-user-dashboard .kt-widget{
    background-color: #057DC3;
	padding: 20px;
	color: #fff;
}
.info-user-dashboard  .list-ul-info-user{
	margin-top: 13px;
}
.info-user-dashboard  .list-ul-info-user li{
    margin-right: 27px;
    margin-bottom: 6px;
    font-size: 14px;
}
.info-user-dashboard  .user-info__detail-item{
	font-size: 25px;
    font-weight: bold;
}
.list-params-dashboard  p{
	font-size: 32px;
    color: #fff;
    line-height: 32px;
}
.list-params-dashboard .icons-text-box{
	margin-top: 10px;
    color: #fff;
    position: relative;
}
.list-params-dashboard .icons-text-box i{
	margin-top: 6px;
    font-size: 25px;
	background-size: 360px;
	display: block;
    background-position: -5px -8px;
}
.list-params-dashboard .icons-text{
	color: #fff;
    font-weight: 300;
    margin-left: 6px;
    /* margin-top: 14px; */
    top: 10px;
    font-size: 14px;
}
.dashboard .kt-portlet__head-label{
	margin: 0px auto;
}


.dashboard  .box-device{
    // padding-right:0px;
}
.dashboard  .box-user{
    // padding-left:0px;
}
.dashboard  .box-device .kt-portlet,.dashboard  .box-user .kt-portlet{
    // box-shadow:none !important;
    // border-radius: 0px !important;
    // border-left: 1px solid #ebedf2;
}
.dashboard span.kt-widget14__stat{
    position: absolute;
    left: 131px;
    top: 157px;
    font-size: 40px;
    font-size: 3.2rem;
    font-weight: 500;
    color: #a2a5b9;
    opacity: .7;
}
.dashboard .chartjs-render-monitor
{
    width: 100% !important;
    height: 200px;
}
.dashboard .progress-active{
    height: 40px;
    color: #fff;
    font-size: 14px;

}
.dashboard .progress-active div{
    padding-top: 11px;
}
.dashboard .total{
    width: 100%;
    color: #5578eb !important;
    font-size: 16px;
    padding-top: 14px;
    font-weight: bold;
}
.chart-doughnut-total .kt-widget14{
    padding: 0px;
}
.chart-doughnut-total .kt-widget14__chart{
    // width: 240px;
    width: 100%;
}
.chart-doughnut-total .kt-widget14__legends{
    padding-left: 0px;
}
.dashboard .box-chart-onoff{
    padding-top: 13px;
}
.dashboard .box-chart-onoff .kt-widget14{
    padding-top: 0px;
    padding-left: 0px;
}
.dashboard .box-chart-onoff .kt-widget14__legend span{
    font-size: 13px;
}
.dashboard .box-chart-onoff .kt-widget14 .kt-widget14__legend{

    padding-left: 0px !important;
}
.dashboard .kt-widget14 .kt-widget14__legend{
    padding: 0.3rem 0 !important;
}
.kt-dot-notify{
    left: 50%;
    top: 26%;  
}
@media (min-width: 1365px)
{
    
}
@media (max-width: 1500px)
{
    .chart-doughnut-total .kt-widget14__chart
    {
        // width: 140px;
    }
}

.kt-portlet__body-devices{
    padding-top:0px;
    padding-bottom: 0px;
}
.kt-portlet__body-devices .box-device{
    // border-right: 1px solid #ebedf2;  
    // min-height: calc(100vh - 162px);
}
.kt-portlet_dashboard{
    height: 97%;
    min-height: calc(100vh - 100px);
}
.box-chart-dashboard{
    position: relative;

    input{
        border: none !important;
        padding-right: 0px !important;
    }
}
// .choise-date{
//     position: absolute;
//     right: 0px;
//     top: 8px;  
// }
.choise-date{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 125px;
    cursor: pointer;
}
.top-chart{
    padding-left: 36px;
    padding-bottom: 9px;
    span{
        font-weight: bold;
        font-size: 15px;
        color: #48465b;
    }
}
.kt-portlet__body_chart{
    // padding:15px 15px 0px;
    // padding:20px;
    overflow: hidden;

}
@media (max-width: 1700px)
{
 .box-user,.box-device{
     max-width: 100% !important;
     flex: 0 0 100% !important;
 }
 .chart-doughnut-total .kt-widget14__chart{
    // width: 60%;
}

}

@media (max-width: 1400px)
{


}

.box-user,.box-device{
    .card-title{
        border-bottom: 1px solid #ebedf2;
        padding: 15px;
        font-size: 15px;
        font-weight: bold;
        margin: 0px;
     
    }
    .close-widget{
        position: absolute;
        right: 17px;
        top: 4px;
        padding: 0px 6px;
        cursor: pointer;
        i{
            font-size: 9px;
        }
    }
}
.setting-dashboard{
    #accordionExample1{
        padding-bottom: 22px;
        position: relative;
        #collapseOne4{
            background: #fff;
            border-bottom: 1px solid #ccd0d4;
 
        }
        fieldset{
            legend{
                margin: 0;
                padding: 8px 0;
                font-size: 13px;
                font-weight: 600;
            }
            label{
                padding-right: 25px;
                /* line-height: 2.35; */
                font-size: 13px;
                span{
                    border: 1px solid #d1d7e2 !important; 
                }
            }

        }
    }
    .button-expanded-setting{
        i{
            margin-left: 3px;
        }
        border: 1px solid #ccd0d4;
        border-top: none;
        height: auto;
        margin-bottom: 0;
        padding: 3px 13px 3px 16px;
        background: #fff;
        border-radius: 0 0 4px 4px;
        color: #72777c;
        line-height: 1.7;
        box-shadow: 0 0 0 transparent;
        transition: box-shadow .1s linear;
        position: absolute;
    right: 19px;
    bottom: -4px;
    }
}
