.modal-body-ReportSchedule .kt-portlet--schedule{
    max-height: 250px !important;
    padding-bottom: 10px !important;
    min-height: 150px !important;
}
.lists-devices-global{
    height: 292px !important;
}
kt-date-range-picker{
    width: 100%;
}
.kt-checkbox{
    margin-bottom: 0.5rem;
}
.filter-option-inner-inner{
    display: flex;
    align-items: center;
}