<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [btnClose]="true" [allowCollapse]="true"
            (changeUser)="ChangeUserTree($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MANAGE.REPORT_SCHEDULE.GENERAL.REPORT_SCHEDULE' | translate | uppercase}}

                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm btn-pill"
                            (click)="buttonAddNew(content)">
                            <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                            {{'MANAGE.REPORT_SCHEDULE.GENERAL.REPORT_SCHEDULE' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
              
                </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormReportSchedule"
                    (ngSubmit)='searchReportSchedule(searchFormReportSchedule)'>

                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group ">
                                <input type="text" class="form-control"
                                        placeholder="{{'COMMON.COLUMN.NAME' | translate}}" formControlName="name">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-brand btn-pill">
                                    <i class="icon-search"></i>{{'COMMON.SEARCH' | translate}}</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </form>
            </div>

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                            (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                class="kt-datatable__cell kt-datatable__cell--sort">
                                <a class="kt-datatable__toggle-detail">
                                </a>
                            </th>

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;">
                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                          'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.name}}"
                                        [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[2].style"
                                        ngbTooltip="{{item.typeReport | translate}}"
                                        translate="{{item.typeReport | translate}}">{{item.typeReport | translate}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[3].style">
                                        <i [ngClass]="{
                                                'icon-file-excel1 color-excel':item.format === 'excel',
                                                'icon-file-pdf1 color-pdf':item.format === 'pdf'
                                                     }"></i> {{item.format}}
                                    </span>

                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[4].style">{{item.deviceIds.length}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span *ngIf="item.suspended" [ngStyle]="dataTable.getColumns()[5].style"
                                        ngbTooltip="{{item.keySchedule | translate}}">
                                        <i class="fa fa-check-circle kt-font-success"></i>
                                        <!-- {{item.keySchedule | translate}} -->

                                    </span>
                                    <span *ngIf="!item.suspended" [ngStyle]="dataTable.getColumns()[5].style"
                                        ngbTooltip="{{'COMMON.GENERAL.INACTIVE' | translate}}">

                                        <i class="fa fa-minus-circle kt-font-danger"></i>
                                    </span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[6].style"
                                        style="overflow: visible; position: relative;">
                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="editReportSchedule(item.id,content)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="getIdAction(item.id,delete)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[2].style"
                                                    translate="{{item.type}}">{{item.type}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[3].style"
                                                    translate="{{item.format}}">{{item.format}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[4].style"
                                                    translate="{{item.isSend}}">
                                                    {{item.devices}}
                                                </span>
                                            </td>
                                        </tr>


                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[6].style"
                                                    style="overflow: visible; position: relative;">
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="editReportSchedule(item.id,content)">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="getIdAction(item.id,delete)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>


                </table>

                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="isEdit">
            {{'MANAGE.REPORT_SCHEDULE.GENERAL.TITLE_FORM_EDIT' | translate}}
        </h5>
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'MANAGE.REPORT_SCHEDULE.GENERAL.TITLE_FORM_ADD' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form [formGroup]="formReportSchedule" (ngSubmit)='onSubmit(formReportSchedule)' class="form-global">
        <div class="modal-body div-scrollbar modal-body-ReportSchedule" *ngFor="let data of dataDefault">
            <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <div class="show-error">
                            <label class="">
                                {{'COMMON.COLUMN.NAME' | translate}}
                            </label>
                            <app-control-messages [control]="f['name']"></app-control-messages>
                            <span class="text-danger"> *</span>
                        </div>
                        <div class="input-group">
                            <input [ngModel]="isEdit?data.name:''" type="text" class="form-control"
                                formControlName="name" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-6 form-group">
                        <div class="show-error">
                            <label class="">
                                {{'MANAGE.REPORT_SCHEDULE.COLUMN.TYPE' | translate}}
                            </label>
                            <span class="text-danger"> *</span>
                        </div>
                        <div class="input-group">
                            <select [ngModel]="isEdit?data.typeReport:'-1'"
                                data-live-search="true"
                                class="form-control kt_selectpicker padding-7" formControlName="type"
                                data-size = "5"
                                data-title="{{'MANAGE.REPORT_SCHEDULE.GENERAL.SELECT_REPORTS' | translate}}">
                                <ng-container *ngFor='let item of listReports'>
                                    <option value="{{item.translate}}" *ngxPermissionsOnly="item.permission">
                                        {{item.translate | translate}}
                                    </option>
                                </ng-container>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <div class="show-error">
                            <label class="">
                                {{'MANAGE.REPORT_SCHEDULE.COLUMN.FORMAT' | translate}}
                            </label>

                        </div>
                        <div class="input-group">
                            <select [ngModel]="isEdit?data.format:'excel'"
                                class="form-control kt_selectpicker padding-7" formControlName="format">
                                <option value="excel" data-content='<div style="display:flex; align-items: center;"><i class="icon-file-excel1 color-excel ic-lg"></i>&nbsp;&nbsp;<span>Excel</span></div>'>
                                    <!-- Excel -->
                                </option>
                                <option value="pdf" data-content='<div style="display:flex; align-items: center;"><i class="icon-file-pdf color-pdf ic-lg"></i>&nbsp;&nbsp; <span>Pdf</span></div>'>
                                    Pdf
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-6 form-group">
                        <div class="show-error">
                            <label class="">
                                {{'MANAGE.REPORT_SCHEDULE.COLUMN.SEND_TO_EMAIL' | translate}}
                            </label>
                            <small *ngIf="validateObjectEmail.status" class="text-danger">
                                {{validateObjectEmail.message}}
                            </small>
                        </div>
                        <div class="input-group">
                            <input [ngModel]="isEdit?emails:''" type="text" class="form-control" formControlName="email"
                                (blur)="onKey($event)"
                                placeholder="{{'MANAGE.USER.GENERAL.EMAIL' | translate}} 1, {{'MANAGE.USER.GENERAL.EMAIL' | translate}} 2">
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 form-group">
                        <div class="show-error">
                            <label class="">
                                {{'MANAGE.ALERT_RULE.NOTIFICATION.TIME' | translate}}
                            </label>

                        </div>
                        <div class="input-group">
                            <kt-date-range-picker #datePicker [options]="datePickerOptions"
                                (dateChange)="dateSelectChange($event)">

                            </kt-date-range-picker>
                        </div>

                    </div>
                    <div class="col-lg-6 form-group">
                        <div class="row">
                            <div class="form-group col-lg-6 form-group ">
                                <div class="show-error kt-padding-l-5">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand ">
                                        <input type="checkbox" [ngModel]="isDaily" formControlName="isDaily">
                                        {{'MANAGE.REPORT_SCHEDULE.COLUMN.DAILY' | translate}}
                                        <span></span>
                                    </label>

                                </div>
                                <div class="input-group">
                                    <ngb-timepicker [ngModel]="timeDaily" formControlName="timeDaily"></ngb-timepicker>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 form-group">
                                <div class="show-error kt-padding-l-5">
                                    <label ngbTooltip="{{'MANAGE.REPORT_SCHEDULE.MESSAGE.WEEKLY_MESSAGE' | translate}}"
                                        class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                                        container="body">
                                        <input type="checkbox" [ngModel]="isWeekly" formControlName="isWeekly">
                                        {{'MANAGE.REPORT_SCHEDULE.COLUMN.WEEKLY' | translate}}
                                        <span></span>
                                    </label>

                                </div>
                                <div class="input-group">
                                    <ngb-timepicker [ngModel]="timeWeekly" formControlName="timeWeekly">
                                    </ngb-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="show-error">
                        <label class="">
                            {{'MANAGE.DEVICE.GENERAL.LIST_DEVICE' | translate}}
                        </label>
                        <span class="text-danger"> *</span>
                    </div>
                    <div class="lists-group-permission lists-devices  table-responsive list-devices-reports">
                        <kt-box-check-list [data]="listDevices" name="devices" [filter]='keySearchFilter'
                            size='col-xl-4 col-lg-6 form-group col-xs-6'
                            placeholder="{{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}}..." [isSwitch]="false"
                            (checkedChange)="changeCheckedDevice($event)"></kt-box-check-list>
                    </div>
                </div>
            </div>


        </div>
        <!--end body modal-->
        <div class="modal-footer">
            <button type="submit" *ngIf="!isEdit" [disabled]="formReportSchedule.invalid || countChecked == 0"
                class="btn btn-primary"> {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
            <button type="submit" *ngIf="isEdit" [disabled]="formReportSchedule.invalid || countChecked == 0"
                class="btn btn-primary"> {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
            </button>
            <button type="button" class="btn btn-secondary"
                (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>
</ng-template>
<!-- end modal popup -->

<!-- modal delete user -->
<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            {{'MANAGE.REPORT_SCHEDULE.GENERAL.TITLE_FORM_DELETE' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <i class="fa fa-question-circle"></i>
        {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="deleteScheduleReport()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>
</ng-template>
<!--end modal delete user-->
<!-- end:: Content -->