<div ngbDropdown (openChange)="openChange($event)" placement="bottom-right" autoClose="outside"
	class="kt-header__topbar-item">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<span (click)="showNotification()" class="kt-header__topbar-icon"
			[ngClass]="{'kt-pulse kt-pulse--brand': pulse, 'kt-pulse--light' : pulseLight, 'kt-header__topbar-icon--success' : iconType === 'success'	}">
			<!-- <i *ngIf="!useSVG" [ngClass]="icon"></i> -->
			<!-- <span *ngIf="useSVG" class="kt-svg-icon" [ngClass]="{'kt-svg-icon--success' : iconType === 'success'}" [inlineSVG]="icon"></span> -->
			<span><i class="flaticon2-bell-alarm-symbol" style="color: #5d78ff;"></i></span>
			<!-- <span class="kt-pulse__ring" [hidden]="!pulse"></span> -->
		</span>
		<!-- <span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand" [hidden]="!dot"></span> -->
		<span *ngIf='dot && countNew>0' class="kt-dot-notify">
			{{countNew}}<span *ngIf='isCross'>+</span>
		</span>

	</div>

	<div ngbDropdownMenu
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
		<form>
			<!--begin: Head -->
			<div class="kt-head kt-head--skin-{{skin}} kt-head--fit-x kt-head--fit-b kt-head-notification"
				[ngStyle]="{'background-image': backGroundStyle() }">
				<h3 class="kt-head__title">
					{{'MANAGE.ALERT_RULE.NOTIFICATION.NOTIFICATION' | translate}}&nbsp;
				</h3>
				<div class="row">
					<div class="col-sm-8 kt-align-left">
						<a style="cursor: pointer" class="mark-all-read" (click)="markAllRead()">
							{{'MANAGE.ALERT_RULE.NOTIFICATION.MARK_ALL_READ' | translate}}
						</a>
					</div>
					<div class="col-sm-4 kt-align-right">
						<a routerLink="/manage/notifications" class="mark-all-read">
							{{'MANAGE.ALERT_RULE.NOTIFICATION.VIEW_ALL' | translate}}
						</a>
					</div>
				</div>
			</div>
			<!--end: Head -->
			<div class="notification-loading">
					<div class="see-new" *ngIf="loadNew"
						[ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center':loadNew}">
					</div>
				</div>
			<div [ngStyle]="{'max-height': '40vh','overflow':'auto'}"
				class="kt-notification kt-margin-t-10 kt-margin-b-10" id="ktNotification" infiniteScroll
				[infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0"
				[infiniteScrollContainer]="'#ktNotification'" [fromRoot]="true" [alwaysCallback]="true"
				(scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
				<a href="javascript:;" class="kt-notification__item" [ngClass]="{'unread':!alert.isRead}" *ngFor='let alert of listAlerts'>
					<!-- icon -->
					<div class="kt-notification__item-icon">						
						<i class="ic-lg kt-font-danger" (click)="markAsRead(alert.id,alert.isRead)"
							ngbTooltip="{{(alert.isRead? 'MANAGE.ALERT_RULE.NOTIFICATION.MARK_AS_UNREAD':'MANAGE.ALERT_RULE.NOTIFICATION.MARK_AS_READ') | translate}}"
							[ngClass]="{'icon-bell':alert.isRead,'icon-bell1':!alert.isRead}"></i>
					</div>
					<!-- detail -->
					<div *ngIf="alert.eventType !='none'" class="kt-notification__item-details"
						ngbTooltip="{{'MANAGE.ALERT_RULE.NOTIFICATION.CLICK_HERE_FOR_VIEW_DETAIL' | translate}}"
						(click)="showAlert(content,alert)">
						<div class="kt-notification__item-title kt-datatable__cell"
							[ngClass]="alert.isRead==0?'notification-unread':''">
							<span ngbTooltip="{{ alert.deviceName }}">
								{{ alert.deviceName }}
							</span>
						</div>
						<div class="kt-notification__item-time" [ngClass]="alert.isRead==0?'notification-unread':''">
							<div class="row">
								<div class="col col-lg-12">
									<p>{{alert.eventKey | translate}}</p>
									{{alert.createdAt | userDate:'fromNow':null:'datetime'}}
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="alert.eventType =='none'" class="kt-notification__item-details"
					 (click) = "downloadReport(alert)"
					>
					<div class="kt-notification__item-title kt-datatable__cell"
						[ngClass]="alert.isRead==0?'notification-unread':''">
						<span ngbTooltip="Click tap to download">
							<!-- {{ alert.reportName | translate }} -->
							{{ 'MENU.REPORT_GENERAL' | translate }}

						</span>
					</div>
					<div class="kt-notification__item-time" [ngClass]="alert.isRead==0?'notification-unread':''">
						<div class="row">
							<div class="col col-lg-12">
								<p>{{'MANAGE.ALERT.GENERAL.CLICK_DOWNLOAD' | translate}} ({{alert.reportFormat}})</p>
								{{alert.createdAt | userDate:'fromNow':null:'datetime'}}
							</div>
						</div>
					</div>
				</div>
				</a>
				<div class="notification-loading" *ngIf="allowLoadMore">
					<div class="see-more"
						[ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center':loadMore || loadingList}"
						(click)="getMore()">
						{{!loadMore && listAlerts.length>0?('MANAGE.ALERT_RULE.NOTIFICATION.SEE_MORE' | translate):''}}
					</div>
				</div>
			</div>			
			<div *ngIf="notFound" style="min-height: 200px" class="kt-grid kt-grid--ver">
				<div _ngcontent-moo-c10=""
					class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
					<div _ngcontent-moo-c10="" class="kt-grid__item kt-grid__item--middle kt-align-center">
						<span><i class="icon-search"
								style="margin-right: 4px;"></i>{{'MANAGE.ALERT_RULE.NOTIFICATION.NO_FOUND_NOTI' | translate}}</span>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{'MANAGE.ALERT_RULE.NOTIFICATION.NOTIFICATION' | translate}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container [ngTemplateOutlet]="alertPopupContent">
		</ng-container>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary"
			(click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<!-- edit form -->
<ng-template #alertPopupContent>

	<kt-alert-popup [alertPopup]="alertPopup">
	</kt-alert-popup>

</ng-template>

<!-- end:: Content -->