:host {
  ::ng-deep {
    ngb-tabset > .nav-tabs {
      display: none;
    }
  }
}

h3.kt-head__title {
  padding-bottom: 24px;
}
.notification-unread {
  font-weight: bold !important;
  color: #172b4d !important;
  font-size: 15px !important;
}
.kt-notification .kt-notification__item {
  padding: 0.8rem 1.5rem 2.1rem !important;
  // background: #edf2fa;
  border-bottom: 1px solid #dcdee0 !important;
}
.kt-notification .kt-notification__item .kt-notification__item-details {
  height: 40px;
}
.kt-dot-notify {
  background-color: #de350b;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 26px;
  top: 13px;
  padding: 3px;
  font-weight: bold;
  min-width: 18px;
}
.kt-notification {
  .unread {
    background: #edf2fa;
  }
}
.kt-notification .kt-notification__item:hover .kt-notification__item-details .kt-notification__item-title {
  transition: color 0.3s ease;
  color: #595d6e;
}
.kt-notification .kt-notification__item:after {
  display: none;
}
.kt-notification__item-time.notification-unread {
  font-size: 13px !important;
  color: #74788d !important;
}
.kt-notification__item-time {
  font-size: 12px !important;
  margin-top: 3px;
}
h3.kt-head__title {
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 10px;
}
.kt-head-notification {
  color: #fff;
  padding: 20px 20px !important;
}
a.mark-all-read {
  color: #fff;
}
a.mark-all-read:hover {
  text-decoration: underline !important;
}
.kt-notification__item-title span {
  width: 219px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-loading {
  .see-new {
    padding: 15px;
    text-align: center;
  }
  .see-more {
    padding: 15px;
    text-align: center;
    cursor: pointer;
  }
}
@media(max-width:425px){
  .dropdown-menu{
      transform:translate(calc(-50% + 20px), 49px) !important;
  }
}