<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            {{'COMMON.MAP_SETTING.MAP_CONFIG' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body kt-pd-0">
        <ng-container [ngTemplateOutlet]="templateConent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateConent>
    <div class="row">
        <div class="col-md-4" style="border-right: 1px solid #dcdee0;">
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active':actionKey=='list_device'}" data-toggle="tab"
                        href="#kt_tabs_2_1" role="tab" aria-selected="true">
                        {{'COMMON.MAP_SETTING.LIST_DEVICE' | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active':actionKey=='info_device'}" data-toggle="tab"
                        href="#kt_tabs_2_4" role="tab" aria-selected="false">
                        {{'COMMON.MAP_SETTING.INFO_DEVICE' | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active':actionKey=='tracking_now'}" data-toggle="tab"
                        href="#kt_tabs_2_2" role="tab" aria-selected="false">
                        {{'COMMON.MAP_SETTING.TRACKING' | translate}}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active':actionKey=='tracking_route'}" data-toggle="tab"
                        href="#kt_tabs_2_3" role="tab" aria-selected="false">
                        {{'COMMON.MAP_SETTING.HISTORY_TRIPS' | translate}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="tab-content">
                <!-- list device  -->
                <div class="tab-pane " [ngClass]="{'active':actionKey=='list_device'}" id="kt_tabs_2_1" role="tabpanel">
                    <div class="accordion   accordion-toggle-arrow" id="accordionExample1">
                        <div class="card">
                            <div class="card-header" id="headingOne1">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseOne1"
                                    aria-expanded="true" aria-controls="collapseOne1">
                                    {{'COMMON.MAP_SETTING.BASE' | translate}}
                                </div>
                            </div>
                            <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1"
                                data-parent="#accordionExample1" style="">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['baseData']['icon']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ICON' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['baseData']['duration']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DURATION' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['baseData']['speed']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SPEED' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['baseData']['battery']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.BATTERY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['baseData']['gsm']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GSM' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1"
                                    aria-expanded="false" aria-controls="collapseTwo1">
                                    {{'COMMON.MAP_SETTING.ADVANCE' | translate}}
                                </div>
                            </div>
                            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['numberPlate']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.NUMBER_PLATE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['imei']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.IMEI' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['simno']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SIM_NO' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['vin']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.VIN' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['powerVoltage']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.POWER_VOLTAGE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['distanceToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DISTANCE_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['driver']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVER' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['drivingToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVING_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['updateTime']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.UPDATE_TIME' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['group']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GROUP' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['geofence']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GEOFENCE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDevice']['deviceData']['address']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ADDRESS' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- info device  -->
                <div class="tab-pane" [ngClass]="{'active':actionKey=='info_device'}" id="kt_tabs_2_4" role="tabpanel">
                    <div class="accordion   accordion-toggle-arrow" id="accordionExample4">
                        
                        <div class="card">
                            <div class="card-header" id="headingTwo4">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseTwo4"
                                    aria-expanded="true" aria-controls="collapseTwo4">
                                    {{'COMMON.MAP_SETTING.BASE' | translate}}
                                </div>
                            </div>
                            <div id="collapseTwo4" class="collapse show" aria-labelledby="headingTwo4"
                                data-parent="#accordionExample4">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['baseData']['duration']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DURATION' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['baseData']['speed']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SPEED' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['baseData']['battery']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.BATTERY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['baseData']['gsm']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GSM' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['numberPlate']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.NUMBER_PLATE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['imei']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.IMEI' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['simno']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SIM_NO' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['vin']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.VIN' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['powerVoltage']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.POWER_VOLTAGE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['distanceToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DISTANCE_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['driver']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVER' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['drivingToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVING_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['updateTime']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.UPDATE_TIME' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['group']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GROUP' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['geofence']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GEOFENCE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['deviceData']['address']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ADDRESS' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne3">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne3"
                                    aria-expanded="false" aria-controls="collapseOne3">
                                    {{'COMMON.MAP_SETTING.ADVANCE' | translate}}
                                </div>
                            </div>
                            <div id="collapseOne3" class="collapse" aria-labelledby="headingOne3"
                                data-parent="#accordionExample4">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['other']['air']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.AIR' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['other']['door']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DOOR' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDevice']['other']['engine']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ENGINE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- tracking  -->
                <div class="tab-pane" [ngClass]="{'active':actionKey=='tracking_now'}" id="kt_tabs_2_2" role="tabpanel">
                    <div class="accordion   accordion-toggle-arrow" id="accordionExample2">
                        <div class="card">
                            <div class="card-header" id="headingOne2">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseOne2"
                                    aria-expanded="true" aria-controls="collapseOne2">
                                    {{'COMMON.MAP_SETTING.BASE' | translate}}
                                </div>
                            </div>
                            <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2"
                                data-parent="#accordionExample2" style="">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['baseData']['icon']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ICON' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['baseData']['duration']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DURATION' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['baseData']['speed']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SPEED' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['baseData']['battery']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.BATTERY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['baseData']['gsm']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GSM' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo2">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo2"
                                    aria-expanded="false" aria-controls="collapseTwo2">
                                    {{'COMMON.MAP_SETTING.ADVANCE' | translate}}
                                </div>
                            </div>
                            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['numberPlate']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.NUMBER_PLATE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['imei']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.IMEI' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['simno']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SIM_NO' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['vin']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.VIN' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['powerVoltage']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.POWER_VOLTAGE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['distanceToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DISTANCE_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['driver']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVER' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['drivingToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVING_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['updateTime']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.UPDATE_TIME' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['group']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GROUP' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['geofence']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GEOFENCE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['deviceData']['address']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ADDRESS' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne3">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne3"
                                    aria-expanded="false" aria-controls="collapseOne3">
                                    {{'COMMON.MAP_SETTING.OTHER_DATA' | translate}}
                                </div>
                            </div>
                            <div id="collapseOne3" class="collapse" aria-labelledby="headingOne3"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['other']['air']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.AIR' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['other']['door']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DOOR' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['info']['other']['engine']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ENGINE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- rotue  -->
                <div class="tab-pane" [ngClass]="{'active':actionKey=='tracking_route'}" id="kt_tabs_2_3"
                    role="tabpanel">
                    <div class="accordion   accordion-toggle-arrow" id="accordionExample3">
                        <div class="card">
                            <div class="card-header" id="heading_3">
                                <div class="card-title" data-toggle="collapse" data-target="#collapse_3"
                                    aria-expanded="true" aria-controls="collapse_3">
                                    {{'COMMON.MAP_SETTING.SUMMARY' | translate}}
                                </div>
                            </div>
                            <div id="collapse_3" class="collapse show" aria-labelledby="heading_3"
                                data-parent="#accordionExample3" style="">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['route']['summary']['driving']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVING' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['route']['summary']['stop']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.STOP' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['tracking']['route']['summary']['distance']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DISTANCE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>