<div class="kt-input-icon kt-input-icon--left"  >
   
    <span class="kt-input-icon__icon kt-input-icon__icon--right" *ngIf="options.btnClear" style="cursor: pointer;" (click)="clear()">
    <span><i class="icon-times"></i></span>
    </span>
    <input ngbTooltip="{{options.tooltip}}" triggers="hover" type="text"
        style="min-width:208px"
        class="form-control kt_datepicker {{size}}" placeholder="{{options.placeholder}}" id="{{options.key}}" 
        autocomplete="off" readonly="true" [attr.disabled]="options.disabled ? '' : null"/>
    <span class="kt-input-icon__icon kt-input-icon__icon--left">
        <span><i class="icon-calendar-alt"></i></span>
    </span>
</div>