<div ngbDropdown [placement]="'bottom-right'" class="kt-header__topbar-item kt-header__topbar-item--langs">
    <div ngbDropdownToggle class="kt-header__topbar-wrapper">
        <!-- [ngClass]="{ 'kt-header__topbar-icon--brand' : iconType === 'brand' }" -->
        <span class="kt-header__topbar-icon">
            <i class="icon icon-question-mark" style="color: #5d78ff;"></i>
        </span>
    </div>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
        class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
        <ul class="kt-nav kt-margin-t-10 kt-margin-b-10 list-system-log">
            <ng-container>
                <li class="kt-nav__item">
                    <a ngbDropdownToggle href="javascript:;" class="kt-nav__link">

                        <span class="kt-nav__link-text" (click)="systemChangeLog(content)">
                            <i class="icon-history"></i>
                            {{'MANAGE.HELP.GENERAL.SYSTEM_CHANGE' | translate}}
                        </span>
                    </a>
                </li>
                <li *ngIf="linkDocument.length > 0" class="kt-nav__item">
                    <!-- http://docs.vnetgps.com/ -->
                    <a ngbDropdownToggle href="{{linkDocument}}" target="_blank" class="kt-nav__link">
                        <span class="kt-nav__link-text">
                            <i class="icon-book"></i>
                            &nbsp;{{'MANAGE.HELP.GENERAL.DOCS_PAGE' | translate}}
                        </span>
                    </a>
                </li>
                <li class="kt-nav__item">
                    <a ngbDropdownToggle href="javascript:;" class="kt-nav__link">

                        <span class="kt-nav__link-text" (click)="onFeedback()">
                            <i class="flaticon-feed"></i>
                            &nbsp;{{'COMMON.FEEDBACK.GENERAL.FEEDBACK' | translate}}
                        </span>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title">
            {{'MANAGE.HELP.GENERAL.SYSTEM_CHANGE' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body" id="sytemlog" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0"
        [infiniteScrollContainer]="'#sytemlog'" [fromRoot]="true" [alwaysCallback]="true" (scrolled)="onScrollDown()">

        <div class="kt-timeline-v2">
            <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
                <div class="kt-timeline-v2__item" *ngFor="let version of posts;let j = index">
                    <span class="kt-timeline-v2__item-time"> {{version.title}} </span>
                    <div class="kt-timeline-v2__item-cricle">
                        <i class="fa fa-genderless kt-font-brand"></i>
                    </div>
                    <div class="kt-timeline-v2__item-text  kt-padding-top-5">
                        <div class="date-version  kt-padding-bottom-10">{{version.releasedAt | userDate}}</div>
                        <div class="content-help" [innerHTML]="version.content | safe : html"></div>

                    </div>
                </div>

            </div>
        </div>

        <div class="see-new" *ngIf="loadMore"
            [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center':loadMore}">
        </div>
    </div>
</ng-template>
<kt-feedback [eventOpen]="eventOpenFeedback" (result)="resultFeedback($event)" ></kt-feedback>

<!-- end modal popup -->