.list-system-log i{
    font-size: 1.3rem;
    color: #5d78ff;
    vertical-align: middle;
    padding-right: 6px;
}
.header-version{
    padding-bottom: 8px 15px !important;
    .icon-version{
        float: left;
        padding: 0px;
        vertical-align: middle;
        height: 100%;
        i{
            vertical-align: middle;
            font-size: 24px;
            padding-right: 10px;
        }
    }

}
.date-version{
    font-style: italic;
    font-weight: bold;
    padding-bottom:10px
}
ol, ul, dl{
    padding-left: 10px !important;
}
@media(max-width:425px){
    .dropdown-menu{
        transform:translate(calc(-50% + 20px), 49px) !important;
    }
  }