<div class="kt-main" style="display: flex; flex-direction: row; align-items: stretch;height: 100%;">
	<div class="kt-left" style="display: flex;
    flex-direction: row;   
    z-index:2;">
		<div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile" style="max-width: 300px;height: 100%;">
			<kt-user-tree-new [ngClass]="{'kt-hide':isTracking}" [userTreeName]="'userTreeForMap'" [eventUpdate]="parrentEmiter" [cacheSearch]="true" [storeLocal]="true" [btnClose]="true" [showCountDevice]="false" [allowCollapse]="true" (changeUser)="changeUser($event)">
			</kt-user-tree-new>
		</div>
		<!-- check permission -->

		<kt-list-device *ngIf="showMapFull" [ngClass]="{'kt-hide':isTracking}" [eventEmiter]="listDeviceEventEmiter" [mapService]="getMapService()" (dataChange)="ktListDeviceEventChange($event)"></kt-list-device>
		<kt-list-device-lite *ngIf="!showMapFull" [ngClass]="{'kt-hide':isTracking}" [eventEmiter]="listDeviceEventEmiter" [mapService]="getMapService()" [cache]="false" (dataChange)="ktListDeviceLiteEventChange($event)"></kt-list-device-lite>
		
		<kt-tracking *ngIf="isTracking" [itemTracking]="deivceSelectedTracking" [listDevices]="currentListDevices" [mapService]="getMapService()" [isUserLogin]="isUserLogin" [tabAction]="trackingActionDefault" (eventChange)="eventTracking($event)"></kt-tracking>
		<kt-search-direction *ngIf="mapConfig.features.direction.value" [mapService]="getMapService()" [listDevices]="currentListDevices"></kt-search-direction>
	</div>
	<div class="kt-map" [ngClass]="{'kt-map-fit':ktMapFit}" style="display: flex;flex-grow: 1;border-top: 1px solid #dcdee0;border-left: 1px solid #dcdee0;
        flex-direction: column;" resizeObserver (resize)="onResize()">
		<div class="map" id="map" #map leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options">
		</div>
		<div class="list-geofence" [ngClass]="{'kt-hide':!mapConfig.features.geofence.value}">
				<div>
					<button class="close-btn btn btn-primary ml-2 btn-icon " type="button" (click)="closeWidget('geofence')"><i class="icon-times"></i></button>
				</div>
			<kt-widget-check-list [dataChangeEmiter]="geofenceDataChangeEmiter" [options]="optionWideCheckList" [data]="listGeofence" [filter]="'name'" (closeWidget)="closeWidget($event)" placeholder="{{'MANAGE.GEOFENCE.GENERAL.SEARCH_GEOFENCE' | translate}} ..." [isSwitch]="false" [size]="'col-lg-4'" (checkedChange)="onWidgetCheckChange($event)" [currentUser]="currentUserSelect" (delete)="deleteItem($event)" (edit)="editItem($event)">
			</kt-widget-check-list>
		</div>
		<div class="list-landmark" [ngClass]="{'kt-hide':!mapConfig.features.landmark.value}">
			<div >
				<button class="close-btn btn btn-primary ml-2 btn-icon " type="button" (click)="closeWidget('landmark')"><i class="icon-times"></i></button>
			</div>
			<kt-widget-check-list [dataChangeEmiter]="landmarkDataChangeEmiter" [options]="optionLandmarkCheckList" [filter]="'name'" name="landmark" [isSwitch]="false" [size]="'col-lg-4'" (checkedChange)="onWidgetCheckChange($event)" (edit)="editItem($event)" (delete)="deleteItem($event)" (closeWidget)="closeWidget($event)" [listTypePoi]="listTypePoi" [currentUser]="currentUserSelect">
			</kt-widget-check-list>
		</div>
		<div class="color-hint">
			<kt-color-hint [mapConfig]="mapConfig" [mapService]="getMapService()"></kt-color-hint>
		</div>
		<!-- Map tool -->
		<div class="map-tools">
			<div class="tools">
				<div>
					<kt-search [mapService]="getMapService()"></kt-search>
				</div>
				<div>
					<kt-distance [mapService]="getMapService()"></kt-distance>
				</div>
				<div>
					<button _ngcontent-qes-c30="" class="btn btn-icon btn-sm btn-circle showBtn" style="font-size: 16px;"  ngbTooltip="{{'MAP.FEATURES.DIRECTION_TITLE' | translate}}"
					(click)="mapConfig.features.direction.value = !mapConfig.features.direction.value" container="body" placement="right">
						<i class="icon-direction" [style.color]="mapConfig.features.direction.value?'#5867dd':''"></i>
					</button></div>
				<div>
					<button class="btn btn-icon btn-sm btn-circle showBtn" *ngIf="mapConfig.features.fullScreen.show" (click)="mapFullScreen()" placement="right" container="body" 
					ngbTooltip="{{(!mapConfig.features.fullScreen.value?mapConfig.features.fullScreen.translate:mapConfig.features.fullScreen.translateOff) | translate}}">
						<i [ngClass]="{'icon-normal-screen':mapConfig.features.fullScreen.value,'icon-full-screen':!mapConfig.features.fullScreen.value}"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="kt-device-info" *ngIf="!isTracking">
			<kt-device-info-box [mapService]="getMapService()"></kt-device-info-box>
		</div>
		<div class="kt-charts" *ngIf="chartShow" [ngClass]="{'kt-hide':chartHide}">
			<kt-chart [mapService]="getMapService()"></kt-chart>
		</div>
		<kt-center-point *ngIf="mapConfig.features.centerPoint.value"></kt-center-point>
	</div>
	<kt-map-control [mapService]="getMapService()" [fixed]="true" (popup)="showPopup($event)"></kt-map-control>
</div>
<!-- <button (click)="open(contentTrackingItem)" style="position:absolute;z-index:99999;top:10px;right:10px;">test </button> -->
<!-- Modal -->
<ng-template #contentTrackingItem let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{'MAP.GENERAL.FOLLOW' | translate}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container [ngTemplateOutlet]="trackingItem">
		</ng-container>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
	
</ng-template>
<ng-template #trackingItem>
	<kt-tracking-item-popup [imei]="dataTrackingItem.imei" [userId]="currentUserSelect.id"></kt-tracking-item-popup>
</ng-template>
<!-- Popup Template -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{titlePopup | translate}} {{'MANAGE.POI.GENERAL.NAME' | translate  }}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container [ngSwitch]="action">
			<ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormEdit">
			</ng-container>
			<ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="tmpConfirmDelete">
			</ng-container>
			<ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="tmpFormAdd">
			</ng-container>
		</ng-container>
	</div>
	<div class="modal-footer">
		<ng-container *ngIf="action=='delete'" [ngSwitch]="action">
			<button *ngSwitchCase="'delete'" type="button" class="btn btn-primary" (click)="deleteAction()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
		</ng-container>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<!-- add form  -->
<ng-template #tmpFormAdd>
	<kt-create-tool [currentUser]="currentUserSelect" [listTypePoi]="listTypePoi" [centerMap]="centerMap" [listDevices]="currentListDevices" (poiResult)="poiResult($event)"></kt-create-tool>
</ng-template>

<!-- edit form -->
<ng-template #tmpFormEdit>
	<kt-create-tool [listTypePoi]="listTypePoi" [listDevices]="currentListDevices" [poiInput]="poiEdit" [currentUser]="currentUserSelect" (poiResult)="poiResult($event)">
	</kt-create-tool>
</ng-template>
<!-- delete form -->
<ng-template #tmpConfirmDelete>
	<div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
		<div class="alert-icon"><i class="icon-question-circle"></i></div>
		<div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
	</div>
</ng-template>

<!-- Geofence popup Template -->
<ng-template #geofenceContent let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{titlePopup | translate}} {{'MANAGE.GEOFENCE.GENERAL.GEOFENCE' | translate  }}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container [ngSwitch]="geofenceAction">
			<ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpGeoFormEdit">
			</ng-container>
			<ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="tmpGeoConfirmDelete">
			</ng-container>
			<ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="tmpGeoFormAdd">
			</ng-container>
		</ng-container>
	</div>
	<div class="modal-footer">
		<ng-container *ngIf="geofenceAction=='delete'" [ngSwitch]="geofenceAction">
			<button *ngSwitchCase="'delete'" type="button" class="btn btn-primary" (click)="deleteGeofence()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
		</ng-container>
		<button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<!-- add form  -->
<ng-template #tmpGeoFormAdd>
	<kt-geofence-creator [currentUser]="currentUserSelect" (geofenceResult)="geofenceResult()" [listGeofenceGroup]="listGeofenceGroup" [listDevices]="currentListDevices" [centerPoint]="centerMap">
	</kt-geofence-creator>
</ng-template>

<!-- edit form -->
<ng-template #tmpGeoFormEdit>
	<kt-geofence-creator [geofenceInput]="geofenceEdit" [listDevices]="currentListDevices" [listGeofenceGroup]="listGeofenceGroup" [currentUser]="currentUserSelect" (geofenceResult)="geofenceResult()">
	</kt-geofence-creator>
</ng-template>
<!-- delete form -->
<ng-template #tmpGeoConfirmDelete>
	<div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
		<div class="alert-icon"><i class="icon-question-circle"></i></div>
		<div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
	</div>
</ng-template>
