.map {
	height: 100%;
	padding: 0;
	width: 100%;
}
.leaflet-pane {
	z-index: 10 !important;
}
.kt-left{
	position: relative;
}
.kt-map {
	display: flex;
	flex-grow: 1;
	border-top: 1px solid #dcdee0;
	border-left: 1px solid #dcdee0;
	background-color: white;
	position: relative;
	.list-geofence,
	.list-landmark,
	.search {
		position: absolute;
		top: 0px;
		z-index: 93;
		width: calc(100% - 70px);
		border: 2px solid rgba(138, 138, 138, 0.2);
		margin: 10px;
		animation: zoomIn 0.5s;
	}
	
	.color-hint,
	.map-tools {
		position: absolute;
		top: 0px;
		z-index: 92;
		margin: 5px;
		border: none;
		max-width: calc(100% - 100px);
	}
	.search {
		border: none;
		width: 50%;
		top: 30px;
	}
	.map-tools {
		top: 40px;
		.showBtn {
			background: white;
			animation: zoomIn 0.4s;
			position: relative;
			border: 1px solid #dcdee0;
			cursor: pointer;
		}
		.tools{
			display: block;
			position: absolute;
		}
	}
	.kt-charts {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: auto;
		z-index: 90;
		background: #fff;
	}
	.kt-device-info {
		display: flex;
		background: #fff;
		position: fixed;
		z-index: 90;
		bottom: 0px;
		right: 0px;
	}
}
@media (max-width: 1024px) {
	.kt-main {
		.kt-left {
			z-index: 98 !important;
		}
		.kt-map {
			height: 100%;
		}
		position: fixed;
		z-index: 99;
		height: calc(100vh - 50px) !important;
	}
}

.close-btn{
	position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
	top: -10px;
	right: -10px;
}