<div *ngIf = "!detail" style="white-space: initial;overflow: hidden;text-overflow: ellipsis;" [innerHtml]="textEvent" [ngbTooltip]="htmlContent" container="body"></div>
<ng-template #htmlContent>
    <div [innerHtml]="textEvent"></div>
</ng-template>
<div style="width:100%" *ngIf = "detail" [innerHtml]="textEvent" class="display-lg"></div>