<ng-template #download let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            {{titleReport | translate}}
        
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
        </button>
    </div>
    <div *ngIf= "!checkGetExport"  class="modal-body" >
        <div class="text-notifi">
            {{'REPORT.GENERAL.MESSAGE.TEXT_NOTIFI' | translate}}
        </div>
        <div class="choise-format">
            <form [formGroup]="formExport" (ngSubmit)='onSubmitExport(formExport)'>
                    <div class="form-group search-device input-width-search" style="margin:24px 107px">           
                    <select 
                         [ngModel] = "defaultExport"
                         formControlName="format">
                            <option value="excel" data-content='<div style="display:flex; align-items: center;"><i class="icon-file-excel1 color-excel ic-lg"></i>&nbsp;&nbsp;<span>Excel</span></div>'>
                                <!-- Excel -->
                            </option>
                            <option value="pdf" data-content='<div style="display:flex; align-items: center;"><i class="icon-file-pdf color-pdf ic-lg"></i>&nbsp;&nbsp; <span>Pdf</span></div>'>
                                Pdf
                            </option>
                        </select>
                </div>
                <div class="form-group col-lg-12" style="text-align: center; padding-top: 10px;">
                    <button  type="submit" class="btn btn-primary ">
                        {{'REPORT.GENERAL.MESSAGE.TEXT_EXPORT' | translate}}
                   </button>
                </div>
                
            </form>        
        </div>
    </div>
    <ng-container *ngIf= "checkGetExport" >
        <div class="modal-body">
            {{'REPORT.GENERAL.MESSAGE.TEXT_WAIT' | translate}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
            (click)="modal.close()">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </ng-container>
</ng-template>