<!-- begin:: Content -->

<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [btnClose]="true" [showPoint]="true" [allowCollapse]="true"
            (changeUser)="userTreeChangeUser($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px;max-width: 100%;overflow: auto;">
        <kt-user-info [user]="currentUser" [type]="'transactionHistory'"></kt-user-info>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="icon-setting"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{'POINTS.MANAGE.GENERAL.TRANSACTION_MANAGE' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch"
                (keyup.enter)="search()">
                <div class="row">
                    <div class="col-xl-3 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <kt-date-range-picker #datePicker ngbTooltip="{{'POINTS.SEARCH.DATE'|translate}}"                            
                                container="body" [options]="datePickerOptions" (dateChange)="dateRouteChange($event)">
                            </kt-date-range-picker>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <kt-user-autocomplete [placeholder]="'POINTS.SEARCH.ACCOUNT_TRANSACTION' | translate"
                                #userAutocomplete (eventChange)="onChangeUserSearch($event)">
                            </kt-user-autocomplete>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <select class="selectpicker form-control" multiple
                                title="{{'POINTS.SEARCH.CHOOSE_TYPE'|translate}}" data-key="type">
                                <option value="0">{{'POINTS.TYPE.MOVE' | translate}}</option>
                                <option value="1">{{'POINTS.TYPE.ADD' | translate}}</option>
                                <option value="2">{{'POINTS.TYPE.RENEWS' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <select class="selectpicker form-control" multiple
                                title="{{'POINTS.SEARCH.CHOOSE_PAY_STATUS'|translate}}" data-key="status">
                                <!-- <option value="0"> {{'POINTS.PAY.UNKNOWN' | translate}}</option> -->
                                <option value="1"> {{'POINTS.PAY.PAID' | translate}}</option>
                                <option value="2">{{'POINTS.PAY.UNPAID' | translate}}</option>
                                <option value="3"  *ngxPermissionsOnly="['ROLE_transaction.cancel']">{{'POINTS.PAY.CANCEL' | translate}}</option>
                                <option value="4" *ngxPermissionsOnly="['ROLE_transaction.request_cancel']">{{'POINTS.PAY.REQUEST_CANCEL' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-12  col-md-6  col-sm-12">
                        <div class="form-group form-group--mobile">
                            <label class="kt-checkbox">
                                <input type="checkbox" data-key="subAccount">
                                {{'POINTS.SEARCH.SUB_ACCOUNT' | translate}}
                                <span></span>
                            </label> &nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="search()"
                            [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--primary kt-spinner--right':dataTable.isLoading}">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
             <!-- begin: Feature -->
             <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">

                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                        <div class="dropdown dropdown-inline"
                            ngbTooltip="{{'MANAGE.DEVICE.GENERAL.EXPORT' | translate}}" container="body">
                            <button type="button" class="btn btn-info btn-circle btn-icon btn-sm"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="icon-file-export"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a class="dropdown-item cs-pt"
                                    (click)="exportXlSX({all:true})">{{'COMMON.GENERAL.DOWNLOAD' | translate }} (.xlsx)</a>
                            </div>
                        </div>
                        
                        &nbsp;&nbsp;
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">

                        </div>
                        <!-- <div class="kt-separator"></div> -->
                    </div>
                </div>
            </div>

            <!-- end: Feature -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'auto')}"
                    style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle"
                        [ngStyle]="{'overflow':(dataTable.isResponsive?'':'unset!important')}">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                class="kt-datatable__row" style="left: 0px;">
                                <!-- subRow -->
                                <td *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('username').isShow?'none':'')}"
                                    data-field="Username" class="kt-datatable__cell" >
                                    <span [ngStyle]="dataTable.getColumn('username').style" ngbTooltip="{{item.userName}}">{{item.userName}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('type').isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('type').style">
                                        <ng-container [ngSwitch]="item.type">
                                            <ng-container *ngSwitchCase="'0'">
                                                <span
                                                    class="btn btn-sm btn-bold btn-label-danger btn-font-sm">{{'POINTS.TYPE.MOVE' | translate}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'1'">
                                                <span class="btn btn-sm btn-bold btn-label-success btn-font-sm">
                                                    {{'POINTS.TYPE.ADD' | translate}}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'2'">
                                                <span class="btn btn-sm btn-bold btn-label-info btn-font-sm">
                                                    {{'POINTS.TYPE.RENEWS' | translate}}
                                                </span>
                                            </ng-container>
                                        </ng-container>
                                    </span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('point').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('point').style">
                                        <span class="">
                                            <i class="icon-sm"
                                                [ngClass]="{'icon-plus-circle kt-font-success':item.type=='1','icon-minus-circle kt-font-danger':item.type!='1'}"></i>
                                            <!-- {{(item.pointNew > item.pointOld ? item.pointNew - item.pointOld : item.pointOld - item.pointNew) | number}} -->
                                            {{ item.point | number}}
                                        </span>
                                    </span>
                                </td>
                                <!-- <td [ngStyle]="{'display':(!dataTable.getColumn('pointOld').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('pointOld').style">{{item.pointOld | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('pointNew').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('pointNew').style">{{item.pointNew | number}}</span>
                                </td> -->
                                <td [ngStyle]="{'display':(!dataTable.getColumn('userTransaction').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('userTransaction').style">{{item.userNameObj}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('pay').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('pay').style">
                                        <ng-container [ngSwitch]="item.status">
                                            <ng-container *ngSwitchCase="'0'">
                                                <span class="btn btn-bold btn-font-sm px-1">
                                                    <i class="icon-sm icon-info-circle kt-font-warning"></i>
                                                    {{'POINTS.PAY.UNKNOWN' | translate}}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'1'">
                                                <span class="btn btn-bold btn-font-sm px-1">
                                                    <!-- {{'POINTS.PAY.PAID' | translate}} -->
                                                    <i
                                                        class="icon-sm icon-check-circle1 kt-font-success"></i>{{'POINTS.PAY.PAID' | translate}}
                                                </span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'2'">
                                                <span class="btn btn-bold btn-font-sm px-1">
                                                    <i
                                                        class="icon-sm icon-times-circle1 kt-font-danger"></i>{{'POINTS.PAY.UNPAID' | translate}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'3'">
                                                <span class="btn btn-bold btn-font-sm px-1">
                                                    <i
                                                        class="icon-sm icon-minus-circle kt-font-dark"></i>{{'POINTS.PAY.CANCEL' | translate}}</span>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'4'">
                                                <span class="btn btn-bold btn-font-sm px-1">
                                                    <i
                                                        class="icon-sm icon-question-circle kt-font-dark"></i>{{'POINTS.PAY.REQUEST_CANCEL' | translate}}</span>
                                            </ng-container>
                                        </ng-container>
                                    </span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('createdBy').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('createdBy').style">{{item.createdByName}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('createdAt').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('createdAt').style">{{item.createdAt | userDate:'datetime'}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('description').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('description').style"
                                        ngbTooltip="{{item.description}}" container="body">{{item.description}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('amount').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('amount').style"
                                        ngbTooltip="{{item.amount}}" container="body">{{item.amount || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('actions').isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('actions').style"
                                        style="overflow: visible; position: relative;">                                        

                                        <a 
                                            ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'history',item)">
                                            <i class="icon-info"></i>
                                        </a>
                                        <a  *ngxPermissionsOnly="['ROLE_transaction.cancel']"
                                            ngbTooltip="{{'COMMON.ACTIONS.CANCEL_TRANSACTION' | translate }}"
                                            container="body" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'cancel',item)">
                                            <i class="icon-retweet"></i>
                                        </a>                     
                                        <a *ngxPermissionsOnly="['ROLE_transaction.request_cancel']"
                                            ngbTooltip="{{'COMMON.ACTIONS.REQUEST_CANCEL' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'request_cancel',item)">
                                            <i class="icon-paper-plane1"></i>
                                        </a>                   
                                        <!-- *ngIf="(item.type=='0'|| item.type=='2') && item.status!='3'" -->
                                        <a *ngxPermissionsOnly="['ROLE_transaction.update']"
                                            ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'edit',item)">
                                            <i class="icon-edit"></i>
                                        </a>

                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->

                            <!-- end sub row -->
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>

                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a>
                        </li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- end:: Content -->
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{titlePopup | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="action">
            <ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormEdit">
            </ng-container>
            <ng-container *ngSwitchCase="'history'" [ngTemplateOutlet]="tmpHistoryTransaction">
            </ng-container>
            <ng-container *ngSwitchCase="'cancel'" [ngTemplateOutlet]="tmpConfirmCancel">
            </ng-container>
            <ng-container *ngSwitchCase="'request_cancel'" [ngTemplateOutlet]="tmpConfirmRequestCancel">
            </ng-container>
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container [ngSwitch]="action">
            <button *ngSwitchCase="'edit'"
                [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':processAction}" type="button"
                class="btn btn-primary" (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}
            </button>
            <button *ngSwitchCase="'cancel'"
                [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':processAction}" type="button"
                class="btn btn-primary" (click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}
            </button>
            <button *ngSwitchCase="'request_cancel'"
                [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':processAction}" type="button"
                class="btn btn-primary" (click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}
            </button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- move form -->
<ng-template #tmpFormEdit>
    <!-- tài khoản chuyển
    số điểm hiện có
    tài khoản nhận
    số điểm
    trạng thái
    mô tả -->
    <form class="kt-form is-invalid" [formGroup]="formEditTransaction" id="formEditTransaction">
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-credit-card"></i>
                {{'POINTS.MANAGE.GENERAL.ACCOUNT_INFORMATION_SEND' | translate}}</div>
            <div class="kt-section__body">
                <!-- <input type="hidden" class="form-control kt-hide" formControlName="userSendUserId"> -->
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.USER_NAME' | translate}}</label>
                    <input type="text" class="form-control" formControlName="userSendUserName">
                </div>
                <!-- <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.CURRENT_POINT' | translate}}</label>
                    <input type="text" class="form-control" formControlName="userSendCurrentPoint">
                </div> -->
            </div>
        </div>
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-user1"></i>
                {{'POINTS.MANAGE.GENERAL.ACCOUNT_INFORMATION_RECEIVE' | translate}}</div>
            <div class="kt-section__body">
                <!-- <input type="hidden" class="form-control kt-hide" formControlName="receiveUserId"> -->
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.USER_NAME' | translate}}</label>
                    <input type="text" class="form-control" formControlName="receiveUserName">
                </div>
            </div>
        </div>

        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-comments-dollar"></i>
                {{'POINTS.MANAGE.GENERAL.TRANSACTION_INFORMATION' | translate}}</div>
            <div class="kt-section__body">
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.TYPE' | translate}}</label>
                    <!-- <input type="text" class="form-control" formControlName="transactionType"> -->
                    <select formControlName="transactionType" id="transactionType" class="selectpicker form-control"
                        title="{{'POINTS.SEARCH.CHOOSE_TYPE'|translate}}">
                        <option value="0">{{'POINTS.TYPE.MOVE' | translate}}</option>
                        <option value="1">{{'POINTS.TYPE.ADD' | translate}}</option>
                        <option value="2">{{'POINTS.TYPE.RENEWS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group row " [ngClass]="{'kt-hide':currentItemSelected?.type!=2}">
                    <label>{{'POINTS.MANAGE.GENERAL.DEVICE_IMEI' | translate}}</label>
                    <input type="text" class="form-control" formControlName="deviceIMEI">
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.AMOUNT_POINT' | translate}}</label>
                    <input type="text" class="form-control" mask="separator.0" thousandSeparator="," formControlName="transactionPoint">
                    <kt-message-error [errorFormGroup]="fEdit" [errorFormControlName]="'transactionPoint'">
                    </kt-message-error>
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.PAY' | translate}}</label>
                    <select formControlName="transactionIsPay" id="transactionIsPay" class="selectpicker form-control"
                        title="{{'POINTS.SEARCH.CHOOSE_PAY_STATUS'|translate}}" (change)="onChangePayType($event.target.value)">
                        <!-- <option value="0">{{'POINTS.PAY.UNKNOWN' | translate}}</option> -->
                        <option value="1">{{'POINTS.PAY.PAID' | translate}}</option>
                        <option value="2">{{'POINTS.PAY.UNPAID' | translate}}</option>
                    </select>
                </div>
             
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.DATE_PAY' | translate}}</label>
                    <kt-date-range-picker container="body" #payAtCpn class="col-md-12 px-0" [options]="payAtEditOptions"
                        (dateChange)="payAtEdit($event)">
                    </kt-date-range-picker>
                    <input type="text" hidden class="form-control" formControlName="payAt">
                    <kt-message-error [errorFormGroup]="fEdit" [errorFormControlName]="'payAt'">
                    </kt-message-error>      
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.DESCRIPTION' | translate}}</label>
                    <input type="text" class="form-control" formControlName="transactionDescription">
                    <kt-message-error [errorFormGroup]="fEdit" [errorFormControlName]="'transactionDescription'">
                    </kt-message-error>
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.AMOUNT' | translate}}</label>
                    <input type="text" class="form-control" mask="separator.0" thousandSeparator="," formControlName="transactionAmount">
                    <kt-message-error [errorFormGroup]="fEdit" [errorFormControlName]="'transactionAmount'">
                    </kt-message-error>
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.BILL_IMG' | translate}}</label>
                    <div class="input-group">
                        <kt-upload-file [url]="currentItemSelected.billImg" (eventChange)="billImgChange($event)">
                        </kt-upload-file>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<!-- history transaction -->
<ng-template #tmpHistoryTransaction>
    <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
        <!--begin: Datatable -->
        <div resizeObserver (resize)="onResize($event.contentRect)"
            class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
            [ngClass]="{'kt-datatable--error':dataTableHistory.isNotFound}" id="api_methods"
            style="position: static; zoom: 1;">
            <table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTableHistory.isResponsive?'':'auto')}"
                style="display: block;" id="dataTable">
                <!-- Header -->
                <thead class="kt-datatable__head">
                    <tr class="kt-datatable__row" style="left: 0px;">
                        <!-- subRow -->
                        <th *ngIf="dataTableHistory.isShowSubRow"
                            class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                            <span></span>
                        </th>
                        <!-- end subRow -->

                        <!-- checkbox -->
                        <th *ngIf="dataTableHistory.selecter"
                            class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                            <span style="width: 20px;">
                                <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                    <input (click)="dataTableHistory.setCheckBoxAll()" type="checkbox"
                                        [(ngModel)]="dataTableHistory.isCheckBoxAll">&nbsp;<span></span>
                                </label>
                            </span>
                        </th>
                        <!-- end checkbox -->

                        <ng-container *ngFor="let column of dataTableHistory.getColumns()">
                            <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                (click)="dataTableHistory.sort(column.field)">
                                <span [ngStyle]="column.style">
                                    {{column.translate | translate}}
                                    <i *ngIf="column.isSort"
                                        [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                </span>
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <!-- table body -->
                <tbody class="kt-datatable__body" [ngStyle]="dataTableHistory.bodyStyle"
                    [ngStyle]="{'overflow':(dataTableHistory.isResponsive?'':'unset!important')}">
                    <ng-container *ngFor="let item of dataTableHistory.data;let i=index">
                        <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                            class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <td *ngIf="dataTableHistory.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail">
                                <a (click)="dataTableHistory.showSubRow(i)" class="kt-datatable__toggle-detail">
                                    <i [ngClass]="{'icon-caret-down' : (dataTableHistory.lastRowShow == i), 
                                            'icon-caret-right' : (dataTableHistory.lastRowShow != i)}"></i>
                                </a>
                            </td>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <td *ngIf="dataTableHistory.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                data-field="RecordID"><span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                            (click)="dataTableHistory.setCheckBox(i)">&nbsp;<span></span>
                                    </label>
                                </span>
                            </td>
                            <!-- end checkbox -->
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('id').isShow?'none':'')}"
                                class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('id').style">{{i+dataTableHistory.getPaginations().form}}</span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('username').isShow?'none':'')}"
                                data-field="Username" class="kt-datatable__cell" ngbTooltip="{{item.objNew.userName}}">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('username').style">{{item.objNew.userName}}</span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('type').isShow?'none':'')}"
                                data-field="name" class="kt-datatable__cell">
                                <span [ngStyle]="dataTableHistory.getColumn('type').style">
                                    <ng-container [ngSwitch]="item.objNew.type">
                                        <ng-container *ngSwitchCase="'0'">
                                            <span
                                                class="btn btn-sm btn-bold btn-label-danger btn-font-sm">{{'POINTS.TYPE.MOVE' | translate}}</span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'1'">
                                            <span class="btn btn-sm btn-bold btn-label-success btn-font-sm">
                                                {{'POINTS.TYPE.ADD' | translate}}
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'2'">
                                            <span class="btn btn-sm btn-bold btn-label-info btn-font-sm">
                                                {{'POINTS.TYPE.RENEWS' | translate}}
                                            </span>
                                        </ng-container>
                                    </ng-container>
                                </span>
                            </td>

                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('point').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span [ngStyle]="dataTableHistory.getColumn('point').style">
                                    <span class="">
                                        <i class="icon-sm"
                                            [ngClass]="{'icon-plus-circle kt-font-success':item.type=='1','icon-minus-circle kt-font-danger':item.type!='1'}"></i>
                                        <!-- {{(item.pointNew > item.pointOld ? item.pointNew - item.pointOld : item.pointOld - item.pointNew) | number}} -->
                                            {{ item.objNew.point | number}}
                                    </span>
                                  
                                </span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('userTransaction').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('userTransaction').style">{{item.objNew.userNameObj}}</span>
                            </td>

                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('pay').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span [ngStyle]="dataTableHistory.getColumn('pay').style">
                                    <ng-container [ngSwitch]="item.objNew.status">
                                        <ng-container *ngSwitchCase="'0'">
                                            <span class="btn btn-bold btn-font-sm px-1">
                                                <i class="icon-sm icon-info-circle kt-font-warning"></i>
                                                {{'POINTS.PAY.UNKNOWN' | translate}}
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'1'">
                                            <span class="btn btn-bold btn-font-sm px-1">
                                                <!-- {{'POINTS.PAY.PAID' | translate}} -->
                                                <i
                                                    class="icon-sm icon-check-circle1 kt-font-success"></i>{{'POINTS.PAY.PAID' | translate}}
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'2'">
                                            <span class="btn btn-bold btn-font-sm px-1">
                                                <i
                                                    class="icon-sm icon-times-circle1 kt-font-danger"></i>{{'POINTS.PAY.UNPAID' | translate}}</span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'3'">
                                            <span class="btn btn-bold btn-font-sm px-1">
                                                <i class="icon-sm icon-minus-circle kt-font-dark"></i>
                                                {{'POINTS.PAY.CANCEL' | translate}}
                                            </span>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'4'">
                                            <span class="btn btn-bold btn-font-sm px-1">
                                                <i
                                                    class="icon-sm icon-question-circle kt-font-dark"></i>{{'POINTS.PAY.REQUEST_CANCEL' | translate}}</span>
                                        </ng-container>
                                    </ng-container>
                                </span>
                            </td>

                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('createdBy').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('createdBy').style">{{item.objNew.createdByName}}</span>
                            </td>

                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('createdAt').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('createdAt').style">{{item.objNew.createdAt | userDate:'datetime'}}</span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('description').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span [ngStyle]="dataTableHistory.getColumn('description').style"
                                    ngbTooltip="{{item.objNew.description || ''}}"
                                    container="body">{{item.objNew.description || ''}}</span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('amount').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span [ngStyle]="dataTableHistory.getColumn('amount').style"
                                    ngbTooltip="{{item.objNew.amount || '0' | number}}"
                                    container="body">{{item.objNew.amount || '0' | number}}</span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('payAt').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('payAt').style">{{item.objNew.payAt | userDate:'datetime'}}</span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('billImg').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span [ngStyle]="dataTableHistory.getColumn('billImg').style"
                                    style="max-height: 100px;">
                                    <img *ngIf="item.objNew.billImg" [src]="item.objNew.billImg"
                                        style="cursor: zoom-in;" (click)="showImg(item.objNew.billImg)" />
                                </span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('updatedAt').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('updatedAt').style">{{item.createdAt | userDate:'datetime'}}</span>
                            </td>
                            <td [ngStyle]="{'display':(!dataTableHistory.getColumn('updatedBy').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span
                                    [ngStyle]="dataTableHistory.getColumn('updatedBy').style">{{item.updatedByName}}</span>
                            </td>
                        </tr>
                    </ng-container>
                    <!-- No records found -->
                    <div *ngIf="dataTableHistory.isNotFound" class="kt-datatable--error">
                        <kt-not-found></kt-not-found>
                    </div>
                </tbody>

            </table>
        </div>

        <!--end: Datatable -->
        <div *ngIf="dataTableHistory.isLoading" class="blockUI blockMsg blockElement"
            style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
            <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                    <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                </span>
            </div>
        </div>
    </div>
</ng-template>

<!-- confirm cancel -->
<ng-template #tmpConfirmCancel>
    <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.CONFIRM_CANCEL_TRANSACTION' | translate}}</div>
    </div>
</ng-template>
<!-- confirm cancel -->

<!-- confirm cancel -->
<ng-template #tmpConfirmRequestCancel>
    <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.CONFIRM_REQUEST_CANCEL_TRANSACTION' | translate}}</div>
    </div>
</ng-template>
<!-- confirm cancel -->

<!-- end:: Content -->