.customer{
    margin-bottom: 0px !important;
    label{
        margin-bottom: 0px;
    }
}
.content-message{
    padding-left: 40px;
}
.content-text textarea{
    width: 100%;
    height: 300px;
}
.list-send-users{
    border-radius: 4px;
    max-height: 120px;
    overflow-y: auto;
    word-break: break-all;
    min-height: 40px;
    padding: 5px 0;
    background-color: #FFF;
    border: 1px solid #e5e5e5;
    width: 100%;
    .sendPersonSpan{
        border: 1px solid #ccc;
        display: inline-block;
        max-width: 100px;
        height: 25px;
        line-height: 25px;
        // background-color: #666;
        border-radius: 4px;
        padding: 0 5px;
        // color: #FFF;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 5px;
        position: relative;
        padding-right: 23px;
        i{
            font-size: 12px;
        }
        top: 4px;
        b{
            cursor: pointer;
            display: inline-block;
            position: absolute;
            right: 0;
            height: 25px;
            line-height: 25px;
            width: 15px;
            top: 0;
        }
    }
.sendPersonSpanEdit{
    max-width: 500px;
    border: none;
    border-right: 1px solid #ccc;
    border-radius: 0px;
    padding-right: 12px;
}
.sendPersonSpanEdit:last-child{
    border: none;
}
}
.disable-message{
    background-color: #f7f8fa;
    opacity: 1;
    min-height: 200px;
}
.characters_left{
    position: absolute;
    bottom: 41px;
    left: 11px;
    span{
        color: #fd397a;
        .count-characters{
            color: #5d78ff;
        }
    }

}