<!-- begin:: Content -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
        <!-- <div  class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">         
            <kt-user-tree-new [userTreeName]="'userTreeForDevice'"  [cacheSearch]="true"
                [storeLocal]="true" [showCountDevice]="true" (changeUser)="ChangeUserTree($event)"  [allowCollapse]="true">
            </kt-user-tree-new>
        </div> -->
       <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {{'MANAGE.MESSAGE.RECEIVE.MESSAGE'|translate| uppercase}}
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="buttonAddNew(content)">
                                    <i class="flaticon2-plus"></i>  {{'MANAGE.MESSAGE.SEND.MESSAGE'|translate}}
     
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
              
                </div> -->
            <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
                <!--begin: Search Form -->
                <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                    <form class="" [formGroup]="searchFormMessage" (ngSubmit)='searchFormMessageButton(searchFormMessage)'>
        
                       
                                <div class="row align-items-center">
                                        <div class="col-xl-12">
                                                <div class="row align-items-center">
                                                    <div style="width:220px">
                                                            <div class="form-group">
                                                                    <kt-date-range-picker #datePicker 
                                                                    [options]="datePickerOptions" 
                                                                    (dateChange)="dateSelectChange($event)">
                                                        
                                                                </kt-date-range-picker> 
                                                            </div>
                                                    </div>
        
                                                    <div style="padding:0px 10px;"  class="search-device input-width-search">
                                                            <div class="form-group">                         
                                                                <input type="text" class="form-control"
                                                                    placeholder="{{'MANAGE.MESSAGE.COLUMN.TITLE'|translate}}"
                                                                    formControlName="title">
                                                            </div>
                                                     </div>
                                                
                
                                                    <div style="padding-left:10px" >
                
                                                        <div class="form-group">
                                               
                                                            &nbsp;
                                                        <button type="submit" class="btn btn-outline-brand btn-pill" [ngClass] ="{'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':showLoaddingSearch}">
                                                            <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                                        </button>&nbsp;
                                                        <button type="button" class="btn btn-outline-brand btn-pill"
                                                            (click)="resetFormSearch()">
                                                            <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                                        </button>&nbsp;
                                                        </div>
                                                    </div>
                    
                                                </div>
                                            </div>
        
                                </div>
                        
                    </form>
                </div>
        
                <!--end: Search Form -->
                <!--begin: Datatable -->
                <div resizeObserver (resize)="onResize($event.contentRect)"
                    class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                    [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                    style="position: static; zoom: 1;">
                    <table class="kt-datatable__table">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row" style="left: 0px;">
                                <!-- checkbox -->
                                <th *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                    <span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                                (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </th>
                                <!-- end checkbox -->
                                <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__cell--sort">
                                    <a class="kt-datatable__toggle-detail">
                                    </a>
                                </th>
        
                                <ng-container *ngFor="let column of dataTable.getColumns()">
        
                                    <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                        [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                        class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                        (click)="dataTable.sort(column.field)">
                                        <span [ngStyle]="column.style">{{column.translate | translate}}
                                            <i *ngIf="column.isSort"
                                                [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                        </span>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                            <ng-container *ngFor="let item of dataTable.data;let i=index">
                                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                    style="left: 0px;">
                                    <!-- checkbox -->
                                    <td *ngIf="dataTable.selecter"
                                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                        data-field="RecordID"><span style="width: 20px;">
                                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                    (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <!-- end checkbox -->
                                    <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                        class="kt-datatable__cell kt-datatable__toggle-detail">
                                        <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                            <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                          'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                        </a>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                        <span
                                            [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span 
                                        container= "body"
                                        ngbTooltip="{{item.title}}"
                                        [ngStyle]="dataTable.getColumns()[1].style">{{item.title}}</span>
                                    </td>
                                   
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[2].style"
                                        container= "body"
                                        [ngbTooltip]="htmlContentMessage" [innerHTML] = "item.message"
                                            >{{item.message}}</span>
                                    </td>
                                    <ng-template #htmlContentMessage>
                                        <span [innerHTML] = "item.message">

                                        </span>

                                    </ng-template>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[3].style">{{item.totalSendTo}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[4].style">
                                                {{item.createdAt | userDate}}
                                        </span>
                                    </td>

    
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                        data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                        <span  [ngStyle]="dataTable.getColumns()[5].style">
                            
                                                <a
                                                ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate}}"
                                                (click)="editMessage(item,content)"
                                                    class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                    <i class="icon icon-edit
                                              "></i>
                                                </a>
                                            
                                                <a 
                                                ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate}}"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                    data-original-title="Delete User"
                                                    (click)="deleteMessage(item.id,delete)">
                                                    <i class="icon icon-trash"></i>
                                                </a>
                                            </span>
                                    </td>
                                </tr>
                                <!-- Sub row -->
                                <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow" class="kt-datatable__row-detail">
                                    <td class="kt-datatable__detail" colspan="5">
                                        <table>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                                </td>
                                            </tr>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[1].style">{{item.title}}</span>
                                                </td>
                                            </tr>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[2].style"
                                                        translate="{{item.message}}">{{item.message}}</span>
                                                </td>
                                            </tr>
                                            
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[3].style"
                                                    translate="{{item.createdAt}}">{{item.totalSendTo}}</span>
                                            </td>
                                        </tr>
    
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                        class="kt-datatable__row">
                                        <td class="kt-datatable__cell">
                                            <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                        </td>
                                        <td class="kt-datatable__cell">
                                            <span [ngStyle]="dataTable.getColumns()[4].style"
                                                translate="{{item.createdBy}}"> {{item.createdAt | userDate}}</span>
                                        </td>
                                       </tr>
        
        
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[5].style"
                                                        style="overflow: visible; position: relative;">
                                                        <a
                                                ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate}}"
                                                (click)="editMessage(item,content)"
                                                    class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                    <i class="icon icon-edit
                                              "></i>
                                                </a>
                                            
                                                <a 
                                                ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate}}"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                    data-original-title="Delete User"
                                                    (click)="deleteMessage(item.id,delete)">
                                                    <i class="icon icon-trash"></i>
                                                </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </ng-container>
                            <!-- No records found -->
                            <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                                <kt-not-found></kt-not-found>
                            </div>
                        </tbody>
        
        
                    </table>
        
                    <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                        <ul class="kt-datatable__pager-nav">
                            <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                    (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                    <i class="flaticon2-fast-back"></i></a></li>
                            <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                    <i class="flaticon2-back"></i></a></li>
                            <li></li>
                            <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                    title="Page number"></li>
                            <li *ngFor="let page of dataTable.getPageDisplay()">
                                <a (click)="dataTable.gotoPage(page)"
                                    class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                    [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                    data-page="1" title="{{page}}">{{page}}</a>
                            </li>
                            <li style=""></li>
                            <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                        class=" flaticon2-next"></i></a></li>
                            <li><a title="Last"
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                    class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                    (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                    <i class="flaticon2-fast-next"></i></a></li>
                        </ul>
                        <div class="kt-datatable__pager-info">
                            <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                                <select (change)="dataTable.setPageSize($event.target.value)"
                                    class="selectpicker kt-datatable__pager-size" title="Select page size" data-selected="30"
                                    data-width="60px">
                                    <option *ngFor="let item of dataTable.getPaginationSelect()"
                                        [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}" title="{{item}}"
                                        data-toggle="tooltip">{{item}}</option>
                                </select>
                            </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                                {{dataTable.getPaginations().form}} -
                                {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                                {{dataTable.getPaginations().total}}</span>
                        </div>
                    </div>
                </div>
        
                <!--end: Datatable -->
                <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                    style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                    <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                            <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                        </span>
                    </div>
                </div>
            </div>
    </div>
    </div>
        <!-- end:: Content -->
        
        <!-- modal popup -->
        <ng-template #content let-modal>
                    <div class="modal-header ">
                        <h5 class="modal-title" *ngIf="isEdit">
                                {{'MANAGE.MESSAGE.SEND.DETAIL'|translate}}
                            </h5>
                            <h5 class="modal-title" *ngIf="!isEdit">
                                {{'MANAGE.MESSAGE.SEND.MESSAGE'|translate}}

                            </h5>
                        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form [formGroup]="formSendMessage" (ngSubmit)='onSubmit(formSendMessage)' class="form-global">
                        <div class="modal-body div-scrollbar modal-body-Command">
                           
                            
                            <div class="row">
                                
                                       <div  [ngClass] = "showUserTree?'col-md-4':''">
                                            <div class="form-group customer">
                                                    <label class="">
                                                        {{'MANAGE.MESSAGE.SEND.CUSTOMER'|translate}}
                                                    </label> 
                                                    <span class="text-danger"> *</span>                                                                                 
                                             </div>
                                            <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [checkBox]="true" [listCheckbox]="listUserEdit" [eventUpdateCheckbox]="parrentEmiter" (clickCheckbox)="clickCheckbox($event)">
                                            </kt-user-tree-new>
                                        </div>
                                        <div  class="content-message" [ngClass] = "showUserTree?'col-md-8':'col-md-12'" style="max-height: -webkit-fill-available">
                                            <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                                                <div class="form-group row">           
                                                        <div class="col-lg-12">
                                                                <div class="show-error">
                                                                    <label class="">{{'MANAGE.MESSAGE.SEND.SEND_TO'|translate}}</label>  
                                                                    <span class="text-danger"> *</span>                                        
                                                                </div>
                                                                <div class="input-group" style="margin-top: 3px;">                                            
                                                                    <div class="list-send-users">
                                                                        <div *ngIf="!isEdit">
                                                                            <span  class="sendPersonSpan" *ngFor="let item of listSendUsers"  ngbTooltip="{{item.data.name}}">
                                                                                {{item.data.name}}
                                                                                <b class="removeP" (click)="removeSendPerson(item)">
                                                                                    <i class="icon-times"></i>
                                                                                </b>
                                                                            </span>
                                                                        </div> 
                                                                        <div *ngIf="isEdit">
                                                                            <span  class="sendPersonSpan" [ngClass]="{'sendPersonSpanEdit':isEdit}" *ngFor="let item of listUserEdit"  ngbTooltip="{{item.name}}">
                                                                                    {{item.name}}
                                                                                
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                              <div class="form-group row">
                                                    <div class="col-lg-12">
                                                        <div class="show-error" style="margin-top: 4px;">
                                                            <label class="">{{'MANAGE.MESSAGE.COLUMN.TITLE'|translate}}</label>     
                                                            <app-control-messages [control]="f['title']"></app-control-messages>
                                                            <span class="text-danger"> *</span>                                          
                                                        </div>
                                                        <div class="input-group">                                            
                                                            <input [attr.disabled]="isEdit?'':null" [ngModel]="isEdit?dataDefault.title:''" type="text" class="form-control" formControlName="title"
                                                                placeholder="">
                                                        </div>
                                                    </div>
                                              </div>
                                             
                                              <div class="form-group row">
                                                    <div class="col-lg-12">
                                                            <div class="show-error">
                                                                <label class="">{{'MANAGE.MESSAGE.COLUMN.CONTENT'|translate}}</label> 
                                                                <app-control-messages [control]="f['contentMessage']"></app-control-messages>

                                                                <span class="text-danger"> *</span>                                         
                                                            </div>
                                                            <div class="input-group content-text">        
                                                                    <div  class="form-group" style="width:100%">
                                                                            <quill-editor  *ngIf="!isEdit" [attr.disabled]="isEdit?'':null" (onContentChanged)= "onSelectionChanged($event)" [ngModel]="isEdit?dataDefault.message:''"  placeholder="{{'COMMON.GENERAL.INSERT_TEXT' | translate}}" [modules]='modules' maxLength ="300" [styles]="{height: '150px'}" formControlName="contentMessage" >
                                                                            </quill-editor>
                                                                            <div  *ngIf="isEdit"  class="form-control disable-message" [innerHTML] ="dataDefault.message | safe : html">

                                                                            </div>
                                                                            <div *ngIf="!isEdit" class="characters_left">
                                                                                    {{'MANAGE.MESSAGE.SEND.CHARACTER'|translate}}: <span><span class="count-characters">{{countCharacters}}</span>/300</span>
                                                                            </div>
                                                                    

                                                                    </div>
                                                                    <div class="limit-character">
                                                                        <span>
                                                                                {{'MANAGE.MESSAGE.SEND.LIMIT_CHARACTER'|translate}}
                                                                                
                                                                            </span>
                                                                    </div>
                                                          </div>
                                                    </div>
                                              </div>
                                              <div class="form-group row" *ngIf="isEdit">
                                                    <div class="col-lg-12">
                                                        <div class="show-error" style="margin-top: 4px;">
                                                            <label class="">{{'MANAGE.COMMAND.GENERAL.TiME_SEND'|translate}}</label>     
                                                                                   
                                                        </div>
                                                        <div class="input-group">                                            
                                                            <input type="text" class="form-control"  value="{{dataDefault.createdAt | userDate:'dateTime':null:'datetime'}}" disabled
                                                                placeholder="">
                                                        </div>
                                                    </div>
                                              </div>
                                            </div>
                                        </div>

    
                            </div>
                           
                        </div>
                        <!--end body modal-->
                        <div class="modal-footer">
                            <button type="submit" *ngIf="!isEdit" [disabled]="formSendMessage.invalid || listSendUsers.length == 0" 
                                class="btn btn-primary"> {{'MANAGE.MESSAGE.SEND.MESSAGE'|translate}}
                            </button>
                            <button type="button" class="btn btn-secondary"
                            (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
                            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
                        </div>
                    </form>    
        </ng-template>
        <!-- end modal popup -->
        <!-- end:: Content -->
        <!-- modal delete user -->
        <ng-template #delete let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">
                            {{'MANAGE.MESSAGE.RECEIVE.DELETE'|translate}}
                    </h5>
                    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <i class="fa fa-question-circle"></i>
                    {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" (click)="deleteMessageSend()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
                    <button type="button" class="btn btn-secondary"(click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
                </div>
        </ng-template>
        <!--end modal delete user-->
        