<!-- begin:: Content -->
<!-- <div class="alert alert-light alert-elevate" role="alert">
	<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
	<div class="alert-text">
		The Keen Datatable component supports local or remote data source. For the local data you can pass
		javascript array as data source. In this example the grid fetches its data from a javascript array data
		source. It also defines
		the schema model of the data source. In addition to the visualization, the Datatable provides built-in
		support for operations over data such as sorting, filtering and paging performed in user browser(frontend).
	</div>
</div> -->
<div class="kt-main">
	<div class="kt-portlet kt-portlet--mobile kt-portlet--main">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="icon-setting"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					{{'ADMIN.GENERAL.SIM_TYPE' | translate | uppercase }}
				</h3>
			</div>
			<div class="kt-portlet__head-toolbar">
				<div class="kt-portlet__head-wrapper">
					<button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="open(content,'add')"
						aria-expanded="false">
						<i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
						{{'ADMIN.GENERAL.SIM_TYPE' | translate }}
					</button>
				</div>
			</div>
		</div>
		<div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
			<!--begin: Search Form -->
			<div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch">
				<div class="row">
					<div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
						<div class="form-group">
							<div class="kt-form__control">
								<input type="text" class="form-control" data-key="nameKey" placeholder="{{'ADMIN.SIM_TYPE.GENERAL.NAME_KEY' | translate}}" data-key="nameKey">
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
						<div class="form-group">
							<button type="button" class="btn btn-outline-brand btn-pill"
									(click)="dataTable.search()">
									<i class="icon-search"></i>{{'COMMON.SEARCH' | translate}}</button>
						</div>
					</div>
				</div>
			</div>
			<!--end: Search Form -->
			<!--begin: Datatable -->
			<div resizeObserver (resize)="onResize($event.contentRect)"
				class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
				[ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
				style="position: static; zoom: 1;">
				<table class="kt-datatable__table" >
					<!-- Header -->
					<thead class="kt-datatable__head ">
						<tr class="kt-datatable__row" style="left: 0px;">
							<!-- subRow -->
							<th *ngIf="dataTable.isShowSubRow"
								class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
								<span></span>
							</th>
							<!-- end subRow -->
	
							<!-- checkbox -->
							<th *ngIf="dataTable.selecter"
								class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
								<span style="width: 20px;">
									<label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
										<input (click)="dataTable.setCheckBoxAll()" type="checkbox"
											[(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
									</label>
								</span>
							</th>
							<!-- end checkbox -->
							<ng-container *ngFor="let column of dataTable.getColumns()">
								<th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
									[ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
									class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
									(click)="dataTable.sort(column.field)">
									<span [ngStyle]="column.style">{{column.translate | translate}}
										<i *ngIf="column.isSort"
											[ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
									</span>
								</th>
							</ng-container>
						</tr>
					</thead>
					<!-- table body -->
					<tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
						<ng-container *ngFor="let item of dataTable.data;let i=index">
							<tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
								style="left: 0px;">
								<!-- subRow -->
								<td *ngIf="dataTable.isShowSubRow" class="kt-datatable__cell kt-datatable__toggle-detail">
									<a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
										<i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
											'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
									</a>
								</td>
								<!-- end subRow -->
	
								<!-- checkbox -->
								<td *ngIf="dataTable.selecter"
									class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
									data-field="RecordID"><span style="width: 20px;">
										<label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
											<input type="checkbox" [(ngModel)]="item.dt_selecter"
												(click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
										</label>
									</span>
								</td>
								<!-- end checkbox -->
								<td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
									class="kt-datatable__cell kt-datatable__cell" data-field="id">
									<span
										[ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
									data-field="key_name" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
									class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[2].style">{{item.nameKey | translate}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
									data-field="hire_date" class="kt-datatable__cell">
									<span
										[ngStyle]="dataTable.getColumns()[3].style">{{item.createAt | date:'dd/MM/yyyy'}}</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
									data-field="status" class="kt-datatable__cell">
									<span [ngStyle]="dataTable.getColumns()[4].style">
										{{item.sortOrder?item.sortOrder:"-"}}
									</span>
								</td>
								<td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
									data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span
										[ngStyle]="dataTable.getColumns()[5].style"
										style="overflow: visible; position: relative;">
										<a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
											class="btn btn-sm btn-clean btn-icon btn-icon-md"
											(click)="open(content,'edit',item)">
											<i class="icon-edit"></i>
										</a>
										<a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
											class="btn btn-sm btn-clean btn-icon btn-icon-md"
											(click)="open(content,'delete',item)">
											<i class="icon-trash"></i>
										</a>
									</span>
								</td>
							</tr>
							<!-- Sub row -->
							<tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow" class="kt-datatable__row-detail">
								<td class="kt-datatable__detail" colspan="9">
									<table>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[0].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span
													[ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[1].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[2].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[2].style">{{item.nameKey | translate}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[3].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span
													[ngStyle]="dataTable.getColumns()[3].style">{{item.createAt | date:'dd/MM/yyyy'}}</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[4].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[4].style">
													{{item.sortOrder?item.sortOrder:"-"}}
												</span>
											</td>
										</tr>
										<tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
											class="kt-datatable__row">
											<td class="kt-datatable__cell">
												<span>{{dataTable.getColumns()[5].translate | translate}}</span></td>
											<td class="kt-datatable__cell">
												<span [ngStyle]="dataTable.getColumns()[5].style"
													style="overflow: visible; position: relative;">
													<a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
														class="btn btn-sm btn-clean btn-icon btn-icon-md"
														(click)="open(content,item)">
														<i class="icon-edit"></i>
													</a>
													<a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
														class="btn btn-sm btn-clean btn-icon btn-icon-md">
														<i class="icon-trash"></i>
													</a>
												</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</ng-container>
						<!-- No records found -->
						<div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
							<kt-not-found></kt-not-found>
						</div>
						<!-- <span *ngIf="dataTable.isNotFound" class="kt-datatable--error"
							[innerHTML]="'COMMON.MESSAGE.NO_RECORDS_FOUND' | translate">No records found</span> -->
					</tbody>
	
				</table>
				<!-- begin pagination -->
				<div  [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}" class="kt-datatable__pager kt-datatable--paging-loaded">
					<!-- pagination -->
					<ul class="kt-datatable__pager-nav">
						<li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
								class="kt-datatable__pager-link kt-datatable__pager-link--first"
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
								(click)="dataTable.gotoPage(dataTable.getFirstPage())">
								<i class="flaticon2-fast-back"></i></a></li>
						<li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
								class="kt-datatable__pager-link kt-datatable__pager-link--prev"
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
								(click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
								<i class="flaticon2-back"></i></a></li>
						<li></li>
						<li style="display: none;"><input type="text" class="kt-pager-input form-control"
								title="Page number"></li>
						<li *ngFor="let page of dataTable.getPageDisplay()">
							<a (click)="dataTable.gotoPage(page)"
								class="kt-datatable__pager-link kt-datatable__pager-link-number "
								[ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
								data-page="1">{{page}}</a>
						</li>
						<li style=""></li>
						<li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
								class="kt-datatable__pager-link kt-datatable__pager-link--next "
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
								(click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
									class=" flaticon2-next"></i></a></li>
						<li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
								[ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
								class="kt-datatable__pager-link kt-datatable__pager-link--last"
								(click)="dataTable.gotoPage(dataTable.getLastPage())">
								<i class="flaticon2-fast-next"></i></a></li>
					</ul>
					<!-- page size -->
					<div class="kt-datatable__pager-info">
						<div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
							style="width: 60px;">
							<select (change)="dataTable.setPageSize($event.target.value)"
								class="selectpicker kt-datatable__pager-size" title="Select page size" data-selected="30"
								data-width="60px">
								<option *ngFor="let item of dataTable.getPaginationSelect()"
									[selected]="item==dataTable.getPaginations().pageSize" value="{{item}}" title="{{item}}"
									data-toggle="tooltip">{{item}}</option>
							</select>
						</div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
							{{dataTable.getPaginations().form}} -
							{{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
							{{dataTable.getPaginations().total}}</span>
					</div>
				</div>
				<!-- end: Pagination -->
			</div>
	
			<!--end: Datatable -->
			<div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
				style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
				<div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
						<div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{titlePopup | translate}} {{'ADMIN.GENERAL.SIM_TYPE' | translate  }}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<ng-container [ngSwitch]="action">
			<ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="comfimDelete"
				[ngTemplateOutletContext]="{ item: 'name' }">
			</ng-container>
			<ng-container *ngSwitchDefault [ngTemplateOutlet]="formEdit" [ngTemplateOutletContext]="{ item: 'name' }">
			</ng-container>
		</ng-container>

	</div>
	<div class="modal-footer">
		<ng-container [ngSwitch]="action">
			<button *ngSwitchCase="'edit'" type="button" class="btn btn-primary" [disabled]="!simTypeForm.valid"
				(click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
			<button *ngSwitchCase="'add'" type="button" class="btn btn-primary" [disabled]="!simTypeForm.valid"
				(click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
			<button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
				(click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
		</ng-container>
		<button type="button" class="btn btn-secondary"
			(click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<!-- edit form and create form -->
<ng-template #formEdit>
	<form class="kt-form" [formGroup]="simTypeForm" (ngSubmit)="onSubmit()" novalidate="novalidate">
		<div class="kt-portlet__body">
			<div class="form-group validate is-invalid">
				<label>{{ 'ADMIN.SIM_TYPE.GENERAL.NAME_KEY' | translate }}</label>
				<input type="text" class="form-control" autocomplete="false" name="name_key" formControlName="nameKey">
				<div class="error invalid-feedback" *ngIf="isControlHasError('nameKey','required')">
					<strong>{{ 'COMMON.VALIDATION.REQUIRED_FIELD_NAME' | translate }}
						{{ 'ADMIN.SIM_TYPE.GENERAL.NAME_KEY' | translate }}</strong>
				</div>
			</div>
			<div class="form-group">
				<label>{{ 'ADMIN.SIM_TYPE.GENERAL.SORT_ORDER' | translate }}</label>
				<input type="number" class="form-control" autocomplete="false" formControlName="sortOrder">
			</div>
		</div>
	</form>
</ng-template>
<ng-template #comfimDelete>
	<div class="alert alert-bold" role="alert">
		<div class="alert-icon"><i class="icon-question-circle"></i></div>
		<div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
	</div>
</ng-template>

<!-- end:: Content -->