<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" [allowCollapse]="true" [btnClose]="true" (changeUser)="ChangeUserTree($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="max-width: 100%">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <kt-breadcrumb title="{{'REPORT.ENGINE.GENERAL.REPORT_ENGINE' | translate}}" [data]="parentBread">
                </kt-breadcrumb>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormEngine" (ngSubmit)='searchEngine(searchFormEngine)'>

                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div style="padding:0px 10px; " class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <div class="form-group ">
                                        <kt-date-range-picker #datePicker [options]="datePickerOptions"
                                            (dateChange)="dateSelectChange($event)">
                                        </kt-date-range-picker>
                                    </div>
                                </div>
                                <div class="search-device col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <div class="form-group ">
                                        <select [(ngModel)]="deviceId" data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="deviceId"
                                            name="days" id="days" #days
                                            (change)="getNameDevice(days.options[days.options.selectedIndex].text)">
                                            <option value="">
                                                {{'REPORT.ROUTE.GENERAL.CHOISE_DEVICE' | translate}}
                                            </option>
                                            <option *ngFor='let device of listDevices' value="{{device.id}}">
                                                {{device.name}}
                                            </option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-4  col-sm-12">
                                    <div class="form-group ">
                                        <button type="submit" class="btn btn-outline-brand btn-pill">
                                            <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-outline-brand btn-pill"
                                            (click)="resetFormSearch()">
                                            <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                        </button>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end: Search Form -->
            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">
                    <div class="col-md-12 export-file">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                        <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_EXCEL' | translate}}" (click)="exportXlSX()"
                            type="button" container="body" class="btn btn-circle btn-icon btn-sm button-excel"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':isdownLoad}"
                            id="dropdownMenuButton" placement="top" aria-expanded="false">
                            <i class="icon-file-excel1"></i>
                        </button>
                        <span>&nbsp;&nbsp;</span>
                        <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" (click)="exportPDF()"
                            type="button" container="body"
                            [ngClass]="isdownLoadPDF?'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':''"
                            class="btn btn-circle btn-icon btn-sm button-pdf" id="dropdownMenuButton" placement="top"
                            aria-expanded="false">
                            <i class="icon-file-pdf1"></i>
                        </button>

                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">

                        </div>
                        <!-- <div class="kt-separator"></div> -->
                    </div>
                </div>
            </div>
            <!-- end: Feature -->
            <!--begin: Datatable -->
            <div class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods">
                <table class="kt-datatable__table datatable__table_report" style="overflow: auto;">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                            (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                class="kt-datatable__cell kt-datatable__cell--sort">
                                <a class="kt-datatable__toggle-detail">
                                </a>
                            </th>

                            <ng-container *ngFor="let column of dataTable.getColumns()">

                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let group of dataTable.data;let j=index;">
                            <ng-container *ngFor="let item of group.data">
                                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                    style="left: 0px;">
                                    <!-- checkbox -->
                                    <td *ngIf="dataTable.selecter"
                                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                        data-field="RecordID">
                                        <span style="width: 20px;">
                                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                    (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <!-- end checkbox -->
                                    <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                        class="kt-datatable__cell kt-datatable__toggle-detail">
                                        <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                            <i
                                                [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i),
                                                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                        </a>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                        <span [ngStyle]="dataTable.getColumns()[0].style">
                                            {{item.count}}
                                        </span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.date | userDate}} "
                                            [ngStyle]="dataTable.getColumns()[1].style">
                                            {{item.date | userDate}}
                                        </span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                        data-field="name" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[2].style"
                                            ngbTooltip="{{convertNumberToTime(item.totalEngineOnTime)}}"
                                            translate="{{item.commandName}}">
                                            {{convertNumberToTime(item.totalEngineOnTime)}}
                                        </span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[3].style">
                                            {{convertNumberToTime(item.moveDuration)}}
                                        </span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[4].style">
                                            {{item.movePercent}} %

                                        </span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[5].style">
                                            {{convertNumberToTime(item.stopEngineOnTime)}}
                                        </span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[6].style">
                                            {{item.idlingPercent}} %
                                        </span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[7].style">
                                            {{convertNumberToTime(item.avgInterval)}}
                                        </span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[8].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[8].style">
                                            {{roundNumber(item.mileage)}}
                                        </span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[9].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[9].style">
                                            {{roundNumber(item.avgSpeed)}}
                                        </span>
                                    </td>


                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[10].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[10].style">
                                            {{item.interval}}
                                        </span>
                                    </td>



                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[11].isShow?'none':'')}"
                                        data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                        <span ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                            [ngStyle]="dataTable.getColumns()[11].style"
                                            style="overflow: visible; position: relative;">
                                            <a class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                (click)="editEngine(group.timeFrom,group.timeEnd,content)">
                                                <i style="font-size:14px;" class="icon-info-circle"></i>
                                            </a>

                                        </span>
                                    </td>
                                </tr>

                                <!-- Sub row -->


                                <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow">
                                    <td class="kt-datatable__detail" colspan="9">
                                        <table>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[0].style">
                                                        {{item.count}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>
                                                        {{dataTable.getColumns()[1].translate | translate}}
                                                    </span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[1].style">
                                                        {{item.date | userDate}} </span>
                                                </td>
                                            </tr>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[2].style"
                                                        translate="{{item.commandText}}">{{convertNumberToTime(item.totalEngineOnTime)}}</span>
                                                </td>
                                            </tr>

                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[3].style"
                                                        translate="{{item.createdAt}}">{{convertNumberToTime(item.moveDuration)}}</span>
                                                </td>
                                            </tr>

                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[4].style"
                                                        translate="{{item.sendTime}}">{{item.movePercent}} %</span>
                                                </td>
                                            </tr>

                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{convertNumberToTime(item.stopEngineOnTime)}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[5].style"
                                                        translate="{{item.nameKey}}">
                                                        {{item.idlingPercent}} %
                                                    </span>
                                                </td>
                                            </tr>

                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[6].style"
                                                        translate="{{item.maxspeed}}">{{convertNumberToTime(item.avgInterval)}}</span>
                                                </td>
                                            </tr>

                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[7].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[7].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[7].style"
                                                        translate="{{item.maxspeed}}">
                                                        {{roundNumber(item.mileage)}}</span>
                                                </td>
                                            </tr>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[8].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[8].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[8].style"
                                                        translate="{{item.maxspeed}}">{{roundNumber(item.avgSpeed)}}</span>
                                                </td>
                                            </tr>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[9].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[9].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumns()[9].style"
                                                        translate="{{item.maxspeed}}">{{item.interval}}</span>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>

                                </tr>
                            </ng-container>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>


                </table>

                <div class="kt-datatable__pager kt-datatable--paging-loaded " *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">

        <h5 class="modal-title">
            {{'REPORT.ENGINE.GENERAL.DETAIL_DAY' | translate}} {{timeFromdetail | userDate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body div-scrollbar modal-body-Command" *ngFor="let data of dataDefault">

        <table class="table table-detail-report">
            <thead class="kt-font-600">
                <tr>
                    <th style="width: 50px">#</th>
                    <th width="35%" style="min-width: 200px;">{{'REPORT.ENGINE.COLUMN.ENGINE_START' | translate}}</th>
                    <th width="35%" style="min-width: 200px;">{{'REPORT.ENGINE.COLUMN.ENGINE_END' | translate}}</th>
                    <th style="min-width: 100px;">{{'REPORT.ENGINE.COLUMN.TIME_MOVE' | translate}}</th>
                    <th style="min-width: 100px;">{{'REPORT.ENGINE.COLUMN.TIME_ENGINE' | translate}}</th>
                    <th style="min-width: 100px;">{{'REPORT.ENGINE.COLUMN.RATIO' | translate}}</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listDataDetail;let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        {{item.startTime | userDate:"HH:mm:ss"}} - {{item.startAddress}}
                    </td>
                    <td>
                        {{item.stopTime | userDate:"HH:mm:ss"}} - {{item.stopAddress}}
                    </td>
                    <td>
                        {{convertNumberToTime(item.moveDuration)}}
                    </td>
                    <td>
                        {{convertNumberToTime(item.engineonTime)}}
                    </td>
                    <td>
                        {{item.movePercent}} %

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <!--end body modal-->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
        <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
    </div>
    <div *ngIf="isLoading" class="loadding-data">
        <div class="kt-spinner kt-spinner--sm kt-spinner--brand"></div>
    </div>
</ng-template>
<!-- end modal popup -->
<!-- end:: Content -->