.kt-datatable__body_overlow_y{
    overflow: auto;
    max-height: calc(100vh - 460px);
  }
.table-detail-report{
  font-size: 14px;
  min-width: 600px;
}  
.table-detail-report th{
  font-weight: bold;
}
.table-detail-report td{
  vertical-align: middle;
}
@media (max-width: 1400px) {

  .kt-main_report .kt_datatable {
    min-height: calc(100vh - 290px) !important;
  }
}
.bootstrap-select::after{
  border-color: #fff transparent transparent transparent;
}