<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile kt-header-mobile--fixed">
	<div class="kt-header-mobile__logo">
		<a routerLink="/">
			<img alt="logo" [attr.src]="headerLogo" />
		</a>
	</div>
	<div class="kt-header-mobile__toolbar">
		<button [hidden]="!checkListDevice()" class="kt-header-mobile__topbar-toggler" (click)="showListDevice()">
			<i class="flaticon2-indent-dots"></i>
		</button>
		<button [hidden]="!userTreeMainDisplay()" *ngxPermissionsOnly="['ROLE_user.tree']" class="kt-header-mobile__topbar-toggler" (click)="showUserTree()">
			<i class="flaticon2-group"></i>
		</button>
		
		<button [hidden]="!asideDisplay" class="kt-header-mobile__topbar-toggler" id="kt_aside_mobile_toggler">
			<i class="icon-align-right"></i>
		</button>
		<!-- <button class="kt-header-mobile__topbar-toggler" id="kt_header_mobile_toggler">
			<i class="icon-align-justify"></i>
		</button> -->
		<button ktToggle [options]="toggleOptions" class="kt-header-mobile__topbar-toggler"
			id="kt_header_mobile_topbar_toggler">
			<i class="flaticon2-grids"></i>
		</button>

	</div>
</div>
<!-- end:: Header Mobile -->