.kt-header-mobile__topbar-toggler{
    min-width: 18px !important;
    min-height: 20px !important;

}

.kt-header__topbar{
    display: flex;
    align-items: center;
    padding:0px;
    position: relative;
    margin-top:0px;

}