<style>
	:host {
		flex: 1 1 200px;
	}

</style>
<div class="kt-tracking-item" resizeObserver (resize)="onResize($event.contentRect)">
	<div class="kt-map">
		<div class="map" id="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
		</div>
		<!-- Process text -->
		<div style="position: absolute; display: flex; flex-direction: column; justify-content: center; right: 0px; z-index: 1; opacity: 0;">
			<svg [id]="mapConfig.options.elementProcessText" style="height:0px;">
				<text x="22" y="15" fill="#fff" font-size="11"></text>
				<text x="22" y="15" fill="#fff" font-size="11"></text>
			</svg>
		</div>
	</div>
	<!-- [ngClass]="{'kt-spinner kt-spinner--center kt-spinner--lg kt-spinner--brand':isLoading}" -->
	<div class="kt-left" [ngClass]="{'collapse':(isShowInfo === false && isMouseEnter === false),
            'kt-hide':!checkShow('infoDeviceMulti.baseData.isShow')}" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
		<div class="kt-portlet kt-portlet--mobile kt-margin-0" id="geofenceConfig" style="overflow-y: auto;">
			<div class="kt-form" id="formGeofenceTool">
				<div class="kt-portlet__body kt-portlet__body--overflow-y " id="geofenceBody">
					<div class="custom-tile" style="width: 100%; height: 100%; position: relative;">
						<div style="position: relative; z-index: 2;">
							<div style="bottom: 50px;">
								<div class="marker-tooltip">
									<div class="unit-tooltip-text">
										<div class="mp-inline-block mp-inline-block-icon">
											<div *ngIf="trackingObj?.type=='geofence'">
												<svg *ngIf="trackingObj?.data.type=='polygon'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<path d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z" [attr.fill]="trackingObj?.data.fillColor" />
													</g>
												</svg>
												<svg *ngIf="trackingObj?.data.type=='circle'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<circle [attr.fill]="trackingObj?.data.fillColor" cx="12" cy="12" r="8" />
													</g>
												</svg></div>
											<div *ngIf="trackingObj?.type=='landmark'">
												<i [class]="landmarkIconClass[trackingObj?.data.poiTypeName]" [style.color]="trackingObj?.data.fillColor" style="margin-right: 3px;"></i>
											</div>
										</div>
										<div class="mp-inline-block kt-font-info">
											<span>{{trackingObj?.data.name}}</span>
										</div>
										<div class="mp-action">
											<div class="mp-action">
												<div class="mp-item mp-pin kt-font-brand">
													<i [ngClass]="{'icon-arrow-circle-right':!isShowInfo,'icon-arrow-circle-left':isShowInfo}" class="icon-arrow-circle-left" placement="top" triggers="hover" (click)="toggleInfo();"></i>
												</div>
											</div>
										</div>
									</div>
									

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Form-->
		</div>
	</div>
	<!-- cars in fences -->
	<div class="car-in-fence">
		<div class="unit-tooltip-text">
			<div class="mp-inline-block mp-inline-block-icon">
				<i style="font-size: 1.2rem; transform: translateY(-50%);position: absolute;" class="icon-car"></i>
			</div>
			<div class="text">
				<span *ngIf="trackingObj?.type == 'geofence'">{{('COMMON.GENERAL.IN' | translate)+carsInFence.length + ('COMMON.GENERAL.TOTAL' | translate) + carsInMap.length}}</span>
				<span *ngIf="trackingObj?.type == 'landmark'">{{carsInMap.length}}</span>
			</div>
		</div>
	</div>
	<div class="btn-close">
		<button class="btn btn-icon btn-sm kt-font-color btn-circle" (click)="close(item)" ngbTooltip="{{'COMMON.GENERAL.CLOSE' | translate}}" container="body" placement="left"><i class="icon-times"></i></button>
	</div>
	<div class="btn-refesh">
		<button class="btn btn-icon btn-sm kt-font-color btn-circle" (click)="refesh()" ngbTooltip="{{'COMMON.GENERAL.REFESH' | translate}}" container="body" placement="left"><i class="icon-direction-arrow-fit"></i></button>
	</div>
	<div>

	</div>
	<!-- <kt-map-control [mapService]="getMapService()" class="kt-map-control"></kt-map-control> -->
</div>
