<div class="kt-header__topbar-item">
	<div class="kt-header__topbar-wrapper">
		<span (click)="showPopupMessage(content)" class="kt-header__topbar-icon"
			[ngClass]="{'kt-pulse kt-pulse--brand': pulse, 'kt-pulse--light' : pulseLight, 'kt-header__topbar-icon--success' : iconType === 'success'	}">
			<span style="    padding-top: 5px;"> <i class="icon-envelope-regular" style="color: #5d78ff;"></i></span>
		</span>
		<span *ngIf='countNew>0' class="kt-dot-notify">
			{{countNew}}<span *ngIf='isCross'>+</span>
		</span>
		<!-- <span  class="kt-dot-notify">
				{{countNew}}
		</span> -->
	</div>

</div>
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">
			{{'MANAGE.MESSAGE.RECEIVE.MESSAGE'|translate}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" id="sytemlog" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0"
		[infiniteScrollContainer]="'#sytemlog'" [fromRoot]="true" [alwaysCallback]="true" (scrolled)="onScrollDown()">
		<div class="list-box-message">
			<ul>
				<li *ngFor="let item of listMessage" [ngClass]="{'unread':item.status!=1}" class="unread"
					(click)="asRead(item.id)">
					<span class="mess-no">
						<i class="icon-envelope-regular"></i>
					</span>
					<div class="author-send">
						<span style="text-transform: capitalize;">{{item.createdByName | lowercase}}</span>
						({{item.createdAt | userDate:'fromNow':null:'datetime'}})
					</div>
					<div class="title-message">
						{{item.title}}
					</div>
					<!-- <div class="date-message">
					   {{item.createdAt | userDate:'fromNow':null:'datetime'}}
				 </div> -->

					<div class="content-message" [innerHTML]="item.message">

					</div>
					<span (click)="deleteMessage(delete,item.id)" class="icon-delete">
						<i class="icon-trash"></i>
					</span>
				</li>

			</ul>
			<div class="see-new" *ngIf="loadMore"
				[ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center':loadMore}">
			</div>
		</div>
		<div *ngIf="listMessage.length == 0" style="min-height: 200px" class="kt-grid kt-grid--ver">
			<div _ngcontent-moo-c10=""
				class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
				<div _ngcontent-moo-c10="" class="kt-grid__item kt-grid__item--middle kt-align-center">
					<span style="font-size: 14px;"><i class="icon-search"
							style="margin-right: 4px;"></i>{{'MANAGE.MESSAGE.RECEIVE.NOT_FOUND'|translate}}</span>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<div class="button-bottom">
			<button type="button" class="btn btn-secondary"
				(click)="markAllReadPopup(markAllRead)">{{'MANAGE.ALERT_RULE.NOTIFICATION.MARK_ALL_READ' | translate}}</button>
			<button type="button" class="btn btn-secondary"
				(click)="deleteAll(deleteall)">{{'MANAGE.MESSAGE.RECEIVE.DELETE_ALL'|translate}}</button>
		</div>

		<button type="button" class="btn btn-secondary"
			(click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>
<!-- edit form -->
<ng-template #alertPopupContent>

	<kt-alert-popup [alertPopup]="alertPopup">
	</kt-alert-popup>

</ng-template>

<!-- end:: Content -->
<!-- modal delete user -->
<ng-template #delete let-modal>
	<div class="modal-header">
		<h5 class="modal-title">
			{{'MANAGE.MESSAGE.RECEIVE.DELETE'|translate}}
		</h5>
		<button type="button" class="close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<div class="modal-body">
		<i class="fa fa-question-circle"></i>
		{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
	</div>
	<div class="modal-footer">

		<button type="button" class="btn btn-primary"
			(click)="confirmDeleteMessage(modal)">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
		<button type="button" class="btn btn-secondary"
			(click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
	</div>
</ng-template>
<!--end modal delete user-->

<!-- modal delete user -->
<ng-template #deleteall let-modal>
	<div class="modal-header">
		<h5 class="modal-title">
			{{'MANAGE.MESSAGE.RECEIVE.DELETE'|translate}}
		</h5>
		<button type="button" class="close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<div class="modal-body">
		<i class="fa fa-question-circle"></i>
		{{'MANAGE.MESSAGE.RECEIVE.DELETE_MESSAGE'|translate}}
	</div>
	<div class="modal-footer">

		<button type="button" class="btn btn-primary"
			(click)="confirmDeleteMessageAll(modal)">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
		<button type="button" class="btn btn-secondary"
			(click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
	</div>
</ng-template>
<!--end modal delete user-->

<!-- modal delete user -->
<ng-template #markAllRead let-modal>
	<div class="modal-header">
		<h5 class="modal-title">
			{{'MANAGE.MESSAGE.RECEIVE.MARK'|translate}}
		</h5>
		<button type="button" class="close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<div class="modal-body">
		<i class="fa fa-question-circle"></i>
		{{'MANAGE.MESSAGE.RECEIVE.MARK_ALL'|translate}}
	</div>
	<div class="modal-footer">

		<button type="button" class="btn btn-primary"
			(click)="markAllReadConfirm(modal)">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
		<button type="button" class="btn btn-secondary"
			(click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
	</div>
</ng-template>
<!--end modal delete user-->