#sytemlog{
   padding:0px;
   padding-bottom: 10px;
  .list-box-message{
    ul{
      list-style: none;
      padding: 0px;
      li{
        cursor: pointer;
        padding: 12px 52px;  
        border-bottom: 1px solid #e8e8ea;
        color: #74788d;
        font-size: 12px;
        position: relative;
        .title-message{
          font-weight: bold;
          font-size: 15px;
          // margin-bottom: 5px;
        }
        .date-message{
          // font-weight: bold;
          font-style: italic;
        }
        .mess-no{
          position: absolute;
          left: 12px;
          top: 46%;
          bottom: 0;
          width: 32px;
          text-align: center;
          line-height: 100%;
          display: inline-block;
          font-size: 14px;
          i{
            font-size: 1.4rem;      
              }
        }
        .content-message {
          line-height: 21px;
          font-size: 14px;
          word-wrap: break-word;
          text-align: justify;
          span,p{
            color: #74788d;
          }
        }
        .icon-delete{
          height: 23px;
          width: 23px;
          display: inline-block;
          cursor: pointer;
          position: absolute;
          right:12px;
          top: 50%;
          // margin-top: -12px;
        }
  
      }
      li.unread{
        background: #edf2fa;
        border-bottom: 1px solid #ccc;
        i{
          color: #fd397a !important;
        }
        .title-message{
          color: #48465b;
          font-weight: bold;
        }
        .date-message{
          font-weight: bold;
        }
      }
    }
  }
}
.button-bottom{
  position: absolute;
  left: 20px;
  button{
    margin-right: 10px;
  }
}

.kt-header__topbar-wrapper{
  position: relative;
}