.map-sidebar-header-tabs {
  display: flex;
  flex-direction: row;
}
.headers-tabs-item {
  flex: 1;
  .headers-tabs-item-title {
    position: relative;
    .count {
      background-color: #de350b;
      color: white;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      line-height: 1;     
      text-align: center;
      border-radius: 5px;
      position: absolute;
      left: calc(50% + 2px);
      top: -5px;
      border: 1px solid #fff;
      padding: 3px 3px;
      min-width: 18px;
    }
  }
}
#listDeviceContainerTracking {
  height: 300px;
  //   max-height: 758px;
}
.car-group-select {
  .back-list {
    cursor: pointer;
    i {
      padding: 10px;
    }
  }
}
.btn-close{
  display: none;
}
@media (max-width:1024px){
  .btn-close{
    display: block;
  }
  .mp-map-sidebar{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 99999;
      &.mobile{
          display: block;
      }
  }
}
.kt-aside-overlay{
  display: none!important;
}
.kt-aside-overlay.show{
  display: block!important;
}

