<div class="mp-map-sidebar" id="ktTracking" resizeObserver (resize)="onResize($event.contentRect)"
    [ngClass]="{'mobile':isShowMobile}">
    <!-- [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--brand kt-spinner--center':isLoading}" -->
    <div style="height: 100%; display: flex;flex-direction: column;">
        <div class="mp-map-sidebar-header " id="headerListDeviceTracking">
            <div class="btn-close" *ngIf="isShowMobile" style="height: 25px;">
                <a class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="close()"
                    style="background: #f0f3ff;position: absolute; top:2px;right: 2px;border-radius: 5px;">
                    <i class="icon-times"></i>
                </a>
            </div>
            <div class="mp-input-group">
                <div class="mp-inline-block car-group-select " style="width:285px; display:flex">
                    <div class="form-group back-list" (click)="closeTracking()">
                        <button class="btn btn-outline-hover-info btn-elevate btn-circle btn-icon">
                            <i class="icon-arrow-left ic-lg" style="font-size:1.3rem"></i>
                        </button>  
                       
                    </div>
                    <div class="form-group col-md-12 " style="min-width: 285px;">
                        <select data-live-search="true" (change)="changeItemTracking($event)"
                            class="form-control kt_selectpicker" data-size="5" name="days"
                            id="days" #days value="{{itemTracking.id}}">
                            <!-- <option value="">
                                {{'REPORT.ROUTE.GENERAL.CHOISE_DEVICE' | translate}}
                            </option> -->
                            <option *ngFor='let device of listDevices' value="{{device.id}}">
                                {{device.name}}
                            </option>

                        </select>
                    </div>
                    <div class="kt-input-icon kt-input-icon--right">
                    </div>
                </div>
                <span class="settings-top" style="top:0px;" (click)="onConfigMap('tracking')">
                    <button class="btn btn-outline-hover-info btn-elevate btn-circle btn-icon">
                        <i class="flaticon2-settings" style="font-size:1.3rem"></i>
                    </button>                  
                </span>
            </div>
            <div class="map-sidebar-header-tabs" style="display: flex;">
                <div class="headers-tabs-item" (click)="changeTab('now')" [ngClass]="{'active':tabActive=='now'}">
                    <div class="headers-tabs-item-title"><i class="icon-car-alt"></i></div>
                    <div class="headers-tabs-item-subTitle">{{'MAP.TRACKING.GENERAL.NOW' | translate}}</div>
                </div>
                <div class="headers-tabs-item" (click)="changeTab('route')" [ngClass]="{'active':tabActive=='route'}">
                    <div class="headers-tabs-item-title">
                        <i class="icon-route"></i>
                    </div>
                    <div class="headers-tabs-item-subTitle">{{'MAP.TRACKING.GENERAL.ROUTE' | translate}}</div>
                </div>
                <div class="headers-tabs-item" (click)="changeTab('notification')"
                    [ngClass]="{'active':tabActive=='notification'}">
                    <div class="headers-tabs-item-title">
                        <i class="icon-bell"></i>
                        <span class="count" *ngIf="countNew>0">{{countNew}}</span>
                    </div>
                    <div class="headers-tabs-item-subTitle">{{'MAP.TRACKING.GENERAL.NOTIFICATIONS' | translate}}</div>
                </div>
            </div>
        </div>
        <div style="position: relative;display: flex; flex-direction: column; flex-grow: 2;">
            <div class="custom-scroll " style="overflow:auto">
                <div class="outer-container" style="height: 100%;">
                    <div class="inner-container" style="margin-right: -17px; height: 100%;">
                        <div class="content-wrapper" style="margin-right: 0px; height: 100%; overflow-y: visible;">
                            <div style="will-change: transform; width: 400px;">
                                <div id="listDeviceContainerTracking" style="overflow: auto;">
                                    <kt-tracking-info *ngIf="tabInfoLoaded" [ngClass]="{'kt-hide':tabActive!='now'}"
                                        [item]="itemTracking" [mapService]="mapService" [itemChange]="eventChange"
                                        (eventChange)="outputInfo($event)" [isUserLogin]="isUserLogin">
                                    </kt-tracking-info>
                                    <kt-tracking-route *ngIf="tabRouteLoaded" [ngClass]="{'kt-hide':tabActive!='route'}"
                                        [item]="itemTracking" [mapService]="mapService" [itemChange]="eventChange">
                                    </kt-tracking-route>
                                    <kt-tracking-notifications *ngIf="tabNotificationLoaded" [ngClass]="{'kt-hide':tabActive!='notification'}"
                                    [item]="itemTracking" [mapService]="mapService" [isUserLogin]="isUserLogin" [itemChange]="eventChange"></kt-tracking-notifications>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="display:none" class="scroll-top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#797F82" fill-rule="evenodd" d="M8.6 7.4L10 6l6 6-6 6-1.4-1.4 4.6-4.6z"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="kt-aside-overlay" [ngClass]="{'show':isShowMobile}" (click)="close()"></div>
<kt-setting-map [eventInput]="eventMapSetting"></kt-setting-map>