<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            {{'COMMON.MAP_SETTING.MAP_MULTI_CONFIG' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body kt-pd-0">
        <ng-container [ngTemplateOutlet]="templateConent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateConent>
    <div class="row">
        <div class="col-md-4" style="border-right: 1px solid #dcdee0;">
            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand" role="tablist">
                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active':actionKey=='list_device_base'}" data-toggle="tab"
                        href="#kt_tabs_2_1" role="tab" aria-selected="true">
                        {{'COMMON.MAP_SETTING.LIST_DEVICE' | translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active':actionKey=='info_device_multi'}" data-toggle="tab"
                        href="#kt_tabs_2_2" role="tab" aria-selected="true">
                        {{'COMMON.MAP_SETTING.INFO_DEVICE' | translate}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="tab-content">
                <!-- list device  -->
                <div class="tab-pane " [ngClass]="{'active':actionKey=='list_device_base'}" id="kt_tabs_2_1"
                    role="tabpanel">
                    <div class="accordion   accordion-toggle-arrow" id="accordionExample1">
                        <div class="card">
                            <div class="card-header" id="headingOne1">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseOne1"
                                    aria-expanded="true" aria-controls="collapseOne1">
                                    {{'COMMON.MAP_SETTING.BASE' | translate}}
                                </div>
                            </div>
                            <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1"
                                data-parent="#accordionExample1" style="">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['baseData']['icon']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ICON' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['baseData']['duration']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DURATION' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['baseData']['speed']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SPEED' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['baseData']['battery']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.BATTERY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['baseData']['gsm']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GSM' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo1">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1"
                                    aria-expanded="false" aria-controls="collapseTwo1">
                                    {{'COMMON.MAP_SETTING.ADVANCE' | translate}}
                                </div>
                            </div>
                            <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1"
                                data-parent="#accordionExample1">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['numberPlate']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.NUMBER_PLATE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['imei']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.IMEI' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['simno']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SIM_NO' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['vin']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.VIN' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['powerVoltage']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.POWER_VOLTAGE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['distanceToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DISTANCE_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['driver']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVER' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['drivingToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVING_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['updateTime']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.UPDATE_TIME' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['group']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GROUP' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['geofence']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GEOFENCE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['listDeviceBase']['deviceData']['address']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ADDRESS' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- info box -->
                <div class="tab-pane " [ngClass]="{'active':actionKey=='info_device_multi'}" id="kt_tabs_2_2"
                    role="tabpanel">
                    <div class="accordion   accordion-toggle-arrow" id="accordionExample2">
                        <div class="card">
                            <div class="card-header" id="headingOne2">
                                <div class="card-title" data-toggle="collapse" data-target="#collapseOne2"
                                    aria-expanded="true" aria-controls="collapseOne2">
                                    {{'COMMON.MAP_SETTING.BASE' | translate}}
                                </div>
                            </div>
                            <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2"
                                data-parent="#accordionExample2" style="">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['baseData']['isShow']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DISPLAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox" *ngIf="layoutMapConfigModel['infoDeviceMulti']['baseData']['isShow']">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['baseData']['showFull']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SHOW_FULL' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo2">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo2"
                                    aria-expanded="false" aria-controls="collapseTwo2">
                                    {{'COMMON.MAP_SETTING.ADVANCE' | translate}}
                                </div>
                            </div>
                            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                                data-parent="#accordionExample2">
                                <div class="card-body">
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['numberPlate']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.NUMBER_PLATE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['imei']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.IMEI' | translate}}
                                            </label>
                                        </span>
                                    </div>

                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['simno']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.SIM_NO' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['vin']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.VIN' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['gsm']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GSM' | translate}}
                                            </label>
                                        </span>
                                    </div>

                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['battery']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.BATTERY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['powerVoltage']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.POWER_VOLTAGE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['duration']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DURATION' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['distanceToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DISTANCE_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['driver']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVER' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['drivingToday']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.DRIVING_TODAY' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['updateTime']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.UPDATE_TIME' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['group']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GROUP' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['geofence']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.GEOFENCE' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="item-checkbox">
                                        <span class="kt-switch kt-switch--sm kt-switch--slider ">
                                            <label>
                                                <input type="checkbox"
                                                    [(ngModel)]="layoutMapConfigModel['infoDeviceMulti']['deviceData']['address']"
                                                    name="">
                                                <span></span>
                                                {{'COMMON.MAP_SETTING.ADDRESS' | translate}}
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>