.nav-tabs{
    display: flex;
    flex-direction: column;
    border-bottom:0px solid;
    .nav-item{
        margin-right:0px;
        .nav-link{
            padding:10px 15px!important;
            border-radius:0px;
            border-bottom:0px solid;
           
            &:hover{
                box-shadow: 5px 0px 0px #5d78ff6b inset;
                border-bottom:0px solid;                
            }
            &.active{
                box-shadow: 5px 0px 0px #5d78ff inset;
                border-bottom:0px solid;
                background:#dcdee0;
            }
            
        }
    }
}
.tab-content{
    .item-checkbox{
        border-bottom: 1px solid #dcdee0;
        padding: 5px 0px;
    }  
    .kt-switch{
        width: 100%;
        label{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;
            margin-bottom:0px;
        }
    }
}