<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'COMMON.ACTIONS.ADD' | translate}}
            {{'MANAGE.DEVICE_GROUP.GENERAL.DEVICE_GROUP' | translate | lowercase}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateConent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateConent>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-form kt-padding-10">
                <form class="kt-form is-invalid" [formGroup]="form">
                    <div class="form-group row">
                        <label class="form-control-label">{{'MANAGE.DEVICE_GROUP.GENERAL.GROUP_NAME' | translate}}
                            <span class="kt-font-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="groupName">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'groupName'">
                        </kt-message-error>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>