<div class="kt-alert-popup" resizeObserver (resize)="onResize($event.contentRect)">
    <div class="kt-left">
        <div class="kt-portlet kt-portlet--mobile kt-margin-0"
            [ngClass]="{'kt-spinner kt-spinner--center kt-spinner--lg kt-spinner--brand':isLoading}"
            id="geofenceConfig">
            <div class="kt-form" id="formGeofenceTool">
                <div class="kt-portlet__body kt-portlet__body--overflow-y" id="geofenceBody" *ngIf="alertPopup">
                    <div class="alert-item" *ngIf="alertPopup.device">
                        <div class="name">
                            <i class="flaticon2-lorry" ngbTooltip="{{'COMMON.ALERT_POPUP.DEVICE'|translate}}"
                                container="body" triggers="hover"></i></div>
                        <div class="value">{{alertPopup.device?.name}}</div>
                    </div>
                    <div class="alert-item" *ngIf="alertPopup.event?.key">
                        <div class="name"><i class="icon-bell"
                                ngbTooltip="{{'COMMON.ALERT_POPUP.EVENT_TYPE'|translate}}" container="body"
                                triggers="hover"></i></div>
                        <div class="value">{{alertPopup.event.key | translate}}</div>
                    </div>
                    <div class="alert-item" *ngIf="alertPopup.createdAt">
                        <div class="name"><i class="icon-clock" ngbTooltip="{{'COMMON.ALERT_POPUP.TIME'|translate}}"
                                container="body" triggers="hover"></i></div>
                        <div class="value">{{alertPopup.createdAt | userDate:'datetime'}}</div>
                    </div>
                   
                    <!--end chi tiết vùng -->
                    <div class="alert-item" *ngIf="alertPopup.message">
                        <div class="name"><i class="icon-comment"
                                ngbTooltip="{{'COMMON.ALERT_POPUP.NOTIFICATION'|translate}}" container="body"
                                triggers="hover"></i></div>
                        <div class="value">{{alertPopup.message}}</div>
                    </div>
                    <div class="alert-item" *ngIf="alertPopup.geofence?.name">
                        <div class="name"><i class="icon-pentagon"
                                ngbTooltip="{{'COMMON.ALERT_POPUP.GEOFENCE'|translate}}" container="body"
                                triggers="hover"></i></div>
                        <div class="value">{{alertPopup.geofence?.name}}</div>
                    </div>
                     <!-- chi tiết vùng -->
                     <div class="alert-item" *ngIf="alertPopup?.timeIn">
                            <div class="name"><i class="icon-sign-in-alt"  ngbTooltip="{{'REPORT.GEOFENCE.DETAIL.TIME_IN'|translate}}"
                                    container="body" triggers="hover"></i></div>
                            <div class="value">{{alertPopup?.timeIn}} </div>
                    </div>
                      <!-- chi tiết vùng -->
                      <div class="alert-item" *ngIf="alertPopup?.timeOut">
                            <div class="name"><i class="icon-sign-out-alt"  ngbTooltip="{{'REPORT.GEOFENCE.DETAIL.TIME_OUT'|translate}}"
                                    container="body" triggers="hover"></i></div>
                            <div class="value"> {{alertPopup?.timeOut}}</div>
                    </div>
                    <div class="alert-item" *ngIf="alertPopup.totalTime">
                            <div class="name"><i class="icon-clock1" ngbTooltip="{{'REPORT.GEOFENCE.SUMMARY.SUMMARY_TIME'|translate}}"
                                    container="body" triggers="hover"></i></div>
                            <div class="value">{{alertPopup?.totalTime}}</div>
                    </div>
                    <div class="alert-item" *ngIf="alertPopup.address">
                        <div class="name"><i class="icon-map-marker-alt"
                                ngbTooltip="{{'COMMON.ALERT_POPUP.ADDRESS'|translate}}" container="body"
                                triggers="hover"></i></div>
                        <div class="value" (click)="fitBound()" style="cursor: pointer;">{{alertPopup.address}}
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Form-->
        </div>
    </div>
    <div class="kt-map">
        <div class="map" id="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
        </div>
        <!-- Process text -->
        <div
            style="position: absolute; display: flex; flex-direction: column; justify-content: center; right: 0px; z-index: 1; opacity: 0;">
            <svg [id]="mapConfig.options.elementProcessText"><text x="22" y="15" fill="#fff"
                    font-size="11"></text></svg>
        </div>
        <kt-map-control [mapService]="getMapService()" class="kt-map-control"></kt-map-control>
    </div>



</div>