.kt-alert-popup{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  position: relative;
  height: 100%;
  .kt-left {
    display: flex;
    flex-direction: row;
    background: #fff;
    z-index: 2;
    box-shadow: 0px 2px 5px 0px #cad4d9;
    border-top: 1px solid #cad4d9;
    flex: 1;
    margin-bottom: 10px;
    position: absolute;
    z-index: 44;
    width: 280px;
    top: 9px;
    left: 10px;
    #geofenceBody{
      padding: 10px;
    }
  }
  .kt-map {
    display: flex;
    flex-grow: 1;
    border-top: 1px solid #dcdee0;
    border-left: 1px solid #dcdee0;
    position: relative;
    flex-direction: column;
    box-shadow: 0px 2px 5px 0px rgba(202, 212, 217, 1);
    min-height: 200px;
    max-height: 100%;  
    width: 100%;
    height: 100%;
  }
}
.map {
  height: 100%;
  padding: 0;
  width: 100%;
}
.leaflet-pane {
  z-index: 10 !important;
}
.kt-left {
  //   min-width: 500px;
  width: 100%;
}
.map-control {
  position: absolute;
  top: 200px;
  z-index: 400;
  right: 10px;
  .control-item {
    cursor: pointer;
    padding: 8px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 3px;
    background-clip: padding-box;
  }
}
.list-device {
  position: absolute;
  z-index: 400;
  top: 0px;
  width: calc(100% - 78px);
  margin: 11px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.alert-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 10px;
  font-size: 1rem;
  .name {
    color: #969696;
    min-width: 30px;
  }
  .value {
    color: #384045;
    font-size:12px;
    font-weight: bold;
  }
}
.form-group {
  display: none;
}
// kt-map-control .map-control{
//   right: 20px;
// }
.kt-map-control {
  position: absolute;
  top: 3px;
  right: 7px;
}
