<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div class="user-tree kt-body--left tree-mobile" [ngClass]="{'kt-hide':!showUserTree}"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" (changeUser)="ChangeUserTree($event)" [allowCollapse]="true" [btnClose]="true">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MENU.ACTIVITY_LOG' | translate | uppercase }}
                </h3>
            </div>

        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
              
                </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormActivityLog"
                    (ngSubmit)='searchActivityLog(searchFormActivityLog)'>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <kt-date-range-picker #datePicker [options]="datePickerOptions"
                                    (dateChange)="dateSelectChange($event)">
                                </kt-date-range-picker>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <select [ngModel]="" data-live-search="true" multiple
                                data-size="5"
                                class="form-control kt_selectpicker padding-7 input-object" formControlName="objectType"
                                title="{{'MANAGE.ACTIVITY_LOG.GENERAL.OBJECT_TYPE' | translate}}">
                                <ng-container *ngFor="let item of listObject">
                                    <!-- <option value="{{item.id}}" *ngxPermissionsOnly="item.permission"> -->
                                    <option value="{{item.id}}" *ngxPermissionsOnly="item.permission">
                                        {{item.translate  | translate}}
                                    </option>
                                </ng-container>
                            </select>
                            </div>
                           
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                            <div class="form-group">
                                <select [ngModel]="" data-live-search="true" multiple data-size="5"
                                class="form-control kt_selectpicker padding-7 input-action" formControlName="actionType"
                                title="{{'MANAGE.ACTIVITY_LOG.GENERAL.ACTION_TYPE' | translate}}">
                                <option *ngFor='let event of listActions' value="{{event.id}}">
                                    {{event.translate | translate}}
                                </option>

                            </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group form-group--mobile">
                                <label class="kt-checkbox">
                                    <input type="checkbox" formControlName="subAccount">
                                    {{'MANAGE.DEVICE.GENERAL.SUB_ACCOUNT' | translate}}
                                    <span></span>
                                </label>
                                &nbsp;
                                <button type="submit" class="btn btn-outline-brand btn-pill"
                                    [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':showLoaddingSearch}">
                                    <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                </button>&nbsp;
                                <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                    <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                </button>&nbsp;
                            </div>
                           
                        </div>
                    </div>

                </form>
            </div>

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                            (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                class="kt-datatable__cell kt-datatable__cell--sort">
                                <a class="kt-datatable__toggle-detail">
                                </a>
                            </th>

                            <ng-container *ngFor="let column of dataTable.getColumns()">

                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;">
                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                          'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.deviceName}}"
                                        [ngStyle]="dataTable.getColumns()[1].style">{{item.userName}}</span>
                                </td>
                                <!-- <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[2].style"
                                       ngbTooltip="{{convertObject(item.objType) | translate}}"
                                        translate="{{convertObject(item.objType) | translate}}">{{item.objOldOut.name}}</span>
                                </td> -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[2].style"
                                           ngbTooltip="{{convertObject(item.objType) | translate}}"
                                            translate="{{convertObject(item.objType) | translate}}">{{convertObject(item.objType) | translate}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span 
                                        ngbTooltip="{{convertAction(item.actionType) | translate}}"
                                        [ngStyle]="dataTable.getColumns()[3].style">{{convertAction(item.actionType) | translate}}</span>
                                    </td>
                                    <td
                                    container="body"
                                    ngbTooltip="{{item.platform}}"

                                    [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[4].style">{{item.platform}}</span>

                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[5].style">{{item.actioneTime | userDate:'fromNow':null:'datetime'}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[6].style">
                                        <kt-event-log [object1]="item.objOldOut" [object2]="item.objNewOut"
                                            [actionType]="item.actionType" [objType]="item.objType" [id]="item.id"
                                            (textChangeDetail)=textChangeDetail($event)></kt-event-log>
                                    </span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[7].style"
                                        style="overflow: visible; position: relative;">
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                            (click)="showDetailLog(content,item)"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                            <i style="font-size: 14px;" class="icon-info-circle"></i>
                                        </a>

                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="6">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[1].style">{{item.userName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[2].style"
                                                    translate="{{convertObject(item.objType) | translate}}">{{convertObject(item.objType) | translate}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[3].style"
                                                    translate="{{convertAction(item.actionType) | translate}}">{{convertAction(item.actionType) | translate}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[4].style"
                                                    translate="{{item.userAgent}}">
                                                    {{item.userAgent}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[5].style"
                                                    translate="{{item.sendTime}}">{{item.actioneTime | userDate:'fromNow':null:'datetime'}}</span>
                                            </td>
                                        </tr>



                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[6].style"
                                                    style="overflow: visible; position: relative;">
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="editCommand(item.id,'#modal-Command')">
                                                        <i class="icon-info-circle"></i>
                                                    </a>

                                                </span>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>
                </table>

                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title">
            {{'MANAGE.ACTIVITY_LOG.GENERAL.DETAIL'| translate}}
        </h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body div-scrollbar modal-body-Command">
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        IP
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.ip}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'MANAGE.ACTIVITY_LOG.GENERAL.BASIC' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.platform}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'MANAGE.ACTIVITY_LOG.GENERAL.OBJECT_TYPE' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{convertObject(dataDefault.objType) | translate}}"
                        disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'COMMON.COLUMN.WORK' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control"
                        value="{{convertAction(dataDefault.actionType) | translate}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'DASHBOARD.DEVICE' | translate}}
                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control" value="{{dataDefault.userAgent}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'COMMON.COLUMN.CREATED_DATE' | translate}}

                    </label>

                </div>
                <div class="input-group">
                    <input type="text" class="form-control"
                        value="{{dataDefault.actioneTime | userDate:'dateTime':null:'datetime'}}" disabled>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <div class="show-error">
                    <label class="">
                        {{'MANAGE.ACTIVITY_LOG.GENERAL.EVENT_DESC' | translate}}

                    </label>

                </div>
                <div class="input-group">
                    <kt-event-log style="width:100%" [object1]="dataDefault.objOldOut" [object2]="dataDefault.objNewOut"
                        [actionType]="dataDefault.actionType" [objType]="dataDefault.objType" detail="true">
                    </kt-event-log>
                </div>
            </div>
        </div>

    </div>


    <!--end body modal-->
    <div class="modal-footer">

        <button type="button" class="btn btn-secondary"
            (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
        <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
    </div>

</ng-template>
<!-- end modal popup -->
<!-- end:: Content -->