//
// Aside Dark Blue Skin
//

// Include framework config
@import "../../../../config";

// Include demo config
@import "../../config";

// Include header config
@import "../../header/config";

// Include aside config
@import "../../aside/config";

// Build Aside Skin
.kt-aside {
	background-color: kt-get($kt-layout-skins, dark);

	// Scrollbar
	@include kt-perfect-scrollbar-skin(#637099);

	// Footer
	.kt-aside__footer {
		background-color: #1f2231;
		// background-color: #232f3e;
		// background-color:kt-get($kt-layout-skins, dark);

		.btn {
			@include kt-transition();
			background-color: transparent;

			i {
				@include kt-transition();
				color: #eee;
			}
		}

		.show .btn,
		.btn:hover {
			@include kt-transition();
			background-color: #191b27;

			i {
				@include kt-transition();
				color: kt-brand-color();
			}
		}
	}
}

// Build Aside Menu Skin
@include kt-menu-ver-build-skin(kt-get($kt-aside-config, menu), dark);

// Aside close button
.kt-aside-close {
	background-color: rgba(#fff, 0.2);

	i {
		color: rgba(#fff, 0.7);
	}

	&:hover {
		background-color: kt-brand-color();

		i {
			color: kt-brand-color(inverse);
		}
	}
}

// Modify icon color for flaticon2 icons
.kt-aside {
	.kt-aside-menu {
		> .kt-menu__nav {
			.kt-menu__item {
				> .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) {
					[class^="flaticon2-"],
					[class*=" flaticon2-"] {
						color: #434d6b;
					}
				}
			}
		}
	}
	// Dark skin for submenu
	.kt-menu__submenu {
		color: whitesmoke;
		.arrow-left__submenu {
			border-right: 10px solid #232f3e;
		}
		.content {
			background-color: #232f3e;
		}
		.kt-menu__toggle {
			.kt-menu__link-icon, .kt-menu__link-text{
				color: rgb(238, 238, 238) !important;
			}
		}
	}

	.kt-menu__title {
		background-color: #232f3e;
		color: whitesmoke;
	}
	.ps__rail-y {
		z-index: -1 !important;
		.ps__thumb-y {
			display: none !important;
		}
	}
	.ps__rail-x {
		.ps__thumb-x {
			display: none !important;
		}
	}
	.kt-menu__item--open {
		> .kt-menu__link {
			background: #232f3e !important;
			.kt-menu__link-icon {
				color: #434d6b !important;
			}
		}
	}
	.kt-menu__item--here {
		& > .kt-menu__link {
			background-color: #1b1b28 !important;
			.kt-menu__link-text {
				color: #5d78ff !important;
			}
			.kt-menu__link-icon {
				color: #5d78ff !important;
			}
		}
	}
	.kt-menu__item:hover {
		> .kt-menu__link {
			background-color: #1b1b28 !important;
			.kt-menu__link-text {
				color: #5d78ff !important;
			}
			.kt-menu__link-icon {
				color: #5d78ff !important;
			}
		}
	}
	.arrow-left__submenu,
	.arrow-left {
		border-right: 10px solid #232f3e;
	}
	
}
