//
// Aside Light Skin
//

// Include framework config
@import "../../../../config";

// Include demo config
@import "../../config";

// Include header config
@import "../../header/config";

// Include aside config
@import "../../aside/config";

// Aside
.kt-aside {
	background-color: kt-get($kt-layout-skins, light);
	box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);

	// Scrollbar
	@include kt-perfect-scrollbar-skin(#e0e2f0);

	// Footer
	.kt-aside__footer {
		background-color: #f6f7fd;

		.btn {
			@include kt-transition();
			background-color: transparent;

			i {
				@include kt-transition();
				color: #99a7df;
			}
		}

		.show .btn,
		.btn:hover {
			@include kt-transition();
			background-color: darken(#f6f7fd, 6%);

			i {
				@include kt-transition();
				color: kt-brand-color();
			}
		}
	}
}

// Build Aside Menu Skin
@include kt-menu-ver-build-skin(kt-get($kt-aside-config, menu), light);

// Modify icon color for flaticon2 icons
.kt-aside {
	.kt-aside-menu {
		> .kt-menu__navm {
			.kt-menu__item {
				> .kt-menu__link {
					.kt-menu__link-text {
						font-weight: 500;
					}
				}
			}
		}
	}
	// Light skin for submenu
	.kt-menu__submenu {
		.arrow-left__submenu {
			border-right: 10px solid rgb(255, 255, 255);
		}
		.content {
			background-color: rgb(255, 255, 255);
		}
	}
	.kt-menu__title {
		background-color: #ffffff;
		color: #646c9a;
	}
	.ps__rail-y {
		z-index: -1 !important;
		.ps__thumb-y {
			display: none !important;
		}
	}
	.ps__rail-x {
		.ps__thumb-x {
			display: none !important;
		}
	}
	.kt-menu__item--open {
		> .kt-menu__link {
			background: #fff !important;
			.kt-menu__link-icon {
				color: #c4cff9 !important;
			}
		}
	}
	.kt-menu__item--here {
		> .kt-menu__link {
			background-color: #f6f7fd !important;
			.kt-menu__link-text {
				color: #5d78ff !important;
			}
			.kt-menu__link-icon {
				color: #5d78ff !important;
			}
		}
	}
	.kt-menu__item:hover {
		> .kt-menu__link {
			background-color: #f6f7fd !important;
			.kt-menu__link-text {
				color: #5d78ff !important;
			}
			.kt-menu__link-icon {
				color: #5d78ff !important;
			}
		}
	}
	.arrow-left__submenu,
	.arrow-left {
		border-right: 10px solid rgb(255, 255, 255);
	}
}
