.map-popup-tooltip {
	width: 200px !important;
	margin-left: 42px;
	margin-bottom: 5px;
	font-size: 12px;
	color: rgb(26, 25, 25);
	font-weight: 500;
	p {
		margin: 2px 0;
	}
	i {
		margin-right: 5px;
	}
	h6 {
		font-weight: bold;
	}
}

.custom-tile {
    width: max-content !important;
    height: auto !important;
	position: relative;
	background: white;
	font-size: 12px;
	color: rgb(26, 25, 25);
    font-weight: 500;
    border-radius: 5px;
	padding: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	
}

h6{
	font-size: 12px;
	span{
		font-weight: bold;
	}
	i{
		color: rgb(56, 147, 233);
	}
}