<div class="custom-tile" style="width: 100%; height: 100%; position: relative;">
	<div style="position: relative; z-index: 2;">
		<div style="bottom: 0px;">
			<div *ngIf="data.type=='polyline'">
				<h6>{{('MAP.FEATURES.DIRECTION_FEE'|translate) + ': '}}<span>{{(data.fee|number) + ' VND'}}</span></h6>
				<h6>{{('MAP.FEATURES.DIRECTION_TIME'|translate) + ': '}}<span>{{(data.time/3600|number:'1.0-0')+' h'}}</span></h6>
				<h6>{{('MAP.FEATURES.DIRECTION_DISTANCE'|translate) + ': '}}<span>{{(data.distance/1000|number:'1.0-0')+' km'}}</span></h6>
				<h6><i>{{data.title|translate}}</i></h6>
			</div>
			<div *ngIf="data.type=='start'">
				<h6>{{data.title}}</h6>
			</div>
		</div>
	</div>
</div>
