<div class="show-img kt-mb-10 input-group" *ngIf="images.length>0">
    <ng-container *ngFor="let image of images">
        <div *ngIf="image.status!='remove'" class="kt-box-img">
            <div  *ngIf="options.close" class="btn-close btn btn-icon btn-sm btn-circle" (click)="onCloseImage(image)"><i
                    class="icon-times"></i></div>
            <div *ngIf="options.crop" class="btn-crop btn btn-icon btn-sm btn-circle" (click)="onpenCropImage(content,image)"><i
                    class="icon-crop-alt"></i></div>
            <img [ngStyle]="{'cursor':options.zoom?'zoom-in':'default'}"  style="height: 100px;cursor: zoom-in; min-width:100px;" name="img-icon" [src]="sanitize(image.url)"
                (click)="zoomImage(image.url)">
        </div>
    </ng-container>
</div>
<div class="input-group" [ngClass]="{'kt-hide':!options.upload}">
    <div class="kt-uppy">
        <div class="kt-uppy__wrapper">
            <div class="uppy-Root uppy-FileInput-container">
                <input class="uppy-FileInput-input kt-uppy__input-control" (change)="onFileChange($event,'billImg')"
                    type="file" multiple #fileUpload id="{{key}}" size="1">
                <label class="btn btn-brand btn-icon-sm" for="{{key}}">
                    <i class="fa fa-cloud-upload-alt"></i>
                    <span>{{ (buttonName || 'COMMON.UPLOAD') | translate}}</span>
                </label>
                <span class="form-text kt-font-danger" *ngFor="let message of validators">{{message}}</span>
            </div>
        </div>
    </div>
</div>

<!-- crop image  -->
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            {{'COMMON.UPLOAD_FILE.GENERAL.CROP_IMAGE' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateConent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSaveCrop()">{{'COMMON.ACTIONS.SAVE' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateConent>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-form crop-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="img-crop" *ngIf="imageCropper"
                            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--center kt-spinner--brand':cropImageLoading}">
                            <image-cropper [imageBase64]="imageCropper" [maintainAspectRatio]="true" format="jpeg"
                                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
                                [imageQuality]="100">
                            </image-cropper>
                        </div>
                    </div>
                </div>
                <!-- <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div> -->
                <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group"
                            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--center kt-spinner--brand':cropImageLoading}">
                            <label for="" class="form-control-label">{{'COMMON.UPLOAD_FILE.GENERAL.PREVIEW' | translate}}</label>
                            <div class="img-preview" *ngIf="croppedImage">
                                <img [src]="croppedImage" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>