.kt-box-img{
    border: 3px solid #75747252;
    border-radius: 3px;
    margin: 0px 10px 5px 0px;
    position: relative;
    .btn-close,.btn-crop{
        display: none;
        cursor: pointer;
         background: #0e0e0e82;
    }
    &:hover{
        .btn-close{
            display: inline-flex!important;
            position: absolute;
            bottom: 2px;
            right: 2px;
           
            .icon-times{
                color: #c4c6ce!important;
            }
        }
        .btn-crop{
            display: inline-flex!important;
            left: 2px;
            bottom: 2px;
            position: absolute;
            i{
                color: #c4c6ce!important;
            }
        }
    }
   
}
.crop-container{
    .img-crop{
        width: 100%;
        min-height: 200px;
    }
    .img-preview{
        width: 100%;
        height: 200px;
        img{
            padding: 5px;
            width: 200px;
            // height: 100%;
        }
    }
}