<div class="custom-tile" style="width: 100%; height: 100%; position: relative;">
    <div style="position: relative; z-index: 2;">
        <div [class]="class" style="bottom: 50px;">
            <div>
                <div class="unit-tooltip-text">
                    <div class="mp-inline-block mp-inline-block-icon"  [ngClass]="{'kt-hide':!checkShow('advance.icon')}">
                        <div #dataContainer></div>
                    </div>
                    <div class="mp-inline-block" style="max-width:calc(100% - 70px)">
                        <span>{{data.name}}</span>
                    </div>
                    <div class="mp-action">
                        <!-- <div class="mp-item mp-pin" [ngClass]="{'kt-font-brand':lockActive===true}">
                            <i class="icon-map-pin" ngbTooltip="{{'MAP.MARKER.PIN' | translate}}" placement="top"
                                triggers="hover" (click)="pinPopupMarker(data);"></i>
                        </div> -->
                        <!-- <div class="mp-item" *ngIf="pinActive" [ngClass]="{'kt-font-brand':lockActive===true}">
                            <i [ngClass]="{'icon-lock':lockActive,'icon-unlock':!lockActive}"
                                ngbTooltip="{{'MAP.MARKER.FOLLOW_DEVICE' | translate}}" placement="top" triggers="hover"
                                (click)="clockPopupMarker(data);"></i>
                        </div> -->
                        <div class="mp-item" [ngClass]="{'kt-font-brand':follow===true}">
                            <i [ngClass]="{'icon-heart1':follow,'icon-heart':!follow}"
                                ngbTooltip="{{'MAP.MARKER.FOLLOW_DEVICE' | translate}}" placement="top" triggers="hover"
                                (click)="followItem(data);"></i>
                        </div>
                    </div>
                </div>
                <!-- number plate -->
                <div class="unit-tooltip-text" *ngIf="data.numberPlate && checkShow('advance.numberPlate')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i style="font-size: 1.2rem; transform: translateY(-50%);
                        position: absolute;" class="icon-licence-plate"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.numberPlate}}</span>
                    </div>
                </div>
                <!-- imei -->
                <div class="unit-tooltip-text" *ngIf="data.imei && checkShow('advance.imei')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-barcode"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.imei}}</span>
                    </div>
                </div>
                <!-- simno -->
                <div class="unit-tooltip-text" *ngIf="data.simno && checkShow('advance.simno')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-sim-card"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.simno}}</span>
                    </div>
                </div>
                <!-- VIN -->
                <div class="unit-tooltip-text" *ngIf="data.VIN && checkShow('advance.vin')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <div>VIN</div>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.VIN}}</span>
                    </div>
                </div>
                <!-- prowerVotage -->
                <div class="unit-tooltip-text" *ngIf="data.gsm && checkShow('advance.gsm')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <!-- <i class="icon-signal"></i> -->
                        <svg enable-background="new 0 0 128 128" height="12px" version="1.1" viewBox="0 0 128 128"
                            width="12px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" style="widows: 12px;height:12px">
                            <g fill="#CCCCCC">
                                <path
                                    d="M18.863,86.36h-5.974C7.98,86.36,4,90.326,4,95.218v19.915c0,4.897,3.98,8.86,8.889,8.86h5.974   c4.909,0,8.889-3.963,8.889-8.86V95.218C27.751,90.326,23.771,86.36,18.863,86.36z"
                                    [ngStyle]="{'fill':(data.gsm.level>0?'#000':'#CCCCCC')}" />
                                <path
                                    d="M51.299,63.884h-7.034c-4.907,0-8.887,3.966-8.887,8.858v1.405v39.586v1.404   c0,4.896,3.98,8.859,8.887,8.859h7.034c4.909,0,8.889-3.963,8.889-8.859v-1.404V74.147v-1.405   C60.188,67.85,56.208,63.884,51.299,63.884z"
                                    [ngStyle]="{'fill':(data.gsm.level>25?'#000':'#CCCCCC')}" />
                                <path
                                    d="M83.206,41.401H76.17c-4.905,0-8.886,3.967-8.886,8.86v2.833v59.213v2.833c0,4.897,3.98,8.86,8.886,8.86   h7.036c4.909,0,8.888-3.963,8.888-8.86v-2.833V53.094v-2.833C92.094,45.369,88.115,41.401,83.206,41.401z"
                                    [ngStyle]="{'fill':(data.gsm.level>50?'#000':'#CCCCCC')}" />
                                <path
                                    d="M115.114,18.922h-7.036c-4.906,0-8.886,3.967-8.886,8.86v25.312v36.733v25.313   c0,4.897,3.979,8.86,8.886,8.86h7.036c4.909,0,8.886-3.963,8.886-8.86V89.827V53.094V27.782   C124,22.889,120.023,18.922,115.114,18.922z"
                                    [ngStyle]="{'fill':(data.gsm.level>75?'#000':'#CCCCCC')}" />
                            </g>
                        </svg>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.gsm.translate | translate}}</span>
                    </div>
                </div>

                <!-- battery -->
                <div class="unit-tooltip-text" *ngIf="data.battery && checkShow('advance.battery')" >
                    <div class="mp-inline-block mp-inline-block-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
                            <g stroke="none" stroke-width="1" style="fill: none!important;" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path
                                    d="M11,9 L11,15 L17,15 L17,9 L11,9 Z M4,7 L17,7 C18.1045695,7 19,7.8954305 19,9 L19,15 C19,16.1045695 18.1045695,17 17,17 L4,17 C2.8954305,17 2,16.1045695 2,15 L2,9 C2,7.8954305 2.8954305,7 4,7 Z"
                                    fill="#000000" fill-rule="nonzero" />
                                <path
                                    d="M20,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L20,14 L20,10 Z"
                                    fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{(data.battery.isCharged?('COMMON.LIST_DEVICE.CHANGED' | translate) : '')}}
                            {{data.battery.percent}} %</span>
                    </div>
                </div>
                <!-- prowerVotage -->
                <div class="unit-tooltip-text" *ngIf="data.powerVoltage && checkShow('advance.powerVoltage')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-car-battery"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.powerVoltage}} V</span>
                    </div>
                </div>
                <!-- speed, status duration -->
                <div class="unit-tooltip-text" *ngIf="data.statusType 
                        && ((data.statusType.name=='run' && checkShow('advance.speed')) 
                            || (data.statusType.name!='run' && data.statusDurationStr && checkShow('advance.duration'))) ">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24"
                            viewBox="0 0 50 50" style=" fill:#000000;">
                            <path
                                d="M 21.488281 12 C 21.019531 12.003906 20.617188 12.335938 20.519531 12.796875 L 17.71875 26.40625 L 15.9375 21.648438 C 15.796875 21.277344 15.449219 21.023438 15.050781 21.003906 C 14.65625 20.980469 14.285156 21.199219 14.105469 21.550781 L 12.382813 25 L 9 25 C 8.914063 25 8.828125 25.011719 8.746094 25.03125 C 8.394531 24.394531 7.726563 24 7 24 C 5.894531 24 5 24.894531 5 26 C 5 27.105469 5.894531 28 7 28 C 7.726563 28 8.394531 27.605469 8.75 26.96875 C 8.832031 26.992188 8.914063 27 9 27 L 13 27 C 13.378906 27 13.726563 26.785156 13.894531 26.449219 L 14.871094 24.5 L 17.0625 30.351563 C 17.222656 30.765625 17.636719 31.027344 18.078125 30.992188 C 18.519531 30.960938 18.886719 30.636719 18.980469 30.203125 L 21.4375 18.253906 L 24.515625 35.179688 C 24.59375 35.621094 24.960938 35.957031 25.40625 35.996094 C 25.851563 36.039063 26.273438 35.777344 26.433594 35.359375 L 30.488281 24.816406 L 32.5625 30.351563 C 32.699219 30.707031 33.023438 30.957031 33.402344 30.992188 C 33.777344 31.03125 34.144531 30.851563 34.347656 30.53125 L 36.554688 27 L 41.269531 27 C 41.628906 27.617188 42.285156 28 43 28 C 44.105469 28 45 27.105469 45 26 C 45 24.894531 44.105469 24 43 24 C 42.285156 24 41.625 24.382813 41.269531 25 L 36 25 C 35.65625 25 35.335938 25.179688 35.152344 25.46875 L 33.722656 27.753906 L 31.4375 21.648438 C 31.289063 21.261719 30.917969 21.003906 30.503906 21 C 30.089844 21 29.714844 21.253906 29.566406 21.640625 L 25.84375 31.3125 L 22.484375 12.820313 C 22.398438 12.339844 21.976563 11.996094 21.488281 12 Z">
                            </path>
                        </svg>
                    </div>
                    <div class="mp-inline-block" *ngIf="data.statusType.name=='run' && checkShow('advance.speed')">
                        <span>{{data.statusType.text | translate}} </span>
                        <span class="text-box">{{data.speed || 0 |  number:'1.0-2'}} km/h</span>
                    </div>
                    <div class="mp-inline-block" *ngIf="data.statusType.name!='run' && data.statusDurationStr && checkShow('advance.duration')">
                        <span>{{data.statusType.text | translate}} </span>
                        <span userDate [value]="data.statusTimestamp" [format]="'fromNowDateTimeShort'" class="text-box">{{data.statusTimestamp | userDateAdv:'fromNowDateTimeShort'}}</span>
                    </div>
                </div>

                <!-- distance today -->
                <div class="unit-tooltip-text" *ngIf="data.dayDistance && checkShow('advance.distanceToday')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-route"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.dayDistance |  number:'1.0-2'}} km</span>
                    </div>
                </div>
                <!-- driving time -->
                <div class="unit-tooltip-text" *ngIf="data.dayDrivingTime && checkShow('advance.drivingToday')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-clock"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.dayDrivingTime | number:'1.0-0'}} min</span>
                    </div>
                </div>
                <!-- driving time -->
                <div class="unit-tooltip-text" *ngIf="data.geofence && checkShow('advance.geofence')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-pentagon"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.geofence}}</span>
                    </div>
                </div>

                <!-- update time -->
                <div class="unit-tooltip-text" *ngIf="data.timestampUTC && checkShow('advance.updateTime')" >
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-sync"></i>
                    </div>
                    <div class="mp-inline-block">
                        <span>{{data.timestampUTC | userDate:'calendar'}}</span>
                    </div>
                </div>
                <!-- address -->
                <div class="unit-tooltip-text" *ngIf="data.address && checkShow('advance.address')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-map-marker-alt"></i>
                    </div>
                    <!-- <a *ngIf="geocoderReverse === false" target="_blank" href="http://www.google.com/maps/place/{{data.lat}},{{data.lng}}" class="mp-inline-block">{{data.address}}</a> -->
                    <span style="cursor:pointer" ngxClipboard [cbContent]="((geocoderReverse === false)? (data.lat + ', '+ data.lng) : data.address)" (cbOnSuccess)="copied($event)" class="mp-inline-block">{{data.address}}</span>
                </div>
                <div class="unit-tooltip-text" *ngIf="loadingAddress && checkShow('advance.address')">
                    <div class="mp-inline-block mp-inline-block-icon">
                        <i class="icon-map-marker-alt"></i>
                    </div>
                    <div class="mp-inline-block kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center "></div>
                </div>
            </div>
            <div class="car-unit-click-area" (click)="selectMarker(data);"
                [ngStyle]="{'width': iconOption['iconAnchor'][0] * 2 + 2 + 'px'}" style="width: 200px"></div>
            <div *ngIf="class=='map-unit-tooltip2'" class="car-unit-click-area2" style="width: 55px;" (click)="selectMarker(data);"></div>
        </div>
    </div>
</div>