<!-- begin:: Content -->

<div class="kt-main  kt-main_report" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [allowCollapse]="true" [btnClose]="true"
            (changeUser)="userTreeChangeUser($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="max-width: 100%;overflow: auto;">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">

                <h3 class="kt-portlet__head-title">
                    <kt-breadcrumb title="{{'MENU.REPORT_DEVICE' | translate}}" [data]="parentBread"></kt-breadcrumb>
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch"
                (keyup.enter)="dataTable.search()">
                <div class="row">
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" data-key="imei"
                                placeholder="{{'MANAGE.DEVICE.GENERAL.IMEI' | translate}}">
                        </div>

                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" data-key="vinNumber" placeholder="VIN">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4  col-sm-12">
                        <div class="form-group form-group--mobile">
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="search()">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->

            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10 ">
                <div class="form-group row" style="margin: 0px !important;">
                    <div class="col-md-12 export-file">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_EXCEL' | translate}}" (click)="exportXlSX()"
                            type="button" class="btn btn-circle btn-icon btn-sm button-excel" id="dropdownMenuButton"
                            placement="right" aria-expanded="false">
                            <i class="icon-file-excel1"></i>
                        </button>
                        <span>&nbsp;&nbsp;</span>
                        <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" type="button"
                            class="btn btn-circle btn-icon btn-sm button-pdf" id="dropdownMenuButton" placement="right"
                            aria-expanded="false">
                            <i class="icon-file-pdf1"></i>
                        </button>

                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">

                        </div>
                        <!-- <div class="kt-separator"></div> -->
                    </div>

                </div>
            </div>
            <!-- end: Feature -->

            <!--begin: Datatable -->
            <div class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                class="kt-datatable__row" style="left: 0px;">
                                <!-- subRow -->
                                <td *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                            'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('userName').isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('userName').style">{{item.userName}}</span>
                                </td>
                                <td ngxClipboard [cbContent]="item.imei" (cbOnSuccess)="copied($event)"
                                    [ngStyle]="{'display':(!dataTable.getColumn('imei').isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell clipboard">
                                    <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                        <i class="icon-copy"></i>
                                    </a>
                                    <span [ngStyle]="dataTable.getColumn('imei').style">{{item.imei}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('VIN').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('VIN').style">{{item.VIN}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('name').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('name').style">{{item.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('typeName').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('typeName').style">{{item.type.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('address').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.address}}" container="body"
                                        [ngStyle]="dataTable.getColumn('address').style">{{item.address}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('batteryStr').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('batteryStr').style">{{item.batteryStr}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('statusStr').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.statusStr}}"
                                        [ngStyle]="dataTable.getColumn('statusStr').style">{{item.statusStr}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('active').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('active').style">
                                        <span class="btn btn-bold btn-pill btn-sm btn-font-sm" [ngClass]="{'kt-font-danger':item.active==0,
                                                    'kt-font-success':item.active==1}">
                                            <i class="ic-md" [ngClass]="{'icon-minus-circle':item.active==0,
                                                                'icon-check-circle1':item.active==1}"></i>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('id').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn("id").translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('userName').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('userName').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('userName').style">{{item.userName || ""}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('imei').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('imei').translate | translate}}</span>
                                            </td>
                                            <td ngxClipboard [cbContent]="item.imei" (cbOnSuccess)="copied($event)"
                                                class="kt-datatable__cell clipboard">
                                                <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                                    <i class="icon-copy"></i>
                                                </a>
                                                <span [ngStyle]="dataTable.getColumn('imei').style"
                                                    translate="{{item.nameKey}}">{{item.imei}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('VIN').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('VIN').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('VIN').style"
                                                    translate="{{item.nameKey}}">{{item.VIN}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('name').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('name').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('name').style"
                                                    translate="{{item.nameKey}}">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('typeName').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('typeName').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('typeName').style"
                                                    translate="{{item.nameKey}}">{{item.typeName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('address').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('address').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{item.address}}" container="body"
                                                    [ngStyle]="dataTable.getColumn('address').style"
                                                    translate="{{item.nameKey}}">{{item.address}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('batteryStr').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('batteryStr').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('batteryStr').style"
                                                    translate="{{item.nameKey}}">{{item.batteryStr}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('statusStr').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('statusStr').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('statusStr').style"
                                                    translate="{{item.nameKey}}">{{item.statusStr}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('active').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('active').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('active').style">
                                                    <span class="btn btn-bold btn-pill btn-sm btn-font-sm  " [ngClass]="{'kt-font-danger':item.active==0,
                                                                                'kt-font-success':item.active==1}">
                                                        <i class="ic-md"
                                                            [ngClass]="{'icon-minus-circle':item.active==0,
                                                                                'icon-check-circle1':item.active==1}"></i>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>

                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end:: Content -->