.notifications {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 0px);
  overflow: auto;
  .notification-header {
    padding: 10px 20px;
    border-bottom: 1px solid #d2d3da;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    a {
      cursor: pointer;
    }
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #d2d3da;
    cursor: pointer;
    padding: 3px 0px;

    // &:hover {
    //   background: #5576e947;
    // }
    &.unread {
      background: #edf2fa;
    }
    .icon {
      padding: 5px;
      text-align: center;
      margin: 5px 5px 5px 15px;
    }
    .info {
      padding: 0px 10px;
      font-weight: bold;
      color: #74788d;
      flex: 1;
      // &:hover {
      //   color: #000;
      // }
      .type {
        font-weight: bold;
        font-size: 13px;
        color: #000;
        &:hover,
        &:read {
          color: #646c9a;
        }
      }
    }
    .view {
      color: #74788d;
      &:hover {
        color: #000;
      }
      i {
        padding: 3px 15px;
      }
    }
  }
  .notification-loading {
    .see-new {
      padding: 15px;
      text-align: center;
    }
    .see-more {
      padding: 15px;
      text-align: center;
      cursor: pointer;
    }
  }
}
