<div class="notifications" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0"
    [infiniteScrollContainer]="'.notifications'" [fromRoot]="true" [alwaysCallback]="true" (scrolled)="onScrollDown()"
    (scrolledUp)="onScrollUp()">
    <div class="notification-header">
        <a (click)="readMarkAll()">{{'MAP.TRACKING.NOTIFICATIONS.MARK_READ_ALL' | translate}}</a>
        <a (click)="refresh()">{{'MAP.TRACKING.NOTIFICATIONS.REFRESH' | translate}}</a>
    </div>
    <div class="notification-loading">
        <div class="see-new" *ngIf="loadNew"
            [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center':loadNew}">
        </div>
    </div>
    <div class="notification-body">
        <ng-container *ngFor="let item of notifications;let i=index">
            <div class="item" [ngClass]="{'read':item.isRead,'unread':!item.isRead}">
                <div class="icon" (click)="readChange(item)"
                    ngbTooltip="{{(item.isRead?'MAP.TRACKING.NOTIFICATIONS.MARK_AS_UNREAD':'MAP.TRACKING.NOTIFICATIONS.MARK_AS_READ') | translate}}"
                    container="body" placement="right">
                    <i class="ic-lg kt-font-danger" [ngClass]="{'icon-bell':item.isRead,'icon-bell1':!item.isRead}"></i>
                </div>
                <div class="info" (click)="showMarker(item)"
                    ngbTooltip="{{'MAP.TRACKING.NOTIFICATIONS.SHOW_ON_MAP' | translate}}" container="body">
                    <div class="title">
                        <div class="type">{{item.eventKey | translate}}</div>
                    </div>
                    <div class="content">
                        <div class="time">{{item.createdAt | userDateAdv:'datetime'}}</div>
                        <div class="address">{{item.address}}</div>
                    </div>
                </div>
                <div class="view" (click)="showInfo(content,item)">

                    <i class="icon-info-circle ic-lg" ngbTooltip="{{'MAP.TRACKING.NOTIFICATIONS.SHOW_DETAIL' | translate}}"
                        container="body"></i>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="notifications.length==0 && !loadingList" class="kt-mt-10">
        <kt-not-found [size]="'sm'"></kt-not-found>
    </div>
    <div class="notification-loading" *ngIf="allowLoadMore">
        <div class="see-more"
            [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center':loadMore || loadingList}"
            (click)="getMore()">
            {{!loadMore && notifications.length>0?('MAP.TRACKING.NOTIFICATIONS.SEE_MORE' | translate):''}}
        </div>
    </div>

</div>
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'MANAGE.ALERT_RULE.NOTIFICATION.NOTIFICATION' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="alertPopupContent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- edit form -->
<ng-template #alertPopupContent>
    <kt-alert-popup [alertPopup]="alertPopup">
    </kt-alert-popup>
</ng-template>

<!-- end:: Content -->