.search-container {
	.search-field {
		width: 0%;
		overflow: hidden;
		transition: all 0.5s;
		position: absolute;
		top: 4px;
		left: 4px;
		z-index: 1;
		max-width: 300px;
		input {
			padding-left: 35px;
			border-radius: 17px;
			font-size: 12px;
			height: calc(2.5rem + 2px) !important;
		}
		// input:focus{
		// 	border: none !important;
		// 	outline: none !important;
		// }
	}
	.search-result {
		width: 298px;
		background-color: white;
		transition: all 0.5s;
		margin-bottom: 0;
		margin-left: 5px;
		position: absolute;
		z-index: 12;
		margin-top: -1px;
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0),
			0 2px 4px 0 rgba(0, 0, 0, 0.16);
		border-radius: 5px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		overflow: hidden;
		ul {
			padding: 0px;
			margin: 0;
			width: 300px;
			li {
				cursor: pointer;
				padding: 5px;
				list-style-type: none;
				display: flex;
			}
			li:hover {
				background: #5d78ff;
				color: white;
			}
		}
	}
}

.active {
	background: #5d78ff;
	color: white;
}
.no-box-shadow {
	box-shadow: none !important;
}

.no-border-bot {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

// Spiner
.spiner-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}
.sk-chase {
	width: 20px;
	height: 20px;
	position: relative;
	animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
	content: "";
	display: block;
	width: 25%;
	height: 25%;
	background-color: rgb(58, 53, 53);
	border-radius: 100%;
	animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
	animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
	animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
	animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
	animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
	animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
	animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
	animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
	animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
	animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
	animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
	animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
	animation-delay: -0.6s;
}

@keyframes sk-chase {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot {
	80%,
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot-before {
	50% {
		transform: scale(0.4);
	}
	100%,
	0% {
		transform: scale(1);
	}
}
