<div class="search-container">
	<button _ngcontent-qes-c30="" #btn class="btn btn-icon btn-sm btn-circle showBtn" (click)="toggle()" ngbTooltip="{{'MAP.STATUS.SEARCH' | translate}}" container="body" placement="right">
		<i class="icon-search" [style.color]="isShow?'#5867dd':''"></i>
	</button>
	<div class="search-field" #searchField>
		<div>
			<form #form="ngForm">
				<div class="kt-input-icon kt-input-icon--right">
					<input (keyup)="search(form.value.q,$event)" name="q" ngModel autocomplete="off" class="form-control form-control-sm" type="text" placeholder="{{'MAP.STATUS.SEARCH' | translate}}" #input>
				</div>
			</form>
		</div>
	</div>
	<div class="search-result" [ngClass]="{'kt-hide':!startSearch}" #searchResult>
		<ng-container *ngIf="form.value.q!=''">
			<div *ngIf="!isSearching else spiner">
				<p style="padding: 5px" *ngIf="data?.result.length==0">{{'MAP.FEATURES.NO_DATA'| translate}}</p>
				<ul style="padding: 5px 0" *ngIf="data">
					<li *ngFor="let place of data?.result, let i = index" (click)="panToPlace(place,i)" [class]="data.active==i?'active':''">
						<div class="col-1 d-flex justify-content-center align-items-center"><span><i class="flaticon2-pin"></i></span></div>
						<div class="col-11"><span>{{place.address}}</span></div>
					</li>
				</ul>
			</div>
		</ng-container>
	</div>
</div>

<ng-template #spiner>
	<div class="spiner-container">
		<div class="sk-chase">
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
		</div>
	</div>
</ng-template>
