<form class="" [formGroup]="searchFormUsers" (ngSubmit)='searchUser(searchFormUsers)'>
    <div class="kt-section">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3  col-md-4  col-sm-12 ">
                <div class="kt-form__control form-group">
                    <input type="text" class="form-control"
                        placeholder="{{'MANAGE.USER.GENERAL.USERNAME_OR_NAME' | translate}}" formControlName="username">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3  col-md-4  col-sm-12 ">
                <div class="kt-form__control form-group">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6 col-sm-12 kt-margin-b-20-tablet-and-mobile">
                <div class="form-group form-group--mobile">
                    <label class="kt-checkbox">
                        <input type="checkbox" formControlName="subAccount">
                        {{'MANAGE.DEVICE.GENERAL.SUB_ACCOUNT' | translate}}
                        <span></span>
                    </label>
                    &nbsp;
                    <button type="submit" class="btn btn-outline-brand btn-pill"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':showLoaddingSearch}">
                        <i class="icon-search"></i>{{'COMMON.GENERAL.SEARCH' | translate}}
                    </button>
                    &nbsp;
                    <button (click)='resetFormSearch()' class="btn btn-outline-brand btn-pill">
                        <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>    
<!--begin: Datatable -->
<div class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
    [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods" style="position: static; zoom: 1;overflow: auto;height: calc(100vh - 445px);margin-bottom: 0px;">
    <table class="kt-datatable__table" style="display: block;width: 1036px;">
        <!-- Header -->
        <thead class="kt-datatable__head">
            <tr class="kt-datatable__row" style="left: 0px;">
                <!-- subRow -->
                <th *ngIf="dataTable.isShowSubRow"
                    class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                    <span></span>
                </th>
                <!-- end subRow -->

                <!-- checkbox -->
                <th *ngIf="dataTable.selecter"
                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                    <span style="width: 20px;">
                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                            <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                        </label>
                    </span>
                </th>
                <!-- end checkbox -->

                <ng-container *ngFor="let column of dataTable.getColumns()">
                    <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                        [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                        class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                        (click)="dataTable.sort(column.field)">
                        <span [ngStyle]="column.style">
                            {{column.translate | translate}}
                            <i *ngIf="column.isSort"
                                [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                        </span>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <!-- table body -->
        <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
            <ng-container *ngFor="let item of dataTable.data;let i=index">
                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                    style="left: 0px;">
                    <!-- subRow -->
                    <td *ngIf="dataTable.isShowSubRow" class="kt-datatable__cell kt-datatable__toggle-detail">
                        <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                            <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                        </a>
                    </td>
                    <!-- end subRow -->

                    <!-- checkbox -->
                    <td *ngIf="dataTable.selecter"
                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                        data-field="RecordID"><span style="width: 20px;">
                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                    (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                            </label>
                        </span>
                    </td>
                    <!-- end checkbox -->
                    <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                        <span [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                    </td>
                    <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}" data-field="Username"
                        class="kt-datatable__cell" ngbTooltip="{{item.username}}">
                        <span *ngIf="item.type != 1" [ngStyle]="dataTable.getColumns()[1].style"><i
                                class="fa fa-user icon-user-tree-child"></i>{{item.username}}</span>
                        <span *ngIf="item.type == 1" [ngStyle]="dataTable.getColumns()[1].style"><i
                                class="fa fa-user icon-user-tree-parent"></i>{{item.username}}</span>
                    </td>

                    <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" class="kt-datatable__cell"
                        ngbTooltip="{{item.name}}">
                        <span [ngStyle]="dataTable.getColumns()[2].style">{{item.name}}</span>
                    </td>
                    <td ngxClipboard [cbContent]="item.phone" (cbOnSuccess)="copied($event)"
                        [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                        class="kt-datatable__cell clipboard" ngbTooltip="{{item.phone}}">
                        <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                            <i class="icon-copy"></i>
                        </a>
                        <span [ngStyle]="dataTable.getColumns()[3].style">{{item.phone}}</span>
                    </td>
                    <td ngxClipboard [cbContent]="item.email" (cbOnSuccess)="copied($event)"
                        [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                        class="kt-datatable__cell clipboard" ngbTooltip="{{item.email}}">
                        <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                            <i class="icon-copy"></i>
                        </a>
                        <span [ngStyle]="dataTable.getColumns()[4].style">{{item.email}}</span>
                    </td>

                    <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                        class="kt-datatable__cell">

                        <span [ngStyle]="dataTable.getColumns()[5].style">
                            <i *ngIf="item.status == 1" class="fa fa-check-circle kt-font-success"></i>
                            <i *ngIf="item.status == 0" class="fa fa-check-circle kt-font-danger"></i>
                        </span>
                    </td>


                    <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}" data-field="Actions"
                        data-autohide-disabled="false" class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[6].style">
                            <a container="body" ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                (click)="editUser(item.id,content)"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="icon-info-circle"></i>
                            </a>
                            <a container="body" target="_blank" routerLink="/manage/users"
                                ngbTooltip="{{'COMMON.USER_INFO.GO_TO_USER_MANAGE_PAGE' | translate }}"
                                (click)="onDirectionLink('user_manage',item)"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="icon-user-cog"></i>
                            </a>
                            <a container="body" target="_blank" routerLink="/manage/devices"
                                ngbTooltip="{{'COMMON.USER_INFO.GO_TO_DEVICE_MANAGE_PAGE' | translate }}"
                                (click)="onDirectionLink('device_manage',item)"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="flaticon2-lorry"></i>
                            </a>
                            <a container="body" target="_blank" routerLink="/map"
                                ngbTooltip="{{'COMMON.USER_INFO.GO_TO_MAP_PAGE' | translate }}"
                                (click)="onDirectionLink('map',item)"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="icon-location-arrow"></i>
                            </a>
                        </span>
                    </td>

                </tr>
                <!-- Sub row -->

            </ng-container>
            <!-- No records found -->
            <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                <kt-not-found></kt-not-found>
            </div>
        </tbody>

    </table>

    <!--*paging nav*-->
    <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
        <ul class="kt-datatable__pager-nav">
            <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                    (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                    <i class="flaticon2-fast-back"></i></a></li>
            <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                    <i class="flaticon2-back"></i></a></li>
            <li></li>
            <li style="display: none;"><input type="text" class="kt-pager-input form-control" title="Page number"></li>
            <li *ngFor="let page of dataTable.getPageDisplay()">
                <a (click)="dataTable.gotoPage(page)" class="kt-datatable__pager-link kt-datatable__pager-link-number "
                    [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}" data-page="1"
                    title="{{page}}">{{page}}</a>
            </li>
            <li style=""></li>
            <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i class=" flaticon2-next"></i></a></li>
            <li><a title="Last"
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                    class="kt-datatable__pager-link kt-datatable__pager-link--last"
                    (click)="dataTable.gotoPage(dataTable.getLastPage())">
                    <i class="flaticon2-fast-next"></i></a></li>
        </ul>
        <!-- <div class="kt-datatable__pager-info">
            <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                <select (change)="dataTable.setPageSize($event.target.value)"
                    class="selectpicker kt-datatable__pager-size" title="Select page size"
                    data-selected="30" data-width="60px">
                    <option *ngFor="let item of dataTable.getPaginationSelect()"
                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}" title="{{item}}"
                    data-toggle="tooltip">{{item}}</option>
                </select>
            </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                    {{dataTable.getPaginations().form}} -
                    {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                    {{dataTable.getPaginations().total}}</span>
        </div> -->
    </div>
</div>
<!-- modal popup -->
<ng-template #content let-modal>

    <div class="modal-header ">

        <h5 class="modal-title">
            {{'COMMON.USER_INFO.USER_INFO' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <form [formGroup]="saveFormUsers" class="form-global">
        <div class="modal-body">
            <div class="col-lg-12 form-info">
                <div class="tab-title-modal">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#info_global" role="tab">
                                {{'COMMON.GENERAL.BASE' | translate}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#info_config" role="tab">
                                {{'COMMON.GENERAL.PARAMETER' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="info_global" role="tabpanel">
                        <div *ngFor="let default of dataDefault">

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="show-error">
                                        <label>{{'COMMON.COLUMN.USERNAME' | translate}} </label>

                                    </div>
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder=""
                                            [ngModel]="isEdit?default.username:''" formControlName="username" disabled>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="show-error">
                                        <label>{{'MANAGE.USER.GENERAL.FULL_NAME' | translate}}</label>

                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder=""
                                            [ngModel]="isEdit?default.name:''" formControlName="name" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.GENERAL.PHONE' | translate}}</label>

                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder=""
                                            [ngModel]="isEdit?default.phone:''" formControlName="phone" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="show-error">
                                        <label>{{'MANAGE.USER.GENERAL.EMAIL' | translate}} </label>
                                    </div>
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder=""
                                            [ngModel]="isEdit?default.email:''" formControlName="email" disabled>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.GENERAL.ROLE_NAME' | translate}}</label>
                                    <div class="input-group">


                                        <select [ngModel]='isEdit?default.roleId:"3"'
                                            class="form-control kt_selectpicker padding-7" formControlName='role' disabled>
                                            <option value="null">
                                                {{'COMMON.MESSAGE.NOTHING_SELECTED' | translate}}
                                            </option>
                                            <option *ngFor='let role of listRoles' [ngValue]="role.id">
                                                {{role.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.GENERAL.ACCOUNT_TYPE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='isEdit?default.type:"4"' name="kt_table_1_length"
                                            aria-controls="kt_table_1" class=" form-control kt_selectpicker padding-7"
                                            formControlName="type" disabled>
                                            <option *ngFor='let type of listUserType' [ngValue]="type.id">
                                                {{type.key | translate}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'COMMON.COLUMN.DESCRIPTION' | translate}} </label>
                                    <div class="input-group">
                                        <textarea class="form-control" [ngModel]="isEdit?default.description:''"
                                            formControlName="description" rows="5" disabled>
                                            {{isEdit?default.description:''}}
                                            </textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'COMMON.COLUMN.ADDRESS' | translate}} </label>
                                    <div class="input-group">
                                        <textarea class="form-control" [ngModel]="isEdit?default.address:''"
                                            formControlName="address" rows="5" disabled>
                                                {{isEdit?default.address:''}}
                                            </textarea>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--end html global-->
                    <!--html advanced-->
                    <div class="tab-pane" id="info_config" role="tabpanel">
                        <div *ngFor="let default of dataDefault">
                            <div class="form-group row">
                                <div class="col-lg-6">

                                    <label>{{'MANAGE.USER.PARAMETER.TIMEZONE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.timezone' data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="timezone" disabled>

                                            <option *ngFor='let item of listTimeZone' value="{{item.timeZone}}">
                                                {{item.timeZone}} ({{item.GMTOffset}})
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.LANGUAGE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.language' data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="language" disabled>

                                            <option *ngFor='let language of languageList' value="{{language.key}}">
                                                {{language.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DISTANCE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitDistance'
                                            class="form-control kt_selectpicker padding-7" formControlName="distance" disabled>

                                            <option *ngFor='let distance of unitDistance' value="{{distance.id}}">
                                                {{distance.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.VOLUME' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitVolume'
                                            class="form-control kt_selectpicker padding-7" formControlName="volume" disabled>

                                            <option *ngFor='let volume of unitVolume' value="{{volume.id}}">
                                                {{volume.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.TEMPERATURE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitTemperature'
                                            class="form-control kt_selectpicker padding-7"
                                            formControlName="temperature" disabled>

                                            <option *ngFor='let temperature of unitTemperature'
                                                value="{{temperature.id}}">
                                                {{temperature.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.WEIGHT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitWeight'
                                            class="form-control kt_selectpicker padding-7" formControlName="weight" disabled>

                                            <option *ngFor='let weight of unitWeight' value="{{weight.id}}">
                                                {{weight.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DATE_FORMAT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.dateFormat'
                                            class="form-control kt_selectpicker padding-7" formControlName="date" disabled>

                                            <option *ngFor='let date of dateFormat' value="{{date.type}}">
                                                {{date.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.TIME_FORMAT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.timeFormat'
                                            class="form-control kt_selectpicker padding-7" formControlName="time" disabled>

                                            <option *ngFor='let time of timeFormat' [ngValue]="time.type">
                                                {{time.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DECIMAL_SEPARATOR' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.decimalSeprerator'
                                            class="form-control kt_selectpicker padding-7" formControlName="seprerator" disabled>

                                            <option *ngFor='let seprerator of decimalSeprerator'
                                                value="{{seprerator.id}}">
                                                {{seprerator.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.FIRST_WEEKDAY' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.weekFirstDay'
                                            class="form-control kt_selectpicker padding-7" formControlName="fisrtday" disabled>

                                            <option *ngFor='let fisrtday of weekFirstDay' [ngValue]="fisrtday.id">
                                                {{fisrtday.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--end data d-->
                    </div>
                    <!--end html advanced-->
                </div>
            </div>

        </div>
        <!--end body modal-->
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary"
                (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>

</ng-template>
<!-- end modal popup -->