
.map-popup-tooltip{
    width: 200px!important;
    margin-left: 42px;
    margin-bottom: 8px;
    font-size: 12px;
    color: rgb(26, 25, 25);
    font-weight: 500;
    p{
      margin: 2px 0;
    }
    i{
      margin-right: 5px;
    }
    h6{
      font-weight: bold;
    }
}

.footer{
  width:45px;
  height:45px;
  position: absolute;
  bottom:  -45px;
  left: 80px;
}


