<div *ngIf="isShow" class="custom-tile" style="width: 100%; height: 100%; position: relative;">
	<div style="position: relative; z-index: 2;">
		<div [class]="class" style="bottom: 0px;">
			<div>
				<h6>{{data.name}}</h6>
					
				<p *ngIf="data.description"><i class="icon-list-ul"></i>{{data.description}}</p>
				<div class="footer"></div>
			</div>
		</div>
	</div>
</div>
