.btn-custom{
    height: 1.5rem !important;
    width: 1.5rem !important;
    position: absolute !important;
    top: 0 !important;    
    transform: translateY(calc(50% - 10px)) !important;    
    cursor: pointer;
    right: 10px;
    border-radius: 100%;
}

.kt-portlet .kt-portlet__custom{
    min-height: 50px!important;
}

.form-icon{
    .active{
        color:#5d78ff;
        
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    display: table;
    width: 100%;
    table-layout: inherit;
 
  }

  .cdk-drag-placeholder {
    opacity: .5;
 
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .kt-datatable__body.cdk-drop-list-dragging .kt-datatable__row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
//   .form-feature{
//     &>.dropdown,&>.btn{
//       margin: 1px 0px;
//     }
//   }

.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__head
  .kt-datatable__row
  > .kt-datatable__cell,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__body
  .kt-datatable__row
  > .kt-datatable__cell,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__foot
  .kt-datatable__row
  > .kt-datatable__cell {
  padding: 5px 10px !important;
}

::ng-deep .ngb-tp-hour * {
  display: none;
  visibility: none;
}

/* Below worked for the spacer placeholder : */

::ng-deep .ngb-tp-spacer:nth-child(2) {
  display: none;
  visibility: none;
}

::ng-deep .ngb-tp .ngb-tp-hour {
  display: none;
}