<!-- Modal -->
<!-- <div>name</div> -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{'MANAGE.DEVICE.EDIT.GENERAL.EDIT_DEVICE' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateSellDevice" [ngTemplateOutletContext]="{data:device}">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<ng-template #templateSellDevice let-data="data">
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_tab_base" id="kt_nav_tab_base" role="tab"
                    aria-selected="false">{{'MANAGE.DEVICE.EDIT.GENERAL.BASE' | translate}}</a>
            </li>
            <li class="nav-item" *ngxPermissionsOnly="['ROLE_device.edit.advanced']" (click)="loadEditAdvanced()">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_advanced" id="kt_nav_tab_advanced" role="tab"
                    aria-selected="true">{{'MANAGE.DEVICE.EDIT.GENERAL.ADDVANCED' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_sensors" (click)="openTabSensors()" role="tab"
                    aria-selected="true">{{'MANAGE.DEVICE.EDIT.GENERAL.SENSOR' | translate}}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_camera" (click)="openTabCamera()" role="tab"
                    aria-selected="true">{{'MANAGE.DEVICE.EDIT.GENERAL.CAMERA' | translate}}</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" *ngxPermissionsOnly="['ROLE_device.edit.extension']" data-toggle="tab"
                    href="#kt_tab_extensions" id="kt_nav_tab_extensions" role="tab"
                    aria-selected="true">{{'MANAGE.DEVICE.EDIT.GENERAL.EXTENSION' | translate}}</a>

            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="kt_tab_base" role="tabpanel">
                <form class="kt-form" [formGroup]="frmDeviceEditBase" id="deviceEditFormBase">
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom  kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.INFO_DEVICE' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body validate is-invalid">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.IMEI' | translate}} <span
                                                    class="kt-font-danger">*</span></label>
                                            <input type="text" name="imei" class="form-control" formControlName="imei">
                                            <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'imei'">
                                            </kt-message-error>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NAME_DEVICE' | translate}}</label>
                                            <input type="text" name="deviceName" class="form-control"
                                                formControlName="name">
                                            <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'name'">
                                            </kt-message-error>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DEVICE_TYPE' | translate}}</label>
                                            <select class="kt-selectpicker__edit-device form-control" id="edDeviceType"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DEVICE_TYPE' | translate}}"
                                                data-live-search="true" data-size="5" formControlName="typeDevice">
                                                <option value="">
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.DEVICE_TYPE' | translate}}
                                                </option>
                                                <ng-container *ngFor="let item of deviceTypes">
                                                    <option
                                                        attr.data-content='<img style="height:20px" src="{{item.image}}"/> {{item.name}}'
                                                        value="{{item.id}}">
                                                    </option>
                                                </ng-container>

                                            </select>
                                            <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'typeDevice'"
                                                [errorMessages]="configMessage"></kt-message-error>
                                        </div>

                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.USER_NAME' | translate}}</label>
                                            <input type="text" name="userName" class="form-control"
                                                formControlName="userName">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ICON' | translate}}</label>
                                            <!-- <input type="text" name="" class="form-control" formControlName="icon"> -->
                                            <select class="kt-selectpicker__edit-device form-control" id="edIconType"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_ICON' | translate}}"
                                                data-size="5" formControlName="icon">
                                                <option value="">
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_ICON' | translate}}
                                                </option>
                                                <ng-container *ngFor="let item of iconTypes">
                                                    <option
                                                        attr.data-content='<img style="height:20px" src="{{item.iconUrl}}"/> {{item.nameTranslate || item.name}}'
                                                        value="{{item.id}}">
                                                    </option>
                                                </ng-container>

                                                <!-- <option *ngFor="let item of iconTypes" value="{{item.id}}">
                                                    {{item.name}}</option> -->
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.GROUP_DEVICE' | translate}}</label>
                                            <span (click)="createDeviceGroup()"
                                                ngbTooltip="{{'MANAGE.DEVICE.EDIT.GENERAL.ADD_DEVICE_GROUP' | translate}}"
                                                placement="left" class="btn btn-icon btn-sm btn-primary btn-custom">
                                                <i class="icon-plus"></i>
                                            </span>
                                            <select name="" id="edGroupDevice"
                                                class="kt-selectpicker__edit-device form-control"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.GROUP_DEVICE' | translate}}"
                                                data-size="5" multiple formControlName="groupIds">
                                                <option *ngFor="let item of groupDevices " attr.value="{{item.id}}">
                                                    {{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SIM_NO' | translate}}</label>
                                            <input type="text" name="" class="form-control" formControlName="simno">
                                            <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'simno'">
                                            </kt-message-error>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SIM_TYPE' | translate}}</label>
                                            <!-- <input type="text" name="" class="form-control" formControlName="simType"> -->
                                            <select class="kt-selectpicker__edit-device form-control" id="edSimType"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_SIM_TYPE' | translate}}"
                                                data-size="5" formControlName="simType">
                                                <!-- <option value="">
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_SIM_TYPE' | translate}}
                                                </option> -->
                                                <option *ngFor="let item of simTypes" value="{{item.id}}">
                                                    {{item.nameKey | translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.SERVICE' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SERVICE_EXPIRE' | translate}}</label>
                                            <!-- <kt-date-range-picker #datePicker ngbTooltip="{{'MANAGE.DEVICE.EDIT.GENERAL.SERVICE_EXPIRE'|translate}}"
                                                container="body" [options]="datePickerOptions" (dateChange)="serviceExpireChange($event)">
                                            </kt-date-range-picker> -->
                                            <input type="text" name="" class="form-control" id="dServiceExpire"
                                                formControlName="serviceExpire">
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ACTIVE_WARRANTY' | translate}}</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" name="" formControlName="active"
                                                            formControlName="activeWarranty">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ACTIVE_WARRANTY_DATE' | translate}}</label>
                                            <input type="text" name="" class="form-control"
                                                formControlName="activeWarrantyDate">
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.WARRANTY_EXPIRE' | translate}}</label>
                                            <input type="text" name="" class="form-control"
                                                formControlName="warrantyExpiredDate">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.STATUS' | translate}}</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" name="" formControlName="status">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.NOTE' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NOTE' | translate}}</label>
                                            <textarea rows="4" name="" class="form-control"
                                                formControlName="desc"></textarea>
                                        </div>
                                        <div *ngxPermissionsOnly="['ROLE_device.edit.description_admin']"
                                            class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NOTE_ADMIN' | translate}}</label>
                                            <textarea rows="4" name="" class="form-control"
                                                formControlName="descAdmin"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row" *ngxPermissionsOnly="['ROLE_device.edit.sold']">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.SELL_INFO' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SELLED' | translate}}</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" name="" formControlName="isSell">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SELL_DATE' | translate}}</label>
                                            <input triggers="hover" type="text" class="form-control kt_datepicker"
                                                autocomplete="off" id="dateSell" formControlName="sellDate" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.UPDATE_TIME' | translate}}</label>
                                            <input type="text" name="" class="form-control"
                                                formControlName="sellUpdatedDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngxPermissionsOnly="['ROLE_device.edit.advanced']" class="tab-pane" id="kt_tab_advanced"
                role="tabpanel">
                <form class="kt-form" [formGroup]="frmdeviceEditAdvanced" id="deviceEditFormAdvanced">
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.INFO_VEHICEL' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body validate is-invalid">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NUMBER_PLATE' | translate}}
                                                <span *ngIf="qcvn" class="kt-font-danger">*</span></label>
                                            <span
                                                ngbTooltip="{{'MANAGE.DEVICE.EDIT.GENERAL.NOTE_NUMBER_PLATE' | translate}}"
                                                triggers="hover" class="btn btn-icon btn-sm btn-clean btn-custom">
                                                <i class="icon-question"></i></span>
                                            <input type="text" formControlName="numberPlate" class="form-control">
                                            <kt-message-error [errorFormGroup]="fAddvanced"
                                                [errorFormControlName]="'numberPlate'"></kt-message-error>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.FRAME_NUMBER' | translate}}</label>
                                            <input type="text" formControlName="frameNumber" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.VIN_NUMBER' | translate}}</label>
                                            <input type="text" formControlName="vinNumber" class="form-control">
                                            <kt-message-error [errorFormGroup]="fAddvanced"
                                                [errorFormControlName]="'vinNumber'"></kt-message-error>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ENGINE_NUMBER' | translate}}</label>
                                            <input type="text" formControlName="engineNumber" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.TRANSPORT_TYPE' | translate}}</label>
                                            <!-- <input type="text" formControlName="vehicelType" class="form-control"> -->
                                            <select class="kt-selectpicker__edit-device--advanced form-control"
                                                formControlName="transportType" id="edTransportType"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_TRANSPORT_TYPE' | translate}}"
                                                data-size="5">
                                                <option value="">
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_TRANSPORT_TYPE' | translate}}
                                                </option>
                                                <option *ngFor="let item of listTransportType" value="{{item.id}}">
                                                    {{item.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DRIVER' | translate}}</label>
                                            <span (click)="addDriver()"
                                                ngbTooltip="{{'MANAGE.DEVICE.EDIT.GENERAL.ADD_DRIVER' | translate}}"
                                                class="btn btn-icon btn-sm btn-primary btn-custom" placement="left">
                                                <i class="icon-plus"></i>
                                            </span>
                                            <select class="kt-selectpicker__edit-device--advanced form-control"
                                                formControlName="driver" id="edDriver"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DRIVER' | translate}}"
                                                data-size="5">
                                                <!-- <option value="">
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DRIVER' | translate}}
                                                </option> -->
                                                <option *ngFor="let item of listDriver" value="{{item.id}}">
                                                    {{item.name}}</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DISTANCE_OFFSET' | translate}}</label>
                                            <input type="text" mask="separator.5" formControlName="coefficient"
                                                class="form-control">
                                            <kt-message-error [errorFormGroup]="fAddvanced"
                                                [errorFormControlName]="'coefficient'"></kt-message-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.EXTENSION_FUEL' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body validate is-invalid">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.CONSUMPTION_RATE' | translate}}
                                                <span>({{ 'MANAGE.DEVICE.EDIT.GENERAL.LITRE' | translate }}) /
                                                    100km</span>
                                            </label>
                                            <input type="text" mask="separator.5" formControlName="consumptionRate"
                                                class="form-control">
                                            <kt-message-error [errorFormGroup]="fExtentions"
                                                [errorFormControlName]="'consumptionRate'"></kt-message-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngxPermissionsOnly="['ROLE_device.edit.advanced_feature']">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.EXTENSION_ADVANCED_FEATURES' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body validate is-invalid">
                                    <div class="form-group row">

                                        <div class="col-md-6" *ngxPermissionsOnly="['ROLE_device.edit.tollfee']">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.TOLL_STATION' | translate}}</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" name="usingTollFee"
                                                            formControlName="usingTollFee">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-md-6" *ngxPermissionsOnly="['ROLE_device.edit.corridor']">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.CORRIDOR' | translate}}</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" name="corridor">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" row" *ngIf="qcvn">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.DEPARMENT' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body validate is-invalid">
                                    <!-- GOV -->
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SEND_TO_DEPARMENT' | translate}}</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" formControlName="sendToGovernment"
                                                            (change)="changeSendToGovernment($event)">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DEPARMENT_MANAGE' | translate}}</label>
                                            <!-- <input type="text" formControlName="deparmentManage" class="form-control"> -->
                                            <select
                                                class="kt-selectpicker__edit-device--advanced sendToGov form-control"
                                                formControlName="governmentManage" id="edDeparment"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DEPARMENT_MANAGE' | translate}}"
                                                data-size="5">
                                                <option value="">
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DEPARMENT_MANAGE' | translate}}
                                                </option>
                                                <option *ngFor="let item of listDeparmentManage" value="{{item.id}}">
                                                    {{item.name}}</option>
                                            </select>
                                            <kt-message-error
                                                *ngIf="frmdeviceEditAdvanced.get('sendToGovernment').value"
                                                [errorFormGroup]="fAddvanced"
                                                [errorFormControlName]="'governmentManage'"></kt-message-error>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.TRANSPORT_TYPE_QCVN' | translate}}</label>
                                            <select
                                                class="kt-selectpicker__edit-device--advanced sendToGov form-control"
                                                formControlName="transportTypeQcvn" id="edTransportTypeQcvn"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_TRANSPORT_TYPE_QCVN' | translate}}"
                                                data-size="5">
                                                <option value="">
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_TRANSPORT_TYPE_QCVN' | translate}}
                                                </option>
                                                <option *ngFor="let item of listTransportTypeQcvn" value="{{item.id}}">
                                                    {{item.name}}</option>
                                            </select>
                                            <kt-message-error
                                                *ngIf="frmdeviceEditAdvanced.get('sendToGovernment').value"
                                                [errorFormGroup]="fAddvanced"
                                                [errorFormControlName]="'transportTypeQcvn'"></kt-message-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane" id="kt_tab_sensors" role="tabpanel">
                <div class="kt-portlet__body kt-portlet__body--overflow-y">
                    <div class="col-md-12 form-feature">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                        <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.DROP_DRAP_SORT_ORDER' | translate}}" type="button"
                            triggers="hover" container="body" class="btn btn-outline-brand btn-pill"
                            [disabled]="listSensors.length < 2 ? 1: 0"
                            [ngClass]="{'btn-info':allowReOrder, 'btn-outline-brand':!allowReOrder}"
                            (click)="sortOrder()" *ngxPermissionsOnly="['ROLE_device.action.sort_order']">
                            <i class="icon-sort"></i>
                            {{'MANAGE.DEVICE.GENERAL.SORT_ORDER' | translate}}
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-outline-brand btn-pill" (click)="addSensor()">
                            <i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD' | translate}}
                            {{'MANAGE.DEVICE.EDIT.GENERAL.SENSOR' | translate | lowercase}}
                        </button>
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                    </div>
                    <div class="table-responsive" style="display: block;">
                        <table class=" table kt-datatable__table kt-font-mid">
                            <thead class="kt-datatable__head">
                                <tr class="kt-datatable__row" style="left: 0px;">
                                    <td class="kt-datatable__cell kt-font-bolder" style="width: 50px">#</td>
                                    <td class="kt-datatable__cell kt-font-bolder" width="200">
                                        {{'COMMON.COLUMN.NAME' | translate}}</td>
                                    <td class="kt-datatable__cell kt-font-bolder" width="200">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.CALCULATION_METHOD' | translate}}</td>
                                    <td class="kt-datatable__cell kt-font-bolder" width="200">
                                        {{'COMMON.COLUMN.TYPE' | translate}}</td>
                                    <td class="kt-datatable__cell kt-font-bolder" width="100">
                                        {{'COMMON.COLUMN.UNIT' | translate}}</td>
                                    <td class="kt-datatable__cell kt-font-bolder" width="200">
                                        {{'COMMON.COLUMN.CREATE_BY' | translate}}
                                    </td>
                                    <td class="kt-datatable__cell kt-font-bolder" style="width: 100px">
                                        {{'COMMON.COLUMN.ACTION' | translate}}</td>
                                </tr>
                            </thead>
                            <tbody class="kt-datatable__body" cdkDropList [cdkDropListDisabled]="!allowReOrder"
                                (cdkDropListDropped)="drop($event)">
                                <tr *ngFor="let sensor of listSensors; let i = index"
                                    [ngClass]="{'kt-move':allowReOrder}" class="kt-datatable__row" style="left: 0px;"
                                    cdkDrag>
                                    <td class="kt-datatable__cell"><span>{{i+1}}</span></td>
                                    <td class="kt-datatable__cell"><span>{{sensor.name}}</span></td>
                                    <td class="kt-datatable__cell"><span>{{sensor.keyLanguage | translate }}</span></td>
                                    <td class="kt-datatable__cell"> <span>
                                            <i class="{{sensor.iconType.icon}} ic-lg"></i>
                                            {{sensor.iconType.translate | translate }}
                                        </span>
                                    </td>
                                    <td class="kt-datatable__cell"><span>{{sensor.parameters.unit}}</span></td>
                                    <td class="kt-datatable__cell"><span>{{sensor.createBy}}</span></td>
                                    <td class="kt-datatable__cell">
                                        <span ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                            (click)="editSensor(sensor.id)">
                                            <a class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                <i class="icon-edit"></i>
                                            </a>
                                        </span>
                                        <span ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            (click)="deleteSensor(sensor.id)">
                                            <a class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td colspan="7">
                                        <button class="btn btn-primary " (click)="addSensor()">
                                            <i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD' | translate}}
                                            {{'MANAGE.DEVICE.EDIT.GENERAL.SENSOR' | translate | lowercase}}
                                        </button>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="kt_tab_camera" role="tabpanel">
                <div class="col-md-12 form-feature">
                    <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                    <!-- <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.DROP_DRAP_SORT_ORDER' | translate}}" type="button"
                        triggers="hover" container="body" class="btn btn-outline-brand btn-pill"
                        [disabled]="listSensors.length < 2 ? 1: 0"
                        [ngClass]="{'btn-info':allowReOrder, 'btn-outline-brand':!allowReOrder}"
                        (click)="sortOrder()" *ngxPermissionsOnly="['ROLE_device.action.sort_order']">
                        <i class="icon-sort"></i>
                        {{'MANAGE.DEVICE.GENERAL.SORT_ORDER' | translate}}
                    </button>
                    &nbsp;&nbsp; -->
                    <button class="btn btn-outline-brand btn-pill" (click)="addCamera()">
                        <i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD' | translate}}
                        {{'MANAGE.DEVICE.EDIT.GENERAL.CAMERA' | translate | lowercase}}
                    </button>
                    <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                </div>

                <div class="kt-portlet__body kt-portlet__body--overflow-y">
                    <div class="table-responsive">
                        <table class="table kt-font-mid">
                            <thead>
                                <tr>
                                    <td class="kt-font-bolder" style="width: 50px">#</td>
                                    <td class="kt-font-bolder" width="200">{{'COMMON.COLUMN.NAME' | translate}}</td>

                                    <td class="kt-font-bolder" width="200">ID</td>
                                    <td class="kt-font-bolder" width="200">{{'COMMON.COLUMN.DESCRIPTION' | translate}}
                                    </td>
                                    <td class="kt-font-bolder" style="width: 100px">
                                        {{'COMMON.COLUMN.ACTION' | translate}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let camera of dataCamera; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{camera.name}}</td>
                                    <td>{{camera.cameraId }}</td>
                                    <td>{{camera.description}}</td>
                                    <td><span ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                            (click)="editCamera(camera)">
                                            <a class="btn btn-sm btn-clean btn-icon">
                                                <i class="icon-edit"></i>
                                            </a>
                                        </span>
                                        <span ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            (click)="deleteCamera(deleteCameraModal,camera.id)">
                                            <a class="btn btn-sm btn-clean btn-icon">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td colspan="7">
                                        <button class="btn btn-primary " (click)="addCamera()">
                                            <i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD' | translate}}
                                            {{'MANAGE.DEVICE.EDIT.GENERAL.CAMERA' | translate | lowercase}}
                                        </button>

                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="kt_tab_extensions" role="tabpanel">
                <form class="kt-form" id="deviceEditFormExtension" [formGroup]="frmdeviceEditExtension">
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div
                                    class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                        {{'MANAGE.DEVICE.EDIT.GENERAL.EXTENSION_CONFIG' | translate}}
                                    </div>
                                </div>
                                <div class="kt-portlet__body validate is-invalid">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.TIMEOUT_NUMBER' | translate}}
                                                <span>({{'MANAGE.DEVICE.EDIT.GENERAL.MINUTE' | translate}})</span>
                                            </label>

                                            <input type="text" mask="separator" formControlName="timeoutGprs"
                                                class="form-control">
                                            <kt-message-error [errorFormGroup]="fExtentions"
                                                [errorFormControlName]="'timeoutGprs'"></kt-message-error>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.MIN_SPEED' | translate}}
                                                <span>(km/h)</span>
                                            </label>

                                            <input type="text" mask="separator" formControlName="minSpeed"
                                                class="form-control">
                                            <kt-message-error [errorFormGroup]="fExtentions"
                                                [errorFormControlName]="'minSpeed'"></kt-message-error>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.MIN_STOP_DURATION' | translate}}
                                                <span>({{'MANAGE.DEVICE.EDIT.GENERAL.MINUTE' | translate}} :
                                                    {{'MANAGE.DEVICE.EDIT.GENERAL.SECOND' | translate}})</span>

                                            </label>
                                            <span
                                                ngbTooltip="{{'MANAGE.DEVICE.EDIT.GENERAL.MIN_STOP_DURATION_RANGE_PICKER' | translate}}"
                                                triggers="hover" class="btn btn-icon btn-sm btn-clean btn-custom" style="right: unset; margin-left: 5px">
                                                <i class="icon-question"></i></span>
                                            <div class="list-time row">
                                                <div class="col-sm-5">
                                                    <ngb-timepicker [(ngModel)]="minStopDuration" [seconds]="true"
                                                        [spinners]="false" (change)="changeTimepicker($event)"
                                                        formControlName="minStopDuration">
                                                    </ngb-timepicker>
                                                </div>
                                            </div>
                                            <kt-message-error [errorFormGroup]="fExtentions"
                                                [errorFormControlName]="'minStopDuration'"></kt-message-error>
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.TIMEZONE' | translate}}</label>

                                            <select class="kt-selectpicker__edit-device form-control" id="edTimeZone"
                                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.TIMEZONE' | translate}}"
                                                data-live-search="true" data-size="5" formControlName="timeZone">
                                                <ng-container *ngFor="let item of listTimeZones">
                                                    <option value="{{ item.GMTOffsetMinute }}">
                                                        {{ item.GMTOffset }}
                                                    </option>
                                                </ng-container>

                                                <!-- <option *ngFor="let item of iconTypes" value="{{item.id}}">
                                                    {{item.name}}</option> -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6" *ngxPermissionsOnly="['ROLE_device.debug']">
                                            <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DEBUG_MODE' | translate}}</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" name="isDebug" formControlName="isDebug">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</ng-template>
<!--Camera-->
<ng-template #cameraModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            {{sensorTmpTitle | translate}}
            {{'MANAGE.DEVICE.EDIT.GENERAL.CAMERA' | translate | lowercase}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="kt-form validate is-invalid" [formGroup]="formCamera" id="formCamera"
        (ngSubmit)='onSubmitCamera(formCamera)'>
        <div class="modal-body">

            <div class="row">
                <div class="form-group col-lg-12">

                    <div class="show-error">
                        <label class="">{{'COMMON.COLUMN.NAME' | translate}}</label>
                        <app-control-messages [control]="error['name']"></app-control-messages>
                        <span class="text-danger"> *</span>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" formControlName="name">
                    </div>
                </div>
                <div class="form-group col-lg-12">

                    <div class="show-error">
                        <label class="">Id</label>
                        <app-control-messages [control]="error['id']"></app-control-messages>
                        <span class="text-danger"> *</span>
                    </div>
                    <div class="input-group">

                        <input type="number" class="form-control" placeholder="" formControlName="id">
                    </div>
                </div>
                <div class="form-group col-lg-12">

                    <div class="show-error">
                        <label class="">{{'COMMON.COLUMN.DESCRIPTION' | translate}}</label>

                    </div>
                    <div class="input-group">
                        <textarea type="text" class="form-control" formControlName="description" rows="2"></textarea>

                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button *ngIf="!cameraActionEdit" type="submit" [disabled]="formCamera.invalid" class="btn btn-primary">
                {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
            <button *ngIf="cameraActionEdit" type="submit" [disabled]="formCamera.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
            </button>
            <button type="button" class="btn btn-secondary"
                (click)="d('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
        </div>
    </form>
</ng-template>
<!--end camera-->
<ng-template #sensorTmp let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{sensorTmpTitle | translate}}
            {{'MANAGE.DEVICE.EDIT.GENERAL.SENSOR' | translate | lowercase}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="sensorAction">
            <ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="sensorDeleteTmp">
            </ng-container>
            <ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="sensorFormTmp">
            </ng-container>
            <ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="sensorFormTmp">
            </ng-container>
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container [ngSwitch]="sensorAction">
            <button *ngSwitchCase="'edit'" type="button" class="btn btn-primary"
                (click)="onSensorSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
            <button *ngSwitchCase="'add'" type="button" class="btn btn-primary"
                (click)="onSensorSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
            <button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
                (click)="onSensorSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- modal delete user -->
<ng-template #deleteCameraModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }} camera</h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <i class="icon-question-circle"></i>
        {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="deleteCameraItem()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>

</ng-template>
<!--end modal delete user-->
<!-- comfirm delete -->
<ng-template #sensorDeleteTmp>
    <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
    </div>
</ng-template>
<ng-template #sensorFormTmp>
    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_sensor_base" id="kt_nav_tab_sensor_base"
                role="tab" aria-selected="false">{{'MANAGE.DEVICE.EDIT.GENERAL.BASE' | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tab_sensor_advanced" id="kt_nav_tab_sensor_advance"
                role="tab" aria-selected="true">{{'MANAGE.DEVICE.EDIT.GENERAL.ADDVANCED' | translate}}</a>
        </li>
    </ul>
    <div class="tab-content ">
        <!-- Base  -->
        <div class="tab-pane active" id="kt_tab_sensor_base" role="tabpanel">
            <form class="kt-form validate is-invalid" [formGroup]="formSensorBase" id="formSensorBase">
                <!-- Sensor name  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.SENSOR_NAME' | translate}}</label>
                            <input type="text" class="form-control" formControlName="name">
                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'name'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- Sensor template  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.CALCULATION_METHOD' | translate}}</label>
                            <select class="kt-selectpicker__sensor form-control" name="" id="sensorTemplateFrm"
                                formControlName="template"
                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_CALCULATION_METHOD' | translate}}"
                                data-size="5" (change)="sensorTemplateChange($event.target.value)">
                                <!-- <option value="">
                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_SENSOR_TEMPLATE' | translate}}
                                </option> -->
                                <option *ngFor="let sensor of sensorsTemplate" value="{{sensor.name}}">
                                    {{sensor.name}}
                                    {{ ((sensor.keyLanguage | translate).toLowerCase()!=sensor.name.toLowerCase()? '('+(sensor.keyLanguage | translate)+')':'')}}
                                </option>
                            </select>
                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'template'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- Parameter  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.PARAMETER_NAME' | translate}}</label>
                            <select class="kt-selectpicker__sensor form-control" name="" id="sensorParameterFrm"
                                formControlName="parameter"
                                title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_PARAMETER_NAME' | translate}}"
                                data-size="5">
                                <option value="">
                                    {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_PARAMETER_NAME' | translate}}
                                </option>
                                <ng-container *ngFor="let param of deviceType?.ioSetting">
                                    <option *ngIf="param.active" value="{{param.key}}">{{param.value}}
                                    </option>
                                </ng-container>

                            </select>
                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'parameter'"
                                [errorMessages]="configMessageSensor">
                            </kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- Unit  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group typeahead-ct">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.UNIT' | translate}}</label>
                            <input type="text" class="form-control" id="typeahead-focus" formControlName="unit"
                                [(ngModel)]="modelUnit" [ngbTypeahead]="search"
                                (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)"
                                [container]="body" [autocomplete]="true" #instance="ngbTypeahead">
                        </div>
                    </div>
                </div>
                <!-- Type sensor  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.SENSOR_TYPE' | translate}}</label>
                            <!-- <div class="form-icon">
                                <ng-container *ngFor="let icon of icons">
                                    <button type="button" class="btn btn-outline-hover-brand btn-sm btn-icon btn-circle"
                                        [ngClass]="{'active':iconSensorSelect == icon}"
                                        (click)="selectIconSensor(icon)"><i class="ic-lg {{icon}}"></i></button>
                                </ng-container>
                            </div> -->
                            <div class="form-icon">
                                <ng-container *ngFor="let item of typeSensors">
                                    <button type="button" class="btn btn-outline-hover-brand btn-sm btn-icon btn-circle"
                                        [ngClass]="{'active':typeSensorSelect?.type == item.type}"
                                        ngbTooltip="{{item.translate | translate}}" container="body"
                                        (click)="selectSensorType(item)"><i class="ic-lg {{item.icon}}"></i></button>
                                </ng-container>
                            </div>


                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'parameter'"
                                [errorMessages]="configMessageSensor">
                            </kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- Formular  -->
                <div class="row" *ngIf="currentSensorTemplate.formula!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.FORMULA' | translate}}</label>
                            <input type="text" class="form-control" formControlName="formula">
                            <label> {{'COMMON.GENERAL.EXAMPLE' | translate}}: [value]/1000</label>
                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'formula'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- Calibration  -->
                <div class="row" *ngIf="currentSensorTemplate.calibration!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.CALIBRATION' | translate}}</label>
                            <textarea rows="4" class="form-control" formControlName="calibration"></textarea>
                            <label> {{'COMMON.GENERAL.EXAMPLE' | translate}}: x1,y1;x2,y2</label>
                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'calibration'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- Min  -->
                <div class="row" *ngIf="currentSensorTemplate.min!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.MIN' | translate}}</label>
                            <input type="text" class="form-control" formControlName="min">
                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'min'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>

                </div>
                <!-- Max  -->
                <div class="row" *ngIf="currentSensorTemplate.max!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.MAX' | translate}}</label>
                            <input type="text" class="form-control" formControlName="max">
                            <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'max'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Advanced  -->
        <div class="tab-pane" id="kt_tab_sensor_advanced" role="tabpanel">
            <form class="kt-form validate is-invalid" [formGroup]="formSensorAdvance" id="formSensorAdvance">
                <!-- INCREASE -->
                <div class="row" *ngIf="currentSensorTemplate.increase!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.INCREASE' | translate}}</label>
                            <input type="text" class="form-control" formControlName="increase">
                            <kt-message-error [errorFormGroup]="fSensorAdvance" [errorFormControlName]="'increase'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>

                </div>
                <!-- DECREASE -->
                <div class="row" *ngIf="currentSensorTemplate.decrease!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.DECREASE' | translate}}</label>
                            <input type="text" class="form-control" formControlName="decrease">
                            <kt-message-error [errorFormGroup]="fSensorAdvance" [errorFormControlName]="'decrease'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- OFFSET -->
                <div class="row" *ngIf="currentSensorTemplate.offset!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.OFFSET' | translate}}</label>
                            <input type="text" class="form-control" formControlName="offset">
                            <kt-message-error [errorFormGroup]="fSensorAdvance" [errorFormControlName]="'offset'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- ROUND -->
                <div class="row" *ngIf="currentSensorTemplate.round!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.ROUND' | translate}}</label>
                            <input type="text" class="form-control" formControlName="round">
                            <kt-message-error [errorFormGroup]="fSensorAdvance" [errorFormControlName]="'round'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- SORT_ORDER -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.SORT_ORDER' | translate}}</label>
                            <input type="text" class="form-control" formControlName="sortOrder">
                            <kt-message-error [errorFormGroup]="fSensorAdvance" [errorFormControlName]="'sortOrder'"
                                [errorMessages]="configMessageSensor"></kt-message-error>
                        </div>
                    </div>
                </div>
                <!-- DESCRIPTION -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.DESCRIPTION' | translate}}</label>
                            <textarea rows="4" class="form-control" formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
                <!-- SHOW_CHART_ON_MAP -->
                <div class="row" *ngIf="currentSensorTemplate.showOnMap!=undefined">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.SHOW_CHART_ON_MAP' | translate}}</label>
                            <br>
                            <label>
                                <span class="kt-switch kt-switch--icon">
                                    <input type="checkbox" formControlName="showOnMap">
                                    <span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #sensorEditTmp>
    <div class="alert alert-bold" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
    </div>
</ng-template>
<kt-create-device-group [createDeviceGroupOpen]="deviceGroupEventEmiter"
    (createDeviceGroupResult)="createDeviceGroupResult($event)"></kt-create-device-group>
<kt-add-driver [addDriverOpen]="addDriverEmiter" (adddriverResult)="addDriverResult($event)"></kt-add-driver>