<!-- begin:: Content -->
<div class="kt-main kt-main_report" style="display: flex;height: 100%;width: 100%;">
    <div class="user-tree kt-body--left tree-mobile" style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" (changeUser)="ChangeUserTree($event)"  [allowCollapse]="true"  [btnClose]="true">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main"  style="max-width: 100%;overflow: auto;">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                        <kt-breadcrumb title="{{'MENU.REPORT_GEOFENCE_DETAIL' | translate}}" [data] = "parentBread"></kt-breadcrumb>
                 </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                       
                        
                        <button style="margin-left:10px;" type="button" class="btn btn-brand btn-icon-sm btn-pill" routerLink="{{objGeofenceSummary.page}}" *ngxPermissionsOnly="[objGeofenceSummary.permission]" >              
                            {{objGeofenceSummary.translate | translate}}
                    </button>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">

                </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormGeofence" (ngSubmit)='searchGeofence()'>

                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div style="padding:0px 10px;">
                                    <div class="form-group">
                                        <kt-date-range-picker #datePicker 
                                            [options]="datePickerOptions" 
                                            (dateChange)="dateSelectChange($event)">
                                
                                        </kt-date-range-picker> 
                                    </div>
                                </div>
                               
                                <!-- <div class="search-device input-width-search">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <select
                                               multiple
                                                [(ngModel)] = "deviceId" data-live-search="true" class="form-control kt_selectpicker padding-7"
                                                formControlName="deviceId"
                                                data-size="5"
                                                title="{{'REPORT.GEOFENCE.SUMMARY.ALL_DEVICE' | translate}}"
                                                name="days" id="device" #days 
                                            
                                                >
                                           
                                                <option *ngFor='let device of listDevices' value="{{device.id}}">
                                                    {{device.name}}
                                                </option>
                                        </select> 
                                        </div>
                                    </div>
                                </div> -->
          
                                <div class="search-device input-width-search">
                                    <div class="form-group">
                                        <div class="form-group">
                                           <kt-select-picker #listDevicePicker [showGroup]="true" [eventUpdateData]="paramsEmiter"  [filter]='keySearchFilter'
                                           placeholder="{{'MANAGE.DRIVER.GENERAL.NAME' | translate}}..." [isSwitch]="false"
                                           (checkedChange)="changeChecked($event)">
                                           </kt-select-picker>
                                        </div>
                                    </div>
                                </div>
                                <div class="search-device input-width-search">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <select
                                                multiple
                                                [(ngModel)] = "geofenceId"
                                                data-live-search="true" class="form-control kt_selectpicker padding-7"
                                                formControlName="geofenceId"
                                                data-size="5"
                                                title="{{'REPORT.GEOFENCE.SUMMARY.ALL_GEOFENCE' | translate}}"
                                                name="geofence" id="geofence" #geofence 
                                            
                                                >
                                           
                                                <option *ngFor='let geofence of listGeofence' value="{{geofence.id}}">
                                                    {{geofence.name}}
                                                </option>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="search-device input-width-search">
                                    <div class="form-group">
                                        <div class="form-group">
                                          <input id="timeStop"  type="number" class="form-control" placeholder="{{'REPORT.GEOFENCE.SUMMARY.TIME_STOP' | translate}}">
                                        </div>
                                    </div>
                                </div>

                                <div style="padding-left:10px">
                                    <div class="form-group">
                                    <button type="submit" class="btn btn-outline-brand btn-pill">
                                        <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-outline-brand btn-pill"
                                        (click)="resetFormSearch()">
                                        <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                    </button>&nbsp;
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
                
            </div>
            

            <!--end: Search Form -->
            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">

                        <div class="col-md-12 export-file" >
                                <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
        
                                    <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_EXCEL' | translate}}"  (click)="exportXlSX()" 
                                    type="button" container="body"
                                    class="btn btn-circle btn-icon btn-sm button-excel"
                                    [ngClass] = "{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':isdownLoad}"
                                    id="dropdownMenuButton"
                                        placement="top"  
                                        aria-expanded="false">
                                        <i class="icon-file-excel1"></i>
                                    </button>
                                    <span>&nbsp;&nbsp;</span>
                                    <button  ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" (click)="exportPDF()"
                                    type="button"  container="body"
                                    [ngClass] = "isdownLoadPDF?'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':''"
                                    class="btn btn-circle btn-icon btn-sm button-pdf"
                                        id="dropdownMenuButton" 
                                        placement="top"
                                        aria-expanded="false">
                                        <i class="icon-file-pdf1"></i>
                                    </button>
                
                             <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">
        
                                </div>
                                <!-- <div class="kt-separator"></div> -->
                            </div>
                </div>
            </div>
            <!-- end: Feature -->
            <!--begin: Datatable -->
   
                <div resizeObserver (resize)="onResize($event.contentRect)"
                    class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                    [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                    style="position: static; zoom: 1;">
                    <table class="kt-datatable__table kt-datatable__table_report">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row" style="left: 0px;">
                                <!-- checkbox -->
                                <th *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                    <span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                                (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </th>
                                <!-- end checkbox -->
                                <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__cell--sort">
                                    <a class="kt-datatable__toggle-detail">
                                    </a>
                                </th>
    
                                <ng-container *ngFor="let column of dataTable.getColumns()">
    
                                    <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                        [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                        class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                        (click)="dataTable.sort(column.field)">
                                        <span [ngStyle]="column.style">{{column.translate | translate}}
                                            <i *ngIf="column.isSort"
                                                [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                        </span>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                                <ng-container *ngFor="let group of dataTable.data;let j=index">
                                    <tr class="kt-datatable__row kt-datatable_group" style="left: 0px;">
                                        <td 
                                            class="kt-datatable__cell kt-datatable__cell"
                                            data-field="RecordID">
                                             <a container="body" (click) = "open(detailGeofence,group.geofenceId)"  style="height: 40px;cursor: pointer;">                             
                                                                   
                                                <span [ngStyle]="{'color':getColorGeofence(group.geofenceId)}">
                                                    <svg *ngIf="getTypeGeofence(group.geofenceId)=='polygon'" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                        viewBox="0 0 24 24" version="1.1" class="icon">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z"
                                                                [attr.fill]="getFillGeofence(group.geofenceId)" />
                                                        </g>
                                                    </svg>
                                                    <svg *ngIf="getTypeGeofence(group.geofenceId)=='circle'" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                        viewBox="0 0 24 24" version="1.1" class="icon">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <circle [attr.fill]="getFillGeofence(group.geofenceId)" cx="12" cy="12" r="8" />
                                                        </g>
                                                    </svg>
                                                </span>

                                                <span style="vertical-align: bottom;">{{group.geofenceName}}</span>
                                            </a>
    
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of group.data;let i=index"  [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                        style="left: 0px;" >
                                        <!-- checkbox -->
                                        <td *ngIf="dataTable.selecter"
                                            class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                            data-field="RecordID">
                                            <span style="width: 20px;">
                                                <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                                    <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                        (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                                </label>
                                            </span>
                                        </td>
                                        <!-- end checkbox -->
                                        <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                            class="kt-datatable__cell kt-datatable__toggle-detail">
                                            <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                                <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i),
                                                      'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                            </a>
                                        </td>
                                        <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                            <span
                                                [ngStyle]="dataTable.getColumns()[0].style">
                                                {{item.count}}
                                            </span>
                                        </td>
                                        <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                            data-field="key_name" class="kt-datatable__cell">
                                            <span style="cursor: pointer;"  ngbTooltip="{{item.timeFromUtc | userDate}}"
                                                [ngStyle]="dataTable.getColumns()[1].style">
                                                 {{item.deviceName}}
                                            </span>
                                        </td>
    
                                        <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                            data-field="name" class="kt-datatable__cell">
                                            <span [ngStyle]="dataTable.getColumns()[2].style"
                                                ngbTooltip="{{item.distance}}"
                                                translate="{{item.commandName}}">
                                                {{item.timeIn}}
                                            </span>
                                        </td>
                                        <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                            data-field="hire_date" class="kt-datatable__cell">
                                            <span [ngStyle]="dataTable.getColumns()[3].style">
                                                   {{item.timeOut}}
                                            </span>
                                        </td>
                                        <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumns()[4].style">
                                               {{item.totalTime}}
                                        </span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[5].style">
                                            <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                            (click) = "open(detailGeofence,group.geofenceId,item)"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                               >
                                                <i style="font-size: 14px;" class="icon-info-circle"></i>
                                            </a>
                                    </span>
                                </td>
                                 
                                    </tr>
    
                         
                                </ng-container>
                            <!-- No records found -->
                            <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                                <kt-not-found></kt-not-found>
                            </div>
                        </tbody>
    
    
                    </table>
    
                    <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                        <ul class="kt-datatable__pager-nav">
                            <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                    (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                    <i class="flaticon2-fast-back"></i></a></li>
                            <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                    <i class="flaticon2-back"></i></a></li>
                            <li></li>
                            <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                    title="Page number"></li>
                            <li *ngFor="let page of dataTable.getPageDisplay()">
                                <a (click)="dataTable.gotoPage(page)"
                                    class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                    [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                    data-page="1" title="{{page}}">{{page}}</a>
                            </li>
                            <li style=""></li>
                            <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                        class=" flaticon2-next"></i></a></li>
                            <li><a title="Last"
                                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                    class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                    (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                    <i class="flaticon2-fast-next"></i></a></li>
                        </ul>
                        <div class="kt-datatable__pager-info">
                            <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                                <select (change)="dataTable.setPageSize($event.target.value)"
                                    class="selectpicker kt-datatable__pager-size" title="Select page size"
                                    data-selected="30" data-width="60px">
                                    <option *ngFor="let item of dataTable.getPaginationSelect()"
                                        [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                        title="{{item}}" data-toggle="tooltip">{{item}}</option>
                                </select>
                            </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                                {{dataTable.getPaginations().form}} -
                                {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                                {{dataTable.getPaginations().total}}</span>
                        </div>
                    </div>
                </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
    <!-- end:: Content -->
    <!-- end:: Content -->
    <ng-template #detailGeofence  let-c="close" let-d="dismiss">
            <div class="modal-header">
                    <h4 class="modal-title">{{'MENU.REPORT_GEOFENCE_DETAIL' | translate}}
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
           
            <div class="modal-body">
                <kt-alert-popup [alertPopup] = "geofencePopup">
                </kt-alert-popup>
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
            </div>
        </ng-template>