<div class="kt-main" style="" resizeObserver
    (resize)="onResize($event.contentRect)">
    <div class="kt-left">
            <div class="kt-portlet kt-portlet--mobile" id="poiConfig">
    
    
                <form class="kt-form validate is-invalid" [formGroup]="poiForm" (change)="formChange($event)"
                    id="formpoiTool">
                    <div class="kt-portlet__body kt-portlet__body--overflow-y" id="poiBody">
    
                        <div class="form-group">
                            <label>{{'MANAGE.GEOFENCE.TOOL.NAME' | translate}}</label>
                            <span class="text-danger"> *</span>
    
                            <input type="text" class="form-control" formControlName="name">
                            <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'name'">
                            </kt-message-error>
                            <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                        </div>
                        <div class="form-group">
                            <label>{{'COMMON.COLUMN.TYPE' | translate}}</label>
                            <span class="text-danger"> *</span>
                            <select                           
                            formControlName="typePoi"
                            id="listPoiTypeTool"
                            class="form-control">
                                <option value="">
                                    {{'MANAGE.POI.GENERAL.TYPE_POI' | translate}}
                                </option>
                                <ng-container  *ngFor='let poi of listTypePoi'>
                                        
                                        <option
                                            attr.data-content='<i  style="text-align:center;width:25px;padding-bottom: 3px; color:{{poi.fillColor?poi.fillColor:"#5d78ff"}}" class="{{poi.iconClass}}"/></i>{{poi.name | translate}} '
                                            value="{{poi.id}}">
                                        </option>
                                </ng-container>
                        </select>
                            <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                        </div>
                        <div class="form-group form-group-last">
                            <label for="exampleTextarea">{{'MANAGE.GEOFENCE.TOOL.DESCRIPTION' | translate}}</label>
                            <textarea class="form-control" formControlName="description" rows="4"></textarea>
                            <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'description'">
                            </kt-message-error>
                        </div>
                        <div class="form-group" *ngIf="isCricle">
                            <label>{{'MANAGE.GEOFENCE.TOOL.RADIUS' | translate}} (m)</label>
                            <input type="text" class="form-control" formControlName="radius" placeholder="">
                            <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'radius'">
                            </kt-message-error>
                        </div>
                        <div formArrayName="latlngArr">
                            <div *ngFor="let latlng of formLatLngs.controls ; let i = index;">
                                <div class="row" [formGroupName]="i">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{'MANAGE.GEOFENCE.TOOL.LATITUDE' | translate}}</label>
                                            <input type="text" class="form-control" formControlName="lat" placeholder="">
                                            <kt-message-error [errorFormGroup]="latlng.controls"
                                                [errorFormControlName]="'lat'">
                                            </kt-message-error>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{'MANAGE.GEOFENCE.TOOL.LONGITUDE' | translate}} </label>
                                            <input type="text" class="form-control" formControlName="lng" placeholder="">
                                            <kt-message-error [errorFormGroup]="latlng.controls"
                                                [errorFormControlName]="'lng'">
                                            </kt-message-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                      
                    </div>
                    <div class="kt-portlet__foot" id="poiFooter">
                        <div class="kt-form__actions">
                            <button type="button" class="btn btn-primary"
                                (click)="onSubmit()">{{(typeAction=='edit'?'COMMON.ACTIONS.SAVE_CHANGES':'COMMON.ACTIONS.ADD') | translate}}</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-secondary"
                                (click)="onReset()">{{'COMMON.GENERAL.RESET' | translate}}</button>&nbsp;&nbsp;
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    <div class="kt-map">
            <div class="map" id="map" leaflet leafletDraw [leafletOptions]="options" [leafletDrawOptions]="drawOptions"
                (leafletDrawReady)="onDrawReady($event)" (leafletDrawCreated)="onCreated($event)"
                (leafletMapReady)="onMapReady($event)">
            </div>
            <!-- Process text -->
            <div
                style="position: absolute; display: flex; flex-direction: column; justify-content: center; right: 0px; z-index: 1; opacity: 0;">
                <svg [id]="mapConfig.options.elementProcessText">
                    <text x="22" y="15" fill="#fff" font-size="11"></text>
                    <text x="22" y="15" fill="#fff" font-size="11"></text>
                </svg>
            </div>
            <div *ngIf="showListDevice" class="list-device">
                <kt-widget-check-list *ngIf="listData.length>0" [data]="listData" [filter]="'name'"
                    placeholder="{{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}}..." [isSwitch]="false"
                    [size]="'col-lg-6'" (checkedChange)="onWidgetCheckChange($event)">
                </kt-widget-check-list>
            </div>
            <div class="map-control">
                <a ngbTooltip="{{'MANAGE.GEOFENCE.TOOL.SHOW__HIDE_DEVICES'|translate}}" container="body" placement="left"
                    class="control-item" (click)="changeShowListDevice()">
                    <i class="flaticon2-lorry"></i>
                </a>
            </div>
    </div>

   

</div>