<div ngbDropdown placement="bottom-right" >
        <div class="show-text" ngbDropdownToggle>
           <span>{{textSelected}}</span>
        </div>
        <div ngbDropdownMenu class="test dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
                <div class="kt-portlet box-check-list" >
                        <form [formGroup]="formCheckList">
                          <div class="kt-portlet__head-title" [ngClass]="!isSwitch?'kt-portlet__head-title_check':''">
                            <div class="title-right">
                    
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input [(ngModel)]="searchText" formControlName='searchText' (keyup)="searchItem($event.target.value)"
                                        type="text" class="form-control" placeholder="{{placeholder}}">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                        </span>
                                        <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">
                                        <i class="material-icons">close</i>
                                        </span>
                                    </div>
                            </div>
                            <div class="title-left">
                              <span *ngIf="isSwitch" class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                <label>
                                  <input id="checkallboxed_{{name}}" type="checkbox" formControlName="checkallboxed" [(ngModel)]="checkallboxed"
                                    (change)="checkUncheckAll()">
                                  <span></span>
                                </label>
                              </span>
                              <label *ngIf="!isSwitch" class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                <input id="checkallboxed_{{name}}" type="checkbox" formControlName="checkallboxed" [(ngModel)]="checkallboxed"
                                  (change)="checkUncheckAll()">
                                <span></span>
                              </label>
                              <label style="cursor: pointer" for="checkallboxed_{{name}}" class="col-form-label">
                                {{'COMMON.GENERAL.SELECT_ALL' | translate}}
                              </label>
                            </div>
                           
                          
                            <!-- <input id="cars_bg_search" type="text" class="bg_search float-right" value="Search"> -->
                          </div>
                          <div class="kt-portlet__body body-select-box">
                            <div class="form-group row form-group-device">
                              <div class="item-box-list" [ngClass]='size' formArrayName="{{name}}" *ngFor="let item of data | filter: searchText">
                                <span *ngIf="isSwitch" class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                  <label>
                                    <input type="checkbox" formControlName="{{name}}_id_{{item.id}}" [(ngModel)]="item.checked"
                                      (change)="isCheckSelected()">
                                    <span></span>
                                  </label>
                                </span>
                                <label *ngIf="!isSwitch" class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                  <input type="checkbox" formControlName="{{name}}_id_{{item.id}}" id="{{name}}_{{item.id}}"
                                    [(ngModel)]="item.checked" (change)="isCheckSelected()">
                                  <span></span>
                                </label>
                                <svg *ngIf="options.type =='geofence' && item.type=='polygon'" xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                                  version="1.1" class="icon">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <rect x="0" y="0" width="24" height="24" />
                                      <path
                                          d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z"
                                          [attr.fill]="item.fillColor" />
                                  </g>
                              </svg>
                              <svg *ngIf="options.type =='geofence' && item.type=='circle'" xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                                  version="1.1" class="icon">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                      <rect x="0" y="0" width="24" height="24" />
                                      <circle [attr.fill]="item.fillColor" cx="12" cy="12" r="8" />
                                </g>
                            </svg>
                                <label style="cursor: pointer" class="col-form-label" for="{{name}}_{{item.id}}">
                                  {{item.name}}
                                </label>
                              </div>
                      
                            </div>
                          </div>
                        </form>
                </div>
        </div>
    </div>
    