.modal-body-Command .kt-portlet__body_command {
    max-height: 300px !important;
    padding-bottom: 10px !important;
    min-height: 150px !important;
}

.modal-body-Command .kt-portlet .kt-portlet__head {
    height: 50px;
}


.kt_datatable--overflow {
    margin-bottom: 0px !important;
    overflow: auto;

    .kt-datatable__table {
        // display: table !important;

        .kt-datatable__head {
            display: table-row-group !important;

            .kt-datatable__row {
                display: table-row !important;
            }
        }

        .kt-datatable__body {
            display: table-row-group !important;

            .kt-datatable__row {
                display: table-row !important;
            }
        }

        .kt-datatable__body--notfound {
            display: block !important;
        }
    }

    .kt-datatable__head .kt-datatable__row {

        th,
        td {
            border: 1px solid #f0f3ff;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}