<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" [btnClose]="true" [allowCollapse]="true" (changeUser)="ChangeUserTree($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MENU.COMMAND' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm btn-pill"
                            (click)="buttonAddNew(content)">
                            <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                            {{'MANAGE.GENERAL.COMMAND' | translate  }}

                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
       
        </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormCommand" (ngSubmit)='searchCommand(searchFormCommand)'>
                    <div class="row">
                        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-12">
                            <input type="text" class="form-control" placeholder="Imei" formControlName="imei">
                        </div>
                        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-12">
                            <input type="text" class="form-control"
                                placeholder="{{'COMMON.COLUMN.DEVICE_NAME' | translate}}" formControlName="deviceName">
                        </div>
                        <div class="form-group col-xl-2 col-lg-3 col-md-4 col-sm-12">
                            <input type="text" class="form-control"
                                placeholder="{{'MANAGE.COMMAND.GENERAL.COMMAND' | translate}}"
                                formControlName="commandText">
                        </div>
                        <div class="form-group col-xl-3 col-lg-6  col-md-6  col-sm-12">
                            <button type="submit" class="btn btn-outline-brand btn-pill">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;
                        </div>
                    </div>
                </form>
            </div>

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <div
                    class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded kt_datatable--overflow">
                    <table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'auto')}"
                        style="display: block;" id="dataTable">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row " style="left: 0px; text-align: center;">

                                <td class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                    <span style="widtd:20px">
                                        #
                                    </span>
                                </td>
                                <td class="kt-datatable__cell kt-datatable__cell--sort" colspan="3">
                                    <span>
                                        {{'MANAGE.COMMAND.GENERAL.DEVICE_INFO' | translate  }}
                                    </span>
                                </td>
                                <td class="kt-datatable__cell kt-datatable__cell--sort" colspan="5">
                                    <span>
                                        {{'MANAGE.COMMAND.GENERAL.SEND_INFO' | translate  }}
                                    </span>
                                </td>
                                <td class="kt-datatable__cell kt-datatable__cell--sort" colspan="2">
                                    <span>
                                        {{'MANAGE.COMMAND.GENERAL.RESPONSE_INFO' | translate  }}
                                    </span>
                                </td>
                                <td class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                    <span [ngStyle]="dataTable.getColumn('status').style">
                                        {{"COMMON.COLUMN.STATUS" | translate}}
                                    </span>
                                </td>
                                <td class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                    <span [ngStyle]="dataTable.getColumn('action').style">
                                        {{"COMMON.COLUMN.ACTION" | translate}}
                                    </span>
                                </td>
                            </tr>
                            <!-- subRow -->

                            <!-- end subRow -->
                            <tr class="kt-datatable__row" style="left: 0px;">
                                <ng-container *ngFor="let column of dataTable.getColumns()">
                                    <td [ngClass]="{'kt-datatable__cell--sorted':column.isSort} "
                                        *ngIf="column.headerShow!==false"
                                        [ngStyle]="{'display':(!column.isShow?'none':'')}"
                                        [attr.data-field]="column.field"
                                        class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                        (click)="dataTable.sort(column.field)">
                                        <span [ngStyle]="column.style">
                                            {{column.translate | translate}}
                                            <i *ngIf="column.isSort"
                                                [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                        </span>
                                    </td>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body "
                            [ngClass]="{'kt-datatable__body--notfound':dataTable.isNotFound}"
                            [ngStyle]="dataTable.bodyStyle">
                            <ng-container *ngFor="let item of dataTable.data;let i=index">
                                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                    style="left: 0px;">
                                    <!-- checkbox -->
                                    <td *ngIf="dataTable.selecter"
                                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                        data-field="RecordID"><span style="width: 20px;">
                                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                    (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <!-- end checkbox -->
                                    <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                        class="kt-datatable__cell kt-datatable__toggle-detail">
                                        <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                            <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                          'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                        </a>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                        <span
                                            [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                    </td>
                                    <!-- device name  -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('deviceName').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.deviceName}}" container="body"
                                            [ngStyle]="dataTable.getColumn('deviceName').style">{{item.deviceName}}</span>
                                    </td>
                                    <!-- imei  -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('imei').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.imei}}" container="body"
                                            [ngStyle]="dataTable.getColumn('imei').style">{{item.imei}}</span>
                                    </td>

                                    <!-- deviceType -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('deviceType').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.typeName}}" container="body"
                                            [ngStyle]="dataTable.getColumn('deviceType').style">{{item.typeName}}</span>
                                    </td>
                                    <!-- COMMAND_NAME -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('commandName').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.commandName}}" container="body"
                                            [ngStyle]="dataTable.getColumn('commandName').style">{{item.commandName}}</span>
                                    </td>
                                    <!-- COMMAND -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('command').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.commandText}}" container="body"
                                            [ngStyle]="dataTable.getColumn('command').style">{{item.commandText}}</span>
                                    </td>
                                    <!-- CREATED_AT -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('createdAt').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.createdAt}}" container="body"
                                            [ngStyle]="dataTable.getColumn('createdAt').style">{{item.createdAt | userDate:'datetime'}}</span>
                                    </td>
                                    <!-- CREATED_BY -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('createdBy').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.createdBy}}" container="body"
                                            [ngStyle]="dataTable.getColumn('createdBy').style">{{item.createdBy}}</span>
                                    </td>

                                    <!-- TiME_SEND -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('sendTime').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.sendTime}}" container="body"
                                            [ngStyle]="dataTable.getColumn('sendTime').style">
                                            {{item.sendTime | userDate:'datetime'}}</span>
                                    </td>

                                    <!-- TIME_RESPONSE -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('responseTime').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.responseTime}}" container="body"
                                            [ngStyle]="dataTable.getColumn('responseTime').style">
                                            {{item.responseTime | userDate:'datetime'}}</span>
                                    </td>

                                    <!-- CONTENT_RESPONSE -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('responseText').isShow?'none':'')}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.responseText}}" container="body"
                                            [ngStyle]="dataTable.getColumn('responseText').style">{{item.responseText}}</span>
                                    </td>

                                    <!-- STATUS -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('status').isShow?'none':'')}"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('status').style">
                                            <i *ngIf="item.status == 1" class="fa fa-check-circle kt-font-success"></i>
                                            <i *ngIf="item.status != 1" class="fa fa-lock"></i>
                                        </span>
                                    </td>

                                    <!-- ACTIONS -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('action').isShow?'none':'')}"
                                        data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('action').style"
                                            style="overflow: visible; position: relative;">
                                            <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                (click)="editCommand(item.id,content)">
                                                <i class="icon-info-circle"></i>
                                            </a>
                                            <ng-container *ngxPermissionsOnly="permissionLock">
                                                <a *ngIf='item.status == 1'
                                                    ngbTooltip="{{'COMMON.ACTIONS.LOCK' | translate}}"
                                                    class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                    (click)="changeLock(item.id,item.status)">
                                                    <i *ngIf='item.status == 1' class="icon-lock"></i>
                                                </a>
                                                <a *ngIf='item.status == 0'
                                                    ngbTooltip="{{'COMMON.ACTIONS.UNLOCK' | translate}}"
                                                    class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                    (click)="changeLock(item.id,item.status)">
                                                    <i *ngIf='item.status == 0' class="icon-lock-open"></i>
                                                </a>
                                            </ng-container>
                                        </span>
                                    </td>
                                </tr>
                                <!-- Sub row -->
                                <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                    class="kt-datatable__row-detail">
                                    <td class="kt-datatable__detail" colspan="9">
                                        <table>
                                            <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                                </td>
                                            </tr>
                                            <!-- imei  -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('imei').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('imei').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('imei').style">{{item.imei}}</span>
                                                </td>
                                            </tr>
                                            <!-- device name  -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('deviceName').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('deviceName').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('deviceName').style">{{item.deviceName}}</span>
                                                </td>
                                            </tr>
                                            <!-- deviceType -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('deviceType').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('deviceType').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('deviceType').style">{{item.typeName}}</span>
                                                </td>
                                            </tr>

                                            <!-- COMMAND_NAME -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('commandName').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('commandName').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('commandName').style">{{item.commandName}}</span>
                                                </td>
                                            </tr>

                                            <!-- COMMAND -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('command').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('command').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('command').style">{{item.commandText}}</span>
                                                </td>
                                            </tr>

                                            <!-- CREATED_AT -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('createdAt').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('createdAt').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('createdAt').style">{{item.createdAt | userDate:'datetime'}}</span>
                                                </td>
                                            </tr>

                                            <!-- CREATED_BY -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('createdBy').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('createdBy').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('createdBy').style">{{item.createdBy}}</span>
                                                </td>
                                            </tr>

                                            <!-- TiME_SEND -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('sendTime').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('sendTime').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('sendTime').style">{{item.sendTime | userDate:'datetime'}}</span>
                                                </td>
                                            </tr>

                                            <!-- TIME_RESPONSE -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('responseTime').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('responseTime').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('responseTime').style">{{item.responseTime | userDate:'datetime'}}</span>
                                                </td>
                                            </tr>

                                            <!-- CONTENT_RESPONSE -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('responseText').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('responseText').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span
                                                        [ngStyle]="dataTable.getColumn('responseText').style">{{item.responseText}}</span>
                                                </td>
                                            </tr>

                                            <!-- STATUS -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('status').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('status').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumn('status').style">
                                                        <i *ngIf="item.status == 1"
                                                            class="fa fa-check-circle kt-font-success"></i>
                                                        <i *ngIf="item.status != 1" class="fa fa-lock"></i>
                                                    </span>
                                                </td>
                                            </tr>

                                            <!-- ACTIONS -->
                                            <tr [ngStyle]="{'display':(dataTable.getColumn('action').isShow?'none':'')}"
                                                class="kt-datatable__row">
                                                <td class="kt-datatable__cell">
                                                    <span>{{dataTable.getColumn('action').translate | translate}}</span>
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    <span [ngStyle]="dataTable.getColumn('action').style"
                                                        style="overflow: visible; position: relative;">
                                                        <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                            (click)="editCommand(item.id,content)">
                                                            <i class="icon-info-circle"></i>
                                                        </a>
                                                        <a ngbTooltip="Lock"
                                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                            (click)="changeLock(item.id,item.status)">
                                                            <i class="icon-lock"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </ng-container>
                            <!-- No records found -->
                            <!-- <tr class="kt-datatable__row" *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <td class="kt-datatable__cell" colspan="10">
                                <kt-not-found></kt-not-found>
                            </td>
                        </tr> -->
                            <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                                <kt-not-found></kt-not-found>
                            </div>

                        </tbody>


                    </table>
                </div>


                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="isEdit">
            {{'MANAGE.COMMAND.GENERAL.TITLE_FORM_DETAIL' | translate}}
        </h5>
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'MANAGE.COMMAND.GENERAL.TITLE_FORM_ADD' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="!isEdit" [ngTemplateOutlet]="addCommandTmp"></ng-container>
        <ng-container *ngIf="isEdit" [ngTemplateOutlet]="infoCommandTmp"></ng-container>
    </div>
    <!-- end body modal -->
    <div class="modal-footer">
        <button type="submit" *ngIf="!isEdit" [disabled]="formCommand.invalid || countChecked == 0"
            class="btn btn-primary" (click)='onSubmit(formCommand)'> {{'COMMON.ACTIONS.SEND' | translate }}
        </button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
        <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
    </div>
</ng-template>
<ng-template #addCommandTmp>
    <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
        <div class="row popup-user-tree">
            <div class="content-left">
                <form class="kt-form" [formGroup]="formCommand">
                    <div class="row kt-padding-10">
                        <div class="col-md-12 kt-form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label
                                        class="form-control-label">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.DEVICE_TYPE' | translate}}</label>
                                    <select class="form-control kt-selectpicker-send-command selectpicker-type"
                                        title="Chọn loại thiết bị" (change)="selecteDeviceType($event.target.value)"
                                        data-size="5">
                                        <option *ngFor="let item of types" value="{{item}}">{{item}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label
                                        class="form-control-label">{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.COMMAND_TYPE' | translate}}</label>
                                    <select class="kt-selectpicker-send-command form-control selectpicker-command"
                                        title="{{'MANAGE.DEVICE.SEND_COMMAND.GENERAL.CHOOSE_COMMAND_TYPE' | translate}}"
                                        (change)="selecteCommandType($event)" data-size="5">
                                        <option *ngFor="let item of commands" value="{{item.commandStr}}">{{ 'COMMON.COMMAND.'+item.name | translate}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <div class="show-error">
                                        <label class="">{{'COMMON.COLUMN.NAME' | translate}}</label>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="name" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <div class="show-error">
                                        <label class="">{{'MANAGE.COMMAND.GENERAL.COMMAND' | translate}}</label>
                                        <app-control-messages [control]="f['content']"></app-control-messages>
                                        <span class="text-danger"> *</span>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="content"
                                            placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="max-height: -webkit-fill-available">
                                    <div
                                        class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                                        <div class="kt-portlet__head kt-portlet__head--sm">
                                            <div class="kt-portlet__head-label">
                                                <span>{{'MANAGE.DEVICE.SELL.GENERAL.TOTAL_DEVICE' | translate}}:</span>&nbsp;
                                                <span style="font-weight: bold" class="kt-font-danger">
                                                    {{countChecked}}</span>
                                            </div>

                                        </div>
                                        <div
                                            class="kt-portlet__body kt-portlet__body--overflow-y kt-portlet__body_command">
                                            <div class="table-responsive">
                                                <form [formGroup]="formCheckList">
                                                    <table class="table">
                                                        <thead class="kt-font-600">
                                                            <tr>
                                                                <th>
                                                                    <label class="kt-checkbox kt-checkbox--tick">
                                                                        <input type="checkbox"
                                                                            formControlName="checkallboxed"
                                                                            [(ngModel)]="checkallboxed"
                                                                            (change)="checkUncheckAll()">
                                                                        <span></span>
                                                                    </label>
                                                                </th>
                                                                <th style="width: 50px">#</th>
                                                                <th width="50%">{{'COMMON.COLUMN.NAME' | translate}}
                                                                </th>
                                                                <th width="25%">{{'COMMON.COLUMN.TYPE' | translate}}
                                                                </th>
                                                                <th width="25%">{{'COMMON.COLUMN.IMEI' | translate}}
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr formArrayName="devices"
                                                                *ngFor="let device of listDevices;let i = index">
                                                                <td>
                                                                    <label class="kt-checkbox kt-checkbox--tick ">
                                                                        <input type="checkbox" id="input_{{device.id}}"
                                                                            formControlName="id{{device.id}}"
                                                                            [(ngModel)]="device.checked"
                                                                            (change)="isCheckSelected()">
                                                                        <span></span>
                                                                    </label>
                                                                </td>
                                                                <td>{{i+1}}</td>
                                                                <td>{{device.name}}</td>
                                                                <td>{{device.typeName}}</td>
                                                                <td>{{device.imei}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="content-right">
                <kt-user-tree-new [userTreeName]="'userTreeForDevice2'" [eventUpdate]="parrentEmiter"
                    [storeLocal]="true" (changeUser)="changeUser($event)" [style]="{'width':'100%'}">
                </kt-user-tree-new>
            </div>
        </div>

    </div>
</ng-template>
<ng-template #infoCommandTmp>
    <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-padding-10">
        <div class="kt-portlet" *ngFor="let data of dataDefault">
            <div class="kt-portlet__head kt-portlet__custom  kt-portlet__head--right kt-ribbon kt-ribbon--info">
                <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                    {{'MANAGE.COMMAND.GENERAL.DEVICE_INFO' | translate}}
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-lg-6">
                    <div class="show-error">
                        <label class="">{{'MANAGE.DEVICE.EDIT.GENERAL.NAME_DEVICE' | translate}}</label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data.deviceName}}" type="text" class="form-control"
                            placeholder="">
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">{{'COMMON.COLUMN.IMEI' | translate}}</label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data.imei}}" type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">{{'COMMON.COLUMN.TYPE' | translate}}</label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data.typeName}}" type="text" class="form-control"
                            placeholder="">
                    </div>
                </div>
            </div>
            <div class="kt-portlet__head kt-portlet__custom  kt-portlet__head--right kt-ribbon kt-ribbon--info">
                <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                    {{'MANAGE.COMMAND.GENERAL.SEND_INFO' | translate}}
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">{{'COMMON.COLUMN.NAME' | translate}}</label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data?.commandName}}" type="text" class="form-control"
                            placeholder="">
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">{{'MANAGE.COMMAND.GENERAL.COMMAND' | translate}}</label>
                        <app-control-messages [control]="f['content']"></app-control-messages>
                        <span class="text-danger"> *</span>
                    </div>
                    <div class="input-group">
                        <input readonly="true" [ngModel]="isEdit?data.commandText:''" type="text" class="form-control"
                            placeholder="">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">{{'COMMON.COLUMN.CREATED_DATE' | translate}}</label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data.createdAt | userDate:'datetime':null:'datetime'}}"
                            type="text" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">{{'COMMON.COLUMN.CREATED_BY' | translate}}</label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data.createdBy}}" type="text" class="form-control"
                            placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">
                            {{'MANAGE.COMMAND.GENERAL.TiME_SEND' | translate}}
                            <i *ngIf="data.isSend == 1" class="fa fa-check-circle kt-font-success"></i>
                            <i *ngIf="data.isSend == 0" class="fa fa-minus-circle kt-font-danger"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data.sendTime |  userDate:'datetime':null:'datetime'}}"
                            type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="kt-portlet__head kt-portlet__custom  kt-portlet__head--right kt-ribbon kt-ribbon--info">
                <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                    {{'MANAGE.COMMAND.GENERAL.RESPONSE_INFO' | translate}}
                </div>
            </div>
            <div class="row">

                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">
                            {{'MANAGE.COMMAND.GENERAL.TIME_RESPONSE' | translate}}
                            <i *ngIf="data.isResponse == 1" class="fa fa-check-circle kt-font-success"></i>
                            <i *ngIf="data.isResponse == 0" class="fa fa-minus-circle kt-font-danger"></i>
                        </label>
                    </div>
                    <div class="input-group">
                        <input readonly="true" value="{{data.responseTime | userDate:'datetime':null:'datetime'}}"
                            type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="show-error">
                        <label class="">{{'MANAGE.COMMAND.GENERAL.CONTENT_RESPONSE' | translate}}</label>
                    </div>
                    <div class="input-group">
                        <textarea rows='2' class="form-control" value="{{data.responseText}}">
                                                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- end modal popup -->
<!-- end:: Content -->