<!-- begin:: Content -->
<div class="kt-main">
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MANAGE.ALERT.GENERAL.MANAGE_ALERT' | translate}}
                </h3>
            </div>
    
        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
              
                </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormALert" (ngSubmit)='searchALert(searchFormALert)'>
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
    
                                <div class="search-device col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <div class="form-group">
    
                                        <select [ngModel]="" data-live-search="true" multiple
                                            class="form-control kt_selectpicker padding-7 input-device"
                                            formControlName="nameDevice"
                                            title=" {{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}} ">
                                            <option *ngFor="let item of listDevices" value="{{item.id}}">
                                                {{item.name}}
                                            </option>
    
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <select class="selectpicker form-control" id="eventTypeId" data-key="eventType"
                                        data-size="5" data-live-search="true" multiple data-container="body"
                                        title="{{'MANAGE.ALERT_RULE.GENERAL.TYPE_ALERT' | translate}}" formControlName="nameALert">                                
                                        <ng-container *ngFor="let group of getEventTypeGroups();let i=index">
                                            <optgroup label="{{('MANAGE.ALERT_RULE.GROUP_TYPE_ALERT.'+ (group| uppercase)) | translate}}">
                                                <ng-container *ngFor="let item of getEventTypesByGroup(group); let i = index">                                           
                                                    <option value="{{item.name}}">{{('MANAGE.ALERT_RULE.TYPE_ALERT.'+ (item.name | uppercase))| translate}}
                                                    </option>
                                                </ng-container>
                                              </optgroup>                                    
                                            <option data-divider="true" *ngIf="i != getEventTypeGroups().length-1"></option>
                                        </ng-container>                               
                                    </select>
                                </div>
                                <!-- <div class="search-device col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <div class="form-group">
                                        <select [ngModel]="" data-live-search="true" multiple
                                            class="form-control kt_selectpicker padding-7 input-event"
                                            formControlName="nameALert"
                                            title=" {{'MANAGE.ALERT_RULE.GENERAL.TYPE_ALERT' | translate}} ">                    
                                            <option *ngFor='let event of listEventTypes' value="{{event.key}}">
                                                {{event.key | translate}}
                                            </option>
    
                                        </select>
    
                                    </div>
                                </div> -->
                                <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <div class="form-group">
                                        <kt-date-range-picker #datePicker [options]="datePickerOptions"
                                            (dateChange)="dateSelectChange($event)">
    
                                        </kt-date-range-picker>
                                    </div>
                                </div>
    
                                <div style="padding-left:10px" class="col-xl-3 col-lg-4  col-md-6  col-sm-12">
    
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-brand btn-pill">
                                            <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-outline-brand btn-pill"
                                            (click)="resetFormSearch()">
                                            <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                        </button>&nbsp;
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                    </div>
    
                </form>
            </div>
            <!--end: Search Form -->
            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">
    
                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">
    
                        </div>
                        <button ngbTooltip="{{'MANAGE.ALERT_RULE.NOTIFICATION.MARK_ALL_READ' | translate}}"
                            (click)="markAllRead()" triggers="hover" container="body" type="button"
                            class="btn btn-info btn-circle btn-icon btn-sm">
                            <i class="icon icon-check-square" style="font-size: 19px;"></i>
                        </button>
    
                        &nbsp;&nbsp;
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">
    
                        </div>
                        <!-- <div class="kt-separator"></div> -->
                    </div>
                </div>
            </div>
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                            (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                class="kt-datatable__cell kt-datatable__cell--sort">
                                <a class="kt-datatable__toggle-detail">
                                </a>
                            </th>
    
                            <ng-container *ngFor="let column of dataTable.getColumns()">
    
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                [ngStyle]="{'background':item.isRead == 0 ?'#edf2fa':''}"
                                style="left: 0px;border-bottom: 1px solid #dcdee0 !important;">
                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                          'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[1].style">{{item.deviceName}}</span>
                                    
                                </td>
    
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[2].style"
                                        translate="{{item.eventKey | translate}}">
                                        {{item.eventKey | translate}}
                                        <i *ngIf = "item.reportFormat == 'excel' || item.reportFormat == 'xls'" class="icon-file-excel1 icon-excel"></i>
                                        <i *ngIf = "item.reportFormat == 'pdf'" class="icon-file-pdf1 icon-pdf"></i>

                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.message}}"
                                        [ngStyle]="dataTable.getColumns()[3].style">{{item.message}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.address}}"
                                        [ngStyle]="dataTable.getColumns()[4].style">{{item.address}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[5].style">
                                        <i ngbTooltip="{{'MANAGE.ALERT.GENERAL.UNREAD' | translate}}"
                                            *ngIf="item.isRead == 0" class="fa fa-circle" style="color:#fd397a"></i>
                                        <i ngbTooltip="{{'MANAGE.ALERT.GENERAL.READED' | translate}}"
                                            *ngIf="item.isRead == 1" class="fa fa-circle" style="color:#5d78ff"></i>
    
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.createdAt |  userDate:'datetime':null:'datetime'}}"
                                        [ngStyle]="dataTable.getColumns()[6].style">
                                        {{item.createdAt | userDate:'fromNow':null:'datetime'}}</span>
                                </td>
    
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[7].style"
                                        style="overflow: visible; position: relative;">
                                        <a *ngIf="item.eventType !='none'" ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                        (click)="showAlert(content,item.id)"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                           >
                                            <i style="font-size: 14px;" class="icon-info-circle"></i>
                                        </a>
                                        <a *ngIf="item.eventType =='none'" ngbTooltip="{{'MANAGE.ALERT.GENERAL.CLICK_DOWNLOAD' | translate}}"
                                        (click)="downloadReport(item)"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                           >
                                            <i style="font-size: 14px;cursor: pointer;" class="icon-download"></i>
                                        </a>
                                        <a 
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="markAsRead(item.id,item.isRead)"
                                            >
                                            <i style="font-size: 14px;" ngbTooltip="{{'MANAGE.ALERT_RULE.NOTIFICATION.MARK_AS_READ' | translate}}"  *ngIf="item.isRead == 0" class="ic-lg kt-font-danger icon-bell1"></i>

                                            <i style="font-size: 14px;" ngbTooltip="{{'MANAGE.ALERT_RULE.NOTIFICATION.MARK_AS_UNREAD' | translate}}"  *ngIf="item.isRead == 1" class="ic-lg kt-font-danger icon-bell"></i>

                                        </a>
                                        <!-- <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                (click)="getIdAction(item.id,'#modal-delete-ALert')">
                                                <i class="icon-trash"></i>
                                            </a> -->
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow" class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[1].style">{{item.deviceName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[2].style"
                                                    translate="{{item.eventKey | translate}}">{{item.eventKey | translate}}</span>
                                            </td>
                                        </tr>
    
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[3].style">{{item.message}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[4].style"
                                                    translate="{{item.address}}">{{item.address}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[6].style"
                                                    translate="{{item.updatedAt}}">
                                                    <i ngbTooltip="Chưa đọc" *ngIf="item.isRead == 0" class="fa fa-circle"
                                                        style="color:#fd397a"></i>
                                                    <i ngbTooltip="Đã đọc" *ngIf="item.isRead == 1" class="fa fa-circle"
                                                        style="color:#5d78ff"></i>
                                                </span>
                                            </td>
                                        </tr>
    
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{item.createdAt |  userDate:'datetime':null:'datetime'}}"
                                                    [ngStyle]="dataTable.getColumns()[6].style">
                                                    {{item.createdAt | userDate:'fromNow':null:'datetime'}}</span>
                                            </td>
                                        </tr>
    
    
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[7].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[7].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[7].style"
                                                    style="overflow: visible; position: relative;">
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="editALert(item.id,'#modal-ALert')">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="getIdAction(item.id,'#modal-delete-ALert')">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>
    
    
                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}" title="{{item}}"
                                    data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>
    
            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'MANAGE.ALERT_RULE.NOTIFICATION.NOTIFICATION' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="alertPopupContent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- end modal popup -->
<!-- modal delete -->
<div class="modal fade  modal-confirm kt-mt-50" tabindex="-1" ALert="dialog" id="modal-delete-ALert"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }}
                    {{'ADMIN.ROLE.GENERAL.ROLE' | translate  }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fa fa-question-circle"></i>{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary"
                    (click)="deleteAlert()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal delete -->
<!-- end:: Content -->
<ng-template #alertPopupContent>

    <kt-alert-popup [alertPopup]="alertPopup">
    </kt-alert-popup>

</ng-template>