<!-- <div class="kt-main" style="display: flex; flex-direction: row; align-items: stretch;height: 100%;">
    <div class="kt-left" style="display: flex;
    max-width: 800px;
    flex-direction: row;
    background: red;" >
        <kt-user-tree-new [userTreeName]="'userTreeForMap'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [allowCollapse]="true" (changeUser)="changeUser($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-map" style="display: flex;flex-grow: 1;" resizeObserver (resize)="onResize($event.contentRect)" >        
        <div class="map" id="map" #map leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options" >
        </div>
    </div>
    <kt-map-control [mapService]="getMapService()"></kt-map-control>
</div> -->