.kt-tracking-item  {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;

  //   align-items: stretch;
  height: 100%;
  .kt-left {
    position: absolute;
    display: flex;
    flex-direction: row;
    background: #fff;
    box-shadow: 0px 2px 5px 0px #cad4d9;
    border-top: 1px solid #cad4d9;
    flex: 1;
    margin-bottom: 10px;
    top: 10px;
    z-index: 90;
    left: 10px;
    width: 300px;
    min-height: 200px;
    .mp-action{
        top: 3px;
        right: 3px;
        background: #fff;
    }
  }
  .collapse {
    width: 50px;
    .mp-inline-block:nth-child(2) {
      display: none !important;
    }
  }
  .kt-map {
    display: flex;
    flex-grow: 1;
    border-top: 1px solid #dcdee0;
    border-left: 1px solid #dcdee0;
    position: relative;
    flex-direction: column;
    box-shadow: 0px 2px 5px 0px rgba(202, 212, 217, 1);
    width: 100%;
    height: 100%;
  }
}
.map {
  height: 100%;
  padding: 0;
  width: 100%;
}
.leaflet-pane {
  z-index: 10 !important;
}
.map-control {
  position: absolute;
  top: 200px;
  z-index: 400;
  right: 10px;
  .control-item {
    cursor: pointer;
    padding: 8px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 3px;
    background-clip: padding-box;
  }
}
.list-device {
  position: absolute;
  z-index: 400;
  top: 0px;
  width: calc(100% - 78px);
  margin: 11px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.alert-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  .name {
    color: gray;
    min-width: 40px;
  }
  .value {
    color: #000;
  }
}
.form-group {
  display: none;
}
// kt-map-control .map-control{
//   right: 20px;
// }
.kt-map-control {
  position: absolute;
  top: 3px;
  right: 7px;
}
.kt-portlet__body {
  padding: 10px;
}
.marker-tooltip {
  width: 100% !important;
  height: 100% !important;
}
