<!-- <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.UNIT' | translate}}</label> -->
<div class="form-group typeahead-ct kt-input-icon kt-input-icon--left " [ngClass]="{'kt-input-icon--right':textValue && textValue.length>0}">   
    <span class="kt-input-icon__icon kt-input-icon__icon--right" *ngIf=" textValue && textValue.length>0" style="cursor: pointer;" (click)="clear()">
        <span><i class="icon-times"></i></span>
    </span>
    <input type="text" class="form-control" id="typeahead-focus" 
        [(ngModel)]="modelSearch" [ngbTypeahead]="search"
        [autocomplete]="true" 
        #instance="ngbTypeahead" 
        [resultTemplate]="rt"
        [inputFormatter]="formatter"
        placeholder="{{ (placeholder || 'COMMON.USER_TREE.USER_NAME__ACCOUNT') | translate}}"
        (selectItem)="selectItem($event)">
    <span class="kt-input-icon__icon kt-input-icon__icon--left">
        <span><i class="icon-search"></i></span>
    </span>
</div>
<ng-template #rt let-r="result" let-t="term">
    <!-- <i class="icon-user1"></i>     -->    
    <ngb-highlight [result]="r.username" [term]="t"></ngb-highlight>
    &nbsp;(<ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>)
</ng-template>