<!-- begin:: Content -->
<div class="kt-main">
  <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">
          {{'MENU.MANAGE_PERMISSIONS' | translate | uppercase }}
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="dropdown dropdown-inline">
            <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="buttonAddNew(content)">
              <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
              {{'ADMIN.PERMISSION.GENERAL.PERMISSION' | translate }}

            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body--fit  kt-portlet__body--overflow-y">
      <!--begin: Search Form -->
      <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
        <form class="" [formGroup]="searchFormPermission" (ngSubmit)='searchPermission(searchFormPermission)'>
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
              <div class="form-group">
                <input type="text" class="form-control"
                  placeholder="{{'ADMIN.PERMISSION.GENERAL.PERMISSION_NAME' | translate}} ..." formControlName="name">
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
              <div class="form-group">
                <select class="form-control bootstrap-select" id="kt_form_type" formControlName="namegroup"
                  data-title=" {{'COMMON.MESSAGE.NOTHING_SELECTED' | translate}}" data-size="5">
                  <option value="" >{{'COMMON.MESSAGE.NOTHING_SELECTED' | translate}}</option>
                  <option *ngFor='let namegroup of listNameGroup' value="{{namegroup}}">
                    {{namegroup}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
              <div class="form-group">
                <button type="submit" class="btn btn-outline-info btn-pill">
                  <i class="icon-search"></i>{{'COMMON.SEARCH' | translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!--end: Search Form -->
      <!--begin: Datatable -->
      <div resizeObserver (resize)="onResize($event.contentRect)"
        class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
        [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods">
        <table class="kt-datatable__table">
          <thead class="kt-datatable__head">
            <tr class="kt-datatable__row" style="left: 0px;">
              <!-- checkbox -->
              <th *ngIf="dataTable.selecter"
                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                <span style="width: 20px;">
                  <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                    <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                      (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                  </label>
                </span>
              </th>
              <!-- end checkbox -->
              <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                class="kt-datatable__cell kt-datatable__cell--sort">
                <a class="kt-datatable__toggle-detail">
                </a>
              </th>

              <ng-container *ngFor="let column of dataTable.getColumns()">

                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                  [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                  class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                  (click)="dataTable.sort(column.field)">
                  <span [ngStyle]="column.style">{{column.translate | translate}}
                    <i *ngIf="column.isSort"
                      [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                  </span>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
            <ng-container *ngFor="let item of dataTable.data;let i=index">
              <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                style="left: 0px;">
                <!-- checkbox -->
                <td *ngIf="dataTable.selecter"
                  class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check" data-field="RecordID">
                  <span style="width: 20px;">
                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                      <input type="checkbox" [(ngModel)]="item.dt_selecter"
                        (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                    </label>
                  </span>
                </td>
                <!-- end checkbox -->
                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                  class="kt-datatable__cell kt-datatable__toggle-detail">
                  <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                    <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                              'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                  </a>
                </td>
                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                  class="kt-datatable__cell kt-datatable__cell" data-field="id">
                  <span [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                </td>
                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}" data-field="key_name"
                  class="kt-datatable__cell">
                  <span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                </td>
                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
                  class="kt-datatable__cell">
                  <span [ngStyle]="dataTable.getColumns()[2].style"
                    translate="{{item.nameKey}}">{{item.description}}</span>
                </td>
                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}" data-field="hire_date"
                  class="kt-datatable__cell">
                  <span [ngStyle]="dataTable.getColumns()[3].style">{{item.groupName}}</span>
                </td>
                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}" data-field="hire_date"
                  class="kt-datatable__cell">
                  <span [ngStyle]="dataTable.getColumns()[4].style">{{item.createdAt | userDate}}</span>
                </td>
                <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}" data-field="Actions"
                  data-autohide-disabled="false" class="kt-datatable__cell">
                  <span [ngStyle]="dataTable.getColumns()[5].style" style="overflow: visible; position: relative;">
                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                      class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="editPermission(item,content)">
                      <i class="icon-edit"></i>
                    </a>
                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                      class="btn btn-sm btn-clean btn-icon btn-icon-md"
                      (click)="getIdAction(item.id,'#modal-delete-permission')">
                      <i class="icon-trash"></i>
                    </a>
                  </span>
                </td>
              </tr>
              <!-- Sub row -->
              <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow" class="kt-datatable__row-detail">
                <td class="kt-datatable__detail" colspan="9">
                  <table>
                    <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}" class="kt-datatable__row">
                      <td class="kt-datatable__cell">
                        <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                      </td>
                    </tr>
                    <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}" class="kt-datatable__row">
                      <td class="kt-datatable__cell">
                        <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                      </td>
                    </tr>
                    <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}" class="kt-datatable__row">
                      <td class="kt-datatable__cell">
                        <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[2].style"
                          translate="{{item.nameKey}}">{{item.description}}</span>
                      </td>
                    </tr>
                    <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}" class="kt-datatable__row">
                      <td class="kt-datatable__cell">
                        <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[3].style"
                          translate="{{item.nameKey}}">{{item.groupName}}</span>
                      </td>
                    </tr>
                    <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}" class="kt-datatable__row">
                      <td class="kt-datatable__cell">
                        <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[4].style"
                          translate="{{item.nameKey}}">{{item.createdAt | userDate}}</span>
                      </td>
                    </tr>


                    <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}" class="kt-datatable__row">
                      <td class="kt-datatable__cell">
                        <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[5].style"
                          style="overflow: visible; position: relative;">
                          <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                            class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="editPermission(item,content)">
                            <i class="icon-edit"></i>
                          </a>
                          <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                            (click)="getIdAction(item.id,'#modal-delete-permission')">
                            <i class="icon-trash"></i>
                          </a>
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-container>
            <!-- No records found -->
            <span *ngIf="dataTable.isNotFound" class="kt-datatable--error"
              [innerHTML]="'COMMON.MESSAGE.NO_RECORDS_FOUND' | translate">No records found</span>
          </tbody>


        </table>

        <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
          <ul class="kt-datatable__pager-nav">
            <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                <i class="flaticon2-fast-back"></i></a></li>
            <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                <i class="flaticon2-back"></i></a></li>
            <li></li>
            <li style="display: none;"><input type="text" class="kt-pager-input form-control" title="Page number"></li>
            <li *ngFor="let page of dataTable.getPageDisplay()">
              <a (click)="dataTable.gotoPage(page)" class="kt-datatable__pager-link kt-datatable__pager-link-number "
                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}" data-page="1"
                title="{{page}}">{{page}}</a>
            </li>
            <li style=""></li>
            <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i class=" flaticon2-next"></i></a></li>
            <li><a title="Last"
                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                <i class="flaticon2-fast-next"></i></a></li>
          </ul>
          <div class="kt-datatable__pager-info">
            <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
              <select (change)="dataTable.setPageSize($event.target.value)"
                class="selectpicker kt-datatable__pager-size" title="Select page size" data-selected="30"
                data-width="60px">
                <option *ngFor="let item of dataTable.getPaginationSelect()"
                  [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}" title="{{item}}"
                  data-toggle="tooltip">{{item}}</option>
              </select>
            </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
              {{dataTable.getPaginations().form}} -
              {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}} {{dataTable.getPaginations().total}}</span>
          </div>
        </div>
      </div>

      <!--end: Datatable -->
      <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
        style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
        <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
            <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
  <div class="modal-header ">
    <h5 class="modal-title" *ngIf="isEdit">
      {{'ADMIN.PERMISSION.GENERAL.TITLE_FORM_EDIT' | translate}}
    </h5>
    <h5 class="modal-title" *ngIf="!isEdit">
      {{'ADMIN.PERMISSION.GENERAL.TITLE_FORM_ADD' | translate}}
    </h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form [formGroup]="formPermission" (ngSubmit)='onSubmitPermission(formPermission)' class="">
    <div class="modal-body" *ngFor="let data of dataDefault">
      <!-- name -->
      <div class="form-group row">
        <div class="col-lg-12">
          <div class="show-error">
            <label class="">{{'ADMIN.PERMISSION.GENERAL.NAME' | translate}} </label>
            <app-control-messages [control]="f['name']"></app-control-messages>
            <span class="text-danger"> *</span>
          </div>
          <div class="input-group">

            <input [ngModel]="isEdit?data.name:''" type="text" class="form-control" placeholder=""
              formControlName="name">
          </div>

        </div>
      </div>
      <!-- GROUP -->
      <div class="form-group row">
        <div class="col-lg-12">
          <div class="show-error">
            <label class="">{{'ADMIN.PERMISSION.GENERAL.GROUP' | translate}}</label>
          </div>
          <div class="input-group autocomplete-form">

            <div class="ng-autocomplete ng-autocomplete-form ng-autocomplete-form-permission">
              <ng-autocomplete [data]="listNameGroupObj" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate" [debounceTime]=500
                [initialValue]="isEdit?nameGroupEdit:''" [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <span class="font-weight-bold" [innerHTML]="item.name"></span>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div>{{'COMMON.MESSAGE.NO_RECORDS_FOUND' | translate}}</div>
              </ng-template>
            </div>
            <!-- <input  [ngModel]="isEdit?data.groupName:''" type="text" class="form-control" placeholder="" formControlName="namegroup"> -->
          </div>

        </div>
      </div>

      <!-- DESCRIPTION -->
      <div class="form-group row">
        <div class="col-lg-12">
          <div class="show-error">
            <label class="">{{'ADMIN.PERMISSION.GENERAL.DESCRIPTION' | translate}} </label>
            <!-- <app-control-messages [control]="f['username']"></app-control-messages> -->
          </div>
          <div class="input-group">
            <textarea class="form-control" rows="5" [ngModel]="isEdit?data.description:''"
              formControlName="description">
                            {{isEdit?data.description:''}}
                   </textarea>
          </div>

        </div>
      </div>
      <!-- inherit -->
      <div class="form-group row">
        <div class="col-lg-12">
          <label class="kt-checkbox">
            <input type="checkbox" formControlName="inherit">
            {{'ADMIN.PERMISSION.GENERAL.INHERIT' | translate}}
            <span></span>
          </label>
        </div>
      </div>
    </div>
    <!--end body modal-->
    <div class="modal-footer">
      <span *ngIf="isPermissionError" class="text-danger error-message-modal">
        {{errorMessage}}
      </span>
      <button *ngIf="!isEdit" type="submit" [disabled]="formPermission.invalid" class="btn btn-primary ">
        {{'COMMON.ACTIONS.ADD' | translate }}
      </button>
      <button *ngIf="isEdit" type="submit" [disabled]="formPermission.invalid" class="btn btn-primary ">
        {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
      </button>

      <button type="button" class="btn btn-secondary"
        (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
      <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
    </div>
  </form>
</ng-template>
<!-- end modal popup -->
<!-- modal delete -->
<div class="modal fade  modal-confirm" tabindex="-1" role="dialog" id="modal-delete-permission"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }}
          {{'ADMIN.PERMISSION.GENERAL.PERMISSION' | translate  }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fa fa-question-circle"></i>{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary"
          (click)="deletePermission()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal delete -->