<div class="kt-main" resizeObserver (resize)="onResize()">
	<div class="kt-left">
		<div class="kt-portlet kt-portlet--mobile" id="poiConfig">
			<form class="kt-form validate is-invalid" [formGroup]="poiForm" (change)="formChange($event)" id="formpoiTool">
				<div class="kt-portlet__body kt-portlet__body--overflow-y" id="poiBody">

					<div class="form-group">
						<label>{{'MANAGE.GEOFENCE.TOOL.NAME' | translate}}</label>
						<span class="text-danger"> *</span>

						<input type="text" class="form-control" formControlName="name">
						<kt-message-error2 [errorFormGroup]="f" [errorFormControlName]="'name'">
						</kt-message-error2>
						<!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
					</div>
					<div class="form-group">
						<label>{{'COMMON.COLUMN.TYPE' | translate}}</label>
						<span class="text-danger"> *</span>
						<select formControlName="typePoi" id="listPoiTypeTool" class="form-control" >
							
							<ng-container *ngFor='let poi of listTypePoi'>
								<option attr.data-content='<span style="display:flex; align-items:center"><i style="text-align:center;width:25px;padding-bottom: 3px; color:{{poi.fillColor?poi.fillColor:"#5d78ff"}}" class="{{poi.iconClass}}"/></i>{{poi.name | translate}}</span> ' value="{{poi.id}}">
								</option>
							</ng-container>
						</select>
						<!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
					</div>
					<div class="form-group form-group-last">
						<label for="exampleTextarea">{{'MANAGE.GEOFENCE.TOOL.DESCRIPTION' | translate}}</label>
						<textarea class="form-control" formControlName="description" rows="4"></textarea>
						<kt-message-error2 [errorFormGroup]="f" [errorFormControlName]="'description'">
						</kt-message-error2>
					</div>
					<div class="form-group" *ngIf="isCricle">
						<label>{{'MANAGE.GEOFENCE.TOOL.RADIUS' | translate}} (m)</label>
						<input type="text" class="form-control" formControlName="radius" placeholder="">
						<kt-message-error2 [errorFormGroup]="f" [errorFormControlName]="'radius'">
						</kt-message-error2>
					</div>
					<div formArrayName="latlngArr">
						<div *ngFor="let latlng of formLatLngs.controls ; let i = index;">
							<div class="row" [formGroupName]="i">
								<div class="col-md-6">
									<div class="form-group">
										<label>{{'MANAGE.GEOFENCE.TOOL.LATITUDE' | translate}}</label>
										<input type="number" class="form-control" formControlName="lat" placeholder="">
									 <kt-message-error2 [errorFormGroup]="latlng['controls']" [errorFormControlName]="'lat'">
									 </kt-message-error2>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>{{'MANAGE.GEOFENCE.TOOL.LONGITUDE' | translate}} </label>
										<input type="number" class="form-control" formControlName="lng" placeholder="">
										 <kt-message-error2 [errorFormGroup]="latlng['controls']" [errorFormControlName]="'lng'">
										 </kt-message-error2>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="kt-portlet__foot" id="poiFooter">
					<div class="kt-form__actions">
						<button type="button" class="btn btn-primary" (click)="onSubmit()">{{(typeAction=='edit'?'COMMON.ACTIONS.SAVE_CHANGES':'COMMON.ACTIONS.ADD') | translate}}</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-secondary" (click)="onReset()">{{'COMMON.GENERAL.RESET' | translate}}</button>&nbsp;&nbsp;
					</div>
				</div>
			</form>
			<!--end::Form-->
		</div>
	</div>
	<div class="kt-map" (click)="getCenterLatlngs()">
		<div class="map" id="map" leaflet leafletDraw [leafletOptions]="options" [leafletDrawOptions]="drawOptions"  (leafletMapReady)="onMapReady($event)">
		</div>
		<!-- Process text -->
		<div style="position: absolute; display: flex; flex-direction: column; justify-content: center; right: 0px; z-index: 1; opacity: 0;">
			<svg [id]="mapConfig.options.elementProcessText">
				<text x="22" y="15" fill="#fff" font-size="11"></text>
				<text x="22" y="15" fill="#fff" font-size="11"></text>
			</svg>
		</div>
		<div *ngIf="showListDevice" class="list-device">
			<kt-widget-check-list *ngIf="listData.length>0" [options]="{type: 'device'}" [data]="listData" [filter]="'name'" placeholder="{{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}}..." 
				[isSwitch]="false" [size]="'col-lg-6'" (checkedChange)="onWidgetCheckChange($event)" (closeWidget)="close($event)">
			</kt-widget-check-list>
		</div>
		<div class="map-control">
			<a ngbTooltip="{{'MANAGE.GEOFENCE.TOOL.SHOW__HIDE_DEVICES'|translate}}" container="body" placement="left" class="control-item" (click)="changeShowListDevice()">
				<i class="flaticon2-lorry"></i>
			</a>
		</div>
		<div class="arrow slideInDown" [style.background-color]="icon?.fillColor">
			<i [class]="icon?.iconClass"  style="color: white"></i>
			<div class="arrow-down" [style.border-top]="'6px solid' + icon?.fillColor"></div>
		</div>

	</div>



</div>