.map {
	height: 100%;
	padding: 0;
	width: 100%;
}
.leaflet-pane {
	z-index: 10 !important;
}
.kt-main {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 100%;
	padding: 20px;
}
.kt-left {
	min-width: 400px;
	display: flex;
	flex-direction: row;
	background: #fff;
	z-index: 2;
	overflow: auto;
	box-shadow: 0px 2px 5px 0px rgba(202, 212, 217, 1);
}
.kt-map {
	display: flex;
	flex-grow: 1;
	border-top: 1px solid #dcdee0;
	border-left: 1px solid #dcdee0;
	position: relative;
	flex-direction: column;
	box-shadow: 0px 2px 5px 0px rgba(202, 212, 217, 1);
	width: 100%;
	height: 100%;
	.arrow {
		position: absolute;
		top: calc(50% - 30px);
		left: calc(50% - 12px);
		display: flex;
		align-items: center;
		z-index: 90;
		font-size: 18px;
		padding: 3px 5px;

		cursor: pointer;
		.arrow-down {
			position: absolute;
			bottom: -6px;
			left: 8px;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}
	}
}
@media (max-width: 1024px) {
	.kt-main {
		padding: 5px;
		#poiFooter {
			bottom: 100px !important;
		}
		flex-direction: column;
		.kt-left {
			width: 100%;
			min-height: 400px;
			.kt-portlet {
				height: 100%;
				margin-bottom: 0px !important;
				overflow: hidden;
				.kt-portlet__body {
					max-height: unset !important;
				}
			}
		}
		.kt-map {
			width: 100%;
			min-height: 300px;
		}
	}
}
.map-control {
	position: absolute;
	top: 140px;
	z-index: 400;
	right: 10px;
	.control-item {
		cursor: pointer;
		padding: 8px;
		background: #fff;
		border: 2px solid rgba(0, 0, 0, 0.2);
		color: #000;
		border-radius: 3px;
		background-clip: padding-box;
	}
}
.list-device {
	position: absolute;
	z-index: 400;
	top: 0px;
	width: calc(100% - 78px);
	margin: 11px;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

#poiFooter {
	position: fixed;
	bottom: 86px;
	padding: 0px !important;
	border: none !important;
	.kt-form__actions {
		margin-left: 20px;
	}
}

.dropdown-menu.inner {
	> li {
		> a {
			.text {
				display: flex !important;
				align-items: center !important;
			}
		}
	}
}

.active {
	i{
		color: white;
	}
}