<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
        <div  class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">         
            <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]=""  [cacheSearch]="true"
                [storeLocal]="true" [showCountDevice]="true" (changeUser)="ChangeUserTree($event)"  [allowCollapse]="true"  [btnClose]="true">
            </kt-user-tree-new>
        </div>
       <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
            <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                <kt-breadcrumb title="{{'MENU.REPORT_TEMPERATURE' | translate}}" [data] = "parentBread"></kt-breadcrumb>
                            </h3>
                        </div>
        
            </div>
          
            <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
                <!--begin: Search Form -->
                <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                    <form class="" [formGroup]="searchFormChart" (ngSubmit)='searchChart(searchFormChart)'>
    
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="row align-items-center">
                                    <div style="padding:0px 10px;">
                                        <div class="form-group">
                                            <kt-date-range-picker #datePicker 
                                            [options]="datePickerOptions" 
                                            (dateChange)="dateSelectChange($event)">
                                            </kt-date-range-picker> 
                                        </div>
                                    </div>
                                   
                                    <div class="search-device input-width-search">
                                        <div class="form-group">
                                                <select #deviceChart  data-live-search="true" class="form-control kt_selectpicker padding-7" 
                                             
                                                    data-size="5"
                                                    name="deviceChart" id="deviceChart" 
                                                    title="{{'REPORT.ROUTE.GENERAL.CHOISE_DEVICE' | translate}}"
                                                    formControlName = "deviceIdSearhChart"
                                                    (change)="onChangeDevice($event,deviceChart.options[deviceChart.options.selectedIndex].text)"
                                                    >
                                                    <option *ngFor='let device of listDevices' value="{{device.id}}">
                                                        {{device.name}}
                                                    </option>
            
                                                </select>
                                        </div>
                                    </div>

                                                                           
                                    <div class="search-device input-width-search">
                                            <div class="form-group">
                                                    <select #sensor multiple   class="form-control kt_selectpicker padding-7" 
                                                        id="sensorChart" 
                                                        data-size="5"
                                                        name="sensorChart"  
                                                        title="{{'COMMON.GENERAL.ALL' | translate}}"
                                                        formControlName = "sensorName"
                                                        >
                                                        <option *ngFor='let sensor of listSensors' value="{{sensor.id}}">{{sensor.name}}</option>

                                                    </select>
                                            </div>
                                        </div>

                                    <div style="padding-left:10px">
                                        <div class="form-group">
                                        <!-- <label class="kt-checkbox">
                                                <input type="checkbox" formControlName="showPoints">
                                                  {{'REPORT.TEMPERATURE.COLUMN.SHOW_POINTS'| translate}}
                                                <span></span>
                                            </label>
                                        &nbsp; -->
                                        <button type="submit" class="btn btn-outline-brand btn-pill">
                                            <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-outline-brand btn-pill"
                                            (click)="resetFormSearch()">
                                            <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                        </button>&nbsp;
                                        </div>
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
                </form>
                </div>
        
                <!--end: Search Form -->
                          <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                    <div class="form-group row box-export-file" style="margin: 0px !important;">
    
                            <div class="col-md-12 export-file" >

                                        <button *ngIf="isdownLoadPDF"  ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" (click)="exportPDF()"
                                        type="button"  container="body"
                                       
                                        class="btn btn-circle btn-icon btn-sm button-pdf"
                                            id="dropdownMenuButton" 
                                            placement="top"
                                            aria-expanded="false">
                                            <i class="icon-file-pdf1"></i>
                                        </button>
                                        <button  *ngIf="!isdownLoadPDF"  ngbTooltip="{{'REPORT.TEMPERATURE.GENERAL.MESSAGE' | translate}}"
                                        type="button"  container="body"
                                        class="btn btn-circle btn-icon btn-sm button-pdf notDownloadPDF"
                                            id="dropdownMenuButton" 
                                            placement="top"
                                            aria-expanded="false">
                                            <i class="icon-file-pdf1"></i>
                                        </button>
                                 
                                    <!-- <div class="kt-separator"></div> -->
                                </div>
                    </div>
                </div>
                <!-- end: Feature -->
                <div class="chart-content">

                    <kt-temperature-chart
                    [eventUpdateChart]="paramsEmiter"
                    [isDownload] = "isDownload"
                    ></kt-temperature-chart>
                 </div>
             
            </div>
    </div>
    </div>
