<div class=" user-info " style="background: #eeeff4;padding-bottom: 10px;">
    <div class="kt-portlet__head kt-portlet__head--sm" style="background: #fff;border-radius: 5px;">
        <div class="kt-portlet__head-label  user-info__detail">
            <div class="">
                <div class="row">
                    <span *ngIf="user.username?.length>0" class="user-info__detail-item">
                        <i class="icon-user-alt" [ngClass]="{'user-distributor':user.type<2,
                            'user-end-user':user.type>=2}">
                        </i>{{user.username}}</span>
                    <span *ngIf="user.name?.length>0" class="user-info__detail-item"><i
                            class="icon-id-card"></i>{{user.name}}</span>
                    <span *ngIf="user.email?.length>0" class="user-info__detail-item clipboard"><i
                            class="fa fa-envelope"></i>
                        <span ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="user.email">{{user.email}}
                            <a class="btn btn-md btn-brand btn-elevate btn-icon clipboard-action">
                                <i class="icon-copy"></i>
                            </a>
                        </span>
                    </span>
                    <span *ngIf="user.phone?.length>0" class="user-info__detail-item clipboard">
                        <!-- <i class="icon-phone"></i> -->
                        <i class="fa fa-phone"></i>
                        <span ngxClipboard (cbOnSuccess)="copied($event)" [cbContent]="user.phone">{{user.phone}}
                            <a class="btn btn-md btn-brand btn-elevate btn-icon clipboard-action">
                                <i class="icon-copy"></i>
                            </a>
                        </span>
                    </span>
                </div>
            </div>

        </div>
        <div class="kt-portlet__head-toolbar  user-info__action">
            <div class="kt-portlet__head-wrapper">
                <a class="btn btn-md btn-clean btn-icon btn-icon-md" placement="left"
                    (click)="openModal(user,content)" ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate}}">
                    <i class="icon-edit"></i>
                </a>
                <a *ngIf="typeShow=='user'" routerLink="/manage/users" class="btn btn-md btn-clean btn-icon btn-icon-md" placement="left"
                    ngbTooltip="{{'COMMON.USER_INFO.GO_TO_USER_MANAGE_PAGE' | translate}}"><i
                        class="icon-user-cog"></i></a>
                <a *ngIf="typeShow=='device'" routerLink="/manage/devices" class="btn btn-md btn-clean btn-icon btn-icon-md" placement="left"
                    ngbTooltip="{{'COMMON.USER_INFO.GO_TO_DEVICE_MANAGE_PAGE' | translate}}"><i
                        class="flaticon2-lorry"></i></a>
                <a routerLink="/map" class="btn btn-md btn-clean btn-icon btn-icon-md" placement="left"
                    ngbTooltip="{{'COMMON.USER_INFO.GO_TO_MAP_PAGE' | translate}}"><i
                        class="icon-location-arrow"></i></a>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'COMMON.ACTIONS.ADD_NEW' | translate}}
            {{'MANAGE.GENERAL.USER' | translate }}
        </h5>
        <h5 class="modal-title" *ngIf="isEdit">
            {{'COMMON.ACTIONS.EDIT' | translate}}
            {{'MANAGE.GENERAL.USER' | translate }}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form [formGroup]="saveFormUsers" (ngSubmit)='onSubmit(saveFormUsers)' class="form-global">
        <div class="modal-body row">
            <div class="col-lg-8 form-info">
                <div class="tab-title-modal">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-primary" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#info_global" role="tab">
                                {{'COMMON.GENERAL.BASE' | translate}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#info_config" role="tab">
                                {{'COMMON.GENERAL.PARAMETER' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="info_global" role="tabpanel">
                        <div *ngFor="let default of dataDefault">

                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="show-error">
                                        <label>{{'COMMON.COLUMN.USERNAME' | translate}} </label>
                                    </div>
                                    <div class="input-group">

                                        <input [attr.disabled]="isEdit ? '' : null" type="text" class="form-control"
                                            placeholder="" [ngModel]="isEdit?default.username:''"
                                            formControlName="username">
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="show-error">
                                        <label>{{'MANAGE.USER.GENERAL.FULL_NAME' | translate}}</label>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder=""
                                            [ngModel]="isEdit?default.name:''" formControlName="name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.GENERAL.PHONE' | translate}}</label>
                                    <app-control-messages [control]="f['phone']"></app-control-messages>
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder=""
                                            [ngModel]="isEdit?default.phone:''" formControlName="phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="show-error">
                                        <label>{{'MANAGE.USER.GENERAL.EMAIL' | translate}} </label>
                                        <app-control-messages [control]="f['email']"></app-control-messages>
                                        <span class="text-danger"> *</span>
                                    </div>
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder=""
                                            [ngModel]="isEdit?default.email:''" formControlName="email">
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.GENERAL.ROLE_NAME' | translate}}</label>
                                    <div class="input-group">


                                        <select [ngModel]='isEdit?default.roleId:2'
                                            class="form-control kt_selectpicker padding-7"
                                            formControlName='role'>
                                            <option value="null">
                                                {{'COMMON.MESSAGE.NOTHING_SELECTED' | translate}}
                                            </option>
                                            <option *ngFor='let role of listRoles' [ngValue]="role.id">
                                                {{role.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.GENERAL.ACCOUNT_TYPE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='isEdit?default.type:"4"' name="kt_table_1_length"
                                            aria-controls="kt_table_1" class=" form-control kt_selectpicker padding-7"
                                            formControlName="type">
                                            <option *ngFor='let type of listUserType' [ngValue]="type.id">
                                                {{type.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'COMMON.COLUMN.DESCRIPTION' | translate}} </label>
                                    <div class="input-group">
                                        <textarea class="form-control" [ngModel]="isEdit?default.description:''"
                                            formControlName="description" rows="5">
                                                    {{isEdit?default.description:''}}
                                                    </textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'COMMON.COLUMN.ADDRESS' | translate}} </label>
                                    <div class="input-group">
                                        <textarea class="form-control" [ngModel]="isEdit?default.address:''"
                                            formControlName="address" rows="5">
                                                        {{isEdit?default.address:''}}
                                                    </textarea>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--end html global-->
                    <!--html advanced-->
                    <div class="tab-pane" id="info_config" role="tabpanel">
                        <div *ngFor="let default of dataDefault">
                            <div class="form-group row">
                                <div class="col-lg-6">

                                    <label>{{'MANAGE.USER.PARAMETER.TIMEZONE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.timezone' data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="timezone">

                                            <option *ngFor='let item of listTimeZone' value="{{item.timeZone}}">
                                                {{item.timeZone}} ({{item.GMTOffset}})
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.LANGUAGE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.language' data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="language">

                                            <option *ngFor='let language of languageList' value="{{language.key}}">
                                                {{language.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">

                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DISTANCE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitDistance'
                                            class="form-control kt_selectpicker padding-7" formControlName="distance">

                                            <option *ngFor='let distance of unitDistance' value="{{distance.id}}">
                                                {{distance.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.VOLUME' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitVolume'
                                            class="form-control kt_selectpicker padding-7" formControlName="volume">

                                            <option *ngFor='let volume of unitVolume' value="{{volume.id}}">
                                                {{volume.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.TEMPERATURE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitTemperature'
                                            class="form-control kt_selectpicker padding-7"
                                            formControlName="temperature">

                                            <option *ngFor='let temperature of unitTemperature'
                                                value="{{temperature.id}}">
                                                {{temperature.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.WEIGHT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitWeight'
                                            class="form-control kt_selectpicker padding-7" formControlName="weight">

                                            <option *ngFor='let weight of unitWeight' value="{{weight.id}}">
                                                {{weight.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DATE_FORMAT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.dateFormat'
                                            class="form-control kt_selectpicker padding-7" formControlName="date">

                                            <option *ngFor='let date of dateFormat' value="{{date.type}}">
                                                {{date.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.TIME_FORMAT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.timeFormat'
                                            class="form-control kt_selectpicker padding-7" formControlName="time">

                                            <option *ngFor='let time of timeFormat' [ngValue]="time.type">
                                                {{time.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DECIMAL_SEPARATOR' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.decimalSeprerator'
                                            class="form-control kt_selectpicker padding-7" formControlName="seprerator">

                                            <option *ngFor='let seprerator of decimalSeprerator'
                                                value="{{seprerator.id}}">
                                                {{seprerator.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.FIRST_WEEKDAY' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.weekFirstDay'
                                            class="form-control kt_selectpicker padding-7" formControlName="fisrtday">

                                            <option *ngFor='let fisrtday of weekFirstDay' [ngValue]="fisrtday.id">
                                                {{fisrtday.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--end data d-->
                    </div>
                    <!--end html advanced-->
                </div>
            </div>
            <div class="col-lg-4 form-search-user">

                <label style="font-size: 1rem;
                                font-weight: 400;">{{'MANAGE.USER.GENERAL.PARENT_USER' | translate}}</label>

                <!-- <app-users-tree nameTree="addNewUser"></app-users-tree> -->
                <kt-user-tree-new [userTreeName]="'addNewUser'" [showCountDevice]="true" [eventUpdate]="parrentEmiter"
                    (changeUser)="getParrentUser($event)" [parentId]="idParentUserEdit">
                </kt-user-tree-new>

            </div>
        </div>
        <!--end body modal-->


        <div class="modal-footer">
            <div *ngIf="isLoginError" class="text-danger error-message">
                {{errorMessage}}
            </div>
            <button type="submit" *ngIf="!isEdit" [disabled]="saveFormUsers.invalid" class="btn btn-primary">
                {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
            <button *ngIf="isEdit" type="submit" [disabled]="saveFormUsers.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
            </button>

            <button type="button" class="btn btn-secondary"
                (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>
</ng-template>