.user-info {
    .user-info__detail{
        .user-info__detail-item{
            display: inline-block;
            white-space: nowrap;
            padding-right: 30px;
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1rem;
            line-height: 40px;
            min-width: 50px;
            i{
                padding-right: 3px;
            }
            .clipboard-action{
                width: 2rem;
                height: 2rem;
            }
        }
    }
    
}