<div class="custom-tile" style="width: 100%; height: 100%; position: relative;">
    <div class="cluster-block">
        <div class="custom-scroll">
            <div class="outer-container">
                <div class="inner-container">
                    <div *ngIf="data.length>=10" class="search-container">
                        <div class="kt-input-icon kt-input-icon--left"
                            [ngClass]="{'kt-input-icon--right':keySearch.length>0}">
                            <input type="text" class="form-control form-control-sm"
                                placeholder="{{'MAP.CLUSTER.SEARCH' | translate }}" autocomplete="off"
                                id="searchItemCluster" #inputSearch (keyup)="searchChange($event)">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="icon-search"></i></span>
                            </span>
                            <span *ngIf="keySearch.length>0" class="kt-input-icon__icon kt-input-icon__icon--right"
                                (click)="clearSearch()">
                                <span><i class="icon-times"></i></span>
                            </span>
                        </div>
                    </div>
                    <!-- item -->
                    <div *ngFor="let item of dataView" class="cluster-item" (click)="selectItem(item)">
                        <div class="mp-inline-block">
                            <span class="unit-state nodata" [ngStyle]="{'background':item.statusType.colorCode}">
                                <div class="icon-type" [innerHTML]="item.iconType.icon"></div>
                            </span>
                            <div class="name"> {{item[infoBoxConfig.base.label.value] || '---'}}</div>
                            <div *ngIf=" item.statusType.name == 'run' && item.speed && infoBoxConfig.base.speed"
                                class="status">{{ item['speed']}} km/h</div>
                            <div *ngIf=" item.statusType.name != 'run' && item.statusDurationStr && infoBoxConfig.base.duration"
                                class="status">{{ item['statusDurationStr']}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="click-holder"></div>
    </div>
</div>