<div class="ng-autocomplete">
  <ng-autocomplete [data]="dataSearch" placeHolder="Tên người dùng/tài khoản" [searchKeyword]="keyword"
    (selected)='selectEvent($event,"fsdfsd")' (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
    [debounceTime]=600 [notFoundTemplate]="notFoundTemplate" [isLoading]="isLoading">
  </ng-autocomplete>
  <ng-template>
    <div class="kt-spinner kt-spinner--md kt-spinner--danger"></div>
  </ng-template>
  <ng-template #itemTemplate let-item>
    <li data-id="#item_{{item.id}}">
      <span [innerHTML]="item.name"></span>
      (<span [innerHTML]="item.username"></span>)
    </li>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound" *ngIf='dataSearch.length == 0 '></div>
  </ng-template>
</div>
<!-- end search-->
<!-- tree root -->
<tree-root #nametree [nodes]="nodes" [focused]="true" [options]="options" [(state)]="state">
  <ng-template #treeNodeTemplate let-node let-index="index">

    <div (click)="loadUsers( node.data.id)">
      <span *ngIf="node.data.type != 1"><i _ngcontent-iyd-c10="" class="fa fa-user icon-user-tree-child"></i></span>
      <span *ngIf="node.data.type == 1"><i _ngcontent-iyd-c10="" class="fa fa-user icon-user-tree-parent"></i></span>
      <span #itemTree_{{node.data.id}} class="user-tree-name" *ngIf='!node.data.root' title="{{node.data.username}}"
        data-toggle="tooltip" id="{{nameTree}}_{{node.data.id}}">
        {{ (node.data.name.length>28)? (node.data.name  | slice:0:28)+'..':(node.data.name ) }}(74/152)
      </span>
      <span class="user-tree-name" *ngIf='node.data.root' title="{{node.data.username}}" data-toggle="tooltip">
        {{ (node.data.name.length>28)? (node.data.name  | slice:0:28)+'..':(node.data.name ) }}(Stock74/Total152)
      </span>
    </div>
  </ng-template>