.kt-datatable__head .kt-datatable__row{
    display: table-row!important;
    th,td{
        border:1px solid #f0f3ff;
        padding-left:10px!important;
        padding-right:10px!important;
    }
}