<!-- begin:: Content -->

<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [btnClose]="true" [showPoint]="true" [allowCollapse]="true"
            (changeUser)="userTreeChangeUser($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px;max-width: 100%;overflow: auto;">
        <kt-user-info [user]="currentUser" [type]="'transactionHistory'"></kt-user-info>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="icon-setting"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{'POINTS.MANAGE.GENERAL.TRANSACTION_MANAGE' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch"
                (keyup.enter)="search()">
                <div class="row">
                    <div class="col-xl-3 col-lg-4  col-md-4  col-sm-12">
                        <div class="form-group">
                            <kt-date-range-picker #datePicker ngbTooltip="{{'POINTS.SEARCH.DATE'|translate}}"
                                container="body" [options]="datePickerOptions" (dateChange)="dateRouteChange($event)">
                            </kt-date-range-picker>
                        </div>

                    </div>
                    <div class="col-xl-5 col-lg-6  col-md-6  col-sm-12">
                        <div class="form-group form-group--mobile">
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="search()"
                                [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--primary kt-spinner--right':dataTable.isLoading}">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!-- begin: Feature -->
            <!-- <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">

                    <div class="col-md-12">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                        <div class="dropdown dropdown-inline"
                            ngbTooltip="{{'MANAGE.DEVICE.GENERAL.EXPORT' | translate}}" container="body">
                            <button type="button" class="btn btn-info btn-circle btn-icon btn-sm"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="icon-file-export"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start"
                                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a class="dropdown-item cs-pt"
                                    (click)="exportXlSX({all:true})">{{'COMMON.GENERAL.DOWNLOAD' | translate }}
                                    (.xlsx)</a>
                            </div>
                        </div>

                        &nbsp;&nbsp;
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">

                        </div>
                    </div>
                </div>
            </div> -->

            <!-- end: Feature -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
              
                  
                <table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'auto')}"
                    style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                          <tr class="kt-datatable__row " style="left: 0px; text-align: center;">
                            
                            <th class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2" >
                                <span style="width:20px">
                                  #
                                </span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                <span  [ngStyle]="dataTable.getColumn('date').style">
                                  {{"COMMON.COLUMN.DATE" | translate}}
                                </span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort"  colspan="4" >
                                <span >
                                    {{"COMMON.COLUMN.TOTAL" | translate}}
                                </span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort" colspan="4" >
                                <span  > 
                                    {{"COMMON.COLUMN.ADD_POINT" | translate}}
                                </span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort" colspan="4" >
                                <span >
                                    {{"COMMON.COLUMN.MOVE_POINT" | translate}}
                                </span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort" colspan="4" >
                                <span >
                                    {{"COMMON.COLUMN.RENEWS" | translate}}
                                </span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                <span [ngStyle]="dataTable.getColumn('actions').style" >
                                    {{"COMMON.COLUMN.DETAIL" | translate}}
                                </span>
                            </th>
                        </tr>
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <td [ngClass]="{'kt-datatable__cell--sorted':column.isSort} "
                                    *ngIf="column.headerShow!==false"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}} {{(column.unit ? ( "("+column.unit + ")"):"")}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </td>
                            </ng-container>
                        </tr>
                    </thead>
                    
                      
                    <!-- table body -->

                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle"
                        [ngStyle]="{'overflow':(dataTable.isResponsive?'':'unset!important')}">
                        
                        
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                class="kt-datatable__row" style="left: 0px;">
                                <!-- subRow -->
                                <td *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('date').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('date').style"
                                        ngbTooltip="{{item.date}}">{{item.date | userDateAdv}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('total_count').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('total_count').style"
                                        ngbTooltip="{{item.total_count}}"
                                        container="body">{{item.total_count || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('total_point').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('total_point').style"
                                        ngbTooltip="{{item.total_point}}"
                                        container="body">{{item.total_point || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('total_amountPaid').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('total_amountPaid').style"
                                        ngbTooltip="{{item.total_amountPaid}}"
                                        container="body">{{item.total_amountPaid || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('total_amount').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('total_amount').style"
                                        ngbTooltip="{{item.total_amount}}"
                                        container="body">{{item.total_amount || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('add_count').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('add_count').style"
                                        ngbTooltip="{{item.add_count}}"
                                        container="body">{{item.add_count || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('add_point').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('add_point').style"
                                        ngbTooltip="{{item.add_point}}"
                                        container="body">{{item.add_point || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('add_amountPaid').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('add_amountPaid').style"
                                        ngbTooltip="{{item.add_amountPaid}}"
                                        container="body">{{item.add_amountPaid || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('add_amount').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('add_amount').style"
                                        ngbTooltip="{{item.add_amount}}"
                                        container="body">{{item.add_amount || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('move_count').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('move_count').style"
                                        ngbTooltip="{{item.move_count}}"
                                        container="body">{{item.move_count || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('move_point').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('move_point').style"
                                        ngbTooltip="{{item.move_point}}"
                                        container="body">{{item.move_point || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('move_amountPaid').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('move_amountPaid').style"
                                        ngbTooltip="{{item.move_amountPaid}}"
                                        container="body">{{item.move_amountPaid || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('move_amount').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('move_amount').style"
                                        ngbTooltip="{{item.move_amount}}"
                                        container="body">{{item.move_amount || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('renews_count').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('renews_count').style"
                                        ngbTooltip="{{item.renews_count}}"
                                        container="body">{{item.renews_count || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('renews_point').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('renews_point').style"
                                        ngbTooltip="{{item.renews_point}}"
                                        container="body">{{item.renews_point || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('renews_amountPaid').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('renews_amountPaid').style"
                                        ngbTooltip="{{item.renews_amountPaid}}"
                                        container="body">{{item.renews_amountPaid || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('renews_amount').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('renews_amount').style"
                                        ngbTooltip="{{item.renews_amount}}"
                                        container="body">{{item.renews_amount || 0 | number}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('actions').isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('actions').style"
                                        style="overflow: visible; position: relative;">

                                        <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            href="/points/transaction-history?date={{item.date}}" target="_blank">
                                            <i class="icon-info"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->

                            <!-- end sub row -->
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>

                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a>
                        </li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>