<div class="tracking-info">

	<div class="item-content info car-list-item-wrap">
		<div class="car-list-item" (click)="selectItem(item)">
			<div class="first-row">
				<span class="mp-tooltip-comp mp-has-tooltip" *ngIf="item.statusType && isShow('tracking.info.baseData.icon')">
					<span class="unit-state" [ngStyle]="{'background':item.statusType.colorCode, 'border':'2px solid' + item.statusType.colorCode }" [innerHTML]="item.iconTypeProcess.icon">
					</span>
				</span>
				<span class="unit-number" *ngIf="item.name">{{item.name}}</span>
				<span class="unit-icons">

					<!-- speed -->
					<span *ngIf="item.statusType && item.statusType?.name=='run' 
                        && isShow('tracking.info.baseData.speed')" class="mp-tooltip-comp mp-has-tooltip">
						<span class="odometer-icon" ngbTooltip="{{item.statusType.text | translate}}" container="body">
							{{item.speed || 0 |  number:'1.0-2'}}
							<span class="speed-measure">km/h</span>
						</span>
					</span>
					<span *ngIf="item.statusType && item.statusDurationStr && item.statusType?.name!='run'
                         && isShow('tracking.info.baseData.duration')" class="mp-tooltip-comp mp-has-tooltip">
						<span class="odometer-icon" ngbTooltip="{{item.statusType.text | translate}}" container="body">
							{{ item.statusDurationStr}}
						</span>
					</span>

					<!-- battery -->
					<span *ngIf="item.battery && item.statusType?.name!='lostGPRS' && item.statusType?.name!='lostSignal'
                            && isShow('tracking.info.baseData.battery')" style="transform:translate(0,3px)" ngbTooltip="  {{(item.battery.isCharged?('COMMON.LIST_DEVICE.CHANGED' | translate) : '')}} {{item.battery.percent}} % " container="body" class="mp-tooltip-comp mp-has-tooltip" [innerHTML]="item.batterySvg">
					</span>

					<!-- signal -->
					<span *ngIf="item.statusType && item.statusType?.name!='lostGPRS' && item.statusType?.name!='lostSignal'
                            && isShow('tracking.info.baseData.gsm')" ngbTooltip="{{item.gsm?.translate | translate}}" container="body" style="margin-left:0px" class="mp-tooltip-comp mp-has-tooltip">
						<svg enable-background="new 0 0 128 128" height="18px" version="1.1" viewBox="0 0 128 128" width="18px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g fill="#CCCCCC">
								<path d="M18.863,86.36h-5.974C7.98,86.36,4,90.326,4,95.218v19.915c0,4.897,3.98,8.86,8.889,8.86h5.974   c4.909,0,8.889-3.963,8.889-8.86V95.218C27.751,90.326,23.771,86.36,18.863,86.36z" [attr.fill]="(item.gsm?.level>0)?'#65B300':'#CCCCCC'" />
								<path d="M51.299,63.884h-7.034c-4.907,0-8.887,3.966-8.887,8.858v1.405v39.586v1.404   c0,4.896,3.98,8.859,8.887,8.859h7.034c4.909,0,8.889-3.963,8.889-8.859v-1.404V74.147v-1.405   C60.188,67.85,56.208,63.884,51.299,63.884z" [attr.fill]="(item.gsm?.level>25)?'#65B300':'#CCCCCC'" />
								<path d="M83.206,41.401H76.17c-4.905,0-8.886,3.967-8.886,8.86v2.833v59.213v2.833c0,4.897,3.98,8.86,8.886,8.86   h7.036c4.909,0,8.888-3.963,8.888-8.86v-2.833V53.094v-2.833C92.094,45.369,88.115,41.401,83.206,41.401z" [attr.fill]="( item.gsm?.level>50)?'#65B300':'#CCCCCC'" />
								<path d="M115.114,18.922h-7.036c-4.906,0-8.886,3.967-8.886,8.86v25.312v36.733v25.313   c0,4.897,3.979,8.86,8.886,8.86h7.036c4.909,0,8.886-3.963,8.886-8.86V89.827V53.094V27.782   C124,22.889,120.023,18.922,115.114,18.922z" [attr.fill]="(item.gsm?.level>75)?'#65B300':'#CCCCCC'" />
							</g>
						</svg>
					</span>

				</span>
			</div>

			<div class="select-item">
				<div>
					<div class="item-row" *ngIf="item.numberPlate  && isShow('tracking.info.deviceData.numberPlate')" style="display: flex;align-items: center;">
						<span class="unit-additional">
							<i style="font-size: 1.2rem;transform: translateY(-50%);
                            position: absolute;" ngbTooltip="{{'COMMON.LIST_DEVICE.NUMBER_PLATE' | translate}}" container="body" class="icon-licence-plate"></i>
						</span><span class="unit-additional value">{{item.numberPlate}}</span>
					</div>
					<div class="item-row" *ngIf="isShow('tracking.info.deviceData.imei')"><span class="unit-additional">
							<i class="icon-barcode " ngbTooltip="{{'COMMON.LIST_DEVICE.IMEI' | translate}}" container="body"></i>
						</span><span class="unit-additional value">{{item.imei}}</span>
					</div>
					<div class="item-row" *ngIf="item.simno && isShow('tracking.info.deviceData.simno')"><span class="unit-additional">
							<i class="icon-sim-card" ngbTooltip="{{'COMMON.LIST_DEVICE.SIMNO' | translate}}" container="body"></i>
						</span><span class="unit-additional value">{{item.simno}}</span>
					</div>
					<div class="item-row" *ngIf="item.VIN && isShow('tracking.info.deviceData.vin')">
						<span class="unit-additional">
							{{'COMMON.LIST_DEVICE.VIN' | translate}}
							<!-- {{'COMMON.LIST_DEVICE.VIN_NUMBER' | translate}}: -->
						</span>
						<span class="unit-additional value">{{item.VIN}}</span>
					</div>
					<div class="item-row" *ngIf="item.powerVoltage && isShow('tracking.info.deviceData.powerVoltage')">
						<span class="unit-additional">
							<i ngbTooltip=" {{'COMMON.LIST_DEVICE.POWER_VOLTAGE' | translate}}" container="body" class="icon-car-battery"></i>
						</span>
						<span class="unit-additional value">{{item.powerVoltage}}
							V</span>
					</div>
					<!-- <div class="item-row"  *ngIf="item.lat"><span class="unit-additional">Coordinates:
                        </span><span class="unit-additional value">{{item.lat}},
                            {{item.lng}}</span></div> -->
					<div class="item-row" *ngIf="item.dayDistance && isShow('tracking.info.deviceData.distanceToday')">
						<span class="unit-additional">
							<i ngbTooltip="{{'COMMON.LIST_DEVICE.DISTANCE_TODAY' | translate}}" container="body" class="icon-route"></i>
							<!-- {{'COMMON.LIST_DEVICE.DISTANCE_TODAY' | translate}}: -->
						</span><span class="unit-additional value"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
								<g fill="none" fill-rule="evenodd">
									<path d="M0 0h18v18H0z"></path>
									<path fill="#B2B5B7" fill-rule="nonzero" d="M9.725 15.734l5.146-12.871L2 8.009l7.006.72z">
									</path>
								</g>
							</svg>{{item.dayDistance |  number:'1.0-2'}} km</span></div>
					<div class="item-row" *ngIf="item.driver && isShow('tracking.info.deviceData.driver')">
						<span class="unit-additional">
							<i class="icon-user-circle" ngbTooltip="{{'COMMON.LIST_DEVICE.DRIVER' | translate}}" container="body"></i>
						</span><span class="unit-additional value">{{item.driver?.name}}</span>
					</div>
					<div class="item-row" *ngIf="item.dayDrivingTime && item.dayDrivingTime!='null' && isShow('tracking.info.deviceData.drivingToday')">
						<span class="unit-additional">
							<i ngbTooltip="{{'COMMON.LIST_DEVICE.DRIVING_TODAY' | translate}}" container="body" class="icon-clock"></i>
							<!-- {{'COMMON.LIST_DEVICE.DRIVING_TODAY' | translate}}: -->
						</span>
						<span class="unit-additional value">{{item.dayDrivingTime  | number:'1.0-0'}}min
						</span>
					</div>

					<div class="item-row" *ngIf="item.timestampUTC && isShow('tracking.info.deviceData.updateTime')">
						<span class="unit-additional">
							<i ngbTooltip="{{'COMMON.LIST_DEVICE.UPDATE_TIME' | translate}}" container="body" class="icon-sync"></i>
							<!-- {{'COMMON.LIST_DEVICE.UPDATE_TIME' | translate}}: -->
						</span>
						<span ngbTooltip="{{item.timestampUTC | userDate:'calendar'}}" container="body" class="unit-additional value">{{item.timestampProcess}}</span>
					</div>
					<div *ngIf="item.groupsStr?.length>0 && isShow('tracking.info.deviceData.group')">
						<span class="unit-additional">
							<i class="icon-project-diagram" ngbTooltip="{{'COMMON.LIST_DEVICE.GROUPS' | translate}}" container="body"></i>
						</span>
						<span class="unit-additional value">{{item.groupsStr}}</span>
					</div>
					<div class="item-row" *ngIf="item.geofence && isShow('tracking.info.deviceData.geofence')">
						<span class="unit-additional">
							<i ngbTooltip="{{'COMMON.LIST_DEVICE.GEOFENCE' | translate}}" container="body" class="icon-pentagon"></i>
						</span><span class="unit-additional value" container="body" ngbTooltip="{{item.geofence}}">{{item.geofence}}</span>
					</div>
					<div class="item-row" *ngIf="item.address && isShow('tracking.info.deviceData.address')">
						<span class="unit-additional"><i ngbTooltip="{{'COMMON.LIST_DEVICE.ADDRESS' | translate}}" container="body" class="icon-map-marker-alt"></i>
						</span>
						<span class="unit-additional value" ngbTooltip="{{item.address}}" container="body" style="max-height: 40px;white-space: normal;">{{item.address}}</span>
					</div>
					<div class="item-row" *ngIf="item.addressLoading && isShow('tracking.info.deviceData.address')">
						<span class="unit-additional"><i ngbTooltip="{{'COMMON.LIST_DEVICE.ADDRESS' | translate}}" container="body" class="icon-map-marker-alt"></i>
						</span>
						<span class="text" class="kt-spinner kt-spinner--sm kt-spinner--brand">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item-content today-sum" *ngIf="isShow('tracking.info.lastDay')" (click)="changeTab('route',item.timestampUTC)">
		<div class="car-details-list has-hover today-status">
			<p class="mp-caption mp-text-secondary" style="text-align: center;">
				{{item.timestampUTC | userDateAdv:'calendar'}}</p>
			<div class="clearfix">
				<div class="mp-accordion">
					<div class="mp-accordion-item" *ngIf="isShow('tracking.info.lastDay.distance')" ngbTooltip="{{'MAP.TRACKING.INFO.DISTANCE' | translate}}" container="body">
						<div class="mp-accordion-item-title">
							<span><i class="icon-route ic-lg"></i> </span>
						</div>
						<div class="mp-accordion-item-value"> <span>
								<span class="letter">{{item.dayDistance |  number:'1.0-2'}} km</span></span></div>
					</div>
					<div class="mp-accordion-item" *ngIf="isShow('tracking.info.lastDay.driving')" ngbTooltip="{{'MAP.TRACKING.INFO.DRIVING' | translate}}" container="body">
						<div class="mp-accordion-item-title">
							<span><i class="icon-car-alt ic-lg"></i> </span>
						</div>
						<div class="mp-accordion-item-value"> <span><span class="letter">-</span></span></div>
					</div>
					<div class="mp-accordion-item" *ngIf="isShow('tracking.info.lastDay.stop')" ngbTooltip="{{'MAP.TRACKING.INFO.STOPED' | translate}}" container="body">
						<div class="mp-accordion-item-title">
							<span><i class="icon-stop-circle ic-lg"></i> </span>
						</div>
						<div class="mp-accordion-item-value"> <span><span class="letter">-</span></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item-content sensor" *ngIf="item.sensors.length > 0 ">
		<div class="car-details-list">
			<div class="details-title">{{'MAP.TRACKING.INFO.SENSORS' | translate}}</div>
			<ng-container *ngFor="let sensor of item.sensors">
				<div class="unit-additional-wrap">
					<span class="unit-additional">{{sensor.name}}:</span>
					<span class="unit-additional unit-additional-value">
						<i class=" {{sensor.icon || 'icon-tag'}}"></i>
						{{sensor.value | number}} {{sensor.unit}}
					</span>
				</div>
			</ng-container>
		</div>
	</div>

	<div class="item-content sensor kt-hide">
		<div class="car-details-list">
			<div class="details-title"><span class="details-title-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
						<defs>
							<path id="fuel_a" d="M24 0v24H0V0h24z"></path>
						</defs>
						<g fill="none" fill-rule="evenodd">
							<mask id="fuel_b" fill="#fff">
								<use xlink:href="#fuel_a"></use>
							</mask>
							<path fill="#797F82" d="M9.824 10.127c.894 0 1.788.004 2.682-.002.47-.002.678-.197.681-.657.008-1.175.008-2.35 0-3.525-.003-.44-.216-.649-.66-.65a812.127 812.127 0 0 0-5.332 0c-.453 0-.665.22-.668.676a336.786 336.786 0 0 0 0 3.462c.002.498.204.692.709.695.862.005 1.725.001 2.588.001m5.869 9.877H4.02c-.007-.177-.023-.353-.02-.53.009-.463.244-.703.71-.733.49-.032.492-.032.492-.517V6.397c0-.146-.003-.292.006-.437.079-1.26.814-1.957 2.069-1.958 1.789-.001 3.578-.005 5.367.003A1.835 1.835 0 0 1 14.43 5.39c.066.263.086.533.086.805-.002 1.789-.002 3.578 0 5.367 0 .41.011.42.414.434 1.2.044 1.794.563 1.979 1.74.034.215.049.435.047.653-.003.51.02 1.019.072 1.526.04.382.094.764.25 1.122.107.247.245.45.564.457.323.006.47-.193.57-.444.08-.202.15-.413.185-.626.22-1.312.117-2.635.136-3.954.003-.165-.104-.264-.207-.368-.374-.376-.776-.723-1.123-1.126-.327-.38-.497-.808-.482-1.313.012-.426-.01-.854.006-1.28.01-.25-.077-.432-.252-.604-.43-.423-.849-.858-1.266-1.294a1.588 1.588 0 0 1-.266-.343c-.215-.407.072-.874.532-.89.253-.01.436.117.6.285.929.953 1.894 1.872 2.78 2.866.395.444.773.902.946 1.488v5.93c-.015.102-.033.204-.046.307-.081.61-.192 1.21-.506 1.755-.62 1.075-2.118 1.245-2.954.328-.432-.475-.576-1.07-.692-1.677-.16-.832-.088-1.68-.175-2.516-.06-.58-.183-.695-.754-.734-.248-.017-.363.063-.362.328.007 1.602.005 3.203.002 4.804 0 .218.076.316.308.326.746.032.904.207.896.952-.002.103-.016.206-.024.31" mask="url(#fuel_b)"></path>
						</g>
					</svg></span>Fuel</div>
			<div class="fuel-info ">
				<div class="fuel-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
						<defs>
							<path id="fuel_a" d="M24 0v24H0V0h24z"></path>
						</defs>
						<g fill="none" fill-rule="evenodd">
							<mask id="fuel_b" fill="#fff">
								<use xlink:href="#fuel_a"></use>
							</mask>
							<path fill="#797F82" d="M9.824 10.127c.894 0 1.788.004 2.682-.002.47-.002.678-.197.681-.657.008-1.175.008-2.35 0-3.525-.003-.44-.216-.649-.66-.65a812.127 812.127 0 0 0-5.332 0c-.453 0-.665.22-.668.676a336.786 336.786 0 0 0 0 3.462c.002.498.204.692.709.695.862.005 1.725.001 2.588.001m5.869 9.877H4.02c-.007-.177-.023-.353-.02-.53.009-.463.244-.703.71-.733.49-.032.492-.032.492-.517V6.397c0-.146-.003-.292.006-.437.079-1.26.814-1.957 2.069-1.958 1.789-.001 3.578-.005 5.367.003A1.835 1.835 0 0 1 14.43 5.39c.066.263.086.533.086.805-.002 1.789-.002 3.578 0 5.367 0 .41.011.42.414.434 1.2.044 1.794.563 1.979 1.74.034.215.049.435.047.653-.003.51.02 1.019.072 1.526.04.382.094.764.25 1.122.107.247.245.45.564.457.323.006.47-.193.57-.444.08-.202.15-.413.185-.626.22-1.312.117-2.635.136-3.954.003-.165-.104-.264-.207-.368-.374-.376-.776-.723-1.123-1.126-.327-.38-.497-.808-.482-1.313.012-.426-.01-.854.006-1.28.01-.25-.077-.432-.252-.604-.43-.423-.849-.858-1.266-1.294a1.588 1.588 0 0 1-.266-.343c-.215-.407.072-.874.532-.89.253-.01.436.117.6.285.929.953 1.894 1.872 2.78 2.866.395.444.773.902.946 1.488v5.93c-.015.102-.033.204-.046.307-.081.61-.192 1.21-.506 1.755-.62 1.075-2.118 1.245-2.954.328-.432-.475-.576-1.07-.692-1.677-.16-.832-.088-1.68-.175-2.516-.06-.58-.183-.695-.754-.734-.248-.017-.363.063-.362.328.007 1.602.005 3.203.002 4.804 0 .218.076.316.308.326.746.032.904.207.896.952-.002.103-.016.206-.024.31" mask="url(#fuel_b)"></path>
						</g>
					</svg></div>
				<div class="fuel-stats"><span class="value"><span class="amount">327.0 l</span><span class="mp-tooltip-comp mp-has-tooltip "><span class="mp-tooltip-comp-span"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
									<g fill="none" fill-rule="evenodd">
										<path d="M0 0h18v18H0z"></path>
										<path fill="#B2B5B7" d="M6 4h6a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm1 2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7zm0-5h1v2H7V1zm3 0h1v2h-1V1zM7 15h1v2H7v-2zm8-8h2v1h-2V7zM1 7h2v1H1V7zm14 3h2v1h-2v-1zM1 10h2v1H1v-1zm9 5h1v2h-1v-2z">
										</path>
									</g>
								</svg></span><span class="mp-tooltip-comp-text mp-tooltip " style="display: none; text-align: center;">CAN</span></span> 09/11/2019
						00:59</span><span class="secondary">Avtodoroga Ural, Penzenskaya oblast, Russia, 442537</span>
				</div>
			</div>
			<div class="fuel-info ">
				<div class="fuel-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
						<defs>
							<path id="fuel_a" d="M24 0v24H0V0h24z"></path>
						</defs>
						<g fill="none" fill-rule="evenodd">
							<mask id="fuel_b" fill="#fff">
								<use xlink:href="#fuel_a"></use>
							</mask>
							<path fill="#797F82" d="M9.824 10.127c.894 0 1.788.004 2.682-.002.47-.002.678-.197.681-.657.008-1.175.008-2.35 0-3.525-.003-.44-.216-.649-.66-.65a812.127 812.127 0 0 0-5.332 0c-.453 0-.665.22-.668.676a336.786 336.786 0 0 0 0 3.462c.002.498.204.692.709.695.862.005 1.725.001 2.588.001m5.869 9.877H4.02c-.007-.177-.023-.353-.02-.53.009-.463.244-.703.71-.733.49-.032.492-.032.492-.517V6.397c0-.146-.003-.292.006-.437.079-1.26.814-1.957 2.069-1.958 1.789-.001 3.578-.005 5.367.003A1.835 1.835 0 0 1 14.43 5.39c.066.263.086.533.086.805-.002 1.789-.002 3.578 0 5.367 0 .41.011.42.414.434 1.2.044 1.794.563 1.979 1.74.034.215.049.435.047.653-.003.51.02 1.019.072 1.526.04.382.094.764.25 1.122.107.247.245.45.564.457.323.006.47-.193.57-.444.08-.202.15-.413.185-.626.22-1.312.117-2.635.136-3.954.003-.165-.104-.264-.207-.368-.374-.376-.776-.723-1.123-1.126-.327-.38-.497-.808-.482-1.313.012-.426-.01-.854.006-1.28.01-.25-.077-.432-.252-.604-.43-.423-.849-.858-1.266-1.294a1.588 1.588 0 0 1-.266-.343c-.215-.407.072-.874.532-.89.253-.01.436.117.6.285.929.953 1.894 1.872 2.78 2.866.395.444.773.902.946 1.488v5.93c-.015.102-.033.204-.046.307-.081.61-.192 1.21-.506 1.755-.62 1.075-2.118 1.245-2.954.328-.432-.475-.576-1.07-.692-1.677-.16-.832-.088-1.68-.175-2.516-.06-.58-.183-.695-.754-.734-.248-.017-.363.063-.362.328.007 1.602.005 3.203.002 4.804 0 .218.076.316.308.326.746.032.904.207.896.952-.002.103-.016.206-.024.31" mask="url(#fuel_b)"></path>
						</g>
					</svg></div>
				<div class="fuel-stats"><span class="value"><span class="amount">793.0 l</span><span class="mp-tooltip-comp mp-has-tooltip "><span class="mp-tooltip-comp-span"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
									<g fill="none" fill-rule="evenodd">
										<path d="M0 0h18v18H0z"></path>
										<path fill="#B2B5B7" d="M6 4h6a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm1 2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7zm0-5h1v2H7V1zm3 0h1v2h-1V1zM7 15h1v2H7v-2zm8-8h2v1h-2V7zM1 7h2v1H1V7zm14 3h2v1h-2v-1zM1 10h2v1H1v-1zm9 5h1v2h-1v-2z">
										</path>
									</g>
								</svg></span><span class="mp-tooltip-comp-text mp-tooltip " style="display: none; text-align: center;">CAN</span></span> 06/11/2019
						13:41</span><span class="secondary">R-278, Qostanaý 110000, Kazakhstan</span></div>
			</div>
			<div class="fuel-info-additional"><span class="mp-inline-block">
					<div class="tank-circle first"></div><span class="tank-name">Fuel tank 1:</span> <span class="tank-size"><span class="mp-tooltip-comp mp-has-tooltip "><span class="mp-tooltip-comp-span"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
									<g fill="none" fill-rule="evenodd">
										<path d="M0 0h18v18H0z"></path>
										<path fill="#B2B5B7" d="M6 4h6a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm1 2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H7zm0-5h1v2H7V1zm3 0h1v2h-1V1zM7 15h1v2H7v-2zm8-8h2v1h-2V7zM1 7h2v1H1V7zm14 3h2v1h-2v-1zM1 10h2v1H1v-1zm9 5h1v2h-1v-2z">
										</path>
									</g>
								</svg></span>
							<!-- <span class="mp-tooltip-comp-text mp-tooltip "
                                style="text-align: center; top: auto; bottom: 416.094px; position: fixed; height: 28px; left: 175.984px; width: auto; right: auto; transform: translateX(-50%); z-index: 9999;">CAN</span> -->
						</span>
						546.0 l</span>
				</span></div><a class="mp-btn mp-btn-green mp-hover mp-btn-block mp-btn-margined" href="/new/fuel?car_id=21113">Fuel graph</a>
		</div>
	</div>
	<div class="item-content tachograph kt-hide">
		<div class="car-details-list clearfix" style="border-bottom: none;">
			<div class="details-title"><span class="details-title-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path fill="#797F82" fill-rule="nonzero" d="M12 16a3 3 0 0 1-1.479-5.611l9.687-5.614-5.529 9.576A3 3 0 0 1 12 16zm0-13c1.808 0 3.504.48 4.967 1.319l-2.098 1.21a8 8 0 0 0-8.528 13.125l.005-.005a1 1 0 0 1-1.412 1.417l-.005.005A9.969 9.969 0 0 1 2 13C2 7.477 6.477 3 12 3zm10 10a9.97 9.97 0 0 1-2.929 7.071l-.002-.002a1 1 0 0 1-1.41-1.42l.003.003A7.975 7.975 0 0 0 20 13a7.982 7.982 0 0 0-.54-2.897l1.208-2.093A9.954 9.954 0 0 1 22 13z">
						</path>
					</svg></span>Tachograph</div>
			<div class="tachograph-driver-tabs">
				<div class="tachograph-driver-tabs-item active">
					<div class="name">Mikalai Malashuk</div>
					<div class="info">Driver</div>
				</div>
			</div>
			<div class="tachograph-stats clearfix">
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">Now</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="#B2B5B7" fill-rule="evenodd" d="M4 3v18h3.271v-8.068h9.779v8.067h3.271V9.661H7.271V3z"></path>
								</svg></span>20h 4min</div>
						<div class="item-additional">0s</div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">Today</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<g fill="#B2B5B7" fill-rule="evenodd">
										<path d="M12 17.727A5.734 5.734 0 0 1 6.273 12 5.734 5.734 0 0 1 12 6.273 5.734 5.734 0 0 1 17.727 12 5.734 5.734 0 0 1 12 17.727M12 3c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9">
										</path>
										<path d="M12 9.937a2.267 2.267 0 1 0 0 4.535 2.267 2.267 0 0 0 0-4.535"></path>
									</g>
								</svg></span>0s</div>
						<div class="item-additional">10h</div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">10h Driving</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<g fill="#B2B5B7" fill-rule="evenodd">
										<path d="M12 17.727A5.734 5.734 0 0 1 6.273 12 5.734 5.734 0 0 1 12 6.273 5.734 5.734 0 0 1 17.727 12 5.734 5.734 0 0 1 12 17.727M12 3c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9">
										</path>
										<path d="M12 9.937a2.267 2.267 0 1 0 0 4.535 2.267 2.267 0 0 0 0-4.535"></path>
									</g>
								</svg></span>0/2</div>
						<div class="item-additional"></div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">9h rest</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="#B2B5B7" fill-rule="evenodd" d="M4 3v18h3.271v-8.068h9.779v8.067h3.271V9.661H7.271V3z"></path>
								</svg></span>0/3</div>
						<div class="item-additional"></div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">Daily rest start</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="#B2B5B7" fill-rule="evenodd" d="M4 3v18h3.271v-8.068h9.779v8.067h3.271V9.661H7.271V3z"></path>
								</svg></span>07:21</div>
						<div class="item-additional">15h</div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">This week</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="#B2B5B7" fill-rule="evenodd" d="M4 3v18h3.271v-8.068h9.779v8.067h3.271V9.661H7.271V3z"></path>
								</svg></span>1h 15min</div>
						<div class="item-additional">54h 44min</div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">Next week</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="#B2B5B7" fill-rule="evenodd" d="M4 3v18h3.271v-8.068h9.779v8.067h3.271V9.661H7.271V3z"></path>
								</svg></span>56h</div>
						<div class="item-additional"></div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time">Weekly rest start</div>
						<div class="item-value"><span class="item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="#B2B5B7" fill-rule="evenodd" d="M4 3v18h3.271v-8.068h9.779v8.067h3.271V9.661H7.271V3z"></path>
								</svg></span>16/11/2019 20:35</div>
						<div class="item-additional"></div>
					</div>
				</div>
				<div class="tachograph-stats-item">
					<div class="item-wrap">
						<div class="item-time"></div>
						<div class="item-value"><span class="item-icon"></span><b></b></div>
						<div class="item-additional"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="item-content driving kt-hide">
		<div class="car-details-list">
			<div class="details-title"><span class="details-title-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path fill="#797F82" fill-rule="evenodd" d="M3 13h3v7H3v-7zm5-9h3v16H8V4zm5 8h3v8h-3v-8zm5-5h3v13h-3V7z"></path>
					</svg></span>Driving rating<div class="behaviour-score-item behaviour-score-item-D">
					<div class="behaviour-score-item-grade">D</div>
					<div class="behaviour-score-item-value">58.57 (2.91%)</div><span class="behaviour-score-item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 24 24">
							<g id="ico-arrow-black-left">
								<line fill="none" stroke="#fff" stroke-width="2.5" x1="12.002" y1="23.999" x2="12.002" y2="1.699"></line>
								<polyline fill="none" stroke="#fff" stroke-width="2.5" points="23.06,13.096 12.002,1.805 0.945,13.096 	"></polyline>
								<rect x="0.002" y="-0.002" fill="none" width="24" height="24.001"></rect>
							</g>
						</svg></span>
				</div>
			</div><a class="mp-btn mp-btn-green mp-hover mp-btn-block mp-btn-margined" href="/pro/drivers/behavior">Full
				table</a>
		</div>
	</div>
	<div class="item-content other-data" *ngIf="isShow('tracking.info.other',true)">
		<div class="car-details-list">
			<div class="details-title">{{'MAP.TRACKING.INFO.OTHER_DATA' | translate}}</div>
			<div class="unit-additional-wrap" *ngIf="isShow('tracking.info.other.air')">
				<span class="unit-additional">{{'MAP.TRACKING.INFO.AIR' | translate}}:</span>
				<span class="unit-additional unit-additional-value">{{item.otherData.air | translate}}</span>
			</div>
			<div class="unit-additional-wrap" *ngIf="isShow('tracking.info.other.door')">
				<span class="unit-additional">{{'MAP.TRACKING.INFO.DOOR' | translate}}:</span>
				<span class="unit-additional unit-additional-value">{{item.otherData.door | translate}}</span>
			</div>
			<div class="unit-additional-wrap" *ngIf="isShow('tracking.info.other.engine')">
				<span class="unit-additional">{{'MAP.TRACKING.INFO.ENGINE' | translate}}:</span>
				<span class="unit-additional unit-additional-value">{{ item.otherData.engine | translate }}</span>
			</div>

			<!-- <div class="unit-additional-wrap"><span class="unit-additional">Ambient temperature:</span><span
                    class="unit-additional">5.5 °C/41.9 °F</span></div>
            <div class="unit-additional-wrap"><span class="unit-additional">Battery voltage (V):</span><span
                    class="unit-additional">3.98 V</span></div>
            <div class="unit-additional-wrap"><span class="unit-additional">GPS blocked:</span><span
                    class="unit-additional">No</span></div>
            <div class="unit-additional-wrap"><span class="unit-additional">GPS status:</span><span
                    class="unit-additional">Off</span></div>
            <div class="unit-additional-wrap"><span class="unit-additional">Ignition:</span><span
                    class="unit-additional">Off</span></div>
            <div class="unit-additional-wrap"><span class="unit-additional">Mobile operator:</span><span
                    class="unit-additional">MTS</span></div>
            <div class="unit-additional-wrap"><span class="unit-additional">Power:</span><span
                    class="unit-additional">On</span></div>
            <div class="unit-additional-wrap"><span class="unit-additional">Supply voltage (V):</span><span
                    class="unit-additional">24.638 V</span></div> -->
		</div>
	</div>

	<!-- Engine on/off -->
	<!-- *ngIf="isShowCommand&&isUserLogin" -->
	<div class="item-content today-sum" *ngIf="isShowCommand" >
		<div class="car-details-list has-hover today-status">
			<p class="mp-caption mp-text-secondary" style="text-align: center;">
				{{'MAP.TRACKING.INFO.TURN_ON_OFF' | translate}}</p>
			<div class="clearfix">
				<div class="mp-accordion">
					<div class="mp-accordion-item" container="body" (click)="openConfirm(turnOn)">
						<div class="mp-accordion-item-title">
							<span><i class="icon-engine-on  ic-2x"></i> </span>
						</div>
						<div class="mp-accordion-item-value"> <span><span class="letter">{{'MAP.TRACKING.INFO.TURN_ON' | translate}}</span></span></div>
					</div>
					<div class="mp-accordion-item" container="body" (click)="openConfirm(turnOff)">
						<div class="mp-accordion-item-title">
							<span><i class="icon-power-off ic-2x"></i> </span>
						</div>
						<div class="mp-accordion-item-value"> <span><span class="letter">{{'MAP.TRACKING.INFO.TURN_OFF' | translate}}</span></span></div>
					</div>
					<!-- <div class="mp-accordion-item" *ngIf="isShow('tracking.info.lastDay.stop')" ngbTooltip="{{'MAP.TRACKING.INFO.STOPED' | translate}}" container="body">
      					<div class="mp-accordion-item-title">
      						<span><i class="icon-stop-circle ic-lg"></i> </span>
      					</div>
      					<div class="mp-accordion-item-value"> <span><span class="letter">-</span></span></div>
      				</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="item-content">
		<ng-container *ngFor="let item of dataCamera">
			<div class="item-camera" >
				<div class="camera-name">{{item.name}}</div>
				<iframe id='fp_embed_player' 
				[src]="item.url"				
				marginwidth='0' marginheight='0' frameborder='0' width='100%' height='100%' scrolling='no' allowfullscreen='allowfullscreen'></iframe>
			</div>
		</ng-container>
		
		
	</div>


	<div class="item-content can-data kt-hide">
		<div class="car-details-list">
			<div class="details-title">CAN data</div>
			<div class="unit-additional-wrap"><span class="unit-additional">Mileage (CAN):</span><span class="unit-additional">1012268.0 km</span></div>
			<div class="unit-additional-wrap"><span class="unit-additional"><span class="mp-tooltip-comp mp-has-tooltip "><span class="mp-tooltip-comp-span">CAN total fuel
							consu...</span><span class="mp-tooltip-comp-text mp-tooltip " style="display: none;">CAN
							total fuel consumed</span></span>:</span><span class="unit-additional">305477.5 l</span>
			</div>
			<div class="unit-additional-wrap"><span class="unit-additional">Engine hours (CAN):</span><span class="unit-additional">16759.15 h</span></div>
			<div class="unit-additional-wrap"><span class="unit-additional">2 axis load:</span><span class="unit-additional">11106.89 lb.</span></div>
		</div>
	</div>
</div>
<kt-send-command [sendCommandOpen]="sendCommandEmitter"></kt-send-command>
<ng-template #content>
	<div class="modal-header">
		<h4 class="modal-title">{{'MAP.TRACKING.INFO.CONFIRM' | translate}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="noSendCmd()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="command-confirm">
		<div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
			<div class="alert-icon"><i class="icon-question-circle"></i></div>
			<div class="alert-text">{{'MAP.TRACKING.INFO.CONFIRM' | translate}}</div>
		</div>
		<div class="modal-footer text-center">
			<button class="btn btn-outline-primary mr-2" (click)="sendCommand()">{{'MAP.TRACKING.INFO.YES' | translate}}</button>
			<button class="btn btn-outline-primary" (click)="noSendCmd()">{{'MAP.TRACKING.INFO.NO' | translate}}</button>
		</div>
	</div>
</ng-template>
