.tracking-info {
    // width: 100%;
    // max-height: calc(100% - 260px);
    // overflow: auto;
    .info{
      &:hover{
        background:#f4f4f4;
      }
    }
  .car-details-list {
    padding: 8px 0 16px 0;
    border-bottom: 1px solid #dcdee0;
  }
  .mp-caption {
    font-size: 12px;
    font-weight: 500;
  }
  .mp-text-secondary {
    color: #797f82;
  }
  .item-content {
    border-bottom: 1px solid #dcdee0;
    color: #384045;
  }
  .today-sum {
    .mp-accordion {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      padding: 8px 0px;
    }
  }
  .car-details-list {
    padding: 8px 0 16px 0;
    border-bottom: 1px solid #dcdee0;
  }
  svg,
  .mp-map-view svg {
    overflow: visible;
    transform: translate(0, 0);
  }
  .mp-tab-header,
  .mp-map-view .mp-tab-header {
    overflow: hidden;
  }
  .mp-input-checkbox-edit,
  .mp-map-view .mp-input-checkbox-edit {
    padding: 10px 0 7px;
    border-bottom: 1px solid #dcdee0;
  }
  .mp-input-checkbox-edit:first-of-type,
  .mp-map-view .mp-input-checkbox-edit:first-of-type {
    border-top: 1px solid #dcdee0;
  }
  .mp-input-checkbox-drag-handle,
  .mp-map-view .mp-input-checkbox-drag-handle {
    cursor: move;
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
  }
  .mp-map-sidebar-header,
  .mp-map-view .mp-map-sidebar-header {
    padding-bottom: 0;
    position: relative;
  }
  .mp-map-sidebar-header .settings-top,
  .mp-map-view .mp-map-sidebar-header .settings-top {
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
  }
  .mp-map-sidebar-header .settings-top svg,
  .mp-map-view .mp-map-sidebar-header .settings-top svg {
    opacity: 0.7;
  }
  .mp-map-sidebar-header .settings-top svg:hover,
  .mp-map-view .mp-map-sidebar-header .settings-top svg:hover {
    opacity: 1;
  }
  .mp-map-sidebar-header .settings-top .mp-dropdown-item,
  .mp-map-view .mp-map-sidebar-header .settings-top .mp-dropdown-item {
    white-space: nowrap;
  }
  .mp-map-sidebar-header .mp-dropdown-wrap,
  .mp-map-view .mp-map-sidebar-header .mp-dropdown-wrap {
    width: 260px;
    margin: 0;
  }
  .mp-map-sidebar-header .mp-dropdown-wrap .rw-popup,
  .mp-map-view .mp-map-sidebar-header .mp-dropdown-wrap .rw-popup {
    overflow: hidden;
    height: auto;
    max-height: 70vh;
  }
  .mp-map-sidebar-header .mp-dropdown-wrap .rw-popup .rw-virtual-list-wrapper,
  .mp-map-view .mp-map-sidebar-header .mp-dropdown-wrap .rw-popup .rw-virtual-list-wrapper {
    overflow-y: auto;
    max-height: 200px;
    height: 100%;
    position: relative;
    bottom: 0;
    overflow-x: hidden;
  }
  .map-sidebar-header-tabs .headers-tabs-item,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item {
    padding-bottom: 8px;
    width: 20%;
    display: inline-block;
    text-align: center;
    color: #384045;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .map-sidebar-header-tabs .headers-tabs-item.active,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item.active {
    opacity: 1;
    border-bottom: 4px solid #98ca02;
  }
  .map-sidebar-header-tabs .headers-tabs-item.active .headers-tabs-item-title,
  .map-sidebar-header-tabs .headers-tabs-item.active .headers-tabs-item-subTitle,
  .map-sidebar-header-tabs .headers-tabs-item.active .headers-tabs-item-icon svg,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item.active .headers-tabs-item-title,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item.active .headers-tabs-item-subTitle,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item.active .headers-tabs-item-icon svg {
    opacity: 1;
  }
  .map-sidebar-header-tabs .headers-tabs-item-title,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item-title {
    font-size: 30px;
    opacity: 0.7;
  }
  .map-sidebar-header-tabs .headers-tabs-item-subTitle,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item-subTitle {
    font-size: 12px;
    opacity: 0.7;
  }
  .map-sidebar-header-tabs .headers-tabs-item-icon,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item-icon {
    margin: 4px 0;
    position: relative;
  }
  .map-sidebar-header-tabs .headers-tabs-item-icon svg,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item-icon svg {
    height: 24px;
    width: 24px;
    opacity: 0.7;
    vertical-align: middle;
  }
  .map-sidebar-header-tabs .headers-tabs-item-icon .mp-notification,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item-icon .mp-notification {
    position: absolute;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
    background: #ff4040;
    line-height: 17px;
    text-align: center;
    visibility: visible;
    min-width: 16px;
    padding: 0 2px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
    left: 50%;
    top: -6px;
  }
  .map-sidebar-header-tabs .headers-tabs-item-icon .mp-notification.empty,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item-icon .mp-notification.empty {
    background: #dcdee0;
  }
  .map-sidebar-header-tabs .headers-tabs-item:hover,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item:hover {
    opacity: 1;
  }
  .map-sidebar-header-tabs .headers-tabs-item.details-tab .headers-tabs-item-subTitle,
  .mp-map-view .map-sidebar-header-tabs .headers-tabs-item.details-tab .headers-tabs-item-subTitle {
    font-size: 13px;
    font-weight: 500;
    font-family: "MuseoSans", Arial, sans-serif;
  }
  .map-sidebar-filters-bg,
  .mp-map-view .map-sidebar-filters-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .map-sidebar-filters-select,
  .mp-map-view .map-sidebar-filters-select {
    position: absolute;
    top: 0;
    padding: 16px 12px;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    background: #ffffff;
    border: solid 1px #dcdee0;
    z-index: 99;
    width: 280px;
  }
  .map-sidebar-filters-select .mp-text-bold,
  .mp-map-view .map-sidebar-filters-select .mp-text-bold {
    font-family: "MuseoSans", Arial, sans-serif;
    font-weight: 500;
  }
  .map-sidebar-filters-select label,
  .mp-map-view .map-sidebar-filters-select label {
    padding-bottom: 0;
    font-family: "MuseoSans", Arial, sans-serif;
    font-weight: 500;
  }
  .map-sidebar-filters-select .mp-dropdown-wrap,
  .mp-map-view .map-sidebar-filters-select .mp-dropdown-wrap {
    width: 100%;
  }
  .map-sidebar-filters-select .filters-bottom,
  .mp-map-view .map-sidebar-filters-select .filters-bottom {
    text-align: right;
  }
  .map-sidebar-filters-select .filters-bottom .mp-btn,
  .mp-map-view .map-sidebar-filters-select .filters-bottom .mp-btn {
    margin-right: 0;
  }
  .map-sidebar-filters-select .mp-text-secondary,
  .mp-map-view .map-sidebar-filters-select .mp-text-secondary {
    padding-top: 0;
  }
  .car-list-item-loader,
  .mp-map-view .car-list-item-loader {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.55);
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 9px;
    left: 0;
  }
  .car-list-item-loading::before,
  .mp-map-view .car-list-item-loading::before {
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    top: 0;
    background: #98ca02;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .car-list-item-loading::after,
  .mp-map-view .car-list-item-loading::after {
    content: "";
    width: 35%;
    height: 2px;
    left: -35%;
    top: 0;
    position: absolute;
    background: #98ca02;
    animation-name: loadingAfter;
    animation-duration: 2000ms;
    animation-delay: 1200ms;
    animation-iteration-count: infinite;
  }

  .sensor .unit-additional,
  .other-data .unit-additional,
  .can-data .unit-additional,
  .mp-map-view .unit-additional {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    font-family: "MuseoSans", Arial, sans-serif;
    padding: 4px 0;
    vertical-align: top;
    width: 50%;
  }
  .unit-additional-value{
    font-weight: bold!important;
  }
  // .sensor {
  //   .unit-additional-value{
  //     font-weight: bold;
  //   }
  // }
  .unit-additional p,
  .mp-map-view .unit-additional p {
    padding: 2px 0;
  }
  .unit-additional.maintenance-title,
  .mp-map-view .unit-additional.maintenance-title {
    width: 65%;
  }
  .unit-additional.value,
  .mp-map-view .unit-additional.value {
    text-align: right;
  }
  .unit-additional.maintenance-value,
  .mp-map-view .unit-additional.maintenance-value {
    width: 35%;
    text-align: right;
  }
  .unit-additional.maintenance-value .days,
  .mp-map-view .unit-additional.maintenance-value .days {
    color: #384045;
  }
  .unit-additional.maintenance-value .status-bar,
  .mp-map-view .unit-additional.maintenance-value .status-bar {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    color: #797f82;
  }
  .unit-additional.maintenance-value .status-bar:first-of-type,
  .mp-map-view .unit-additional.maintenance-value .status-bar:first-of-type {
    margin-top: 0;
  }
  .unit-additional.maintenance-value .status-bar svg,
  .mp-map-view .unit-additional.maintenance-value .status-bar svg {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }
  .unit-additional.maintenance-value .status-bar.done,
  .mp-map-view .unit-additional.maintenance-value .status-bar.done {
    color: #65b300;
  }
  .unit-additional.maintenance-value .status-bar.done .days,
  .mp-map-view .unit-additional.maintenance-value .status-bar.done .days {
    color: #65b300;
  }
  .unit-additional.maintenance-value .status-bar.pending,
  .mp-map-view .unit-additional.maintenance-value .status-bar.pending {
    color: #797f82;
  }
  .unit-additional.maintenance-value .status-bar.pending .days,
  .mp-map-view .unit-additional.maintenance-value .status-bar.pending .days {
    color: #384045;
  }
  .unit-additional.maintenance-value .status-bar.comingSoon,
  .mp-map-view .unit-additional.maintenance-value .status-bar.comingSoon {
    color: #ff9e00;
  }
  .unit-additional.maintenance-value .status-bar.comingSoon .days,
  .mp-map-view .unit-additional.maintenance-value .status-bar.comingSoon .days {
    color: #ff9e00;
  }
  .unit-additional.maintenance-value .status-bar.overdue,
  .mp-map-view .unit-additional.maintenance-value .status-bar.overdue {
    color: #ff4040;
  }
  .unit-additional.maintenance-value .status-bar.overdue .days,
  .mp-map-view .unit-additional.maintenance-value .status-bar.overdue .days {
    color: #ff4040;
  }
  .unit-additional.maintenance-value .status-bar .progress-bar,
  .mp-map-view .unit-additional.maintenance-value .status-bar .progress-bar {
    width: 100%;
    margin-left: 0;
    height: 2px;
    vertical-align: top;
    margin-top: 2px;
  }
  .unit-additional.maintenance-value .status-bar .progress-bar-inner,
  .mp-map-view .unit-additional.maintenance-value .status-bar .progress-bar-inner {
    height: 2px;
    width: 100%;
  }
  .map-sidebar-filters,
  .mp-map-view .map-sidebar-filters {
    border-bottom: 1px solid #dcdee0;
    padding: 8px 16px;
    position: relative;
  }
  .map-sidebar-filters .filters-clear,
  .mp-map-view .map-sidebar-filters .filters-clear {
    display: inline-block;
    margin: 0 4px;
    font-size: 12px;
  }
  .map-sidebar-filters .filters-clear svg,
  .mp-map-view .map-sidebar-filters .filters-clear svg {
    height: 14px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    opacity: 0.7;
  }
  .map-sidebar-filters-items,
  .mp-map-view .map-sidebar-filters-items {
    width: calc(100% - 40px);
  }
  .map-sidebar-filters-items-title,
  .mp-map-view .map-sidebar-filters-items-title {
    cursor: pointer;
    color: #1087d2;
    font-family: "MuseoSans", Arial, sans-serif;
    font-weight: 500;
  }
  .map-sidebar-filters-items .mp-caption,
  .mp-map-view .map-sidebar-filters-items .mp-caption {
    padding: 0;
    cursor: pointer;
  }
  .map-sidebar-filters-sort,
  .mp-map-view .map-sidebar-filters-sort {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 8px;
    opacity: 0.7;
  }
  .map-sidebar-filters-sort:hover,
  .mp-map-view .map-sidebar-filters-sort:hover {
    opacity: 1;
  }
  .map-sidebar-filters-sort.enabled path[fill],
  .mp-map-view .map-sidebar-filters-sort.enabled path[fill] {
    fill: #1087d2;
  }
  .progress-bar,
  .mp-map-view .progress-bar {
    background: #dcdee0;
    display: inline-block;
    width: 70px;
    height: 4px;
    position: relative;
    vertical-align: middle;
    margin-left: 8px;
  }
  .progress-bar-inner,
  .mp-map-view .progress-bar-inner {
    position: absolute;
    height: 4px;
    display: block;
    max-width: 100%;
    background: tomato;
  }
  .progress-bar-inner.done,
  .mp-map-view .progress-bar-inner.done {
    background: #65b300;
  }
  .progress-bar-inner.pending,
  .mp-map-view .progress-bar-inner.pending {
    background: #797f82;
  }
  .progress-bar-inner.comingSoon,
  .mp-map-view .progress-bar-inner.comingSoon {
    background: #ff9e00;
  }
  .progress-bar-inner.overdue,
  .mp-map-view .progress-bar-inner.overdue {
    background: #ff4040;
  }
  .sidebar-back,
  .mp-map-view .sidebar-back {
    vertical-align: middle;
    margin-right: 16px;
  }
  .sidebar-back svg,
  .mp-map-view .sidebar-back svg {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    opacity: 0.7;
    cursor: pointer;
  }
  .sidebar-back svg:hover,
  .mp-map-view .sidebar-back svg:hover {
    opacity: 1;
  }
  .sidebar-back line,
  .sidebar-back polyline,
  .mp-map-view .sidebar-back line,
  .mp-map-view .sidebar-back polyline {
    stroke: #384045;
  }
  .today-stats .mp-text-secondary,
  .mp-map-view .today-stats .mp-text-secondary {
    padding: 0;
  }
  .today-stats .mp-accordion-item,
  .mp-map-view .today-stats .mp-accordion-item {
    padding: 8px 0 0 0;
  }
  .car-details-list,
  .mp-map-view .car-details-list {
    padding: 8px 0 16px 0;
    border-bottom: 1px solid #dcdee0;
  }
  .car-details-list .mp-dropdown-wrap,
  .mp-map-view .car-details-list .mp-dropdown-wrap {
    width: 100%;
    min-width: auto;
  }
  .car-details-list.has-hover:hover,
  .mp-map-view .car-details-list.has-hover:hover {
    background: #f4f4f4;
    cursor: pointer;
  }
  .car-details-list-error,
  .mp-map-view .car-details-list-error {
    border: 1px solid #ff4040;
    margin: 8px 16px 0 !important;
    background-color: rgba(255, 65, 65, 0.02);
    border-radius: 3px;
    padding: 12px 16px 12px 56px;
    position: relative;
    min-height: 47px;
    display: flex;
    align-items: center;
  }
  .car-details-list-error > svg,
  .mp-map-view .car-details-list-error > svg {
    position: absolute;
    left: 16px;
    top: 12px;
  }
  .car-details-list .list-item,
  .mp-map-view .car-details-list .list-item {
    padding: 4px 0;
    position: relative;
  }
  .car-details-list .list-item.active,
  .mp-map-view .car-details-list .list-item.active {
    cursor: pointer;
    color: #1087d2;
  }
  .car-details-list .list-item span,
  .mp-map-view .car-details-list .list-item span {
    display: inline-block;
    vertical-align: middle;
    font-family: "MuseoSans", Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
  .car-details-list .list-item-value.has-icon svg,
  .mp-map-view .car-details-list .list-item-value.has-icon svg {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }
  .car-details-list .list-item-icon,
  .mp-map-view .car-details-list .list-item-icon {
    margin: 0 16px;
  }
  .car-details-list .list-item-icon .unit-state,
  .mp-map-view .car-details-list .list-item-icon .unit-state {
    margin-left: -2px;
    margin-right: -2px;
  }
  .car-details-list .list-item svg,
  .mp-map-view .car-details-list .list-item svg {
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  .car-details-list .list-item .edit,
  .mp-map-view .car-details-list .list-item .edit {
    position: absolute;
    right: 16px;
    top: 4px;
    opacity: 0.5;
    cursor: pointer;
  }
  .car-details-list .list-item .edit:hover,
  .mp-map-view .car-details-list .list-item .edit:hover {
    opacity: 1;
  }
  
  // .car-details-list .list-item.has-hover:hover,
  // .mp-map-view .car-details-list .list-item.has-hover:hover {
  //   background: #f4f4f4;
  // }
  .car-details-list .list-item-state.driving,
  .mp-map-view .car-details-list .list-item-state.driving {
    color: #65b300;
  }
  .car-details-list .list-item-state.standing,
  .mp-map-view .car-details-list .list-item-state.standing {
    color: #ff4040;
  }
  .car-details-list .list-item-address,
  .mp-map-view .car-details-list .list-item-address {
    max-width: 87%;
  }
  .car-details-list .details-title,
  .mp-map-view .car-details-list .details-title {
    color: #797f82;
    font-weight: 500;
    font-family: "MuseoSans", Arial, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    position: relative;
  }
  .car-details-list .details-title .details-link.temperature,
  .mp-map-view .car-details-list .details-title .details-link.temperature {
    float: right;
    padding: 0;
  }
  .car-details-list .details-title-icon,
  .mp-map-view .car-details-list .details-title-icon {
    margin-right: 8px;
  }
  .car-details-list .details-title-primary,
  .mp-map-view .car-details-list .details-title-primary {
    color: #384045;
  }
  .car-details-list .details-title span,
  .mp-map-view .car-details-list .details-title span {
    display: inline-block;
    vertical-align: middle;
  }
  .car-details-list .details-title .edit-icon,
  .mp-map-view .car-details-list .details-title .edit-icon {
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;
    opacity: 0.8;
  }
  .car-details-list .details-title .edit-icon .mp-tooltip-comp,
  .mp-map-view .car-details-list .details-title .edit-icon .mp-tooltip-comp {
    cursor: pointer;
  }
  .car-details-list .details-title .edit-icon svg,
  .mp-map-view .car-details-list .details-title .edit-icon svg {
    width: 16px;
    height: 16px;
  }
  .car-details-list .details-title .open-caret,
  .mp-map-view .car-details-list .details-title .open-caret {
    position: absolute;
    right: 16px;
    top: 4px;
  }
  .car-details-list .details-title.has-hover,
  .mp-map-view .car-details-list .details-title.has-hover {
    cursor: pointer;
  }
  // .car-details-list .details-title.has-hover:hover,
  // .mp-map-view .car-details-list .details-title.has-hover:hover {
  //   background: #f4f4f4;
  // }
  .car-details-list .details-title.has-hover:hover .edit-icon,
  .mp-map-view .car-details-list .details-title.has-hover:hover .edit-icon {
    opacity: 1;
  }
  .car-details-list .details-title.tracking-link,
  .mp-map-view .car-details-list .details-title.tracking-link {
    color: #1087d2;
    cursor: pointer;
  }
  .car-details-list .details-title.tracking-link svg,
  .mp-map-view .car-details-list .details-title.tracking-link svg {
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -2px;
  }
  .car-details-list .details-title.tracking-link:hover,
  .mp-map-view .car-details-list .details-title.tracking-link:hover {
    text-decoration: underline;
  }
  .car-details-list .details-link,
  .mp-map-view .car-details-list .details-link {
    color: #1087d2;
    cursor: pointer;
    padding: 3px 0 0 16px;
    display: block;
  }
  .car-details-list .details-link:hover,
  .mp-map-view .car-details-list .details-link:hover {
    text-decoration: underline;
  }
  .car-details-list .unit-additional-wrap,
  .mp-map-view .car-details-list .unit-additional-wrap {
    padding: 0 16px;
  }
  .car-details-list .unit-additional-wrap .unit-additional,
  .mp-map-view .car-details-list .unit-additional-wrap .unit-additional {
    font-size: 14px;
  }
  .car-details-list .unit-additional-wrap.maintenance-item,
  .mp-map-view .car-details-list .unit-additional-wrap.maintenance-item {
    border-bottom: 1px solid #dcdee0;
    margin: 0 16px 8px 16px;
    padding: 0;
  }
  .car-details-list .unit-additional-wrap.maintenance-item:last-of-type,
  .mp-map-view .car-details-list .unit-additional-wrap.maintenance-item:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .mp-accordion-item .digit,
  .mp-map-view .mp-accordion-item .digit {
    font-size: 16px;
    font-weight: 500;
    font-family: "MuseoSans", Arial, sans-serif;
  }
  .mp-accordion-item svg,
  .mp-map-view .mp-accordion-item svg {
    display: inline-block;
    vertical-align: middle;
  }
  .fuel-info-additional,
  .mp-map-view .fuel-info-additional {
    padding: 8px 16px 4px;
  }
  .fuel-info-additional .mp-inline-block,
  .mp-map-view .fuel-info-additional .mp-inline-block {
    max-width: 100%;
    width: 100%;
    cursor: pointer;
  }
  .fuel-info-additional .mp-inline-block .tank-circle,
  .mp-map-view .fuel-info-additional .mp-inline-block .tank-circle {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    border: 3px solid #e8394e;
    border-radius: 14px;
    margin-right: 4px;
  }
  .fuel-info-additional .mp-inline-block .tank-circle.first,
  .mp-map-view .fuel-info-additional .mp-inline-block .tank-circle.first {
    border-color: #39b0fa;
  }
  .fuel-info-additional .mp-inline-block .tank-name,
  .fuel-info-additional .mp-inline-block .tank-size,
  .mp-map-view .fuel-info-additional .mp-inline-block .tank-name,
  .mp-map-view .fuel-info-additional .mp-inline-block .tank-size {
    display: inline-block;
    vertical-align: middle;
    font-family: "MuseoSans", Arial, sans-serif;
    font-weight: 500;
  }
  .fuel-info-additional .mp-inline-block .tank-size,
  .mp-map-view .fuel-info-additional .mp-inline-block .tank-size {
    color: #797f82;
  }
  .fuel-info-additional .mp-inline-block .tank-size svg,
  .mp-map-view .fuel-info-additional .mp-inline-block .tank-size svg {
    display: inline-block;
    vertical-align: sub;
  }
  .behaviour-score-item,
  .mp-map-view .behaviour-score-item {
    display: inline-block;
    color: #fff;
    padding: 4px 4px 4px 12px;
    min-width: 80px;
    border-radius: 3px;
    text-align: left;
    white-space: nowrap;
    background: #98ca02;
    position: absolute;
    top: 4px;
    right: 16px;
  }
  .behaviour-score-item-A,
  .mp-map-view .behaviour-score-item-A {
    background: #518e00;
  }
  .behaviour-score-item-B,
  .mp-map-view .behaviour-score-item-B {
    background: #65b300;
  }
  .behaviour-score-item-C,
  .mp-map-view .behaviour-score-item-C {
    background: #d4d107;
  }
  .behaviour-score-item-D,
  .mp-map-view .behaviour-score-item-D {
    background: #ffad00;
  }
  .behaviour-score-item-E,
  .mp-map-view .behaviour-score-item-E {
    background: #ff6d2f;
  }
  .behaviour-score-item-F,
  .mp-map-view .behaviour-score-item-F {
    background: #ff4141;
  }
  .behaviour-score-item-G,
  .mp-map-view .behaviour-score-item-G {
    background: #d60000;
  }
  .behaviour-score-item-grade,
  .mp-map-view .behaviour-score-item-grade {
    font-size: 20px;
    font-weight: 500;
    font-family: "MuseoSans", Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }
  .behaviour-score-item-value,
  .mp-map-view .behaviour-score-item-value {
    display: inline-block;
    vertical-align: middle;
  }
  .behaviour-score-item-icon,
  .mp-map-view .behaviour-score-item-icon {
    width: 30px;
    text-align: center;
    padding: 0;
  }
  .behaviour-score-item-icon svg,
  .mp-map-view .behaviour-score-item-icon svg {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    margin-top: -3px;
  }
  .behaviour-score-item-icon svg path,
  .mp-map-view .behaviour-score-item-icon svg path {
    fill: #fff;
  }
  .tachograph-driver-tabs,
  .mp-map-view .tachograph-driver-tabs {
    padding: 0 16px;
    border-bottom: 1px solid #dcdee0;
  }
  .tachograph-driver-tabs-item,
  .mp-map-view .tachograph-driver-tabs-item {
    display: inline-block;
    width: 50%;
    padding: 8px 0;
    text-align: center;
    font-family: "MuseoSans", Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
  .tachograph-driver-tabs-item.active,
  .mp-map-view .tachograph-driver-tabs-item.active {
    border-bottom: 4px solid #98ca02;
  }
  .tachograph-driver-tabs-item .name,
  .mp-map-view .tachograph-driver-tabs-item .name {
    font-size: 14px;
  }
  .tachograph-driver-tabs-item .info,
  .mp-map-view .tachograph-driver-tabs-item .info {
    font-size: 12px;
    color: #797f82;
  }

  .tachograph-stats-item {
    display: inline-block;
    width: 33.33333%;
    border-right: 1px solid #dcdee0;
    border-bottom: 1px solid #dcdee0;
    text-align: center;
    vertical-align: middle;
    line-height: 66px;
    vertical-align: bottom;
    padding: 8px 0;
    position: relative;
  }
  .tachograph-stats-item::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #dcdee0;
    left: -1px;
    top: 0;
  }
  .tachograph-stats-item::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #dcdee0;
    right: -1px;
    top: 0;
  }
  .tachograph-stats-item .item-wrap {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    font-weight: 500;
    font-family: "MuseoSans", Arial, sans-serif;
  }
  .tachograph-stats-item .item-wrap .item-additional,
  .tachograph-stats-item .item-wrap .item-time {
    color: #797f82;
    font-size: 12px;
  }
  .tachograph-stats-item .item-wrap .item-value {
    font-size: 16px;
    margin: 4px 0;
  }
  .tachograph-stats-item .item-wrap .item-icon {
    vertical-align: middle;
    display: inline-block;
  }
  .tachograph-stats-item .item-wrap .item-icon svg {
    height: 18px;
    width: 18px;
  }
  .fuel-info {
    padding: 4px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .fuel-info:hover,
  .fuel-info.active {
    background: #f4f4f4;
    cursor: pointer;
  }
  .fuel-info .fuel-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: #98ca02;
    border-radius: 40px;
    text-align: center;
    line-height: 36px;
    box-shadow: 0 0 0px 1px #fff inset;
    border: 1px solid #98ca02;
    margin-right: 16px;
  }
  .fuel-info .fuel-icon svg {
    display: inline-block;
    vertical-align: middle;
  }
  .fuel-info .fuel-icon svg path {
    fill: #fff;
  }
  .fuel-info .value .amount {
    color: #65b300;
  }
  .fuel-info.down .fuel-icon {
    background: #de4950;
    border: 1px solid #de4950;
  }
  .fuel-info.down .value .amount {
    color: #ff4141;
  }
  .fuel-info .fuel-stats {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    font-family: "MuseoSans", Arial, sans-serif;
    font-weight: 500;
    color: #797f82;
  }
  .fuel-info .fuel-stats .secondary {
    display: block;
    color: #797f82;
    font-size: 12px;
    width: 85%;
  }
  .fuel-info .fuel-stats svg {
    display: inline-block;
    vertical-align: sub;
  }

  .fuel-changes-modal {
    min-height: 600px;
    padding: 0;
  }
  .fuel-changes-modal .mp-inline-block {
    vertical-align: top;
    position: relative;
  }
  .fuel-changes-modal .fuel-changes-list {
    max-width: 292px;
    position: relative;
    overflow: hidden;
  }
  .fuel-changes-modal .fuel-changes-list .fuel-stats {
    width: 204px;
  }
  .fuel-changes-modal .btn-all-stats {
    position: absolute;
    bottom: 16px;
    z-index: 999;
    left: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .fuel-changes-modal .btn-all-stats:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .map-fuel-icon {
    background: #98ca02;
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px 0 #98ca02;
    text-align: center;
    border-radius: 3px;
    position: relative;
    margin-left: -13px;
    margin-top: -26px;
    cursor: pointer;
  }
  .map-fuel-icon::after {
    content: "";
    width: 7px;
    height: 7px;
    background: #98ca02;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(45deg);
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .map-fuel-icon.down {
    background: #ea5228;
    box-shadow: 0 1px 2px 0 #ea5228;
  }
  .map-fuel-icon.down::after {
    background: #ea5228;
  }
  .map-fuel-icon svg path {
    fill: #fff;
  }
  .map-fuel-icon.active {
    background: #5a5a5a;
  }
  .map-fuel-icon.active::after {
    background: #5a5a5a;
  }
  .mp-btn-margined {
    margin: 8px 16px 0 !important;
  }
  .mp-btn.mp-btn-green {
    color: #fff;
    background: #98ca02;
  }
  .mp-btn {
    display: inline-block;
    padding: 4px 12px 4px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  .today-status{
    .letter{
      font-weight: bold;
    }
  }
  ///
  
}

.command-confirm{
    padding: 15px;
    .btn{
      border-radius: 20px
    }
}
// item-camera
.item-camera{
  position: relative;
  position: relative;
  margin: 10px 10px;
  border-radius: 10px;
  overflow: hidden;

  .camera-name{
    position: absolute;
    top: 0px;
    font-size: 20px;
    color: #fff;
    padding: 3px 10px;
    background: #ffffff24 !important;
    border-radius: 10px;
    margin: 8px;
    opacity: 0.9;
  }
  iframe{
    border-radius: 10px;
  }
}