.breadcrumb-vnet 
{

    .breadcrumb-parent
    {
        a{
            // margin: 0px 6px;
            &:hover{
                text-decoration: underline;
            }
        }
        vertical-align: middle;
    }
    .breadcrumb-next{
        vertical-align: middle;

        color:#908f9b;
        font-size: 11px;
    }
}
