<div class="breadcrumb-vnet">
    <h3  class="kt-portlet__head-title">
        <span *ngFor = "let item of data" class="breadcrumb-parent">
            <!-- <i class="{{item.icon}}"></i> -->
            <a class="kt-font-primary"  routerLink="{{item.link}}">
                {{item.translate | translate | uppercase}}
            </a>
        </span>
        <span class="breadcrumb-next"><i class="flaticon2-next" style="font-size: 11px;"></i>
       </span>
        {{title | uppercase}}
    </h3>
</div>
