<!-- <p>sidebar works!</p> -->
<div style="width: 300px;height: 100%; background: #fff;padding: 10px;overflow: hidden;">
    {{testInput}}
    <!-- <app-users-tree nameTree="userTreeRoot" isLocalStore=true></app-users-tree> -->
</div>