:host {
	.kt-aside {
		height: 100%;
		border-right: 1px solid #00000036 !important;
		// box-shadow: 0px 0px 28px 0px rgba(129, 126, 134, 0.27);
	}

	// fixed text line break issue on minimized aside hover
	.kt-menu__link-text {
		white-space: nowrap;
	}
}
