<div class="kt-geofence-tool" style="" resizeObserver
    (resize)="onResize($event.contentRect)">
    <div class="kt-left" style="">
        <div class="kt-portlet kt-portlet--mobile" id="geofenceConfig">
            <!-- <div class="kt-portlet__head" id="geofenceHeader">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {{'MANAGE.GEOFENCE.TOOL.INFO_GEOFENCE' | translate}}
                    </h3>            
                </div>
            </div> -->
            <!--begin::Form-->

            <form class="kt-form validate is-invalid" [formGroup]="geofenceForm" (change)="formChange($event)"
                id="formGeofenceTool" >
                <div class="kt-portlet__body kt-portlet__body--overflow-y" id="geofenceBody">

                    <div class="form-group">
                        <label>{{'MANAGE.GEOFENCE.TOOL.NAME' | translate}}</label>
                        <input type="text" class="form-control" formControlName="name">
                        <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'name'">
                        </kt-message-error>
                        <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                    </div>

                    <div class="form-group">
                        <label>{{'MENU.MANAGE_GEOFENCE_GROUP' | translate}}</label>
                        <select       
                            
                            multiple
                            
                            id="typeGroupGeofence"
                            class="form-control"
                            title="{{'MANAGE.GEOFENCE_GROUP.GENERAL.CHOISE' | translate}}"
                            >
                              <!-- <option value="">{{'MANAGE.GEOFENCE_GROUP.GENERAL.CHOISE' | translate}}</option> -->
                                <ng-container  *ngFor='let geofence of listGeofenceGroup'>
                                        
                                        <option value="{{geofence.id}}">
                                            {{geofence.name}}
                                        </option>
                                </ng-container>
                           </select>
                    </div>
                    <!-- <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control" placeholder="type" disabled>
                        </div>                    -->
                    <div class="form-group form-group-last">
                        <label for="exampleTextarea">{{'MANAGE.GEOFENCE.TOOL.DESCRIPTION' | translate}}</label>
                        <textarea class="form-control" formControlName="description" rows="2"></textarea>
                        <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'description'">
                        </kt-message-error>
                    </div>
                    <div class="form-group" *ngIf="isCricle">
                        <label>{{'MANAGE.GEOFENCE.TOOL.RADIUS' | translate}} (m)</label>
                        <input type="text" class="form-control" formControlName="radius" placeholder="">
                        <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'radius'">
                        </kt-message-error>
                    </div>
                    <div formArrayName="latlngArr">
                        <div *ngFor="let latlng of formLatLngs.controls ; let i = index;">
                            <div class="row" [formGroupName]="i">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{'MANAGE.GEOFENCE.TOOL.LATITUDE' | translate}} {{i+1}}</label>
                                        <input type="text" class="form-control" formControlName="lat" placeholder="">
                                        <kt-message-error [errorFormGroup]="latlng.controls"
                                            [errorFormControlName]="'lat'">
                                        </kt-message-error>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{'MANAGE.GEOFENCE.TOOL.LONGITUDE' | translate}} {{i+1}}</label>
                                        <input type="text" class="form-control" formControlName="lng" placeholder="">
                                        <kt-message-error [errorFormGroup]="latlng.controls"
                                            [errorFormControlName]="'lng'">
                                        </kt-message-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>{{'MANAGE.GEOFENCE.TOOL.COLOR' | translate}} ({{geofenceInfo.color}})</label>
                                <input class="form-control" type="color" formControlName="color">
                                <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'color'">
                                </kt-message-error>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>{{'MANAGE.GEOFENCE.TOOL.OPACITY' | translate}}
                                    ({{geofenceInfo.opacity*100}}%)</label>
                                <input class="form-control" value="5" formControlName="opacity" type="range" min="1"
                                    max="10">
                                <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'opacity'">
                                </kt-message-error>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>{{'MANAGE.GEOFENCE.TOOL.FILL_COLOR' | translate}}
                                    ({{geofenceInfo.fillColor}})</label>
                                <input class="form-control" type="color" formControlName="fillColor" value="#563d7c">
                                <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'fillColor'">
                                </kt-message-error>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>{{'MANAGE.GEOFENCE.TOOL.FILL_OPACITY' | translate}}
                                    ({{geofenceInfo.fillOpacity*100}}%)</label>
                                <input class="form-control" type="range" formControlName="fillOpacity" min="1" value="5"
                                    max="10">
                                <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'range'">
                                </kt-message-error>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot" id="poiFooter">
                    <div class="kt-form__actions">
                        <button type="button" class="btn btn-primary"
                            (click)="onSubmit()">{{(typeAction=='edit'?'COMMON.ACTIONS.SAVE_CHANGES':'COMMON.ACTIONS.ADD') | translate}}</button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-secondary"
                            (click)="onReset()">{{'COMMON.GENERAL.RESET' | translate}}</button>&nbsp;&nbsp;
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
    <div class="kt-map" style="">
        <div class="map" id="map" leaflet leafletDraw [leafletOptions]="options" [leafletDrawOptions]="drawOptions"
            (leafletDrawReady)="onDrawReady($event)" (leafletDrawCreated)="onCreated($event)"
            (leafletMapReady)="onMapReady($event)">
        </div>
        <!-- Process text -->
        <div
            style="position: absolute; display: flex; flex-direction: column; justify-content: center; right: 0px; z-index: 1; opacity: 0;">
            <svg [id]="mapConfig.options.elementProcessText">
                <text x="22" y="15" fill="#fff" font-size="11"></text>
                <text x="22" y="15" fill="#fff" font-size="11"></text>
            </svg>
        </div>
        <div *ngIf="showListDevice" class="list-device">
            <kt-widget-check-list *ngIf="listData.length>0" [data]="listData" [filter]="'name'"
                placeholder="{{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}}..." [isSwitch]="false"
                [size]="'col-lg-6'" (checkedChange)="onWidgetCheckChange($event)">
            </kt-widget-check-list>
        </div>
        <div class="map-control">
            <a ngbTooltip="{{'MANAGE.GEOFENCE.TOOL.SHOW__HIDE_DEVICES'|translate}}" container="body" placement="left"
                class="control-item" (click)="changeShowListDevice()">
                <i class="flaticon2-lorry"></i>
            </a>
        </div>
    </div>

</div>