.modal-body-Command .kt-portlet__body_command{
    max-height: 300px !important;
    padding-bottom: 10px !important;
    min-height: 150px !important;
}
.modal-body-Command .kt-portlet .kt-portlet__head{
    height: 50px;
}
.modal-body-alert .card-body{
    padding: 0px
}
.modal-body-alert .card{
    border: none !important;
    border-bottom: 1px solid #ebedf2 !important; 
}
.modal-body-alert .card:last-child{
    border: none !important
}
.modal-body-alert .accordion
{
    max-height: 400px;
    min-height: 300px;

    overflow: auto;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
}  
.modal-body-alert .icon-alert{
    font-size: 14px;
    margin-left: 7px;
}
.modal-body-alert .text-from{
    position: absolute;
    bottom: 54px; 
}
.isActive
{
    position: absolute;
    left: 20px;
}
.modal-body-alert .lists-devices
{
    height: 294px;  
    overflow: hidden;
}
.modal-body-alert .dropdown-menu
{
    top: -232px;
}
.modal-body-alert .list-weeks{
    margin-top: 15px
}
.accordion.accordion-toggle-arrow .card .card-header .card-title{
    color:#000
}
.list-weeks .kt-checkbox{
    padding-left: 22px;
    margin-right: 14px;
}
.form-group.row .kt-radio-inline{
    margin-top: 0px
}
.ngb-tp-input-container input{
    padding: 0px;
    height: 32px;
    width: 40px;
}
.ngb-tp .form-control{
    width: 30px !important;
    height: 30px !important;
    padding: 0px !important
}
.accordion li a.active{
    background-color: #f7f8fa !important;
}
.accordion li a.active span{
    color: #5d78ff !important;
    font-weight: bold;

}
.period_active{
    padding-top: 17px;

}
.period_active input{
    width: 240px !important;
}
#info_notification input{
    margin-bottom: 6px 
}
.tab-event {
    padding:0px
}
.tab-event .card-body{
    padding:10px 0px !important 
}
// .tab-errors a.active{
//     color: #fd397a !important;
//     border-bottom: 1px solid #fd397a !important;
// }
// .tab-errors i{
//     color: #fd397a !important;
//     font-size: 11px !important;
// }
ngb-datepicker.dropdown-menu{
    left: -16px !important;
    width: 235px !important;
}
.lists-geofence .kt-portlet__body{
    min-height: 230px;
    max-height: 300px;
}
#info_notification .kt-radio-inline .kt-radio{
    margin-bottom: 0px;
    padding-left: 24px;
}
#info_notification .kt-radio-inline{
    margin-left: 5px;
}
.lists-devices-global .kt-portlet__body{
    height: 228px !important;
}
#kt_tab_notification{
    .text-from{
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
}