.box-date{
    padding-right: 43px;
}
.choise-date{
    float: right;
    width: 115px;
    cursor: pointer;
}
.choise-date input{
    min-width: auto !important;
}
.title-chart{
    float: left;
}
.top-chart{
    padding-left: 25px;
    padding-bottom: 9px;
    span{
        font-weight: bold;
        font-size: 15px;
        color: #48465b;
    }
}
.kt-portlet__body_chart{
    padding:15px 0px;
    overflow: hidden;
}
canvas{
    width: 100%;
}
.next-previou{
    position: absolute;
    right: 0px;
    z-index: 9999;
    float: right;
    padding-top: 4px;
    button{
        height: 21px;
        width: 20px;
    }
}
.not-found-chart{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    padding-left: 61px;
}
.loading-chart{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65%;
    margin-left: 31px;}
.label-yAxes span{
    font-weight: bold;
    font-size: 13px;
    padding-left: 74px;
}