<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [btnClose]="true" (changeUser)="ChangeUserTree($event)"
            [allowCollapse]="true">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px">
        <kt-user-info [user]="currentUser" [type]="'user'"></kt-user-info>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">

                <h3 class="kt-portlet__head-title">
                    {{'MANAGE.GENERAL.USER' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="buttonAddNew(content)"
                        aria-expanded="false">
                        <i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                        {{'MANAGE.GENERAL.USER' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormUsers" (ngSubmit)='searchUser(searchFormUsers)'>
                    <div class="kt-section">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12 ">
                                <div class="kt-form__control form-group">
                                    <input type="text" class="form-control"
                                        placeholder="{{'MANAGE.USER.GENERAL.USERNAME_OR_NAME' | translate}}"
                                        formControlName="username">
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12 ">
                                <div class="kt-form__control form-group">
                                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                                <div class="kt-form__group kt-form__group--inline form-group">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" formControlName="subAccount">
                                        {{'MANAGE.DEVICE.GENERAL.SUB_ACCOUNT' | translate}}
                                        <span></span>
                                    </label>
                                    &nbsp;
                                    <button type="submit" class="btn btn-outline-brand btn-pill">
                                        <i class="icon-search"></i>{{'COMMON.GENERAL.SEARCH' | translate}}
                                    </button>
                                    &nbsp;
                                    <button (click)='resetFormSearch()' class="btn btn-outline-brand btn-pill">
                                        <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" style="display: block;">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;">
                                <!-- subRow -->
                                <th *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                    <span></span>
                                </th>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <th *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                    <span style="width: 20px;">
                                        <label
                                            class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                            <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                                [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </th>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="Username" class="kt-datatable__cell" ngbTooltip="{{item.username}}">
                                    <span *ngIf="item.type != 1" [ngStyle]="dataTable.getColumns()[1].style"><i
                                            class="fa fa-user icon-user-tree-child"></i>{{item.username}}</span>
                                    <span *ngIf="item.type == 1" [ngStyle]="dataTable.getColumns()[1].style"><i
                                            class="fa fa-user icon-user-tree-parent"></i>{{item.username}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell" ngbTooltip="{{item.roleName}}">

                                    <span [ngStyle]="dataTable.getColumns()[2].style">{{item.roleName}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    class="kt-datatable__cell" ngbTooltip="{{item.name}}">
                                    <span [ngStyle]="dataTable.getColumns()[3].style">{{item.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    class="kt-datatable__cell" ngbTooltip="{{item.phone}}">
                                    <span [ngStyle]="dataTable.getColumns()[4].style">{{item.phone}}</span>
                                </td>
                                <td ngxClipboard [cbContent]="item.email" (cbOnSuccess)="copied($event)"
                                    [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    class="kt-datatable__cell clipboard" ngbTooltip="{{item.email}}">
                                    <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                        <i class="icon-copy"></i>
                                    </a>
                                    <span [ngStyle]="dataTable.getColumns()[5].style">{{item.email}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    class="kt-datatable__cell">

                                    <span [ngStyle]="dataTable.getColumns()[6].style">
                                        <i *ngIf="item.status == 1" class="fa fa-check-circle kt-font-success"></i>
                                        <i *ngIf="item.status == 0" class="fa fa-check-circle kt-font-danger"></i>
                                    </span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[7].style">{{item.createdAt | userDate}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[8].isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[8].style">

                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                            (click)="editUser(item.id,content)"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                            <i class="icon-edit
                                          "></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.GENERAL.RESET' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            data-original-title="Reset password User"
                                            (click)="getIdAction(item.id,'#modal-reset-password')">
                                            <i class="icon-sync"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            data-original-title="Delete User"
                                            (click)="getIdAction(item.id,'#modal-delete-user')">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>

                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[1].style">{{item.userName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell" ngbTooltip="{{item.roleName}}">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td ngxClipboard class=" kt-datatable__cell clipboard"
                                                ngbTooltip="{{item.roleName}}">
                                                <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                                    <i class="icon-copy"></i>
                                                </a>
                                                <a ngbTooltip="{{'COMMON.GENERAL.RESET' | translate }}"
                                                    class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                    data-original-title="Reset password User"
                                                    (click)="getIdAction(item.id,'#modal-reset-password')">
                                                    <i class="icon-sync"></i>
                                                </a>
                                                <span [ngStyle]="dataTable.getColumns()[5].style"
                                                    translate="{{item.nameKey}}">{{item.email}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell clipboard">
                                                <span [ngStyle]="dataTable.getColumns()[6].style">
                                                    <i *ngIf="item.status == 1"
                                                        class="fa fa-check-circle kt-font-success"></i>
                                                    <i *ngIf="item.status == 0"
                                                        class="fa fa-check-circle kt-font-danger"></i>
                                                </span>
                                            </td>
                                        </tr>


                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[7].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[7].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell clipboard">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[7].style">{{item.createdAt | userDate}}</span>

                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[8].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[8].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span style="overflow: visible; position: relative; width: 110px;">

                                                    <a title="Edit details" (click)="editUser(item.id,'#modal-users')"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                        <i class="icon icon-edit
                                                          "></i>
                                                    </a>
                                                    <a title="refresh" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        data-original-title="Reset password User"
                                                        (click)="getIdAction(item.id,content)">
                                                        <i class="icon icon-sync"></i>
                                                    </a>
                                                    <a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        data-original-title="Delete User"
                                                        (click)="getIdAction(item.id,'#modal-delete-user')">
                                                        <i class="icon icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>


                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>

                </table>

                <!--*paging nav*-->
                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>

                <!--end: Datatable -->
                <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                    style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                    <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                            <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                        </span>
                    </div>
                </div>

                <!--end: Datatable -->
                <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                    style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                    <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                            <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'COMMON.ACTIONS.ADD_NEW' | translate}}
            {{'MANAGE.GENERAL.USER' | translate }}
        </h5>
        <h5 class="modal-title" *ngIf="isEdit">
            {{'COMMON.ACTIONS.EDIT' | translate}}
            {{'MANAGE.GENERAL.USER' | translate }}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <form [formGroup]="saveFormUsers" (ngSubmit)='onSubmit(saveFormUsers)' class="form-global">
        <div class="modal-body popup-user-tree">
            <div class="form-info">
                <div class="tab-title-modal">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-info" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#info_global" role="tab">
                                {{'COMMON.GENERAL.BASE' | translate}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#info_config" role="tab">
                                {{'COMMON.GENERAL.PARAMETER' | translate}}
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="isEdit">
                            <a class="nav-link " data-toggle="tab" href="#info_notification"  (click)="openTabNotification()" role="tab">
                                {{'COMMON.GENERAL.NOTIFICATIONS' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="info_global" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            <div class="content-left">
                                <div *ngFor="let default of dataDefault">

                                    <div class="row">
                                        <div class="form-group  col-lg-6">
                                            <div class="show-error">
                                                <label>{{'COMMON.COLUMN.USERNAME' | translate}} </label>
                                                <app-control-messages [control]="f['username']"></app-control-messages>
                                                <span class="text-danger"> *</span>
                                            </div>
                                            <div class="input-group">

                                                <input [attr.disabled]="isEdit ? '' : null" type="text" class="form-control"
                                                    placeholder="" [ngModel]="isEdit?default.username:''"
                                                    formControlName="username">
                                            </div>

                                        </div>
                                        <div class="form-group  col-lg-6">
                                            <div class="show-error">
                                                <label>{{'MANAGE.USER.GENERAL.FULL_NAME' | translate}}</label>
                                                <app-control-messages [control]="f['name']"></app-control-messages>
                                                <span class="text-danger"> *</span>
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder=""
                                                    [ngModel]="isEdit?default.name:''" formControlName="name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="form-group col-lg-6">
                                            <label>{{'MANAGE.USER.GENERAL.PHONE' | translate}}</label>
                                            <app-control-messages [control]="f['phone']"></app-control-messages>
                                            <div class="input-group">

                                                <input type="text" class="form-control" placeholder=""
                                                    [ngModel]="isEdit?default.phone:''" formControlName="phone">
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <div class="show-error">
                                                <label>{{'MANAGE.USER.GENERAL.EMAIL' | translate}} </label>
                                                <app-control-messages [control]="f['email']"></app-control-messages>
                                            </div>
                                            <div class="input-group">

                                                <input type="text" class="form-control" placeholder=""
                                                    [ngModel]="isEdit?default.email:''" formControlName="email">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="form-group  col-lg-6">
                                            <label>{{'MANAGE.USER.GENERAL.ROLE_NAME' | translate}}</label>
                                            <div class="input-group">


                                                <select [ngModel]='isEdit?default.roleId:"3"'
                                                    class="form-control kt_selectpicker padding-7" formControlName="role">
                                                    <option value="null">
                                                        {{'COMMON.MESSAGE.NOTHING_SELECTED' | translate}}
                                                    </option>
                                                    <option *ngFor='let role of listRoles' [ngValue]="role.id">
                                                        {{role.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group  col-lg-6">
                                            <label>{{'MANAGE.USER.GENERAL.ACCOUNT_TYPE' | translate}}</label>
                                            <div class="input-group">

                                                <select [ngModel]='isEdit?default.type:"4"' name="kt_table_1_length"
                                                    aria-controls="kt_table_1" class=" form-control kt_selectpicker padding-7"
                                                    formControlName="type">
                                                    <option *ngFor='let type of listUserType' [ngValue]="type.id">
                                                        {{type.key | translate}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" row">

                                        <div class="form-group col-lg-6">
                                            <label>{{'COMMON.COLUMN.DESCRIPTION' | translate}} </label>
                                            <div class="input-group">
                                                <textarea class="form-control" [ngModel]="isEdit?default.description:''"
                                                    formControlName="description" rows="5">
                                                        {{isEdit?default.description:''}}
                                                        </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label>{{'COMMON.COLUMN.ADDRESS' | translate}} </label>
                                            <div class="input-group">
                                                <textarea class="form-control" [ngModel]="isEdit?default.address:''"
                                                    formControlName="address" rows="5">
                                                            {{isEdit?default.address:''}}
                                                        </textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-lg-6">
                                            <label>{{'MANAGE.USER.GENERAL.PAGE_MAIN' | translate}}</label>
                                            <div class="input-group">

                                                <select name="kt_table_1_length" aria-controls="kt_table_1"
                                                    class=" form-control kt_selectpicker kt_selectpicker_pagemain padding-7"
                                                    formControlName="pageMain" id="pageMain">
                                                    <ng-container *ngFor='let page of listPageMain'>
                                                        <option value="{{page.page}}"
                                                            attr.data-content='<i class="{{page.icon}}"></i> <span class="text">{{page.translate | translate}}</span>'>

                                                        </option>
                                                    </ng-container>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="content-right">
                                <label style="font-size: 1rem;
                                            font-weight: 400;">{{'MANAGE.USER.GENERAL.PARENT_USER' | translate}}</label>
                
                                <!-- <app-users-tree nameTree="addNewUser"></app-users-tree> -->
                                <kt-user-tree-new [userTreeName]="'addNewUser'" [showCountDevice]="true" [eventUpdate]="parrentEmiter"
                                    (changeUser)="getParrentUser($event)" storeLocal="true" [style]="{'width':'100%'}">
                                </kt-user-tree-new>
                            </div>
                        </div>
                    </div>
                    <!--end html global-->
                    <!--html advanced-->
                    <div class="tab-pane" id="info_config" role="tabpanel">
                        <div *ngFor="let default of dataDefault">
                            <div class="row">
                                <div class="form-group col-lg-6">

                                    <label>{{'MANAGE.USER.PARAMETER.TIMEZONE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.timezone' data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="timezone">

                                            <option *ngFor='let item of listTimeZone' value="{{item.timeZone}}">
                                                {{item.timeZone}} ({{item.GMTOffset}})
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.LANGUAGE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.language' data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="language">

                                            <option *ngFor='let language of languageList' value="{{language.key}}">
                                                {{language.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DISTANCE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitDistance'
                                            class="form-control kt_selectpicker padding-7" formControlName="distance">

                                            <option *ngFor='let distance of unitDistance' value="{{distance.id}}">
                                                {{distance.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.VOLUME' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitVolume'
                                            class="form-control kt_selectpicker padding-7" formControlName="volume">

                                            <option *ngFor='let volume of unitVolume' value="{{volume.id}}">
                                                {{volume.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.TEMPERATURE' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitTemperature'
                                            class="form-control kt_selectpicker padding-7"
                                            formControlName="temperature">

                                            <option *ngFor='let temperature of unitTemperature'
                                                value="{{temperature.id}}">
                                                {{temperature.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.WEIGHT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.unitWeight'
                                            class="form-control kt_selectpicker padding-7" formControlName="weight">

                                            <option *ngFor='let weight of unitWeight' value="{{weight.id}}">
                                                {{weight.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DATE_FORMAT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.dateFormat'
                                            class="form-control kt_selectpicker padding-7" formControlName="date">

                                            <option *ngFor='let date of dateFormat' value="{{date.type}}">
                                                {{date.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.TIME_FORMAT' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.timeFormat'
                                            class="form-control kt_selectpicker padding-7" formControlName="time">

                                            <option *ngFor='let time of timeFormat' [ngValue]="time.type">
                                                {{time.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.DECIMAL_SEPARATOR' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.decimalSeprerator'
                                            class="form-control kt_selectpicker padding-7" formControlName="seprerator">

                                            <option *ngFor='let seprerator of decimalSeprerator'
                                                value="{{seprerator.id}}">
                                                {{seprerator.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>{{'MANAGE.USER.PARAMETER.FIRST_WEEKDAY' | translate}}</label>
                                    <div class="input-group">

                                        <select [ngModel]='default.weekFirstDay'
                                            class="form-control kt_selectpicker padding-7" formControlName="fisrtday">

                                            <option *ngFor='let fisrtday of weekFirstDay' [ngValue]="fisrtday.id">
                                                {{fisrtday.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--end data d-->
                    </div>
                    <!--end html advanced-->

                    
                    <!-- html notification  -->
                    <div class="tab-pane" id="info_notification" role="tabpanel">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="lists-group-permission">
                                    <div class="kt-portlet">
                                      <h3 class="kt-portlet__head-title">
                                        <!-- {{list.permissionGroup}} -->
                                        <!-- {{list.groupTranslate}} -->
                                        {{ 'MANAGE.USER.NOTIFICATIONS.DEVICE' | translate}}
                                        <span class="kt-switch kt-switch--sm kt-switch--icon float-right" style="height: 0px;margin:0px">
                                          <label>
                                            <input type="checkbox">
                                            <!-- <input type="checkbox" [(ngModel)]="list.checked" (change)="checkUncheckAll(list.permissionGroup)"
                                              formControlName="{{list.permissionGroup}}"> -->
                                            <span></span>
                                          </label>
                                        </span>
                                      </h3>
                                      <div class="kt-portlet__body">
                                        <div class="form-group row">
                                          <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="SOS" formControlName="sosType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                              {{ 'MANAGE.USER.NOTIFICATIONS.SOS' | translate}}
                                            </label>
                                          </div>

                                          <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="LOW_BATTERY" formControlName="batteryType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                              {{ 'MANAGE.USER.NOTIFICATIONS.BATTERY_LOW' | translate}}
                                            </label>
                                          </div>
                        
                                          <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="EXTERNAL_POWER_CUT" formControlName="powerType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                              {{ 'MANAGE.USER.NOTIFICATIONS.EXTERNAL_POWER_CUT' | translate}}
                                            </label>
                                          </div>
                        
                                          <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="GEOFENCE_IN" formControlName="geoInType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                              {{ 'MANAGE.USER.NOTIFICATIONS.GEOFENCE_IN' | translate}}
                                            </label>
                                          </div>

                                          <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="GEOFENCE_OUT" formControlName="geoOutType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                              {{ 'MANAGE.USER.NOTIFICATIONS.GEOFENCE_OUT' | translate}}
                                            </label>
                                          </div>

                                          <!-- <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="ENGINE_ON" formControlName="engineOnType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                                {{ 'MANAGE.USER.NOTIFICATIONS.ENGINE_ON' | translate}}
                                            </label>
                                          </div>

                                          <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="ENGINE_OFF" formControlName="engineOffType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                                {{ 'MANAGE.USER.NOTIFICATIONS.ENGINE_OFF' | translate}}
                                            </label>
                                          </div> -->

                                          <div class="col-lg-4">
                                            <span class="kt-switch kt-switch--sm kt-switch--icon float-left">
                                              <label>
                                                <input type="checkbox" name="VIBRATION" formControlName="vibrationType" >
                                                <span></span>
                                              </label>
                                            </span>
                                            <label class="col-form-label">
                                             {{ 'MANAGE.USER.NOTIFICATIONS.VIBRATION' | translate}}
                                            </label>
                                          </div>
                        
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <!-- end notification  -->
                   
                </div>
            </div>
        </div>
        <!--end body modal-->
        
        <div class="modal-footer">
            <div *ngIf="isLoginError" class="text-danger error-message">
                {{errorMessage}}
            </div>
            <button type="submit" *ngIf="!isEdit" [disabled]="saveFormUsers.invalid" class="btn btn-primary">
                {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
            <button *ngIf="isEdit" type="submit" [disabled]="saveFormUsers.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
            </button>

            <button type="button" class="btn btn-secondary"
                (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>

</ng-template>
<!-- end modal popup -->

<!--modal reset pass-->
<div class="modal fade  modal-confirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true" id="modal-reset-password">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'COMMON.MESSAGE.COMFIRM_RESET' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fa fa-question-circle"></i> {{'COMMON.MESSAGE.PASSWORD_DEFAULT' | translate }}
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary"
                    (click)="resetPassword()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<!--end modal reset pass-->
<!-- modal delete user -->
<div class="modal fade   modal-confirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true" id="modal-delete-user">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }}
                    {{'MANAGE.GENERAL.USER' | translate }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fa fa-question-circle"></i> {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary"
                    (click)="deleteUser()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<!--end modal delete user-->