// .kt-datatable__head .kt-datatable__row{
//     display: table-row!important;
//     th,td{
//         border:1px solid #f0f3ff;
//         padding-left:10px!important;
//         padding-right:10px!important;
//     }
// }
.kt_datatable--overflow {
    margin-bottom:0px!important;
    overflow: auto;
    .kt-datatable__table {
        display: table !important;
        .kt-datatable__head,
        .kt-datatable__body {
            display: table-row-group !important;

            .kt-datatable__row {
                display: table-row !important;
            }
        }
    }
    .kt-datatable__head .kt-datatable__row {
        th,td {
            border: 1px solid #f0f3ff;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}