<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px;max-width: 100%;overflow: auto;">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="icon-setting"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{'ADMIN.FEEDBACK.GENERAL.FEEDBACK_MANAGE' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch"
                (keyup.enter)="search()">
                <div class="row">
                    <div class="col-xl-2 col-lg-4  col-md-4  col-sm-12">
                        <div class="form-group">
                            <kt-date-range-picker #datePicker ngbTooltip="{{'POINTS.SEARCH.DATE'|translate}}"
                                container="body" [options]="datePickerOptions" (dateChange)="dateRouteChange($event)">
                            </kt-date-range-picker>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <select class="selectpicker form-control selectpicker-status" data-size="5"
                                data-width="100%" data-key="status"
                                title="{{'COMMON.FEEDBACK.GENERAL.CHOOSE_STATUS' | translate}}">
                                <option value="">{{'COMMON.FEEDBACK.GENERAL.CHOOSE_STATUS' | translate}}</option>
                                <option value="0">{{'COMMON.FEEDBACK.STATUS.PENDDING' | translate}}</option>
                                <option value="1">{{'COMMON.FEEDBACK.STATUS.COMPLETE' | translate}}</option>
                                <option value="2">{{'COMMON.FEEDBACK.STATUS.SKIP' | translate}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6  col-md-6  col-sm-12">
                        <div class="form-group form-group--mobile">
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="search()"
                                [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--primary kt-spinner--right':dataTable.isLoading}">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->

            <!-- begin: Feature -->
            <!-- end: Feature -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <div class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded kt_datatable--overflow">
                    <table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'auto')}"
                        style="display: block;" id="dataTable">
                        <!-- Header -->
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row " style="left: 0px; text-align: center;">
                                <th class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                    <span style="width:20px">
                                        #
                                    </span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" colspan="5">
                                    <span>
                                        {{"COMMON.COLUMN.FEEDBACK_INFO" | translate}}
                                    </span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" colspan="3">
                                    <span>
                                        {{"COMMON.COLUMN.ACCESS_INFO" | translate}}
                                    </span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" colspan="4">
                                    <span>
                                        {{"COMMON.COLUMN.PROCESS_INFO" | translate}}
                                    </span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                    <span [ngStyle]="dataTable.getColumn('actions').style">
                                        {{"COMMON.COLUMN.ACTIONS" | translate}}
                                    </span>
                                </th>
                            </tr>
                            <tr class="kt-datatable__row" style="left: 0px;">
                                <ng-container *ngFor="let column of dataTable.getColumns()">
                                    <td [ngClass]="{'kt-datatable__cell--sorted':column.isSort} "
                                        *ngIf="column.headerShow!==false"
                                        [ngStyle]="{'display':(!column.isShow?'none':'')}"
                                        [attr.data-field]="column.field"
                                        class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                        (click)="dataTable.sort(column.field)">
                                        <span [ngStyle]="column.style">
                                            {{column.translate | translate}}
                                            {{(column.unit ? ( "("+column.unit + ")"):"")}}
                                            <i *ngIf="column.isSort"
                                                [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                        </span>
                                    </td>
                                </ng-container>
                            </tr>
                        </thead>

                        <!-- table body -->
                        <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle"
                            [ngStyle]="{'overflow':(dataTable.isResponsive?'':'unset!important')}">
                            <ng-container *ngFor="let item of dataTable.data;let i=index">
                                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                    class="kt-datatable__row" style="left: 0px;">
                                    <!-- subRow -->
                                    <td *ngIf="dataTable.isShowSubRow"
                                        class="kt-datatable__cell kt-datatable__toggle-detail">
                                        <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                            <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                        </a>
                                    </td>
                                    <!-- end subRow -->

                                    <!-- checkbox -->
                                    <td *ngIf="dataTable.selecter"
                                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                        data-field="RecordID"><span style="width: 20px;">
                                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                    (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <!-- end checkbox -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                        <span
                                            [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('name').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('name').style" ngbTooltip="{{item.name}}"
                                            container="body">{{item.name}}</span>
                                    </td>
                                    <!-- append -->
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('phone').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('phone').style" ngbTooltip="{{item.phone}}"
                                            container="body">{{item.phone}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('email').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('email').style" ngbTooltip="{{item.email}}"
                                            container="body">{{item.email}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('content').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('content').style"
                                            ngbTooltip="{{item.content}}" container="body">{{item.content}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('createdAt').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('createdAt').style"
                                            ngbTooltip="{{item.createdAt | userDateAdv:'datetime'}}"
                                            container="body">{{item.createdAt | userDateAdv:'date'}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('username').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('username').style"
                                            ngbTooltip="{{item.username}}" container="body">{{item.username}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('ipAddress').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('ipAddress').style"
                                            ngbTooltip="{{item.ipAddress}}" container="body">{{item.ipAddress}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('flatform').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('flatform').style"
                                            ngbTooltip="{{item.flatformText}}"
                                            container="body">{{item.flatformText}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('status').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('status').style"
                                            ngbTooltip="{{item.status}}" container="body">
                                            <ng-container [ngSwitch]="item.status">
                                                <ng-container *ngSwitchCase="0">
                                                    <span class="btn btn-bold btn-font-sm px-1">
                                                        <i class="icon-sm icon-minus-circle kt-font-warning"></i>
                                                    </span>
                                                    {{'COMMON.FEEDBACK.STATUS.PENDDING' | translate}}
                                                </ng-container>
                                                <ng-container *ngSwitchCase="1">
                                                    <span class="btn btn-bold btn-font-sm px-1">
                                                        <i class="icon-sm icon-check-circle1 kt-font-success"></i>
                                                    </span>
                                                    {{'COMMON.FEEDBACK.STATUS.COMPLETE' | translate}}
                                                </ng-container>
                                                <ng-container *ngSwitchCase="2">
                                                    <span class="btn btn-bold btn-font-sm px-1">
                                                        <i class="icon-sm icon-minus-circle kt-font-dark"></i>
                                                    </span>
                                                    {{'COMMON.FEEDBACK.STATUS.SKIP' | translate}}
                                                </ng-container>
                                                <ng-container *ngSwitchDefault>
                                                    <span class="btn btn-bold btn-font-sm px-1">
                                                        <i class="icon-sm icon-minus-circle kt-font-warning"></i>
                                                    </span>
                                                    {{'COMMON.FEEDBACK.STATUS.PENDDING' | translate}}
                                                </ng-container>

                                            </ng-container>
                                        </span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('description').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('description').style"
                                            ngbTooltip="{{item.description}}"
                                            container="body">{{item.description}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('modiffiedBy').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('modiffiedBy').style"
                                            ngbTooltip="{{item.modiffiedBy}}"
                                            container="body">{{item.modiffiedBy}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('updatedAt').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('updatedAt').style"
                                            ngbTooltip="{{item.updateAt | userDateAdv:'datetime'}}"
                                            container="body">{{item.updateAt | userDateAdv:'date'}}</span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumn('actions').isShow?'none':'')}"
                                        data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('actions').style"
                                            style="overflow: visible; position: relative;">
                                            <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}" container="body"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                (click)="open(content,'info',item)">
                                                <i class="icon-info"></i>
                                            </a>
                                            <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}" container="body"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                (click)="open(content,'edit',item)">
                                                <i class="icon-edit"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <!-- Sub row -->

                                <!-- end sub row -->
                            </ng-container>
                            <!-- No records found -->
                            <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                                <kt-not-found></kt-not-found>
                            </div>
                        </tbody>

                    </table>
                </div>

                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a>
                        </li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            <ng-container [ngSwitch]="action">
                <ng-container *ngSwitchCase="'edit'">
                    {{'ADMIN.FEEDBACK.GENERAL.UPDATE_FEEDBACK' | translate}}
                </ng-container>
                <ng-container *ngSwitchCase="'info'">
                    {{'ADMIN.FEEDBACK.GENERAL.FEEDBACK_INFO' | translate}}
                </ng-container>
            </ng-container>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="action">
            <ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormEdit">
            </ng-container>
            <ng-container *ngSwitchCase="'info'" [ngTemplateOutlet]="tmpFormInfo">
            </ng-container>
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container [ngSwitch]="action">
            <button *ngSwitchCase="'edit'"
                [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':processAction}" type="button"
                class="btn btn-primary" (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}
            </button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<!-- info form -->
<ng-template #tmpFormInfo>
    <form class="kt-form is-invalid" [formGroup]="formInfo">
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-tag"></i>
                {{'COMMON.COLUMN.FEEDBACK_INFO' | translate}}</div>
            <div class="kt-section__body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.NAME' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="name">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.PHONE' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.EMAIL' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="email">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.CONTENT' | translate}}</label>
                        <textarea class="form-control" rows="2" formControlName="content" readonly>
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.CREATED_DATE' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="createdAt">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>{{'COMMON.COLUMN.IMAGE' | translate}}</label>
                        <div class="input-group">
                            <kt-upload-file [urls]="currentItemSelected.images" [options]="optionsUploadFile">
                            </kt-upload-file>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-tag"></i>
                {{'COMMON.COLUMN.ACCESS_INFO' | translate}}</div>
            <div class="kt-section__body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.USERNAME' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="username">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.IP_ADDRESS' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="ipAddress">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.FLATFORM' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="flatform">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.USER_AGENT' | translate}}</label>
                        <textarea class="form-control" rows="3" formControlName="userAgent" readonly>
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-tag"></i>
                {{'COMMON.COLUMN.PROCESS_INFO' | translate}}</div>
            <div class="kt-section__body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.STATUS' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="status" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.DESCRIPTION' | translate}}</label>
                        <textarea class="form-control" rows="2" formControlName="description" readonly>
                        </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.UPDATED_BY' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="modiffiedBy" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>{{'COMMON.COLUMN.UPDATED_DATE' | translate}}</label>
                        <input type="text" class="form-control" readonly formControlName="updatedAt" readonly>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<!-- edit form  -->
<ng-template #tmpFormEdit>
    <form class="kt-form is-invalid" [formGroup]="formEdit">
        <div class=" row form-group">
            <label>{{'COMMON.COLUMN.STATUS' | translate}}</label>
            <select formControlName="status" id="feedbackStatus" class="selectpicker form-control"
                title="{{'COMMON.FEEDBACK.STATUS.CHOOSE_STATUS'|translate}}"
                (change)="onChangeStatus($event.target.value)">
                <option value="0">{{'COMMON.FEEDBACK.STATUS.PENDDING' | translate}}</option>
                <option value="1">{{'COMMON.FEEDBACK.STATUS.COMPLETE' | translate}}</option>
                <option value="2">{{'COMMON.FEEDBACK.STATUS.SKIP' | translate}}</option>
            </select>
            <kt-message-error [errorFormGroup]="fEdit" [errorFormControlName]="'status'">
            </kt-message-error>
        </div>
        <div class="row form-group">
            <label>{{'COMMON.COLUMN.DESCRIPTION' | translate}}</label>
            <textarea class="form-control" rows="2" formControlName="description">
            </textarea>
            <kt-message-error [errorFormGroup]="fEdit" [errorFormControlName]="'description'">
            </kt-message-error>
        </div>
    </form>
</ng-template>