<div class="top-chart">
        <div class="title-chart">
            <span>
                {{chartCurrent.label | translate}}
            </span>
        </div>
         <div class="box-date" >

                <div class="next-previou">
                        <button type="button"  [ngClass]="{'disabled':!allowPrevious}"
                        class="btn btn-sm btn-outline-info  btn-icon btn-circle" (click)="previousDate()"
                        style="    margin-right: 3px;"
                        ><i
                            class="icon-arrow-left"></i></button>
                        
                        <button type="button" [ngClass]="{'disabled':!allowNext}"
                            class="btn btn-sm btn-outline-info  btn-icon btn-circle " (click)="nextDate()"><i
                        class="icon-arrow-right"></i></button>
                </div>
                <div  ngbDropdown [placement]="'bottom-right'" class="choise-date">
                        <kt-date-range-picker #datePicker
                            [options]="datePickerOptions" 
                            (dateChange)="dateSelectChange($event)">
                        </kt-date-range-picker> 
                </div>
    </div>
        
</div>    

<div class="label-yAxes">
    <span>{{label_y | translate}}</span>
</div>
<canvas baseChart
[datasets]="barChartData"
[labels]="barChartLabels"
[colors]="pieChartColors"
[options]="barChartOptions"
[chartType]="barChartType">
</canvas>
<div *ngIf ="loading"
    class='loading-chart kt-spinner kt-spinner--sm kt-spinner--brand kt-spinner--center'>   
</div>
<div *ngIf="data.length == 0" class="not-found-chart" style="white-space: nowrap; color: rgb(87, 87, 87); display: block;"><i class="icon-database"></i> {{'DASHBOARD.NOT_FOUND' | translate}}</div>