.reports #sortable{
    list-style: none;
}
.listReports{
    background: rgb(255, 255, 255);
    // cursor: move;
    margin-bottom: 20px;
};
.listReports i{
    font-size: 20px;
}
.listReports{
    .ic-move,.close_div{
        // display: none;
    }
    &:hover{
        .ic-move,.close_div{
            display: block;
        }
        .ic-move{
            margin-top: 5px;
           font-size:16px; 
        }
    }
}
a.report_fet_box{
    p{
        height: 27px;
    }
    color: #666;
    z-index: 0;
    font-size: 14px;
    padding: -1px 34px;
    padding: 0px 10px 11px 10px;
    overflow: hidden;
    display: block;
}
a.report_fet_box span{
    display: block;
    margin-top: 0px;
    // vertical-align: middle;
    i{
        margin-right: 4px;
        font-size: 20px;
    }
}

.drag_div{
    i{
        font-size: 10px;
        opacity: 0.5;
        padding-left: 10px;
    }
    transform: rotate(-90deg);
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    cursor: move;
        }
.box-content{
    border: 1px solid rgb(220, 222, 224);
    padding: 22px 0px;
    text-align: center;
    position: relative;
    height:94px;
} 
.favorite-report .close_div{
    display: none;
} 
.favorite-report .box-content:hover .close_div{
    display: block;
}
.close_div{
    cursor: pointer;
    height: 11px;
    width: 11px;
    position: absolute;
    top: 3px;
    right: 6px;
    z-index: 1;
    i{
        font-size: 10px;
    }
}
.all-report 
{
    .close_div{
        top: 9px;
        right: 15px;
        i{
            font-size: 18px;
        }
    }
}
.kt-main
{
    .card{
        .card-header{
            padding: 0px !important;
            h3{
                margin: 0px;
                padding: 20px 36px;
            }
        }
        .card-body{
            padding-top: 0px !important;
        }
    }


}


.add-reports{
    padding: 22px;
    cursor: pointer;
    a{
        font-size: 16px;
        color: #666;
        i{
            font-size: 15px;
        }
        span{
            // font-weight: bold;
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box-add-report{
    margin: 29px auto 66px;
    padding: 0px 34px 15px;
}
.kt-portlet__body__reports{
    height: calc(100vh - 145px);
}
.favorite-report,.all-report{
    padding: 25px;
    // border-bottom: 1px solid #ebedf2;  
}
.favorite-report{
    padding-top: 9px;
    padding-bottom: 0px;
}
.body-list-report{
    padding: 25px;
    .card-header{
        background: none;
        h3{
            margin: 0px;
            font-size: 1.25rem;
            margin-top: 10px;
            cursor: pointer;
        }
    }
}
.kt-portlet .kt-portlet__head{
    border: none;
    margin-top: 9px;
    padding:18px;
    border-bottom: 1px solid #e2e5ec;
}
.header-report{
    text-align: right;
    padding: 10px 25px;
   
}
.item-all-report{
    margin-bottom:25px
}
.icon-box-report i{
    margin-right: 10px;
    margin-top: 0px;
    position: absolute;
    left: 21px;
    top: 24px;
    font-size: 14px;
    font-weight: bold;
}
.collapsed .icon-box-report i
{
    transform: rotate(270deg);
}
.head-report{
    background: #fff;
    margin: 0px 25px 0px 26px;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    .kt-portlet__head-title{
        position: relative;
    }
}
.kt-portlet .kt-portlet__body.kt-portlet__body--overflow-y::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px !important;
    height: 6px !important; }
