<div class="kt-main">

    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 0px;background: none;">

        <div class="kt-portlet__head head-report">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <div class="kt-input-icon kt-input-icon--left">
                        <input style="width:267px" (keyup)="searchItem($event.target.value)" type="text"
                            class="form-control" value="{{searchText}}"
                            placeholder="{{'COMMON.GENERAL.SEARCH'|translate}} ...">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                        </span>
                        <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">
                            <i class="icon-close"></i>
                        </span>
                    </div>

                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button type="button" class="btn btn-brand btn-icon-sm btn-pill"
                        routerLink="/manage/report-schedule" aria-expanded="false">
                        {{'REPORT.REPORTS.GENERAL.SCHEDULE' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y body-list-report">

            <div class="favorite-report" *ngIf="listReportFavorite.length > 0">

                <div id="accordionReportFavo"
                    class="card card-custom card-stretch gutter-b accordion  accordion-svg-toggle">
                    <div data-toggle="collapse" data-target="#collapseOnereportFavo" aria-expanded="true"
                        class="card-header border-0">
                        <h3 class="card-title font-weight-bolder text-dark">
                            <span class="svg-icon svg-icon-primary icon-box-report">
                                <i class="icon-angle-down"></i>
                            </span>
                            {{'REPORT.REPORTS.GENERAL.REPORT_FAVORITE'|translate}}
                        </h3>
                    </div>
                    <div id="collapseOnereportFavo" data-parent="#accordionReportFavo" style=""
                        class="card-body collapse show">

                        <div class="row" [sortablejs]='listReportFavorite' [sortablejsOptions]="sortablejsOptions">
                            <ng-container *ngFor="let item of listReportFavorite">
                                <div class="col-xl-2 col-lg-3 col-md-6 listReports"
                                    *ngxPermissionsOnly="item.permission">
                                    <div class="box-content">
                                        <a style="cursor: pointer;" (click)="openModalDelete(item.translate,delete)"
                                            class="close_div"
                                            ngbTooltip="{{'REPORT.REPORTS.GENERAL.REMOVE_REPORT'|translate}}">
                                            <i class="flaticon2-delete
                                                                    "></i>
                                        </a>
                                        <a routerLink="{{item.page}}" class="report_fet_box draggable">
                                            <p>
                                                <!-- <img src="{{item.imgUrl}}" height="30" width="30" alt=""> -->
                                                <i class="{{item.icon}}"></i>
                                            </p>
                                            <span class="title">
                                                {{item.translate | translate}}
                                            </span>

                                        </a>
                                        <div class="drag_div" cdkDragHandle>
                                            <i class="icon-multi-dot"></i>
                                            <!-- <img src="./assets/img/drag.png"> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-report">

                <div class="row">
                    <div class="col-xl-12 item-all-report">
                        <div id="accordionReport"
                            class="card card-custom card-stretch gutter-b accordion  accordion-svg-toggle">
                            <div data-toggle="collapse" data-target="#collapseOnereport" aria-expanded="true"
                                class="card-header border-0" [ngClass]="{'collapsed':!toggetherReport}">
                                <h3 class="card-title font-weight-bolder text-dark">
                                    <span class="svg-icon svg-icon-primary icon-box-report">
                                        <i class="icon-angle-down"></i>
                                    </span>
                                    {{'REPORT.REPORTS.GENERAL.REPORTS'|translate}}

                                </h3>
                            </div>
                            <div id="collapseOnereport" data-parent="#accordionReport" style=""
                                class="row card-body collapse " [ngClass]="{'show':toggetherReport}">
                                <ng-container
                                    *ngFor="let item of listAllReport | filter: (searchText | ascii) : 'textSearch'  ">
                                    <ng-container *ngIf="item.type.includes('report')">
                                        <div class="col-xl-2 col-lg-3 col-md-6 listReports"
                                            *ngxPermissionsOnly="item.permission">
                                            <div class="box-content">
                                                <a style="cursor: pointer;" (click)="addReport(item)"
                                                    ngbTooltip="{{(!item.favorite?'REPORT.REPORTS.GENERAL.ADD_FAVORITE':'REPORT.REPORTS.GENERAL.REMOVE_FAVORITE') | translate }}"
                                                    class="close_div">
                                                    <i class="ic-lg follow action "
                                                        [ngClass]="item.favorite?'icon-star1 kt-font-brand':'icon-star'">
                                                    </i>
                                                </a>
                                                <a routerLink="{{item.page}}" class="report_fet_box draggable">
                                                    <p>
                                                        <!-- <img src="{{item.imgUrl}}" height="30" width="30" alt=""> -->
                                                        <i class="{{item.icon}}"></i>
                                                    </p>
                                                    <span class="title">
                                                        {{item.translate | translate}}
                                                    </span>

                                                </a>

                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 item-all-report">
                        <div id="accordionQCVN"
                            class="card card-custom card-stretch gutter-b accordion  accordion-svg-toggle">
                            <div data-toggle="collapse" data-target="#collapseOneqcvn" aria-expanded="true"
                                class="card-header border-0" [ngClass]="{'collapsed':!toggetherReport}">
                                <h3 class="card-title font-weight-bolder text-dark">
                                    <span class="svg-icon svg-icon-primary icon-box-report">
                                        <i class="icon-angle-down"></i>
                                    </span>
                                    {{'REPORT.REPORTS.GENERAL.QCVN'|translate}}
                                </h3>
                            </div>
                            <div id="collapseOneqcvn" data-parent="#accordionQCVN" style=""
                                class="row card-body pt-2 collapse" [ngClass]="{'show':toggetherReport}">
                                <ng-container
                                    *ngFor="let item of listAllReport | filter: (searchText | ascii) : 'textSearch'">
                                    <ng-container *ngIf="item.type.includes('qcvn')">
                                        <div class="col-xl-2 col-lg-3 col-md-6 listReports"
                                            *ngxPermissionsOnly="item.permission">
                                            <div class="box-content">
                                                <a style="cursor: pointer;" (click)="addReport(item)" class="close_div"
                                                    ngbTooltip="{{(!item.favorite?'REPORT.REPORTS.GENERAL.ADD_FAVORITE':'REPORT.REPORTS.GENERAL.REMOVE_FAVORITE') | translate }}">
                                                    <i class="ic-lg follow action "
                                                        [ngClass]="item.favorite?'icon-star1 kt-font-brand':'icon-star'">
                                                    </i>
                                                </a>
                                                <a routerLink="{{item.page}}" class="report_fet_box draggable">
                                                    <p>
                                                        <!-- <img src="{{item.imgUrl}}" height="30" width="30" alt=""> -->
                                                        <i class="{{item.icon}}"></i>
                                                    </p>
                                                    <span class="title">
                                                        {{item.translate | translate}}
                                                    </span>

                                                </a>

                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 item-all-report">
                        <div id="accordionReportFuel"
                            class="card card-custom card-stretch gutter-b accordion  accordion-svg-toggle">
                            <div data-toggle="collapse" data-target="#collapseOnereportFuel" aria-expanded="true"
                                class="card-header border-0" [ngClass]="{'collapsed':!toggetherReport}">
                                <h3 class="card-title font-weight-bolder text-dark">
                                    <span class="svg-icon svg-icon-primary icon-box-report">
                                        <i class="icon-angle-down"></i>
                                    </span>
                                    {{'REPORT.FUEL.GENERAL.REPORT_FUEL'|translate}}
                                </h3>
                            </div>
                            <div id="collapseOnereportFuel" data-parent="#accordionReportFuel" style=""
                                class="row card-body pt-2 collapse" [ngClass]="{'show':toggetherReport}">
                                <ng-container
                                    *ngFor="let item of listAllReport | filter: (searchText | ascii) : 'textSearch'">
                                    <ng-container *ngIf="item.type.includes('fuel')">
                                        <div class="col-xl-2 col-lg-3 col-md-6 listReports"
                                            *ngxPermissionsOnly="item.permission">
                                            <div class="box-content">
                                                <a style="cursor: pointer;" (click)="addReport(item)" class="close_div"
                                                    ngbTooltip="{{(!item.favorite?'REPORT.REPORTS.GENERAL.ADD_FAVORITE':'REPORT.REPORTS.GENERAL.REMOVE_FAVORITE') | translate }}">
                                                    <i class="ic-lg follow action "
                                                        [ngClass]="item.favorite?'icon-star1 kt-font-brand':'icon-star'">
                                                    </i>
                                                </a>
                                                <a routerLink="{{item.page}}" class="report_fet_box draggable">
                                                    <p>
                                                        <!-- <img src="{{item.imgUrl}}" height="30" width="30" alt=""> -->
                                                        <i class="{{item.icon}}"></i>
                                                    </p>
                                                    <span class="title">
                                                        {{item.translate | translate}}
                                                    </span>

                                                </a>

                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<!-- modal delete user -->
<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'REPORT.REPORTS.GENERAL.REMOVE_REPORT' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <i class="icon-question-circle"></i>
        {{'REPORT.REPORTS.MESSAGE.MESSAGE_REMOVE' | translate}}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="deleteReport()">{{'REPORT.REPORTS.GENERAL.HIDE_REPORT' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>
</ng-template>
<!--end modal delete user-->