<!-- begin:: Content -->
<!-- <div class="alert alert-light alert-elevate" role="alert">
	<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
	<div class="alert-text">
		The Keen Datatable component supports local or remote data source. For the local data you can pass
		javascript array as data source. In this example the grid fetches its data from a javascript array data
		source. It also defines
		the schema model of the data source. In addition to the visualization, the Datatable provides built-in
		support for operations over data such as sorting, filtering and paging performed in user browser(frontend).
	</div>
</div> -->

<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [btnClose]="true" (changeUser)="userTreeChangeUser($event)"
            [allowCollapse]="true">
        </kt-user-tree-new>
    </div>
    <!-- <kt-sidebar [testInput]="'Pham Duy Nhat'"  (testOutput)="testCheckOutput($event)"></kt-sidebar> -->
    <!-- <kt-user-info [user]="currentUser"></kt-user-info> -->
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px;">
        <kt-user-info [user]="currentUser" [type]="'device'"></kt-user-info>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <!-- <span class="kt-portlet__head-icon">
                    <i class="icon-setting"></i>
                </span> -->
                <h3 class="kt-portlet__head-title">
                    {{'MANAGE.GENERAL.DEVICE' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="importDevice()"
                        *ngxPermissionsOnly="['ROLE_device.action.import_device']">
                        <i class="flaticon2-plus"></i>
                        {{'MANAGE.DEVICE.GENERAL.IMPORT_DEVICE' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch"
                (keyup.enter)="dataTable.search()">
                <div class=" row">
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <textarea type="text" name="imei-search" data-key="imei"
                                class="textarea-search auto-format-text form-control"
                                placeholder="{{'MANAGE.DEVICE.GENERAL.IMEI' | translate}}"></textarea>
                        </div>

                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" data-key="name"
                                placeholder="{{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}}">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <select class="selectpicker form-control selectpicker-device-type" data-live-search="true"
                                data-size="5" data-width="100%" data-key="typeDevice" multiple
                                title="{{'MANAGE.DEVICE.GENERAL.DEVICE_TYPE' | translate}}">
                                <ng-container *ngFor="let item of deviceType">
                                    <option
                                        attr.data-content='<img style="height:20px" src="{{item.image}}"/> {{item.name}}'
                                        value="{{item.id}}">
                                    </option>
                                </ng-container>
                                <!-- <option *ngFor="let item of deviceType " [value]="item.id">{{item.name}}</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-6 col-sm-12">
                        <div class="form-group form-group--mobile">
                            <label class="kt-checkbox">
                                <input type="checkbox" data-key="subAccount">
                                {{'MANAGE.DEVICE.GENERAL.SUB_ACCOUNT' | translate}}
                                <span></span>
                            </label> &nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="search()">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" (click)="toggleSearchAdvanced()"
                                [ngClass]="{'btn-brand':isShowSearchAdvanced,'btn-outline-brand':!isShowSearchAdvanced}"
                                class="btn btn-outline-brand btn-pill">
                                <i class="icon-filter"></i>{{'COMMON.GENERAL.SEARCH_ADVANCED' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;

                        </div>
                    </div>
                </div>
                <div [ngStyle]="{'display':(!isShowSearchAdvanced?'none':'')}" class="form-advanced">
                    <!-- <div class="kt-separator kt-separator--dashed"></div> -->
                    <div class="row">
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" data-key="machineCode"
                                    placeholder="{{'MANAGE.DEVICE.GENERAL.MACHINE_CODE__VEHICLE_PLATE' | translate}}">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" data-key="simno"
                                    placeholder="{{'MANAGE.DEVICE.GENERAL.SIMNO' | translate}}">
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <select class="selectpicker form-control selectpicker-sim-type" multiple data-size="5"
                                    data-key="simType" title="{{'MANAGE.DEVICE.GENERAL.SIM_TYPE' | translate}}">
                                    <option *ngFor="let item of simType " [value]="item.id">
                                        {{item.nameKey | translate}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <select class="selectpicker form-control" data-key="activeExpire" multiple
                                    title="{{'MANAGE.DEVICE.GENERAL.ACTIVE_DATE' | translate}}">
                                    <option value="warrantyActiveDate">
                                        {{'MANAGE.DEVICE.GENERAL.ACTIVE_WARRANTY' | translate}}</option>
                                    <option value="serviceExpire">{{'MANAGE.DEVICE.GENERAL.SERVICE_EXPIRE' | translate}}
                                    </option>
                                    <option value="warrantyExpiredDate">
                                        {{'MANAGE.DEVICE.GENERAL.WARRANTY_EXPIRE' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control kt_datepicker" readonly
                                    data-date-format="dd/mm/yyyy" data-key="timeStart"
                                    placeholder="{{'MANAGE.DEVICE.GENERAL.TIME_START' | translate}}" />
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control kt_datepicker" data-date-format="dd/mm/yyyy"
                                    data-key="timeEnd" readonly
                                    placeholder="{{'MANAGE.DEVICE.GENERAL.TIME_END' | translate}}" />
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <select class="selectpicker form-control" data-key="serviceExpire" multiple
                                    title="{{'MANAGE.DEVICE.GENERAL.EXPIRE_SERVICE' | translate}}">
                                    <option value="1">{{'MANAGE.DEVICE.GENERAL.EXPIRE_SOON' | translate}}</option>
                                    <option value="2">{{'MANAGE.DEVICE.GENERAL.EXPIRED' | translate}}</option>
                                    <option value="3">{{'MANAGE.DEVICE.GENERAL.SERVICE_IS_AVAIABLE' | translate}}
                                    </option>

                                </select>
                            </div>
                            <!-- <input type="email" class="form-control" placeholder="Hạn dịch vụ"> -->
                        </div>
                        <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                <select class="selectpicker form-control" data-key="active"
                                    title="{{'MANAGE.DEVICE.GENERAL.STATUS' | translate}}">
                                    <option value="">{{'MANAGE.DEVICE.GENERAL.STATUS' | translate}}</option>
                                    <option value="1">{{'MANAGE.DEVICE.GENERAL.ACTIVE' | translate}}</option>
                                    <option value="0">{{'MANAGE.DEVICE.GENERAL.INACTIVE' | translate}}</option>
                                </select>
                            </div>
                            <!-- <input type="email" class="form-control" placeholder="Trạng thái"> -->
                        </div>
                        <!-- <div class="col-md-2">
                                                <input type="email" class="form-control" placeholder="Enter full name">
                                            </div> -->
                    </div>
                </div>
            </div>
            <!--end: Search Form -->

            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">

                    <div class="col-md-12 form-feature">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                        <div class="group-feature">
                            <div class="dropdown dropdown-inline" container="body">
                                <button type="button" class="btn btn-outline-brand btn-pill btn-custom"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="icon-file-export"></i>
                                    <span>{{'MANAGE.DEVICE.GENERAL.EXPORT' | translate}}</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    x-placement="bottom-start"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                    <a class="dropdown-item"
                                        (click)="exportXlSX()">{{'COMMON.GENERAL.DOWNLOAD' | translate }} (.xlsx)</a>
                                    <a class="dropdown-item"
                                        (click)="exportXlSX({all:true})">{{'COMMON.GENERAL.DOWNLOAD_ALL' | translate }}
                                        (.xlsx)</a>
                                    <!-- <a class="dropdown-item" (click)="exportPDF()">{{'COMMON.GENERAL.DOWNLOAD' | translate }}  .PDF</a> -->
                                </div>
                            </div>
                            <span *ngxPermissionsOnly="['ROLE_device.action.sell']"> &nbsp;&nbsp;</span>
                            <button (click)="sellDevice()" triggers="hover" container="body" type="button"
                                class="btn btn-outline-brand btn-pill btn-custom"
                                *ngxPermissionsOnly="['ROLE_device.action.sell']">
                                <i class="icon-exchange-alt"></i>
                                <span>{{'MANAGE.DEVICE.GENERAL.SELL_DEVICE' | translate}}</span>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.status']"> &nbsp;&nbsp;</span>
                            <button (click)="changeStatus(0)" triggers="hover" container="body" type="button"
                                class="btn btn-outline-brand btn-pill btn-custom"
                                *ngxPermissionsOnly="['ROLE_device.action.status']">
                                <i class="icon-times"></i>
                                <span>{{'MANAGE.DEVICE.GENERAL.DISABLE' | translate}}</span>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.status']"> &nbsp;&nbsp;</span>
                            <button (click)="changeStatus(1)" triggers="hover" container="body" type="button"
                                class="btn btn-outline-brand btn-pill btn-custom"
                                *ngxPermissionsOnly="['ROLE_device.action.status']">
                                <i class="icon-check"></i>
                                <span>{{'MANAGE.DEVICE.GENERAL.ENABLE' | translate}}</span>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.command']"> &nbsp;&nbsp;</span>
                            <button type="button" triggers="hover" container="body"
                                class="btn btn-outline-brand btn-pill btn-custom" (click)="sendCommand()"
                                *ngxPermissionsOnly="['ROLE_device.action.command']">
                                <i class="icon-terminal"></i>
                                <span>{{'MANAGE.DEVICE.GENERAL.SEND_COMMAND' | translate}}</span>
                            </button>

                            <span *ngxPermissionsOnly="['ROLE_device.action.renews']"> &nbsp;&nbsp;</span>
                            <button type="button" triggers="hover" container="body"
                                class="btn btn-outline-brand btn-pill btn-custom" (click)="renewsDevice()"
                                *ngxPermissionsOnly="['ROLE_device.action.renews']">
                                <i class="icon-calendar-alt"></i>
                                <span>{{'MANAGE.DEVICE.GENERAL.RENEWS' | translate}}</span>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.driver']"> &nbsp;&nbsp;</span>
                            <button type="button" triggers="hover" container="body"
                                class="btn btn-outline-brand btn-pill btn-custom" (click)="addDriver()"
                                *ngxPermissionsOnly="['ROLE_device.action.driver']">
                                <i class="icon-user"></i>
                                <span> {{'MANAGE.DEVICE.GENERAL.ADD_DRIVER' | translate}}</span>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.device_group']"> &nbsp;&nbsp;</span>
                            <button type="button" triggers="hover" container="body"
                                class="btn btn-outline-brand btn-pill btn-custom" (click)="createDeviceGroup()"
                                *ngxPermissionsOnly="['ROLE_device.action.device_group']">
                                <i class="icon-project-diagram"></i>
                                <span> {{'MANAGE.DEVICE.GENERAL.ADD_DEVICE_GROUP' | translate}}</span>
                            </button>
                            <!-- <span *ngxPermissionsOnly="['ROLE_device.action.camera']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.ADD_CAMERA' | translate}}" type="button"
                                triggers="hover" container="body" class="btn btn-outline-brand btn-pill btn-custom"
                                (click)="addCamera()" *ngxPermissionsOnly="['ROLE_device.action.camera']">
                                <i class="icon-camera"></i>
                            </button> -->
                            <span *ngxPermissionsOnly="['ROLE_device.action.sort_order']"> &nbsp;&nbsp;</span>
                            <button type="button" triggers="hover" container="body" class="btn btn-pill btn-custom"
                                [ngClass]="{'btn-info':allowReOrder, 'btn-outline-brand':!allowReOrder}"
                                (click)="sortOrder()" *ngxPermissionsOnly="['ROLE_device.action.sort_order']">
                                <i class="icon-sort"></i>
                                <span> {{'MANAGE.DEVICE.GENERAL.SORT_ORDER' | translate}}</span>
                            </button>
                            &nbsp;&nbsp;
                        </div>

                        <div class="group-feature-mobile">
                            <div class="dropdown dropdown-inline"
                                ngbTooltip="{{'MANAGE.DEVICE.GENERAL.EXPORT' | translate}}" container="body">
                                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Dropdown button
                                                </button> -->
                                <button type="button" class="btn btn-info btn-circle btn-icon btn-sm"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="icon-file-export"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    x-placement="bottom-start"
                                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                    <a class="dropdown-item"
                                        (click)="exportXlSX()">{{'COMMON.GENERAL.DOWNLOAD' | translate }} (.xlsx)</a>
                                    <a class="dropdown-item"
                                        (click)="exportXlSX({all:true})">{{'COMMON.GENERAL.DOWNLOAD_ALL' | translate }}
                                        (.xlsx)</a>
                                    <!-- <a class="dropdown-item" (click)="exportPDF()">{{'COMMON.GENERAL.DOWNLOAD' | translate }}  .PDF</a> -->
                                </div>
                            </div>
                            <span *ngxPermissionsOnly="['ROLE_device.action.sell']">&nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.SELL_DEVICE' | translate}}"
                                (click)="sellDevice()" triggers="hover" container="body" type="button"
                                class="btn btn-info btn-circle btn-icon btn-sm"
                                *ngxPermissionsOnly="['ROLE_device.action.sell']">
                                <i class="icon-exchange-alt"></i>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.status']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.DISABLE' | translate}}"
                                (click)="changeStatus(0)" triggers="hover" container="body" type="button"
                                class="btn btn-info btn-circle btn-icon btn-sm"
                                *ngxPermissionsOnly="['ROLE_device.action.status']">
                                <i class="icon-times"></i>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.status']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.ENABLE' | translate}}"
                                (click)="changeStatus(1)" triggers="hover" container="body" type="button"
                                class="btn btn-info btn-circle btn-icon btn-sm"
                                *ngxPermissionsOnly="['ROLE_device.action.status']">
                                <i class="icon-check"></i>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.command']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.SEND_COMMAND' | translate}}" type="button"
                                triggers="hover" container="body" class="btn btn-info btn-circle btn-icon btn-sm"
                                (click)="sendCommand()" *ngxPermissionsOnly="['ROLE_device.action.command']">
                                <i class="icon-terminal"></i>
                            </button>
                            <!-- <span *ngxPermissionsOnly="['ROLE_device.action.import_device']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.IMPORT_DEVICE' | translate}}" type="button"
                                triggers="hover" container="body" class="btn btn-info btn-circle btn-icon btn-sm"
                                (click)="importDevice()" *ngxPermissionsOnly="['ROLE_device.action.import_device']">
                                <i class="icon-plus"></i>
                            </button> -->
                            <span *ngxPermissionsOnly="['ROLE_device.action.renews']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.RENEWS' | translate}}" type="button"
                                triggers="hover" container="body" class="btn btn-info btn-circle btn-icon btn-sm"
                                (click)="renewsDevice()" *ngxPermissionsOnly="['ROLE_device.action.renews']">
                                <i class="icon-calendar-alt"></i>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.driver']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.ADD_DRIVER' | translate}}" type="button"
                                triggers="hover" container="body" class="btn btn-info btn-circle btn-icon btn-sm"
                                (click)="addDriver()" *ngxPermissionsOnly="['ROLE_device.action.driver']">
                                <i class="icon-user"></i>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.device_group']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.ADD_DEVICE_GROUP' | translate}}" type="button"
                                triggers="hover" container="body" class="btn btn-info btn-circle btn-icon btn-sm"
                                (click)="createDeviceGroup()" *ngxPermissionsOnly="['ROLE_device.action.device_group']">
                                <i class="icon-project-diagram"></i>
                            </button>
                            <span *ngxPermissionsOnly="['ROLE_device.action.sort_order']"> &nbsp;&nbsp;</span>
                            <button ngbTooltip="{{'MANAGE.DEVICE.GENERAL.DROP_DRAP_SORT_ORDER' | translate}}"
                                type="button" triggers="hover" container="body" class="btn btn-circle btn-icon btn-sm"
                                [ngClass]="{'btn-info':allowReOrder, 'btn-outline-brand':!allowReOrder}"
                                (click)="sortOrder()" *ngxPermissionsOnly="['ROLE_device.action.sort_order']">
                                <i class="icon-sort"></i>
                            </button>
                        </div>

                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                        <!-- <div class="kt-separator"></div> -->
                    </div>
                </div>
            </div>
            <!-- end: Feature -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)"
                                    *ngxPermissionsOnly="column.permisison?column.permisison:''">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" cdkDropList [cdkDropListDisabled]="!allowReOrder"
                        [ngStyle]="dataTable.bodyStyle" (cdkDropListDropped)="drop($event)">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                class="kt-datatable__row" style="left: 0px;" cdkDrag>
                                <!-- subRow -->
                                <td *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                            'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[1].style">{{item.userName}}</span>
                                </td>
                                <td ngxClipboard [cbContent]="item.imei" (cbOnSuccess)="copied($event)"
                                    [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell clipboard">
                                    <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                        <i class="icon-copy"></i>
                                    </a>
                                    <span [ngStyle]="dataTable.getColumns()[2].style">{{item.imei}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[3].style">{{item.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[4].style">{{item.typeName}}</span>
                                </td>
                                <td ngxClipboard [cbContent]="item.simno" (cbOnSuccess)="copied($event)"
                                    [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    class="kt-datatable__cell clipboard">
                                    <a *ngIf="item.simno"
                                        class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                        <i class="icon-copy"></i>
                                    </a>
                                    <span [ngStyle]="dataTable.getColumns()[5].style">{{item.simno}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <!-- date:'dd/MM/yyyy' -->
                                    <span ngbTooltip="{{item.serviceExpire | userDate}}" container="body"
                                        [ngStyle]="dataTable.getColumns()[6].style">
                                        <span *ngIf="item.serviceExpireStatus.length>0" class="kt-badge  kt-badge--dot"
                                            [ngClass]="{'kt-badge--warning':item.serviceExpireStatus =='warning',
                                            'kt-badge--danger':item.serviceExpireStatus =='danger'}"></span>&nbsp;
                                        <span>{{item.serviceExpire | userDate:'fromNowDate':dateTimeServer}}</span>
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.warrantyExpiredDate | userDate}}" container="body"
                                        [ngStyle]="dataTable.getColumns()[7].style">
                                        <span *ngIf="item.warrantyExpireStatus.length>0" class="kt-badge  kt-badge--dot"
                                            [ngClass]="{'kt-badge--warning':item.warrantyExpireStatus =='warning',
                                        'kt-badge--danger':item.warrantyExpireStatus =='danger'}"></span>&nbsp;
                                        <span>{{item.warrantyExpiredDate | userDate:'fromNowDate':dateTimeServer}}</span>
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[8].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[8].style">
                                        <span class="btn btn-bold btn-pill btn-sm btn-font-sm" [ngClass]="{'kt-font-danger':item.active==0,
                                                    'kt-font-success':item.active==1}">
                                            <i class="ic-md" [ngClass]="{'icon-minus-circle':item.active==0,
                                                                'icon-check-circle1':item.active==1}"></i>
                                        </span>
                                    </span>
                                </td>
                                <td *ngxPermissionsOnly="['ROLE_device.edit.sold']"
                                    [ngStyle]="{'display':(!dataTable.getColumn('isSell').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('isSell').style">
                                        <span class="btn btn-bold btn-pill btn-sm btn-font-sm" [ngClass]="{'kt-font-danger':item.isSell==0,
                                                    'kt-font-success':item.isSell==1}">
                                            <i class="ic-md" [ngClass]="{'icon-minus-circle':item.isSell==0,
                                                                'icon-check-circle1':item.isSell==1}"></i>
                                        </span>
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('action').isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('action').style"
                                        style="overflow: visible; position: relative;">
                                        <a *ngxPermissionsOnly="['ROLE_device.edit.sold']"
                                            ngbTooltip="{{'COMMON.ACTIONS.SOLD' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="soldDevice(item)">
                                            <i class="icon-dollar-sign"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="editDevice(item)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'delete',item)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[1].style">{{item.userName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td ngxClipboard [cbContent]="item.imei" (cbOnSuccess)="copied($event)"
                                                class="kt-datatable__cell clipboard">
                                                <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                                    <i class="icon-copy"></i>
                                                </a>
                                                <span [ngStyle]="dataTable.getColumns()[2].style"
                                                    translate="{{item.nameKey}}">{{item.imei}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[3].style"
                                                    translate="{{item.nameKey}}">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[4].style"
                                                    translate="{{item.nameKey}}">{{item.typeName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td ngxClipboard [cbContent]="item.simno" (cbOnSuccess)="copied($event)"
                                                class="kt-datatable__cell clipboard">
                                                <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                                    <i class="icon-copy"></i>
                                                </a>
                                                <span [ngStyle]="dataTable.getColumns()[5].style"
                                                    translate="{{item.nameKey}}">{{item.simno}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{item.serviceExpire | userDate}}"
                                                    [ngStyle]="dataTable.getColumns()[6].style">
                                                    <span *ngIf="item.serviceExpireStatus.length>0"
                                                        class="kt-badge  kt-badge--dot"
                                                        [ngClass]="{'kt-badge--warning':item.serviceExpireStatus =='warning',
                                                        'kt-badge--danger':item.serviceExpireStatus =='danger'}"></span>&nbsp;
                                                    <span>{{item.serviceExpire | userDate:'fromNowDate'}}</span>
                                                </span>
                                                <!-- <span [ngStyle]="dataTable.getColumns()[6].style"
                                                    translate="{{item.nameKey}}">{{item.serviceExpire | date:'dd/MM/yyyy'}}</span> -->
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[7].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[7].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{item.warrantyExpiredDate | userDate}}"
                                                    [ngStyle]="dataTable.getColumns()[6].style">
                                                    <span *ngIf="item.warrantyExpireStatus.length>0"
                                                        class="kt-badge  kt-badge--dot"
                                                        [ngClass]="{'kt-badge--warning':item.warrantyExpireStatus =='warning',
                                                    'kt-badge--danger':item.warrantyExpireStatus =='danger'}"></span>&nbsp;
                                                    <span>{{item.warrantyExpiredDate | userDate:'fromNowDate'}}</span>
                                                </span>
                                                <!-- <span [ngStyle]="dataTable.getColumns()[7].style"
                                                    translate="{{item.nameKey}}">
                                                    {{item.warrantyExpiredDate | date:'dd/MM/yyyy'}}</span> -->
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[8].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[8].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[8].style">
                                                    <span class="btn btn-bold btn-pill btn-sm btn-font-sm  " [ngClass]="{'kt-font-danger':item.active==0,
                                                                                'kt-font-success':item.active==1}">
                                                        <i class="ic-md"
                                                            [ngClass]="{'icon-minus-circle':item.active==0,
                                                                                'icon-check-circle1':item.active==1}"></i>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr *ngxPermissionsOnly="['ROLE_device.edit.sold']"
                                            [ngStyle]="{'display':(dataTable.getColumn('isSell').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('isSell').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('isSell').style">
                                                    <span class="btn btn-bold btn-pill btn-sm btn-font-sm  " [ngClass]="{'kt-font-danger':item.isSell==0,
                                                                                'kt-font-success':item.isSell==1}">
                                                        <i class="ic-md"
                                                            [ngClass]="{'icon-minus-circle':item.isSell==0,
                                                                                'icon-check-circle1':item.isSell==1}"></i>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumn('action').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('action').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('action').style"
                                                    style="overflow: visible; position: relative;">
                                                    <a *ngxPermissionsOnly="['ROLE_device.edit.sold']"
                                                        ngbTooltip="{{'COMMON.ACTIONS.SOLD' | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="soldDevice(item)">
                                                        <i class="icon-dollar-sign"></i>
                                                    </a>
                                                    <!-- <a *ngxPermissionsOnly="['ROLE_device.action.sold']"
                                                        ngbTooltip="{{'COMMON.ACTIONS.SOLD' | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="soldDevice(item)">
                                                        <i class="icon-dollar-sign"></i>
                                                    </a> -->
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="editDevice(item)">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>

                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{titlePopup | translate}} {{'MANAGE.GENERAL.DEVICE' | translate  }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="action">
            <ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="tmpConfirmDelete">
            </ng-container>
            <ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormEdit">
            </ng-container>
            <ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="tmpFormAdd">
            </ng-container>
            <!-- <ng-container *ngSwitchDefault [ngTemplateOutlet]="tmpFormAdd">
			</ng-container> -->
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container [ngSwitch]="action">
            <button *ngSwitchCase="'edit'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
            <button *ngSwitchCase="'add'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
            <button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- edit form -->
<ng-template #tmpFormEdit>
    <!-- <div class="kt-portlet__body">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_tab_base" role="tab"
                    aria-selected="false">{{ 'COMMON.GENERAL.BASE' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_command" role="tab"
                    aria-selected="true">{{ 'COMMON.GENERAL.COMMAND' | translate }}</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="kt_tab_base" role="tabpanel">
                <form class="kt-form" [formGroup]="formEdit" (ngSubmit)="onSubmit()" novalidate="novalidate">
                    <div class="kt-portlet__body validate is-invalid">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>{{ 'ADMIN.SIM_TYPE.GENERAL.NAME' | translate }}</label>
                                <input type="text" class="form-control" autocomplete="false" name="name"
                                    formControlName="name">
                                <div class="error invalid-feedback" *ngIf="isControlHasError('name','required')">
                                    <strong>{{ 'COMMON.VALIDATION.REQUIRED_FIELD_NAME' | translate }}
                                        {{ 'ADMIN.SIM_TYPE.GENERAL.NAME' | translate }}</strong>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'COMMON.COLUMN.SORT_ORDER' | translate }}</label>
                                <input type="number" class="form-control" autocomplete="false"
                                    formControlName="sortOrder">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>{{ 'COMMON.COLUMN.CREATED_BY' | translate }}</label>
                                <input type="text" class="form-control" autocomplete="false"
                                    formControlName="createdBy">
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'COMMON.COLUMN.CREATED_DATE' | translate }}</label>
                                <input type="text" class="form-control" autocomplete="false"
                                    formControlName="createdDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>{{ 'COMMON.COLUMN.UPDATED_BY' | translate }}</label>
                                <input type="text" class="form-control" autocomplete="false"
                                    formControlName="updatedBy">
                            </div>
                            <div class="col-md-6">
                                <label>{{ 'COMMON.COLUMN.UPDATED_DATE' | translate }}</label>
                                <input type="text" class="form-control" autocomplete="false"
                                    formControlName="updatedDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</label>
                                <textarea class="form-control" autocomplete="false" rows="3"
                                    formControlName="description"></textarea>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tab_command" role="tabpanel">
                <ng-container [ngTemplateOutlet]="commandForm"></ng-container>
            </div>
        </div>
    </div> -->
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_tab_base" role="tab"
                    aria-selected="false">{{ 'MANAGE.DEVICE.GENERAL.BASE' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_advanced" role="tab"
                    aria-selected="true">{{ 'MANAGE.DEVICE.GENERAL.ADDVANCED' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_sensors" role="tab"
                    aria-selected="true">{{ 'MANAGE.DEVICE.GENERAL.SENSOR' | translate }}</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="kt_tab_base" role="tabpanel">
                <form class="kt-form" id="#deviceEditFormBase">
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">Thông tin thiết bị
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Imei *</label>
                                            <input type="text" name="imei" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Tài khoản người dùng</label>
                                            <input type="text" disabled name="userName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Mã máy - Biển số</label>
                                            <input type="text" name="machineCode" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Tên thiết bị</label>
                                            <input type="text" name="deviceName" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Biểu tượng</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Nhóm thiết bị</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Số sim</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Loại Sim</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Loại thiết bị</label>
                                            <input type="text" name="" class="form-control">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">Dịch vụ
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Hạn dịch vụ</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Người dùng kích hoạt</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" checked="checked" name="">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Ngày kích hoạt</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Hạn bảo hành</label>
                                            <input type="text" name="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Trạng thái</label><br />
                                            <label for="">
                                                <span class="kt-switch kt-switch--icon">
                                                    <label>
                                                        <input type="checkbox" checked="checked" name="">
                                                        <span></span>
                                                    </label>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-12">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                    <div class="kt-ribbon__target" style="top: 10px; left: -2px;">Ghi chú
                                    </div>
                                </div>
                                <div class="kt-portlet__body">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Ghi chú</label>
                                            <textarea rows="4" name="" class="form-control"></textarea>

                                        </div>
                                        <div class="col-md-6">
                                            <label>Ghi chú (người quản lý)</label>
                                            <textarea rows="4" name="" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="kt_tab_advanced" role="tabpanel">
                <span>kt_tab_advanced</span>
                <!-- <ng-container [ngTemplateOutlet]="commandForm"></ng-container> -->
            </div>
            <div class="tab-pane" id="kt_tab_sensors" role="tabpanel">
                <span>kt_tab_sensors</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #tmpConfirmDelete2>
    <div class="row">
        <div class="col-md-8">
            <div class="kt-portlet  kt-portlet--height-fluid">
                <div class="kt-portlet__head kt-portlet__head--sm">
                    <div class="kt-portlet__head-label">
                        <span>Count Device:</span>&nbsp;
                        <span>10</span>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <span>Chuyển đến:</span>&nbsp;
                        <span>Nước sạch hải dương </span>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 50px">#</th>
                                    <th width="250">IMEI</th>
                                    <th width="150">Loại</th>
                                    <th width="150">Tài khoản</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>IMEI</td>
                                    <td>Loại</td>
                                    <td>Admin</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" storeLocal="true">
            </kt-user-tree-new>
        </div>
    </div>
</ng-template>
<!-- add form  -->
<ng-template #tmpFormAdd>
    <div class="kt-portlet__body">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_tab_base" role="tab"
                    aria-selected="false">{{ 'MANAGE.DEVICE.GENERAL.BASE' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_advanced" role="tab"
                    aria-selected="true">{{ 'MANAGE.DEVICE.GENERAL.ADDVANCED' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_tab_sensors" role="tab"
                    aria-selected="true">{{ 'MANAGE.DEVICE.GENERAL.SENSOR' | translate }}</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="kt_tab_base" role="tabpanel">
                <!-- <form class="kt-form" [formGroup]="formAdd" (ngSubmit)="onSubmit()" novalidate="novalidate">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-md-6 validate is-invalid">
                                <label>{{ 'ADMIN.SIM_TYPE.GENERAL.NAME' | translate }}</label>
                                <input type="text" class="form-control" autocomplete="false" name="name"
                                    formControlName="name">
                                <div class="error invalid-feedback" *ngIf="isControlHasError('name','required')">
                                    <strong>{{ 'COMMON.VALIDATION.REQUIRED_FIELD_NAME' | translate }}
                                        {{ 'ADMIN.SIM_TYPE.GENERAL.NAME' | translate }}</strong>
                                </div>
                            </div>
                            <div class="col-md-6 validate is-invalid">
                                <label>{{ 'COMMON.COLUMN.SORT_ORDER' | translate }}</label>
                                <input type="number" class="form-control" autocomplete="false"
                                    formControlName="sortOrder">
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 validate is-invalid">
                                <label>{{ 'COMMON.COLUMN.DESCRIPTION' | translate }}</label>
                                <textarea class="form-control" autocomplete="false" rows="3"
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </form> -->
            </div>
            <div class="tab-pane" id="kt_tab_advanced" role="tabpanel">
                <span>kt_tab_advanced</span>
                <!-- <ng-container [ngTemplateOutlet]="commandForm"></ng-container> -->
            </div>
            <div class="tab-pane" id="kt_tab_sensors" role="tabpanel">
                <span>kt_tab_sensors</span>
            </div>
        </div>
    </div>

</ng-template>
<!-- comfirm delete -->
<ng-template #tmpConfirmDelete>
    <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
    </div>
</ng-template>
<!-- comfirm delete -->
<ng-template #tmpConfirmDelete_old>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" storeLocal="true">
            </kt-user-tree-new>

        </div>
    </div>
    <!-- <div style="width: 300px;height: 100%; max-height: -webkit-fill-available; background: #fff;padding: 10px;overflow: hidden;">
               
            </div>  -->
    <!-- <div class="alert alert-bold" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
    </div> -->
</ng-template>

<!-- end:: Content -->

<ng-template #commandForm>
    <div class="kt-section">
        <div class="kt-section__info">
            <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="addCommand()"
                aria-expanded="false">
                <i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                {{'COMMON.GENERAL.COMMAND' | translate | lowercase }}
            </button>
        </div>
        <div class="kt-section__content">
            <form class="kt-form" [formGroup]="commandsForm" novalidate="novalidate">
                <div class="kt-portlet__body" formArrayName="itemRows">
                    <table class="table">
                        <colgroup>
                            <col style="width: 50px">
                            <col>
                            <col>
                            <col style="width: 100px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'COMMON.COLUMN.NAME' | translate}}</th>
                                <th>{{'COMMON.GENERAL.COMMAND' | translate}}</th>
                                <th>{{'COMMON.ACTIONS.ACTIONS' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of  formArr.controls;let i=index" [formGroupName]="i">
                                <td>{{i+1}}</td>
                                <td>
                                    <input type="text" class="form-control" autocomplete="false" name="name"
                                        formControlName="name">
                                </td>
                                <td>
                                    <input type="text" class="form-control" autocomplete="false" name="commandStr"
                                        formControlName="commandStr">
                                </td>
                                <td><a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                        class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="removeCommand(i)">
                                        <i class="icon-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="padding: 20px;text-align: center;">
                                    <span *ngIf="formArr.controls.length==0" class="kt-datatable--error"
                                        [innerHTML]="'COMMON.MESSAGE.NO_RECORDS_FOUND' | translate">No records
                                        found</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #dangerTpl>
    <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
        <path
            d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z" />
    </svg>
    Danger Danger !
</ng-template>
<kt-sell-device [sellOpen]="sellDeviceEmitter" (sellResult)="sellResult($event)"></kt-sell-device>
<kt-renews-device [sellOpen]="renewsDeviceEmitter" (sellResult)="renewsDeviceResult($event)"></kt-renews-device>
<kt-send-command [sendCommandOpen]="sendCommandEmitter" (sendCommandResult)="sendCommandResult($event)">
</kt-send-command>
<kt-import-device [importDeviceOpen]="importDeviceEmitter" (importDeviceResult)="importDeviceResult($event)">
</kt-import-device>
<kt-edit-device [editOpen]="editDeviceEmitter" (editResult)="editDeviceResult($event)">
</kt-edit-device>
<kt-create-device-group [createDeviceGroupOpen]="deviceGroupEventEmiter"></kt-create-device-group>
<kt-add-driver [addDriverOpen]="addDriverEmiter"></kt-add-driver>