.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__head
  .kt-datatable__row
  > .kt-datatable__cell,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__body
  .kt-datatable__row
  > .kt-datatable__cell,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__foot
  .kt-datatable__row
  > .kt-datatable__cell {
  padding: 5px 10px !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: table;
  width: 100%;
  table-layout: inherit;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.kt-datatable__body.cdk-drop-list-dragging .kt-datatable__row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.form-feature{
  &>.dropdown,&>.btn{
    margin: 1px 0px;
  }
}

.dropdown {
  .dropdown-menu .dropdown-item {
    cursor: pointer;
  }
}

.btn-custom {
  margin-top: .3rem;
  margin-bottom: .3rem;
}

// .form-feature {
//   width: 100%;
//   max-width: 100%;

//   overflow: hidden;


//   .group-feature {
//     width: 110%;
//     min-width: 110%;
//     overflow: auto;
//     -ms-overflow-style: none;  /* Internet Explorer 10+ */
//     scrollbar-width: none;  /* Firefox */
//     display: flex;
//     flex-wrap: nowrap;
//   }
  
//   .group-feature::-webkit-scrollbar { 
//     display: none;  /* Safari and Chrome */
//   }

// }

@media only screen and (max-width: 1024px) {
	.form-feature .group-feature {
    display: none;
  }

  .form-feature .group-feature-mobile {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
	.form-feature .group-feature {
    display: block;
  }

  .form-feature .group-feature-mobile {
    display: none;
  }
}
