// leaflet control
.leaflet-bottom{
  z-index: 50;
  .leaflet-control{
    z-index: 100;
    }
}

// marker 
.leaflet-pane {
  z-index: 10 !important;
}
.leaflet-marker-icon.mapCarIcon2 {
  margin-top: -55px !important;
  width: 0px !important;
}
.mapCarIcon {
  g[fill],
  use[fill],
  path[fill] {
    fill: #fff;
  }
  // text {
  //   font-family: "Rubik", sans-serif;
  // }
  svg {
    overflow: visible;
  }
  overflow: visible;
}

.mapCarIcon2 {
  g[fill],
  use[fill] {
    fill: #fff;
  }
  // text {
  //   font-family: "Rubik", sans-serif;
  // }
  svg {
    overflow: visible;
  }
  overflow: visible;
}
.mapIconCluster {
  &:hover {
    z-index: 1000 !important;
  }
  svg {
    overflow: visible;
  }
  width: 5px !important;
  height: 5px !important;
}
.cluster-block {
  .unit-state {
    border-radius: 3px;
  }
  .icon-type {
    g[fill],
    use[fill],
    path[fill] {
      fill: #fff;
    }
  }
}
.popup-tooltip {
  width: 50px !important;
  height: 50px !important;
  margin-left: -41px !important;
  margin-top: -41px !important;
}
.marker-tooltip2 {
  margin-top: -5px !important;
}
.marker-tooltip,
.marker-tooltip2 {
  width: 5px !important;
  height: 5px !important;
  .map-unit-tooltip2 {
    bottom: 58px !important;
    position: absolute;
    background: #fff;
    width: 300px;
    left: -130px;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    z-index: 2;
    cursor: default;
    user-select: text;
    // -webkit-user-select: text;
    .car-unit-click-area2 {
      content: "";
      position: absolute;
      display: block;
      bottom: -100px;
      width: 120px;
      height: 70px;
      left: -16px;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
    }
    .car-unit-click-area {
      content: "";
      position: absolute;
      display: block;
      bottom: -38px;
      width: 120px;
      height: 38px;
      // left: 0;
      left: -16px;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .map-unit-tooltip {
    bottom: 0px !important;
    position: absolute;
    background: #fff;
    width: 300px;
    left: -130px;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    z-index: 2;
    cursor: default;
    user-select: text;
    // -webkit-user-select: text;

    .car-unit-click-area {
      content: "";
      position: absolute;
      display: block;
      bottom: -38px;
      width: 120px;
      height: 38px;
      // left: 0;
      left: -16px;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .unit-tooltip-text {
    font-size: 12px;
    font-weight: bold;
    color: #384045;
    padding: 4px 0;
    .mp-inline-block {
      max-width: 245px;
      vertical-align: middle;
      display: inline-block;
      .text-box {
        padding: 2px 6px;
        background: #e8e8e8;
        border-radius: 3px;
      }
    }
    .mp-inline-block-icon {
      min-width: 30px;
      color: #969696;
      fill: #969696;
    }
    .mp-action {
      position: absolute;
      right: 5px;
      top: 5px;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      .mp-item {
        margin: 0 2px;
        i {
          padding: 5px;
          cursor: pointer;
          font-size: 1rem;
          width: 100%;
        }
      }
    }
    // .mp-pin {
    //   position: absolute;
    //   top: 5px;
    //   right: 5px;

    //   i {
    //     font-size: 1.2rem;
    //     padding: 10px;
    //     cursor: pointer;
    //   }
    // }
    svg {
      height: 18px;
      width: 18px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 4px;
      overflow: visible;
      transform: translate(0, 0);
      g[fill],
      use[fill],
      path[fill] {
        fill: #797f82;
      }
    }
  }
}
.map-unit-tooltip {
  bottom: 10px !important;
  position: absolute;
  background: #fff;
  width: 300px;
  left: -120px;
  padding: 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 2;
  cursor: default;
  user-select: text;
  -webkit-user-select: text;

  .car-unit-click-area {
    content: "";
    position: absolute;
    display: block;
    bottom: -35px;
    width: 120px;
    height: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
  }
}
.map-popup-tooltip {
  width: 250px !important;
  .mp-point {
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: rotate(90deg);
    i {
      color: #fff;
    }
  }
}

.cluster-tooltip {
  z-index: 9999!important;
  &.leaflet-popup {
    text-align: unset;
    margin-bottom: 0px;
    .leaflet-popup-content-wrapper {
      padding: 0px;
      text-align: left;
      border-radius: 12px;
      width: 0px;
      .leaflet-popup-content {
        width: 0px !important;
      }
    }
    .leaflet-popup-tip-container {
      display: none;
    }
  }
  .cluster-block {
    width: 250px;
    background: #fff;
    max-height: 334px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    padding: 4px 0;
    left: 28px;
    margin-top: -25px;
    position: relative;
    bottom: -15px;
    .click-holder {
      content: "";
      height: 52px;
      width: 98px;
      position: absolute;
      left: -60px;
      top: 0px;
    }
    .custom-scroll {
      max-height: 330px;
      overflow-x: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar{
        width: 8px;
      }
      .outer-container {
        overflow: hidden;

        .inner-container {
          overflow-x: hidden;
          overflow-y: auto;
          font-size: 12px;
          font-weight: bold;
          .search-container {
            padding: 5px;
          }
          .cluster-item {
            padding: 6px 10px;
            // font-family: "MuseoSans", Arial, sans-serif;
            font-weight: bold;
            width: 250px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            &:hover {
              background: #f0f3ff;
            }
            .mp-inline-block {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
            .name {
              padding-left: 5px;
              flex-grow: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .status {
              padding: 5px;
              background: #e8e8e8;
              color: #000;
              border-radius: 3px;
            }
            .odometer-icon {
              display: inline-block;
              background: #e8e8e8;
              border-radius: 3px;
              padding: 0 6px;
              height: 18px;
              line-height: 18px;
              font-size: 10px !important;
              // font-family: "MuseoSans", Arial, sans-serif;
              font-weight: 500;
              vertical-align: top;
            }
            .speed-measure {
              color: #8e9497;
              font-size: 8px !important;
              display: inline-block;
              margin: 0 2px;
              vertical-align: baseline !important;
            }
            .direction-arr {
              display: inline-block;
              vertical-align: middle;
              margin: 0 4px 0 8px;
            }
          }
        }
      }
    }
  }
}
