<!-- begin:: Content -->
<div class="kt-main kt-main_report" style="display: flex;height: 100%;width: 100%;">
    <div class="user-tree kt-body--left tree-mobile" style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" (changeUser)="ChangeUserTree($event)"  [allowCollapse]="true"  [btnClose]="true">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main"  style="max-width: 100%;overflow: auto;">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <kt-breadcrumb title="{{'MENU.REPORT_SUMMARY_DAY' | translate}}" [data] = "parentBread"></kt-breadcrumb>
                </h3>
            </div>

        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">

                </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormSummary" (ngSubmit)='searchSummary(searchFormSummary)'>

                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div style="padding:0px 10px;">
                                    <div class="form-group">
                                        <kt-date-range-picker #datePicker 
                                            [options]="datePickerOptions" 
                                            (dateChange)="dateSelectChange($event)">
                                
                                        </kt-date-range-picker> 
                                    </div>
                                </div>
                               
                                <div class="search-device input-width-search">
                                    <div class="form-group">
                                            <select #days  [(ngModel)] = "deviceId" data-live-search="true" class="form-control kt_selectpicker padding-7" 
                                                formControlName="deviceId"
                                                data-size="5"
                                                name="days" id="days" 
                                                title="{{'REPORT.ROUTE.GENERAL.CHOISE_DEVICE' | translate}}"
                                                (change)="getNameDevice($event)"
                                                >
                                              
                                                <option *ngFor='let device of listDevices' value="{{device.id}}">
                                                    {{device.name}}
                                                </option>
        
                                            </select>
                                    </div>
                                </div>

                                <div style="padding-left:10px">
                                    <div class="form-group">
                                    <button type="submit" class="btn btn-outline-brand btn-pill">
                                        <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-outline-brand btn-pill"
                                        (click)="resetFormSearch()">
                                        <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                    </button>&nbsp;
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>              
            </div>
            <div>
                
            </div>

            <!--end: Search Form -->
            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row box-export-file" style="margin: 0px !important;">

                        <div class="col-md-12 export-file" >
        
                                    <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_EXCEL' | translate}}"  (click)="exportXlSX()" 
                                    type="button" container="body"
                                    class="btn btn-circle btn-icon btn-sm button-excel"
                                    [ngClass] = "{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':isdownLoad}"
                                    id="dropdownMenuButton"
                                        placement="top"  
                                        aria-expanded="false">
                                        <i class="icon-file-excel1"></i>
                                    </button>
                                    <span>&nbsp;&nbsp;</span>
                                    <button  ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" (click)="exportPDF()"
                                    type="button"  container="body"
                                    [ngClass] = "isdownLoadPDF?'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':''"
                                    class="btn btn-circle btn-icon btn-sm button-pdf"
                                        id="dropdownMenuButton" 
                                        placement="top"
                                        aria-expanded="false">
                                        <i class="icon-file-pdf1"></i>
                                    </button>
                
                             
                                <!-- <div class="kt-separator"></div> -->
                            </div>
                </div>
            </div>
            <!-- end: Feature -->
            <!--begin: Datatable -->
            <div 
                [ngClass] = "{'kt-datatable__table_report_fuel':showFuel}"
                resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table kt-datatable__table_report">
                    <thead class="kt-datatable__head">
                      
                        <tr class="kt-datatable__row"  style="left: 0px;">
                            <th class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                <span style="width:20px">#</span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort" rowspan="2">
                                <span [ngStyle]="{'width':!showFuel?'150px':'100px'}">{{'REPORT.SUMMARY.DAY.COLUMN.DATE' | translate}}</span>
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort"  rowspan="2">
                                <span [ngStyle]="{'width':!showFuel?'300px':'100px'}"> {{'DASHBOARD.STATIC.DISTANCE_LABEL' | translate}}</span> 
                            </th>
                            <th class="kt-datatable__cell kt-datatable__cell--sort" colspan="4">
                                <span style="text-align: center;"> {{'DASHBOARD.STATIC.DURATION' | translate}}</span> 
                            </th>
                          
                            <th class="kt-datatable__cell kt-datatable__cell--sort"  colspan="2">
                                <span style="text-align: center;"> {{'REPORT.SUMMARY.DAY.COLUMN.SPEED' | translate}}</span> 
                            </th>

                            <th *ngIf="showFuel" class="kt-datatable__cell kt-datatable__cell--sort"  colspan="6">
                                <span style="text-align: center;"> {{'MENU.FUEL' | translate}}</span> 
                            </th>

                          </tr>
                         <tr class="kt-datatable__row kt-datatable__row__report"  style="left: 0px;">
                  
                             <ng-container *ngFor="let column of dataTable.getColumns()">

                                <th *ngIf="!column.fuel" [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                [ngStyle]="showFuel?column.style:column.styleNoFuel"
                                class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                (click)="dataTable.sort(column.field)">
                                <span [ngStyle]="showFuel?column.style:column.styleNoFuel">{{column.translate | translate}}
                                    <i *ngIf="column.isSort"
                                        [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>

                                <th *ngIf="showFuel&&column.fuel" [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="column.style"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                          
                          </tr>
          
                    </thead>
                    <tbody class="kt-datatable__body " [ngStyle]="dataTable.bodyStyle">
                            <ng-container *ngFor="let item of dataTable.data;let j=index">
                          
                                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row kt-datatable__row__report"
                                    style="left: 0px;">
                                       
                                    <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                       class="kt-datatable__cell kt-datatable__toggle-detail">
                                       <a (click)="dataTable.showSubRow(j)" class="kt-datatable__toggle-detail">
                                           <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == j),
                                                 'icon-caret-right' : (dataTable.lastRowShow != j)}"></i>
                                       </a>
                                   </td>

                                    <td style="width:20px;text-align: center;"
                                        style="padding:0px 11px"
                                        class="kt-datatable__cell " data-field="id">
                                        <span style="width:20px;text-align: center;">
                                            {{j+1}}
                                        </span>
                                    </td>
                                    <td [ngStyle]="{'width':!showFuel?'150px':'100px'}"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span style="text-align: center;" [ngStyle]="{'width':!showFuel?'150px':'100px'}" ngbTooltip="{{item.date}}">
                                            {{item.date}}
                                        </span>
                                    </td>
                                    <td [ngStyle]="{'width':!showFuel?'300px':'100px'}"
                                        data-field="distance" class="kt-datatable__cell">
                                        <span [ngStyle]="{'width':!showFuel?'300px':'100px'}" ngbTooltip="{{item.distance}}"
                                            >
                                            {{item.distance}}
                                        </span>
                                    </td>
                                    <td [ngStyle]="dataTable.getColumns()[0].style"
                                        data-field="key_name" class="kt-datatable__cell">
                                        <span ngbTooltip="{{item.startTime}} "
                                            [ngStyle]="showFuel?dataTable.getColumns()[0].style:dataTable.getColumns()[0].styleNoFuel">
                                            {{item.startTime}}                             
                                       </span>
                                    </td>

                                    <td 
                                  
                                    [ngStyle]="showFuel?dataTable.getColumns()[1].style:dataTable.getColumns()[1].styleNoFuel"
                                        data-field="name" class="kt-datatable__cell">
                                        <span  [ngStyle]="showFuel?dataTable.getColumns()[1].style:dataTable.getColumns()[1].styleNoFuel"
                                           
                                            translate="">
                                            {{item.endTime}}                             

                                        </span>
                                    </td>
                                    <td  [ngStyle]="showFuel?dataTable.getColumns()[2].style:dataTable.getColumns()[2].styleNoFuel"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span
                                        ngbTooltip="{{item.endVolume}}"
                                        [ngStyle]="showFuel?dataTable.getColumns()[2].style:dataTable.getColumns()[2].styleNoFuel">
                                            {{item.totalEngineOnTime}}
                                        </span>
                                    </td>

                                    <td  [ngStyle]="showFuel?dataTable.getColumns()[3].style:dataTable.getColumns()[3].styleNoFuel"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span
                                        ngbTooltip="{{item.endTime | userDateAdv: 'YYYY-MM-DD hh:mm:ss'}}"
                                        [ngStyle]="showFuel?dataTable.getColumns()[3].style:dataTable.getColumns()[3].styleNoFuel">
                                            {{item.stopEngineOntime}}
                                        </span>
                                    </td>
                                    <td
                                    ngbTooltip="{{item.address}}"
                                    [ngStyle]="showFuel?dataTable.getColumns()[4].style:dataTable.getColumns()[4].styleNoFuel"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span 
                                       
                                        [ngStyle]="showFuel?dataTable.getColumns()[4].style:dataTable.getColumns()[4].styleNoFuel">
                                        {{item.maxspeed}}
                                        </span>
                                    </td>

                                    <td  [ngStyle]="showFuel?dataTable.getColumns()[5].style:dataTable.getColumns()[5].styleNoFuel"
                                        data-field="hire_date" class="kt-datatable__cell">
                                        <span 
                                    
                                        [ngStyle]="showFuel?dataTable.getColumns()[5].style:dataTable.getColumns()[5].styleNoFuel">
                                        {{item.avgspeed}}
                                        </span>
                                    </td>
                                    <td *ngIf="showFuel" colspan="5" style="width:600px" class="td-list-fuel">
                                        <ng-container *ngFor ="let sensor of item.fuel">

                                      
                                            <tr  class="kt-datatable__row"  >

                                                    <td  [ngStyle]="dataTable.getColumns()[6].style"
                                                    data-field="hire_date" class="kt-datatable__cell">
                                                    <span 
                                                    ngbTooltip=" {{sensor.name}}"
                                                    [ngStyle]="dataTable.getColumns()[6].style">
                                                    {{convertTextData(sensor.name)}}
                                                    </span>
                                                    </td>
                                            
                
                                                    <td [ngStyle]="dataTable.getColumns()[7].style"
                                                    data-field="hire_date" class="kt-datatable__cell">
                                                    <span 
                                                
                                                        [ngStyle]="dataTable.getColumns()[7].style">
                                                        
                                                        {{convertTextData(sensor.start)}}
                                                        </span>
                                                    </td>
                                                
                                                    <td  [ngStyle]="dataTable.getColumns()[8].style"
                                                    data-field="hire_date" class="kt-datatable__cell">
                                                    <span 
                                                
                                                    [ngStyle]="dataTable.getColumns()[8].style">
                                                    {{convertTextData(sensor.end)}}
                                                  
                                                    </span>
                                                </td>
                
                                        
                                                <td [ngStyle]="dataTable.getColumns()[9].style"
                                                        data-field="hire_date" class="kt-datatable__cell">
                                                        <span 
                                                    
                                                        [ngStyle]="dataTable.getColumns()[9].style">
                                                        {{convertTextData(sensor.consume)}}
                                                        </span>
                                                </td>
        
                                
                                                <td  [ngStyle]="dataTable.getColumns()[10].style"
                                                    data-field="hire_date" class="kt-datatable__cell">
                                                    <span 
                                                    
                                                        [ngStyle]="dataTable.getColumns()[10].style">
                                                        <i *ngIf="sensor.add > 0" style="margin-right: 3px;" class="icon-sm icon-plus-circle kt-font-success"></i>  
                                                        {{convertTextData(sensor.add )}}
                                                        </span>
                                                </td>

                                                <td [ngStyle]="dataTable.getColumns()[11].style"
                                                data-field="hire_date" class="kt-datatable__cell">
                                                <span 
                                                
                                                    [ngStyle]="dataTable.getColumns()[11].style">
                                                    <i  *ngIf="sensor.remove > 0" style="margin-right: 3px;" class="icon-sm icon-minus-circle kt-font-danger"></i>
                                                    {{convertTextData(sensor.remove)}}
                                                    </span>
                                            </td>
                                            </tr>
                                    </ng-container>
                                    </td>
                        
                                    
                                </tr>

                             
                            </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>


                </table>

                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->
<kt-wait-download
 [paramsEmiter] = "paramsEmiter" 
 (checkbetween) = "checkbetween($event)"
>