.select-default-language{
    img{
        width: 20px;
        margin-right: 6px;
    }
    float:right;
    span{
        font-size: 1rem;
    }
    .kt-header__topbar-icon{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;   
    }
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    img{
        max-height:100px;
    }
}
  
