<div class="box-chart" *ngFor="let chart of listChart; let i = index">
        <!-- <h5>{{chart.name | uppercase}}</h5> -->
        <div class="label-chartAxis">
                <span>{{chart.name | uppercase}}</span> ({{chart.parameters.unit}})
        </div>
        <div class="chartdiv" id="chartdiv{{i}}"></div>
        <!-- <div class="label-chartAxis">
            {{'MENU.REPORT_TEMPERATURE'|translate}} ({{chart.parameters.unit}})
        </div> -->
        <!-- <div ngbDropdown [placement]="'bottom-right'" class="setting-chart" >
            <div ngbDropdownToggle class="icon-setting">
                    <i class="flaticon2-settings"></i>
            </div>
            <div  ngbDropdownMenu class="box-setting">
                <div class="px-4 py-3">
                    <span  class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
                        <label>
                            <input ([ngModel])="showPoints" type="checkbox" class="ng-untouched ng-pristine ng-valid" (click)="changeShowPoints(showPoints,i)">
                        <span></span> Points </label>
                     </span>
                </div>
                
            </div>
        </div> -->
        <div *ngIf="isLoading" class="blockUI blockMsg blockElement"
        style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
        <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
            </span>
        </div>
    </div>
        <!-- <div class="loading-chart " [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--center kt-spinner--brand':isLoading}"></div> -->
        <div class="fuel-change" *ngIf="showChangeFuel">
            <li *ngFor = "let item of listChangeFuel">
                <p *ngIf = "item.add"><span style="color:#0abb87">+{{item.totalOffset}}</span></p>
                <p  *ngIf = "!item.add"><span  style="color:#fd397a">-{{item.totalOffset}}</span></p>
                <p>( {{item.startTime| userDateAdv: 'HH:mm:ss'}} - {{item.endTime| userDateAdv: 'HH:mm:ss'}} )</p>
            </li>
           
        </div>
</div>
    <div class="chartdiv" *ngIf="listChart.length == 0"></div>
    
    