<div class="mp-map-sidebar" resizeObserver (resize)="onResize($event.contentRect)"
    [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--brand kt-spinner--center':isLoading, 'mobile':isShowMobile}">
    <div style="height: 100%; display: flex;flex-direction: column;">
        <div class="mp-map-sidebar-header" id="headerListDevice">
            <div class="btn-close" *ngIf="isShowMobile" style="height: 25px;">
                <a class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="close()"
                    style="background: #f0f3ff;position: absolute; top:2px;right: 2px;border-radius: 5px;">
                    <i class="icon-times"></i>
                </a>
            </div>
            <div class="mp-input-group" style="display: flex;flex-direction: row;align-items: center;">
                <div class="mp-inline-block car-group-select " style="width: 328px;height: 35px;">
                    <div class="kt-input-icon kt-input-icon--right">
                        <input type="text" class="form-control form-control-sm"
                            placeholder="{{'COMMON.LIST_DEVICE.ALL_DEVICE' | translate}}..." autocomplete="off"
                            (keyup)="changeKeySearch($event.target.value)">
                        <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span><i class="icon-search"></i></span>
                        </span>
                    </div>
                    <!-- <input class="mp-input-search" placeholder="Search" value="All vehicles"> -->

                    <!-- <div class="col-md-12">
                        <div class="form-group">
                            <select class="selectpicker form-control selectpicker-device-type" data-width="100%" data-size="5"
                                data-key="typeDevice" multiple
                                title="{{'MANAGE.DEVICE.GENERAL.DEVICE_TYPE' | translate}}">
                                <option *ngFor="let item of deviceType " [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div> -->
                    <!-- <input class="mp-input-search" placeholder="Search" value="All vehicles"> -->
                </div>
                <span class="settings-top" style="top:0px;" (click)="openSettingMap('list_device')">
                    <button class="btn btn-outline-hover-info btn-elevate btn-circle btn-icon btn-sm">
                        <i class="flaticon2-settings" style="font-size:1.3rem"></i>
                    </button>
                </span>
            </div>
            <div class="map-sidebar-header-tabs" style="display: flex;">
                <div class="headers-tabs-item" (click)="changeStatus('all')"
                    [ngClass]="{'active':dataFilter.status == 'all'}">
                    <div class="headers-tabs-item-title">{{status.all}}</div>
                    <div class="headers-tabs-item-subTitle">{{'COMMON.LIST_DEVICE.ALL' | translate}}</div>
                </div>
                <div class="headers-tabs-item " (click)="changeStatus('stop')"
                    [ngClass]="{'active':dataFilter.status == 'stop'}">
                    <div class="headers-tabs-item-title">{{status.stop}}</div>
                    <div class="headers-tabs-item-subTitle">{{'COMMON.LIST_DEVICE.STOP' | translate}}</div>
                </div>
                <div class="headers-tabs-item " (click)="changeStatus('driving')"
                    [ngClass]="{'active':dataFilter.status == 'driving'}">
                    <div class="headers-tabs-item-title">{{status.running}}</div>
                    <div class="headers-tabs-item-subTitle">{{'COMMON.LIST_DEVICE.RUN' | translate}}</div>
                </div>
                <div class="headers-tabs-item " (click)="changeStatus('lost_gps')"
                    [ngClass]="{'active':dataFilter.status == 'lost_gps'}">
                    <div class="headers-tabs-item-title">{{status.lostGPS}}</div>
                    <div class="headers-tabs-item-subTitle">{{'COMMON.LIST_DEVICE.LOST_GPS' | translate}}</div>
                </div>
                <!-- <div class="headers-tabs-item " (click)="changeStatus('expired')"
                    [ngClass]="{'active':dataFilter.status == 'expired'}">
                    <div class="headers-tabs-item-title">{{status.expired}}</div>
                    <div class="headers-tabs-item-subTitle">{{'COMMON.LIST_DEVICE.EXPIRED' | translate}}</div>
                </div> -->
                <div class="headers-tabs-item " (click)="changeStatus('no_data')"
                    [ngClass]="{'active':dataFilter.status == 'no_data'}">
                    <div class="headers-tabs-item-title">{{status.lostSignal}}</div>
                    <div class="headers-tabs-item-subTitle">{{'COMMON.LIST_DEVICE.LOST_SIGNAL' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="map-sidebar-filters">
            <div class="map-sidebar-filters-items">

                <span class="mp-tooltip-comp mp-has-tooltip" container="body" style="cursor: pointer;"
                    ngbTooltip="{{(!checkAll?'COMMON.LIST_DEVICE.SHOW_ALL_ON_MAP':'COMMON.LIST_DEVICE.HIDE_ALL_ON_MAP') | translate}} "
                    (click)="checkAllItem()">
                    <i class=" kt-font-brand ic-lg follow action"
                        [ngClass]="{'icon-check-square':checkAll, 'icon-square':!checkAll}"></i>
                </span>
                <span class="mp-tooltip-comp mp-has-tooltip" container="body" style="cursor: pointer;"
                    ngbTooltip="{{'COMMON.LIST_DEVICE.VIEW_FAVORITE_MODE'| translate}} " (click)="onFavoriteMode()">
                    <i class=" kt-font-brand ic-lg follow action"
                        [ngClass]="{'icon-star':!favoriteMode, 'icon-star1':favoriteMode}"></i>
                </span>
                <div class="map-sidebar-filters-items-title kt-font-brand"><span (click)="onFilter()">
                        <i class="ic-lg "
                            [ngClass]="{'icon-filter-fill':isResetFilter,'icon-filter-alt':!isResetFilter}"></i>
                        {{'COMMON.LIST_DEVICE.FILTERS' | translate}}</span>
                    <span *ngIf="isResetFilter" (click)="resetFilter()">,{{'COMMON.LIST_DEVICE.RESET' | translate}}
                        x</span>
                </div>

                <div [ngStyle]="{'display':showFilter?'block':'none'}" class="map-sidebar-filters-bg"
                    (click)="offFilter()"></div>
                <div [ngStyle]="{'display':showFilter?'block':'none'}" class="map-sidebar-filters-select">
                    <div class="mp-text-secondary" style="font-weight: bold;">
                        {{'COMMON.LIST_DEVICE.FILTERS' | translate}}</div>
                    <div class="filters-bottom">
                        <button class="btn btn-primary btn-sm"
                            (click)="filter()">{{'COMMON.LIST_DEVICE.FILTER' | translate}}</button>
                        <button class="btn btn-secondary btn-sm  ml-3"
                            (click)="resetFilter()">{{'COMMON.LIST_DEVICE.RESET' | translate}}</button>
                    </div>
                    <div class="mp-input-group"><label>{{'COMMON.LIST_DEVICE.DEVICE_GROUP' | translate}}</label>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="selectpicker form-control selectpicker-device-group" data-width="100%"
                                    data-key="typeDevice" multiple data-size="5"
                                    title="{{'COMMON.LIST_DEVICE.DEVICE_GROUP' | translate}}">
                                    <option *ngFor="let item of deviceGroup " [value]="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mp-input-group"><label>{{'COMMON.LIST_DEVICE.DEVICE_TYPE' | translate}}</label>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="selectpicker form-control selectpicker-device-type" data-width="100%"
                                    data-live-search="true" data-key="typeDevice" multiple data-size="5"
                                    title="{{'COMMON.LIST_DEVICE.DEVICE_TYPE' | translate}}">
                                    <ng-container *ngFor="let item of deviceType">
                                        <option
                                            attr.data-content='<img style="height:20px" src="{{item.image}}"/> {{item.name}}'
                                            value="{{item.id}}">
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="map-sidebar-filters-sort" [ngClass]="{'enabled':dataFilter.sort!='off'}"
                    (click)="changeSort()">
                    <svg *ngIf="dataFilter.sort=='off' || dataFilter.sort=='asc'" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z"></path>
                            <path fill="#B2B5B7" fill-rule="nonzero"
                                d="M18 13.01V6h-2v7.01h-3L17 17l4-3.99zM7.23 3L4 11.226h1.32l.661-1.759H9.65l.66 1.759h1.321L8.407 3H7.23zm-.811 5.29L7.81 4.572 9.204 8.29H6.419zm.029 11.118h4.392v1.142H4.718v-.926l4.249-6.144h-4.22V12.33h5.957v.905l-4.256 6.172z">
                            </path>
                        </g>
                    </svg>
                    <svg *ngIf="dataFilter.sort=='desc'" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z"></path>
                            <path fill="#1087D2" fill-rule="nonzero"
                                d="M18 9.99V17h-2V9.99h-3L17 6l4 3.99zM7.23 12L4 20.226h1.32l.661-1.759H9.65l.66 1.759h1.321L8.407 12H7.23zm-.811 5.29l1.392-3.718 1.393 3.718H6.419zm.31-7.213h4.394v1.142H5v-.926l4.25-6.145H5.028V3h5.957v.904L6.73 10.077z">
                            </path>
                        </g>
                    </svg>

                </div>
            </div>
        </div>
        <div style="position: relative;display: flex; flex-direction: column; flex-grow: 2;">
            <div class="custom-scroll " style="overflow:auto">
                <div class="outer-container" style="height: 100%;">
                    <div class="inner-container" style="margin-right: -17px; height: 100%;">
                        <div class="content-wrapper" style="margin-right: 0px; height: 100%; overflow-y: visible;">
                            <div style="will-change: transform; width: 400px;">
                                <div style="position: relative;
                                    overflow: hidden;
                                    max-height: 200px;
                                    width: 100%;                                    
                                    overflow-y: auto;" id="listDeviceContainer">
                                    <div *ngFor="let item of listView" class="car-list-item-wrap">
                                        <div class="car-list-item" [ngClass]="{'active':lastDeviceIdSelected == item.id}" id="carId_{{item.id}}">
                                            <div class="first-row">
                                                <span class="mp-tooltip-comp mp-has-tooltip"
                                                    *ngIf="checkShow('listDevice.baseData.icon')"
                                                    (click)="trackingOneDevice(item,'now')"
                                                    ngbTooltip="{{'COMMON.LIST_DEVICE.DETAIL' | translate}}"
                                                    container="body" placement="top" style="cursor:pointer">
                                                    <span class="unit-state"
                                                        [ngStyle]="{'background':item.statusType.colorCode, 'border':'2px solid' + item.statusType.colorCode }"
                                                        [innerHTML]="item.iconTypeProcess.icon">
                                                    </span>
                                                </span>
                                                <span class="mp-tooltip-comp mp-has-tooltip"></span>
                                                <!-- check display -->
                                                <span class="mp-tooltip-comp mp-has-tooltip"
                                                    ngbTooltip="{{(item.feature?.hideOnMap?'COMMON.LIST_DEVICE.SHOW_ON_MAP':'COMMON.LIST_DEVICE.HIDE_ON_MAP') | translate}} "
                                                    container="body" style="cursor: pointer;"
                                                    (click)="checkShowItem(item)">
                                                    <i class="icon-square ic-lg follow action "
                                                        [ngClass]="{'icon-square':item.feature?.hideOnMap,'icon-check-square kt-font-brand':!item.feature?.hideOnMap}"></i>
                                                </span>
                                                <!-- follow -->
                                                <span class="mp-tooltip-comp mp-has-tooltip"
                                                    ngbTooltip="{{(item.feature?.follow?'COMMON.LIST_DEVICE.UNFOLLOW':'COMMON.LIST_DEVICE.FOLLOW') | translate}} "
                                                    container="body" style="cursor: pointer;" (click)="follow(item)">
                                                    <i class="ic-lg follow action"
                                                        [ngClass]="{'icon-heart':!item.feature?.follow,'icon-heart1 kt-font-brand':item.feature?.follow}"></i>
                                                    <!-- <i class="icon-route ic-lg follow action" style="color:#969696"
                                                        [ngClass]="{'kt-font-brand':item.feature?.follow}"></i> -->
                                                </span>
                                                <span class="unit-number" (click)="selectCar(item)">{{item.name}}
                                                </span>
                                                <span class="unit-icons">

                                                    <!-- speed -->
                                                    <span *ngIf="item.statusType.name=='run'
                                                    && checkShow('listDevice.baseData.speed')"
                                                        class="mp-tooltip-comp mp-has-tooltip">
                                                        <span class="odometer-icon"
                                                            ngbTooltip="{{item.statusType.text | translate}}"
                                                            container="body">
                                                            {{item.speed || 0 |  number:'1.0-2'}}
                                                            <span class="speed-measure">km/h</span>
                                                        </span>
                                                    </span>
                                                    <span *ngIf="item.statusDurationStr && item.statusType.name!='run'
                                                    && checkShow('listDevice.baseData.duration')"
                                                        class="mp-tooltip-comp mp-has-tooltip">

                                                        <span userDate [value]="item.statusTimestamp" [format]="'fromNowDateTimeShort'" class="odometer-icon"
                                                            ngbTooltip="{{item.statusType.text | translate}}"
                                                            container="body">
                                                            {{ item.statusDurationStr}}
                                                        </span>
                                                    </span>
                                                    <!-- <span *ngIf="!item.statusDurationStr && item.speed=='0'"
                                                        class="mp-tooltip-comp mp-has-tooltip">
                                                        <span class="odometer-icon"
                                                            ngbTooltip="{{item.statusType.text | translate}}"
                                                            container="body">
                                                            0
                                                            <span class="speed-measure">km/h</span>
                                                        </span>
                                                    </span> -->

                                                    <!-- battery -->
                                                    <span *ngIf="item.battery && item.statusType.name!='lostGPRS' && item.statusType.name!='lostSignal'
                                                        && checkShow('listDevice.baseData.battery')"
                                                        style="transform:translate(0,3px)"
                                                        ngbTooltip="  {{(item.battery.isCharged?('COMMON.LIST_DEVICE.CHANGED' | translate) : '')}} {{item.battery.percent}} % "
                                                        container="body" class="mp-tooltip-comp mp-has-tooltip"
                                                        [innerHTML]="item.batterySvg">
                                                    </span>
                                                    <!-- signal -->
                                                    <span *ngIf="item.statusType.name!='lostGPRS' && item.statusType.name!='lostSignal'
                                                        && checkShow('listDevice.baseData.gsm')"
                                                        ngbTooltip="{{item.gsm.translate | translate}}" container="body"
                                                        style="margin-left:0px" class="mp-tooltip-comp mp-has-tooltip">
                                                        <svg enable-background="new 0 0 128 128" height="18px"
                                                            version="1.1" viewBox="0 0 128 128" width="18px"
                                                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                                            <g fill="#CCCCCC">
                                                                <path
                                                                    d="M18.863,86.36h-5.974C7.98,86.36,4,90.326,4,95.218v19.915c0,4.897,3.98,8.86,8.889,8.86h5.974   c4.909,0,8.889-3.963,8.889-8.86V95.218C27.751,90.326,23.771,86.36,18.863,86.36z"
                                                                    [attr.fill]="(item.gsm.level>0)?'#65B300':'#CCCCCC'" />
                                                                <path
                                                                    d="M51.299,63.884h-7.034c-4.907,0-8.887,3.966-8.887,8.858v1.405v39.586v1.404   c0,4.896,3.98,8.859,8.887,8.859h7.034c4.909,0,8.889-3.963,8.889-8.859v-1.404V74.147v-1.405   C60.188,67.85,56.208,63.884,51.299,63.884z"
                                                                    [attr.fill]="(item.gsm.level>25)?'#65B300':'#CCCCCC'" />
                                                                <path
                                                                    d="M83.206,41.401H76.17c-4.905,0-8.886,3.967-8.886,8.86v2.833v59.213v2.833c0,4.897,3.98,8.86,8.886,8.86   h7.036c4.909,0,8.888-3.963,8.888-8.86v-2.833V53.094v-2.833C92.094,45.369,88.115,41.401,83.206,41.401z"
                                                                    [attr.fill]="( item.gsm.level>50)?'#65B300':'#CCCCCC'" />
                                                                <path
                                                                    d="M115.114,18.922h-7.036c-4.906,0-8.886,3.967-8.886,8.86v25.312v36.733v25.313   c0,4.897,3.979,8.86,8.886,8.86h7.036c4.909,0,8.886-3.963,8.886-8.86V89.827V53.094V27.782   C124,22.889,120.023,18.922,115.114,18.922z"
                                                                    [attr.fill]="(item.gsm.level>75)?'#65B300':'#CCCCCC'" />
                                                            </g>
                                                        </svg>
                                                    </span>

                                                    <!-- more -->
                                                    <div class="dropdown dropright mp-tooltip-comp mp-has-tooltip"
                                                        container="body">
                                                        <div aria-expanded="false" aria-haspopup="true" class="item"
                                                            data-toggle="dropdown"><i
                                                                class="icon-ellipsis-v ic-lg action"></i>
                                                        </div>
                                                        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                                                            <a class="dropdown-item" (click)="favoriteItem(item)">
                                                                <i
                                                                    [ngClass]="{'icon-star':!item.favorite,'icon-star1 kt-font-brand':item.favorite}"></i>
                                                                {{(!item.favorite?'COMMON.LIST_DEVICE.FAVORITE':'COMMON.LIST_DEVICE.DISFAVOUR') | translate}}
                                                            </a>
                                                            <a class="dropdown-item"
                                                                (click)="trackingOneDevice(item,'route')">
                                                                <i class="icon-route"></i>
                                                                {{'COMMON.LIST_DEVICE.HISTORY_TRIPS' | translate}}
                                                            </a>
                                                            <a class="dropdown-item" (click)="sendCommand(item)">
                                                                <i class="icon-terminal"></i>
                                                                {{'COMMON.LIST_DEVICE.SEND_COMMAND' | translate}}
                                                            </a>
                                                            <a class="dropdown-item"
                                                                (click)="trackingOneDevice(item,'notification')">
                                                                <i class="icon-bell"></i>
                                                                {{'COMMON.LIST_DEVICE.NOTIFICATIONS' | translate}}
                                                            </a>
                                                            <a class="dropdown-item" (click)="followPopup(item)">
                                                                <i class="icon-clone"></i>
                                                                {{'COMMON.LIST_DEVICE.FOLLOW_POPUP' | translate}}
                                                            </a>
                                                        </div>
                                                    </div>

                                                </span>
                                            </div>
                                            <div class="select-item" (click)="selectCar(item)">

                                                <div>
                                                    <div class="item-row"
                                                        *ngIf="item.numberPlate && checkShow('listDevice.deviceData.numberPlate')"
                                                        style="display: flex;align-items: center;">
                                                        <span class="unit-additional">
                                                            <i style="font-size: 1.2rem;transform: translateY(-50%);
                                                            position: absolute;"
                                                                ngbTooltip="{{'COMMON.LIST_DEVICE.NUMBER_PLATE' | translate}}"
                                                                container="body" class="icon-licence-plate"></i>
                                                        </span><span
                                                            class="unit-additional value">{{item.numberPlate}}</span>
                                                    </div>
                                                    <div class="item-row"
                                                        *ngIf="item.name && checkShow('listDevice.deviceData.imei')">
                                                        <span class="unit-additional">
                                                            <i class="icon-barcode "
                                                                ngbTooltip="{{'COMMON.LIST_DEVICE.IMEI' | translate}}"
                                                                container="body"></i>
                                                        </span><span class="unit-additional value">{{item.imei}}</span>
                                                    </div>
                                                    <div class="item-row"
                                                        *ngIf="item.simno && checkShow('listDevice.deviceData.simno')">
                                                        <span class="unit-additional">
                                                            <i class="icon-sim-card"
                                                                ngbTooltip="{{'COMMON.LIST_DEVICE.SIMNO' | translate}}"
                                                                container="body"></i>
                                                        </span><span class="unit-additional value">{{item.simno}}</span>
                                                    </div>
                                                    <div class="item-row"
                                                        *ngIf="item.VIN && checkShow('listDevice.deviceData.vin')">
                                                        <span class="unit-additional">
                                                            {{'COMMON.LIST_DEVICE.VIN' | translate}}
                                                            <!-- {{'COMMON.LIST_DEVICE.VIN_NUMBER' | translate}}: -->
                                                        </span>
                                                        <span class="unit-additional value">{{item.VIN}}</span>
                                                    </div>
                                                    <div class="item-row"
                                                        *ngIf="item.powerVoltage && checkShow('listDevice.deviceData.powerVoltage')">
                                                        <span class="unit-additional">
                                                            <i ngbTooltip=" {{'COMMON.LIST_DEVICE.POWER_VOLTAGE' | translate}}"
                                                                container="body" class="icon-car-battery"></i>
                                                        </span>
                                                        <span class="unit-additional value">{{item.powerVoltage}}
                                                            V</span>
                                                    </div>
                                                    <div class="item-row" *ngIf="item.dayDistance && checkShow('listDevice.deviceData.distanceToday')">
                                                        <span class="unit-additional">
                                                            <i ngbTooltip="{{'COMMON.LIST_DEVICE.DISTANCE_TODAY' | translate}}"
                                                                container="body" class="icon-route"></i>
                                                            <!-- {{'COMMON.LIST_DEVICE.DISTANCE_TODAY' | translate}}: -->
                                                        </span>
                                                            <span class="unit-additional value"><svg xmlns="http://www.w3.org/2000/svg"
                                                                width="18" height="18" viewBox="0 0 18 18">
                                                                <g fill="none" fill-rule="evenodd">
                                                                    <path d="M0 0h18v18H0z"></path>
                                                                    <path fill="#B2B5B7" fill-rule="nonzero"
                                                                        d="M9.725 15.734l5.146-12.871L2 8.009l7.006.72z">
                                                                    </path>
                                                                </g>
                                                            </svg>
                                                            <span class="cs-pt kt-font-info " 
                                                            (click)="trackingOneDevice(item,'route')"
                                                            ngbTooltip="{{'COMMON.LIST_DEVICE.HISTORY_TRIPS' | translate}}"
                                                            container="body">
                                                            {{item.dayDistance |  number:'1.0-2'}} km</span></span></div>
                                                    <div class="item-row"
                                                        *ngIf="item.driver && checkShow('listDevice.deviceData.driver')">
                                                        <span class="unit-additional">
                                                            <i class="icon-user-circle"
                                                                ngbTooltip="{{'COMMON.LIST_DEVICE.DRIVER' | translate}}"
                                                                container="body"></i>
                                                        </span><span
                                                            class="unit-additional value">{{item.driver?.name}}</span>
                                                    </div>
                                                    <div class="item-row" *ngIf="item.dayDrivingTime && item.dayDrivingTime!='null' 
                                                        && checkShow('listDevice.deviceData.drivingTime')">
                                                        <span class="unit-additional">
                                                            <i ngbTooltip="{{'COMMON.LIST_DEVICE.DRIVING_TODAY' | translate}}"
                                                                container="body" class="icon-clock"></i>
                                                            <!-- {{'COMMON.LIST_DEVICE.DRIVING_TODAY' | translate}}: -->
                                                        </span>
                                                        <span class="unit-additional value">{{item.dayDrivingTime |  number:'1.0-0' }}min
                                                        </span>
                                                    </div>
                                                    <div *ngIf="item.groupsStr.length>0 && checkShow('listDevice.deviceData.group')">
                                                        <span class="unit-additional">
                                                            <i class="icon-project-diagram"
                                                                ngbTooltip="{{'COMMON.LIST_DEVICE.GROUPS' | translate}}"
                                                                container="body"></i>
                                                        </span>
                                                        <span class="unit-additional value">{{item.groupsStr}}</span>
                                                    </div>
                                                    <div class="item-row"
                                                        *ngIf="item.timestampUTC && checkShow('listDevice.deviceData.updateTime')">
                                                        <span class="unit-additional">
                                                            <i ngbTooltip="{{'COMMON.LIST_DEVICE.UPDATE_TIME' | translate}}"
                                                                container="body" class="icon-sync"></i>
                                                            <!-- {{'COMMON.LIST_DEVICE.UPDATE_TIME' | translate}}: -->
                                                        </span>
                                                            <span class="unit-additional value">{{item.timestampUTC | userDateAdv:'datetime' }}</span>
                                                    </div>
                                                    
                                                    <div class="item-row"
                                                        *ngIf="item.geofence && checkShow('listDevice.deviceData.geofence')">
                                                        <span class="unit-additional">
                                                            <i ngbTooltip="{{'COMMON.LIST_DEVICE.GEOFENCE' | translate}}"
                                                                container="body" class="icon-pentagon"></i>
                                                        </span><span class="unit-additional value" container="body"
                                                            ngbTooltip="{{item.geofence}}">{{item.geofence}}</span>
                                                    </div>
                                                    <div class="item-row"
                                                        *ngIf="item.address && checkShow('listDevice.deviceData.address')">
                                                        <span class="unit-additional"><i
                                                                ngbTooltip="{{'COMMON.LIST_DEVICE.ADDRESS' | translate}}"
                                                                container="body" class="icon-map-marker-alt"></i>
                                                        </span><span class="unit-additional value"
                                                            ngbTooltip="{{item.address}}"
                                                            container="body">{{item.address}}</span>
                                                    </div>
                                                    <div class="item-row"
                                                        *ngIf="item.addressLoading && checkShow('listDevice.deviceData.address')">
                                                        <span class="unit-additional"><i
                                                                ngbTooltip="{{'COMMON.LIST_DEVICE.ADDRESS' | translate}}"
                                                                container="body" class="icon-map-marker-alt"></i>
                                                        </span>
                                                        <span class="text"
                                                            class="kt-spinner kt-spinner--sm kt-spinner--brand">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="listView.length==0 && !isLoading" class="kt-mt-40">
                                        <kt-not-found [size]="'md'" class="kt-mt-40"></kt-not-found>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:none" class="scroll-top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#797F82" fill-rule="evenodd" d="M8.6 7.4L10 6l6 6-6 6-1.4-1.4 4.6-4.6z"></path>
                </svg>
            </div>
        </div>
    </div>
   
</div>
<kt-setting-map [eventInput]="eventMapSetting"></kt-setting-map>
<div class="kt-aside-overlay" [ngClass]="{'show':isShowMobile}" (click)="close()"></div>
<kt-send-command [sendCommandOpen]="sendCommandEventEmitter"></kt-send-command>