$aside-minimize-width: 55px;
:host {
	.kt-aside {
		border-right: 1px solid #00000036 !important;
	}

	// fixed text line break issue on minimized aside hover
	.kt-menu__link-text {
		// white-space: nowrap
	}

	.show {
		display: block;
	}
	.hide {
		display: none;
	}
	.title {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.kt-aside {
		::ng-deep .tooltip-inner {
			display: none;
		}
	}
}

.kt-menu__title {
	display: block !important;
	overflow: hidden;
	width: 0;
	height: 0;
	opacity: 0;
}
// Aside displays in desktop
@media only screen and (min-width: 1025px) {
	.ps {
		overflow: visible !important;
		margin: 0 !important;
	}

	.kt-aside {
		.kt-menu__nav {
			padding: 10px 0 !important;
			height: calc(100vh - 64px);
			overflow-y: auto;
		}
		.kt-menu__item {
			transition: all 0.8s;
			// Display submenu when hover
			&:hover {
				.kt-menu__submenu {
					position: fixed;
					left: 36px;
					width: 230px;
					height: auto;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					opacity: 1;
					overflow: visible;
					.kt-menu__subnav {
						padding: 5px 0px 10px 0px;
					}
				}
				.kt-menu__title {
					position: fixed;
					z-index: 1;
					left: $aside-minimize-width;
					width: auto;
					height: auto;
					align-items: center;
					height: 40px;
					padding: 0 20px;
					font-size: 16px;
					box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
						0 2px 2px 0 rgba(0, 0, 0, 0.14),
						0 1px 5px 0 rgba(0, 0, 0, 0.12);
					border-radius: 5px;
					opacity: 1;
					overflow: visible;
					cursor: pointer;
					span {
						line-height: 40px;
					}
					.arrow-left {
						width: 0;
						height: 0;
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						position: absolute;
						left: -8.6px;
						top: 10px;
					}
				}
			}

			// Hide class
			.kt-menu__submenu {
				display: flex !important;
				flex-direction: row;
				overflow: hidden;
				width: 0;
				height: 0;
				opacity: 0;
				background-color: transparent;
				.kt-menu__link-icon {
					transition: all 0.4s;
					font-size: 15px;
				}
				.helper {
					width: 20px;
					height: auto;
					background-color: transparent;
					position: relative;
					.arrow-left__submenu {
						width: 0;
						height: 0;
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						position: absolute;
						right: 0;
						top: 10px;
					}
				}
				.content {
					width: 100%;
					height: fit-content;
					border-radius: 5px;
					box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
						0 2px 2px 0 rgba(0, 0, 0, 0.14),
						0 1px 5px 0 rgba(0, 0, 0, 0.12);
					height: fit-content;
				}
			}
			.la {
				display: none;
			}
			.kt-menu__link-icon {
				transition: all 0.4s;
				display: flex;
				justify-content: center;
				font-size: 22px;
			}
		}
		// Title for submenu
		.kt-menu__subnav {
			.kt-menu__title {
				visibility: hidden;
			}
			.title {
				display: flex;
				align-items: center;
				height: fit-content;
				padding: 7px 20px;
				font-size: 16px;
				font-weight: bold;
				cursor: auto;
				.kt-menu__link-icon {
					display: none;
				}
			}
			.kt-menu__link {
				padding: 7px 10px !important;
				min-height: 30px;
			}
		}
		// Tooltip css
		::ng-deep .tooltip-inner {
			min-width: 100px;
			width: auto;
		}
	}
}
