.map {
	height: 100%;
	padding: 0;
	width: 100%;
}
.leaflet-pane {
	z-index: 10 !important;
}
.calculator {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 400px;
	transition: all 0.4s;
}
.kt-map {
	display: flex;
	flex-grow: 1;
	border-top: 1px solid #dcdee0;
	border-left: 1px solid #dcdee0;
	background-color: white;
	position: relative;
}
@media only screen and (max-width: 400px) {
	.calculator {
		max-width: 100%;
	}
}
.toggle-btn {
	position: absolute;
	z-index: 99;
	background: #fffdfde7;
	width: 15px;
	height: 30px;
	right: 0;
	top: 10px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s;
	cursor: pointer;
}
