 <div class="kt-main" style="display: flex; flex-direction: row; align-items: stretch;height: 100%;">
 	<div class="calculator" #calculator>
 		<div class="toggle-btn" (click)="toggle()" #btn><i #icon class="icon-angle-left"></i></div>
 		<kt-search-direction *ngIf="isShowCalculate" [mapService]="getMapService()" [type]="'toll'" [transportType]="transportType" [listDevices]="listDeivce"></kt-search-direction>
 	</div>
 	<div class="kt-map" style="display: flex;flex-grow: 1;border-top: 1px solid #dcdee0;border-left: 1px solid #dcdee0;
        flex-direction: column;" resizeObserver (resize)="onResize()">
 		<div class="map" id="map" #map leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="options">
 		</div>
 	</div>
 	<kt-map-control [mapService]="getMapService()" [fixed]="true" [isShowTag]="false"></kt-map-control>
 </div>
