<div ngbDropdown placement="bottom-right" *ngIf="user$ | async as _user" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<div class="kt-header__topbar-user" [ngClass]="{'kt-header__topbar-icon': icon}" style="width:55px;height:55px">
			<!-- <span class="kt-header__topbar-welcome kt-hidden-mobile" *ngIf="greeting">Hi,</span>
			<span class="kt-header__topbar-username kt-hidden-mobile" *ngIf="greeting">{{_user.fullname}}</span> -->
			<i *ngIf="icon" class="flaticon2-user-outline-symbol"></i>
			<ngx-avatar *ngIf="avatar" src="" name="{{_user.fullname}}" textSizeRatio = '2' size="40" initialsSize="2" [round]="true" cornerRadius="6" ></ngx-avatar>

			<span *ngIf="badge" class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">{{_user.fullname|firstLetter}}</span>
		</div>
	</div>
	<div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!--begin: Head -->
		<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(./assets/media/misc/bg-1.jpg)">
			<div class="kt-user-card__avatar">
					<ngx-avatar *ngIf="avatar" src="" name="{{_user.fullname}}" textSizeRatio = '2' initialsSize="2" [round]="true" cornerRadius="6" ></ngx-avatar>
					<span [hidden]="true" class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
					{{_user.fullname|firstLetter}}
				</span>
			</div>
			<div class="kt-user-card__name">
				{{_user.fullname}}
			</div>
			
		</div>
		<!--end: Head -->

		<!--begin: Navigation -->
		<div class="kt-notification">
            <a style="cursor: pointer"  ngbDropdownToggle  class="kt-notification__item dropdown-toggle"
                 container="body" placement="top" 
                 (click)="onClickPoint()">
				<div class="kt-notification__item-icon">
					<i class="kt-menu__link-icon icon-dollar-sign"></i>
				</div>
				<div class="kt-notification__item-details">
					<div class="kt-notification__item-title kt-font-bold" ngbTooltip="{{'COMMON.USER_PROFILE.NOTE_POINT' | translate}}" >
						{{'COMMON.USER_PROFILE.AVAILABLE_BALANCE' | translate}}: <span class="kt-font-danger" style="font-weight: 600;"> {{_user.currentPoint | number}} </span> {{'COMMON.USER_PROFILE.POINTS' | translate}}
					</div>
					
				</div>
            </a>
			<a style="cursor: pointer" ngbDropdownToggle  (click)= "open(content,_user.id)" class="kt-notification__item">
				<div class="kt-notification__item-icon">
					<i class="kt-menu__link-icon icon-user"></i>
				</div>
				<div class="kt-notification__item-details">
					<div class="kt-notification__item-title kt-font-bold" >
						{{'MANAGE.GENERAL.PROFILE_UPERCASE'|translate }}
					</div>
					
				</div>
            </a>
            <a style="cursor: pointer" ngbDropdownToggle  (click)= "open(changePassWord,_user.id)" class="kt-notification__item">
                    <div class="kt-notification__item-icon">
                        <i class="kt-menu__link-icon  icon-lock"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold" >
                            {{'MANAGE.USER.GENERAL.CHANGE_PASSWORD' | translate}}
                        </div>
                        
                    </div>
                </a>
            <ng-container *ngFor="let item of listPages">

			<a  ngbDropdownToggle routerLink="{{item.page}}" href="javascript:;" class="kt-notification__item" *ngxPermissionsOnly="item.permission">
				<div class="kt-notification__item-icon">
					<i class="{{item.icon}}"></i>
				</div>
				<div class="kt-notification__item-details">
					<div class="kt-notification__item-title kt-font-bold">
					   {{item.translate|translate }}
					</div>
					
				</div>
            </a>

            </ng-container>
     
			
			<div class="kt-notification__custom">
				<a href="javascript:;" (click)="logout()" class="btn btn-outline-brand btn-upper btn-sm btn-bold">
					{{'COMMON.GENERAL.SIGN_OUT'|translate|uppercase  }}
				</a>
			</div>
		</div>
	
    </div>
    <ng-template #changePassWord let-modal>
            <div class="modal-header ">
                  
                    <h5 class="modal-title" >
                            {{'MANAGE.USER.GENERAL.CHANGE_PASSWORD' | translate}}
                        </h5>
                    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
            </div>
            <form [formGroup]="formChangePassWord" (ngSubmit)='onChangePassWord(formChangePassWord)' class="form-global">
                    <div class="modal-body ">
                         
                                        <div class="form-group row">
                                                <div class="col-lg-12">
                                                        <div class="show-error">
                                                        <label>{{'MANAGE.USER.GENERAL.OLD_PASSWORD' | translate}}</label>
                                                        <span class="text-danger"> *</span>
                                                     
                                                        </div>     
                                                        <div class="input-group">
                                        
                                                                <input id="passOld"  [type]="fieldTextTypePassOld ? 'text' : 'password'" class="form-control" placeholder="{{'MANAGE.USER.GENERAL.OLD_PASSWORD' | translate}}"
                                                                formControlName="passOld">
                                                                <span  (click)="showPass('old',fieldTextTypePassOld)"
                                                              
                                                                class="icon-show-eye">
                                                                <i  
                                                                [ngClass]="{
                                                                    'icon-eye-slash': fieldTextTypePassOld,
                                                                    'icon-eye': !fieldTextTypePassOld
                                                                }"></i></span>
                                                        </div>
                                                
                                                </div>
                                         </div>    
                                         <div class="form-group row">   
                                                <div class="col-lg-12">
                                                        <div class="show-error">
                                                            <label>{{'MANAGE.USER.GENERAL.NEW_PASSWORD' | translate}}</label>
                                                            
                                                            <small *ngIf="checkPassword" class="text-danger">
                                                                {{'MANAGE.USER.MESSAGE.PASS_MIN_CHAR' | translate}}
                                                            </small>
                                                            <span class="text-danger"> *</span>
                                                        </div>     
                                                            <div class="input-group">
                                            
                                                                    <input id="passNew" [type]="fieldTextTypePassNew ? 'text' : 'password'" class="form-control" placeholder="{{'MANAGE.USER.GENERAL.NEW_PASSWORD' | translate}}"
                                                                     formControlName="passNew">
                                                                     <span  (click)="showPass('new',fieldTextTypePassNew)"
                                                              
                                                                     class="icon-show-eye">
                                                                     <i  
                                                                     [ngClass]="{
                                                                         'icon-eye-slash': fieldTextTypePassNew,
                                                                         'icon-eye': !fieldTextTypePassNew
                                                                     }"></i></span>
                                                            </div>
                                                
                                                </div>
                                         </div>
                                         <div class="form-group row">      
                                                <div class="col-lg-12">
                                                        <div class="show-error">
                                                        <label>{{'MANAGE.USER.GENERAL.COMFIRM_PASSWORD' | translate}}</label>                                                   
                                                        <small *ngIf="checkPasswordAgain" class="text-danger">
                                                            {{'MANAGE.USER.MESSAGE.PASSWORD_INCORRECT' | translate}}
                                                        </small>
                                                        <span class="text-danger"> *</span>
                                                    </div> 
                                                        <div class="input-group">
                                                            
                                                                <input id="passAgain" [type]="fieldTextTypePassConfirm ? 'text' : 'password'" class="form-control" placeholder="{{'MANAGE.USER.GENERAL.COMFIRM_PASSWORD' | translate}}"
                                                                formControlName="passAgain">
                                                                <span  (click)="showPass('confirm',fieldTextTypePassConfirm)"
                                                              
                                                                     class="icon-show-eye">
                                                                     <i  
                                                                     [ngClass]="{
                                                                         'icon-eye-slash': fieldTextTypePassConfirm,
                                                                         'icon-eye': !fieldTextTypePassConfirm
                                                                     }"></i></span>
                                                        </div>
                                                    </div>
                                                        

                                                    
                                        </div>
                               
                    </div>
                    <div class="modal-footer">
                          
    
                             <button type="submit" [disabled]="formChangePassWord.invalid" class="btn btn-primary ">
                                        {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
                                      </button>
                        
                            <button type="button" class="btn btn-secondary"(click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
                            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
                 </div>
            </form>    
    </ng-template>            
    <ng-template #content let-modal>
        <div class="modal-header ">
              
                <h5 class="modal-title" >
                        {{'COMMON.USER_INFO.USER_INFO' | translate}}
                    </h5>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="saveFormUsers" (ngSubmit)='onSubmit(saveFormUsers)' class="form-global">
                    <div class="modal-body row">
                        <div class="col-lg-12 form-info">
                            <div class="tab-title-modal">
                                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#info_global"
                                            role="tab">
                                            {{'COMMON.GENERAL.BASE' | translate}}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " data-toggle="tab" href="#info_config" role="tab">
                                            {{'COMMON.GENERAL.PARAMETER' | translate}}
                                        </a>
									</li>
									<!-- <li class="nav-item">
											<a class="nav-link " data-toggle="tab" href="#info_pass" role="tab">
                                            {{'MANAGE.USER.GENERAL.CHANGE_PASSWORD' | translate}}
											</a>
                                    </li> -->
                                    <!-- <li class="nav-item" *ngIf="isEdit">
                                        <a class="nav-link " data-toggle="tab" href="#info_extension"  (click)="openTabExtension()" role="tab">
                                            {{'COMMON.GENERAL.EXTENSION' | translate}}
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="info_global" role="tabpanel">
                                    <div>
        
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <div class="show-error">
                                                    <label>{{'COMMON.COLUMN.USERNAME' | translate}} </label>
                                                </div>
                                                <div class="input-group">
                                                 
                                                    <input [attr.disabled]="isEdit ? '' : null" type="text"
                                                        class="form-control" placeholder=""
                                                        [ngModel]="isEdit?_user.username:''" formControlName="username">
                                                </div>
        
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="show-error">
                                                    <label>{{'MANAGE.USER.GENERAL.FULL_NAME' | translate}}</label>
                                                </div>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder=""
                                                        [ngModel]="isEdit?_user.name:''" formControlName="name">
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="form-group row">
        
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.GENERAL.PHONE' | translate}}</label>
                                                <!-- <app-control-messages [control]="f['phone']"></app-control-messages> -->
                                                <div class="input-group">
                                              
                                                    <input type="text" class="form-control" placeholder=""
                                                        [ngModel]="isEdit?_user.phone:''" formControlName="phone">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="show-error">
                                                    <label>{{'MANAGE.USER.GENERAL.EMAIL' | translate}} </label>
                                                    <!-- <app-control-messages [control]="f['email']"></app-control-messages> -->
                                                    <span class="text-danger"> *</span>
                                                </div>
                                                <div class="input-group">
                                              
                                                    <input type="text" class="form-control" placeholder=""
                                                        [ngModel]="isEdit?_user.email:''" formControlName="email">
                                                </div>
                                            </div>
        
                                        </div>
                                  
                                        <div class="form-group row">
        
                                            <div class="col-lg-6">
                                                <label>{{'COMMON.COLUMN.DESCRIPTION' | translate}} </label>
                                                <div class="input-group">
                                                
                                                    <textarea class="form-control" [ngModel]="isEdit?_user.description:''"
                                                        formControlName="description" rows="5">
                                                    {{isEdit?_user.description:''}}
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>{{'COMMON.COLUMN.ADDRESS' | translate}} </label>
                                                <div class="input-group">
                                                    <textarea class="form-control" [ngModel]=""
                                                        formControlName="address" rows="5">
                                                         
                                                    </textarea>
                                                </div>
                                            </div>
        
                                        </div>
                                        <div class="form-group row">
                                            <div class="form-group  col-lg-6">
                                                <label>{{'MANAGE.USER.GENERAL.PAGE_MAIN' | translate}}</label>
                                                <div class="input-group">
            
                                                    <select name="kt_table_1_length"
                                                        aria-controls="kt_table_1" class=" form-control kt_selectpicker kt_selectpicker_pagemain padding-7"
                                                        formControlName="pageMain" id="pageMain">
                                                        <ng-container *ngFor='let page of listPageMain'>
                                                            <option  value="{{page.page}}" attr.data-content='<i class="{{page.icon}}"></i> <span class="text">{{page.translate | translate}}</span>'>
            
                                                            </option>
                                                        </ng-container>
                                                       
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <!--end html global-->
                                <!--html advanced-->
                                <div class="tab-pane" id="info_config" role="tabpanel">
                                    <div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
        
                                                <label>{{'MANAGE.USER.PARAMETER.TIMEZONE' | translate}}</label>
                                                <div class="input-group">
                                                  
                                                    <select [ngModel]='_user.timezone' data-live-search="true"
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="timezone">
        
                                                        <option *ngFor='let item of listTimeZone' value="{{item.timeZone}}">
                                                            {{item.timeZone}} ({{item.GMTOffset}})
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.LANGUAGE' | translate}}</label>
                                                <div class="input-group">
                                                   
                                                    <select [ngModel]='_user.language' data-live-search="true"
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="language">
        
                                                        <option *ngFor='let language of languageList'
                                                            value="{{language.key}}">
                                                            {{language.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
        
                                        </div>
                                        <div class="form-group row">
        
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.DISTANCE' | translate}}</label>
                                                <div class="input-group">
                                                   
                                                    <select [ngModel]='_user.unitDistance'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="distance">
        
                                                        <option *ngFor='let distance of unitDistance'
                                                            value="{{distance.id}}">
                                                            {{distance.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.VOLUME' | translate}}</label>
                                                <div class="input-group">
                                                    
                                                    <select [ngModel]='_user.unitVolume'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="volume">
        
                                                        <option *ngFor='let volume of unitVolume' value="{{volume.id}}">
                                                            {{volume.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
        
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.TEMPERATURE' | translate}}</label>
                                                <div class="input-group">
                                                  
                                                    <select [ngModel]='_user.unitTemperature'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="temperature">
                                                
                                                        <option *ngFor='let temperature of unitTemperature'
                                                            value="{{temperature.id}}">
                                                            {{temperature.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.WEIGHT' | translate}}</label>
                                                <div class="input-group">
                                                   
                                                    <select [ngModel]='_user.unitWeight'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="weight">
                                               
                                                        <option *ngFor='let weight of unitWeight' value="{{weight.id}}">
                                                            {{weight.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.DATE_FORMAT' | translate}}</label>
                                                <div class="input-group">
                                                    
                                                    <select [ngModel]='_user.dateFormat'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="date">
                                         
                                                        <option *ngFor='let date of dateFormat' value="{{date.type}}">
                                                            {{date.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.TIME_FORMAT' | translate}}</label>
                                                <div class="input-group">
                                                   
                                                    <select [ngModel]='_user.timeFormat'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="time">
                                                
                                                        <option *ngFor='let time of timeFormat' [ngValue]="time.type">
                                                            {{time.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
        
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.DECIMAL_SEPARATOR' | translate}}</label>
                                                <div class="input-group">
                                                   
                                                    <select [ngModel]='_user.decimalSeprerator'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="seprerator">
                                           
                                                        <option *ngFor='let seprerator of decimalSeprerator'
                                                            value="{{seprerator.id}}">
                                                            {{seprerator.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>{{'MANAGE.USER.PARAMETER.FIRST_WEEKDAY' | translate}}</label>
                                                <div class="input-group">
                                                    
                                                    <select [ngModel]='_user.weekFirstDay'
                                                        class="form-control kt_selectpicker padding-7"
                                                        formControlName="fisrtday">
                                              
                                                        <option *ngFor='let fisrtday of weekFirstDay'
                                                        [ngValue]="fisrtday.id">
                                                            {{fisrtday.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
        
                                        </div>
        
                                    </div>
                                    <!--end data d-->
                                </div>
                                <!--end html advanced-->
                                <!-- tab change password-->
                                <!-- <div class="tab-pane" id="info_pass" role="tabpanel">
                                    <div class="row">
                                      
                                        <div class="col-lg-12">
                                        
                                                <div class="form-group row">
                                                        <div class="col-lg-6">
                                                                  <div class="show-error">
                                                                    <label>{{'MANAGE.USER.GENERAL.NEW_PASSWORD' | translate}}</label>
                                                                    <small *ngIf="checkPassword" class="text-danger">
                                                                        {{'MANAGE.USER.MESSAGE.PASS_MIN_CHAR' | translate}}
                                                                    </small>
                                                                   </div>     
                                                                    <div class="input-group">
                                                    
                                                                            <input type="password" class="form-control" placeholder="{{'MANAGE.USER.GENERAL.NEW_PASSWORD' | translate}}"
                                                                            [ngModel]="" formControlName="passNew">
                                                                    </div>
                                                           
                                                        </div>
                                                        <div class="col-lg-6">
                                                                <label>{{'MANAGE.USER.GENERAL.COMFIRM_PASSWORD' | translate}}</label>
                                                                <div class="input-group">
                                                                    
                                                                        <input type="password" class="form-control" placeholder="{{'MANAGE.USER.GENERAL.COMFIRM_PASSWORD' | translate}}"
                                                                        [ngModel]="" formControlName="passAgain">
                                                                </div>
                                                            </div>
                                                                   

                                                               
                                                </div>
                                                
                                        </div>
                                    </div>
                                       
                                </div> -->
                                <!--end tab change password-->
                                <!-- hmtl tab extension -->
                                <!-- <div class="tab-pane" id="info_extension" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table kt-font-mid">
                                            <thead>
                                                <tr>
                                                    <td class="kt-font-bolder" style="width: 80px">#</td>
                                                    <td class="kt-font-bolder" width="120">
                                                        {{'MANAGE.USER.EXTENSION.KEY' | translate}}</td>
                                                    <td class="kt-font-bolder" width="200">
                                                        {{'MANAGE.USER.EXTENSION.DESCRIPTION' | translate}}</td>
                                                    <td class="kt-font-bolder" width="150">
                                                        {{'COMMON.COLUMN.CREATED_DATE' | translate}}</td>
                                                    <td class="kt-font-bolder" width="150">{{'COMMON.COLUMN.STATUS' | translate}}
                                                    </td>
                                                    <td class="kt-font-bolder" style="width: 200px">
                                                        {{'COMMON.COLUMN.ACTION' | translate}}</td>
                                                </tr>
                                            </thead>
                                            <tbody class="kt-datatable__body">
                                                <tr class="kt-datatable__row" style="left: 0px;" *ngFor="let mapKey of listMapKeys; let i = index">
                                                    <td>{{i + 1 }}</td>
                                                    <td>{{ mapKey.apiKey }}</td>
                                                    <td>{{ mapKey.description }}</td>
                                                    <td>{{ mapKey.createdAt | userDate }}</td>
                                                    <td class="kt-datatable__cell">
                                                        <span class="btn btn-bold btn-pill btn-sm btn-font-sm" 
                                                            [ngClass]="{'kt-font-danger':mapKey.active==0,'kt-font-success':mapKey.active==1}">
                                                            <i class="ic-md" [ngClass]="{'icon-minus-circle':mapKey.active==0,
                                                                'icon-check-circle1':mapKey.active==1}"></i>
                                                        </span>
                                                    </td>

                                                    <td data-field="Actions" data-autohide-disabled="false"
                                                        class="kt-datatable__cell">
                                                        <span style="overflow: visible; position: relative;">
                                                            <a [ngStyle] ngbTooltip="{{(mapKey.active =='1'?'MANAGE.USER.EXTENSION.ACTIVE':'MANAGE.USER.EXTENSION.INACTIVE') | translate }}" container="body"
                                                                class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="changeActive(mapKey)" >
                                                                <i [ngClass]="{'icon-lock':mapKey.active =='1','icon-unlock':mapKey.active =='0'}"></i>
                                                            </a>

                                                            <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                                container="body" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                                (click)="deleteMapKey(mapKey.id)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7">
                                                        <a class="btn btn-primary" (click)="addMapKey()" style="color: #fff;">
                                                            <i class="icon-plus"></i> {{'COMMON.ACTIONS.ADD' | translate}}
                                                            {{'MANAGE.USER.EXTENSION.KEY' | translate | lowercase}}
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                                <!-- end tab extension -->

                            </div>
                        </div>
                       
                    </div>
                    <!--end body modal-->
                    
               
    <div class="modal-footer">
            <div *ngIf="isLoginError" class="text-danger error-message">
                {{errorMessage}}
            </div>
            <button type="submit" *ngIf="!isEdit" [disabled]="saveFormUsers.invalid" 
                class="btn btn-primary"> {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
             <button *ngIf="isEdit" type="submit" [disabled]="saveFormUsers.invalid" class="btn btn-primary ">
                        {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
                      </button>
        
            <button type="button" class="btn btn-secondary"(click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>
</ng-template>
</div>

<!-- model add keymap -->
<ng-template #mapKeyTmp let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{mapKeyTmpTitle | translate}}
            {{'MANAGE.USER.EXTENSION.KEY' | translate | lowercase}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="mapKeyAction">
            <ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="mapKeyDeleteTmp">
            </ng-container>
            <ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="mapKeyFormTmp">
            </ng-container>
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container [ngSwitch]="mapKeyAction">
            <button *ngSwitchCase="'add'" type="button" class="btn btn-primary"
                (click)="onMapKeySubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
            <button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
                (click)="onMapKeySubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<!-- comfirm delete -->
<ng-template #mapKeyDeleteTmp>
    <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
    </div>
</ng-template>

<ng-template #mapKeyFormTmp>
    <form class="kt-form validate is-invalid"  [formGroup]="formUserMapKey">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">{{'MANAGE.USER.EXTENSION.KEY' | translate}}</label>
                    <input type="text" class="form-control" name="apiKey" formControlName="apiKey">
                    <!-- <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'name'"
                        [errorMessages]="configMessageSensor"></kt-message-error> -->
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="">{{'MANAGE.DEVICE.EDIT.GENERAL.CALCULATION_METHOD' | translate}}</label>
                    <select class="kt-selectpicker__sensor form-control" name="keyType" id="keyType"
                        formControlName="keyType"
                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_CALCULATION_METHOD' | translate}}"
                        data-size="5" >
                        <option value="google">
                            google
                        </option>
                    </select>
                    <!-- <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'template'"
                        [errorMessages]="configMessageSensor"></kt-message-error> -->
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="">{{'MANAGE.USER.EXTENSION.DESCRIPTION' | translate}}</label>
                    <textarea rows="4" class="form-control" formControlName="description"></textarea>
                    <!-- <kt-message-error [errorFormGroup]="fSensorBase" [errorFormControlName]="'name'"
                        [errorMessages]="configMessageSensor"></kt-message-error> -->
                </div>
            </div>
        </div>
    </form>

</ng-template>


