<!-- begin:: Brand -->
<div class="kt-header__brand kt-grid__item  " [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_header_brand" style="">
    <div class="kt-header__brand-logo" style="padding: 5px 20px;">
        <a href="javascript:;" routerLink="/dashboard">
            <img alt="logo" [attr.src]="headerLogo" style="max-height: 50px;" />
        </a>
    </div>
</div>
<!-- end:: Brand -->
