<div ngbDropdown placement="bottom-left">
  <div class="show-text" ngbDropdownToggle>
    <span>{{textSelected}}</span>
  </div>
  <div ngbDropdownMenu
    class="test dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl"
    style="width:600px;border-radius: 5px;">
    <div class="kt-portlet box-check-list">
      <form [formGroup]="formCheckList">
        <div class="row kt-portlet__head-title" [ngClass]="!isSwitch?'kt-portlet__head-title_check':''">
          <div class="col-lg-6 title-left">
            <span *ngIf="isSwitch" class="kt-switch kt-switch--sm kt-switch--icon float-left">
              <label>
                <input id="checkallboxed_{{name}}" type="checkbox" formControlName="checkallboxed"
                  [(ngModel)]="checkallboxed" (change)="checkUncheckAll()">
                <span></span>
              </label>
            </span>
            <label *ngIf="!isSwitch" class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
              <input id="checkallboxed_{{name}}" type="checkbox" formControlName="checkallboxed"
                [(ngModel)]="checkallboxed" (change)="checkUncheckAll()">
              <span></span>
            </label>
            <label style="cursor: pointer" for="checkallboxed_{{name}}" class="col-form-label">
              {{'COMMON.GENERAL.SELECT_ALL' | translate}}
            </label>
          </div>

          <div class="col-lg-6 title-right">

            <div class="kt-input-icon kt-input-icon--left">
              <input [(ngModel)]="searchText" formControlName='searchText' (keyup)="searchItem($event.target.value)"
                type="text" class="form-control" placeholder="{{placeholder}}">
              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                <span><i class="la la-search"></i></span>
              </span>
              <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">
                <i class="material-icons">close</i>
              </span>
            </div>
          </div>


          <!-- <input id="cars_bg_search" type="text" class="bg_search float-right" value="Search"> -->
        </div>
        <div class="kt-portlet__body body-select-box">
          <!-- <div *ngFor="let item of dataByGroup | groupBy:'groupName': searchText">
                              <h4>{{item.key}}</h4>
                              <li *ngFor="let test1 of item.value">
                                  {{test1.name}}
                              </li>
                            </div> -->
          <div class="form-group row form-group-device">
            <!-- | filter: (searchText | ascii) : 'textSearch' : true -->
            <div class="item-box-list" [ngClass]='size' *ngFor="let item of dataByGroup ">
              <h5 class="group-checkbox" *ngIf="showGroup">

                <label *ngIf="!isSwitch" class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                  <input type="checkbox" id="{{name}}_{{item.info.id}}" [(ngModel)]="item.info.checked"
                    (change)="checkUncheckAllGroup(item.info.id)" formControlName="group{{item.info.id}}">
                  <span></span>
                </label>
                <label style="cursor: pointer" class="col-form-label" for="{{name}}_{{item.info.id}}">
                  {{item.info.name | titlecase  }}
                </label>
              </h5>
              <div class="row">
                <div formArrayName="{{name}}" [ngClass]="showGroup?'item-checkbox':''" class="col-lg-6"
                  *ngFor="let device of item.listDevice">
                  <label *ngIf="!isSwitch" class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                    <input type="checkbox" formControlName="{{name}}_id_{{device.id}}"
                      id="{{name}}_group_{{item.info.id}}_{{device.id}}" [(ngModel)]="device.checked"
                      (change)="isCheckSelected(device,item.info)">
                    <span></span>
                  </label>
                  <label style="cursor: pointer" class="col-form-label"
                    for="{{name}}_group_{{item.info.id}}_{{device.id}}">
                    {{device.name}}
                  </label>
                </div>
              </div>
            </div>

            <div class="no-device" *ngIf="dataByGroup.length == 0">
              <i class="icon-search"></i> {{'REPORT.FUEL.MESSAGE.NOT_DEVICE' | translate}}
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>