<!-- Modal -->
<!-- <div>name</div> -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{'MANAGE.DEVICE.RENEWS.GENERAL.RENEWS' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateSellDevice" [ngTemplateOutletContext]="{data:devices}">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<ng-template #templateSellDevice let-data="data">
    <div class="row">
        <div class="content-left">

            <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                <div class="alert alert-light alert-elevate fade show mb-0" role="alert">
                    <div class="alert-icon"><i class="icon-question-circle kt-font-brand"></i></div>
                    <div class="alert-text">
                        <span>1.{{'MANAGE.DEVICE.RENEWS.MESSAGE.NOTE_1' | translate}}</span>
                        <br />
                        <span>2.{{'MANAGE.DEVICE.RENEWS.MESSAGE.NOTE_2' | translate}}</span>
                        <br />
                        <span>3.{{'MANAGE.DEVICE.RENEWS.MESSAGE.NOTE_3' | translate}}</span>
                    </div>
                </div>
                <div class="kt-portlet__head kt-portlet__head--sm">
                    <div class="kt-portlet__head-label">
                        <div class="form-group">

                        </div>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <span>{{'MANAGE.DEVICE.RENEWS.GENERAL.USER_RENEWS' | translate}}:</span>&nbsp;
                        <span style="font-weight: bold"
                            class="kt-font-danger">{{userSelect.name}}&nbsp;({{userSelect['currentPoint'] | number}}&nbsp;
                            {{'COMMON.COLUMN.POINT' | translate | lowercase}}) </span>
                    </div>
                </div>

                <div class="kt-portlet__body kt-portlet__body--overflow-y">
                    <form class="kt-form kt-form--label-right is-invalid" [formGroup]="formRenews">
                        <div class="row ">
                            <div class="col-md-6 my-0">
                                <label class="col-form-label">{{'MANAGE.DEVICE.RENEWS.GENERAL.RENEWS' | translate}}:
                                </label>
                                <select id="monthRenews" class="form-control"
                                    (change)="onChangeMonthRenews($event.target.value)" value="{{monthSelect}}">
                                    <ng-container *ngFor=" let item of rangeMonths">
                                        <option value="{{item.value}}">{{item.text | translate}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class=" col-md-6 my-0">
                                <label class="col-form-label">
                                    {{'MANAGE.DEVICE.RENEWS.GENERAL.PAY' | translate}}</label>
                                <select id="renewsPay" class="selectpicker form-control" (change)="changeTypePay($event.target.value)">
                                    <!-- <option value="0">{{'MANAGE.DEVICE.RENEWS.PAY.UNKNOWN' | translate}}</option> -->
                                    <option value="1">{{'MANAGE.DEVICE.RENEWS.PAY.PAID' | translate}}</option>
                                    <option value="2" selected>{{'MANAGE.DEVICE.RENEWS.PAY.UNPAID' | translate}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row ">

                            <div class=" col-md-6 my-0">
                                <label class="col-form-label">{{'POINTS.MANAGE.GENERAL.DATE_PAY' | translate}}</label>
                                <kt-date-range-picker container="body" class="col-md-12 px-0"
                                    [options]="optionsPayAt"
                                    #payAtCpn
                                    (dateChange)="payAtMove($event)">
                                </kt-date-range-picker>
                                <input type="text" hidden class="form-control" formControlName="payAt">
                                <kt-message-error [errorFormGroup]="fRenews" [errorFormControlName]="'payAt'">
                                </kt-message-error>
                            </div>
                            <div class="col-md-6 my-0">
                                <label
                                    class="col-form-label">{{'MANAGE.DEVICE.RENEWS.GENERAL.DESCRIPTIONS' | translate}}</label>
                                <!-- <textarea class="form-control" id="renewsDescription" rows="2"></textarea> -->
                                <input type="text" id="renewsDescription" class="form-control" formControlName="renewsDescription">
                                <kt-message-error [errorFormGroup]="fRenews" [errorFormControlName]="'renewsDescription'">
                                </kt-message-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 my-0">
                                <label
                                    class="col-form-label">{{'MANAGE.DEVICE.RENEWS.GENERAL.AMOUNT' | translate}}</label>                               
                                <input type="text" mask="separator.0" thousandSeparator="," id="renewsAmount" class="form-control" formControlName="renewsAmount">
                                <kt-message-error [errorFormGroup]="fRenews" [errorFormControlName]="'renewsAmount'">
                                </kt-message-error>
                            </div>
                            <div class="col-md-6 my-0">
                                <label class="col-form-label">{{'POINTS.MANAGE.GENERAL.BILL_IMG' | translate}}</label>
                                <div class="input-group">
                                    <kt-upload-file (eventChange)="billImgChange($event)"></kt-upload-file>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 my-2" *ngxPermissionsOnly="['ROLE_device.renewed.use_old_service']">
                                <label class="kt-checkbox">
                                    <input type="checkbox" data-key="usedOldService" (change)="onChangeUsedOldService($event)" formControlName="usedOldService">
                                    {{'MANAGE.DEVICE.RENEWS.GENERAL.USED_OLD_SERVICE_TERM' | translate}}
                                    <span></span>
                                </label> &nbsp;
                            </div>
                        </div>
                    </form>
                    <div class="kt-separator kt-separator-sm"></div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="kt-font-600">
                                <tr>
                                    <th style="width: 50px">#</th>
                                    <th width="">{{'COMMON.COLUMN.USERNAME' | translate}}</th>
                                    <th width="">{{'COMMON.COLUMN.IMEI' | translate}}</th>
                                    <th width="">{{'COMMON.COLUMN.SERVICE_EXPIRE_OLD' | translate}}</th>
                                    <th width="">{{'COMMON.COLUMN.SERVICE_EXPIRE_NEW' | translate}}</th>
                                    <th width="">{{'COMMON.COLUMN.POINT' | translate}}</th>
                                    <th width="">{{'COMMON.COLUMN.DELETE' | translate}}</th>
                                    <th width="">{{'COMMON.COLUMN.STATUS' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let device of data;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{device.userName}}</td>
                                    <td>{{device.imei}}</td>
                                    <td>{{device.serviceExpire | userDateAdv:'date'}}</td>
                                    <td>{{device.dateExpireNew  | userDateAdv:'date'}}</td>
                                    <td>{{device.point_renews}}</td>
                                    <td><span> <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                (click)="removeDevice(device.id)">
                                                <i class="icon-trash"></i>
                                            </a></span>
                                    </td>
                                    <td>
                                        <span *ngIf="device.updated"
                                            class="btn btn-bold btn-pill btn-sm btn-font-sm kt-font-danger"><i
                                                class="ic-md" [ngClass]="{'icon-check-circle1':(device.renewsStatus=='success'),
                                                'icon-times-circle1':(device.renewsStatus=='error')}"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{'MANAGE.DEVICE.RENEWS.GENERAL.TOTAL' | translate}}</th>
                                    <th><span class="kt-font-danger">{{totalPoint | number}}</span></th>
                                    <th><span style="padding-left: 13px">{{devices.length}}</span></th>
                                    
                                    <th><span *ngIf="totalError>0" style="padding-left: 17px"  class="kt-font-danger">
                                            <!-- <span class="btn btn-bold btn-pill btn-sm btn-font-sm kt-font-danger"><i
                                                    class="ic-md icon-times-circle1"></i>
                                                   
                                            </span>  -->
                                            <!-- {{totalError}} -->
                                        </span>
                                        <!-- <span *ngIf="statusUpdate=='success'">
                                            <span class="btn btn-bold btn-pill btn-sm btn-font-sm kt-font-danger"><i
                                                    class="ic-md icon-check-circle1"></i></span>
                                            {{totalSuccess}}
                                        </span> -->

                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [showPoint]="true"
                (changeUser)="changeUser($event)" [style]="{'width':'100%'}">
            </kt-user-tree-new>
        </div>
    </div>
</ng-template>
<kt-confirm-delete [openDelete]="confirmRenews" 
[title]="'MANAGE.DEVICE.RENEWS.GENERAL.RENEWS_CONFIRM' | translate" 
[message]="'MANAGE.DEVICE.RENEWS.GENERAL.RENEWS_MESSAGE' | translate" 
[class]="'kt-modal-xs'"
(result)="confirmResult($event)"></kt-confirm-delete>