.table{
    tr th{
        font-weight:bold;
    }
    tr{
        td{
            line-height: 3rem;
        }
    }
    tfoot th{
        line-height: 3rem;
    }
}
.content-left{
    flex: 1; max-width: 100%;
}
.content-right{
    width: 300px;   
}
@media (max-width: 1024px){
    .content-right{
        width: 100%;
    }
}