.kt-checkbox--solid
{
    span{
        background: #5578eb54!important;       
    }
}
.kt-checkbox.kt-checkbox--solid > span:after{
    border: solid #5578eb;
}
.kt-checkbox {
    span{    
        background: #5578eb54!important;
        &::after{
            border: solid #5578eb;
        }
    }
} 
.cs-pt{
    cursor: pointer;
}
.kt-font-bold--600{
    font-weight: 600;
}
.bootstrap-select {
    .dropdown-menu {
        .dropdown-item.selected{
            span.check-mark{
                color: #5d78ff !important;
                font-size: 14px!important;
                top: calc(50% - 7px)!important;
            }
        }
        li a.opt{
            position: relative;
            padding-left: 2.25rem;
        }
        
    } 
}

.nav-tabs.nav-tabs-line 
{
    a.nav-link{
        &:hover,&.active{
            border-bottom: 3px solid #5d78ff!important;
        }
    }   
}
.kt-input-icon-ct{
    span {
        margin:0px!important;
    }
}