[ngbdropdowntoggle]::after {
  display: none !important;
}
// menu aside
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link {
  padding: 9px 15px;
}
// end menu aside
// custom page

// .kt-portlet__head{
//    .kt-portlet__head-toolbar{
//       .kt-portlet__head-wrapper{

//       }
//    }
// }
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
  font-weight: bold;
}
// band
.kt-header-mobile__logo img {
  max-height: 30px;
}
// end custom page
// common
.kt-move {
  cursor: move;
}
// tooltip
.tooltip {
  .arrow {
    display: none;
  }
  .tooltip-inner {
    background-color: #595d6ef7;
    color: #fff;
    display: inline-block;
    // width: ;
    // max-height: 20px;
  }
}
// end common
// datatable
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__head
  .kt-datatable__row
  > .kt-datatable__cell
  > span,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__foot
  .kt-datatable__row
  > .kt-datatable__cell
  > span {
  font-weight: bold;
}
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__body
  .kt-datatable__row
  > .kt-datatable__cell
  > span,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__foot
  .kt-datatable__row
  > .kt-datatable__cell
  > span {
  white-space: nowrap;
}
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__body
  .kt-datatable__row.kt-datatable__row--active
  > .kt-datatable__cell {
  background: rgba(93, 119, 253, 0.2);
}

.kt-datatable__table .kt-datatable_group td {
  background-color: #f7f8fa;
  color: #595d6e;
  font-weight: bold;
}

// end datatable
.search-device .inner.show {
  max-height: 204px !important;
}
.kt-login-v1__form small {
  position: absolute;
  margin-top: 3px;
  margin-left: 10px;
}
.kt-menu__nav button {
  margin-top: 10%;
  border: none;
}
body {
  // font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  // font-size: 13px;
}
// .modal-big .modal-content {
//   width: 1000px;
// }
.form-search-user {
  border-left: 1px solid #e2e5ec;
}
pagination-controls {
  text-align: center;
}
.ngx-pagination {
  margin-top: 27px;
}
.ngx-pagination li {
  margin-left: 4px;
  border: 1px solid #ebedf2 !important;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group-device label {
  font-size: 13px !important;
}
p {
  margin: 0px;
}
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  margin-left: 0rem !important;
}
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  margin-right: 0rem !important;
}
.td-edit-delete a {
  cursor: pointer;
}
/* .td-edit-delete a{
   margin-right: 5px;
} */
.td-edit-delete i {
  margin-right: 5px;
  font-size: 12px;
}
.kt-content {
  padding: 10px !important;
}
.kt-container {
  padding: 0px !important;
}
.loading {
  width: 0px;
  left: 51%;
}
/*autocomplete*/
.autocomplete-container .suggestions-container {
  z-index: 9999;
}
.autocomplete-container .suggestions-container ul {
  max-height: 500px !important;
}
.autocomplete-form .autocomplete-container .suggestions-container ul {
  max-height: 150px !important;
}
.autocomplete-container .suggestions-container ul li {
  color: #212529;
  padding: 3px 6px !important;
  line-height: 18px;
}
.autocomplete-container .suggestions-container ul li b {
  color: #fd397a;
}
.autocomplete-container .suggestions-container .complete-selected,
.autocomplete-container .suggestions-container ul li:hover {
  background-color: #c5d8f1 !important;
}
.ng-autocomplete {
  width: 100% !important;
  margin-bottom: 6px;
}

.autocomplete-container .not-found div {
  border-bottom: none !important;
}

.autocomplete-container {
  box-shadow: none !important;
}
.autocomplete-container .not-found {
  z-index: 9999;
  position: absolute;
  width: 100%;
}

.autocomplete-container {
  box-shadow: none !important;
}
.autocomplete-container input {
  border: 1px solid #e2e5ec !important;
  border-radius: 6px;
}
.autocomplete-form .autocomplete-container .input-container input {
  height: 40px !important;
  border-radius: 0px 3px 3px 0px !important;
}
.autocomplete-form .ng-autocomplete {
  width: 412px !important;
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 0;
}
//device group
.lists-devices .kt-portlet__head-title {
  color: #333;
  background-color: #f8f8f8;
  padding: 10px 26px 0px !important;
  margin-bottom: 14px;
  text-transform: none !important;
}
.lists-devices #generalSearch {
  height: 37px;
}
.kt-datatable__body_overlow_y {
  overflow: auto;
  max-height: calc(100vh - 460px);
  position: initial !important;
}
.lists-devices .kt-portlet__body {
  // max-height: 300px;
  min-height: 100px;
  overflow: auto;
}
.lists-geofence .kt-portlet__body {
  min-height: 230px;
  max-height: 300px;
  overflow: auto;
}
.filter-clear {
  position: absolute;
  margin-left: -24px;
  cursor: pointer;
  top: 9px;
  right: 0px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 22px;
  vertical-align: middle;
}
//top bar
.kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon,
.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user {
  border-radius: 50px;
}
//app-control-messages
.show-error small.text-danger {
  font-size: 13px;
}
/*end autocomplete*/
.custom-select {
  width: auto;
  margin-right: 9px;
}
.form-global .bootstrap-select > .dropdown-menu.show {
  max-height: 450px !important;
}
.form-global .inner.show {
  max-height: 393px !important;
}
.form-transport .inner.show {
  max-height: 250px !important;
}
.ng-autocomplete-form-permission .suggestions-container {
  max-height: 185px;
  overflow: auto;
}
.autocomplete-form .ng-autocomplete-form-permission .suggestions-container {
  overflow: initial;
}

/*test*/
.kt-aside-menu .kt-menu__nav {
  padding: 0px 10px !important;
}
.kt-aside .kt-aside-menu {
  margin: 11px 0 !important;
}
.form-data i {
  color: #2199e8;
}
.error-message {
  text-align: center;
  width: 100%;
}
select.padding-7 {
  padding: 7px;
}
.toast-title {
  font-size: 20px;
}
.kt-portlet__head_info {
  min-height: 37px !important;
}
.box-info-selected span {
  margin-right: 19px;
}
.box-info-selected label {
  font-weight: bold;
  margin: 0px;
}
/*user tree*/
.icon-user-tree-child {
  color: #2199e8;
  padding-right: 6px;
  font-family: "Font Awesome 5 Free" !important;
}
.node-content-wrapper-active,
.node-content-wrapper.node-content-wrapper-active:hover,
.node-content-wrapper-active.node-content-wrapper-focused {
  font-weight: bold;
}
.icon-user-tree-child {
  color: #2199e8;
  padding-right: 6px;
  font-family: "Font Awesome 5 Free" !important;
}
.icon-user-tree-parent {
  color: #cc7246;
  padding-right: 6px;
  font-family: "Font Awesome 5 Free" !important;
}
.user-distributor {
  color: #cc7246;
}
.user-end-user {
  color: #2199e8;
}
.form-group {
  margin-bottom: 1rem !important;
}
.color-default {
  color: #2199e8 !important;
}
.background-default {
  background: #2199e8 !important;
  border: 1px solid #2199e8 !important;
}
@media (min-width: 576px) {
  .modal-sm {
    max-width: 320px !important;
  }
}

.border-default {
  border: 1px solid #2199e8 !important;
}
.color-white {
  color: #fff !important;
}
.modal-content {
  border: none;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-primary.nav.nav-tabs .nav-link:hover,
.nav-tabs.nav-tabs-line.nav-tabs-line-primary.nav.nav-tabs .nav-link.active,
.nav-tabs.nav-tabs-line.nav-tabs-line-primary a.nav-link:hover,
.nav-tabs.nav-tabs-line.nav-tabs-line-primary a.nav-link.active {
  border-bottom: 1px solid #2199e8 !important;
  color: #2199e8 !important;
}
.nav-tabs.nav-tabs-line {
  margin: 0 0 20px 0 !important;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-primary.nav.nav-tabs .nav-link {
  font-weight: bold;
}
/*table*/
// .table thead th {
//   cursor: auto;
//   background: #f9fafb;
//   text-align: inherit;
//   color: rgba(0, 0, 0, 0.87);
//   padding: 0.92857143em 0.78571429em;
//   vertical-align: inherit;
//   font-style: none;
//   font-weight: bold;
//   text-transform: none;
//   border-bottom: 1px solid rgba(34, 36, 38, 0.1);
// }
// /*bootstrap select*/
.bootstrap-select > .dropdown-menu.show {
  width: 100%;
}
.bootstrap-select > .dropdown-menu {
  padding: 0px;
  border: 1px solid #e2e5ec !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  margin: 0px;
  border-radius: 0px;
}
.bootstrap-select .dropdown-menu li.active span {
  color: #fff !important;
  font-weight: bold;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a
{
  border-bottom: 1px solid #fff;
  background: #5d78ff;
  span{
    color: #fff !important;
  }
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    // width: 100% !important;
}
/*modal*/
.modal-footer{
  button{
    border-radius: 2rem;
  }
}
@media (min-width: 576px) {
  .modal-confirm .modal-dialog {
    margin: 300px auto;
  }
  .modal-big .modal-content {
    width: 100%;
  }
  .modal-body-role {
    height: auto;
  }
}
.modal-confirm .modal-header {
  padding: 12px;
}
.modal-confirm .modal-footer {
  margin-top: 11px;
}
.modal-confirm .modal-footer button {
  padding: 5px 10px;

}

.modal-confirm .modal-body {
  padding-left: 56px;
}
.modal-confirm i {
  position: absolute;
  top: 11px;
  left: 15px;
  _left: -40px;
  width: 30px;
  height: 30px;
  font-size: 32px;
}
.nav-tabs.nav-tabs-line.nav.nav-tabs .nav-link,
.nav-tabs.nav-tabs-line a.nav-link {
  padding-top: 0px;
}
#modal-users .modal-body {
  min-height: 476px;
}
.kt-modal-tb .modal-dialog {
  max-width: 768px !important;
}
.kt-modal-xs .modal-dialog {
  max-width: 500px !important;
}
.kt-modal-sm .modal-dialog {
  max-width: 576px !important;
}
.kt-modal-lg .modal-dialog {
  max-width: 992px !important;
}
.kt-modal-md .modal-dialog {
  max-width: 768px !important;
}
.kt-modal-df .modal-dialog {
  max-width: 500px !important;
}
.kt-modal-xl .modal-dialog {
  max-width: 1200px !important;
}
.kt-modal-xxl .modal-dialog {
  max-width: 1400px !important;
}
.kt-modal-clear {
  .modal-body {
    padding: 0px;
  }
}
.kt-modal--fit {
  .modal-body {
    height: calc(100vh - 270px);
  }
}
// end modal
form label {
  font-size: 0.92857143em;
  // font-weight: bold;
}

.box-kt-portlet__body {
  padding-top: 15px !important;
}
.box-kt-portlet {
  min-height: 800px;
}
// .angular-tree-component {
//   overflow: auto;
//   max-height: 400px;
// }
// .aside-user-tree .angular-tree-component {
//   max-height: 720px;
// }
// /* width */
// .angular-tree-component::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
// .angular-tree-component::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// .angular-tree-component::-webkit-scrollbar-thumb {
//   background: #e2e5ec;
// }

// /* Handle on hover */
// .angular-tree-component::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
.kt-subheader.kt-grid__item {
  padding: 11px 0px;
}
.modal-footer {
  border: none !important;
}
.modal-header {
  color: #333;
  background-color: #f8f8f8;
}
.button-margin-right {
  margin-right: 4px;
}
.checkbox-search-acount {
  margin-right: 16px;
  font-weight: bold;
}
.ng-autocomplete-form .autocomplete-container .suggestions-container {
  width: 245px;
  border-radius: 3px;
  top: 53px;
}
.ng-autocomplete-form .autocomplete-container .suggestions-container ul li {
  padding: 10px !important;
  border-bottom: 1px solid #ebedf2;
}

// kt-portlet scroll
// .kt-portlet {
//   max-height: calc(100vh - 105px);
//   overflow-y: auto;
//   // .kt-portlet__body {
//   //   max-height: 100%;
//   //   overflow-y: auto;
//   // }
// }
//

// user tree new

tree-node-expander {
  width: 13px;
  cursor: pointer;
}
.angular-tree-component {
  max-height: unset !important;
  display: flex !important;
  cursor: unset;
  .node {
    cursor: pointer;
  }
}

tree-root {
  width: 100%;
  min-width: 270px;
}
tree-viewport > div {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px !important;
    height: 6px !important;
  }
}

// user tree
@media (max-width: 768px) {
  .form-group--mobile {
    margin-bottom: 0px !important;
    button {
      margin-bottom: 10px;
    }
  }
}
.user-tree{
  .kt-aside-overlay{
    display: none!important;
  }
}


@media (max-width: 1024px) {
  .tree-mobile{
    .user-tree{
      opacity: 0;
    }
    .kt-aside-overlay{
      display: block!important;
    }
  }
  .user-tree-close {
    display: block;
  }
  .user-tree-collapse{
    display: none!important;
    
  }
  .tree-mobile{
    // display: none;
      .user-tree{
        position: fixed;
        z-index: 99999;
        top: 0px;
        left: 0px;
      } 
  }
  // .user-tree{
  //   position: fixed;
  //   z-index: 99999;
  //   top: 0px;
  //   left: 0px;
  // } 
  
}
@media (max-width: 1024px) {
  .tree-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;

    background-color: #ffffff;
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
  }
}
@media (min-width: 1025px) {
  .user-tree {
    display: flex !important;
  }
}
// end tree user
// modal
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.modal-dialog-scrollable .modal-body {
  max-height: calc(100vh - 270px);
  overflow-y: auto;
}
/* Force Simple Scrollbars */

*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8);
}
.kt_datatable {
  position: relative!important;
  zoom: unset!important;
  .kt-datatable__body {
    
    &::-webkit-scrollbar {
      -webkit-appearance: none !important;
      width: 6px !important;
      height: 10px !important;
    }
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1) !important;
      border-radius: 0px !important;
    }
  }
}
//srollbar
.div-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.div-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.div-scrollbar::-webkit-scrollbar-thumb {
  // background: #e2e5ec;
}

/* Handle on hover */
.div-scrollbar::-webkit-scrollbar-thumb:hover {
  // background: #555;
}
// /* width */
// .angular-tree-component::-webkit-scrollbar {
//    width: 5px;
//  }

//  /* Track */
//  .angular-tree-component::-webkit-scrollbar-track {
//    background: #f1f1f1;
//  }

//  /* Handle */
//  .angular-tree-component::-webkit-scrollbar-thumb {
//    background: #e2e5ec;;
//  }

//  /* Handle on hover */
//  .angular-tree-component::-webkit-scrollbar-thumb:hover {
//    background: #555;
//  }
.kt-subheader.kt-grid__item {
  padding: 11px 0px;
}
.modal-footer {
  border: none !important;
}
.modal-header {
  color: #333;
  background-color: #f8f8f8;
}
#modal-role .modal-footer {
  padding-top: 18px !important;
}
.button-margin-right {
  margin-right: 4px;
}
.checkbox-search-acount {
  margin-right: 16px;
  font-weight: bold;
}
.ng-autocomplete-form .autocomplete-container .suggestions-container {
  width: 245px;
  border-radius: 3px;
  top: 53px;
}
.ng-autocomplete-form .autocomplete-container .suggestions-container ul li {
  padding: 10px !important;
  border-bottom: 1px solid #ebedf2;
}
.error-message-modal {
  position: absolute;
  left: 19px;
}
//role
.lists-group-permission {
  border: 1px solid #e2e5ec;
  border-radius: 4px;
}
.lists-group-permission .kt-portlet__head-title {
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 17px 10px;
  font-size: 15px;
}

.lists-group-permission span {
  margin-right: 11px;
}
.lists-group-permission .kt-portlet__body {
  padding-top: 0px !important;
}
.lists-group-permission .kt-portlet {
  margin-bottom: 0px !important;
}
.lists-group-permission .form-group {
  margin-bottom: 0rem !important;
}
.modal-body-role {
  height: 700px;
  overflow: auto;
}
@media (min-width: 1024px) {
  .modal-lg,
  .modal-xl {
    max-width: 1000px !important;
  }
  .modal-lg-800 .modal-dialog {
    max-width: 800px !important;
  }
  .modal-lg-900 .modal-dialog {
    max-width: 900px !important;
  }
  .modal-lg-1100 .modal-dialog {
    max-width: 1100px !important;
  }
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: silver;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: silver;
}
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: silver;
}
.textarea-search {
  overflow: hidden !important;
  height: 41px !important;
  resize: none !important;
  min-height: unset !important;
  max-height: unset !important;
  padding: 0.68571429em 1em !important;
  width: 100%;
}
.textarea-search:focus {
  position: absolute;
  overflow: auto !important;
  height: 200px !important;
  z-index: 9 !important;
  resize: none !important;
  min-height: unset !important;
  max-height: unset !important;
  width: calc(100% - 20px);
}
.kt-dot-notify {
  background-color: rgb(222, 53, 11);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  min-width: 1px;
  text-align: center;
  border-radius: 2em;
  position: absolute;
  left: 26px;
  top: 13px;
  padding: 0.166667em 0.5em;
}
// Clipboard
.clipboard {
  position: relative;
  cursor: pointer;
  .clipboard-action {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  &:hover {
    .clipboard-action {
      display: inline-flex;
      opacity: 1 !important;
    }
    & > * {
      opacity: 0.5;
    }
  }
}

// tooltip
.tooltip {
  font-family: "Rubik", sans-serif;
  pointer-events: none;
  padding: 0rem 0;
  margin-bottom: 5px !important;
  // .bs-tooltip-top{

  // }
}
.table-sensor {
  font-size: 14px;
}
.table-sensor td {
  vertical-align: middle;
}
.table-sensor td i {
  color: #93a2dd;
  padding: 8px 0px;
  cursor: pointer;
}
// user tree
@media (max-width: 768px) {
  .form-group--mobile {
    margin-bottom: 0px !important;
    button {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 1024px) {
  .tree-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;

    background-color: #ffffff;
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
  }
}
@media (min-width: 1025px) {
  .user-tree {
    display: flex !important;
  }
}

//upload
.kt-uppy .kt-uppy__input-control {
  position: relative;
  z-index: 1;
  height: 0;
  width: 0;
  opacity: 0;
}
.kt-uppy label {
  cursor: pointer !important;
}
.kt-uppy i {
  display: inline-block;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  margin-top: -4px;
  color: #fff;
}
// list device
.mp-map-sidebar {
  width: 400px;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: 100%;
  // position: absolute;
  background: #fff;
  box-shadow: 0px 0px 0px 2px rgba(82, 63, 105, 0.1);
  .mp-map-sidebar-header {
    padding-bottom: 0;
    position: relative;
    padding: 16px 16px 8px 16px;
    border-bottom: solid 1px #dcdee0;
    background: #fff;
    .mp-input-group {
      position: relative;
      .car-group-select {
        max-width: 100%;
        position: relative;
        .mp-input-search {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 30px;
        }
        input {
          height: 32px;
          border-radius: 3px;
          background-color: #ffffff;
          border: solid 1px #dcdee0;
          padding: 6px 8px 6px;
          font-family: "MuseoSans", Arial, sans-serif;
          font-weight: 500;
          color: #384045;
          font-size: 14px;
          letter-spacing: 0.2px;
          margin: 0 0 10px;
        }
      }
      .mp-inline-block {
        display: inline-block;
      }
      .settings-top {
        position: absolute;
        right: 0;
        top: 4px;
        cursor: pointer;
      }
    }
  }
  .map-sidebar-header-tabs {
    .headers-tabs-item {
      padding-bottom: 0px;
      width: 20%;
      display: inline-block;
      text-align: center;
      color: #384045;
      cursor: pointer;
      .headers-tabs-item-title {
        font-size: 20px;
        font-weight: 500;
      }
      .headers-tabs-item-subTitle {
        font-size: 12px;
      }
    }
    .headers-tabs-item.active {
      opacity: 1;
      border-bottom: 4px solid #5576e9;
    }
  }
  .map-sidebar-filters {
    border-bottom: 1px solid #dcdee0;
    padding: 8px 16px;
    position: relative;
    .map-sidebar-filters-items {
      display: flex;
      flex-direction: row;
      justify-items: center;
      width: calc(100% - 40px);
      .mp-tooltip-comp {
        margin-right: 10px;
      }
      .map-sidebar-filters-items-title {
        cursor: pointer;
        // color: #1087d2;
        font-family: "MuseoSans", Arial, sans-serif;
        font-weight: 600;       
      }
      .map-sidebar-filters-items {
        width: calc(100% - 40px);
        .mp-text-secondary.mp-caption {
          font-size: 12px;
          font-weight: 500;
          padding: 0;
          cursor: pointer;
        }
      }
    }
    .map-sidebar-filters-sort {
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 8px;
      opacity: 0.7;
    }
    .map-sidebar-filters-sort.enabled {
      path[fill] {
        fill: #1087d2;
      }
    }
  }
  .custom-scroll {
    .outer-container {
      overflow: hidden;
      .custom-scrollbar {
        position: absolute;
        height: 100%;
        width: 8px;
        right: 3px;
        opacity: 1;
        z-index: 1;
        transition: opacity 0.2s ease;
        box-sizing: border-box;
        will-change: opacity;
        pointer-events: none;
        .custom-scroll-handle {
          position: absolute;
          width: 100%;
          top: 0;
          transition: height 0.2s ease;
          .inner-handle {
            height: calc(100% - 4px);
            margin-top: 4px;
            background-color: rgba(56, 64, 69, 0.6);
            border-radius: 3px;
          }
        }
      }
      .inner-container {
        margin-right: -30px !important;
        overflow-x: hidden;
        overflow-y: scroll;
        .content-wrapper {
          & > div {
            overflow: visible !important;
          }
          .car-list-item-wrap {
            border-bottom: 1px solid #dcdee0;
            // overflow: hidden;
            .car-list-item {
              min-height: 40px;
              padding: 5px 5px 4px 10px;
              font-size: 12px;
              // .select-item{
              //   &:hover{
              //     background: #f0f3ff;
              //   }
              // }
              position: relative;
              .first-row {
                position: relative;
                padding: 0px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .mp-tooltip-comp {
                  position: relative;
                  font-weight: 500;
                  // margin-left: 5px;
                }
                .mp-has-tooltip {
                  cursor: default;
                  .follow {
                    padding: 5px;
                  }
                }
                .action {
                  &:hover {
                    background: #f0f3ff;
                    border-radius: 5px;
                  }
                }
                .unit-state {
                  display: inline-block;
                  width: 32px;
                  height: 32px;
                  border-radius: 3px;
                  vertical-align: middle;
                  margin: -2px 8px 0 0;
                  text-align: center;
                  line-height: 26px;
                  border-radius: 100%;
                  svg {
                    g[fill],
                    use[fill],
                    path[fill] {
                      fill: #fff;
                    }
                  }
                }
                .unit-state.driving {
                  background: #98ca02;
                }
                .unit-number {
                  display: inline-block;
                  margin-right: 8px;
                  font-weight: 700;
                  flex: 1;
                  padding: 6px 0px;
                  cursor: pointer;
                }
                .unit-label {
                  display: inline-block;
                  font-weight: 500;
                  color: #797f82;
                  width: 90px;
                }

                .unit-icons {
                  display: flex;
                  align-items: center;
                  float: right;
                  .mp-tooltip-comp {
                    margin-left: 5px;
                    &.dropdown {
                      .item {
                        cursor: pointer;
                        & > i {
                          padding: 5px 7px;
                          &:hover {
                            background: #f0f3ff;
                          }
                        }
                      }
                      .dropdown-item {
                        font-size: 12px;
                        &:active {
                          background-color: unset;
                        }
                      }
                    }
                  }
                }
                .odometer-icon {
                  display: inline-block;
                  background: #e8e8e8;
                  border-radius: 3px;
                  padding: 0 6px;
                  height: 18px;
                  line-height: 18px;
                  font-size: 12px !important;
                  font-weight: bold;
                  color: #000;
                  vertical-align: top;
                  .speed-measure {
                    color: #8e9497;
                    font-size: 10px !important;
                    display: inline-block;
                    margin: 0 2px;
                    vertical-align: baseline !important;
                  }
                }
                .trailer-icon {
                  opacity: 0.3;
                }
              }
              .item-row {
                display: flex;
                flex-direction: row;
                // justify-content: space-between;
              }
              .unit-additional {
                color: #969696;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                padding: 4px 0;
                vertical-align: top;
                white-space: nowrap;
                padding-right: 10px;
                min-width: 35px;
                i {
                  font-size: 1rem;
                }
              }
              .unit-additional.value {
                text-align: left;
                color: #384045;
                // max-width: 80%;
                padding-right: unset;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                // color: #1f292f;
              }
            }
          }
        }
      }
    }
  }
  .scroll-top {
    position: absolute;
    bottom: 16px;
    right: 16px;
    transform: rotate(-90deg);
    background: #000;
    text-align: center;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 3px;
  }

  .map-sidebar-filters {
    border-bottom: 1px solid #dcdee0;
    padding: 10px 16px;
    position: relative;
    .map-sidebar-filters-select {
      position: absolute;
      top: 0;
      padding: 16px 12px;
      border-radius: 3px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
      background: #ffffff;
      border: solid 1px #dcdee0;
      z-index: 99;
      width: 280px;
      .mp-text-secondary {
        color: #797f82;
        padding: 8px 0;
        .mp-input-group {
          position: relative;
          .mp-input-group label {
            font-size: 14px;
            display: inline-block;
            padding: 10px 0;
            color: #797f82;
            width: 43%;
          }
        }
      }
    }
  }
  .map-sidebar-filters-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
@media (max-width:500px){
  .mp-map-sidebar{
    width: 350px;
    .mp-input-group{
      .car-group-select{
        width: calc(100% - 40px)!important;
      }
    }
    .custom-scroll {
      
      .inner-container{
        width: 100%!important;
        overflow: auto!important;
        .content-wrapper{
          &>div{
            width: 100%!important;
          }
        }
      }
    }
  }
}
// kt main
.kt-main {
  position: relative;
  display: flex;height: 100%;width: 100%;
  // height: calc(100vh - 65px)!important;
  .kt-map-fit {
    position: absolute !important;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}
// css for map control
.selectpicker-map>.bootstrap-select>.dropdown-menu{
  transform: translate3d(0px, 41px, 0px)!important;
}
//safari_only
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .kt-main {
    position: relative;
    display: flex;height: 100%;width: 100%;
    height: calc(100% - 65px)!important;
    .map{
      height: calc(100vh - 50px);
    }
  }
  @media (max-width:1024px) {
    .kt-main{
      height: calc(100% - 52px)!important;
    }
  }
  .kt-portlet .kt-portlet__body{
    position: relative;
    display: flex;height: 100%;width: 100%;
  }
}}
// daterangepicker
.daterangepicker .drp-calendar td.in-range.available:not(.active):not(.off):not(.today) {
  background-color: #8da0ff;
  color: #fff;
}
.daterangepicker .drp-calendar td.today, .daterangepicker .drp-calendar td.today.active{
  background-color: #b4c6f8;
  color: #fff;
}
.daterangepicker{
  z-index: 99;
}
@media(max-width:768px){
  .daterangepicker{
  
    .ranges{
      display: none!important;
    }
  }
}
// end daterangepicker
.dashboard {
  padding: 20px !important;
}
.lists-devices-global .kt-portlet__body {
  height: 228px !important;
}
.list-devices-reports .kt-portlet__body {
  max-height: 200px;
}
.modal-delete i {
  font-size: 30px;
  vertical-align: middle;
}
.modal-delete .modal-dialog {
  max-width: 350px;
}
.modal-delete .modal-body {
  font-size: 14px;
}
.export-file i {
  font-size: 16px;
}
.loadding-data {
  position: absolute;
  top: 50%;
  left: 50%;
}
//report
.kt-main_report > div.kt-portlet--main {
  *::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px !important;
  }
  .kt_datatable {
    max-width: 100%;
    overflow: auto;
    min-height: calc(100vh - 290px);
    margin-bottom: 0px;
    table,
    .kt-datatable__pager {
      min-width: 1400px;
    }
    .kt-datatable__pager {
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 1400px) {
  .table-reports-engine {
    width: 1365px !important;
    overflow: auto;
  }
  .kt-main_report .kt_datatable {
    min-height: calc(100vh - 290px) !important;
  }
}
//download spinner
.kt-spinner-download {
  padding: 0px !important;
  pointer-events: none;
  i {
    opacity: 0.5;
  }
  &:before {
    right: 0.5em !important;
  }
}
//color excel + pdf
.color-excel {
  color: #1d6f42!important;
}
.color-pdf {
  color: #ff0000!important;
}
.button-excel {
  background: #fff;
  border: 1px solid #5867dd;
  i {
    color: #1d6f42;
  }
}
.button-pdf {
  background: #fff;
  border: 1px solid #5867dd;
  i {
    color: #ff0000;
  }
}
.input-width-search {
  width: 225px;
  padding: 0px 10px;
}
.kt-portlet__body__reports {
  height: calc(100vh - 145px);
}
//====== typeahead
.typeahead-ct {
  position: relative;
  .dropdown-menu {
    max-height: 200px;
    overflow: auto;
    width: 100%;
  }
}
// ======= nouislider 
.nouislider{
  &.nouislider--sm{
    height: 10px;
    .noUi-handle{
      right: -10px!important;
      width: 16px;
      height: 16px;
      top: -5px;
    }
  }
}
// input date chart doardboard
.choise-date input{
  border: none;
  padding: 0px;
  height: 27px;
  cursor: pointer;
}
a.icon-link-search
{
  height: 2.3em !important;
  width: 2.3em !important;
}

.editor-language .fr-toolbar.fr-top{
  border-radius:0 !important;
 -moz-border-radius: 0 !important;
 -webkit-border-radius: 0 !important; 
}
.content-help{
    ol, ul, dl{
      padding-left: 15px !important;
  }
}
.ql-container.ql-snow{
  // min-height: 300px;
}
#sytemlog .kt-timeline-v2 .kt-timeline-v2__items .kt-timeline-v2__item .kt-timeline-v2__item-time
{
  font-size: 16px !important;
}

.kt-portlet--main{
  margin: 10px;
  overflow: hidden;
}

.popup-user-tree{
  .content-left{
    flex: 1; max-width: 100%;
  }
  .content-right{
    width: 300px;   
  }
}

@media (max-width: 1024px){
  .popup-user-tree{
      .content-right{
        width: 100%;
    }
  }
.ngtoast-download {
  width: 500px !important;
  }
}
.hidden-overflow{
  &::-webkit-scrollbar {
    -webkit-appearance: none !important;
    width: 6px !important;
    height: 1px !important;
    background: #fff!important;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 0px !important;
    background: #fff!important;
  }
  &::-webkit-scrollbar-thumb{
    background: #fff!important;
  }
}