<!-- begin:: Content -->
<div class="kt-main">
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MENU.SENSOR_MODEL' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm btn-pill"
                            (click)="buttonAddNew(content)">
                            <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                            {{'ADMIN.SENSOR.GENERAL.SENSOR' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
          
            </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormSensor" (ngSubmit)='searchSensor(searchFormSensor)'>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="kt-form__control">
                                    <input type="text" class="form-control"
                                        placeholder="{{'ADMIN.SENSOR.GENERAL.SENSOR_NAME' | translate}} ..."
                                        formControlName="nameSensor">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-brand btn-pill">
                                    <i class="icon-search"></i>{{'COMMON.SEARCH' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                            (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                class="kt-datatable__cell kt-datatable__cell--sort">
                                <a class="kt-datatable__toggle-detail">
                                </a>
                            </th>

                            <ng-container *ngFor="let column of dataTable.getColumns()">

                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;">
                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                      'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('no').isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumn('no').style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('name').isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('name').style">{{item.name}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('keyLanguage').isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('keyLanguage').style">{{item.keyLanguage}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('keyTranslate').isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('keyTranslate').style">{{item.keyTranslate | translate}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('modifiedBy').isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('modifiedBy').style"
                                        translate="{{item.nameKey}}">{{item.modifiedBy}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('description').isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('description').style">{{item.description}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('created').isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('created').style">{{item.updatedAt | userDate}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('action').isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('action').style"
                                        style="overflow: visible; position: relative;">
                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="editSensor(item.id,content)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="getIdAction(item.id,'#modal-delete-sensor')">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('no').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('no').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('no').style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('name').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('name').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('name').style">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('keyLanguage').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('keyLanguage').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('keyLanguage').style">{{item.keyLanguage | translate}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('keyTranslate').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('keyTranslate').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('keyTranslate').style">{{item.keyTranslate | translate}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumn('modifiedBy').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('modifiedBy').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('modifiedBy').style">
                                                    {{item.modifiedBy}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('description').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('description').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('description').style">{{item.description}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('created').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('created').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('created').style">{{item.updatedAt | userDate}}</span>
                                            </td>
                                        </tr>


                                        <tr [ngStyle]="{'display':(dataTable.getColumn('action').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('action').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('action').style"
                                                    style="overflow: visible; position: relative;">
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="editSensor(item.id,content)">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="getIdAction(item.id,'#modal-delete-sensor')">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>


                </table>

                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="isEdit">
            {{'ADMIN.SENSOR.GENERAL.TITLE_FORM_EDIT' | translate}}
        </h5>
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'ADMIN.SENSOR.GENERAL.ADD_SENSOR_NAME' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form [formGroup]="formSensor" (ngSubmit)='onSubmitSensor(formSensor)' class="">
        <div class="modal-body div-scrollbar modal-body-sensor" *ngFor="let data of dataDefault">

            <div class="tab-title-modal">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-info" sensor="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#info_global_sensor" sensor="tab">
                            {{'COMMON.GENERAL.BASE' | translate}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#info_paramset" sensor="tab">
                            {{'COMMON.GENERAL.PARAMETER' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="info_global_sensor" sensor="tabpanel">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="show-error">
                                <label class="">{{'ADMIN.PERMISSION.GENERAL.NAME' | translate}} </label>
                                <app-control-messages [control]="f['nameSensor']"></app-control-messages>
                                <span class="text-danger"> *</span>
                            </div>
                            <div class="input-group">
                                <input [ngModel]="isEdit?data.name:''" type="text" class="form-control" placeholder=""
                                    formControlName="nameSensor">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="show-error">
                                <label class="">{{'ADMIN.SENSOR.GENERAL.KEY_LANGUAGE' | translate}} </label>
                                <app-control-messages [control]="f['keyLanguageSensor']"></app-control-messages>
                                <span class="text-danger"> *</span>
                            </div>
                            <div class="input-group">
                                <input [ngModel]="isEdit?(data.keyLanguage || ''):''" type="text" class="form-control"
                                    placeholder="" formControlName="keyLanguageSensor">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="show-error">
                                <label class="">{{'ADMIN.PERMISSION.GENERAL.DESCRIPTION' | translate}}
                                </label>
                                <!-- <app-control-messages [control]="f['username']"></app-control-messages> -->
                            </div>
                            <div class="input-group">
                                <textarea class="form-control" rows="2" [ngModel]="isEdit?data.description:''"
                                    formControlName="description">
                                                            {{isEdit?data.description:''}}
                                </textarea>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row" *ngIf="isEdit">
                        <div class="col-lg-12">
                            <div class="show-error">
                                <label class="">{{'COMMON.COLUMN.CREATED_BY' | translate}} </label>
                            </div>
                            <div class="input-group">

                                <input type="text" class="form-control" disabled placeholder=""
                                    value="{{data.createBy}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="isEdit">
                        <div class="col-lg-12">
                            <div class="show-error">
                                <label class="">{{'COMMON.COLUMN.MODIFIELD_BY' | translate}} </label>
                            </div>
                            <div class="input-group">

                                <input type="text" class="form-control" disabled placeholder=""
                                    value="{{data.modifiedBy}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="isEdit">
                        <div class="col-lg-12">
                            <div class="show-error">
                                <label class="">{{'COMMON.COLUMN.UPDATED_DATE' | translate}} </label>
                            </div>
                            <div class="input-group">

                                <input type="text" class="form-control" disabled placeholder=""
                                    value="{{data.updatedAt | userDate}}">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="info_paramset" sensor="tabpanel">
                    <div id="kt_repeater_1">
                        <table class="table table-bordered table-sensor" id="table-sensor">
                            <thead>
                                <tr>
                                    <th data-width="40%" style="width:40%">{{'COMMON.COLUMN.NAME' | translate}}</th>
                                    <th data-width="40%" style="width:30%">{{'COMMON.COLUMN.VALUE' | translate}}</th>
                                    <th data-width="20%" style="width:30%">{{'COMMON.ACTIONS.ACTIONS' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody data-repeater-list>
                                <tr data-repeater-item style="display: none">
                                    <td contenteditable="true"></td>
                                    <td contenteditable="true"></td>
                                    <td>
                                        <a data-repeater-delete class="btn.btn-clean" ng-reflect-ngb-tooltip="Xóa">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngFor='let item  of parameters' data-repeater-item>
                                    <td [textContent]="item.key" name="text-input" contenteditable="true">{{item.key}}
                                    </td>
                                    <td contenteditable="true">{{item.value}}</td>
                                    <td>
                                        <a data-repeater-delete class="btn.btn-clean" ng-reflect-ngb-tooltip="Xóa">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!-- <tr *ngIf = "parameters.length == 0">
                                                          not found
                                                      </tr> -->

                            </tbody>
                        </table>
                        <button data-repeater-create class="btn btn-brand btn-icon-sm" type="button"
                            (click)="createParamsets()" id="create-paramsets">
                            <i _ngcontent-oek-c15="" class="flaticon2-plus"></i>
                            {{'COMMON.ACTIONS.ADD_NEW' | translate}} </button>

                    </div>

                    <!-- code repeater-->
                </div>
            </div>
        </div>
        <!--end body modal-->
        <div class="modal-footer">
            <span *ngIf="isPermissionError" class="text-danger error-message-modal">
                {{errorMessage}}
            </span>
            <button *ngIf="!isEdit" type="submit" [disabled]="formSensor.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
            <button *ngIf="isEdit" type="submit" [disabled]="formSensor.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
            </button>

            <button type="button" class="btn btn-secondary"
                (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>
</ng-template>
<!-- end modal popup -->
<!-- modal delete -->
<div class="modal fade  modal-confirm kt-mt-50" tabindex="-1" sensor="dialog" id="modal-delete-sensor"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }}
                    {{'ADMIN.SENSOR.GENERAL.SENSOR' | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fa fa-question-circle"></i>{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary"
                    (click)="deleteSensor()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal delete -->
<!-- end:: Content -->