.map {
    height: 100%;
    padding: 0;
    width: 100%;
  }
  .leaflet-pane {
    z-index: 10 !important;
  }
  .kt-left{
      min-width: 500px;
  }
  .img-poi{
    vertical-align: middle;
    float: left;
    margin-right: 5px;
  }
  .modal-footer button
{
    border-radius: 2rem;
}
.modal-footer{
  padding-top: 0px;
}
.kt-datatable__table_report, .kt-datatable__pager{
  min-width: 1500px  !important;
  }
 