<!-- begin:: Content -->
<div class="kt-main kt-main_report" style="display: flex;height: 100%;width: 100%;">
    <div  [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile" style="max-width: 300px;height: 100%;">
               <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
                   [showCountDevice]="true" (changeUser)="ChangeUserTree($event)"  [allowCollapse]="true"  [btnClose]="true">
               </kt-user-tree-new>
    </div>
   <div class="kt-portlet kt-portlet--mobile kt-portlet--main"  style="max-width: 100%;overflow: auto;">
       <div class="kt-portlet__head kt-portlet__head--lg">
           <div class="kt-portlet__head-label">
               <h3 class="kt-portlet__head-title">
                   <kt-breadcrumb title="{{'REPORT.QCVN.SPEED.NAME' | translate}}" [data] = "parentBread"></kt-breadcrumb>
               </h3>
           </div>

       </div>
       <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">

               </div> -->
       <div class="kt-portlet__body kt-portlet__body--fit">
           <!--begin: Search Form -->
           <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
               <form class="" [formGroup]="searchFormQCVN" (ngSubmit)='searchSummary(searchFormQCVN)'>

                   <div class="row align-items-center">
                       <div class="col-xl-12">
                           <div class="row align-items-center">
                               <div style="padding:0px 10px;">
                                   <div class="form-group">
                                       <kt-date-range-picker #datePicker 
                                           [options]="datePickerOptions" 
                                           (dateChange)="dateSelectChange($event)">
                               
                                       </kt-date-range-picker> 
                                   </div>
                               </div>
                              
                               <div class="search-device input-width-search">
                                   <div class="form-group">
                                    <select [(ngModel)] = "deviceId" data-live-search="true" class="form-control kt_selectpicker padding-7"
                                        formControlName="deviceId"
                                        name="days" id="deviceId" #days 
                                        title=" {{'REPORT.ROUTE.GENERAL.CHOISE_DEVICE' | translate}}"
                                        (change)="getNameDevice(days.options[days.options.selectedIndex])"
                                        >
                                       
                                        <option *ngFor='let device of listDevices' value="{{device.id}}">
                                            {{device.name}}
                                        </option>

                                    </select>
                                   </div>
                               </div>

                               <div style="padding-left:10px">
                                   <div class="form-group">
                                   <button type="submit" class="btn btn-outline-brand btn-pill">
                                       <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                   </button>&nbsp;
                                   <button type="button" class="btn btn-outline-brand btn-pill"
                                       (click)="resetFormSearch()">
                                       <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                   </button>&nbsp;
                                   </div>
                               </div>

                           </div>
                       </div>

                   </div>
               </form>              
           </div>
           <div>
               
           </div>

           <!--end: Search Form -->
           <!-- begin: Feature -->
           <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
               <div class="form-group row box-export-file" style="margin: 0px !important;">

                       <div class="col-md-12 export-file" >
       
                                   <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_EXCEL' | translate}}"  (click)="exportXlSX()" 
                                   type="button" container="body"
                                   class="btn btn-circle btn-icon btn-sm button-excel"
                                   [ngClass] = "{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':isdownLoad}"
                                   id="dropdownMenuButton"
                                       placement="top"  
                                       aria-expanded="false">
                                       <i class="icon-file-excel1"></i>
                                   </button>
                                   <span>&nbsp;&nbsp;</span>
                                   <button  ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" (click)="exportPDF()"
                                   type="button"  container="body"
                                   [ngClass] = "isdownLoadPDF?'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':''"
                                   class="btn btn-circle btn-icon btn-sm button-pdf"
                                       id="dropdownMenuButton" 
                                       placement="top"
                                       aria-expanded="false">
                                       <i class="icon-file-pdf1"></i>
                                   </button>
               
                            
                               <!-- <div class="kt-separator"></div> -->
                           </div>
               </div>
           </div>
           <!-- end: Feature -->
           <!--begin: Datatable -->
           <div resizeObserver (resize)="onResize($event.contentRect)"
           class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
           [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
           style="position: static; zoom: 1;">
           <table class="kt-datatable__table">
               <thead class="kt-datatable__head">
                   <tr class="kt-datatable__row" style="left: 0px;">
                       <!-- checkbox -->
                       <th *ngIf="dataTable.selecter"
                           class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                           <span style="width: 20px;">
                               <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                   <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                       (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                               </label>
                           </span>
                       </th>
                       <!-- end checkbox -->
                       <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                           class="kt-datatable__cell kt-datatable__cell--sort">
                           <a class="kt-datatable__toggle-detail">
                           </a>
                       </th>

                       <ng-container *ngFor="let column of dataTable.getColumns()">

                           <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                               [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                               class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                               (click)="dataTable.sort(column.field)">
                               <span  *ngIf="!column.html" [ngStyle]="column.style">{{column.translate | translate}}
                                   <i *ngIf="column.isSort"
                                       [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                               </span>
                               <span  *ngIf="column.html" [innerHTML]="column.html | safe : html" ></span>

                           </th>
                       </ng-container>
                   </tr>
               </thead>
               <tbody class="kt-datatable__body kt-datatable__body_overlow_y" [ngStyle]="dataTable.bodyStyle">
                       <ng-container *ngFor="let item of dataTable.data;let j=index">
        
                           <tr   [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                               style="left: 0px;">
                               <!-- checkbox -->
                               <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                   class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                   <span
                                       [ngStyle]="dataTable.getColumns()[0].style">
                                       {{item.count}}
                                   </span>
                               </td>
                               <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                   data-field="key_name" class="kt-datatable__cell">
                                   <span
                                       [ngStyle]="dataTable.getColumns()[1].style">
                                        {{item.time}}
                                   </span>
                               </td>

                               <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                   data-field="name" class="kt-datatable__cell">
                                   <span [ngStyle]="dataTable.getColumns()[2].style"
                                       container = "body"
                                       ngbTooltip="{{item.coordinate}}"
                                       translate="{{item.coordinate}}">
                                       {{item.speed30}}
                                   </span>
                               </td>
                  
                               <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                   data-field="hire_date" class="kt-datatable__cell">
                                       <span
                                           [ngStyle]="dataTable.getColumns()[3].style">
                                           {{item.note}}
                                       </span>
                               </td>
                           
                           </tr>

                       </ng-container>
                   <!-- No records found -->
                   <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                       <kt-not-found></kt-not-found>
                   </div>
               </tbody>


           </table>

           <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
               <ul class="kt-datatable__pager-nav">
                   <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                           [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                           (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                           <i class="flaticon2-fast-back"></i></a></li>
                   <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                           [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                           (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                           <i class="flaticon2-back"></i></a></li>
                   <li></li>
                   <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                           title="Page number"></li>
                   <li *ngFor="let page of dataTable.getPageDisplay()">
                       <a (click)="dataTable.gotoPage(page)"
                           class="kt-datatable__pager-link kt-datatable__pager-link-number "
                           [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                           data-page="1" title="{{page}}">{{page}}</a>
                   </li>
                   <li style=""></li>
                   <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                           [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                           (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                               class=" flaticon2-next"></i></a></li>
                   <li><a title="Last"
                           [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                           class="kt-datatable__pager-link kt-datatable__pager-link--last"
                           (click)="dataTable.gotoPage(dataTable.getLastPage())">
                           <i class="flaticon2-fast-next"></i></a></li>
               </ul>
               <div class="kt-datatable__pager-info">
                   <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                       <select (change)="dataTable.setPageSize($event.target.value)"
                           class="selectpicker kt-datatable__pager-size" title="Select page size"
                           data-selected="30" data-width="60px">
                           <option *ngFor="let item of dataTable.getPaginationSelect()"
                               [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                               title="{{item}}" data-toggle="tooltip">{{item}}</option>
                       </select>
                   </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                       {{dataTable.getPaginations().form}} -
                       {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                       {{dataTable.getPaginations().total}}</span>
               </div>
           </div>
          </div>
           <!--end: Datatable -->
           <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
               style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
               <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                       <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                   </span>
               </div>
           </div>
       </div>
   </div>
</div>
<!-- end:: Content -->
<!-- <kt-wait-download
[paramsEmiter] = "paramsEmiter" 
(checkbetween) = "checkbetween($event)"
> -->