<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'MANAGE.DEVICE.IMPORT.GENERAL.IMPORT_DEVICE' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateImportDevice" [ngTemplateOutletContext]="{data:devices}">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}" (click)="onSubmit()"
            [disabled]="imeis.length == 0">{{'COMMON.ACTIONS.SEND' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateImportDevice let-data="data">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="alert alert-light alert-elevate fade show kt-font-mid" role="alert">
                <div class="alert-icon"><i class="icon-question-circle kt-font-brand"></i></div>
                <div class="alert-text">
                    <span>1. &nbsp; {{'MANAGE.DEVICE.IMPORT.MESSAGE.NOTE_1' | translate}}</span>
                    <br />
                    <span>2. &nbsp; {{'MANAGE.DEVICE.IMPORT.MESSAGE.NOTE_2' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <a href="/assets/document/template/IMPORT_DEVICE_TEMPLTE.xlsx" download
                class="btn btn-brand btn-elevate btn-pill kt-font-light">
                <i class="icon-cloud-download-alt"></i>
                {{'MANAGE.DEVICE.IMPORT.GENERAL.DOWNLOAD_TEMPLATE' | translate}}
            </a>
        </div>
        <div class="col-md-6 form-group">
            <a class="btn btn-success btn-elevate btn-pill kt-font-light" (click)="chooseFile()">
                <i class="icon-cloud-upload-alt"></i>
                {{'MANAGE.DEVICE.IMPORT.GENERAL.CHOOSE_DOCUMENT' | translate}}
                <input type="file" class="kt-hidden" id="fileName" (change)="changeFile($event.target.files)">
            </a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label>{{'MANAGE.DEVICE.IMPORT.GENERAL.IMEI' | translate}}</label>
            <textarea rows="4" cols="50" [(ngModel)]='imeiImport' class="auto-format-text form-control" name="imeis"
                type="text" id="imeiImport"></textarea>
        </div>
    </div>
    <div class=" row">
        <!-- Hview -->
        <div class="col-md-4 form-group">
            <button class="btn btn-brand btn-elevate btn-pill" (click)="addImeis()" [disabled]="imeiImport.length==0">
                <i class="icon-plus"></i>
                {{'MANAGE.DEVICE.IMPORT.GENERAL.ADD_IMEI' | translate}}
            </button>
        </div>
        <div class="col-md-4 form-group">
            <button type="button" class="btn  btn-secondary btn-elevate btn-pill" (click)="resetForm()">
                <i class="icon-redo-alt"></i>
                {{'MANAGE.DEVICE.IMPORT.GENERAL.RESET_IMEI' | translate}}
            </button>
        </div>
        <div class="col-md-4 form-group">
            <button type="button" class="btn  btn-secondary btn-elevate btn-pill" (click)="clearData()">
                <i class="icon-trash-alt"></i>
                {{'MANAGE.DEVICE.IMPORT.GENERAL.REMOVE_DATA' | translate}}
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label class="form-control-label">{{'MANAGE.DEVICE.IMPORT.GENERAL.DEVICE_TYPE' | translate}}</label>
            <select class="form-control kt-selectpicker-import-device selectpicker-type" data-live-search="true"
                data-size="5" (change)="changeDeviceType($event.target.value)"
                title="{{'MANAGE.DEVICE.IMPORT.GENERAL.CHOOSE_DEVICE_TYPE' | translate}}" data-size="5">
                <option value="">{{'MANAGE.DEVICE.IMPORT.GENERAL.CHOOSE_DEVICE_TYPE' | translate}}
                </option>
                <ng-container *ngFor="let item of types">
                    <option attr.data-content='<img style="height:20px" src="{{item.image}}"/> {{item.name}}'
                        value="{{item.id}}">
                    </option>
                </ng-container>
                <!-- <option *ngFor="let item of types" value="{{item.id}}">{{item.name}}</option> -->
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  form-group">
            <label class="form-control-label">{{'MANAGE.DEVICE.IMPORT.GENERAL.ICON' | translate}}</label>
            <select class="kt-selectpicker-import-device form-control selectpicker-command"
                title="{{'MANAGE.DEVICE.IMPORT.GENERAL.CHOOSE_ICON' | translate}}"
                (change)="changeIcon($event.target.value)" data-size="5">
                <option value="">{{'MANAGE.DEVICE.IMPORT.GENERAL.CHOOSE_ICON' | translate}}
                </option>
                <ng-container *ngFor="let item of icons">
                    <option
                        attr.data-content='<img style="height:20px" src="{{item.iconUrl}}"/> {{item.nameTranslate || item.name}}'
                        value="{{item.id}}">
                    </option>
                </ng-container>
            </select>
        </div>
    </div>
    <div _ngcontent-afy-c15="" class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                <div class="kt-portlet__head kt-portlet__head--sm">
                    <div class="kt-portlet__head-label">
                        <span>{{'MANAGE.DEVICE.IMPORT.GENERAL.TOTAL_IMEI' | translate}}:</span>&nbsp;
                        <span style="font-weight: bold" class="kt-font-danger"> {{imeis.length}}</span>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--overflow-y">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="kt-font-600">
                                <tr>
                                    <th style="width: 50px">#</th>
                                    <th width="250">{{'COMMON.COLUMN.IMEI' | translate}}</th>
                                    <th width="150">{{'COMMON.COLUMN.DELETE' | translate}}</th>
                                    <th width="150">{{'COMMON.COLUMN.STATUS' | translate}}</th>
                                </tr>
                            </thead>
                            <!-- Hview -->
                            <tbody>
                                <tr *ngFor="let imei of imeis;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{imei.imei}}</td>
                                    <td><span>
                                            <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                class="btn btn-sm btn-clean btn-icon" (click)="removeImei(imei.imei)">
                                                <i class="icon-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                    <td><span *ngIf="imei.status=='error'" class="btn btn-sm kt-font-danger">
                                            <i class="icon-times-circle1"></i>
                                        </span>
                                        <span *ngIf="imei.status=='success'" class="btn btn-sm kt-font-success">
                                            <i class="icon-times-circle1"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>