<!--begin: Search -->
<div class="kt-header__topbar-item kt-header__topbar-item--search dropdown">
	<div class="kt-header__topbar-wrapper">
		<span (click)="showSearch(content)" class="kt-header__topbar-icon"
			[ngClass]="type ? 'kt-header__topbar-icon--'+type : ''">
			<i class="icon icon-search-2" style="color: #5d78ff;"></i>
		</span>
	</div>

</div>
<!--end: Search -->

<!-- modal popup -->
<ng-template #content let-modal>

	<div class="modal-header ">
		<h5 class="modal-title">
			{{'COMMON.GENERAL.SEARCH_ADVANCED' | translate}}
		</h5>

		<button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
	</div>

	<form class="form-global">
		<div class="modal-body " style="overflow-y: inherit;">
			<div class="col-lg-12 form-info">
				<div class="tab-title-modal">
					<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#user" role="tab">
								{{'DASHBOARD.USER'  | translate}}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " data-toggle="tab" href="#device" role="tab">
								{{'DASHBOARD.DEVICE'  | translate}}
							</a>
						</li>
					</ul>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="user" role="tabpanel">
						<kt-search-user></kt-search-user>
					</div>
					<!--end html global-->
					<!--html advanced-->
					<div class="tab-pane" id="device" role="tabpanel">
						<kt-search-device></kt-search-device>

					</div>
					<!--end html advanced-->
				</div>
			</div>

		</div>
		<!--end body modal-->
		<div class="modal-footer">

		</div>
	</form>

</ng-template>
<!-- end modal popup -->