.map-option .group {
  margin-top: 10px;
}
.map-option .group .item {
  padding: 10px;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
  // border-bottom: 1px solid #ccc;
  width: 40px;
  height: 40px;
  text-align: center;
}
.map-option .group {
  margin-top: 10px;
  // border: 2px solid rgba(138, 138, 138, 0.2);
}
.map-option .group > .item.active {
  color: #0b61a4;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: unset;
  font-weight: bold;
}
.map-control {
  right: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 90;
  background: #ffffff;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  &.fixed{
    position: fixed;
  }
  .map-basic{
    margin-top: 0px!important;
  }
    // display: none;
  .item{
    color:rgb(56, 64, 69);
    // border: 1px solid rgba(138, 138, 138, 0.2);
    &.active{
      color:#5576e9;
    }
  }
}
.dropdown-item{
  cursor: pointer;
}
.info-header{
  position: absolute;
  right: 21px;
  top: 16px;
  width: 65px;
  overflow: hidden;
  padding: 1px 0px 1px 1px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  padding: 1px 1px 0px 1px;
  z-index: -1;

  &.box-collapse{
      right: -21px;
  }
  .setting-layout{
      border-bottom: 30px solid #ffffff;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      height: 0;
  }
  .sub-header{
      border-bottom: 29px solid #dcdee0;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      height: 0;
      position: absolute;
      top: 0px;
      width: 63px;
      z-index: -1;
  }
}

.create{

  padding-left: 10px;
   cursor: pointer;
}

