<div class="map-control" [ngClass]="{'fixed':fixed}" [ngStyle]="style">

	<div class="map-option" id="mapOption" [ngClass]="{'kt-hide':isClosed}">
		<div class="group map-basic">
			<div ngbDropdown class="d-inline-block" placement="left-top" [autoClose]="'outside'" contianer="body">
				<button class="btn btn-light btn-icon item" ngbDropdownToggle style="border-radius: 0px;margin-bottom: 10px;"><i class="flaticon2-settings"></i></button>
				<div ngbDropdownMenu style="min-width: 250px; max-width:400px; width: calc(100vw - 50px); overflow: hidden; top:20px">
					<div class="px-4 py-3">
						<ul class="nav nav-tabs nav-tabs-line" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tabs_map_config_1_{{keyName}}" role="tab">{{'MAP.FEATURES.MAP' | translate}}</a>
							</li>
							<li class="nav-item" [hidden]="!isShowTag">
								<a class="nav-link" data-toggle="tab" href="#tabs_map_config_2_{{keyName}}" role="tab">{{'MAP.FEATURES.INFO_BOX' | translate}}</a>
							</li>
						</ul>
						<div class="tab-content" style="max-height: 450px; overflow:auto;">
							<div class="tab-pane active" id="tabs_map_config_1_{{keyName}}">
								<div class="kt-form">
									<div class="form-group selectpicker-map" *ngIf="mapConfig.features.mapType.show" style="display: flex;
                                        align-items: center;
                                        justify-content: space-between;">
                                         <label style="width: 120px;">{{'MAP.FEATURES.MAP_TYPE' | translate}}</label>
                                         <select class="kt-selectpicker selectpicker" data-size="5" id="mapType{{keyName}}"
                                                (change)="changeMapType($event.target.value)"
                                                value="mapConfig.features.mapType.value">
                                                <ng-container *ngFor="let item of mapType">
                                                    <option value="{{item.type}}" [attr.data-icon]="item.icon">
                                                        {{item.translate | translate}}</option>
                                                </ng-container>
                                            </select>
                                        <!-- <div class="dropdown bootstrap-select form-control">
                                            
                                        </div> -->
                                        
                                    </div>
                                    <div class="dropdown-divider" *ngIf="mapConfig.features.mapType.show"></div>

									<div class="form-group" style="display: flex; align-items: center;justify-content: space-between;" *ngIf="mapConfig.features.brightness.show">
										<label class="col-md-5 px-0">
											{{mapConfig.features.brightness.translate | translate}}
											({{mapConfig.features.brightness.value}}%)
										</label>
										<div class="col-md-7">
											<!-- <input type="text" class="form-control kt-hide" id="kt_nouislider_2_input" placeholder="Currency"> -->
											<div id="kt_nouislider_brightness_{{keyName}}" class="nouislider nouislider--handle-danger nouislider--sm"></div>
										</div>


									</div>
									<div class="dropdown-divider" *ngIf="mapConfig.features.brightness.show"></div>
									<div class="form-group" *ngIf="mapConfig.features.traffic.show">
										<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
											<label>
												<input type="checkbox" [(ngModel)]="mapConfig.features.traffic.value" (change)="traffic(mapConfig.features.traffic.value)">
												<span></span>
												{{mapConfig.features.traffic.translate | translate}}
											</label>
										</span>
									</div>
									<div class="dropdown-divider" *ngIf="mapConfig.features.traffic.show"></div>
									<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between" *ngIf="mapConfig.features.cluster.show">
										<label>
											<input type="checkbox" [(ngModel)]="mapConfig.features.cluster.value" name="" (change)="groupChange()">
											<span></span>
											{{mapConfig.features.cluster.translate | translate}}
										</label>
									</span>
									<div class="dropdown-divider" *ngIf="mapConfig.features.cluster.show"></div>
									<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between" *ngIf="mapConfig.features.centerPoint.show">
										<label>
											<input type="checkbox" name="" [(ngModel)]="mapConfig.features.centerPoint.value" (change)="centerPointChange()">
											<span></span>
											{{mapConfig.features.centerPoint.translate | translate}}
										</label>
									</span>
									<div class="dropdown-divider" *ngIf="mapConfig.features.centerPoint.show"></div>
									<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between" *ngIf="mapConfig.features.follow.show">
										<label>
											<input type="checkbox" name="" [(ngModel)]="mapConfig.features.follow.value" (change)="followChange()">
											<span></span>
											{{mapConfig.features.follow.translate | translate}}
										</label>
									</span>
									<div class="dropdown-divider" *ngIf="mapConfig.features.follow.show"></div>
									<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between" *ngIf="mapConfig.features.markerPopup.show">
										<label>
											<input type="checkbox" [(ngModel)]="mapConfig.features.markerPopup.value" (change)="markerPopupChange()">
											<span></span>
											{{mapConfig.features.markerPopup.translate | translate}}
										</label>
									</span>
									<div class="dropdown-divider" *ngIf="mapConfig.features.markerPopup.show"></div>

									<div class="form-group" *ngIf="mapConfig.features.markerStyle.show">

										<label>{{'MAP.FEATURES.MARKER_STYLE' | translate}}</label>
										<div class="kt-radio-inline">
											<ng-container *ngFor="let item of mapConfig.features.markerStyle.types">
												<label class="kt-radio kt-radio--brand">
													<input type="radio" [(ngModel)]="mapConfig.features.markerStyle.value" (click)="changStyleMarker(item.name)" value="{{item.name}}" name="markerStyle_{{keyName}}">
													{{item.translate | translate}}
													<span></span>
												</label>
											</ng-container>
										</div>
									</div>

								</div>
							</div>
							<div class="tab-pane" id="tabs_map_config_2_{{keyName}}" >
								<div class="accordion accordion-toggle-arrow" id="accordionExample1_{{keyName}}">
									<div class="card">
										<div class="card-header" id="headingOne1_{{keyName}}">
											<div class="card-title" data-toggle="collapse" [attr.data-target]="'#collapseOne1_'+keyName" aria-expanded="true" [attr.aria-controls]="'collapseOne1_'+keyName">
												{{'MAP.INFO_BOX.BASE' | translate}}
											</div>
										</div>
										<div id="collapseOne1_{{keyName}}" class="collapse show" [attr.aria-labelledby]="'headingOne1_'+keyName" [attr.data-parent]="'#accordionExample1_'+keyName">
											<div class="card-body " style="min-height: 200px;">
	
												<div class="form-group" *ngIf="mapConfig.features.mapType.show" style="display: flex;
                                                    align-items: center;
                                                    justify-content: space-between;">
													<label style="display: inline-block;
                                                        white-space: nowrap;
                                                        padding-right: 15px;
														margin: 0px;
														width: 120px;">
                                                        {{'MAP.INFO_BOX.DEVICE_LABEL' | translate}}
                                                    </label>
                                                    <select class="kt-selectpicker selectpicker"
                                                        (change)="checkConfigInfoBox()"
                                                        [(ngModel)]="mapConfig.infoBox.base.label.value">
                                                        <ng-container
                                                            *ngFor="let item of mapConfig.infoBox.base.label?.list || []">
                                                            <option value="{{item.value}}">
                                                                {{item.translate | translate}}</option>
                                                        </ng-container>
                                                    </select>
                                                </div>
                                                <div class="kt-separator kt-separator--space-sm"></div>
                                                <div class="item-checkbox">
                                                    <span
                                                        class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
                                                        <label>
                                                            <input type="checkbox"
                                                                [(ngModel)]="mapConfig['infoBox']['base']['icon']"
                                                                name="" (change)="checkConfigInfoBox()">
                                                            <span></span>
                                                            {{'MAP.INFO_BOX.ICON' | translate}}
                                                        </label>
                                                    </span>
                                                </div>
                                                <div class="item-checkbox kt-hide">
                                                    <span
                                                        class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
                                                        <label>
                                                            <input type="checkbox"
                                                                [(ngModel)]="mapConfig['infoBox']['base']['duration']"
                                                                name="" (change)="checkConfigInfoBox()">
                                                            <span></span>
                                                            {{'MAP.INFO_BOX.DURATION' | translate}}
                                                        </label>
                                                    </span>
                                                </div>
                                                <div class="item-checkbox">
                                                    <span
                                                        class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
                                                        <label>
                                                            <input type="checkbox"
                                                                [(ngModel)]="mapConfig['infoBox']['base']['speed']"
                                                                name="" (change)="checkConfigInfoBox()">
                                                            <span></span>
                                                            {{'MAP.INFO_BOX.SPEED' | translate}}
                                                        </label>
                                                    </span>
                                                </div>
                                                <div class="item-checkbox">
                                                    <span
                                                        class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
                                                        <label>
                                                            <input type="checkbox"
                                                                [(ngModel)]="mapConfig['infoBox']['base']['direction']"
                                                                name="" (change)="checkConfigInfoBox()">
                                                            <span></span>
                                                            {{'MAP.INFO_BOX.DIRECTION' | translate}}
                                                        </label>
                                                    </span>
                                                </div>

											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingTwo1_{{keyName}}">
											<div class="card-title collapsed" data-toggle="collapse" [attr.data-target]="'#collapseTwo1_'+keyName" aria-expanded="false" [attr.aria-controls]="'collapseTwo1_'+keyName">
												{{'MAP.INFO_BOX.ADVANCE' | translate}}
											</div>
										</div>
										<div id="collapseTwo1_{{keyName}}" class="collapse" [attr.aria-labelledby]="'headingTwo1_'+keyName" [attr.data-parent]="'#accordionExample1_'+keyName">
											<div class="card-body">
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['icon']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.ICON' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['duration']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.DURATION' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['speed']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.SPEED' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['battery']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.BATTERY' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['gsm']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.GSM' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['numberPlate']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.NUMBER_PLATE' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['imei']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.IMEI' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['simno']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.SIM_NO' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['vin']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.VIN' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['powerVoltage']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.POWER_VOLTAGE' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['distanceToday']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.DISTANCE_TODAY' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['driver']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.DRIVER' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['drivingToday']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.DRIVING_TODAY' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['updateTime']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.UPDATE_TIME' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['group']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.GROUP' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['geofence']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.GEOFENCE' | translate}}
														</label>
													</span>
												</div>
												<div class="item-checkbox">
													<span class="kt-switch kt-switch--sm kt-switch--slider kt-switch--space-between">
														<label>
															<input type="checkbox" [(ngModel)]="mapConfig['infoBox']['advance']['address']" name="" (change)="checkConfigInfoBox()">
															<span></span>
															{{'MAP.INFO_BOX.ADDRESS' | translate}}
														</label>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="dropdown-divider"></div> -->
					<!-- <div class="form-group">
                        <div class="col-md-9"></div>
                        <div class="col-md-3" ngbDropdownItem>
                            <button  class="btn btn-primary">{{'COMMON.ACTIONS.SAVE' | translate}}</button>
                        </div>
                    </div> -->

					<!-- <button ngbDropdownItem>Forgot password?</button> -->
				</div>
			</div>
			<!-- <div *ngIf="mapConfig.features.zoomOut.show" class="item" (click)="zoomOut()" placement="left"
                ngbTooltip="{{mapConfig.features.zoomIn.translate | translate}}" container="body"
                data-position="left center">
                <i class="flaticon2-settings"></i>
            </div> -->
			<!-- <div *ngIf="mapConfig.features.mapType.show" class="dropdown dropleft " style="padding:0px">
                <div aria-expanded="false" aria-haspopup="true" class="item" data-toggle="dropdown"><i
                        class="icon-layer-group"></i>
                </div>
                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                    <a class="dropdown-item disabled"> <i
                            class="icon-tags"></i>{{'MAP.FEATURES.MAP_TYPE' | translate}}</a>
                    <div class="dropdown-divider"></div>

                    <a *ngFor="let item of mapType" class="dropdown-item" (click)="changeMapType(item.type)"
                        [ngClass]="{'active':mapConfig.features.mapType.value == item.type}">
                        <i class="{{item.icon}}"></i> {{item.translate | translate}}
                    </a>
                </div>
            </div> -->
			<div *ngIf="mapConfig.features.zoomOut.show" class="item" (click)="zoomOut()" placement="left" ngbTooltip="{{mapConfig.features.zoomIn.translate | translate}}" container="body" data-position="left center">
				<i class="icon-plus-circle"></i>
			</div>
			<div *ngIf="mapConfig.features.zoomIn.show" class="item" (click)="zoomIn()" placement="left" ngbTooltip="{{mapConfig.features.zoomOut.translate | translate}}" container="body">
				<i class="icon-minus-circle"></i>
			</div>
			<div *ngIf="mapConfig.features.location.show" class="item" [ngClass]="{'kt-font-brand':mapConfig.features.location.value}" (click)="location()" placement="left" ngbTooltip="{{mapConfig.features.location.translate | translate}}" container="body">
				<i class="icon-location"></i>
			</div>
			<!-- <div *ngIf="mapConfig.features.traffic.show" class="item"
                [ngClass]="{'kt-font-brand':mapConfig.features.traffic.value}" (click)="traffic()" placement="left"
                ngbTooltip="{{mapConfig.features.traffic.translate | translate}}" container="body">
                <i class="icon-traffic-light"></i>
            </div> -->
			<div *ngIf="mapConfig.features.fullScreen.show" class="item" [ngClass]="{'kt-font-brand':mapConfig.features.fullScreen.value}" (click)="fullScreen()" placement="left" ngbTooltip="{{(!mapConfig.features.fullScreen.value?mapConfig.features.fullScreen.translate:mapConfig.features.fullScreen.translateOff) | translate}}" container="body">
				<i [ngClass]="{'icon-normal-screen':mapConfig.features.fullScreen.value,'icon-full-screen':!mapConfig.features.fullScreen.value}"></i>
			</div>
		</div>
		<div class="group custom" *ngIf="mapConfig.features.cluster.show || mapConfig.features.fitbound.show
            || mapConfig.features.markerStyle.show || mapConfig.features.markerStyle.show || mapConfig.features.geofence.show">
			<!-- <div container="body" *ngIf="mapConfig.features.cluster.show" class="item  o-f"
                [ngClass]="{'kt-font-brand':mapConfig.features.cluster.value}" placement="left"
                ngbTooltip="{{mapConfig.features.cluster.translate | translate}}" container="body"
                data-action="show-group" (click)="groupChange()" data-tooltip="Show group" data-position="left center">
                <i class="icon-object-group"></i>
            </div> -->
			<div *ngIf="mapConfig.features.fitbound.show" class="item" placement="left" ngbTooltip="{{mapConfig.features.fitbound.translate | translate}}" container="body" (click)="fitbound()">
				<i class="icon-direction-arrow-fit"></i>
			</div>
			<!-- <div *ngIf="mapConfig.features.markerStyle.show" class="dropdown dropleft " style="padding:0px">
                <div aria-expanded="false" aria-haspopup="true" class="item" data-toggle="dropdown"><i
                        class="icon-map-marker-alt"></i>
                </div>
                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu"
                    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                    <a class="dropdown-item disabled"> <i class="icon-tags"></i>
                        {{'MAP.FEATURES.MARKER_STYLE' | translate}}</a>
                    <div class="dropdown-divider"></div>

                    <a *ngFor="let item of mapConfig.features.markerStyle.types"
                        [ngClass]="{'active':item.name == mapConfig.features.markerStyle.value}"
                        (click)="changStyleMarker(item.name)" class="dropdown-item">
                        <i class="{{item.icon}}"></i>{{item.translate | translate}}</a>
                </div>
            </div> -->
			<div container="body" *ngIf="mapConfig.features.geofence.show" class="item  o-f" style="padding: 5px;" [ngClass]="{'kt-font-brand':mapConfig.features.geofence.value}" placement="left" ngbTooltip="{{mapConfig.features.geofence.translate | translate}}" container="body" (click)="geofenceChange()">
				<i class="icon-pentagon"></i>
			</div>

			<div container="body" *ngIf="mapConfig.features.landmark.show" class="item  o-f" style="padding: 5px;" [ngClass]="{'kt-font-brand':mapConfig.features.landmark.value}" placement="left" ngbTooltip="{{mapConfig.features.landmark.translate | translate}}" container="body" (click)="landmarkChange()">
				<i class="icon-map-marked-alt"></i>
			</div>
			<div ngbDropdown placement="left-top" [autoClose]="'outside'" *ngIf="mapConfig.features.createTool.show">
				<div ngbDropdownToggle class="item  o-f">
					<i class="icon-plus-square"></i>
				</div>
				<div ngbDropdownMenu>
                    <div (click)="showLandmarkPopup('landmark')" class="create"><span><i class="icon-place-marker-2"></i> {{'MAP.FEATURES.CREATE_LANDMARK'|translate}}</span></div>
                   <div class="dropdown-divider"></div>
					<div (click)="showLandmarkPopup('geofence')" class="create"><span><i class="icon-polygon"></i> {{'MAP.FEATURES.CREATE_GEOFENCE'|translate}}</span></div>
				</div>
			</div>

			<!-- <div container="body" *ngIf="mapConfig.features.follow.show" class="item  o-f"
                [ngClass]="{'kt-font-brand':mapConfig.features.follow.value}" placement="left"
                ngbTooltip="{{mapConfig.features.follow.translate | translate}}" container="body"
                (click)="followChange()" data-tooltip="Show group" data-position="left center">
                <i
                    [ngClass]="{'icon-heart1':mapConfig.features.follow.value, 'icon-heart':!mapConfig.features.follow.value}"></i>
            </div> -->
			<!-- <div container="body" *ngIf="mapConfig.features.markerPopup.show" class="item  o-f"
                [ngClass]="{'kt-font-brand':mapConfig.features.markerPopup.value}" placement="left"
                ngbTooltip="{{mapConfig.features.markerPopup.translate | translate}}" container="body"
                (click)="markerPopupChange()" data-tooltip="Show group" data-position="left center">
                <i class="icon-stack-exchange"></i>
            </div> -->
		</div>
	</div>

	<div class="info-header" [ngClass]="{'box-collapse':isClosed}">
		<div class="setting-layout">
			<button class="btn btn-icon btn-sm btn-circle" (click)="onToggle()">
				<i [ngClass]="{'icon-angle-up':isClosed,'icon-angle-down':!isClosed}"></i>
			</button>
		</div>
		<div class="sub-header">
		</div>
	</div>
</div>

<!-- Process text -->
<div style="position: absolute; display: flex; flex-direction: column; justify-content: center; right: 0px; z-index: 1; opacity: 0;">
	<svg [id]="mapConfig.options.elementProcessText" style="height:0px;">
		<text x="22" y="15" fill="#fff" font-size="11" font-weight="bold"></text>
		<text x="22" y="15" fill="#fff" font-size="11" font-weight="bold"></text>
	</svg>
</div>
