        <!--begin tab-->
        <div class="tab-title-modal">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" sensor="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#info_global" sensor="tab" (click)="tabGlobal()">
                            {{'COMMON.GENERAL.BASE' | translate}}
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkTypeStation==0">
                        <a class="nav-link" data-toggle="tab" href="#info_paramset" sensor="tab" (click)= "tabAdvanced()">
                            {{'ADMIN.TOLL_STATION.COLUMN.TAB_PRICE' | translate}}
                        </a>
                    </li>
                  
                </ul>
        </div>
    <!-- End tab-->
<div class="kt-main" resizeObserver
    (resize)="onResize($event)">

    <div class="kt-left">
            <div class="kt-portlet kt-portlet--mobile" id="poiConfig">
               
                <form class="kt-form validate is-invalid" [formGroup]="poiForm" (change)="formChangeMap()"
                    id="formpoiTool">
                    <div class="kt-portlet__body kt-portlet__body--overflow-y" id="poiBody">
  
                        <div class="tab-content">
                                <div class="tab-pane active" id="info_global" sensor="tabpanel">
                                           <div class="form-group">
                                                <label>{{'MANAGE.GEOFENCE.TOOL.NAME' | translate}}</label>
                                                <span class="text-danger"> *</span>
                        
                                                <input type="text" class="form-control" formControlName="name">
                                                <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'name'">
                                                </kt-message-error>
                                                <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                                            </div>
                                            <div class="form-group">
                                                <label>{{'ADMIN.TOLL_STATION.COLUMN.TYPE_STATION' | translate}}</label>
                                                <div class="kt-radio-inline">
                                                    <label class="kt-radio kt-radio--tick kt-radio--brand">
                                                        <input [value]="0" [(ngModel)]="checkTypeStation" (click)="getListTollRoadByHighway(0)" formControlName="typeStation" name="typeStation" type="radio" > 
                                                        {{'ADMIN.TOLL_STATION.COLUMN.STANDARD' | translate}}
                                                        <span ></span>
                                                    </label>
                                                    <label  class="kt-radio kt-radio--tick kt-radio--brand">
                                                            <input [value]="1" [(ngModel)]="checkTypeStation"  (click)="getListTollRoadByHighway(1)" formControlName="typeStation" name="typeStation" type="radio" > 
                                                            {{'ADMIN.TOLL_STATION.COLUMN.OPTION' | translate}}
                                                            <span ></span>
                                                    </label>
                                                </div>  
                                                <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                                            </div>

                                            <div class="form-group">
                                                    <label>{{'ADMIN.TOLL_STATION.COLUMN.COUNTRY' | translate}}</label>
                                                    <span class="text-danger"> *</span>
                                                    <div class="kt-radio-inline">
                                                        <select #country1 
                                                            data-live-search="true" class="form-control kt_selectpicker padding-7"                                                         
                                                            data-size="5"
                                                            name="listCountry" id="country" 
                                                            title="{{'ADMIN.TOLL_STATION.COLUMN.SELECT_COUNTRY' | translate}}"
                                                            (change)= "selectCoutry($event)"
                                                            >
                                                        
                                                            <option *ngFor='let coutry of listCountry' value="{{coutry.id}}" attr.data-tokens = "{{coutry.textSearch}}">
                                                                {{coutry.name}}
                                                            </option>
                            
                                                        </select>
                                                    </div>  
                                            </div>
                                            <div class="form-group">
                                                    <label>{{'ADMIN.TOLL_STATION.COLUMN.CITY' | translate}}</label>
                                                    <span class="text-danger"> *</span>

                                                    <div class="kt-radio-inline">
                                                        <select #listCity1  data-live-search="true" class="form-control kt_selectpicker padding-7" 
                                                            formControlName="city"
                                                            data-size="5"
                                                            name="listProvinces" id="listProvinces" 
                                                            title="{{'ADMIN.TOLL_STATION.COLUMN.CHOISE_CITY' | translate}}"
                                                            >
                                                            <option *ngFor='let province of listProvinces' value="{{province.id}}" attr.data-tokens = "{{province.textSearch}}">
                                                                {{province.name}}
                                                            </option>
                            
                                                        </select>
                                                    </div>  
                                                    <!-- <span class="form-text text-muted">We'll never share your email with anyone else.</span> -->
                                            </div>
                                            <div class="form-group">
                                                    <label>
                                                        {{'ADMIN.TOLL_SEGMENT.COLUMN.ROAD' | translate}}
                                                    </label>
                                                    <span class="text-danger"> *</span>
                                                    <div class="kt-radio-inline">
                                                        <select #tollRoad 
                                                            data-live-search="true" class="form-control kt_selectpicker padding-7"                                                         
                                                            data-size="5"
                                                            name="tollRoad" id="tollRoad" 
                                                            title="{{'ADMIN.TOLL_SEGMENT.COLUMN.SELECT_ROAD' | translate}}"
                                                            formControlName="tollRoad"
                                                            >
                                                        
                                                            <option *ngFor='let tollRoad of listTollRoadbyWay' value="{{tollRoad.id}}" attr.data-tokens = "{{tollRoad.textSearch}}">
                                                                {{tollRoad.name}}
                                                            </option>
                            
                                                        </select>
                                                    </div>  
                                            </div>
                                            <div class="form-group">
                                                <label> {{'COMMON.GENERAL.ACTIVE' | translate}}</label>
                                                <div class="input-group">
                                                        <label style="margin: 0px;" for="">
                                                                <span class="kt-switch kt-switch--icon">
                                                                    <label  style="margin: 0px;" >
                                                                        <input type="checkbox" name="" formControlName="active"
                                                                           >
                                                                        <span></span>
                                                                    </label>
                                                                </span>
                                                            </label>
                                                </div>

                                            </div>
                                            <div class="form-group row">
                                                    <div class="col-lg-12">
                                                        <div class="show-error">
                                                            <label class="">{{'ADMIN.TOLL_STATION.COLUMN.BEGIN_WORK' | translate}}</label>
                                                        </div>
                                                        <div class="input-group">
                                                            <kt-date-range-picker container="body" #startTimeCpn class="col-md-12 px-0"
                                                                [options]="datetimeOptionsStartTime"
                                                                (dateChange)="dateSelectChangeBegin($event)">
                                                            </kt-date-range-picker>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group row">
                                                    <div class="col-lg-12">
                                                        <div class="show-error">
                                                            <label class="">{{'ADMIN.TOLL_STATION.COLUMN.END_WORK' | translate}}</label>
                                                        </div>
                                                        <div class="input-group">
                                                            <kt-date-range-picker container="body" #endTimeCpn class="col-md-12 px-0"
                                                                [options]="datetimeOptionsEndTime" (dateChange)="dateSelectChangeExpired($event)">
                                                            </kt-date-range-picker>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="form-group form-group-last">
                                                <label for="exampleTextarea">{{'MANAGE.GEOFENCE.TOOL.DESCRIPTION' | translate}}</label>
                                                <textarea class="form-control" formControlName="description" rows="4"></textarea>
                                                <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'description'">
                                                </kt-message-error>
                                            </div>
                                            <div class="form-group" *ngIf="isCricle">
                                                <label>{{'MANAGE.GEOFENCE.TOOL.RADIUS' | translate}} (m)</label>
                                                <input type="text" class="form-control" formControlName="radius" placeholder="">
                                                <kt-message-error [errorFormGroup]="f" [errorFormControlName]="'radius'">
                                                </kt-message-error>
                                            </div>
                                            <div formArrayName="latlngArr">
                                                    <div *ngFor="let latlng of formLatLngs.controls ; let i = index;">
                                                        <div class="row" [formGroupName]="i">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{'MANAGE.GEOFENCE.TOOL.LATITUDE' | translate}} {{i+1}}</label>
                                                                    <input type="text" class="form-control" formControlName="lat" placeholder="">
                                                                    <kt-message-error [errorFormGroup]="latlng.controls"
                                                                        [errorFormControlName]="'lat'">
                                                                    </kt-message-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>{{'MANAGE.GEOFENCE.TOOL.LONGITUDE' | translate}} {{i+1}}</label>
                                                                    <input type="text" class="form-control" formControlName="lng" placeholder="">
                                                                    <kt-message-error [errorFormGroup]="latlng.controls"
                                                                        [errorFormControlName]="'lng'">
                                                                    </kt-message-error>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                        
                                 </div>
                                 <div class="tab-pane" id="info_paramset" sensor="tabpanel">
                                     <div class="row content-price-list">
                                        <div  class="col-xl-12 col-lg-12  col-md-12  col-sm-12">
                                            <div class="row">
                                                    <div class="col-sm-6 currency-unit">
                                                            {{'ADMIN.TOLL_STATION.COLUMN.CURRENCY_UNIT' | translate}} :
                                                            <select
                                                            data-container="body"
                                                            data-live-search="true"
                                                            data-size="4" 
                                                            class="select-currency"
                                                            (change) = "changeCurrency($event)"
                                                            >
                                                            <ng-container *ngFor='let item of listCurrency'>
                                                                <option value="{{item.name}}">{{item.name}}</option>
                                                            </ng-container>
                                                            
                                                            </select>
                                                    </div>
                                                    <div class="col-sm-6 button-add-new" >
                                                            <button [disabled]="!disableAdd" data-repeater-create class="btn btn-brand btn-icon-sm" type="button" (click)="createParamsets()" id="create-paramsets">
                                                                    <i   class="flaticon2-plus" ></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                                                             </button>
                                                    </div>
                                            </div>


                                                <div id="kt_repeater_1">
                                                    <table class="table table-bordered table-station"  id="table-sensor">
                                                            <thead>
                                                            <tr>  
                                                                    <th  style="width:25%">{{'MENU.TRANSPORT_TYPE' | translate}} 
                                                                        <i style="cursor: pointer;font-size: 14px;padding: 4px;" class="icon-question-circle" ngbTooltip="{{'ADMIN.TOLL_STATION.MESSAGE.TAP_DEVICE' | translate}}" (click) ="showQuestionDeviceType(showQuestion)"></i>
                                                                    </th>
                                                                    <th style="width:150px">
                                                                            {{'COMMON.COLUMN.DESCRIPTION' | translate}}                       
                                                                    </th>
                                                                    <th style="width:150px">
                                                                        {{'ADMIN.TOLL_STATION.COLUMN.PRICE' | translate}} ({{currencyDefault}})                          
                                                                    </th>
                                                                   
                                                                    <th  style="width:86px">{{'COMMON.ACTIONS.ACTIONS' | translate}}</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody >
                                                         
                                                            <ng-container  *ngFor = 'let item  of parameters;let i = index'>
                                                                <tr >   
                                                                                                                    
                                                                        <td *ngIf="test(i)"  style="    text-align: center;
                                                                        padding-top: 22px;" container="body" >
                                                                        <select *ngIf="editSelectDeviceType" style="width:100px"
                                                                        
                                                                                data-container="body"
                                                                                class="select-devicetype"
                                                                                (change) = "changeTypeDevice($event)"
                                                                        >
                                                                                <ng-container *ngFor='let itemTranport of listTranportTypeCreated'>
                                                                                    <option value="{{itemTranport.id}}">{{itemTranport.name}}</option>
                                                                                </ng-container>
                                                                                
                                                                        </select>
                                                                        <span *ngIf="!editSelectDeviceType">
                                                                                {{item.name}}
                                                                         </span>
                                                                        </td>
                                                                        <td *ngIf="!test(i)" style="text-align: center;
                                                                        padding-top: 22px;" container="body" >
                                                                    
                                                                        <span>
                                                                           {{item.name}}
                                                                        </span>
                                                                           
                                                                        </td>
                                                                        <td>{{item.description}}</td>
                                                                        <td >
                                                                          <form class="" [formGroup]="paramsCurrency">
                                                                            <input type="text" mask="separator.2" thousandSeparator="," (change)="changePrice($event,item)" class="form-control" formControlName ="name_{{item.id}}"> 
                                                                          </form>
                                                                        </td>
                                                                    
                                                                        <td style="text-align: center;">                                                            
                                                                            <a style="cursor: pointer;"  class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="removePrice(item.id)">
                                                                            <i  class="icon-trash"></i>
                                                                        </a>
                                                                        </td>
                                                                </tr>
                                                            </ng-container>
                                                            <div id="croll-to"></div>
                                                            <!-- <tr *ngIf = "parameters.length == 0">
                                                                not found
                                                            </tr> -->
                                                        
                                                            </tbody>
                                                    </table>
                                                
                                                </div>
                                              
                                                                    
                                        </div>
                                    </div>
                                 </div>
                        </div>
                       
                      
                    </div>
                    <div class="kt-portlet__foot" id="poiFooter">
                         <div class="kt-form__actions">
                            <button  [disabled]="poiForm.invalid"  type="button" class="btn btn-primary"
                                (click)="onSubmit()">{{(typeAction=='edit'?'COMMON.ACTIONS.SAVE_CHANGES':'COMMON.ACTIONS.ADD') | translate}}</button>
                            &nbsp;&nbsp;
                            <!-- <button type="button" class="btn btn-secondary"
                                (click)="onReset()">{{'COMMON.GENERAL.RESET' | translate}}</button>&nbsp;&nbsp; -->
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
    </div>
    <div class="kt-map">
            <div class="map" id="map" leaflet leafletDraw [leafletOptions]="options" [leafletDrawOptions]="drawOptions"
                (leafletDrawReady)="onDrawReady($event)" (leafletDrawCreated)="onCreated($event)"
                (leafletMapReady)="onMapReady($event)">
            </div>
            <!-- Process text -->
            <div
                style="position: absolute; display: flex; flex-direction: column; justify-content: center; right: 0px; z-index: 1; opacity: 0;">
                <svg [id]="mapConfig.options.elementProcessText">
                    <text x="22" y="15" fill="#fff" font-size="11"></text>
                    <text x="22" y="15" fill="#fff" font-size="11"></text>
                </svg>
            </div>
            <!-- <div *ngIf="showListDevice" class="list-device">
                <kt-widget-check-list *ngIf="listData.length>0" [data]="listData" [filter]="'name'"
                    placeholder="{{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}}..." [isSwitch]="false"
                    [size]="'col-lg-6'" (checkedChange)="onWidgetCheckChange($event)">
                </kt-widget-check-list>
            </div> -->
            <!-- <div class="map-control">
                <a ngbTooltip="{{'MANAGE.GEOFENCE.TOOL.SHOW__HIDE_DEVICES'|translate}}" container="body" placement="left"
                    class="control-item" (click)="changeShowListDevice()">
                    <i class="flaticon2-lorry"></i>
                </a>
            </div> -->
    </div>

   

</div>

<ng-template #showQuestion let-modal>
        <div class="modal-header">
                <h5 class="modal-title">Thông tin loại xe</h5>

                <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="content-help-device" [innerHTML]="contentDescriptopn | safe : html"></div>
             
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"(click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
            </div>
      
</ng-template>