.shotscreen{
    max-width: 100%; 
    // max-height: 200px; 
    overflow: auto;
    max-width: 100%;
    &.processing{
        height: 200px;
        width: 100%;
        border: 3px solid #f7f7f8;
        background: #f7f7f8;
    }
    &.complete{
        // border: 3px solid #f7f7f8; 
        // border-top: 2px solid #f7f7f8;
    }
    img{
        border: 3px solid #f7f7f8;
    }
}