<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'COMMON.FEEDBACK.GENERAL.FEEDBACK' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="templateConent">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSubmit()">{{'COMMON.ACTIONS.SEND' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #templateConent>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-form kt-padding-10">
                <form class="kt-form is-invalid" [formGroup]="form">
                    <!-- name  -->
                    <div class="form-group row">
                        <label class="form-control-label">{{'COMMON.COLUMN.NAME' | translate}}
                         </label>
                        <input type="text" class="form-control" formControlName="name">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'groupName'">
                        </kt-message-error>
                    </div>
                    <!-- phone  -->
                    <div class="form-group row">
                        <label class="form-control-label">{{'COMMON.COLUMN.PHONE' | translate}}</label>
                        <input type="text" class="form-control" formControlName="phone">
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'groupName'">
                        </kt-message-error>
                    </div>
                    <!-- email  -->
                    <div class="form-group row">
                        <label class="form-control-label">{{'COMMON.COLUMN.EMAIL' | translate}}</label>
                        <input type="text" class="form-control" formControlName="email" autofocus>
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'email'">
                        </kt-message-error>
                    </div>
                    <!-- message -->
                    <div class="form-group row">
                        <label class="form-control-label">{{'COMMON.FEEDBACK.GENERAL.CONTENT' | translate}}
                            <span class="kt-font-danger">*</span>
                        </label>
                        <textarea class="form-control" rows="3" id="fbContent" placeholder="{{'COMMON.FEEDBACK.GENERAL.CONTENT_NOTE' | translate}}" formControlName="content"></textarea>
                        <!-- <input type="text" class="form-control" formControlName="message"> -->
                        <kt-message-error [errorFormGroup]="form.controls" [errorFormControlName]="'content'">
                        </kt-message-error>
                    </div>
                    <!-- <div class="form-group row">
                        <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                    </div> -->
                    <!-- shotscreen -->
                    <div class="form-group row" style="display: flex;flex-direction: column;">
                        <label class="kt-checkbox">
                            <input type="checkbox" formControlName="isShotscreen" (click)="onChangeShotscreen($event)">
                            {{'COMMON.FEEDBACK.GENERAL.SHOTSCREEN' | translate}}
                            <span></span>
                        </label>&nbsp;<br>
                        <div class="shotscreen"
                            [ngClass]="{'processing kt-spinner kt-spinner--loader kt-spinner--center kt-spinner--brand kt-spinner--sm':shotscreenProcess == 'processing', 
                                'complete':shotscreenProcess == 'complete',
                                'error':shotscreenProcess == 'error',
                                'kt-hide':shotscreenProcess == 'hide'}"  style=""> 
                                <img *ngIf="url" style="height: 200px;cursor: zoom-in;" name="img-icon" [src]="sanitize(url)" (click)="zoomIn(url)">
                           
                            <span class="form-text text-muted"*ngIf="shotscreenProcess == 'error'">{{'COMMON.FEEDBACK.MESSAGE.BROWSER_NOT_SUPPORT' | translate}}</span>
                        </div>
                    </div>
                    <!-- img -->
                    <div class="form-group row">
                        <label>{{'COMMON.FEEDBACK.GENERAL.IMAGE' | translate}}</label>
                        <div class="input-group">
                            <kt-upload-file (eventChange)="imgChange($event)" [size]="5">
                            </kt-upload-file>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>