<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [btnClose]="true" (changeUser)="ChangeUserTree($event)"
            [allowCollapse]="true">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px">
        <kt-user-info [user]="currentUser" [type]="'user'"></kt-user-info>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MANAGE.GENERAL.MAP_API_KEY' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="buttonAddNew(content)"
                        aria-expanded="false">
                        <i class="icon-plus"></i>
                        {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                        {{'MANAGE.GENERAL.MAP_API_KEY' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y ">
            <!-- begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormApiKeyMap" (ngSubmit)='searchMapKeyApi(searchFormApiKeyMap)'>
                    <div class="kt-section">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12 ">
                                <div class="kt-form__control form-group">
                                    <input type="text" class="form-control" data-key="name"
                                        placeholder="{{'MANAGE.MAP_API_KEY.API_NAME' | translate}}"
                                        formControlName="name">
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12 ">
                                <div class="kt-form__control form-group">
                                    <input type="text" class="form-control"
                                        placeholder="{{ 'MANAGE.MAP_API_KEY.API_KEY' | translate }}"
                                        formControlName="apiKey">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                                <div class="kt-form__group kt-form__group--inline form-group">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" formControlName="subAccount">
                                        {{'MANAGE.DEVICE.GENERAL.SUB_ACCOUNT' | translate}}
                                        <span></span>
                                    </label>
                                    &nbsp;
                                    <button type="submit" class="btn btn-outline-brand btn-pill">
                                        <i class="icon-search"></i>{{'COMMON.GENERAL.SEARCH' | translate}}
                                    </button>
                                    &nbsp;
                                    <button (click)='resetFormSearch()' class="btn btn-outline-brand btn-pill">
                                        <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end: Search Form -->

            <!-- begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" style="display: block;"  id="dataTable">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell  kt-datatable__toggle-detail kt-datatable__cell--sort">
                            </th>
                            <!-- end subRow -->
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">
                                        &nbsp;
                                        <span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let mapKey of dataTable.data; let i = index">
                            <tr [ngClass]="{'kt-datatable__row--active':mapKey.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;">
                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i
                                            [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell" data-field="id">
                                    <span [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span ngbTooltip="{{mapKey.name}}"
                                    [ngStyle]="dataTable.getColumns()[1].style">{{mapKey.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"  class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[2].style">{{mapKey.apiKey.slice(0, 10) + '...' + mapKey.apiKey.slice(-10)}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[3].style">{{mapKey.userName}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[4].style">{{mapKey.type | uppercase}} </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}" class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[5].style">{{mapKey.createdAt | userDate}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell">
                                    <span class="btn btn-bold btn-pill btn-sm btn-font-sm text-left"
                                        [ngStyle]="dataTable.getColumns()[6].style"
                                        [ngClass]="{'kt-font-danger':mapKey.active==0,'kt-font-success':mapKey.active==1}">
                                        <i class="ic-md" [ngClass]="{'icon-minus-circle':mapKey.active==0,
                                            'icon-check-circle1':mapKey.active==1}"></i>
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('action').isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span style="overflow: visible; position: relative;"
                                        [ngStyle]="dataTable.getColumn('action').style">
                                        <a [ngStyle]
                                            ngbTooltip="{{(mapKey.active =='1'?'MANAGE.MAP_API_KEY.ACTIVE':'MANAGE.MAP_API_KEY.INACTIVE') | translate }}"
                                            container="body" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="changeActive(mapKey)">
                                            <i
                                                [ngClass]="{'icon-lock':mapKey.active =='1','icon-unlock':mapKey.active =='0'}"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="buttonEdit(mapKey, content)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="buttonDelete(mapKey.id, mapKeyDeleteTmp)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="8">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{mapKey.name}}"
                                                    [ngStyle]="dataTable.getColumns()[1].style">{{mapKey.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{mapKey.apiKey}}"
                                                    [ngStyle]="dataTable.getColumns()[2].style">{{mapKey.apiKey.slice(0, 10) + '...' + mapKey.apiKey.slice(-10)}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{mapKey.userName}}"
                                                    [ngStyle]="dataTable.getColumns()[3].style">{{mapKey.userName}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{mapKey.type }}"
                                                    [ngStyle]="dataTable.getColumns()[4].style">{{mapKey.type}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ngbTooltip="{{mapKey.createdAt}}"
                                                    [ngStyle]="dataTable.getColumns()[5].style">{{mapKey.createdAt | userDate }}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span class="btn btn-bold btn-pill btn-sm btn-font-sm"
                                                    [ngStyle]="dataTable.getColumns()[6].style"
                                                    [ngClass]="{'kt-font-danger':mapKey.active==0,'kt-font-success':mapKey.active==1}">
                                                    <i class="ic-md" [ngClass]="{'icon-minus-circle':mapKey.active==0,
                                            'icon-check-circle1':mapKey.active==1}"></i>
                                                </span>
                                            </td>

                                        </tr>

                                        <tr [ngStyle]="{'display':(!dataTable.getColumn('action').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('action').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span style="overflow: visible; position: relative;"
                                                    [ngStyle]="dataTable.getColumn('action').style">
                                                    <a [ngStyle]
                                                        ngbTooltip="{{(mapKey.active =='1'?'MANAGE.MAP_API_KEY.ACTIVE':'MANAGE.MAP_API_KEY.INACTIVE') | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="changeActive(mapKey)">
                                                        <i
                                                            [ngClass]="{'icon-lock':mapKey.active =='1','icon-unlock':mapKey.active =='0'}"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="buttonEdit(mapKey, content)">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="buttonDelete(mapKey.id, mapKeyDeleteTmp)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->

                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>
                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li>
                            <a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i>
                            </a>
                        </li>
                        <li>
                            <a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i>
                            </a>
                        </li>
                        <li></li>
                        <li style="display: none;">
                            <input type="text" class="kt-pager-input form-control" title="Page number">
                        </li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">
                                {{page}}
                            </a>
                        </li>
                        <li style></li>
                        <li>
                            <a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)">
                                <i class=" flaticon2-next"></i>
                            </a>
                        </li>
                        <li>
                            <a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">
                                    {{item}}
                                </option>
                            </select>
                        </div>

                        <span class="kt-datatable__pager-detail">
                            {{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}
                        </span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>
            <!-- end: Datatable -->

            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui ">
                    <span>{{'COMMON.PLEASE_WAIT' | translate}}</span>
                    <span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->


<!-- modal: map api key -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{mapKeyFormTitle | translate}} {{'MANAGE.GENERAL.MAP_API_KEY' | translate  }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form class="overflow-hidden" [formGroup]="formMapApiKey" (ngSubmit)="onSubmit(formMapApiKey)">
        <div class="modal-body div-scrollbar modal-body-alert" *ngFor="let data of currentData">
            <div class="tab-title-modal" *ngIf="isEdit">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-info" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_tab_base" role="tab"
                            aria-selected="false">{{ 'COMMON.GENERAL.BASE' | translate }}</a>
                    </li>

                    <li class="nav-item" *ngIf="isEdit">
                        <a class="nav-link" data-toggle="tab" href="#kt_tab_userUses" role="tab"
                            aria-selected="true">{{ 'MANAGE.MAP_API_KEY.USER_USE' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="kt_tab_base" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12" style="max-height: -webkit-fill-available">
                            <div>
                                <div class="form-group row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="show-error">
                                                <label>
                                                    {{'MANAGE.MAP_API_KEY.API_NAME' | translate}}
                                                </label>
                                                <app-control-messages [control]="f['name']"></app-control-messages>
                                                <span class="text-danger"> *</span>
                                            </div>
                                            <input type="text" class="form-control" name="name"
                                                [ngModel]="isEdit ? data.name : 'API key ' + (totalRecod + 1)"
                                                formControlName="name">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="show-error">
                                                <label>
                                                    {{'MANAGE.MAP_API_KEY.API_KEY' | translate}}
                                                </label>
                                                <app-control-messages [control]="f['apiKey']"></app-control-messages>
                                                <span class="text-danger"> *</span>
                                            </div>
                                            <input type="text" class="form-control" name="apiKey"
                                                [ngModel]="isEdit ? data.apiKey : ''" formControlName="apiKey">

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="show-error">
                                                <label>
                                                    {{'MANAGE.MAP_API_KEY.TYPE' | translate}}
                                                </label>
                                                <app-control-messages [control]="f['type']"></app-control-messages>
                                                <span class="text-danger"> *</span>
                                            </div>
                                            <div class="input-group">
                                                <select class="kt_selectpicker form-control" name="keyType" id="keyType" [ngModel]="isEdit ? data.type : 'google'"
                                                    formControlName="type">
                                                    <option value="google" [selected]="'google'" >
                                                        {{'MANAGE.MAP_API_KEY.GOOGLE_TYPE' | translate}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for>
                                                {{'MANAGE.MAP_API_KEY.DESCRIPTION' | translate}}
                                            </label>
                                            <textarea rows="3" class="form-control"
                                                [ngModel]="isEdit ? data.description : ''"
                                                formControlName="description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="kt_tab_userUses" role="tabpanel">
                    <div
                        class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                        <div class="form-group row kt-portlet__body">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    <!-- <label style="margin-left: -10px;">{{'MANAGE.MAP_API_KEY.CHOOSE_USER_USE' | translate}}</label> -->
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <div class="kt-form__control form-group">
                                                <input type="text" class="form-control" data-key="name" #userUse
                                                    id="ipUserUse"
                                                    placeholder="{{'MANAGE.MAP_API_KEY.USER_USE' | translate}}">
                                            </div>
                                        </div>
                                        <div class="col-4 kt-form__group kt-form__group--inline form-group">
                                            &nbsp;
                                            <button ngbTooltip="{{'MANAGE.MAP_API_KEY.SEARCH_USER_USE' | translate}}"
                                                type="button" triggers="hover" container="body"
                                                class="btn btn-outline-brand btn-pill btn-circle btn-icon btn-sm"
                                                (click)="searchUserUses(userUse.value)">
                                                <i class="icon-search"></i>
                                            </button>
                                            &nbsp;
                                            <button type="button" (click)="resetSearchUserUse(data.id)"
                                            ngbTooltip="{{'MANAGE.MAP_API_KEY.RESET_SEARCH_USER_USE' | translate}}"
                                                class="btn btn-outline-brand btn-pill btn-circle btn-icon btn-sm">
                                                <i class="icon-sync"></i>
                                            </button>
                                            &nbsp;
                                            <button ngbTooltip="{{'MANAGE.MAP_API_KEY.CHOOSE_USER_USE' | translate}}"
                                                type="button" triggers="hover" container="body"
                                                class="btn btn-info btn-circle btn-icon btn-sm"
                                                (click)="openUserTree()">
                                                <i class="icon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <!-- begin: Datatable User Uses-->
                                <div class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                                    [ngClass]="{'kt-datatable--error':tableUserUses.isNotFound}" id="api_methods"
                                    style="position: static; zoom: 1;">
                                    <table class="kt-datatable__table" style="display: block;">
                                        <thead class="kt-datatable__head">
                                            <tr class="kt-datatable__row" style="left: 0px;">
                                                <!-- subRow -->
                                                <th *ngIf="tableUserUses.isShowSubRow"
                                                    class="kt-datatable__cell  kt-datatable__toggle-detail kt-datatable__cell--sort">
                                                    <span></span>
                                                </th>
                                                <!-- end subRow -->
                                                <!-- checkbox -->
                                                <th *ngIf="tableUserUses.selecter"
                                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                                    <span style="width: 20px;">
                                                        <label
                                                            class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                                            <input (click)="tableUserUses.setCheckBoxAll()"
                                                                type="checkbox"
                                                                [(ngModel)]="tableUserUses.isCheckBoxAll">
                                                            &nbsp;
                                                            <span></span>
                                                        </label>
                                                    </span>
                                                </th>
                                                <!-- end checkbox -->
                                                <!-- dataTable -->

                                                <ng-container *ngFor="let column of tableUserUses.getColumns()">
                                                    <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                                        [ngStyle]="{'display':(!column.isShow?'none':'')}"
                                                        [attr.data-field]="column.field"
                                                        class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                                        (click)="tableUserUses.sort(column.field)">
                                                        <span [ngStyle]="column.style">
                                                            {{column.translate | translate}}
                                                            <i *ngIf="column.isSort"
                                                                [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                                        </span>
                                                    </th>
                                                </ng-container>
                                            </tr>
                                        </thead>
                                        <!-- table body -->
                                        <tbody class="kt-datatable__body" [ngStyle]="tableUserUses.bodyStyle">
                                            <ng-container *ngFor="let data of tableUserUses.data; let i = index">
                                                <tr [ngClass]="{'kt-datatable__row--active':data.dt_selecter}"
                                                    class="kt-datatable__row" style="left: 0px;">
                                                    <!-- checkbox -->
                                                    <td *ngIf="tableUserUses.selecter"
                                                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                                        data-field="RecordID"><span style="width: 20px;">
                                                            <label
                                                                class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                                    (click)="tableUserUses.setCheckBox(i)">&nbsp;<span></span>
                                                            </label>
                                                        </span>
                                                    </td>
                                                    <!-- end checkbox -->
                                                    <td *ngIf="tableUserUses.isShowSubRow" style="width: 13px;"
                                                        class="kt-datatable__cell kt-datatable__toggle-detail">
                                                        <a (click)="tableUserUses.showSubRow(i)"
                                                            class="kt-datatable__toggle-detail">
                                                            <i
                                                                [ngClass]="{'icon-caret-down' : (tableUserUses.lastRowShow == i), 
                                                                                                'icon-caret-right' : (tableUserUses.lastRowShow != i)}"></i>
                                                        </a>
                                                    </td>

                                                    <td [ngStyle]="{'display':(!tableUserUses.getColumns()[0].isShow?'none':'')}"
                                                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                                        <span
                                                            [ngStyle]="tableUserUses.getColumns()[0].style">{{i+tableUserUses.getPaginations().form}}</span>
                                                    </td>
                                                    <td [ngStyle]="{'display':(!tableUserUses.getColumns()[1].isShow?'none':'')}"
                                                        data-field="key_name" class="kt-datatable__cell">
                                                        <span
                                                            [ngStyle]="tableUserUses.getColumns()[1].style">{{isEdit ? data.userName : ''}}</span>
                                                    </td>
                                                    <td [ngStyle]="{'display':(!tableUserUses.getColumns()[2].isShow?'none':'')}"
                                                        data-field="key_name" class="kt-datatable__cell">
                                                        <span
                                                            [ngStyle]="tableUserUses.getColumns()[2].style">{{isEdit? data.userParent: ''}}</span>
                                                    </td>

                                                    <!-- <td [ngStyle]="{'display':(!tableUserUses.getColumns()[6].isShow?'none':'')}"
                                                                    data-field="name" class="kt-datatable__cell">
                                                                    <span class="btn btn-bold btn-pill btn-sm btn-font-sm text-left"
                                                                        [ngStyle]="tableUserUses.getColumns()[6].style"
                                                                        [ngClass]="{'kt-font-danger':mapKey.active==0,'kt-font-success':mapKey.active==1}">
                                                                        <i class="ic-md" [ngClass]="{'icon-minus-circle':mapKey.active==0,
                                                                            'icon-check-circle1':mapKey.active==1}"></i>
                                                                    </span>
                                                                </td> -->

                                                    <td [ngStyle]="{'display':(!tableUserUses.getColumns()[3].isShow?'none':'')}"
                                                        data-field="Actions" data-autohide-disabled="false"
                                                        class="kt-datatable__cell">
                                                        <span style="overflow: visible; position: relative;"
                                                            [ngStyle]="tableUserUses.getColumns()[3].style">
                                                            <!-- <a [ngStyle]
                                                                            ngbTooltip="{{(mapKey.active =='1'?'MANAGE.MAP_API_KEY.ACTIVE':'MANAGE.MAP_API_KEY.INACTIVE') | translate }}"
                                                                            container="body" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                                            (click)="changeActive(mapKey)">
                                                                            <i
                                                                                [ngClass]="{'icon-lock':mapKey.active =='1','icon-unlock':mapKey.active =='0'}"></i>
                                                                        </a> -->
                                                            <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                                container="body"
                                                                class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                                (click)="openDeleteUserUse(data.id, frmdeleteUserUse)">
                                                                <i class="icon-trash"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            <!-- No records found -->

                                            <div *ngIf="tableUserUses.isNotFound" class="kt-datatable--error">
                                                <kt-not-found [message]="'MANAGE.MAP_API_KEY.CHOOSE_USER_USE'"
                                                    [icon]="'icon-plus'"></kt-not-found>
                                            </div>
                                        </tbody>
                                    </table>
                                    <!-- begin pagination -->
                                    <ng-container>
                                        <div [ngStyle]="{'visibility':(tableUserUses.isNotFound?'hidden':'visible')}"
                                            class="kt-datatable__pager kt-datatable--paging-loaded">
                                            <!-- pagination -->
                                            <ul class="kt-datatable__pager-nav">
                                                <li>
                                                    <a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                                        class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                                        [ngClass]="{'kt-datatable__pager-link--disabled':(tableUserUses.getCurrentPage()==tableUserUses.getFirstPage())}"
                                                        (click)="tableUserUses.gotoPage(tableUserUses.getFirstPage())">
                                                        <i class="flaticon2-fast-back"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                                        class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                                        [ngClass]="{'kt-datatable__pager-link--disabled':(tableUserUses.getCurrentPage()==tableUserUses.getFirstPage())}"
                                                        (click)="tableUserUses.gotoPage(tableUserUses.getCurrentPage()-1)">
                                                        <i class="flaticon2-back"></i>
                                                    </a>
                                                </li>
                                                <li></li>
                                                <li style="display: none;">
                                                    <input type="text" class="kt-pager-input form-control"
                                                        title="Page number">
                                                </li>
                                                <li *ngFor="let page of tableUserUses.getPageDisplay()">
                                                    <a (click)="tableUserUses.gotoPage(page)"
                                                        class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                                        [ngClass]="{'kt-datatable__pager-link--active':page==tableUserUses.getCurrentPage()}"
                                                        data-page="1">
                                                        {{page}}
                                                    </a>
                                                </li>
                                                <li style></li>
                                                <li>
                                                    <a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                                        class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                                        [ngClass]="{'kt-datatable__pager-link--disabled':(tableUserUses.getCurrentPage()==tableUserUses.getLastPage())}"
                                                        (click)="tableUserUses.gotoPage(tableUserUses.getCurrentPage()+1)">
                                                        <i class=" flaticon2-next"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                                        [ngClass]="{'kt-datatable__pager-link--disabled':(tableUserUses.getCurrentPage()==tableUserUses.getLastPage())}"
                                                        class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                                        (click)="tableUserUses.gotoPage(tableUserUses.getLastPage())">
                                                        <i class="flaticon2-fast-next"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- page size -->
                                            <div class="kt-datatable__pager-info">
                                                <div class="dropdown bootstrap-select kt-datatable__pager-size"
                                                    id="dataTableSelect" style="width: 60px;">
                                                    <select
                                                        ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                                        (change)="tableUserUses.setPageSize($event.target.value)"
                                                        class="selectpicker kt-datatable__pager-size"
                                                        title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                                        data-width="60px" data-selected="10" data-size="5">
                                                        <option *ngFor="let item of tableUserUses.getPaginationSelect()"
                                                            [selected]="item==tableUserUses.getPaginations().pageSize"
                                                            value="{{item}}" title="{{item}}" data-toggle="tooltip">
                                                            {{item}}
                                                        </option>
                                                    </select>
                                                </div>

                                                <span class="kt-datatable__pager-detail">
                                                    {{'COMMON.SHOW' | translate}}
                                                    {{tableUserUses.getPaginations().form}} -
                                                    {{tableUserUses.getPaginations().to}}
                                                    {{'COMMON.OF' | translate}}
                                                    {{tableUserUses.getPaginations().total}}
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <!-- end: Pagination -->
                                </div>
                                <!-- end: Datatable -->
                                <div *ngIf="tableUserUses.isLoading" class="blockUI blockMsg blockElement"
                                    style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                                    <div class="blockui ">
                                        <span>{{'COMMON.PLEASE_WAIT' | translate}}</span>
                                        <span>
                                            <div class="kt-spinner kt-spinner--loader kt-spinner--brand ">
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span *ngIf="isPermissionError" class="text-danger error-message-modal">
                {{errorMessage}}
            </span>
            <button *ngIf="!isEdit" type="submit" [disabled]="formMapApiKey.invalid" class="btn btn-primary">
                {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
            <button *ngIf="isEdit" type="submit" [disabled]="formMapApiKey.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
            </button>
            <button type="button" class="btn btn-secondary"
                (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>
</ng-template>
<!-- end modal: map api key -->

<!-- modal delete user -->
<ng-template #mapKeyDeleteTmp let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }} {{'MANAGE.GENERAL.MAP_API_KEY' | translate }}
        </h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
            <div class="alert-icon"><i class="icon-question-circle"></i></div>
            <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="deleteMapApiKey()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>

</ng-template>

<!-- modalDeleteUserUse -->
<ng-template #frmdeleteUserUse let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }}
        </h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
            <div class="alert-icon"><i class="icon-question-circle"></i></div>
            <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
        </div>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="deleteUserUse()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>

</ng-template>

<!-- modal user tree -->
<ng-template #frmUserTree let-modal >
    <div class="modal-header">
        <h5 class="modal-title">{{'MANAGE.MAP_API_KEY.CHOOSE_USER_USE' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body custom-user-tree">
        <kt-user-tree-new [checkBox]="true" [disableRoot]="false" [listCheckbox]="listUserAdd"
            [eventUpdateCheckbox]="parrentEmiter" storeLocal="true" [userRoot]="currentUser"
            (clickCheckbox)="clickCheckbox($event)">
        </kt-user-tree-new>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="addCheckedUserUses()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="clearChecked()">{{'COMMON.ACTIONS.CLOSE' | translate }}</button>
    </div>

</ng-template>