<form #form="ngForm">
	<div _ngcontent-ktv-c23="" class="kt-input-icon kt-input-icon--right">
		<input _ngcontent-ktv-c23="" (keyup)="search(form)" name="q" ngModel autocomplete="off"
			class="form-control form-control-sm" type="text" placeholder="Tất cả thiết bị..."><span
			_ngcontent-ktv-c23="" class="kt-input-icon__icon kt-input-icon__icon--right">
			<span _ngcontent-ktv-c23=""><i _ngcontent-ktv-c23="" class="icon-search"></i></span></span></div>
</form>