<!-- begin:: Content -->

<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" [btnClose]="true" [showPoint]="true" [allowCollapse]="true"
            (changeUser)="userTreeChangeUser($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px;overflow: hidden;">
        <kt-user-info [user]="currentUser" [type]="'pointManage'"></kt-user-info>
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="icon-setting"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{'POINTS.MANAGE.GENERAL.POINT_MANAGE' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" *ngxPermissionsOnly="['ROLE_point.add']"
                            class="btn btn-brand btn-icon-sm btn-pill" (click)="open(content,'add')">
                            <i class="flaticon2-plus"></i>
                            {{'POINTS.MANAGE.GENERAL.ADD_POINT' | translate  }}

                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch"
                (keyup.enter)="search()">
                <div class=" row">
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <!-- <kt-user-autocomplete></kt-user-autocomplete> -->
                            <kt-user-autocomplete #userAutocomplete (eventChange)="onUserChange($event)">
                            </kt-user-autocomplete>
                            <!-- <input type="text" class="form-control" data-key="name"
                                placeholder="{{'POINTS.SEARCH.ACCOUNT_OR_NAME' | translate}}"> -->
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" data-key="email"
                                placeholder="{{'POINTS.SEARCH.EMAIL' | translate}}">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" data-key="phone"
                                placeholder="{{'POINTS.SEARCH.PHONE' | translate}}">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-6 col-sm-12">
                        <div class="form-group form-group--mobile">
                            <label class="kt-checkbox">
                                <input type="checkbox" data-key="includeSubAccount">
                                {{'POINTS.SEARCH.SUB_ACCOUNT' | translate}}
                                <span></span>
                            </label> &nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="search()"
                            [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--primary kt-spinner--right':dataTable.isLoading}">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">

                                <th *ngIf="column.field != 'actions'"
                                    [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>

                            <th *ngxPermissionsOnly="['ROLE_point.move']" class="kt-datatable__cell"
                                [ngStyle]="{'display':(!dataTable.getColumn('actions').isShow?'none':'')}"
                                class="kt-datatable__cell">
                                <span
                                    [ngStyle]="dataTable.getColumn('actions').style">{{dataTable.getColumn('actions').translate | translate}}</span>
                            </th>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                class="kt-datatable__row" style="left: 0px;">
                                <!-- subRow -->
                                <td *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('username').isShow?'none':'')}"
                                    data-field="Username" class="kt-datatable__cell">
                                    <span *ngIf="item.type != 1" [ngStyle]="dataTable.getColumn('username').style"
                                        ngbTooltip="{{item.username}}" container="body"><i
                                            class="fa fa-user icon-user-tree-child"></i>{{item.username}}</span>
                                    <span *ngIf="item.type == 1" [ngStyle]="dataTable.getColumn('username').style"><i
                                            class="fa fa-user icon-user-tree-parent"></i>{{item.username}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('roleName').isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell">

                                    <span [ngStyle]="dataTable.getColumn('roleName').style"
                                        ngbTooltip="{{item.roleName}}" container="body">{{item.roleName}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('fullName').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('fullName').style" ngbTooltip="{{item.name}}"
                                        container="body">{{item.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('phone').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('phone').style" ngbTooltip="{{item.phone}}"
                                        container="body">{{item.phone}}</span>
                                </td>
                                <td ngxClipboard [cbContent]="item.email" (cbOnSuccess)="copied($event)"
                                    [ngStyle]="{'display':(!dataTable.getColumn('email').isShow?'none':'')}"
                                    class="kt-datatable__cell clipboard">
                                    <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action"
                                        ngbTooltip="{{item.email}}" container="body">
                                        <i class="icon-copy"></i>
                                    </a>
                                    <span [ngStyle]="dataTable.getColumn('email').style">{{item.email}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('point').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('point').style">
                                        <span
                                            class="btn btn-sm btn-label btn-font-brand btn-bold">{{item.currentPoint|number}}</span>
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('status').isShow?'none':'')}"
                                    class="kt-datatable__cell">

                                    <span [ngStyle]="dataTable.getColumn('status').style">
                                        <i *ngIf="item.status == 1" class="fa fa-check-circle kt-font-success"></i>
                                        <i *ngIf="item.status == 0" class="fa fa-check-circle kt-font-danger"></i>
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('createdAt').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('createdAt').style">{{item.createdAt | userDate}}</span>
                                </td>
                                <td *ngxPermissionsOnly="['ROLE_point.move']"
                                    [ngStyle]="{'display':(!dataTable.getColumn('actions').isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('actions').style"
                                        style="overflow: visible; position: relative;">
                                        <a *ngxPermissionsOnly="['ROLE_point.move']"
                                            ngbTooltip="{{(item.active =='1'?'COMMON.ACTIONS.MOVE_POINT':'COMMON.ACTIONS.UNLOCK') | translate }}"
                                            container="body" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'move',item)">
                                            <i class="icon-exchange-alt"></i>
                                            <!-- <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'edit',item)">
                                            <i class="icon-edit"></i> -->
                                        </a>
                                        <!-- <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'delete',item)">
                                            <i class="icon-trash"></i>
                                        </a> -->
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <!-- id -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('id').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn("id").translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('id').style">{{i + dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <!-- username -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('username').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('username').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell ">
                                                <span *ngIf="item.type != 1"
                                                    [ngStyle]="dataTable.getColumn('username').style">
                                                    <i class="fa fa-user icon-user-tree-child"></i>{{item.username}}
                                                </span>
                                                <span *ngIf="item.type == 1"
                                                    [ngStyle]="dataTable.getColumn('username').style">
                                                    <i class="fa fa-user icon-user-tree-parent"></i>{{item.username}}
                                                </span>
                                            </td>
                                        </tr>
                                        <!-- roleName -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('roleName').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('roleName').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('roleName').style">{{item.roleName}}</span>
                                            </td>
                                        </tr>
                                        <!-- fullName -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('fullName').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('fullName').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('fullName').style">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <!-- phone -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('phone').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('phone').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('phone').style">{{item.phone}}</span>
                                            </td>
                                        </tr>
                                        <!-- email -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('email').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('email').translate | translate}}</span>
                                            </td>
                                            <td ngxClipboard [cbContent]="item.email" (cbOnSuccess)="copied($event)"
                                                class="kt-datatable__cell clipboard">
                                                <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                                    <i class="icon-copy"></i>
                                                </a>
                                                <span
                                                    [ngStyle]="dataTable.getColumn('email').style">{{item.email}}</span>
                                            </td>
                                        </tr>
                                        <!-- point -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('point').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('point').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('point').style">
                                                    <span
                                                        class="btn btn-sm btn-label btn-font-brand btn-bold">{{item.currentPoint|number}}</span></span>
                                            </td>
                                        </tr>
                                        <!-- status -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('status').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('status').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('status').style">
                                                    <i *ngIf="item.status == 1"
                                                        class="fa fa-check-circle kt-font-success"></i>
                                                    <i *ngIf="item.status == 0"
                                                        class="fa fa-check-circle kt-font-danger"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <!-- createdAt -->
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('createdAt').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('createdAt').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('createdAt').style">{{item.createdAt | userDate}}</span>
                                            </td>
                                        </tr>
                                        <!-- actions -->
                                        <tr *ngxPermissionsOnly="['ROLE_point.move']"
                                            [ngStyle]="{'display':(dataTable.getColumn('actions').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('actions').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('actions').style"
                                                    style="overflow: visible; position: relative;">
                                                    <a *ngxPermissionsOnly="['ROLE_point.move']"
                                                        ngbTooltip="{{(item.active =='1'?'COMMON.ACTIONS.MOVE_POINT':'COMMON.ACTIONS.UNLOCK') | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="open(content,'move',item)">
                                                        <i class="icon-exchange-alt"></i>
                                                    </a>                                                  
                                                </span>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                            <!-- end sub row -->
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>
                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- end:: Content -->
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{titlePopup | translate}}
            {{'POINTS.MANAGE.GENERAL.POINT' | translate | lowercase  }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="action">
            <ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="tmpConfirmDelete">
            </ng-container>
            <ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormEdit">
            </ng-container>
            <ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="tmpFormAdd">
            </ng-container>
            <ng-container *ngSwitchCase="'move'" [ngTemplateOutlet]="tmpFormMove">
            </ng-container>
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container [ngSwitch]="action">
            <button *ngSwitchCase="'edit'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}
            </button>
            <button *ngSwitchCase="'move'"
                [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':processAction}" type="button"
                class="btn btn-primary" (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}
            </button>
            <button *ngSwitchCase="'add'"
                [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':processAction}" type="button"
                class="btn btn-primary" (click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}
            </button>
            <button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}
            </button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<!-- edit form -->
<ng-template #tmpFormEdit>

</ng-template>

<!-- move form -->
<ng-template #tmpFormMove>
    <!-- tài khoản chuyển
    số điểm hiện có
    tài khoản nhận
    số điểm
    trạng thái
    mô tả -->
    <form class="kt-form is-invalid  px-3" [formGroup]="formMovePoint" id="formMovePoint">
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-credit-card"></i>
                {{'POINTS.MANAGE.GENERAL.ACCOUNT_INFORMATION_SEND' | translate}}</div>
            <div class="kt-section__body">
                <input type="hidden" class="form-control kt-hide" formControlName="userSendUserId">
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.USER_NAME' | translate}}</label>
                    <input type="text" class="form-control" formControlName="userSendUserName">
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.CURRENT_POINT' | translate}}</label>
                    <input type="text" class="form-control" formControlName="userSendCurrentPoint">
                </div>
            </div>
        </div>
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-user1"></i>
                {{'POINTS.MANAGE.GENERAL.ACCOUNT_INFORMATION_RECEIVE' | translate}}</div>
            <div class="kt-section__body">
                <input type="hidden" class="form-control kt-hide" formControlName="receiveUserId">
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.USER_NAME' | translate}}</label>
                    <input type="text" class="form-control" formControlName="receiveUserName">
                </div>
            </div>
        </div>

        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-comments-dollar"></i>
                {{'POINTS.MANAGE.GENERAL.TRANSACTION_INFORMATION' | translate}}</div>
            <div class="kt-section__body">
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.AMOUNT_POINT' | translate}}</label>
                    <input type="number" class="form-control" formControlName="transactionPoint">
                    <kt-message-error [errorFormGroup]="fMove" [errorFormControlName]="'transactionPoint'">
                    </kt-message-error>
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.PAY' | translate}}</label>
                    <select formControlName="transactionIsPay" class="selectpicker form-control" (change)="onChangePayType($event.target.value)">
                        <!-- <option value="0">{{'POINTS.PAY.UNKNOWN' | translate}}</option> -->
                        <option value="1" selected>{{'POINTS.PAY.PAID' | translate}}</option>
                        <option value="2">{{'POINTS.PAY.UNPAID' | translate}}</option>
                    </select>
                </div>
               
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.DATE_PAY' | translate}}</label>
                    <kt-date-range-picker container="body" class="col-md-12 px-0"
                        [options]="payAtOptions"
                        #payAtCpn
                        (dateChange)="payAtMove($event)">
                    </kt-date-range-picker>
                    <input type="text" hidden class="form-control" formControlName="payAt">
                    <kt-message-error [errorFormGroup]="fMove" [errorFormControlName]="'payAt'">
                    </kt-message-error>    

                </div>
                 <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.DESCRIPTION' | translate}}</label>
                    <input type="text" class="form-control" formControlName="transactionDescription">
                    <kt-message-error [errorFormGroup]="fMove" [errorFormControlName]="'transactionDescription'">
                    </kt-message-error>
                </div>
                 <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.AMOUNT' | translate}}</label>
                    <input type="number" class="form-control" formControlName="transactionAmount">
                    <kt-message-error [errorFormGroup]="fMove" [errorFormControlName]="'transactionAmount'">
                    </kt-message-error>
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.BILL_IMG' | translate}}</label>
                    <div class="input-group">
                        <kt-upload-file (eventChange)="billImgChange($event)"></kt-upload-file>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
</ng-template>

<!-- add form  -->
<ng-template #tmpFormAdd>

    <!-- tài khoản nhận
    số điểm
    trạng thái
    mô tả -->
    <form class="kt-form is-invalid px-3" [formGroup]="formAddPoint" id="formAddPoint">
        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-user1"></i>
                {{'POINTS.MANAGE.GENERAL.ACCOUNT_INFORMATION_RECEIVE' | translate}}</div>
            <div class="kt-section__body">
                <input type="hidden" class="form-control kt-hide" formControlName="receiveUserId">
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.USER_NAME' | translate}}</label>
                    <input type="text" class="form-control" formControlName="receiveUserName">
                </div>
            </div>
        </div>

        <div class="kt-section my-0">
            <div class="kt-section__title my-2"><i class="icon-comments-dollar"></i>
                {{'POINTS.MANAGE.GENERAL.TRANSACTION_INFORMATION' | translate}}</div>
            <div class="kt-section__body">
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.AMOUNT_POINT' | translate}}</label>
                    <input type="number" class="form-control" formControlName="transactionPoint">
                    <kt-message-error [errorFormGroup]="fAdd" [errorFormControlName]="'transactionPoint'">
                    </kt-message-error>
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.DESCRIPTION' | translate}}</label>
                    <input type="text" class="form-control" formControlName="transactionDescription">
                    <kt-message-error [errorFormGroup]="fAdd" [errorFormControlName]="'transactionDescription'">
                    </kt-message-error>
                </div>
                <div class="form-group row">
                    <label>{{'POINTS.MANAGE.GENERAL.AMOUNT' | translate}}</label>
                    <input type="number" class="form-control" formControlName="transactionAmount">
                    <kt-message-error [errorFormGroup]="fAdd" [errorFormControlName]="'transactionAmount'">
                    </kt-message-error>
                </div>
            </div>
        </div>
    </form>

</ng-template>

<!-- confirm delete -->
<ng-template #tmpConfirmDelete>
    <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
    </div>
</ng-template>
<!-- confirm delete -->

<!-- end:: Content -->