.box-check-list .kt-checkbox
{
    margin-bottom: 14px;
}
.box-check-list .kt-portlet__head-title_check{
    padding: 10px 26px 5px !important;
}
.box-check-list .kt-checkbox > span{
    border: 1px solid #d1d7e2 !important;
}
.kt-portlet__head-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 .form-group-device .col-form-label{
     vertical-align: middle;
     cursor: pointer;
     max-width: 192px;
     overflow: hidden;
     text-overflow: ellipsis;
     /* width: 100%; */
     white-space: nowrap;
  }

  .kt-portlet__body{
    margin-bottom: 14px;
    position: relative;
    .blockUI{
        position: absolute;
        top: 13%;
        left: 40%
    }
  }