<div class="alert alert-outline alert-bold fade show" role="alert">
    <div class="alert-icon"><i [ngClass]="icon" [ngStyle]="styleIcon"></i></div>
    <div class="alert-text">{{message| translate}}</div>
</div>

