<!-- begin:: Content -->
<div class="kt-main">
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MENU.TOLL_ROAD' | translate | uppercase}}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="buttonAddNew(content)">
                            <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                            {{'MENU.TOLL_ROAD' | translate | lowercase }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
              
                </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormroadType"
                    (ngSubmit)='searchTollRoad(searchFormroadType)'>

                    <div class="row">
                        <div class="col-xl-2 col-lg-2  col-md-4  col-sm-12">
                          <div class="form-group">
                            <input type="text" class="form-control"
                            placeholder="{{'COMMON.COLUMN.NAME' | translate}} ..."
                            formControlName="name">
                          </div>
                        </div>

                        <div class="col-xl-2 col-lg-2  col-md-4  col-sm-12">
                                <div class="form-group">
                                 
                                        <select #listTypeSearch
                                        class="form-control kt_selectpicker padding-7"                                                         
                                        data-size="5"
                                        name="listType" id="listType" 
                                        title="{{'MANAGE.POI.GENERAL.TYPE_POI'|translate}}"
                                
                                        formControlName="typeSearch"
                                        >
                                        <option value="0">{{'ADMIN.TOLL_ROAD.COLUMN.HIGHWAY' | translate}}</option>
                                        <option value="1">{{'ADMIN.TOLL_ROAD.COLUMN.NATIONAL_ROAD' | translate}}</option>
                                        <option value="2">{{'ADMIN.TOLL_ROAD.COLUMN.PROVINCE_ROAD' | translate}}</option>
                            
                                    </select>
                                </div>
                         </div>

                        <div class="col-xl-2 col-lg-2  col-md-4  col-sm-12">
                                    <div class="form-group">
                                            <select #countrySearch
                                            data-live-search="true" class="form-control kt_selectpicker padding-7"                                                         
                                            data-size="5"
                                            name="listCountry" id="countrySearch" 
                                            title="{{'ADMIN.TOLL_STATION.COLUMN.SELECT_COUNTRY' | translate}}"
                                            formControlName="countryIdSearch"
                                            >
                                        
                                            <option *ngFor='let coutry of listCountry' value="{{coutry.id}}" attr.data-tokens = "{{coutry.textSearch}}">
                                                {{coutry.name}}
                                            </option>
                    
                                        </select>
                                    </div>
                         </div>
               
                        <div class="col-md-12 col-lg-12 col-xl-6 col-sm-12">
                          <div class="form-group">
                            <button type="submit" class="btn btn-outline-info btn-pill">
                              <i class="icon-search"></i>{{'COMMON.SEARCH' | translate}}</button>&nbsp;
                              <button type="button" class="btn btn-outline-brand btn-pill"
                                            (click)="resetFormSearch()">
                                            <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                              </button>&nbsp;
                          </div>
                        </div>
                      </div>
                </form>
            </div>
    
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table kt-datatable__table_report">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                            (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                class="kt-datatable__cell kt-datatable__cell--sort">
                                <a class="kt-datatable__toggle-detail">
                                </a>
                            </th>
    
                            <ng-container *ngFor="let column of dataTable.getColumns()">
    
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody  class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle"  cdkDropList [cdkDropListData]="dataTable.data"  (cdkDropListDropped)="drop($event)" 
                   >
                    
                        <ng-container *ngFor="let item of dataTable.data;let i=index" >
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;" >
                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                          'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td 
                                ngbTooltip="{{item.name}}" 
                                [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                                </td>
    
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[2].style"
                                        translate="{{item.nameKey}}">{{item.keyName | translate}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span 
                                    container='body'
                                    ngbTooltip = "{{item.description}}"
                                    [ngStyle]="dataTable.getColumns()[3].style">{{getNameCountry(item.countryId)}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[4].style">{{item.createdAt | userDate}}</span>
                                </td>
                        
    
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[5].style"
                                        style="overflow: visible; position: relative;">
                                        <!-- <a container="body" ngbTooltip="{{'ADMIN.TRANSPORT_TYPE.GENERAL.DRAG_DROP' | translate }}" class="btn btn-sm btn-clean btn-icon btn-icon-md example-handle" cdkDragHandle >
                                            <i class=" icon-expand-arrows-alt"></i>
                                        </a> -->
                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="editTollRoad(item,content)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="getIdAction(item.id,delete)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow" class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[2].style"
                                                    translate="{{item.nameKey}}">{{item.nameKey}}</span>
                                            </td>
                                        </tr>
    
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                container='body'
                                                ngbTooltip = "{{item.description}}"
                                                [ngStyle]="dataTable.getColumns()[3].style">{{item.description}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[4].style"
                                                    translate="{{item.createdBy}}">{{item.createdByName}}</span>
                                            </td>
                                        </tr>
                                       
    
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[5].style"
                                                    style="overflow: visible; position: relative;">
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="editTransportType(item.id,content)">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="getIdAction(item.id,delete)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                   
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>
    
    
                </table>
    
                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size" data-selected="30"
                                data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}" title="{{item}}"
                                    data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>
    
            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="isEdit">
            {{'ADMIN.TOLL_ROAD.GENERAL.TITLE_FORM_EDIT' | translate}}
        </h5>
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'ADMIN.TOLL_ROAD.GENERAL.TITLE_FORM_ADD' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form [formGroup]="formroadType" (ngSubmit)='onSubmitTollStation(formroadType)' class="form-transport">
        <div class="modal-body div-scrollbar modal-body-TransportType">

            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="show-error">
                        <label class="">{{'ADMIN.PERMISSION.GENERAL.NAME' | translate}} </label>
                        <app-control-messages [control]="f['name']"></app-control-messages>
                        <span class="text-danger"> *</span>
                    </div>
                    <div class="input-group">

                        <input  type="text" class="form-control" placeholder=""
                            formControlName="name">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                    <div class="col-lg-12">
                        <div class="show-error">
                            <label class="">{{'COMMON.COLUMN.TYPE' | translate}}:</label>
                            <app-control-messages [control]="f['type']"></app-control-messages>
                            <span class="text-danger"> *</span>
                        </div>
                        
                        <div class="input-group">
    
                            <select #listType
                            class="form-control kt_selectpicker padding-7"                                                         
                            data-size="5"
                            name="listType" id="listType" 
                            formControlName="type"
                            >
                            <option value="0">{{'ADMIN.TOLL_ROAD.COLUMN.HIGHWAY' | translate}}</option>
                            <option value="1">{{'ADMIN.TOLL_ROAD.COLUMN.NATIONAL_ROAD' | translate}}</option>
                            <option value="2">{{'ADMIN.TOLL_ROAD.COLUMN.PROVINCE_ROAD' | translate}}</option>
                   
                        </select>
                        </div>
                    </div>
                </div>
    

            <div class="form-group row">
                <div class="col-lg-12">
                    <div class="show-error">
                        <label class="">{{'ADMIN.TOLL_STATION.COLUMN.COUNTRY' | translate}} </label>
                        <app-control-messages [control]="f['countryId']"></app-control-messages>
                        <span class="text-danger"> *</span>
                    </div>
                    
                    <div class="input-group">

                        <select #countrySearch
                        data-live-search="true" class="form-control kt_selectpicker padding-7"                                                         
                        data-size="5"
                        name="listCountry" id="countrySearch" 
                       
                        formControlName="countryId"
                        >
                    
                        <option *ngFor='let coutry of listCountry' value="{{coutry.id}}" attr.data-tokens = "{{coutry.textSearch}}">
                            {{coutry.name}}
                        </option>

                    </select>
                    </div>
                </div>
                
            </div>

            <div class="form-group row" *ngIf="isEdit">
                    <div class="col-lg-12">
                        <div class="show-error">
                            <label class="">{{'COMMON.COLUMN.CREATED_DATE' | translate}} </label>
                        </div>
                        <div class="input-group">
    
                            <input type="text" class="form-control"  placeholder=""  formControlName ="createAt">
                        </div>
                    </div>
            </div>

        </div>
        <!--end body modal-->
        <div class="modal-footer">
            <span *ngIf="isPermissionError" class="text-danger error-message-modal">
                {{errorMessage}}
            </span>
            <button *ngIf="!isEdit" type="submit" [disabled]="formroadType.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.ADD' | translate }}
            </button>
            <button *ngIf="isEdit" type="submit" [disabled]="formroadType.invalid" class="btn btn-primary ">
                {{'COMMON.ACTIONS.SAVE_CHANGES' | translate }}
            </button>

            <button type="button" class="btn btn-secondary"
                (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}</button>
            <!-- <button type="button" class="btn btn-outline-danger" data-dismiss='modal'>Close</button> -->
        </div>
    </form>
</ng-template>
<!-- end modal popup -->

<!-- end:: Content -->
<ng-template #delete let-modal>
        <div class="modal-header">
                <h5 class="modal-title">{{'COMMON.ACTIONS.DELETE' | translate }} {{'MENU.TOLL_ROAD' | translate | lowercase }}
                    </h5>

                <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="icon-question-circle"></i>
                {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }} 
            </div>
            <div class="modal-footer">
    
                <button type="button" class="btn btn-primary" (click)="deleteTollRoad()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
                <button type="button" class="btn btn-secondary"(click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
            </div>
      
</ng-template>
    <!--end modal delete user--> 