<!-- Modal -->
<!-- <div>name</div> -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{'MANAGE.DEVICE.SELL.GENERAL.SELL_DEVICE' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <ng-container [ngTemplateOutlet]="templateSellDevice" [ngTemplateOutletContext]="{data:devices}">
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--light kt-spinner--left':isSend}"
            (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>
<ng-template #templateSellDevice let-data="data">
    <div class="row popup-user-tree">
        <div class="content-left" style="max-height: -webkit-fill-available">
            <div class="kt-portlet kt-portlet--mobile  kt-portlet--height-fluid kt-portlet--marginless kt-font-mid">
                <div class="kt-portlet__head kt-portlet__head--sm">
                    <div class="kt-portlet__head-label">
                        <span>{{'MANAGE.DEVICE.SELL.GENERAL.TOTAL_DEVICE' | translate}}:</span>&nbsp;
                        <span style="font-weight: bold" class="kt-font-danger"> {{data.length}}</span>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <span>{{'MANAGE.DEVICE.SELL.GENERAL.SELL_TO' | translate}}:</span>&nbsp;
                        <span style="font-weight: bold" class="kt-font-danger">{{userSelect.name}}</span>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--overflow-y">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="kt-font-600">
                                <tr>
                                    <th style="width: 50px">#</th>
                                    <th width="250">{{'COMMON.COLUMN.IMEI' | translate}}</th>
                                    <th width="150">{{'COMMON.COLUMN.TYPE' | translate}}</th>
                                    <th width="150">{{'COMMON.COLUMN.USERNAME' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let device of data;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{device.imei}}</td>
                                    <td>{{device.typeName}}</td>
                                    <td>{{device.userName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" 
            (changeUser)="changeUser($event)" [style]="{'width':'100%'}">
            </kt-user-tree-new>
        </div>
    </div>
</ng-template>