.chartdiv {
    width: 100%;
    height: 400px;
  }
.box-chart{
  position: relative;
  .loading-chart{
    left: 50%;
    top: 50%;
    position: absolute;
  }
  h5{
    color: #48465b;
    text-align: center;
    padding: 17px 0px 0px;
    font-weight: bold;
  }
}  
.box-chart-status{
    .kt-widget14__legends{
        position: absolute;
        width: 100%;
        bottom: -70px;
        background: #fff;
        padding-top: 16px;
         .kt-widget14__legend{
            // float: left;
            // width: 50%;
            padding: 4px 0px;
        }
    }
}
@media (max-width: 1025px)
{
  .box-chart-status{
    .kt-widget14__legends{
      margin: 0px;
    }}

}
@media (max-width: 580px)
{
  .box-chart-status{
    .kt-widget14__legends{
      bottom: -115px;    }}
 
}