<div class="box-chart-status">
<div class="chartdiv" ></div>
<div class="kt-widget14__legends row">
    <div class="kt-widget14__legend col-sm-6" *ngFor = 'let item of listLable'>
        <span class="kt-widget14__bullet " [ngStyle] = "item.style"></span>
        <span class="kt-widget14__stats">{{item.title | translate}} ({{item.value}})</span>
    </div>
   
</div>	