.chartdiv {
  width: 100%;
  height: 400px;
}
.box-chart{
padding-top: 25px;
margin-bottom:20px;
position: relative;
.loading-chart{
  left: 50%;
  top: 50%;
  position: absolute;
}
h5{
  color: #48465b;
  text-align: center;
  padding: 17px 0px 0px;
  font-weight: bold;
}
}  
.fuel-change{
  padding-left: 66px;
display: flex;
position: absolute;
// left: 40%;
bottom: -19px;
li{
  // display: flex;
  margin-right: 30px;
  text-align: center;
  list-style: none;
}
}
@media (max-width: 768px) {
  .fuel-change{
      display: none;
  }
}
.table thead th{
  text-align: center !important;
  font-weight: bold;
  font-size: 14px;
}
.tr-table-summary td{
  text-align: center;
}
.summary-fuelChange{
  overflow:auto;
  padding-top:0px !important;
  h5{
      padding-top:0px
  }
}
.label-chartAxis{
  position: absolute;
  top: 30px;
  left: 26px;
  font-weight: bold;
  color: #48465b;
  font-size: 13px;
}