<div class="box-chart" *ngFor="let chart of listChart">
    <!-- <h5>{{chart.name | uppercase}}</h5> -->
    <div class="label-chartAxis">
            <span>{{chart.name | uppercase}}</span> ({{chart.parameters.unit}})
    </div>
    <div class="chartdiv" id="chartdiv{{chart.id}}"></div>
     <!--end: Datatable -->
    <div *ngIf="isLoading" class="blockUI blockMsg blockElement"
        style="z-index: 1011; position: fixed; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
        <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
            </span>
        </div>
    </div>
    <!-- <div class="loading-chart " [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--center kt-spinner--brand':isLoading}"></div> -->
    <!-- <div class="fuel-change" *ngIf="showChangeFuel">
        <li *ngFor = "let item of listChangeFuel">
            <p *ngIf = "item.add"><span style="color:#0abb87">+{{item.totalOffset}}</span></p>
            <p  *ngIf = "!item.add"><span  style="color:#fd397a">-{{item.totalOffset}}</span></p>
            <p>( {{item.startTime| userDateAdv: 'HH:mm:ss'}} - {{item.endTime| userDateAdv: 'HH:mm:ss'}} )</p>
        </li>
       
    </div> -->
    <div class="kt-padding-20 summary-fuel">
            <h5 style="text-align: left;">{{'REPORT.FUEL.CHART.SUMMARY'| translate}}</h5>
            <table class="table table-bordered table-fuel" style="width:500px">
                    <thead>
                        <th>
                            <span>{{'REPORT.FUEL.CHART.FUEL_START'| translate}}</span>
                        </th>
                        <th>
                            <span>{{'REPORT.FUEL.GENERAL.ADD'| translate}}</span>
                        </th>
                        <th>
                                <span>{{'REPORT.FUEL.GENERAL.REMOVE'| translate}}</span>
                        </th>
                        <th>
                                <span>{{'REPORT.FUEL.CHART.CONSUME'| translate}}</span>
                        </th>
                        <th>
                            <span>{{'REPORT.FUEL.CHART.FUEL_END'| translate}}</span>
                        </th>
                    </thead>
                    <tbody>
                     
                        <tr *ngFor="let itemSummary of listSummary" class="tr-table-summary">
                            <td>{{itemSummary.fuelStart}}</td>
                            <td>{{itemSummary.totalAdd}}</td>
                            <td>{{itemSummary.totalRemove}}</td>
                            <td>{{itemSummary.consume}}</td>
                            <td>{{itemSummary.fuelEnd}}</td>
                 
                        </tr>
                    </tbody>
                </table>
                
    </div>
    <div  class="kt-padding-20 summary-fuelChange">
            <h5 style="text-align: left;">{{'REPORT.FUEL.CHART.HISTORY'| translate}}</h5>
            <table class="table table-bordered table-fuel" style="width:1400px;overflow: auto;">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle;" rowspan="2"><span>#</span></th>                    
                            <th colspan="3"><span>{{'REPORT.FUEL.CHART.START'|translate}}</span></th>                      
                            <th colspan="3"><span>{{'REPORT.FUEL.CHART.END'|translate}}</span></th>
                            <th style="vertical-align: middle;" rowspan="2"><span>{{'REPORT.FUEL.CHART.CHANGE'|translate}}</span></th>                    
                        </tr>
                        <tr>
                             <th><span>{{'MANAGE.ALERT_RULE.NOTIFICATION.TIME'|translate}}</span></th>
                             <th><span>{{'COMMON.COLUMN.ADDRESS'| translate}}</span></th>   
                             <th><span>{{'REPORT.FUEL.GENERAL.REPORT_FUEL'| translate}}</span></th> 
                             <th><span>{{'MANAGE.ALERT_RULE.NOTIFICATION.TIME'|translate}}</span></th>
                             <th><span>{{'COMMON.COLUMN.ADDRESS'| translate}}</span></th> 
                             <th><span>{{'REPORT.FUEL.GENERAL.REPORT_FUEL'| translate}}</span></th> 

                        </tr>
                        
                    </thead>
                    <tbody>
                     
                        <tr *ngFor = "let item of listChangeFuel;let i = index">
                            <td>{{i+1}}</td>
                            <td style="text-align: center;">{{item.startTime | userDateAdv:'datetime'}}</td>
                            <td>{{item.address}}</td>
                            <td style="text-align: center;">{{item.startVolume}}</td>
                            <td style="text-align: center;">{{item.endTime | userDateAdv:'datetime'}}</td>                       
                            <td>{{item.address}}</td>
                            <td style="text-align: center;">{{item.endVolume}}</td>
                            <td *ngIf="item.add" style="text-align: center;font-weight: bold;color: #0abb87;">+{{item.totalOffset}}</td>
                            <td *ngIf="!item.add" style="text-align: center;font-weight: bold;color: #fd397a;">{{item.totalOffset}}</td>

                        </tr>
                    </tbody>
                </table>
                
    </div>
</div>
<div class="chartdiv" *ngIf="listChart.length == 0"></div>


