<button _ngcontent-qes-c30="" #btn class="btn btn-icon btn-sm btn-circle showBtn" (click)="toggle()" ngbTooltip="{{'MAP.STATUS.HINT' | translate}}" container="body" placement="right">
	<span style="font-weight: bold; font-size: 1rem;" [style.color]="mapConfig.features.colorHint.value?'#5867dd':''"><i class="icon-info ic-xs"></i></span> </button>
<div class="kt-portlet color-hint-container" #container>
	<div class="kt-portlet__body">
		<div class="kt-widget14 no-padding">
			<div class="kt-widget14__legends d-flex no-padding" #content>
				<div class="kt-widget14__legend  no-padding ml-2" *ngFor='let item of listStatus'>
					<span class="circle" [ngStyle]="item.style"></span>
					<span class="kt-widget14__stats">{{item.title | translate}}</span>
				</div>
			</div>
        </div>
   <div _ngcontent-qes-c30="" class="close d-flex align-items-center justify-content-center" (click)="toggle()"><i _ngcontent-qes-c30="" class="icon-angle-left"></i></div>
	</div>
</div>
