.color-hint-container {
	margin-bottom: 0 !important;
	margin-left: 20px;
	margin-top: 5px;
	transition: all 0.4s;
	position: relative;
	width: 0px;
	overflow: hidden;
	background: #ffffffeb !important;
	z-index: 2;
	border-top-right-radius: 17px;
	border-bottom-right-radius: 17px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	.no-padding {
		padding: 0 !important;
	}
	.circle {
		width: 14px;
		height: 14px;
		border-radius: 50%;
	}
	.kt-portlet__body {
		padding: 0.25rem;
		padding-right: 20px;
		padding-left: 15px;
		color: #384045;
		font-weight: 600;
	}
	.kt-widget14__legends {
		height: 2rem;
		overflow: hidden;
		.kt-widget14__stats {
			font-weight: bold;
			width: max-content;
			padding-left: 0.5rem;
		}
	}
	.kt-widget14__legends:hover{
		overflow-x: overlay;
	}
	.kt-portlet__body::-webkit-scrollbar {
		display: none;
	}
	// .kt-widget14__legends:hover ::-webkit-scrollbar {
	// 	display: block;
	// }
	.close {
		position: absolute;
		top: calc(50% - 10px);
		right: 5px;
		width: 20px;
		height: 20px;
		font-size: 12px;
		cursor: pointer;
	}
}

.showBtn {
	background: white;
	animation: zoomIn 0.4s;
	position: absolute;
	border: 1px solid #dcdee0;
	z-index: 3;
}
