/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/global/vendors.bundle.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "~angular-tree-component/dist/angular-tree-component.css";
@import "./src/app/core/_base/scss/animation.scss";
// hide bootstrap dropdown arrow globally
// .dropdown-toggle::after {
// 	display: none !important;
// }

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}
.toast-container {
	font-size: 1rem;
}
.showBtn {
	background: white !important;
	animation: zoomIn 0.4s;
	position: relative;
	border: 1px solid #dcdee0;
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid #dcdee0 !important;
	z-index: 3;
}
.showBtn:hover {
	background: rgb(241, 239, 239) !important;
}
.no-border {
	border: 1px solid #fff !important;
}
.polyline-popup {
	width: max-content;
	font-weight: bold;
	color: black;
}
@media only screen and (min-width: 1025px) {
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon{
	flex: none !important;
}
}

.mat-chip-list-wrapper{
	height: 40px !important;
}