// .kt-datatable__body_overlow_y{
//     overflow: auto;
//     max-height: calc(100vh - 460px);
//   }
//   @media (max-width: 1400px) {

//     .kt-main_report .kt_datatable {
//       min-height: calc(100vh - 290px) !important;
//     }
//   }