<!-- begin:: Content -->
<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" [allowCollapse]="true" [btnClose]="true" (changeUser)="ChangeUserTree($event)">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="max-width: 100%;overflow: auto;">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <kt-breadcrumb title="{{'REPORT.DATA_LOG.GENERAL.DATA_LOG' | translate}}" [data]="parentBread">
                    </kt-breadcrumb>
                </h3>
            </div>

        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormRoute" (ngSubmit)='searchRoute(searchFormRoute)'>
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="row align-items-center">
                                <div style="padding:0px 10px;" class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <div class="form-group">
                                        <kt-date-range-picker #datePicker [options]="datePickerOptions"
                                            (dateChange)="dateSelectChange($event)">
                                        </kt-date-range-picker>
                                    </div>
                                </div>
                                <div class="search-device" class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                                    <div class="form-group">
                                        <select [(ngModel)]="deviceId" data-live-search="true"
                                            class="form-control kt_selectpicker padding-7" formControlName="deviceId"
                                            data-size="5" name="days" id="days" #days
                                            data-title=" {{'REPORT.ROUTE.GENERAL.CHOISE_DEVICE' | translate}}"
                                            (change)="onChangeDevice($event.target.value)">
                                            <!-- <option value="">
                                                {{'REPORT.ROUTE.GENERAL.CHOISE_DEVICE' | translate}}
                                            </option> -->
                                            <option *ngFor='let device of listDevices' value="{{device.id}}">
                                                {{device.name}}
                                            </option>

                                        </select>
                                    </div>
                                </div>

                                <div style="padding-left:10px" class="col-xl-3 col-lg-4  col-md-6  col-sm-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-brand btn-pill">
                                            <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                                        </button>&nbsp;
                                        <button type="button" class="btn btn-outline-brand btn-pill 11"
                                            (click)="resetFormSearch()">
                                            <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                                        </button>&nbsp;
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <!--end: Search Form -->
            <!-- begin: Feature -->
            <div class="kt-form kt-fork--label-right kt-padding-l-10 kt-padding-r-10">
                <div class="form-group row" style="margin: 0px !important;">

                    <div class="col-md-12 export-file">
                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                        <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_EXCEL' | translate}}"
                            (click)="exportFile({type:'xlsx'})" type="button" container="body"
                            class="btn btn-circle btn-icon btn-sm button-excel"
                            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':isdownLoad}"
                            id="dropdownMenuButton" placement="top" aria-expanded="false">
                            <i class="icon-file-excel1"></i>
                        </button>
                        <span>&nbsp;&nbsp;</span>
                        <!-- <button ngbTooltip="{{'COMMON.GENERAL.EXPORT_PDF' | translate}}" (click)="exportPDF()"
                            type="button" container="body"
                            [ngClass]="isdownLoadPDF?'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--brand kt-spinner-download':''"
                            class="btn btn-circle btn-icon btn-sm button-pdf" id="dropdownMenuButton" placement="top"
                            aria-expanded="false">
                            <i class="icon-file-pdf1"></i>
                        </button> -->

                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed">

                        </div>
                        <!-- <div class="kt-separator"></div> -->
                    </div>
                </div>
            </div>
            <!-- end: Feature -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table" [ngStyle]="{'overflow':(dataTable.isResponsive?'':'auto')}"
                    style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->
                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style"
                                        ngbTooltip="{{column.translate | translate}}{{column.field == 'speed'?'(km/h)':''}}"
                                        container="body">
                                        {{column.translate | translate}}{{column.field == 'speed'?"(km/h)":""}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                             <!-- render title base  -->
                             <ng-container *ngFor="let basic of deviceTemplate?.basicTemplate ">
                                <th class="kt-datatable__cell kt-datatable__cell--sort">
                                    <span style="width: 100px;" ngbTooltip="{{basic.name}}"
                                        container="body">
                                        {{basic.name}}
                                    </span>
                                </th>
                            </ng-container>

                            <!-- render title sensor -->
                            <ng-container *ngFor="let sensor of deviceTemplate?.sensors ">
                                <th class="kt-datatable__cell kt-datatable__cell--sort">
                                    <span style="width: 100px;" ngbTooltip="{{sensor.name}}({{sensor.unit}})"
                                        container="body">
                                        {{sensor.name}}({{sensor.unit}})
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle"
                        [ngStyle]="{'overflow':(dataTable.isResponsive?'':'unset!important')}" id="chartDataLog"
                        style="">
                        <ng-container *ngFor="let day of dataTable.data">
                            <tr class="kt-datatable__row " style="left: 0px;">
                                <td style="background: #ccc;" class="kt-datatable__cell">
                                    <span [ngStyle]="styleDay">
                                        {{day.timeFrom | userDateAdv:'YYYY/MM/DD'}}
                                    </span>
                                </td>
                            </tr>
                            <ng-container *ngFor="let item of day.points;let i=index">
                                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                    class="kt-datatable__row " style="left: 0px;" (click)="addPoint(item)"
                                    id="{{'chartDataLog_'+i}}">

                                    <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                        <span
                                            [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('timeDevice').isShow?'none':'')}" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('timeDevice').style"
                                            ngbTooltip="{{item.time | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}"
                                            container="body">{{item.time | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('updateTime').isShow?'none':'')}" class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('updateTime').style"
                                            ngbTooltip="{{item.updatetimeUTC | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}"
                                            container="body">{{item.updatetimeUTC | userDateAdv:'YYYY/MM/DD HH:mm:ss'}}</span>
                                    </td>

                                    <td [ngStyle]="{'display':(!dataTable.getColumn('latLng').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('latLng').style"
                                            ngbTooltip="{{item.lat | number:'1.0-6'}}, {{item.lng | number:'1.0-6'}}"
                                            container="body">{{item.lat | number:'1.0-6'}},
                                            {{item.lng | number:'1.0-6'}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('address').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('latLng').style"
                                        ngbTooltip="{{item.address}}"
                                        container="body">{{item.address}},
                                        </span>
                                </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('gsm').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('gsm').style"
                                            ngbTooltip="{{item.gsm | number}}"
                                            container="body">{{item.gsm | number}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('gps').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('gps').style"
                                            ngbTooltip="{{item.gps | number}}"
                                            container="body">{{item.gps | number}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('powerVoltage').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('powerVoltage').style"
                                            ngbTooltip="{{item.powerVoltage | number:'1.0-2'}}V"
                                            container="body">{{item.powerVoltage | number:'1.0-2'}}V</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('battery').isShow?'none':'')}"
                                        class="kt-datatable__cell">
                                        <span [ngStyle]="dataTable.getColumn('battery').style"
                                            ngbTooltip="{{item.batteryStr}}"
                                            container="body">{{item.batteryStr}}</span>
                                    </td>
                                    <td [ngStyle]="{'display':(!dataTable.getColumn('speed').isShow?'none':'')}"
                                        data-field="speed" class="kt-datatable__cell">
                                        <span
                                            [ngStyle]="dataTable.getColumn('speed').style">{{ item.speed || 0 | number:'1.0-0' }}</span>
                                    </td>
                                    <!-- base value -->
                                    <ng-container *ngFor="let base of item.base ">
                                        <td class="kt-datatable__cell">
                                            <span style="width: 100px;">{{base.value}}</span>
                                        </td>
                                    </ng-container>
                                    <!-- sensors value -->
                                    <ng-container *ngFor="let sensor of item.sensors ">
                                        <td class="kt-datatable__cell">
                                            <span style="width: 100px;">{{sensor.value}}</span>
                                        </td>
                                    </ng-container>
                                </tr>
                                <!-- Sub row -->

                                <!-- end sub row -->
                            </ng-container>
                        </ng-container>

                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>
                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>



            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Content -->