<button _ngcontent-qes-c30="" class="btn btn-icon btn-sm btn-circle showBtn" (click)="calculate()" ngbTooltip="{{'MAP.FEATURES.DISTANCE_TITLE' | translate}}" container="body" placement="right">
	<i class="icon-ruler" [style.color]="isOnRunning?'#5867dd':''"></i>
</button>

<div class="info-block" *ngIf="isOnRunning">
	<p class="distance-title">{{'MAP.FEATURES.DISTANCE_TITLE' | translate}}</p>
	<p class="distance-guide">{{'MAP.FEATURES.DISTANCE_GUIDE' | translate}}</p>
	<p class="distance-total">{{('MAP.FEATURES.DISTANCE_TOTAL' | translate ) + ': ' + distance }}</p>
	<span (click)="calculate()" class="distance-close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<g fill="none" fill-rule="evenodd">
				<path fill="#797F82" fill-rule="nonzero" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
			</g>
		</svg></span>
</div>
