.info-block {
	position: fixed;
	bottom: 7px;
	background: #fff;
	padding: 16px 24px;
	border-radius: 3px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
	min-width: 290px;
	z-index: 999;
	.distance-title,
	.distance-total {
		font-weight: bold;
	}
	.distance-guide {
		font-size: 12px;
	}
	.distance-close {
		position: absolute;
		right: 8px;
		top: 8px;
		opacity: 0.7;
		transition: opacity 0.3s ease;
		cursor: pointer;
	}
}
