.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    display: table;
    width: 100%;
    table-layout: inherit;
    padding: 10px 20px;
  } 
  .btn-custom{
    height: 1.4rem !important;
    width: 1.4rem !important;
    /* position: absolute !important; */
    top: 0 !important;
    transform: translateY(calc(50% - 10px)) !important;
    cursor: pointer;
    right: 10px;
    border-radius: 100%;
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .kt-datatable__body.cdk-drop-list-dragging .kt-datatable__row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .example-handle {
    cursor: move;

  }
  .kt-datatable__table_report, .kt-datatable__pager{
    min-width: 1460px  !important;
    }
   
 .button-add-new{
      text-align: right;
    }   
    @media(max-width:768px){
      .content-price-list{
        overflow: auto;
        height: 556px;
      }
      .button-add-new{
        text-align: left !important;
        margin-bottom: 20px;
      }
    }  
    #kt_repeater_1{
      overflow: auto;
      max-height: 400px;
      table{
        min-width: 700px;
      }
    }
    .table-station {
      th{
        font-weight: bold;
        text-align: center;
      }
      .input-advand{
        border: none;
        padding: 10px;
      }
    }  

    .currency-unit{
      font-weight: bold;
      font-size: 14px;
      color: #48465b; 
    }
  .tab-title-modal{
    padding: 20px;
    padding-bottom: 0px;
    ul{
      margin-bottom: 0px !important;
    }
  }  
  .modal-body-TransportType{
    max-height: calc(100vh - 341px) !important;
  }
  .box-currency{
    padding: 20px 20px 10px;
  }
  .list-tollStation{
    border-radius: 4px;
    word-break: break-all;
    background-color: #FFF;
    // border: 1px solid #e5e5e5;
    width: 100%;
    .item-tollStation{
      &:first-child{
        margin-left: 0px !important;
      }
      &:hover b{
        display: block;
      }
      border: 1px solid #ccc;
      display: inline-block;
      // max-width: 200px;
      height: 40px;
      line-height: 25px;
      border-radius: 4px;
      padding: 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
      padding-right: 23px;
      top: 4px;
      padding-left: 21px;
      padding-top: 9px;
      margin-bottom: 10px;
    margin-right: 11px;
      b.drag_div{
        
        transform: rotate(-90deg);
        height: 16px;
        width: 13px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        cursor: move;
        i{
          font-size: 10px;
        }
      }
      b{
        
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 0;
        height: 25px;
        line-height: 25px;
        width: 15px;
        top: 0;
        i{
          color: #74788d;
          font-size: 12px;
        }
        display: none;
      }
    }
    
  }
  .next-toll{
    position: absolute;
    padding-top: 15px;
    vertical-align: middle;
    padding-right: 9px;
  }