<div class="tracking-route" (resize)="onResize($event.contentRect)" id="route">
	<!-- item-content filter -->
	<div class="item-content filter" id="routeFilter">
		<kt-date-range-picker #datePicker [options]="datePickerOptions" (dateChange)="dateRouteChange($event)">
		</kt-date-range-picker>
		&nbsp;
		<button type="button" [ngClass]="{'disabled':!allowPrevious}" class="btn btn-sm btn-outline-info  btn-icon  btn-circle " (click)="previousDate()">
			<i class="icon-arrow-left"></i>
		</button>
		&nbsp;
		<button type="button" [ngClass]="{'disabled':!allowNext}" class="btn btn-sm btn-outline-info  btn-icon  btn-circle" (click)="nextDate()">
			<i class="icon-arrow-right"></i>
		</button>

		<div class="btn-group btn-download">
			<a href="#" class="btn btn-outline-info btn-pill btn-sm btn-icon btn-bold " data-toggle="dropdown" style="border-radius: 100%!important;">
				<i class="icon-file-export"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
				<ul class="kt-nav">
					<li class="kt-nav__item">
						<a class="kt-nav__link button-excel" style="border: unset;" (click)="exportFile('xlsx')">
							<i class="icon-file-excel1 ic-lg"></i>&nbsp;&nbsp;
							<span class="kt-nav__link-text"> XLSX</span>
						</a>
					</li>
					<li class="kt-nav__item">
						<a class="kt-nav__link button-pdf" style="border: unset;" (click)="exportFile('pdf')">
							<i class="icon-file-pdf1 ic-lg"></i>&nbsp;&nbsp;
							<span class="kt-nav__link-text"> PDF</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- item-content list-route -->

	<div class="item-content list-route" id="listRoute" [ngClass]="{'kt-spinner kt-spinner--lg kt-spinner--brand kt-spinner--center':routeLoading}">
		<ng-container *ngFor="let day of routeData;let dayIndex=index">
			<div class="kt-timeline-title">{{day.timeFrom | userDate:'date'}}</div>
			<div *ngIf="day.routes.length==0 && !routeLoading" class="kt-mt-10">
				<kt-not-found [size]="'sm'"></kt-not-found>
			</div>
			<div class="kt-timeline-v2">

				<div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
					<ng-container *ngFor="let item of day.routes; let i = index">
						<div class="kt-timeline-v2__item" id="{{(item.start.time == timeItemSelect?timeItemSelect:'')}}" [ngClass]="{'active':item.start.time == timeItemSelect}" (click)="selectTime(item)" (click)="selectItem(item)">
							<span class="kt-timeline-v2__item-time">{{item.start.time | userDateAdv:'HH:mm' }}</span>

							<div class="kt-timeline-v2__item-cricle">
								<span class="order" [ngClass]="{'run':item.type=='route','stop':item.type=='stop','lost-signal':item.type=='lost'}">{{item.index || ''}}</span>
							</div>
							<div class="kt-timeline-v2__item-text  kt-padding-top-5">
								<div *ngIf="item.type=='stop'" class="kt-timeline-v2__item-title">
									<span class="text" [ngClass]="{'kt-spinner kt-spinner--sm kt-spinner--brand':item.start.addressLoading}" [ngStyle]="{'min-width':(item.start.addressLoading?'20px':'0px')}">{{item.start.address}}{{(item.start.addressLoading?'&nbsp;':'')}}</span>
								</div>
								<div *ngIf="item.type=='lost'" class="kt-timeline-v2__item-title">
									<span class="text">{{'COMMON.LIST_DEVICE.LOST_SIGNAL' | translate}}</span>
								</div>
								<div *ngIf="item.type=='route'" class="kt-timeline-v2__item-title">
									{{item.distance | number:'1.0-2' || 0}} km
								</div>
								<div class="kt-timeline-v2__item-desc">
									<div class="duration">
										<i class="icon-clock"></i>
										{{item.start.time | userDateAdv:'fromNowDateTimeShort':{valueOffset:0,now:item.end.time, nowOffset:0} }}
									</div>
									<div class="time">{{item.start.time | userDateAdv:'HH:mm' }} -
										{{item.end.time | userDateAdv:'HH:mm' }}</div>
								</div>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</ng-container>
	</div>
	<!-- item-content summary -->
	<div class="item-content summary" *ngIf="isShow('tracking.route.summary',true)" (resize)="onResize($event.contentRect)" id="routeSummary">
		<div class="accordion  accordion-toggle-arrow" id="accordionExample4">
			<div class="card">
				<div class="card-header" id="headingOne4">
					<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne4" aria-expanded="false" aria-controls="collapseOne4">
						{{'MAP.TRACKING.ROUTE.SUMMARY' | translate}}
					</div>
				</div>
				<div id="collapseOne4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample4">
					<div class="card-body">
						<div class="car-details-list">
							<div class="unit-additional-wrap" *ngIf="isShow('tracking.route.summary.driving')">
								<span class="unit-additional">{{'MAP.TRACKING.ROUTE.DRIVING' | translate}}:</span>
								<span class="unit-additional value">
									{{summary.driving==0?"0":(1573871659 | userDateAdv:'fromNowDateTimeShort':{valueOffset:0,now:(1573871659+summary.driving), nowOffset:0}) }}</span>
							</div>
							<div class="unit-additional-wrap" *ngIf="isShow('tracking.route.summary.stop')">
								<span class="unit-additional">{{'MAP.TRACKING.ROUTE.STOP' | translate}}:</span>
								<span class="unit-additional value">{{summary.stop==0?"0":(1573871659 | userDateAdv:'fromNowDateTimeShort':{valueOffset:0,now:(1573871659+summary.stop), nowOffset:0}) }}</span>
							</div>
							<div class="unit-additional-wrap" *ngIf="isShow('tracking.route.summary.distance')">
								<span class="unit-additional">{{'MAP.TRACKING.ROUTE.DISTANCE' | translate}}:</span>
								<span class="unit-additional value">{{summary.distance | number:'1.0-2'}} km</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
