.tracking-route {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-height: 100%;
	justify-content: space-between;

	.item-content {
		border-bottom: 1px solid #dcdee0;
	}

	.filter {
		// height: 60px;
		padding: 10px 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		position: relative;

		.btn-search {
			margin-left: 10px;
		}

		.btn-download {
			position: absolute;
			right: 10px;
		}

		// background: yellow;
	}

	// list-route
	.list-route {
		background: #fff;
		// height: 999px;
		// max-height: calc(100% - 160px);
		overflow: auto;
		// padding: 10px 10px;
		flex: 1;
	}

	// summary
	.summary {
		// height: 100px;
		color: #74788d;

		.card-title {
			font-weight: bold;
			color: #74788d !important;
			padding: 10px 15px;

			&:after {
				content: "\f110";
			}

			&.collapsed:after {
				content: "\f113";
			}
		}

		.unit-additional-wrap {
			display: flex;
			flex-direction: row;

			.unit-additional {
				width: 50%;

				&.value {
					font-weight: bold;
				}
			}
		}
	}
}

.kt-timeline-title {
	padding: 5px;
	border-bottom: 1px solid #c9c9c9;
	font-size: 1rem;
	font-weight: bold;
	background: #edebf0;
}

.kt-timeline-v2 {
	&::before {
		left: 4.25rem;
		top: 10px;
		height: calc(100% - 25px);
	}

	.kt-timeline-v2__item {
		margin-bottom: 0px;
		padding: 2px 5px;

		&:hover,
		&.active {
			background: #5576e947;
			cursor: pointer;
		}

		.order {
			padding: 2px 0px;
			font-weight: bold;
			border-radius: 20px;
			position: absolute;
			top: -0.9rem;
			left: -0.9rem;
			text-align: center;
			min-width: 22px;
			min-height: 22px;
			color: white;
			font-size: 12px;

			&.run {
				min-width: 15px;
				min-height: 15px;
				top: -0.6rem;
				left: -0.6rem;
				border: 0.3rem solid #65b201;
				background: #fff;
			}

			&.lost-signal {
				min-width: 15px;
				min-height: 15px;
				top: -0.6rem;
				left: -0.6rem;
				border: 0.3rem solid #1f292f;
				background: #fff;
			}

			&.stop {
				background: #ea5128;
			}
		}

		.kt-timeline-v2__item-time {
			font-size: 1rem;
			font-weight: bold;
		}

		.kt-timeline-v2__item-cricle {
			left: 3.75rem;
			top: 0.7rem;
			border: 0.3rem solid white;
		}

		.kt-timeline-v2__item-text {
			padding: 0.15rem 0 0 4.6rem;
			width: 100%;

			.kt-timeline-v2__item-title {
				display: -webkit-box;
				margin: 0 auto;
				max-height: 40px;
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: 100%;
				font-size: 13px;
				line-height: 1.6rem;
				-webkit-line-clamp: 2;
				font-weight: bold;
			}

			.kt-timeline-v2__item-desc {
				font-size: 13px;
				padding: 5px 0px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding-right: 10px;
			}
		}
	}
}
