<div class="kt-main">
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px;">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'REPORT.REPORTS.GENERAL.REPORTS' | translate | uppercase}}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button type="button" class="btn btn-brand btn-icon-sm btn-pill"
                        routerLink="/manage/report-schedule" aria-expanded="false">
                        {{'REPORT.REPORTS.GENERAL.SCHEDULE' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y ">
            <div cdkDropList cdkDropListOrientation="horizontal" id="sortable" (cdkDropListDropped)="drop($event)">
                <div class="row" style="overflow: hidden; margin:0px 0px;padding: 10px 0px;">
                    <ng-container *ngFor="let item of listReportFavorite">
                        <div class="col-xl-2 col-lg-4 col-md-4 listReports" *ngxPermissionsOnly="item.permission"
                            cdkDrag>
                            <div class="box-content">
                                <a style="cursor: pointer;" (click)="openModalDelete(item.translate,delete)"
                                    class="close_div" title="Delete report">
                                    <i class="flaticon2-delete"></i>
                                </a>
                                <a routerLink="{{item.page}}" class="report_fet_box draggable">
                                    <p>
                                        <!-- <img src="{{item.imgUrl}}" height="30" width="30" alt=""> -->
                                        <i class="{{item.icon}}"></i>
                                    </p>
                                    <span class="title">
                                        {{item.translate | translate}}
                                    </span>

                                </a>
                                <div class="drag_div" cdkDragHandle>
                                    <i class="ic-move icon-arrows-alt ic-sm"></i>
                                    <!-- <img src="./assets/img/drag.png"> -->
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-xl-2 col-lg-4 col-md-4">
                        <div class="box-content add-reports" (click)="addReport(content)">
                            <a>
                                <p><i class="flaticon2-plus kt-font-primary"></i></p>
                                <span class="kt-font-primary">{{'REPORT.REPORTS.GENERAL.ADD_REPORT' | translate}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal popup -->
<ng-template #content let-modal>
    <div class="modal-header ">
        <h5 class="modal-title">
            {{'REPORT.REPORTS.GENERAL.ADD_REPORT' | translate}}
        </h5>

        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <form [formGroup]="addReportForm" (ngSubmit)='onSubmitReport(addReportForm)' class="form-transport">
        <div class="form-group row box-add-report">
            <div class="col-sm-10 col-lg-10">
                <select data-live-search="true" class="form-control kt_selectpicker padding-7"
                    formControlName="itemReport" title="{{'REPORT.REPORTS.GENERAL.CHOISE_REPORT' | translate}}"
                    multiple>
                    <ng-container *ngFor='let item of listReportsNoFavorite'>
                        <option value="{{item.translate}}" *ngxPermissionsOnly="item.permission">
                            {{item.translate | translate}}
                        </option>
                    </ng-container>
                </select>
            </div>
            <div class="col-sm-2 col-lg-2">
                <button type="submit" class="btn btn-primary"> {{'COMMON.ACTIONS.ADD' | translate }}
                </button>
            </div>
        </div>

        <!--end body modal-->

    </form>
</ng-template>
<!-- end modal popup -->

<!-- modal delete user -->
<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'REPORT.REPORTS.GENERAL.REMOVE_REPORT' | translate}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <i class="fa fa-question-circle"></i>
        {{'REPORT.REPORTS.MESSAGE.MESSAGE_REMOVE' | translate}}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="deleteReport()">{{'REPORT.REPORTS.GENERAL.HIDE_REPORT' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>
</ng-template>
<!--end modal delete user-->