.reports #sortable {
    list-style: none;
}

.listReports {
    background: rgb(255, 255, 255);
    // cursor: move;
    margin-bottom: 20px;
}

;

.listReports i {
    font-size: 20px;
}

a.report_fet_box {
    p {
        height: 27px;
    }

    color: #666;
    z-index: 0;
    font-size: 14px;
    padding: -1px 34px;
    padding: 0px 30px 11px 30px;
    overflow: hidden;
    display: block;
}

a.report_fet_box span {
    display: block;
    margin-top: 0px;

    // vertical-align: middle;
    i {
        margin-right: 4px;
        font-size: 20px;
    }
}

// .drag_div {
//     // height: 25px;
//     // width: 25px;
    
// }

.listReports{
    .ic-move,.close_div{
        display: none;
    }
    &:hover{
        .ic-move,.close_div{
            display: block;
        }
    }
}
.box-content {
    border: 1px solid rgb(220, 222, 224);
    padding: 22px 0px;
    text-align: center;
    position: relative;
    height: 90px;
    .drag_div{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        cursor: move;
        padding: 5px;
    }
    
}

.close_div {
    cursor: pointer;
    height: 11px;
    width: 11px;
    position: absolute;
    top: 3px;
    right: 6px;
    z-index: 1;

    i {
        font-size: 10px;
    }
}

.add-reports {
    padding: 22px;
    cursor: pointer;

    a {
        font-size: 16px;
        color: #666;

        i {
            font-size: 15px;
        }

        span {
            // font-weight: bold;
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box-add-report {
    margin: 29px auto 66px;
    padding: 0px 34px 15px;
}

.kt-portlet__body__reports {
    height: calc(100vh - 145px);
}