<!-- begin:: Content -->

<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile"
        style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [eventUpdate]="parrentEmiter" [cacheSearch]="true"
            [storeLocal]="true" [showCountDevice]="true" (changeUser)="userTreeChangeUser($event)" [allowCollapse]="true"  [btnClose]="true">
        </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main" style="margin: 10px">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="icon-setting"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{'MENU.MANAGER_POI' | translate | uppercase }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm btn-pill" (click)="open(content,'add')">
                            <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                            {{'MANAGE.POI.GENERAL.NAME' | translate}}
                            <span class="map-icon map-icon-liquor-store"></span>

                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y" style="height: 100%;">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20" id="formSearch"
                (keyup.enter)="dataTable.search()">
                <div class=" row">
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                        <div class="form-group">
                            <input id="namePoi" type="text" class="form-control" data-key="name"
                                placeholder="{{'MANAGE.GEOFENCE.GENERAL.NAME' | translate}}">
                        </div>

                    </div>
                    <div class="col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <div class="form-group">
                                    <select
                                    container = "body"
                                    data-key="poiType"
                                    id="listPoiType"
                                    class="form-control">
                                        <option value="">
                                            {{'MANAGE.POI.GENERAL.TYPE_POI' | translate}}
                                        </option>
                                        <ng-container  *ngFor='let poi of listTypePoi'>
                                                
                                                <option
                                            attr.data-content='<i  style="text-align:center;width:25px;padding-bottom: 3px; color:{{poi.fillColor?poi.fillColor:"#5d78ff"}}" class="{{poi.iconClass}}"/></i>{{poi.name | translate}} '
                                            value="{{poi.id}}">
                                        </option>
                                        </ng-container>
                                   </select>
                            </div>
    
                        </div>
                    <div class="col-md-12 col-lg-6 col-xl-6 col-sm-12">
                        <div class="form-group form-group--mobile">
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="search()">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->

            <!--begin: Datatable -->
            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded "
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table kt-datatable__table_report" style="display: block;" id="dataTable">
                    <!-- Header -->
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- subRow -->
                            <th *ngIf="dataTable.isShowSubRow"
                                class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                                <span></span>
                            </th>
                            <!-- end subRow -->

                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                        <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                            [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->

                            <ng-container *ngFor="let column of dataTable.getColumns()">
                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">
                                        {{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <!-- table body -->
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                                class="kt-datatable__row" style="left: 0px;">
                                <!-- subRow -->
                                <td *ngIf="dataTable.isShowSubRow"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                                'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <!-- end subRow -->

                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td [ngStyle]="{'display':(!dataTable.getColumn('id').isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <!-- <td [ngStyle]="{'display':(!dataTable.getColumn('userName').isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('userName').style">{{item.userName}}</span>
                                </td> -->
                                <td ngxClipboard [cbContent]="item.name" (cbOnSuccess)="copied($event)"
                                    [ngStyle]="{'display':(!dataTable.getColumn('name').isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell clipboard">
                                    <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                        <i class="icon-copy"></i>
                                    </a>
                                    <span [ngStyle]="dataTable.getColumn('name').style">{{item.name}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('type').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                     <span
                                        ngbTooltip="{{item.poiTypeName | translate}}" container="body"
                                         [ngStyle]="dataTable.getColumn('type').style">
                                         <i [ngStyle]="{'background': item.fillColor?item.fillColor:'#5d78ff'}" style=" font-size: 11px;
                                         text-align: center;background:#5d78ff;padding: 6px;color: #fff;" class="{{item.iconClass}}" ></i>

                                        <!-- <i style="width:20px" class="{{item.iconClass}}"></i> -->
                                        {{item.poiTypeName | translate}}  
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('description').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.description}}" container="body"
                                        [ngStyle]="dataTable.getColumn('description').style">{{item.description}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumn('createdAt').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span
                                        [ngStyle]="dataTable.getColumn('createdAt').style">{{item.createdAt | userDate}}</span>
                                </td>
                                <!-- <td [ngStyle]="{'display':(!dataTable.getColumn('fillColor').isShow?'none':'')}"
                                    class="kt-datatable__cell">

                                </td> -->

                                <td [ngStyle]="{'display':(!dataTable.getColumn('active').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('active').style">
                                        <span class="btn btn-bold btn-pill btn-sm btn-font-sm" [ngClass]="{'kt-font-danger':item.active==0,
                                                        'kt-font-success':item.active==1}">
                                            <i class="ic-md" [ngClass]="{'icon-minus-circle':item.active==0,
                                                                    'icon-check-circle1':item.active==1}"></i>
                                        </span>
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumn('actions').isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('actions').style"
                                        style="overflow: visible; position: relative;">
                                        <a ngbTooltip="{{(item.active =='1'?'MANAGE.POI.GENERAL.ACTIVE':'MANAGE.POI.GENERAL.INACTIVE') | translate }}"
                                            container="body" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="changeActive(item)">
                                            <i
                                                [ngClass]="{'icon-lock':item.active =='1','icon-unlock':item.active =='0'}"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'edit',item)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}" container="body"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="open(content,'delete',item)">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </span>
                                </td>
                                <!-- <td [ngStyle]="{'display':(!dataTable.getColumn('actions').isShow?'none':'')}"
                                    class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumn('actions').style"></span>
                                </td> -->

                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('id').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn("id").translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('id').style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('name').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('name').translate | translate}}</span>
                                            </td>
                                            <td ngxClipboard [cbContent]="item.imei" (cbOnSuccess)="copied($event)"
                                                class="kt-datatable__cell clipboard">
                                                <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                                                    <i class="icon-copy"></i>
                                                </a>
                                                <span [ngStyle]="dataTable.getColumn('name').style">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('type').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('type').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('type').style"
                                                    ngbTooltip="{{item.type}}" container="body">
                                                    <svg *ngIf="item.type=='polygon'" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z"
                                                                [attr.fill]="item.fillColor" />
                                                        </g>
                                                    </svg>
                                                    <svg *ngIf="item.type=='circle'" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <circle [attr.fill]="item.fillColor" cx="12" cy="12"
                                                                r="8" />
                                                        </g>
                                                    </svg>
                                                    {{item.type}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('description').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('description').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('description').style"
                                                    ngbTooltip="{{item.description}}"
                                                    container="body">{{item.description}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('createdAt').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('createdAt').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumn('createdAt').style">{{item.createdAt | userDate}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('active').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('active').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumn('active').style">
                                                    <span class="btn btn-bold btn-pill btn-sm btn-font-sm  " [ngClass]="{'kt-font-danger':item.active==0,
                                                                                'kt-font-success':item.active==1}">
                                                        <i class="ic-md"
                                                            [ngClass]="{'icon-minus-circle':item.active==0,
                                                                                'icon-check-circle1':item.active==1}"></i>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumn('actions').isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumn('actions').translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <!-- <span [ngStyle]="dataTable.getColumn('actions').style"
                                                    translate="{{item.nameKey}}">{{item.actions}}</span> -->
                                                <span [ngStyle]="dataTable.getColumn('actions').style"
                                                    style="overflow: visible; position: relative;">
                                                    <a ngbTooltip="{{(item.active =='1'?'MANAGE.POI.GENERAL.ACTIVE':'MANAGE.POI.GENERAL.INACTIVE') | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="changeActive(item)">
                                                        <i
                                                            [ngClass]="{'icon-lock':item.active =='1','icon-unlock':item.active =='0'}"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.EDIT' | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="open(content,'edit',item)">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        container="body"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="open(content,'delete',item)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>

                </table>
                <!-- begin pagination -->
                <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
                    class="kt-datatable__pager kt-datatable--paging-loaded">
                    <!-- pagination -->
                    <ul class="kt-datatable__pager-nav">
                        <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <!-- page size -->
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                            style="width: 60px;">
                            <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                                (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size"
                                title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                                data-selected="10" data-size="5">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
                <!-- end: Pagination -->
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- end:: Content -->
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{titlePopup | translate}} {{'MANAGE.POI.GENERAL.NAME' | translate  }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="action">
            <ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="tmpConfirmDelete">
            </ng-container>
            <ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormEdit">
            </ng-container>
            <ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="tmpFormAdd">
            </ng-container>
            <!-- <ng-container *ngSwitchDefault [ngTemplateOutlet]="tmpFormAdd">
                </ng-container> -->
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container *ngIf="action=='delete'" [ngSwitch]="action">
            <button *ngSwitchCase="'edit'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
            <button *ngSwitchCase="'add'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
            <button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<!-- edit form -->
<ng-template #tmpFormEdit>
    <kt-create-tool 
        [listTypePoi]="listTypePoi" 
        [listDevices]="listDevices" [poiInput]="geofenceEdit" [currentUser]="currentUser"
        (poiResult)="geofenceResult($event)">
    </kt-create-tool>
</ng-template>

<!-- add form  -->
<ng-template #tmpFormAdd>    
    <kt-create-tool
    [listTypePoi]="listTypePoi" [centerMap]="centerMap"
    [listDevices]="listDevices" [currentUser]="currentUser" (poiResult)="geofenceResult($event)">
    </kt-create-tool>
</ng-template>

<!-- comfirm delete -->
<ng-template #tmpConfirmDelete>
    <div class="alert alert-bold kt-margin-0 kt-padding-0" role="alert">
        <div class="alert-icon"><i class="icon-question-circle"></i></div>
        <div class="alert-text">{{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}</div>
    </div>
</ng-template>
<!-- comfirm delete -->

<!-- end:: Content -->