.kt-portlet__head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.box-check-list .kt-checkbox {
	margin-bottom: 14px;
}
.box-check-list .kt-portlet__head-title_check {
	padding: 10px 26px 5px !important;
}
.box-check-list .kt-checkbox > span {
	border: 1px solid #d1d7e2 !important;
}

.box-check-list {
	margin: 0px !important;
	.kt-portlet__head-title {
		background-color: #f3f3f3;
		padding: 10px 15px 10px !important;
	}
	.kt-portlet__body {
		padding: 15px;
		.form-group-device {
		}
		.check-box-item {
			display: flex;
			align-items: center;
			.kt-checkbox {
				margin-bottom: 20px;
			}
			.marker {
				margin-left: 5px;
				margin-right: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
			}
		}
	}
}

.kt-input-icon {
	position: relative;
	padding: 0;
	width: 100% !important;
	max-width: 250px;

}

.kt-select {
	width: 100% !important;
	max-width: 250px;
	.bootstrap-select {
		width: 100% !important;
	max-width: 250px;

	}
}

.row{
	margin-left: 0;
}
.show-onHover {
	opacity: 0;
}
.check-box-item {
	min-width: 225px;
	.col-form-label{
		max-width: 200px;
		span{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
.check-box-item:hover {
	.col-form-label {
		color: black;
	}
	.show-onHover {
		opacity: 1;
	}
}

.custom-css-text {
	white-space: nowrap;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

 .filter-option-inner-inner {
    display: flex !important;
}
