<div class="kt-portlet box-check-list">
	<div *ngIf="isClose">
		<button class="btn btn-primary ml-2 btn-icon " type="button" (click)="close()"><i class="icon-times"></i></button>
	</div>
	<form [formGroup]="formCheckList">
		<div class="kt-portlet__head-title" [ngClass]="!isSwitch?'kt-portlet__head-title_check':''">
			<div class="title-left">
				<span *ngIf="isSwitch" class="kt-switch kt-switch--sm kt-switch--icon float-left">
					<label>
						<input id="checkallboxed_{{name}}" type="checkbox" formControlName="checkallboxed" [(ngModel)]="checkallboxed" (change)="checkUncheckAll()">
						<span></span>
					</label>
				</span>
				<label *ngIf="!isSwitch" class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
					<input id="checkallboxed_{{name}}" type="checkbox" formControlName="checkallboxed" [(ngModel)]="checkallboxed" (change)="checkUncheckAll()">
					<span></span>
				</label>
				<label style="cursor: pointer" for="checkallboxed_{{name}}" class="col-form-label" (click)= "checkUncheckAll(true)">
					{{'COMMON.GENERAL.SELECT_ALL' | translate}}
				</label>
			</div>

			<div class="title-right d-flex justify-content-end" style="display: grid;width: calc(100% - 100px); max-width: 500px; min-width: 200px;">
				<div *ngIf="options.type=='landmark'" class="kt-select mr-2">
					<select #select (change)="selectType(select)" class="selectpicker form-control" multiple id="select-type" data-live-search="true" data-width="100%">
						<option value="0" selected>
							{{'MANAGE.POI.GENERAL.TYPE_POI' | translate}}
						</option>
						<ng-container *ngFor="let poi of listTypePoi">
							<option [value]="poi.id" [attr.data-content]="(poi.name | translate)" >
							</option>
						</ng-container>
					</select>
				</div>
				<div class="kt-input-icon kt-input-icon-ct kt-input-icon--left">
					<span class="kt-input-icon__icon kt-input-icon__icon--right" *ngIf="searchText.length>0" style="cursor: pointer;" (click)="clearFilter()">
						<span><i class="icon-times"></i></span>
					</span>
					<input [(ngModel)]="searchText" formControlName='searchText' (keyup)="searchItem($event.target.value)" type="text" class="form-control" autocomplete="off" placeholder="{{'MAP.FEATURES.SEARCH' | translate}}" />
					<span class="kt-input-icon__icon kt-input-icon__icon--left">
						<span><i class="icon-search"></i></span>
					</span>
				</div>

			</div>
		</div>
		<div class="kt-portlet__body">
			<p style="text-align: center;" *ngIf="data.length==0">{{'MAP.FEATURES.NO_DATA'| translate}}</p>
			<div class="form-group row form-group-device" style="overflow: auto;max-height: 115px; " [ngStyle]="{'max-height':maxHeight + 'px'}">
				<div class="check-box-item" formArrayName="{{name}}" *ngFor="let item of data | filter: (searchText | ascii) : 'textSearch' ">
					<span *ngIf="isSwitch" class="kt-switch kt-switch--sm kt-switch--icon float-left">
						<label>
							<input type="checkbox" formControlName="{{name}}_id_{{item.id}}" [(ngModel)]="item.checked" (change)="isCheckSelected(item.id)">
							<span></span>
						</label>
					</span>
					<label *ngIf="!isSwitch" class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
						<input type="checkbox" formControlName="{{name}}_id_{{item.id}}" [(ngModel)]="item.checked" (change)="isCheckSelected(item.id)" id="{{name}}_{{item.id}}">
						<span></span>
					</label>
					<svg *ngIf="options.type =='geofence' && item.type=='polygon'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24" />
							<path d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z" [attr.fill]="item.fillColor" />
						</g>
					</svg>
					<svg *ngIf="options.type =='geofence' && item.type=='circle'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24" />
							<circle [attr.fill]="item.fillColor" cx="12" cy="12" r="8" />
						</g>
					</svg>
					<label class="col-form-label" for="{{name}}_{{item.id}}" style="display: flex; align-items: center;">
						<i *ngIf="options.type =='landmark'" [class]="landmarkIconClass[item.poiTypeName]" [style.color]="item.fillColor" style="margin-right: 3px;"></i>
						<span [ngClass]="{'custom-css-text':(options.type == 'landmark' ||options.type == 'geofence')}" [ngbTooltip]="item.name">{{item.name}}</span>
					</label>
					<span *ngIf="options.type =='landmark'" (click)="showEdit(item)" class="marker kt-font-drak show-onHover">
						<i style="color: rgb(54, 21, 241); font-size: 14px;" class="icon-edit"></i>
					</span>
					<span *ngIf="options.type =='landmark'" (click)="deleteItem(item)" class="marker kt-font-drak show-onHover">
						<i style="color: rgb(54, 21, 241); font-size: 14px;" class="icon-trash-alt"></i>
					</span>
					<span *ngIf="options.type =='landmark' && item.checked" (click)="onSelecteLandmark(item)" class="marker kt-font-drak show-onHover">
						<i class="icon-accuracy ic-lg" style="color: rgb(54, 21, 241);  "></i>
					</span>
					<span *ngIf="options.type =='geofence'" (click)="showEdit(item)" class="marker kt-font-drak show-onHover">
						<i style="color: rgb(54, 21, 241); font-size: 14px;" class="icon-edit"></i>
					</span>
					<span *ngIf="options.type =='geofence'" (click)="deleteItem(item)" class="marker kt-font-drak show-onHover">
						<i style="color: rgb(54, 21, 241); font-size: 14px;" class="icon-trash-alt"></i>
					</span>
					<span *ngIf="options.type =='geofence' && item.checked" (click)="onSelecteMarker(item)" class="marker kt-font-drak show-onHover">
						<i class="icon-accuracy ic-lg" style="color: rgb(54, 21, 241);  "></i>
					</span>
				</div>
			</div>
		</div>
	</form>
</div>
