$background-color: #1a73e8;
$inputColor: white;
.search-direction::-webkit-scrollbar {
	width: 4px;
	opacity: 0.1;
}

.search-direction::-webkit-scrollbar-track {
	opacity: 0;
}

.search-direction::-webkit-scrollbar-track-piece {
	opacity: 0;
}

/* Handle */
.search-direction::-webkit-scrollbar-thumb {
	background: rgba(77, 76, 76, 0.445);
	border-radius: 10px;
}

.search-direction:hover {
	overflow-y: overlay;
}
@media only screen and (max-width: 400px) {
	.search-direction {
		max-width: 100vw;
	}
}
.radio {
	padding-left: 25px;
}
.search-direction {
	padding: 0;
	position: absolute;
	z-index: 95;
	right: 0;
	bottom: 0px;
	width: 400px;
	background: #fff;
	height: 100%;
	transition: all 0.5s;
	animation: show 0.5s;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	overflow: hidden;

	h4 {
		margin-top: 20px;
	}
	.form-field {
		background: $background-color;
		padding-top: 5px;
		padding-bottom: 15px;
		color: white;

		.search-controls {
			text-align: center;
			font-size: 15px;
			.close-btn {
				position: absolute;
				right: 10px;
				top: 5px;
			}
			span {
				cursor: pointer;
			}
			.arrow {
				transition: all 0.5s;
				font-size: 10px;
				position: absolute;
				top: 5px;
			}
		}
		.form {
			margin-top: 21px;
		}
		.kt-input-icon {
			position: relative;
			padding: 5px 10px;
			input {
				font-size: 0.9rem !important;
			}
			.remove-input {
				cursor: pointer;
				visibility: hidden;
			}
			.get-location {
				position: absolute;
				right: 1px;
				display: flex;
				top: 15px;
				z-index: 9;
				color: #fff;
				cursor: pointer;
			}
			.clear-btn {
				position: absolute;
				top: 11px;
				right: 18px;
				visibility: hidden;
				z-index: 1000;
				cursor: pointer;
			}
		}
		.kt-input-icon:hover {
			.remove-input {
				visibility: visible;
			}
			.clear-btn {
				visibility: visible;
			}
		}
		.add-btn {
			margin: 0;
			font-style: italic;
			padding: 0 !important;
			color: white;
		}
		.drag {
			position: relative;
		}
		.drag:hover {
			.drag-btn {
				visibility: visible;
			}
		}
		.submit-btn {
			width: 80%;
			margin: 11px 0px;
			background: #185abc !important;
		}
		.icon {
			font-size: 15px;
		}
	}
	.select-transport-type {
		margin: 1px 0;
		padding: 11px 10px;
		background: $background-color;
		color: white;

		.transport-type-text {
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 7px;
			color: white;
			padding-left: calc(16.66% - 11px);
		}
	}
	.hint {
		width: 21px;
		position: absolute;
		right: 25px;
		padding: 2px;
		border-radius: 50%;
		background: #f1f1f147;
		height: 21px;
		text-align: center;
		cursor: pointer;
	}
	.hint-text {
		padding: 10px;
		width: 350px;
	}
	.kt-checkbox span::after {
		border: solid #fbfbfb;
	}
	.filter {
		margin-top: 5px;
		padding-left: 25px;
	}

	button {
		width: auto;
		padding: 5px;
	}
	.drag-btn {
		cursor: move;
		visibility: hidden;
	}
}
mat-form-field {
	width: 100%;
}
.kt-radio.kt-radio--brand > span:after {
	border: solid #eaeaea;
	background: #e2e4ea;
}
.kt-radio.kt-radio--brand > span {
	border: 1px solid #ffffff;
}

::ng-deep .mat-focused .mat-form-field-label {
	/*change color of label*/
	color: $inputColor !important;
}
::ng-deep .mat-form-field-should-float .mat-form-field-label {
	display: none !important;
}
::ng-deep .mat-form-field-should-float.mat-focused .mat-form-field-label {
	display: block !important;
}

::ng-deep .mat-form-field-label {
	/*change color of label*/
	color: $inputColor !important;
}
::ng-deep .mat-form-field .mat-select-value {
	/*change color of label*/
	color: $inputColor !important;
}
::ng-deep.mat-form-field-underline {
	/*change color of underline*/
	background-color: $inputColor !important;
}

::ng-deep.mat-form-field-ripple {
	/*change color of underline when focused*/
	background-color: $inputColor !important;
}

input {
	padding-right: 20px !important;
}
.input {
	width: 100%;
}
input::placeholder {
	color: $inputColor !important;
}
.show-onFocus {
	display: none;
}
input:focus ~ .show-onFocus {
	display: block;
}
.search-result:hover {
	display: block;
}
.select {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	outline: none;
	border: none;
}
.search-result {
	width: 100%;
	background-color: white;
	transition: all 0.5s;
	position: absolute;
	z-index: 12;
	top: 45px;
	margin-left: 3px;
	margin-bottom: 0;
	box-shadow: 0 0 0 0px rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	overflow: hidden;
	ul {
		padding: 5px 0px;
		margin: 0;
		max-height: 300px;
		overflow: auto;
		color: black;
		li {
			cursor: pointer;
			padding: 5px;
			list-style-type: none;
			display: flex;
			font-size: 0.9rem;
		}
		li:hover {
			background: #e5e6ea;
			color: #444444;
		}
	}
}

// Material panel
.mat-expansion-panel-header {
	height: max-content !important;
	min-height: 55px !important;
	padding: 20px 15px !important;
}
.mat-expansion-panel-header-description {
	justify-content: flex-end;
}

.result {
	animation: panelShow 0.35s;
	.toll-fee {
		line-height: 20px;
		.toll-fee-overview {
			font-weight: bold;
			font-size: 15px;
			.value {
				float: right;
			}
		}
		ul {
			margin-top: 10px;
			padding: 0;
			list-style: none;
			.segment {
				font-size: 14px;
				.money {
					float: right;
				}
			}
		}
	}
}

.active {
	background: #e5e6ea;
	color: #444444;
}
.route-active {
	border: 2px solid #1a73e8;
	border-radius: 5px;
}
.toll-name:hover {
	color: blue;
}
.no-box-shadow {
	box-shadow: none !important;
}

.drag.cdk-drag-disabled {
	background: #ccc;
	cursor: default;
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag:last-child {
	border: none;
}

.form.cdk-drop-list-dragging .drag:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes panelShow {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// Spiner
.spiner-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}
.sk-chase {
	width: 20px;
	height: 20px;
	position: relative;
	animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
	content: "";
	display: block;
	width: 25%;
	height: 25%;
	background-color: rgb(58, 53, 53);
	border-radius: 100%;
	animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
	animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
	animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
	animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
	animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
	animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
	animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
	animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
	animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
	animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
	animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
	animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
	animation-delay: -0.6s;
}

@keyframes sk-chase {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot {
	80%,
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot-before {
	50% {
		transform: scale(0.4);
	}
	100%,
	0% {
		transform: scale(1);
	}
}
