<div class="search-direction" #container>
	<div class="select-transport-type" *ngIf="type">
		<div class="kt-radio-inline radio">
			<label class="kt-radio kt-radio--brand " (click)="changeSelect(true)"><input type="radio" name="alo" checked> 
				{{'ADMIN.TRANSPORT_TYPE.GENERAL.TRANSPORT_TYPE' | translate }}<span></span></label>
			<label class="kt-radio kt-radio--brand " (click)="changeSelect(false)" *ngIf="listDevices?.length>0"><input type="radio" name="alo">
				{{'MANAGE.DEVICE.GENERAL.LIST_DEVICE' | translate }} <span></span></label>
		</div>
		<div class="d-flex ">
			<div class="d-flex align-items-center drag-btn icon"><span style="font-size: 15px;"><i class="icon-drag-dot"></i></span></div>
			<div class="col-1 d-flex align-items-center">
				<span class="d-flex align-items-center icon"><i class="icon-truck"></i></span>
			</div>
			<div class="col-10">
				<mat-form-field *ngIf="isSelectType">
					<mat-label>{{'ADMIN.TRANSPORT_TYPE.GENERAL.TRANSPORT_TYPE' | translate }}</mat-label>
					<mat-select [formControl]="selectControl" [(value)]="selectedType">
						<mat-option (click)="onChangeSelect()" *ngFor="let type of transportType" [value]="type.id">{{type.name}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field *ngIf="!isSelectType">
					<mat-label>{{'MANAGE.DEVICE.GENERAL.LIST_DEVICE' | translate }}</mat-label>
					<mat-select [formControl]="selectControl" [(value)]="selectedType">
						<mat-option (click)="onChangeSelect()" *ngFor="let type of listDevices" [value]="type.transportType">{{type.name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="kt-radio-inline filter" ngbDropdown container="body" placement="right-top">
			<label class="kt-checkbox kt-radio--brand"><input (click)="onCheckbox(checkbox)" #checkbox type="checkbox" name="avoidToll"> 
				{{'MAP.FEATURES.DIRECTION_AVOID_FEE' | translate }}<span></span></label>
			<span class="hint" ngbDropdownToggle><i class="icon-info"></i></span>
			<ul ngbDropdownMenu class="hint-text" style="padding: 10px;width: 350px;">
				<li *ngFor="let type of transportType"><span style="font-weight:bold">{{type.name}}</span>: {{type.description}}</li>
			</ul>
		</div>
	</div>

	<div class="form-field">
		<div class="search-controls">
			<span style="display: inline-block;" *ngIf="!type" class="arrow" (click)="fullWidth()" [hidden]="isShowRemoveBtn"><i class="icon-arrow-down1"></i></span>
			<span class="close-btn" *ngIf="!type"><i class="icon-times" (click)="close()"></i></span>
		</div>
		<form #form="ngForm" class="form" (change)="changeSubmit(form)" (submit)="onSubmit(form)" (keydown.enter)="$event.preventDefault()" cdkDropList (cdkDropListDropped)="drop($event)">
			<div class="drag" cdkDrag *ngFor="let input of inputControl, let i = index">
				<div class="kt-input-icon d-flex ">
					<div class="d-flex align-items-center drag-btn icon"><span><i class="icon-drag-dot" cdkDragHandle></i></span></div>
					<div class="col-1 d-flex align-items-center">
						<span class="d-flex align-items-center icon" style="font-size: 16px;" (click)="getYourLocation(form,input)" ngbTooltip="Lấy vị trí">
							<i [class]="inputControl.length-1!=i?'icon-dot-circle':'icon-place-marker-2'"></i>
						</span>
					</div>
					<div class="col-10">
						<mat-form-field class="input">
							<mat-chip-list #chipList [selectable]="true">
								<mat-chip *ngIf="selectedDevice[i]">
									{{selectedDevice[i]}}<mat-icon matChipRemove (click)="clearInput(form,input)">cancel</mat-icon>
								</mat-chip>
								<input [name]="input.name" ngModel autocomplete="off" [matChipInputAddOnBlur]="true" [matChipInputFor]="chipList" 
								 [matChipInputAddOnBlur]="true" (keyup)="search(input.id,form.value[input.name], $event,form)" [style.fontWeight]="input.type=='device'?'bold':''"
								 type="text" [placeholder]="(i==0?'MAP.FEATURES.DIRECTION_START':'MAP.FEATURES.DIRECTION_END') | translate" required [matChipInputAddOnBlur]="true">
								<span class="get-location show-onFocus" (click)="clearInput(form,input,true)"><i class="icon-times"></i></span>
								<ng-container *ngIf="form.value[input.name]!=''">
									<div class="search-result show-onFocus">
										<div *ngIf="input.type =='address'" class="test">
											<ng-container *ngIf="!isSearching else spiner">
												<p style="padding: 5px" *ngIf="input.data?.result.length==0">{{'MAP.FEATURES.NO_DATA'| translate}}</p>
												<ul *ngIf="input.data">
													<li *ngFor="let place of input.data?.result, let i = index" (click)="setPoint(form,input,i)" [class]="input.active==i?'active':''">
														<div class="col-1 d-flex justify-content-center align-items-center"><span><i class="flaticon2-pin"></i></span></div>
														<div class="col-11"><span> {{place.address}}</span></div>
													</li>
												</ul>
											</ng-container>
										</div>
										<div *ngIf="input.type == 'device'&&input.data">
											<p style="padding: 5px" *ngIf="input.data.length==0">{{'MAP.FEATURES.NO_DATA'| translate}}</p>
											<ul *ngIf="input.data">
												<li *ngFor="let device of input.data?.result,let i = index" (click)="setPoint(form,input,i)" [class]="input.active==i?'active':''">
													<div class="col-1 d-flex justify-content-center align-items-center"><span><i class="icon-car"></i></span></div>
													<div class="col-11"><span> {{device.name}}</span></div>
												</li>
											</ul>
										</div>
									</div>
								</ng-container>
							</mat-chip-list>
						</mat-form-field>
					</div>
					<div class="d-flex align-items-center remove-input icon-md"><span [hidden]="!isShowRemoveBtn"><i class="icon-trash" (click)="removeDestination(i)"></i></span></div>
				</div>
			</div>
			<div class="col-12 d-flex">
				<div class="d-flex align-items-center drag-btn icon"><span><i class="icon-drag-dot"></i></span></div>
				<div class="col-1 d-flex align-items-center"><span class="d-flex align-items-center icon">
						<i [hidden]="!isShowAddBtn" class="icon-add"></i>
					</span></div>
				<div class=col-10><button [hidden]="!isShowAddBtn" (click)="addMoreDestionation()" type="button" #btn class="btn btn-icon btn-sm add-btn">
						{{'MAP.FEATURES.DIRECTION_ADD' | translate}}
					</button></div>
			</div>
			<div class="d-flex justify-content-center">
				<button #btn class="btn btn-icon btn-sm btn-primary submit-btn" type="submit" *ngIf="!type">
					<span><i class="icon-email-send"></i> {{'MAP.FEATURES.DIRECTION_DIRECTION' | translate}}</span>
				</button>
				<button #btn class="btn btn-icon btn-sm btn-primary submit-btn" type="submit" *ngIf="type">
					<span><i class="icon-email-send"></i> {{'MAP.FEATURES.DIRECTION_FEE' | translate}}</span>
				</button>
			</div>
		</form>
	</div>

	<ng-container *ngIf="!type">
		<p class="pl-2 pr-2 mt-3">{{'MAP.FEATURES.DIRECTION_GOOGLE' | translate}}</p>
		<p class="pl-2 pr-2 mt-1">{{'MAP.FEATURES.DIRECTION_HINT' | translate}}</p>
	</ng-container>
	<div>
		<div class="d-flex justify-content-center mt-3" *ngIf="!isFindingRoute||isNoRoute else spiner">
			<span *ngIf="isNoRoute">{{'MAP.FEATURES.DIRECTION_NO_ROUTE' | translate}}</span>
			<span *ngIf="!isNoRoute && !routes" style="font-size: 100px;"><i class="icon-journey"></i></span>
			<div class="d-flex flex-column col-12 p-0" *ngIf="!isNoRoute && routes">
				<div class=" col-12 mb-2 p-1" *ngFor="let route of routes, let i = index" (click)="selectRoute(i)">
					<div class="result" *ngIf="isShowResult">
						<div [class]="step === i?'route-active':''">
							<mat-expansion-panel [expanded]="step === i">
								<mat-expansion-panel-header class="panel-header">
									<mat-panel-title>
										<p style="color: blue;">{{('MAP.FEATURES.DIRECTION_GO' | translate)+' '+route['summary']}}</p>
									</mat-panel-title>
									<mat-panel-description>
										<p style="font-weight: bold; color: blue;width: max-content;">{{((route.totalFee?route.totalFee:0)|number)+' VND'}}</p>
									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="toll-fee" *ngIf="route.fee else greeting">
									<div class="toll-fee-overview">
										<span class="text">{{('MAP.FEATURES.DIRECTION_FEE' | translate)+':'}}</span>
										<span class="value">{{(calculateTotalFee(route.fee)|number)+' VND'}}</span>
									</div>
									<div class="toll-fee-overview">
										<span class="text">{{('MAP.FEATURES.DIRECTION_TIME' | translate)+':'}}</span>
										<span class="value">{{(route.duration/3600|number:'1.0-0')+' h'}}</span>
									</div>
									<div class="toll-fee-overview">
										<span class="text">{{('MAP.FEATURES.DIRECTION_DISTANCE' | translate)+':'}}</span>
										<span class="value">{{(route.distance/1000|number:'1.0-0')+' km'}}</span>
									</div>

									<ul>
										<li *ngFor="let tolls of route.fee">
											<div class="segment">
												<ng-container [ngSwitch]="tolls.type">
													<span *ngSwitchCase="0" class="text">{{('MAP.FEATURES.DIRECTION_HIGHWAY'|translate)+' - '+tolls.roadName}}</span>
													<span *ngSwitchCase="1" class="text">{{('MAP.FEATURES.DIRECTION_NATIONAL_ROAD'|translate)+' - '+tolls.roadName}}</span>
													<span *ngSwitchCase="2" class="text">{{('MAP.FEATURES.DIRECTION_PROVINCE_ROAD'|translate)+' - '+tolls.roadName}}</span>
													<span *ngSwitchCase="null" class="text">{{(('MAP.FEATURES.DIRECTION_UNKNOWN')|translate)+' - '+tolls.roadName}}</span>
												</ng-container>
												<span class="money">{{(tolls.amount|number) +' '+ tolls.unit}}</span>
											</div>
											<ul style="line-height: 22px;">
												<li *ngFor="let station of tolls.tollStations" class="toll-name" style="cursor: pointer;" (click)="panToToll(station)">
													<span class="d-flex align-items-center">
														<i class="icon-tollbooth" style="margin-right: 10px"></i>{{station.name}}
													</span>
												</li>
											</ul>
											<hr>
										</li>
									</ul>
								</div>
								<!-- <mat-action-row>
							<button (click)="calculateFee(route.polylinePoint,i)">Tính phí</button>
						</mat-action-row> -->
							</mat-expansion-panel>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #spiner>
	<div class="spiner-container">
		<div class="sk-chase">
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
			<div class="sk-chase-dot"></div>
		</div>
	</div>
</ng-template>

<ng-template #greeting>
	<div *ngIf="!isFindingToll else spiner">
		<p>Bấm vào nút tính phí</p>
	</div>
</ng-template>
