<form class="" [formGroup]="searchFormDevice" (ngSubmit)='searchDevice(searchFormDevice)'>
    <div class="kt-section">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3  col-md-4  col-sm-12 ">
                <div class="kt-form__control form-group">
                    <input type="text" class="form-control" data-key="machineCode"
                        placeholder="{{'COMMON.LIST_DEVICE.NUMBER_PLATE' | translate}}" formControlName="plate">

                </div>
            </div>
            <div class="col-xl-3 col-lg-3  col-md-4  col-sm-12 ">
                <div class="kt-form__control form-group">
                    <input type="text" class="form-control"
                        placeholder="{{'MANAGE.DEVICE.GENERAL.DEVICE_NAME' | translate}}" formControlName="device">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3  col-md-4  col-sm-12">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{'MANAGE.DEVICE.GENERAL.IMEI' | translate}}"
                        formControlName="imei">
                </div>
            </div>
            <div class="col-xl-3 col-lg-3  col-md-4  col-sm-12">
                <div class="form-group">
                    <input type="text" class="form-control" data-key="simno"
                        placeholder="{{'MANAGE.DEVICE.GENERAL.SIMNO' | translate}}" formControlName="simno">
                </div>
            </div>

            <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="form-group form-group--mobile">
                    <label class="kt-checkbox">
                        <input type="checkbox" formControlName="subAccount">
                        {{'MANAGE.DEVICE.GENERAL.SUB_ACCOUNT' | translate}}
                        <span></span>
                    </label>&nbsp;
                    <button type="submit" class="btn btn-outline-brand btn-pill"
                        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':showLoaddingSearch}">
                        <i class="icon-search"></i>{{'COMMON.GENERAL.SEARCH' | translate}}
                    </button>&nbsp;
                    <!-- <button type="button" (click)="toggleSearchAdvanced()"
                        [ngClass]="{'btn-brand':isShowSearchAdvanced,'btn-outline-brand':!isShowSearchAdvanced}"
                        class="btn btn-outline-brand btn-pill">
                        <i class="icon-filter"></i>{{'COMMON.GENERAL.SEARCH_ADVANCED' | translate}}
                    </button>&nbsp; -->
                    <button (click)='resetFormSearch()' class="btn btn-outline-brand btn-pill">
                        <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                    </button>&nbsp;
                </div>
            </div>

        </div>
        <div [ngStyle]="{'display':(!isShowSearchAdvanced?'none':'')}" class="form-advanced">
            <!-- <div class="kt-separator kt-separator--dashed"></div> -->
            <div class="row">

            </div>
        </div>
    </div>
</form>
<!--begin: Datatable -->
<div class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
    [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
    style="position: static; zoom: 1;overflow: auto;height: calc(100vh - 445px);margin-bottom: 0px;">
    <table class="kt-datatable__table" style="display: block;width: 1036px;">
        <!-- Header -->
        <thead class="kt-datatable__head">
            <tr class="kt-datatable__row" style="left: 0px;">
                <!-- subRow -->
                <th *ngIf="dataTable.isShowSubRow"
                    class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort">
                    <span></span>
                </th>
                <!-- end subRow -->

                <!-- checkbox -->
                <th *ngIf="dataTable.selecter"
                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                    <span style="width: 20px;">
                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                            <input (click)="dataTable.setCheckBoxAll()" type="checkbox"
                                [(ngModel)]="dataTable.isCheckBoxAll">&nbsp;<span></span>
                        </label>
                    </span>
                </th>
                <!-- end checkbox -->

                <ng-container *ngFor="let column of dataTable.getColumns()">
                    <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                        [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                        class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                        (click)="dataTable.sort(column.field)"
                        *ngxPermissionsOnly="column.permisison?column.permisison:''">
                        <span [ngStyle]="column.style">
                            {{column.translate | translate}}
                            <i *ngIf="column.isSort"
                                [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                        </span>
                    </th>
                </ng-container>
            </tr>
        </thead>
        <!-- table body -->
        <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
            <ng-container *ngFor="let item of dataTable.data;let i=index">
                <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter,'kt-move':allowReOrder}"
                    class="kt-datatable__row" style="left: 0px;" cdkDrag>
                    <!-- subRow -->
                    <td *ngIf="dataTable.isShowSubRow" class="kt-datatable__cell kt-datatable__toggle-detail">
                        <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                            <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                        'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                        </a>
                    </td>
                    <!-- end subRow -->

                    <!-- checkbox -->
                    <td *ngIf="dataTable.selecter"
                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                        data-field="RecordID"><span style="width: 20px;">
                            <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                    (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                            </label>
                        </span>
                    </td>
                    <!-- end checkbox -->
                    <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                        class="kt-datatable__cell kt-datatable__cell" data-field="id">
                        <span [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                    </td>
                    <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}" data-field="key_name"
                        class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[1].style">{{item.userName}}</span>
                    </td>
                    <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}" data-field="name"
                        class="kt-datatable__cell clipboard">

                        <span [ngStyle]="dataTable.getColumns()[2].style">{{item.numberPlate}}</span>
                    </td>
                    <td ngxClipboard [cbContent]="item.imei" (cbOnSuccess)="copied($event)"
                        [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}" data-field="name"
                        class="kt-datatable__cell clipboard">
                        <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                            <i class="icon-copy"></i>
                        </a>
                        <span [ngStyle]="dataTable.getColumns()[3].style">{{item.imei}}</span>
                    </td>
                    <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                        class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[4].style">{{item.name}}</span>
                    </td>

                    <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                        class="kt-datatable__cell"> 
                        <span [ngStyle]="dataTable.getColumns()[5].style">{{item.typeName}}</span>
                    </td>
                    <td ngxClipboard [cbContent]="item.simno" (cbOnSuccess)="copied($event)"
                        [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                        class="kt-datatable__cell clipboard">
                        <a class="btn btn-sm btn-brand btn-elevate btn-icon clipboard-action">
                            <i class="icon-copy"></i>
                        </a>
                        <span [ngStyle]="dataTable.getColumns()[5].style">{{item.simno}}</span>
                    </td>


                    <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                        class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumns()[7].style">
                            <span class="btn btn-bold btn-pill btn-sm btn-font-sm" [ngClass]="{'kt-font-danger':item.active==0,
                                                'kt-font-success':item.active==1}">
                                <i class="ic-md" [ngClass]="{'icon-minus-circle':item.active==0,
                                                            'icon-check-circle1':item.active==1}"></i>
                            </span>
                        </span>
                    </td>

                    <td [ngStyle]="{'display':(!dataTable.getColumn('action').isShow?'none':'')}" data-field="Actions"
                        data-autohide-disabled="false" class="kt-datatable__cell">
                        <span [ngStyle]="dataTable.getColumn('action').style"
                            style="overflow: visible; position: relative;">
                            <a container="body" ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                (click)="editDevice(item,content)"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="icon-info-circle"></i>
                            </a>

                            <a container="body" target="_blank" routerLink="/manage/devices"
                                ngbTooltip="{{'COMMON.USER_INFO.GO_TO_DEVICE_MANAGE_PAGE' | translate }}"
                                (click)="onDirectionLink('device_manage',item)"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="flaticon2-lorry"></i>
                            </a>
                            <a container="body" target="_blank" routerLink="/map"
                                ngbTooltip="{{'COMMON.USER_INFO.GO_TO_MAP_PAGE' | translate }}"
                                (click)="onDirectionLink('map',item)"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="icon-location-arrow"></i>
                            </a>
                            <a container="body" ngbTooltip="{{'MANAGE.DEVICE.GENERAL.SEND_COMMAND' | translate}}"
                                (click)="sendCommand(item)" *ngxPermissionsOnly="['ROLE_device.action.command']"
                                class="btn btn-sm btn-clean btn-icon btn-icon-md icon-link-search">
                                <i style="font-size: 13px;" class="icon-terminal"></i>
                            </a>
                        </span>
                    </td>
                </tr>
                <!-- Sub row -->

            </ng-container>
            <!-- No records found -->
            <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                <kt-not-found></kt-not-found>
            </div>
        </tbody>

    </table>
    <!-- begin pagination -->
    <div [ngStyle]="{'visibility':(dataTable.isNotFound?'hidden':'visible')}"
        class="kt-datatable__pager kt-datatable--paging-loaded">
        <!-- pagination -->
        <ul class="kt-datatable__pager-nav">
            <li><a ngbTooltip="{{'COMMON.FIRST_PAGE' | translate}}"
                    class="kt-datatable__pager-link kt-datatable__pager-link--first"
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                    (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                    <i class="flaticon2-fast-back"></i></a></li>
            <li><a ngbTooltip="{{'COMMON.PREVIOUS_PAGE' | translate}}"
                    class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                    <i class="flaticon2-back"></i></a></li>
            <li></li>
            <li style="display: none;"><input type="text" class="kt-pager-input form-control" title="Page number"></li>
            <li *ngFor="let page of dataTable.getPageDisplay()">
                <a (click)="dataTable.gotoPage(page)" class="kt-datatable__pager-link kt-datatable__pager-link-number "
                    [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                    data-page="1">{{page}}</a>
            </li>
            <li style=""></li>
            <li><a ngbTooltip="{{'COMMON.NEXT_PAGE' | translate}}"
                    class="kt-datatable__pager-link kt-datatable__pager-link--next "
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                    (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i class=" flaticon2-next"></i></a></li>
            <li><a ngbTooltip="{{'COMMON.LAST_PAGE' | translate}}"
                    [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                    class="kt-datatable__pager-link kt-datatable__pager-link--last"
                    (click)="dataTable.gotoPage(dataTable.getLastPage())">
                    <i class="flaticon2-fast-next"></i></a></li>
        </ul>
        <!-- page size -->
        <!-- <div class="kt-datatable__pager-info">
                    <div class="dropdown bootstrap-select kt-datatable__pager-size" id="dataTableSelect"
                        style="width: 60px;">
                        <select ngbTooltip="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}"
                            (change)="dataTable.setPageSize($event.target.value)"
                            class="selectpicker kt-datatable__pager-size"
                            title="{{'COMMON.PAGINATION.SELECT_PAGE_SIZE' | translate}}" data-width="60px"
                            data-selected="10" data-size="5">
                            <option *ngFor="let item of dataTable.getPaginationSelect()"
                                [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                title="{{item}}" data-toggle="tooltip">{{item}}</option>
                        </select>
                    </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                        {{dataTable.getPaginations().form}} -
                        {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                        {{dataTable.getPaginations().total}}</span>
                </div> -->
    </div>
    <!-- end: Pagination -->
</div>

<!-- modal popup -->
<ng-template #content let-modal>

    <div class="modal-header ">

        <h5 class="modal-title">
            {{'MANAGE.DEVICE.EDIT.GENERAL.INFO_DEVICE' | translate}} </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-lg-12 form-info">
            <div class="tab-title-modal">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#info_global" role="tab">
                            {{'COMMON.GENERAL.BASE' | translate}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#info_config" role="tab">
                            {{'COMMON.GENERAL.PARAMETER' | translate}}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tab-content ">
                <div class="tab-pane active" id="info_global" role="tabpanel">
                    <form class="kt-form" [formGroup]="frmDeviceEditBase" id="deviceEditFormBase">
                        <div *ngFor="let default of dataDefault">
                            <div class=" row">
                                <div class="col-md-12">
                                    <div class="kt-portlet">
                                        <div
                                            class="kt-portlet__head kt-portlet__custom  kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                            <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                                {{'MANAGE.DEVICE.EDIT.GENERAL.INFO_DEVICE' | translate}}
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body validate is-invalid">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.IMEI' | translate}}</label>
                                                    <input [ngModel]="default.imei" type="text" name="imei"
                                                        class="form-control" formControlName="imei" disabled>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NAME_DEVICE' | translate}}</label>
                                                    <input [ngModel]="default.name" type="text" name="deviceName"
                                                        class="form-control" formControlName="name" disabled>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DEVICE_TYPE' | translate}}</label>
                                                    <!-- <input type="text" name="" class="form-control"
                                                                    formControlName="typeDevice"> -->
                                                    <select [ngModel]=""
                                                        class="kt-selectpicker__edit-device form-control"
                                                        id="edDeviceType"
                                                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DEVICE_TYPE' | translate}}"
                                                        data-live-search="true" data-size="5"
                                                        formControlName="typeDevice" disabled>
                                                        <option value="">
                                                            {{'MANAGE.DEVICE.EDIT.GENERAL.DEVICE_TYPE' | translate}}
                                                        </option>
                                                        <ng-container *ngFor="let item of deviceTypes">
                                                            <option value="{{item.id}}">
                                                                {{item.name}}
                                                            </option>
                                                        </ng-container>

                                                    </select>

                                                </div>

                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.USER_NAME' | translate}}</label>
                                                    <input [ngModel]="default.userName" type="text" name="userName"
                                                        class="form-control" formControlName="userName" disabled>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ICON' | translate}}</label>
                                                    <!-- <input type="text" name="" class="form-control" formControlName="icon"> -->
                                                    <select [ngModel]="default.icon"
                                                        class="kt-selectpicker__edit-device form-control"
                                                        id="edIconType"
                                                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_ICON' | translate}}"
                                                        data-size="5" formControlName="icon" disabled>
                                                        <option value="">
                                                            {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_ICON' | translate}}
                                                        </option>
                                                        <option *ngFor="let item of iconTypes" value="{{item.id}}">
                                                            {{item.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.GROUP_DEVICE' | translate}}</label>

                                                    <!-- <input type="text" name="" class="form-control" formControlName="groupId"> -->
                                                    <select name="" id="edGroupDevice"
                                                        class="kt-selectpicker__edit-device form-control"
                                                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.GROUP_DEVICE' | translate}}"
                                                        data-size="5" formControlName="groupId" disabled>
                                                        <option value="">
                                                            {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_GROUP_DEVICE' | translate}}
                                                        </option>
                                                        <option *ngFor="let group of groupDevices" value="{{group.id}}">
                                                            {{group.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SIM_NO' | translate}}</label>
                                                    <input [ngModel]="default.simno" type="text" name=""
                                                        class="form-control" formControlName="simno" disabled>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SIM_TYPE' | translate}}</label>
                                                    <!-- <input type="text" name="" class="form-control" formControlName="simType"> -->
                                                    <select [ngModel]="default.simType"
                                                        class="kt-selectpicker__edit-device form-control" id="edSimType"
                                                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_SIM_TYPE' | translate}}"
                                                        data-size="5" formControlName="simType" disabled>
                                                        <option value="">
                                                            {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_SIM_TYPE' | translate}}
                                                        </option>
                                                        <option *ngFor="let item of simTypes" value="{{item.id}}">
                                                            {{item.nameKey | translate}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-md-12">
                                    <div class="kt-portlet">
                                        <div
                                            class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                            <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                                {{'MANAGE.DEVICE.EDIT.GENERAL.SERVICE' | translate}}
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SERVICE_EXPIRE' | translate}}</label>
                                                    <input [ngModel]="default.serviceExpire" type="text" name=""
                                                        class="form-control" formControlName="serviceExpire">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ACTIVE_WARRANTY' | translate}}</label><br />
                                                    <label for="">
                                                        <span class="kt-switch kt-switch--icon">
                                                            <label>
                                                                <input [ngModel]="default.activeWarranty"
                                                                    type="checkbox" name="" formControlName="active"
                                                                    formControlName="activeWarranty" disabled>
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ACTIVE_WARRANTY_DATE' | translate}}</label>
                                                    <input [ngModel]="default.warrantyActiveDate" type="text" name=""
                                                        class="form-control" formControlName="activeWarrantyDate"
                                                        disabled>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.WARRANTY_EXPIRE' | translate}}</label>
                                                    <input [ngModel]="default.warrantyExpiredDate" type="text" name=""
                                                        class="form-control" formControlName="warrantyExpiredDate"
                                                        disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.STATUS' | translate}}</label><br />
                                                    <label for="">
                                                        <span class="kt-switch kt-switch--icon">
                                                            <label>
                                                                <input [ngModel]="default.status" type="checkbox"
                                                                    name="" formControlName="status" disabled>
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-md-12">
                                    <div class="kt-portlet">
                                        <div
                                            class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                            <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                                {{'MANAGE.DEVICE.EDIT.GENERAL.NOTE' | translate}}
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NOTE' | translate}}</label>
                                                    <textarea [ngModel]="default.description" rows="4" name=""
                                                        class="form-control" formControlName="desc" disabled></textarea>
                                                </div>
                                                <div *ngxPermissionsOnly="['ROLE_device.edit.description_admin']"
                                                    class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NOTE_ADMIN' | translate}}</label>
                                                    <textarea [ngModel]="default.descAdmin" rows="4" name=""
                                                        class="form-control" formControlName="descAdmin"
                                                        disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row" *ngxPermissionsOnly="['ROLE_device.edit.sold']">
                                <div class="col-md-12">
                                    <div class="kt-portlet">
                                        <div
                                            class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                            <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                                {{'MANAGE.DEVICE.EDIT.GENERAL.SELL_INFO' | translate}}
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SELLED' | translate}}</label><br />
                                                    <label for="">
                                                        <span class="kt-switch kt-switch--icon">
                                                            <label>
                                                                <input [ngModel]="default.isSell" type="checkbox"
                                                                    name="" formControlName="isSell" disabled>
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SELL_DATE' | translate}}</label>
                                                    <input [ngModel]="default.sellAt" triggers="hover" type="text"
                                                        class="form-control kt_datepicker" autocomplete="off"
                                                        id="dateSell" formControlName="sellDate" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.UPDATE_TIME' | translate}}</label>
                                                    <input [ngModel]="default.sellUpdated" type="text" name=""
                                                        class="form-control" formControlName="sellUpdatedDate" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngxPermissionsOnly="['ROLE_device.edit.advanced']" class="tab-pane" id="info_config"
                    role="tabpanel">
                    <form class="kt-form" [formGroup]="frmDeviceEditBase" id="deviceEditFormAdvanced">
                        <div *ngFor="let default of dataDefault">

                            <div class=" row">
                                <div class="col-md-12">
                                    <div class="kt-portlet">
                                        <div
                                            class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                            <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                                {{'MANAGE.DEVICE.EDIT.GENERAL.INFO_VEHICEL' | translate}}
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body validate is-invalid">
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.NUMBER_PLATE' | translate}}
                                                    </label>

                                                    <input [ngModel]="default.numberPlate" type="text"
                                                        formControlName="numberPlate" class="form-control" disabled>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.FRAME_NUMBER' | translate}}</label>
                                                    <input [ngModel]="default.frameNumber" type="text"
                                                        formControlName="frameNumber" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.VIN_NUMBER' | translate}}</label>
                                                    <input [ngModel]="default.vinNumber" type="text"
                                                        formControlName="vinNumber" class="form-control" disabled>

                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.ENGINE_NUMBER' | translate}}</label>
                                                    <input [ngModel]="default.vinNumber" type="text"
                                                        formControlName="engineNumber" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.TRANSPORT_TYPE' | translate}}</label>
                                                    <select [ngModel]="default.transportType"
                                                        class="kt-selectpicker__edit-device--advanced form-control"
                                                        formControlName="transportType" id="edTransportType"
                                                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_TRANSPORT_TYPE' | translate}}"
                                                        data-size="5" disabled>
                                                        <option value="">
                                                            {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_TRANSPORT_TYPE' | translate}}
                                                        </option>
                                                        <option *ngFor="let item of listTransport" value="{{item.id}}">
                                                            {{item.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DRIVER' | translate}}</label>

                                                    <select [ngModel]="default.driverId"
                                                        class="kt-selectpicker__edit-device--advanced form-control"
                                                        formControlName="driver" id="edDriver"
                                                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DRIVER' | translate}}"
                                                        data-size="5" disabled>
                                                        <option value="">
                                                            {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DRIVER' | translate}}
                                                        </option>
                                                        <option *ngFor="let item of listDriver" value="{{item.id}}">
                                                            {{item.name}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="form-group row">

                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DISTANCE_OFFSET' | translate}}</label>
                                                    <input [ngModel]="default.coefficient" type="text"
                                                        formControlName="coefficient" class="form-control" disabled>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-md-12">
                                    <div class="kt-portlet">
                                        <div
                                            class="kt-portlet__head kt-portlet__custom kt-portlet__head--right kt-ribbon kt-ribbon--info">
                                            <div class="kt-ribbon__target" style="top: 10px; left: -2px;">
                                                {{'MANAGE.DEVICE.EDIT.GENERAL.DEPARMENT' | translate}}
                                            </div>
                                        </div>
                                        <div class="kt-portlet__body validate is-invalid">

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.SEND_TO_DEPARMENT' | translate}}</label><br />
                                                    <label for="">
                                                        <span class="kt-switch kt-switch--icon">
                                                            <label>
                                                                <input [ngModel]="default.isGovernment" type="checkbox"
                                                                    formControlName="sendToGovernment"
                                                                    (change)="changeSendToGovernment($event)" disabled>
                                                                <span></span>
                                                            </label>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>{{'MANAGE.DEVICE.EDIT.GENERAL.DEPARMENT_MANAGE' | translate}}</label>
                                                    <select class="kt-selectpicker__edit-device--advanced form-control"
                                                        formControlName="governmentManage" id="edDeparment"
                                                        title="{{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DEPARMENT_MANAGE' | translate}}"
                                                        data-size="5" disabled>
                                                        <option value="">
                                                            {{'MANAGE.DEVICE.EDIT.GENERAL.CHOOSE_DEPARMENT_MANAGE' | translate}}
                                                        </option>
                                                        <option *ngFor="let item of listDeparmentManage"
                                                            value="{{item.id}}">
                                                            {{item.name}}</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</ng-template>
<kt-send-command [sendCommandOpen]="sendCommandEmitter" (sendCommandResult)="sendCommandResult($event)">
</kt-send-command>
<!-- end modal popup -->