<div class="kt-main" style="display: flex;height: 100%;width: 100%;">
    <div  [ngClass]="{'kt-hide':!showUserTree}" class="user-tree kt-body--left tree-mobile" style="max-width: 300px;height: 100%;">
        <kt-user-tree-new [userTreeName]="'userTreeForDevice'" [cacheSearch]="true" [storeLocal]="true"
            [showCountDevice]="true" (changeUser)="ChangeUserTree($event)"  [allowCollapse]="true"  [btnClose]="true">
            </kt-user-tree-new>
    </div>
    <div class="kt-portlet kt-portlet--mobile kt-portlet--main">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    {{'MANAGE.ALERT_RULE.GENERAL.MANAGE_ALERT' | translate}}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-brand btn-icon-sm btn-pill"
                            (click)="openPopup(content,'add')">
                            <i class="flaticon2-plus"></i> {{'COMMON.ACTIONS.ADD_NEW' | translate}}
                            {{'MANAGE.ALERT_RULE.GENERAL.ALERT' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10" disabled="true">
              
                </div> -->
        <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--overflow-y">
            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-padding-10 kt-padding-l-20 kt-padding-r-20">
                <form class="" [formGroup]="searchFormAlert" id="frmSearch" (ngSubmit)='searchAlert(searchFormAlert)'>

                    <div class="row">
                        <!-- name -->
                        <div class="form-group col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <input type="text" class="form-control" placeholder="{{'COMMON.COLUMN.NAME' | translate}}"
                                formControlName="name" data-key="name">
                        </div>
                        <!-- envent type -->
                        <div class="form-group col-xl-2 col-lg-3  col-md-4  col-sm-12">
                            <select class="selectpicker form-control" id="eventTypeId" data-key="eventType"
                                data-size="5" data-live-search="true" multiple data-container="body"
                                title="{{'MANAGE.ALERT_RULE.GENERAL.TYPE_ALERT' | translate}}">                                
                                <ng-container *ngFor="let group of getEventTypeGroups();let i=index">
                                    <optgroup label="{{('MANAGE.ALERT_RULE.GROUP_TYPE_ALERT.'+ (group| uppercase)) | translate}}">
                                        <ng-container *ngFor="let item of getEventTypesByGroup(group); let i = index">                                           
                                            <option value="{{item.name}}">{{('MANAGE.ALERT_RULE.TYPE_ALERT.'+ (item.name | uppercase))| translate}}
                                            </option>
                                        </ng-container>
                                      </optgroup>                                    
                                    <option data-divider="true" *ngIf="i != getEventTypeGroups().length-1"></option>
                                </ng-container>                               
                            </select>
                        </div>

                        <div class="col-xl-4 col-lg-4  col-md-6  col-sm-12 form-group form-group--mobile">

                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="dataTable.search()">
                                <i class="icon-search"></i> {{'COMMON.GENERAL.SEARCH' | translate}}
                            </button>&nbsp;
                            <button type="button" class="btn btn-outline-brand btn-pill" (click)="resetFormSearch()">
                                <i class="icon-sync"></i>{{'COMMON.GENERAL.RESET' | translate}}
                            </button>&nbsp;
                        </div>
                    </div>
                </form>
            </div>

            <!--end: Search Form -->

            <!--begin: Datatable -->

            <div resizeObserver (resize)="onResize($event.contentRect)"
                class="kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                [ngClass]="{'kt-datatable--error':dataTable.isNotFound}" id="api_methods"
                style="position: static; zoom: 1;">
                <table class="kt-datatable__table">
                    <thead class="kt-datatable__head">
                        <tr class="kt-datatable__row" style="left: 0px;">
                            <!-- checkbox -->
                            <th *ngIf="dataTable.selecter"
                                class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                                <span style="width: 20px;">
                                    <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                        <input type="checkbox" [(ngModel)]="dataTable.isCheckBoxAll"
                                            (click)="dataTable.setCheckBoxAll()">&nbsp;<span></span>
                                    </label>
                                </span>
                            </th>
                            <!-- end checkbox -->
                            <th *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                class="kt-datatable__cell kt-datatable__cell--sort">
                                <a class="kt-datatable__toggle-detail">
                                </a>
                            </th>

                            <ng-container *ngFor="let column of dataTable.getColumns()">

                                <th [ngClass]="{'kt-datatable__cell--sorted':column.isSort}"
                                    [ngStyle]="{'display':(!column.isShow?'none':'')}" [attr.data-field]="column.field"
                                    class="kt-datatable__cell kt-datatable__cell--sort {{column.class}}"
                                    (click)="dataTable.sort(column.field)">
                                    <span [ngStyle]="column.style">{{column.translate | translate}}
                                        <i *ngIf="column.isSort"
                                            [ngClass]="{'flaticon2-arrow-down':(column.isSort && column.sortable =='desc'),'flaticon2-arrow-up':(column.isSort && column.sortable =='asc')}"></i>
                                    </span>
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody class="kt-datatable__body" [ngStyle]="dataTable.bodyStyle">
                        <ng-container *ngFor="let item of dataTable.data;let i=index">
                            <tr [ngClass]="{'kt-datatable__row--active':item.dt_selecter}" class="kt-datatable__row"
                                style="left: 0px;">
                                <!-- checkbox -->
                                <td *ngIf="dataTable.selecter"
                                    class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                                    data-field="RecordID"><span style="width: 20px;">
                                        <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                            <input type="checkbox" [(ngModel)]="item.dt_selecter"
                                                (click)="dataTable.setCheckBox(i)">&nbsp;<span></span>
                                        </label>
                                    </span>
                                </td>
                                <!-- end checkbox -->
                                <td *ngIf="dataTable.isShowSubRow" style="width: 13px;"
                                    class="kt-datatable__cell kt-datatable__toggle-detail">
                                    <a (click)="dataTable.showSubRow(i)" class="kt-datatable__toggle-detail">
                                        <i [ngClass]="{'icon-caret-down' : (dataTable.lastRowShow == i), 
                                          'icon-caret-right' : (dataTable.lastRowShow != i)}"></i>
                                    </a>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[0].isShow?'none':'')}"
                                    class="kt-datatable__cell kt-datatable__cell" data-field="id">
                                    <span
                                        [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[1].isShow?'none':'')}"
                                    data-field="key_name" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.name}}"
                                        [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[2].isShow?'none':'')}"
                                    data-field="name" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[2].style" 
                                    ngbTooltip="{{('MANAGE.ALERT_RULE.TYPE_ALERT.'+ (item.eventType | uppercase))| translate}}"> 
                                        {{('MANAGE.ALERT_RULE.TYPE_ALERT.'+ (item.eventType | uppercase))| translate}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[3].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.textPrimary}}"
                                        [ngStyle]="dataTable.getColumns()[3].style">{{item.textPrimary}}</span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[4].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span ngbTooltip="{{item.description}}" [ngStyle]="dataTable.getColumns()[4].style">
                                        {{item.description}}
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[5].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[5].style">
                                        <i *ngIf="item.suspended == 1" class="fa fa-check-circle kt-font-success"></i>
                                        <i *ngIf="item.suspended == 0" class="fa fa-minus-circle kt-font-danger"></i>
                                    </span>
                                </td>

                                <td [ngStyle]="{'display':(!dataTable.getColumns()[6].isShow?'none':'')}"
                                    data-field="hire_date" class="kt-datatable__cell">
                                    <span ng [ngStyle]="dataTable.getColumns()[6].style">
                                        {{item.createdAt | userDate}}
                                    </span>
                                </td>
                                <td [ngStyle]="{'display':(!dataTable.getColumns()[7].isShow?'none':'')}"
                                    data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span [ngStyle]="dataTable.getColumns()[7].style"
                                        style="overflow: visible; position: relative;">
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="openPopup(content,'edit',item)">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            data-original-title="Delete User"
                                            (click)="openPopup(content,'delete',item)">
                                            <i class="icon-trash"></i>
                                        </a>
                                        <a *ngIf='item.suspended == 1'
                                            ngbTooltip="{{'COMMON.ACTIONS.LOCK' | translate}}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="changeLock(item.id,item.suspended)">
                                            <i *ngIf='item.suspended == 1' class="icon-lock"></i>

                                        </a>
                                        <a *ngIf='item.suspended == 0'
                                            ngbTooltip="{{'COMMON.ACTIONS.UNLOCK' | translate}}"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                            (click)="changeLock(item.id,item.suspended)">
                                            <i *ngIf='item.suspended == 0' class="icon-lock-open"></i>

                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <!-- Sub row -->
                            <tr *ngIf="dataTable.lastRowShow==i && dataTable.isShowSubRow"
                                class="kt-datatable__row-detail">
                                <td class="kt-datatable__detail" colspan="9">
                                    <table>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[0].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[0].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span
                                                    [ngStyle]="dataTable.getColumns()[0].style">{{i+dataTable.getPaginations().form}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[1].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[1].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[1].style">{{item.name}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[2].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[2].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[2].style"
                                                    translate="{{item.key|translate}}">{{item.key|translate}}</span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[3].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[3].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[3].style"
                                                    translate="{{item.textPrimary}}">{{item.textPrimary}}</span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[4].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[4].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[4].style"
                                                    translate="{{item.description}}">
                                                    {{item.description}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[5].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[5].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[5].style">
                                                    <i *ngIf="item.suspended == 1"
                                                        class="fa fa-check-circle kt-font-success"></i>
                                                    <i *ngIf="item.suspended == 0"
                                                        class="fa fa-minus-circle kt-font-danger"></i>
                                                </span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[6].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[6].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span ng [ngStyle]="dataTable.getColumns()[6].style">
                                                    {{item.createdAt | userDate}}
                                                </span>
                                            </td>
                                        </tr>

                                        <tr [ngStyle]="{'display':(dataTable.getColumns()[7].isShow?'none':'')}"
                                            class="kt-datatable__row">
                                            <td class="kt-datatable__cell">
                                                <span>{{dataTable.getColumns()[7].translate | translate}}</span>
                                            </td>
                                            <td class="kt-datatable__cell">
                                                <span [ngStyle]="dataTable.getColumns()[7].style"
                                                    style="overflow: visible; position: relative;">
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DETAIL' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="editAlert(item.id,content)">
                                                        <i class="icon-edit"></i>
                                                    </a>
                                                    <a ngbTooltip="{{'COMMON.ACTIONS.DELETE' | translate }}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        data-original-title="Delete User"
                                                        (click)="getIdAction(item.id,delete)">
                                                        <i class="icon-trash"></i>
                                                    </a>
                                                    <a *ngIf='item.suspended == 1'
                                                        ngbTooltip="{{'COMMON.ACTIONS.LOCK' | translate}}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="changeLock(item.id,item.suspended)">
                                                        <i *ngIf='item.suspended == 1' class="icon-lock"></i>

                                                    </a>
                                                    <a *ngIf='item.suspended == 0'
                                                        ngbTooltip="{{'COMMON.ACTIONS.UNLOCK' | translate}}"
                                                        class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                                        (click)="changeLock(item.id,item.suspended)">
                                                        <i *ngIf='item.suspended == 0' class="icon-lock-open"></i>

                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- No records found -->
                        <div *ngIf="dataTable.isNotFound" class="kt-datatable--error">
                            <kt-not-found></kt-not-found>
                        </div>
                    </tbody>


                </table>

                <div class="kt-datatable__pager kt-datatable--paging-loaded" *ngIf="dataTable.data?.length != 0">
                    <ul class="kt-datatable__pager-nav">
                        <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getFirstPage())">
                                <i class="flaticon2-fast-back"></i></a></li>
                        <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getFirstPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()-1)">
                                <i class="flaticon2-back"></i></a></li>
                        <li></li>
                        <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                title="Page number"></li>
                        <li *ngFor="let page of dataTable.getPageDisplay()">
                            <a (click)="dataTable.gotoPage(page)"
                                class="kt-datatable__pager-link kt-datatable__pager-link-number "
                                [ngClass]="{'kt-datatable__pager-link--active':page==dataTable.getCurrentPage()}"
                                data-page="1" title="{{page}}">{{page}}</a>
                        </li>
                        <li style=""></li>
                        <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next "
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                (click)="dataTable.gotoPage(dataTable.getCurrentPage()+1)"><i
                                    class=" flaticon2-next"></i></a></li>
                        <li><a title="Last"
                                [ngClass]="{'kt-datatable__pager-link--disabled':(dataTable.getCurrentPage()==dataTable.getLastPage())}"
                                class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                (click)="dataTable.gotoPage(dataTable.getLastPage())">
                                <i class="flaticon2-fast-next"></i></a></li>
                    </ul>
                    <div class="kt-datatable__pager-info">
                        <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                            <select (change)="dataTable.setPageSize($event.target.value)"
                                class="selectpicker kt-datatable__pager-size" title="Select page size"
                                data-selected="30" data-width="60px">
                                <option *ngFor="let item of dataTable.getPaginationSelect()"
                                    [selected]="item==dataTable.getPaginations().pageSize" value="{{item}}"
                                    title="{{item}}" data-toggle="tooltip">{{item}}</option>
                            </select>
                        </div><span class="kt-datatable__pager-detail">{{'COMMON.SHOW' | translate}}
                            {{dataTable.getPaginations().form}} -
                            {{dataTable.getPaginations().to}} {{'COMMON.OF' | translate}}
                            {{dataTable.getPaginations().total}}</span>
                    </div>
                </div>
            </div>

            <!--end: Datatable -->
            <div *ngIf="dataTable.isLoading" class="blockUI blockMsg blockElement"
                style="z-index: 1011; position: absolute; padding: 0px; margin: 0px; width: 169px; top: 50%; left: 45%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;">
                <div class="blockui "><span>{{'COMMON.PLEASE_WAIT' | translate}}</span><span>
                        <div class="kt-spinner kt-spinner--loader kt-spinner--brand "></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end:: Content -->
<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <ng-container [ngSwitch]="action">
            <h4 *ngSwitchCase="'delete'" class="modal-title">
                {{'MANAGE.REPORT_SCHEDULE.GENERAL.TITLE_FORM_DELETE' | translate}}
            </h4>
            <h4 *ngSwitchCase="'edit'" class="modal-title"> {{'MANAGE.ALERT_RULE.GENERAL.TITLE_FORM_EDIT'| translate}}
            </h4>
            <h4 *ngSwitchCase="'add'" class="modal-title"> {{'MANAGE.ALERT_RULE.GENERAL.TITLE_FORM_ADD'| translate}}
            </h4>
        </ng-container>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-container [ngSwitch]="action">
            <ng-container *ngSwitchCase="'delete'" [ngTemplateOutlet]="tmpConfirmDelete">
            </ng-container>
            <ng-container *ngSwitchCase="'edit'" [ngTemplateOutlet]="tmpFormAddAndEdit">
            </ng-container>
            <ng-container *ngSwitchCase="'add'" [ngTemplateOutlet]="tmpFormAddAndEdit">
            </ng-container>
        </ng-container>
    </div>
    <div class="modal-footer">
        <ng-container [ngSwitch]="action">
            <button *ngSwitchCase="'edit'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.SAVE_CHANGES' | translate}}</button>
            <button *ngSwitchCase="'add'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.ADD' | translate}}</button>
            <button *ngSwitchCase="'delete'" type="button" class="btn btn-primary"
                (click)="onSubmit()">{{'COMMON.ACTIONS.CONFIRM' | translate}}</button>
        </ng-container>
        <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
    </div>
</ng-template>

<ng-template #tmpFormAddAndEdit>
    <div class="tab-title-modal">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" sensor="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="kt_tab_header_base" href="#kt_tab_base" role="tab"
                    aria-selected="false">{{ 'COMMON.GENERAL.BASE' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="kt_tab_header_info_type" href="#kt_tab_info_type" (click)="onClickTabEventType()" role="tab"
                    aria-selected="true">{{ 'MANAGE.ALERT_RULE.GENERAL.TYPE_ALERT' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="kt_tab_header_device" href="#kt_tab_device" role="tab"
                    aria-selected="true">{{'MANAGE.ALERT_RULE.GENERAL.DEVICE' | translate }}</a>
            </li>          
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="kt_tab_header_geofence" href="#kt_tab_geofence" role="tab"
                    aria-selected="true">{{ 'MANAGE.ALERT_RULE.GENERAL.GEOFENCE' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="kt_tab_header_notification" href="#kt_tab_notification"
                    role="tab" aria-selected="true">{{ 'MANAGE.ALERT_RULE.GENERAL.NOTIFICATION' | translate }}</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="formAlert">
        <!-- basic -->
        <div class="tab-pane active" id="kt_tab_base" sensor="tabpanel">
            <form class="kt-form px-3 is-invalid" [formGroup]="formBasic">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label> {{'MANAGE.ALERT_RULE.GENERAL.NAME_ALERT'| translate}}</label>
                        <span class="text-danger"> *</span>
                        <input type="text" class="form-control" formControlName="name">
                        <kt-message-error [errorFormGroup]="fBasic" [errorFormControlName]="'name'">
                        </kt-message-error>
                    </div>
                    <div class="col-md-6">
                        <label> {{'COMMON.ACTIONS.ACTIVE' | translate }}</label><br />
                        <label for="">
                            <span class="kt-switch kt-switch--icon">
                                <label>
                                    <input type="checkbox" formControlName="active">
                                    <span></span>
                                </label>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label> {{'COMMON.COLUMN.DESCRIPTION'| translate}}</label>
                        <textarea class="form-control" rows="3" formControlName="description">
                        </textarea>
                    </div>
                </div>

            </form>
        </div>        
        <!--end tab global-->
        <!-- alert type  -->
        <div class="tab-pane " id="kt_tab_info_type" sensor="tabpanel">            
            <div class="kt-form px-3 ">
                <div class="row">
                    <div class="col-lg-6">
                        <form class="is-invalid" [formGroup]="formEventType">
                            <div class="form-group  ">
                                <div style="display: flex;">
                                    <label class="">
                                        {{'MANAGE.ALERT_RULE.GENERAL.TYPE_ALERT'| translate}}                                    
                                    </label>
                                    <span class="text-danger" style="padding: 0px 5px;"> *</span>
                                    <kt-message-error [errorFormGroup]="fEventType" [errorFormControlName]="'eventType'">
                                    </kt-message-error>
                                </div>                                         
                                <div class="accordion  accordion-toggle-arrow" id="accordionExample4">
                                    <ul class="nav kt-nav nav-tabs tab-event" role="tablist" style="padding: 0px">
                                        <div class="nav card" *ngFor="let group of getEventTypeGroups();let j = index">
                                            <div class="card-header" id="headingOne4">
                                                <div class="card-title "  [ngClass]="{'collapsed': group != getEventTypeGroupActive }"
                                                     data-toggle="collapse"
                                                    [attr.data-target]="'#collapse_'+group" aria-expanded="false"
                                                    aria-controls="collapseOne4">
                                                    {{('MANAGE.ALERT_RULE.GROUP_TYPE_ALERT.'+ (group| uppercase)) | translate}}
                                                </div>
                                            </div>
                                            <div id="collapse_{{group}}" class="collapse" [ngClass]="{'show': group == getEventTypeGroupActive }"
                                                aria-labelledby="headingOne" data-parent="#accordionExample4">
                                                <div class="card-body">
                                                    <li class="kt-nav__item"
                                                        *ngFor='let item of getEventTypesByGroup(group); let i = index'>
                                                        <a (click)="onChangeEventAlert(item)" class="kt-nav__link"
                                                            [ngClass]="currentTemplate.name == item.name?'active':''"
                                                            data-toggle="tab" href="#eventTypes{{item.name}}" id="eventTypes{{item.name}}" role="tab">
                                                            <span class="kt-nav__link-text">
                                                                {{('MANAGE.ALERT_RULE.TYPE_ALERT.'+ (item.name | uppercase))| translate}}
                                                            </span>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </form>
                       
                    </div>
                    <div class="col-lg-6">    
                        <form class="is-invalid" [formGroup]="formEventParams">
                            <div class="form-group row" *ngIf="currentTemplate.template['powerVol']!=undefined">
                                <label for="">{{'MANAGE.ALERT_RULE.PARAMS.POWER_VOL' | translate}} (V)</label>
                                <input type="text" class="form-control" [formControl]="formEventParams.controls['value']">
                                <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'value'">
                                </kt-message-error>
                            </div>
                            <div class="form-group row" *ngIf="currentTemplate.template['value']!=undefined">
                                <label for="">{{'MANAGE.ALERT_RULE.PARAMS.VALUE' | translate}}</label>
                                <input type="text" class="form-control" [formControl]="formEventParams.controls['value']">
                                <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'value'">
                                </kt-message-error>
                            </div>
                            <div class="form-group row" *ngIf="currentTemplate.template['percent']!=undefined">
                                <label for="">{{'MANAGE.ALERT_RULE.PARAMS.PERCENT' | translate}} (%)</label>
                                <input type="text" class="form-control" mask="0*" [formControl]="formEventParams.controls['value']">
                                <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'value'">
                                </kt-message-error>
                            </div>
                            <div class="form-group row" *ngIf="currentTemplate.template['speed']!=undefined">
                                <label for="">{{'MANAGE.ALERT_RULE.PARAMS.SPEED' | translate}} (km/h)</label>
                                <input type="text" class="form-control" [formControl]="formEventParams.controls['value']">
                                <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'value'">
                                </kt-message-error>
                            </div>
                            <div class="form-group row" *ngIf="currentTemplate.template['time']!=undefined">
                                <label for="">{{'MANAGE.ALERT_RULE.PARAMS.TIME' | translate}} (hh:mm:ss)</label>
                                <input type="text" class="form-control"  mask="Hh:m0:s0" [showMaskTyped]="true" [validation]="true" [formControl]="formEventParams.controls['value']">
                                <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'value'">
                                </kt-message-error>
                            </div>
                            <div class="form-group row" *ngIf="currentTemplate.template['distance']!=undefined">
                                    <label for="">{{'MANAGE.ALERT_RULE.TYPE_ALERT.DISTANCE' | translate}} (m)</label>
                                    <input type="text" class="form-control"   [formControl]="formEventParams.controls['value']">
                                    <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'value'">
                                    </kt-message-error>
                                </div>
                             <div class="form-group row" *ngIf="currentTemplate.template['lostFuel']!=undefined">
                                        <label for="">{{'MANAGE.ALERT_RULE.TYPE_ALERT.LOST_FUEL' | translate}} (lit)</label>
                                        <input type="text" class="form-control"   [formControl]="formEventParams.controls['value']">
                                        <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'value'">
                                        </kt-message-error>
                             </div>   
                            <!-- interval -->
                            <div class="form-group row" *ngIf="currentTemplate.template['interval']!=undefined">
                                <label for="">{{'MANAGE.ALERT_RULE.PARAMS.INTERVAL' | translate}} (hh:mm:ss)</label>
                                <input type="text" class="form-control" mask="Hh:m0:s0" [showMaskTyped]="true" [validation]="true" [formControl]="formEventParams.controls['interval']">
                                <kt-message-error [errorFormGroup]="fEventParams" [errorFormControlName]="'interval'">
                                </kt-message-error>
                            </div>
                        </form>    
                    </div>                                       
                </div>
            </div>
                
          
        </div>
        <!-- tab device  -->
        <div class="tab-pane" id="kt_tab_device" sensor="tabpanel">
            <form class="kt-form px-3 is-invalid" [formGroup]="formDevice">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label> {{'MANAGE.ALERT_RULE.GENERAL.ALWAYS_SELECT_ALL_DEVICE' | translate }}</label><br />
                        <label for="">
                            <span class="kt-switch kt-switch--icon">
                                <label>
                                    <input type="checkbox" formControlName="isAllDevices">
                                    <span></span>
                                </label>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'kt-hide': formDevice.controls['isAllDevices'].value}">
                    <div class="col-lg-12">
                        <label>{{'MANAGE.ALERT_RULE.GENERAL.DEVICE' | translate }}
                            ({{listDeviceSelected.length}})</label>
                        <span class="text-danger"> *</span>
                        <kt-message-error [errorFormGroup]="fDevice" [errorFormControlName]="'deviceIds'">
                        </kt-message-error>
                        <div class="lists-group-permission lists-devices lists-devices-global">
                            <kt-widget-check-list [name]="'list_device'" [dataChangeEmiter]="checkListDataChangeEmiter" [data]="[]" [filter]="'name'"
                                placeholder="{{'COMMON.GENERAL.SEARCH' | translate}} ..." [isSwitch]="false"
                                [max-heigth]="'1000'" [size]="'col-lg-4'" (checkedChange)="onWidgetCheckChange($event)">
                            </kt-widget-check-list>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- geofence config -->
        <div class="tab-pane" id="kt_tab_geofence" sensor="tabpanel">
            <form class="kt-form px-3 is-invalid" [formGroup]="formGeofence">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="kt-radio-inline">
                                    <label class="kt-radio kt-radio--tick kt-radio--brand">
                                        <input type="radio" value="0" formControlName="geofenceStatus">
                                        {{'MANAGE.ALERT_RULE.GEOFENCE.NONE'| translate}}
                                        <span></span>
                                    </label>
                                    <label class="kt-radio kt-radio--tick kt-radio--brand">
                                        <input type="radio" value="2" formControlName="geofenceStatus">
                                        {{'MANAGE.ALERT_RULE.GEOFENCE.OUT'| translate}}
                                        <span></span>
                                    </label>
                                    <label class="kt-radio kt-radio--tick kt-radio--brand">
                                        <input type="radio"  value="1" formControlName="geofenceStatus">
                                        {{'MANAGE.ALERT_RULE.GEOFENCE.IN'| translate}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="{'kt-hide': formGeofence.controls['geofenceStatus'].value==0}">
                            <div class="col-md-12">
                                <label> {{'MANAGE.ALERT_RULE.GENERAL.ALWAYS_SELECT_ALL_GEOFENCE' | translate }}</label><br />
                                <label for="">
                                    <span class="kt-switch kt-switch--icon">
                                        <label>
                                            <input type="checkbox" formControlName="isAllGeofence">
                                            <span></span>
                                        </label>
                                    </span>
                                </label>
                            </div>
                        </div>                      
                    </div>
                    
                    <div class="col-lg-12" [ngClass]="{'kt-hide': formGeofence.controls['geofenceStatus'].value==0 || formGeofence.controls['isAllGeofence'].value}">
                        <div class="form-group row ">
                            <div class="col-lg-12">      
                                <label>{{'MANAGE.ALERT_RULE.GENERAL.GEOFENCE' | translate }}
                                    ({{listGeofenceSelected.length}})</label>                                                      
                                <div class="lists-devices lists-group-permission  lists-geofence">
                                    <kt-widget-check-list  [name]="'list_geofence'" [dataChangeEmiter]="checkListGeofenceChangeEmiter" [data]="[]" [filter]="'name'"
                                        placeholder="{{'COMMON.GENERAL.SEARCH' | translate}} ..." [isSwitch]="false"
                                        [max-heigth]="'1000'" [size]="'col-lg-4'" (checkedChange)="onChangeListGeofence($event)">
                                    </kt-widget-check-list>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end tab geofence-->

        <!-- info notification -->
        <div class="tab-pane" id="kt_tab_notification" sensor="tabpanel">
            <form class="kt-form px-3 is-invalid" [formGroup]="formNotification">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="">
                                    {{'MANAGE.ALERT_RULE.GENERAL.NOTIFICATION_TEXT'| translate}}
                                </label>
                                <span class="text-danger"> *</span>
                                <input type="text"
                                class="form-control" placeholder="" formControlName="textPrimary">
                                <kt-message-error [errorFormGroup]="fNotification"
                                    [errorFormControlName]="'textPrimary'">
                                </kt-message-error>                            
                            </div>                           
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.DAY'| translate}}:
                                </label>                                
                                <div class="list-weeks" formArrayName="listWeeks">
                                    <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand"
                                        *ngFor="let row of  listWeeks;let i=index" [formGroupName]="i">
                                        <input type="checkbox" formControlName="itemChecked"> 
                                        {{('MANAGE.ALERT_RULE.DAY.' + row.name | uppercase) | translate}}
                                        <span></span>
                                    </label>
                                    <kt-message-error [errorFormGroup]="fNotification"
                                    [errorFormControlName]="'days'">
                                </kt-message-error> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.TIME_RANGE'| translate}}:
                                </label>

                                <!-- <div class="list-time row">
                                    <div class="col-sm-1 text-from">
                                        <span class="">
                                            {{'MANAGE.ALERT_RULE.NOTIFICATION.FROM'| translate}}
                                        </span>
                                    </div>
                                    <div class="col-sm-5">
                                        <ngb-timepicker [(ngModel)]="timeStart"
                                            formControlName="scheduleTimeStart">
                                        </ngb-timepicker>
                                    </div>
                                    <div class="col-sm-1 text-from">
                                        <span class="">
                                            {{'MANAGE.ALERT_RULE.NOTIFICATION.TO'| translate}}
                                        </span>
                                    </div>
                                    <div class="col-sm-5">
                                        <ngb-timepicker [(ngModel)]="timeEnd"
                                            formControlName="scheduleTimeEnd">
                                        </ngb-timepicker>
                                    </div>
                                </div> -->
                            </div>
                        </div>  
                        <div class="form-group row">
                            <div class="col-md-6">                                
                                <label for="">  {{'MANAGE.ALERT_RULE.NOTIFICATION.FROM'| translate}} (hh:mm:ss)</label>
                                <input type="text" class="form-control" mask="Hh:m0:s0" [showMaskTyped]="true" [validation]="true" formControlName="scheduleTimeStart">
                                <kt-message-error [errorFormGroup]="fNotification" [errorFormControlName]="'scheduleTimeStart'">
                                </kt-message-error>
                            </div>  
                            <div class="col-md-6">                                
                                <label for=""> {{'MANAGE.ALERT_RULE.NOTIFICATION.TO'| translate}} (hh:mm:ss)</label>
                                <input type="text" class="form-control" mask="Hh:m0:s0" [showMaskTyped]="true" [validation]="true" formControlName="scheduleTimeEnd">
                                <kt-message-error [errorFormGroup]="fNotification" [errorFormControlName]="'scheduleTimeEnd'">
                                </kt-message-error>
                            </div>                          
                        </div>                                                                                                                            
                        
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.OPERATION' | translate}}:
                                </label>
                                <div class="kt-radio-inline">
                                    <label class="kt-radio kt-radio--tick kt-radio--brand">
                                        <input type="radio" value="0" formControlName="periodActive">
                                        {{'MANAGE.ALERT_RULE.NOTIFICATION.OPERATION_ALWAYS'| translate}}
                                        <span></span>
                                    </label>
                                    <label class="kt-radio kt-radio--tick kt-radio--brand">
                                        <input type="radio" value="1" formControlName="periodActive">
                                        {{'MANAGE.ALERT_RULE.NOTIFICATION.OPERATION_TIME'| translate}}
                                        <span></span>
                                    </label>
                                </div> 
                            </div>                                                     
                        </div>
                        <div class="form-group row" *ngIf="formNotification.controls['periodActive'].value == '1'">
                            <div class="col-md-12">
                                <label class="">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.FROM_DAY'| translate}}:
                                </label>
                                <kt-date-range-picker container="body"
                                        class="input-group" [options]="periodFromConfig"
                                        #periodFrom
                                        (dateChange)="onChangePeriodFrom($event)">
                                    </kt-date-range-picker>
                                    <kt-message-error [errorFormGroup]="fNotification"
                                        [errorFormControlName]="'periodFrom'">
                                    </kt-message-error>
                            </div>                                                     
                        </div>
                        <div class="form-group row" *ngIf="formNotification.controls['periodActive'].value == '1'">
                            <div class="col-md-12">
                                <label class="">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.TO_DAY'| translate}}:
                                </label>
                                <kt-date-range-picker container="body"
                                    class="input-group" [options]="periodToConfig"
                                    #periodTo (dateChange)="onChangePeriodTo($event)">
                                </kt-date-range-picker>
                                <kt-message-error [errorFormGroup]="fNotification"
                                    [errorFormControlName]="'periodTo'">
                                </kt-message-error>
                            </div>                           
                        </div>                        
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label class="">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.SMS'| translate}}
                                </label>
                                <input type="text" class="form-control"
                                placeholder="{{'MANAGE.USER.GENERAL.PHONE' | translate}} 1, {{'MANAGE.USER.GENERAL.PHONE' | translate}} 2"
                                formControlName="notificationSMS">
                                <kt-message-error [errorFormGroup]="fNotification"
                                [errorFormControlName]="'notificationSMS'">
                            </kt-message-error>
                                <span>{{'MANAGE.ALERT_RULE.NOTIFICATION.SMS_LABEL'| translate}}</span>                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>{{'MANAGE.ALERT_RULE.NOTIFICATION.EMAIL'| translate}}</label>                                                           
                                <input type="text" class="form-control"
                                placeholder="{{'MANAGE.USER.GENERAL.EMAIL' | translate}} 1, {{'MANAGE.USER.GENERAL.EMAIL' | translate}} 2"
                                formControlName="notificationEmail">
                                <kt-message-error [errorFormGroup]="fNotification"
                                    [errorFormControlName]="'notificationEmail'">
                                </kt-message-error>
                                <span>{{'MANAGE.ALERT_RULE.NOTIFICATION.EMAIL_LABEL'| translate}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand">
                                    <input type="checkbox" formControlName="notificationIsPushOnMobile">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.PUSH_TOOLTIP' | translate}}
                                    <span></span>
                                </label>&nbsp;
                                <a class="icon-mobile kt-font-brand ic-lg"
                                    ngbTooltip="{{'MANAGE.ALERT_RULE.NOTIFICATION.PUSH_TOOLTIP' | translate}}">                                          
                                </a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label class="kt-checkbox kt-checkbox--tick kt-checkbox--brand ">
                                    <input type="checkbox" formControlName="notificationIsPushSOS">
                                    {{'MANAGE.ALERT_RULE.NOTIFICATION.EMERGENCY_TOOLTIP' | translate}}
                                    <span></span>
                                </label> &nbsp;
                                <a class="icon-phone-volume kt-font-brand ic-lg"
                                    ngbTooltip="{{'MANAGE.ALERT_RULE.NOTIFICATION.EMERGENCY_TOOLTIP' | translate}}">                                            
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</ng-template>

<!-- comfirm delete -->
<ng-template #tmpConfirmDelete>
    <i class="fa fa-question-circle"></i>
    {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate}}
</ng-template>

<!-- end:: Content -->

<!-- modal popup -->
<ng-template #content2 let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" *ngIf="isEdit">
            {{'MANAGE.ALERT_RULE.GENERAL.TITLE_FORM_EDIT'| translate}}
        </h5>
        <h5 class="modal-title" *ngIf="!isEdit">
            {{'MANAGE.ALERT_RULE.GENERAL.TITLE_FORM_ADD'| translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body div-scrollbar modal-body-alert" *ngFor="let data of dataDefault">

    </div>
    <!--end body modal-->
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary ">
            {{ (isEdit?'COMMON.ACTIONS.SAVE_CHANGES':'COMMON.ACTIONS.ADD') | translate }}
        </button>

        <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'COMMON.ACTIONS.CANCEL' | translate}}
        </button>
    </div>

</ng-template>
<!-- end modal popup -->
<!-- end:: Content -->
<!-- modal delete user -->
<ng-template #delete2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            {{'MANAGE.REPORT_SCHEDULE.GENERAL.TITLE_FORM_DELETE' | translate}}
        </h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <i class="fa fa-question-circle"></i>
        {{'COMMON.MESSAGE.COMFIRM_DELETE' | translate }}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary"
            (click)="deleteAlert()">{{'COMMON.ACTIONS.CONFIRM' | translate }}</button>
        <button type="button" class="btn btn-secondary"
            (click)="modal.dismiss('Cross click')">{{'COMMON.ACTIONS.CANCEL' | translate }}</button>
    </div>
</ng-template>
<!--end modal delete user-->