.show-info-box{
    display: none;
}
.info-header{
    
    position: absolute;
    right: 10px;
    top: -29px;
    width: 102px;
    overflow: hidden;
    
    padding: 1px 1px 0px 1px;
    &.box-collapse{
        bottom: 0px;
        top: -32px;
    }
    .setting-layout{
        border-bottom: 30px solid #f9f9f9;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
    }
    .sub-header{
        border-bottom: 29px solid #dcdee0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        height: 0;
        position: absolute;
        top: 0px;
        width: 100px;
        z-index: -1;
    }
}
.info-box{
    display: flex;
    min-height: 150px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #dcdee0;
    overflow: hidden;
    .content-body{
        display: flex;
        .box{
            display: flex;
            min-width: 250px;
            flex-direction: column;
            flex-wrap: nowrap;
            border-right: 1px solid #dcdee0;
            .box-title{
                font-weight: bold;
                padding: 5px;
                background: #f9f9f9;
                border-bottom: 1px solid #dcdee0;
                display: -webkit-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 20px;
                .name{
                    padding-left: 5px;
                }
                .left,.right{
                    display: flex;
                    align-items: center;
                    .action{
                        width: 16px;
                        height: 16px;
                        margin: 0 4px;
                        cursor: pointer;
                    }
                }
            }
            .box-body{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 5px;
                max-height: 130px;
                max-width: 500px;
                overflow: auto;
                .item-row{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding: 4px 0;
                    border-bottom: 1px solid #dcdee0;
                    flex: 1 1 200px;
                    margin: 0 2px;
                    align-items: center;
                    height: 30px;
                    overflow: hidden;
                    .name{
                        width: 30px;
                        color: #969696;
                    }
                    .value{
                        // max-width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color:#384045;
                    }
                }
                
            }
        }
        .sensor{
            .box-body{
                .item-row{
                    .name{
                        width: 50%;
                        max-width:50%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .value{
                        width: 50%;
                        max-width:50%;
                    }
                }
            }
            
        }
    }
}
@media(max-width:768px){
    .content-body{
        display: flex;
        flex-direction: column!important;
    }
}