<div class="kt-device-info-box">
    <div class="info-header" [ngClass]="{'box-collapse':isClosed}">
        <div class="setting-layout">
            <button class="btn btn-icon btn-sm btn-circle" (click)="onToggle()">
                <i [ngClass]="{'icon-angle-up':isClosed,'icon-angle-down':!isClosed}"></i>
            </button>
            <button class="btn btn-icon btn-sm btn-circle" (click)="openSettingLayout()">
                <i class="flaticon2-settings"></i>
            </button>
        </div>
        <div class="sub-header">
        </div>
    </div>
    <div class="info-box" *ngIf="!isClosed">
        <!-- header -->
        <div class="header">
            <!-- toggle -->
            <div class="toggle"></div>
            <!-- setting -->
            <div class="setting">

            </div>
        </div>
        <!-- body -->
        <div class="content-body">
            <!-- info  -->
            <div class="box info">
                <!-- status and name  -->
                <div class="box-title cs-pt" (click)="onSelectDevice(item)">
                    <div class="left">
                        <i class="icon-circle1 " [ngStyle]="{'color':item.statusType?.colorCode}"></i>
                        <span class="name cs-pt" (click)="onSelectDevice(item)">{{item.name || "Unknow"}}</span>
                        <span class="action" *ngIf="item.id"
                            ngbTooltip="{{(!item.favorite?'COMMON.LIST_DEVICE.FAVORITE':'COMMON.LIST_DEVICE.DISFAVOUR') | translate}}"
                            container="body" (click)="onFavorite(item)">
                            <i class="ic-lg"
                                [ngClass]="{'icon-star':!item.favorite,'icon-star1 kt-font-brand':item.favorite}"></i>
                        </span>
                    </div>
                    <!-- <div class="right">
                        <span class="action" ngbTooltip="{{'COMMON.LIST_DEVICE.DETAIL' | translate}}"
                            container="body"><i class="icon-car-alt ic-lg"></i></span>
                        <span class="action" ngbTooltip="{{'COMMON.LIST_DEVICE.HISTORY_TRIPS' | translate}}"
                            container="body"><i class="icon-route ic-lg"></i></span>
                    </div> -->

                </div>
                <div class="box-body">
                    <!-- number plate -->
                    <div class="item-row" *ngIf="item.numberPlate && checkShow('infoDevice.deviceData.numberPlate')">
                        <div class="name"><i class="icon-licence-plate"></i></div>
                        <div class="value">{{item.numberPlate}}</div>
                    </div>
                    <!-- imei -->
                    <div class="item-row" *ngIf="item.name && checkShow('infoDevice.deviceData.imei')">
                        <div class="name"><i class="icon-barcode"></i></div>
                        <div class="value">{{item.imei}}</div>
                    </div>
                    <!-- simno  -->
                    <div class="item-row" *ngIf="item.simno && checkShow('infoDevice.deviceData.simno')">
                        <div class="name"><i class="icon-sim-card"></i></div>
                        <div class="value">{{item.simno}}</div>
                    </div>
                    <!-- VIN  -->
                    <div class="item-row" *ngIf="item.VIN && checkShow('infoDevice.deviceData.vin')">
                        <div class="name"> {{'COMMON.LIST_DEVICE.VIN' | translate}}</div>
                        <div class="value">{{item.VIN}}</div>
                    </div>
                    <!-- gsm -->
                    <div class="item-row" *ngIf="item.statusType?.name!='lostGPRS' && item.statusType?.name!='lostSignal'
                            && checkShow('infoDevice.baseData.gsm')">
                        <div class="name"> <svg enable-background="new 0 0 128 128" height="12px" version="1.1"
                                viewBox="0 0 128 128" width="12px" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                style="widows: 12px;height:12px">
                                <g fill="#CCCCCC">
                                    <path
                                        d="M18.863,86.36h-5.974C7.98,86.36,4,90.326,4,95.218v19.915c0,4.897,3.98,8.86,8.889,8.86h5.974   c4.909,0,8.889-3.963,8.889-8.86V95.218C27.751,90.326,23.771,86.36,18.863,86.36z"
                                        [ngStyle]="{'fill':(item.gsm?.level>0?'#000':'#CCCCCC')}" />
                                    <path
                                        d="M51.299,63.884h-7.034c-4.907,0-8.887,3.966-8.887,8.858v1.405v39.586v1.404   c0,4.896,3.98,8.859,8.887,8.859h7.034c4.909,0,8.889-3.963,8.889-8.859v-1.404V74.147v-1.405   C60.188,67.85,56.208,63.884,51.299,63.884z"
                                        [ngStyle]="{'fill':(item.gsm?.level>25?'#000':'#CCCCCC')}" />
                                    <path
                                        d="M83.206,41.401H76.17c-4.905,0-8.886,3.967-8.886,8.86v2.833v59.213v2.833c0,4.897,3.98,8.86,8.886,8.86   h7.036c4.909,0,8.888-3.963,8.888-8.86v-2.833V53.094v-2.833C92.094,45.369,88.115,41.401,83.206,41.401z"
                                        [ngStyle]="{'fill':(item.gsm?.level>50?'#000':'#CCCCCC')}" />
                                    <path
                                        d="M115.114,18.922h-7.036c-4.906,0-8.886,3.967-8.886,8.86v25.312v36.733v25.313   c0,4.897,3.979,8.86,8.886,8.86h7.036c4.909,0,8.886-3.963,8.886-8.86V89.827V53.094V27.782   C124,22.889,120.023,18.922,115.114,18.922z"
                                        [ngStyle]="{'fill':(item.gsm?.level>75?'#000':'#CCCCCC')}" />
                                </g>
                            </svg>
                        </div>
                        <div class="value">{{item.gsm?.translate | translate}}</div>
                    </div>
                    <!-- batery  -->
                    <div class="item-row" *ngIf="item.battery && item.statusType?.name!='lostGPRS' && item.statusType?.name!='lostSignal'
                        && checkShow('infoDevice.baseData.battery')">
                        <div class="name">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="icon">
                                <g stroke="none" stroke-width="1" style="fill: none!important;" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path
                                        d="M11,9 L11,15 L17,15 L17,9 L11,9 Z M4,7 L17,7 C18.1045695,7 19,7.8954305 19,9 L19,15 C19,16.1045695 18.1045695,17 17,17 L4,17 C2.8954305,17 2,16.1045695 2,15 L2,9 C2,7.8954305 2.8954305,7 4,7 Z"
                                        fill="#ccc" fill-rule="nonzero" />
                                    <path
                                        d="M20,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L20,14 L20,10 Z"
                                        fill="#ccc" opacity="0.3" />
                                </g>
                            </svg>
                        </div>
                        <div class="value">
                            {{(item.battery.isCharged?('COMMON.LIST_DEVICE.CHANGED' | translate) : '')}}
                            {{item.battery.percent}} %
                        </div>
                    </div>
                    <!-- voltage  -->
                    <div class="item-row" *ngIf="item.powerVoltage && checkShow('infoDevice.deviceData.powerVoltage')">
                        <div class="name"> <i class="icon-car-battery"></i></div>
                        <div class="value">{{item.powerVoltage}} V</div>
                    </div>
                    <!-- route today -->
                    <div class="item-row" *ngIf="item.dayDistance && checkShow('infoDevice.deviceData.distanceToday')">
                        <div class="name"> <i class="icon-route"></i></div>
                        <div class="value">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h18v18H0z"></path>
                                    <path fill="#B2B5B7" fill-rule="nonzero"
                                        d="M9.725 15.734l5.146-12.871L2 8.009l7.006.72z">
                                    </path>
                                </g>
                            </svg>{{item.dayDistance |  number:'1.0-2'}} km
                        </div>
                    </div>
                    <!-- driver -->
                    <div class="item-row" *ngIf="item.driver && checkShow('infoDevice.deviceData.driver')">
                        <div class="name"> <i class="icon-user-circle"></i></div>
                        <div class="value">{{item.driver?.name}}</div>
                    </div>
                    <!-- driving time -->
                    <div class="item-row" *ngIf="item.dayDrivingTime && item.dayDrivingTime!='null' 
                           && checkShow('infoDevice.deviceData.drivingTime')">
                        <div class="name"> <i class="icon-user-clock"></i></div>
                        <div class="value">{{item.dayDrivingTime  | number:'1.0-0'}}min</div>
                    </div>
                    <!-- update time -->
                    <div class="item-row" *ngIf="item.timestampUTC && checkShow('infoDevice.deviceData.updateTime')">
                        <div class="name"> <i class="icon-sync"></i></div>
                        <div class="value">{{item.timestampProcess}}</div>
                    </div>
                    <!-- group device -->
                    <div class="item-row" *ngIf="item.groupsStr?.length>0 && checkShow('infoDevice.deviceData.group')">
                        <div class="name"> <i class="icon-project-diagram"></i></div>
                        <div class="value">{{item.groupsStr}}</div>
                    </div>
                    <!-- geofence -->
                    <div class="item-row" *ngIf="item.geofence && checkShow('infoDevice.deviceData.geofence')">
                        <div class="name"> <i class="icon-pentagon"></i></div>
                        <div class="value">{{item.geofence}}</div>
                    </div>
                    <!-- address -->
                    <div class="item-row" *ngIf="item.address && checkShow('infoDevice.deviceData.address')">
                        <div class="name"> <i class="icon-map-marker-alt"></i></div>
                        <div class="value">{{item.address}}</div>
                    </div>
                    <!-- address processing  -->
                    <div class="item-row" *ngIf="item.addressLoading && checkShow('infoDevice.deviceData.address')">
                        <div class="name"> <i class="icon-map-marker-alt"></i></div>
                        <div class="value kt-spinner kt-spinner--sm kt-spinner--brand"></div>
                    </div>
                </div>
            </div>
            <!-- sensor -->
            <div class="box sensor" *ngIf="checkSensor()">
                <div class="box-title">
                    {{'MAP.TRACKING.INFO.SENSORS' | translate}}
                </div>
                <div class="box-body">
                    <!-- other data  -->
                    <div class="item-row" *ngIf="item.otherData?.air!='-' && checkShow('tracking.info.other.air')">
                        <div class="name">{{'MAP.TRACKING.INFO.AIR' | translate}}:</div>
                        <div class="value">{{item.otherData?.air | translate}}</div>
                    </div>
                    <div class="item-row" *ngIf="item.otherData?.door!='-' && checkShow('tracking.info.other.door')">
                        <div class="name">{{'MAP.TRACKING.INFO.DOOR' | translate}}:</div>
                        <div class="value">{{item.otherData?.door | translate}}</div>
                    </div>
                    <div class="item-row"
                        *ngIf="item.otherData?.engine!='-' && checkShow('tracking.info.other.engine')">
                        <div class="name">{{'MAP.TRACKING.INFO.ENGINE' | translate}}</div>
                        <div class="value">{{item.otherData?.engine | translate}}</div>
                    </div>
                    <!-- sensors -->
                    <ng-container *ngFor="let sensor of item.sensors">
                        <div class="item-row">
                            <div class="name">{{sensor.name}}:</div>
                            <div class="value"> <i class=" {{sensor.icon || 'icon-tag'}}"></i>
                                {{sensor.value | number}} {{sensor.unit}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<kt-setting-map [eventInput]="eventMapSetting"></kt-setting-map>