:host {
    width: 100%;

    .kt-header-menu-wrapper {
        height: 100%;
    }
}

.list-notification {
    ul {
        // list-style: none;
        padding-top: 22px;

        li {

            display: inline-flex;
            margin-right: 200px;

            a {
                cursor: pointer;
                font-size: 14px;
                ;
            }

            &:last-child {
                margin-right: 0px;
            }
        }
    }

}

.isActive {
    position: absolute;
    left: 20px;
}

.box-marquee {
    padding: 0px 10%;

    marquee {
        width: 1200px;
    }
}

@media (max-width: 1300px) {
    .box-marquee {
        padding: 0px;

        marquee {
            width: 1000px;
        }
    }
}
@media (max-width:1024px){
	.box-marquee{
		display: none;
	}
}