<div class="box-marquee">
	<marquee class="list-notification" onMouseOver="this.stop()" onMouseOut="this.start()">
		<ul>
			<li *ngFor="let item of listContentSelect;let i = index">
				<a (click)="showDetailNotification(content,item)">{{i+1}}.{{item.title}}</a>
			</li>

		</ul>
	</marquee>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">
			{{dataDefault.title | uppercase}}
		</h4>
		<!-- <h3><span>2020-01-20</span></h3> -->
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" style=" font-size: 14px;line-height: 23px;" [innerHTML]="dataDefault.content | safe:html">

	</div>
	<div class="modal-footer">

		<button type="button" class="btn btn-secondary"
			(click)="c('Close click')">{{'COMMON.ACTIONS.CLOSE' | translate}}</button>
	</div>
</ng-template>